<form ng-submit="addCampaign()"
      name="campaignForm">
    <div class="modal-body">
        <div class="well">
            <h3>Create a campaign</h3>
            <p>
                Please fill out the following fields to create a new Campaign
            </p>
            <div class="form-group">
                <label for="title">Campaign Title*</label>
                <input type="text"
                       class="form-control"
                       id="title"
                       name="title"
                       ng-model="campaign.title"
                       ng-required="true"
                       ng-minlength="campaignConfig.title.min_length"
                       ng-maxlength="campaignConfig.title.max_length"
                       ng-trim="true"
                       autofocus />
                <div class="col-sm-12 help-block"
                     ng-show="campaignForm.title.$error.minlength">
                    Title too short, minimum length {{::campaignConfig.title.min_length}}.
                </div>
                <div class="col-sm-12 help-block"
                     ng-show="campaignForm.title.$error.maxlength">
                    Title too long, maximum length {{::campaignConfig.title.max_length}}.
                </div>
            </div>
            <div class="form-group">
                <!--suppress XmlInvalidId -->
                <label for="customers"
                       class="capitalize">{{::catotheme.customer}}*</label>
                <condensed-customer-filter set-customer="setCustomer(customer)"
                                           required
                                           placeholder="'to create a campaign'"></condensed-customer-filter>
            </div>
            <div ng-if="campaignTemplates"
                 class="form-group"
                 cg-busy="{promise: campaignTemplates.$promise, message: 'Loading Campaign Templates'}">
                <label for="campaign_templates">Campaign Template</label>
                <select class="form-control"
                        name="campaign_templates"
                        id="campaign_templates"
                        ng-change="campaignTemplateChanged();"
                        ng-model="campaign.campaign_template"
                        ng-options="ct.id as ct.title for ct in campaignTemplates | orderBy:'title'">
                    <option value=""></option>
                </select>
            </div>

            <div class="form-group"
                 cg-busy="{promise: appliances.$promise, message: 'Loading Appliances'}">
                <label for="appliance">Appliance</label>
                <select class="form-control"
                        name="appliance"
                        id="appliance"
                        ng-model="campaign.appliance"
                        ng-options="appliance.id as appliance.name for appliance in gdata.appliancesByCustomer[campaign.customer] | filter:{verified:true, retired:false} | orderBy:'name'">
                    <option value=""></option>
                </select>
            </div>

            <div class="form-group">
                <label for="targets">Target</label>
                <select class="form-control"
                        id="targets"
                        name="targets"
                        multiple
                        ng-model="campaign.selected_targets"
                        ng-options="target.id as target.value for target in targets[campaign.customer] | filter:templateTargetFilter | applianceZoneOrExternal:campaign.appliance | orderBy:'value'">
                </select>
            </div>

            <div class="form-group">
                <label for="metatargets">MetaTarget</label>
                <select class="form-control"
                        id="metatargets"
                        name="metatargets"
                        multiple
                        ng-model="campaign.selected_metatargets"
                        ng-options="metatarget.id as (metatarget.name + ' (' + metatarget.targets.length + ')') for metatarget in metatargets[campaign.customer] | filter:templateTargetFilter | applianceZoneOrExternal:campaign.appliance | orderBy:'name'">
                </select>
            </div>
        </div>
    </div>
    <footer class="modal-footer"
            cg-busy="data.campaignSubmission">
        <button class="btn btn-danger"
                ng-click="$cancel()"
                type="reset">Cancel</button>
        <button ng-disabled="campaignForm.$invalid"
                class="btn btn-default"
                type="submit">
            Add Campaign
        </button>
    </footer>
</form>