<h2 mat-dialog-title>Preferences</h2>
<mat-dialog-content>
    <mat-slide-toggle [(ngModel)]="isAliasShown" (change)="updatePreference()">Show Target Alias</mat-slide-toggle>
</mat-dialog-content>
<mat-dialog-actions class="flex align-end">
    <button mat-stroked-button mat-dialog-close cdkFocusInitial>Done</button>
</mat-dialog-actions>

