@import (reference) "../../../less/cato/colors.less";

:host
{
    display: block;
    height: 100%;
    width: 100%
}

:host ::ng-deep
{
    .mat-step-label
    {
        min-width: 30px;
        padding-top: 8px !important;
    }

    .mat-step-header .mat-step-icon:not(.mat-step-icon-selected):not(.mat-step-icon-state-done):not(.mat-step-icon-state-edit):not(.mat-step-icon-state-error) {
        background-color: @color-ltr-gray;
    }


    .mat-horizontal-stepper-header-container
    {
        flex-wrap: wrap;
        padding: 12px;
    }

    .mat-stepper-label-position-bottom
    {
        .mat-horizontal-stepper-header
        {
            padding: 8px 2px 2px;
        }

        .mat-stepper-horizontal-line
        {
            top: 20px;
            min-width: 6px;
        }
    }

    .mat-radio-outer-circle
    {
        border-color: @color-lt-gray;
    }


    mat-horizontal-stepper
    {
        height: calc(100% - 26px);  // Domain heading is 26px tall

        .mat-horizontal-content-container
        {
            height: 100%;
            padding: 0;  // We already have plenty padding from the tab, no need to add 24px more
        }

        .mat-horizontal-stepper-content:not([aria-expanded=false])
        {
            height: 100%;
        }
    }

    file-upload
    {
        label.dropzone
        {
            min-height: 106px !important;  //@override
        }
    }
}

h2 {
    margin-top: 0;
}

mat-radio-group
{
    display: block;
    margin-bottom: 1.5rem;

    .mat-radio-button.ml-16
    {
        margin-left: 16px;
    }
}

file-upload
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 7.5px;
}


.no-overflow
{
    overflow: hidden;
}
.vscroll
{
    overflow-y: auto;
    //margin-right: -10px;
    //padding-right: 10px;
}


.width-25
{
    width: 25%;
}
.width-50
{
    width: 50%;
}
.width-75
{
    width: 75%;
}

mat-sidenav textarea {
    resize: none;
}

.proof-container {
    padding: 15px 15px 0;
}

.mat-drawer-container, .form-control[readonly] {
    background-color: @p-color-bg-highlight;
}


.button-pan
{
    margin-top: 10px;
    padding-top: 10px;
}
