<loading-content #spinner class="full-height">
    <h2 style="margin-top: 0; margin-bottom: 0; font-weight: bold">
        {{ sectionIdentifier }}
    </h2>
    <mat-horizontal-stepper #stepper [linear]="false" labelPosition="bottom" (selectionChange)="selectionChanged($event)" class="flex flex-column">
        <div *ngFor="let page of pages; index as i" class="full-height">
            <mat-step [editable]="true" class="full-height">
                <form [formGroup]="forms[page.id]" class="flex flex-column full-height">
                    <div class="flex flex-row">
                        <h2 class="flex-grow">{{ page.identifier }}</h2>
                        <div class="ml15">
                            <i
                                class="fa fa-exclamation-triangle text-warning"
                                *ngIf="answerCounts[page.id].passing !== answerCounts[page.id].total"
                            ></i>
                            <i class="fa fa-check green-txt" *ngIf="answerCounts[page.id].passing === answerCounts[page.id].total"></i>
                            <span [matTooltip]="'Passing: ' + answerCounts[page.id].passing">
                                {{ answerCounts[page.id].answered }}
                            </span>
                            /
                            {{ answerCounts[page.id].total }}
                            Answered
                        </div>
                        <div class="ml15">
                            <span *ngIf="!practiceResponseMap[page.id].hasProof">
                                <i class="fa fa-exclamation-triangle text-warning"></i>
                                Proof Needed
                            </span>
                            <span *ngIf="practiceResponseMap[page.id].hasProof">
                                <i class="fa fa-check green-txt"></i>
                                Proof Added
                            </span>
                        </div>
                    </div>
                    <div class="flex flex-row">
                        <h3 class="flex-grow mr15">{{ page.value }}</h3>
                        <button mat-icon-button (click)="sidenav.toggle()" matTooltip="View and Edit Proof"><i class="fa fa-bars"></i></button>
                    </div>
                    <mat-divider></mat-divider>

                    <mat-sidenav-container class="flex-grow">
                        <mat-sidenav #sidenav mode="side" position="end" [(opened)]="opened">
                            <div class="proof-container flex flex-column vscroll full-height">
                                <div class="flex flex-row space-between pb10">
                                    <div class="text-center mr10">
                                        <button mat-flat-button color="accent" (click)="chooseEvidence(practiceResponseMap[page.id])">
                                            Add Evidence
                                        </button>
                                    </div>
                                    <button mat-stroked-button color="accent" (click)="clear(practiceResponseMap[page.id])">
                                        <span class="fa fa-trash"></span> Clear
                                    </button>
                                </div>
                                <div class="pb10" *ngIf="practiceResponseMap[page.id].evidence.length">
                                    {{ practiceResponseMap[page.id].evidence.length }} file(s) added
                                </div>

                                <div class="flex-grow">
                                    <textarea
                                        class="form-control full-width"
                                        style="height: 100%"
                                        [formControlName]="page.id + 'comments'"
                                        (click)="openJustification(page)"
                                        readonly
                                    ></textarea>
                                </div>
                            </div>
                        </mat-sidenav>

                        <mat-sidenav-content>
                            <div class="flex-grow vscroll p15">
                                <div *ngFor="let question of getQuestions(page.id)" class="flex flex-row mb10">
                                    <div class="flex flex-column flex-grow">
                                        <h4>{{ question.value }}</h4>
                                        <div class="flex flex-row">
                                            <mat-radio-group
                                                [formControlName]="question.id"
                                                class="flex flex-row flex-grow"
                                                aria-label="Select an option"
                                            >
                                                <mat-radio-button class="ml-16" value="YES">Yes</mat-radio-button>
                                                <mat-radio-button class="ml-16" value="NO">No</mat-radio-button>
                                                <mat-radio-button class="ml-16" value="N/A">N/A</mat-radio-button>
                                            </mat-radio-group>
                                            <button mat-stroked-button color="accent" (click)="clearQuestion(question)">
                                                <span class="fa fa-trash"></span> Clear
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-sidenav-content>
                    </mat-sidenav-container>

                    <div class="button-pan">
                        <button class="mr10" mat-flat-button color="accent" matStepperPrevious *ngIf="i">Back</button>
                        <button mat-flat-button color="accent" matStepperNext>Next</button>
                        <button mat-flat-button color="accent" (click)="exit()" class="pull-right">Exit</button>
                    </div>
                </form>
            </mat-step>
        </div>

        <mat-step state="last" [completed]="true" [editable]="false" label="Done" class="full-height">
            <div class="flex flex-column full-height">
                <div class="flex-grow">
                    You have completed the section.
                </div>

                <div class="button-pan">
                    <button mat-flat-button color="accent" matStepperPrevious>Back</button>
                    <button mat-flat-button color="accent" (click)="exit()" style="float: right">Exit</button>
                </div>
            </div>
        </mat-step>

        <ng-template matStepperIcon="edit" let-index="index">
            <span class="fa fa-edit" *ngIf="!pageComplete(index)"></span>
            <span class="fa fa-check" *ngIf="pageComplete(index)"></span>
        </ng-template>
        <ng-template matStepperIcon="done"><span class="fa fa-check-square-o"></span></ng-template>
    </mat-horizontal-stepper>
</loading-content>
