<div class="col-sm-12">
    <p>At this time, Google Authenticator is our officially supported two-factor authentication app.</p>
    <p>Links to install the Google Authenticator on your mobile device are provided below:</p>
    <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en"
       title="Google Play Logo"
       target="_blank">
        <img src="../../../img/google_play_store_link.png"
             target="_blank"
             uib-tooltip="Download Google Authenticator from the Play Store">
    </a>
    <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8"
       title="App Store Logo"
       target="_blank">
        <img src="../../../img/apple_store_link.png"
             uib-tooltip="Download Google Authenticator from the App Store">
    </a>
    </br>
    <p>Other mobile applications that support time-based one-time password (TOTP) authentication can also be used.</p>
    <!--<p style="padding-bottom: 1ex"></p>-->
    <hr size="5">
</div>