<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <h4 class="modal-title">Two-Factor Security</h4>
    </div>
    <form name="twofactorverifyform"
          class="form-horizontal"
          ng-submit="verifyToken()">
        <div class="modal-body">
            <div class="panel-body">
                <p ng-if="device">
                    It looks like you already have a 2FA device <em ng-bind="device.name"></em>, but it has not been
                    confirmed.
                    Enter the token from it below to confirm it, or <a ng-click="deleteDevice()">click here</a> if you
                    want to delete this device and register a new one.
                </p>

                <div class="row"
                     ng-if="needsDevice">
                    If you have not set up a Two-Factor Authentication device yet,
                    <a href
                       ng-click="setup2FA()">CLICK HERE</a> to register a device.
                    <!--<p style="padding-bottom: 1ex"></p>-->
                    <hr size="5">
                    <div ng-include="'/app/common/twofactor/mobileAppLinks.html'"></div>
                </div>
                <div class="row"
                     ng-if="errorMsg">
                    <div uib-alert class="alert-danger">{{errorMsg}}</div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="verificationToken">
                        Token
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input class="form-control"
                                   name="otp_token"
                                   id="verificationToken"
                                   type="number"
                                   maxlength="6"
                                   minlength="6"
                                   required
                                   ng-model="otp_token">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="submit"
                    class="btn btn-primary formSubmit"
                    ng-disabled="twofactorverifyform.$invalid">Submit</button>
        </div>
    </form>
</div>