<!-- services modal fpo -->
<div class="inmodal"
     id="registerTwoFactorDeviceWizard"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true"
                ng-if="!device.confirmed">&times;</button>
        <h3 class="modal-title">Register a Secondary Authentication Device</h3>
    </div>
    <!-- /modal-header -->
    <multi-step-container steps="steps"
                          on-cancel="cancel()"
                          on-finish="finish()">
        <header class="text-center">
            <strong>Step {{$getActiveIndex()}} / {{$getSteps().length}}</strong>
        </header>
        <main step-container></main>
    </multi-step-container>
</div>