<!-- This view will list all Campaigns, what operations are under them, and what tasks are under those operations, and
     it will show you via icons which things are there automatically and which are manually created.
     It will also allow you to create a new campaign by selecting a customer from one drop-down and a service from another.
-->

<ui-view></ui-view>
<table class="table noborder">
    <tr>
        <td>
            <a ui-sref=".addCampaign()"
               class="green-txt pull-right mt5 mr15"><i aria-hidden="true"
                   class="fa fa-plus"></i> Create a Campaign</a>
            <h3>CAMPAIGNS</h3>
        </td>
    </tr>
</table>

<mat-card ng-class="'box'">
    <div cg-busy="{promise: data.campaigns.$promise, message: 'Loading Campaigns'}">
        <div class="table-responsive">
            <table ng-table="campaignTable"
                   class="table table-striped"
                   id="campaigns-table">
                <tbody>
                    <tr ng-repeat="campaign in $data track by campaign.id"
                        ng-class="{'inactive': campaign.stopped}">
                        <td data-title="catotheme.customerUppercase"
                            filter="{customerName: 'text'}"
                            sortable="'customerName'">
                            <span ng-bind="gdata.customerMap[campaign.customer].name"></span>
                        </td>
                        <td data-title="'CAMPAIGN TITLE'"
                            filter="{title: 'text'}"
                            sortable="'title'"
                            class="force-wrap">
                            <button ng-if="gdata.isMissionDirector || (isOperator && user.level >= MAXIMUM_OPERATOR_LEVEL)"
                                    class="button btn-small btn-white mr10 orange"
                                    uib-tooltip="{{campaign.state}}"
                                    ng-click="automationButtonClicked(campaign)">
                                <!-- TODO: Retrieve and display number of operations in different states in tooltip again-->
                                <a href="#">
                                    <i class="fa" ng-class="stateIcons[campaign.state]"></i>
                                </a>
                            </button>
                            <span ng-bind="campaign.title"></span>
                        </td>
                        <td data-title="'OPERATIONS'"
                            sortable="'operations_count'"
                            class="center-align table-col-with-info-btn">
                            <div>
                                <a ng-bind="campaign.operations_count"
                                   uib-tooltip="View operations"
                                   ui-sref="cato.loggedIn.dashboard.operations.optable({campaign: campaign.id})"></a>
                                <span class="btn btn-white table-number-info-btn"
                                      ng-if="campaign.operations_count || 0"
                                      uib-tooltip="Operation Quick-view"
                                      uib-popover-template="'/app/md/campaigns/operationStatusTable.html'"
                                      popover-title="{{campaign.operations_state_title}}"
                                      popover-trigger="'none'"
                                      popover-is-open="campaign.popoverIsOpen"
                                      popover-placement="left"
                                      ng-click="toggleOperationQuickView(campaign)">
                                    <i class="fa fa-info-circle"></i>
                                </span>
                            </div>
                        </td>
                        <td data-title="'FINDINGS'"
                            sortable="'findings_count'"
                            class="center-align">
                            <span ng-bind="campaign.findings_count || 0"></span>
                        </td>
                        <td data-title="'ACTIONS'">
                            <actions actions="actions"
                                     target="campaign">
                            </actions>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</mat-card>



<script type="text/ng-template"
        id="filter/selectname.html">
    <!-- ng-table loads a default value with title that is "", we filter that out -->
    <select ng-options="data.name as data.name for data in $selectData"
            ng-table-select-filter-ds="$column"
            ng-disabled="$filterRow.disabled"
            ng-model="params.filter()[name]"
            class="filter filter-select form-control" name="{{name}}">
        <option value=""></option>
    </select>
</script>
<script type="text/ng-template"
        id="filter/boolean.html">
    <select ng-table-select-filter-ds="$column"
            ng-disabled="$filterRow.disabled"
            ng-model="params.filter()[name]"
            class="filter filter-select form-control" name="{{name}}">
        <option value=""></option>
        <option value="true">true</option>
        <option value="false">false</option>
    </select>
</script>