<!-- services modal fpo -->
<div class="inmodal"
     id="addCampaignWizard">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true">&times;</button>
        <span>
            <span class="pull-left">
                <h3 class="modal-title">ADD A CAMPAIGN</h3>
            </span>
            <span class="pull-right">
                <view-roe customer-id="campaign.customer"
                          roe-id="gdata.customerMap[campaign.customer].current_rules_of_engagement"
                          header="true"></view-roe>
            </span>
        </span>
    </div>
    <!-- /modal-header -->
    <multi-step-container steps="steps"
                          on-cancel="$dismiss()"
                          on-finish="$close()">
        <header class="text-center">
            <!--<strong>Step {{$getActiveIndex()}} / {{$getSteps().length}}</strong>-->
        </header>
        <main step-container></main>
    </multi-step-container>
</div>