<h2 *ngIf="title" mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
    <p [innerHTML]="message"></p>
</mat-dialog-content>
<mat-dialog-actions class="flex center">
    <button class="btn btn-primary mr5" cdkFocusInitial [mat-dialog-close]="true">{{ okButtonText }}</button>
    <button *ngIf="cancelBtnText" class="btn btn-default" [mat-dialog-close]="false" tabindex="-1">{{ cancelBtnText }}</button>
</mat-dialog-actions>