@import (reference) "~bootstrap/less/variables";

:host ::ng-deep {
    .graph-widget-body > .graph-widget-body {
        height: 100%;
        width: 100%;

        & > div {
            height: 100%;
            width: 100%;
        }

        .no-data {
            font-size: 2.5em;
        }
    }

    .reset-link {
        position: absolute;
        top: 0;
        right: 3em;
    }

    .info-icon {
        color: @text-muted;
        position: absolute;
        top: 5px;
        right: 0.5em;
        cursor: help;
    }
}
