<cato-widget #spinner (close)="hideWidget()">
    <ng-container widget-header>
        <div class="widget-title">
            {{widget.title}}
        </div>

        <a class="btn btn-xs btn-link reset-link"
           (click)="resetFilters()"
           *ngIf="showReset"
           role="button">Reset Filters
        </a>

        <i class="fa fa-info-circle info-icon" [matTooltip]="widget.description"></i>
    </ng-container>

    <ng-container widget-body>
        <div #widgetContainer class="graph-widget-body p5">
            <div #widgetGraph [hidden]="!size"></div>
            <div *ngIf="!size" class="flex center full-height full-width no-data">
                No Data to Show
            </div>
        </div>
    </ng-container>
</cato-widget>
