:host
{
    display: block;
    height: 100%;
    width: 100%;
}

.table-wrapper
{
    position: relative;
    height: 100%;
    min-height: 150px;
    width: 100%;
    min-width: 500px;
}

.table-wrapper-inner
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.width-100
{
    width: 100%;
}
