
<div class="table-wrapper">
    <div class="table-wrapper-inner">
        <ag-grid-angular class="ag-theme-balham full-height width-100"
                         [rowData]="rowData"
                         [gridOptions]="options"
                         (gridReady)="onReady($event)">
        </ag-grid-angular>
    </div>
</div>
