<div class="row">
    <div class="col-md-6">
        <div class="ibox-content vpadding0">
            <h2 class="vpadding0 vmargin0">Targets</h2>
        </div>
        <!-- /ibox-content -->
    </div>
    <!-- /col-md-10 -->
</div>


<div class="row">
    <div class="col-md-12">
        <div class="ibox col-md-12 vmargin0"
             id="targetsTableWrapper">

            <div class="ibox-content vpadding0"
                 id="staticHeightContentTargets">
                <h3>Next you must define which targets {{::$ctrl.catotheme.appName}} will focus on.</h3>
                <h3>If you aren't sure what to enter, just click Next. You may use the {{::$ctrl.catotheme.appName}} website at a later date to
                    define targets.</h3>
                <p><i class="fa fa-exclamation-triangle"></i> If you would like {{::$ctrl.catotheme.appName}} to operate on a block of IP
                    addresses in the same subnet, please supply this in the form of a CIDR block (e.g. 192.168.0.0/24).
                </p>
                <p><i class="fa fa-exclamation-triangle"></i> We are not permitted to conduct operations against targets
                    that do not legally belong to you.</p>
                <div class="text-center mb15">
                    <a id="addEditTargetBtn"
                       ng-click="$ctrl.openAddEditModal()"
                       class="btn btn-primary pull-left mt5 mr15"><i aria-hidden="true"
                           class="fa fa-plus"></i>&nbsp;Add a Target</a>
                </div>
                <!-- <div class="text-center pull-right mb15" style="margin-right: 5em">
                    <a ng-disabled="$ctrl.data.selectedTargets.length === 0" id="removeTargetsBtn" ng-click="$ctrl.removeTargets()" class="btn btn-primary"><i
                            aria-hidden="true" class="fa fa-ban"></i>&nbsp;Remove Selected Targets</a>
                </div> -->
            </div>
            <div class="ibox-content vpadding0 col-md-12">

                <div cg-busy="{promise: $ctrl.targetTable._catoPromise, message: 'Loading Targets'}">
                    <div ng-hide="$ctrl.targetTable.settings().$loading" class="table_layout">
                        <table ng-table="$ctrl.targetTable"
                               class="table table-striped table-scroll"
                               show-filter="true"
                               id="targetsTable">
                            <thead>
                                <tr>
                                    <!-- <th>
                                        <input type="checkbox" class="center" ng-click="$ctrl.selectAllTargets()"
                                            ng-model="$ctrl.data.allTargetsSelected" style="margin-right: 8px !important">
                                    </th> -->
                                    <th class="col-sm-3">Value</th>
                                    <th class="col-sm-3">Zone</th>
                                    <th class="col-sm-2">Type</th>
                                    <th class="col-sm-3">Tags</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr ng-repeat="target in $data" ng-class="{'inactive': !target.active}" class="show-selection"
                                    selection-model selection-model-mode="'multiple-additive'" selection-model-type="'checkbox'"
                                    selection-model-selected-items="$ctrl.data.selectedTargets"
                                    selection-model-cleanup-strategy="'deselect'" selection-model-ignore="false"
                                    selection-model-on-change="checkCanBeSelected(target)"> -->
                                <tr ng-repeat="target in $data"
                                    ng-class="{'inactive': !target.active}"
                                    class="show-selection">
                                    <!-- <td>
                                        <input type="checkbox" ng-disabled="target.locked" />
                                    </td> -->
                                    <td data-title="'TARGET'"
                                        filter="{value__icontains: 'text'}"
                                        sortable="'value'"
                                        class="force-wrap col-sm-3"
                                        header-title="'This is the actual target value. It is used directly in operations.'">
                                        <target-display ng-if="!gdata.isOperator" [target]="target"></target-display>
                                        <a ng-if="gdata.isOperator"
                                           selection-model-ignore
                                           ui-sref=".targetDetails({id: target.id})">
                                                <target-display [target]="target"></target-display>
                                        </a>
                                    </td>
                                    <td data-title="'ZONE'"
                                        filter="{zone__name__icontains: 'text'}"
                                        sortable="'zone'"
                                        class="col-sm-3 force-wrap">
                                        <span ng-bind="$ctrl.gdata.targetZoneMap[target.zone].name"></span>
                                    </td>
                                    <td data-title="'TYPE'"
                                        filter="{type: 'select'}"
                                        filter-data="types"
                                        sortable="'type'"
                                        class="force-wrap col-sm-2"
                                        header-title="'This is the type of the target. It is used to determine what types of operations are available and for filtering purposes. There are multiple target types that are abstract (person, company, etc.) which used only in intelligence gathering operations.'">
                                        <span ng-bind="target.type"></span>
                                    </td>
                                    <td data-title="'TAGS'"
                                        filter="{tags: 'tag'}"
                                        filter-data="tagFilterData"
                                        class="force-wrap col-sm-3"
                                        header-title="'Tags can be assigned to targets'">
                                        <tag-viewer tags="target.tags"></tag-viewer>
                                    </td>
                                    <td class="txt-right nobreak">
                                        <!-- TODO: filter locked targets? -->
                                        <div class="buttons"
                                             selection-model-ignore>
                                            <!-- Disabled buttons can't have tooltips -->
                                            <button class="btn btn-white"
                                                    ng-if="!target.locked"
                                                    ng-click="$ctrl.openAddEditModal(target)"
                                                    uib-tooltip="Edit target"
                                                    value="{{target.id}}">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <!-- We might want these in the future -->
                                            <!-- <button class="btn btn-white" ng-if="!target.locked && target.active"
                                                ng-click="deactivateTarget(target)" uib-tooltip="Deactivate">
                                                <i class="fa fa-times"></i>
                                            </button>
                                            <button class="btn btn-white" ng-if="!target.locked && !target.active"
                                                ng-click="activateTarget(target)" uib-tooltip="Activate">
                                                <i class="fa fa-power-off"></i>
                                            </button>
                                            <i class="fa fa-trash" style="padding: 6px 14px;" aria-hidden="true" ng-if="gdata.isOperator && target.locked"
                                                uib-tooltip="Cannot delete a locked target">
                                            </i>
                                            <button class="btn btn-white ml5" ng-if="gdata.isOperator && !target.locked"
                                                uib-tooltip="Delete" ng-click="deleteSpecificTarget(target)">
                                                <i class="fa fa-trash"></i>
                                            </button> -->
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- /ibox-content -->
        </div>
        <!-- /ibox float-e-margins -->
    </div>
    <!-- /col-md-6 -->
</div>
<!-- /row -->
<back-and-next></back-and-next>