<ui-view></ui-view>

<table class="table noborder">
    <tr>
        <td class="col-sm-12">
            <h3>FEEDBACK</h3>
            <!--
            <condensed-customer-filter set-customer="loadFeedback(customer)"
                             placeholder="'to view associated feedback'"></condensed-customer-filter>
-->
        </td>
    </tr>
</table>

<div active="0"
     interval="0"
     no-wrap="true"
     cg-busy="{promise: requestsLoading, message: 'Loading Requests'}">
    <div class="table-responsive">
        <table class="table table-striped"
               id="feedback-table">
            <thead>
                <tr>
                    <th>EMAIL</th>
                    <th>NAME</th>
                    <th>MESSAGE</th>
                    <th>ADDED</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in data.requests track by request.id">
                    <td align="left"
                        ng-bind="request.email"></td>
                    <td align="left"
                        ng-bind="request.first_name + ' ' + request.last_name"></td>
                    <td align="left"
                        ng-bind="request.message"></td>
                    <td align="left">
                        <span uib-tooltip="{{request.added | amUtc | amLocal | amDateFormat:'lll'}}"
                              am-time-ago="request.added">
                        </span>
                    </td>
                    <td class="txt-right nobreak">
                        <button class="btn btn-white pull-right ml5"
                                uib-tooltip="Send Custom Reply"
                                tooltip-placement="top"
                                type="button"
                                onclick="alert('TODO: actually handle send custom reply')"><i aria-hidden="true"
                                class="fa fa-pencil-square-o"></i></button>
                        <button class="btn btn-white pull-right ml5"
                                uib-tooltip="Send Automated Reply"
                                tooltip-placement="top"
                                type="button"
                                onclick="alert('TODO: actually handle send automated reply')"><i aria-hidden="true"
                                class="fa fa-share-square-o"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>