<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <h3 class="modal-title text-uppercase">{{::catotheme.appName}} FEEDBACK</h3>
    </div>
    <!-- /modal-header -->

    <form ng-submit="sendFeedback()"
          name="catofeedbackform"
          id="catofeedbackform"
          class="form-horizontal">
        <div class="modal-body">
            <div class="form-group">
                <label>From:</label>
                <span ng-bind="user.first_name"></span> <span ng-bind="user.last_name"></span> (<span
                      ng-bind="user.username"></span>)
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control"
                          rows="5"
                          id="message"
                          name="message"
                          ng-model="message"
                          ng-minlength="config.message.min_length || 3"
                          ng-maxlength="config.message.max_length || 2048"></textarea>
                <div class="help-block"
                     ng-show="catofeedbackform.message.$error.minlength">
                    Feedback too short, minimum length <span ng-bind="config.message.min_length"></span>.
                </div>
                <div class="help-block"
                     ng-show="catofeedbackform.message.$error.maxlength">
                    Feedback too long, maximum length <span ng-bind="config.message.max_length"></span>.
                </div>
            </div>

        </div>
        <!-- /modal-body -->

        <div class="modal-footer">
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="cancel()">Cancel</button>
                <button type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="catofeedbackform.$invalid">Submit</button>
            </div>
        </div>
        <!-- /modal-footer -->
    </form>
</div>