<ui-view></ui-view>

<table class="table noborder">
    <tr>
        <td class="col-sm-6"
            ng-if="$ctrl.gdata.isOperator">
            <div class="label-white">
                <condensed-customer-filter set-customer="$ctrl.setCustomer(customer)"
                                           placeholder="'to view associated access groups'"></condensed-customer-filter>
            </div>
        </td>
        <td class="col-sm-5 left-align">
            <div class="search-form mt0 collapse in filterForm">
                <input type="text"
                       class="form-control"
                       placeholder="Search Access Groups"
                       ng-model="$ctrl.searchGroups">
            </div>
        </td>
        <!-- This td is needed to space the columns when in customer mode. -->
        <td class="col-sm-6"
            ng-if="!$ctrl.gdata.isOperator"></td>
        <td class="col-sm-1"
            style="min-width: 9em"
            ng-if="$ctrl.user.pocs.length > 0 || $ctrl.isOperator">
            <a ng-click="$ctrl.accessGroupActions.editGroup.action()"
               class="green-txt pull-right mt5 mr15">
                <i aria-hidden="true"
                   class="fa fa-plus"></i> Add a Group
            </a>
        </td>
    </tr>
</table>

<div>
    <table class="table table-striped"
           id="access-groups-table">
        <thead>
            <tr>
                <th class="text-uppercase left-align"
                    ng-if="$ctrl.gdata.isOperator">
                    <a href="#"
                       ng-click="$ctrl.sortType = 'customer'; $ctrl.sortReverse = !$ctrl.sortReverse">
                        <span ng-show="$ctrl.sortType == 'customer' && !$ctrl.sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="$ctrl.sortType == 'customer' && $ctrl.sortReverse"
                              class="fa fa-caret-up"></span>
                        {{::$ctrl.catotheme.customer}}
                    </a>
                </th>
                <th class="left-align col-sm-3">
                    <a href="#"
                       ng-click="$ctrl.sortType = 'name'; $ctrl.sortReverse = !$ctrl.sortReverse">
                        <span ng-show="$ctrl.sortType == 'name' && !$ctrl.sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="$ctrl.sortType == 'name' && $ctrl.sortReverse"
                              class="fa fa-caret-up"></span>
                        NAME
                    </a>
                </th>
                <th class="center-align col-sm-3">
                    ACTIONS
                </th>
            </tr>
        </thead>

        <tbody>
            <tr
                ng-repeat="group in $ctrl.accessGroups | filter:{customer: $ctrl.customer}:true | filter:{name: $ctrl.searchGroups} | orderBy:$ctrl.getSortValue($ctrl.sortType):$ctrl.sortReverse">
                <td class="left-align"
                    ng-if="$ctrl.gdata.isOperator">
                    <span ng-bind="$ctrl.gdata.customerMap[group.customer].name"></span>
                </td>
                <td class="force-wrap col-md-3 left-align"
                    ng-bind="group.name"></td>
                <td class="nobreak center-align  col-sm-3">
                    <div class="btn-group">
                        <span class="btn btn-white"
                              uib-tooltip="Members Quick-view"
                              uib-popover-template="'/app/accessGroups/membersQuickView.html'"
                              popover-title="Members in Access Group"
                              popover-trigger="'none'"
                              popover-is-open="$ctrl.extraData(group).userPopoverIsOpen"
                              popover-placement="left"
                              ng-click="$ctrl.toggleUserQuickView(group)">
                            <i class="fa fa-bullseye"></i>
                        </span>
                        <actions actions="$ctrl.accessGroupActions"
                                 class="pull-right"
                                 target="group">
                        </actions>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>