<div class="quick-view-table-popover"
     cg-busy="$ctrl.extraData(group).resource.$promise">
    <table ng-table="$ctrl.getUsersTable(group)"
           class="table table-striped table-sm"
           id="groups-users-table">
        <tbody>
            <tr ng-repeat="user in $ctrl.extraData(group).usersTable._params.dataset">
                <td data-title="'USERNAME'"
                    filter="{name: 'text'}"
                    sortable="'name'"
                    class="force-wrap">
                    <span ng-bind="user.username"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>