<div class="inmodal"
     cg-busy="$ctrl.submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$ctrl.dismiss('cancel')"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title uppercase"
            ng-bind="$ctrl.modalTitle"></h3>
    </div>

    <form ng-submit="$ctrl.saveGroup()"
          id="catoManageGroupForm"
          name="catoManageGroupForm"
          class="form-horizontal"
          autocomplete="off">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-2 control-label"
                       for="name">
                    Name*
                </label>
                <div class="col-sm-10">
                    <input name="name"
                           id="name"
                           class="form-control"
                           type="text"
                           required
                           placeholder="Group Name"
                           ng-model="$ctrl.group.name"
                           ng-minlength="0" />
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoManageGroupForm.name.$error.minlength">
                    Name too short, minimum length <span ng-bind="$ctrl.config.name.min_length"></span>.
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoManageGroupForm.name.$error.maxlength">
                    Name too long, maximum length <span ng-bind="$ctrl.config.name.max_length"></span>.
                </div>
            </div>

            <div class="form-group"
                 ng-if="false">
                <label class="col-sm-2 control-label"
                       for="short_name">
                    Short Name
                </label>
                <div class="col-sm-10">
                    <input name="short_name"
                           id="short_name"
                           class="form-control"
                           type="text"
                           placeholder="Group Short Name"
                           ng-model="$ctrl.group.short_name"
                           ng-minlength="0" />
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoManageGroupForm.short_name.$error.maxlength">
                    Name too long, maximum length <span ng-bind="$ctrl.config.short_name.max_length"></span>.
                </div>
            </div>

            <div class="form-group"
                 ng-if="$ctrl.isOperator">
                <label class="col-sm-2 control-label capitalize"
                       ng-attr-for="customer">
                    {{::$ctrl.catotheme.customer}}*
                </label>
                <div class="col-sm-10">
                    <condensed-customer-filter set-customer="$ctrl.setCustomer(customer)"
                                               initial-customer="$ctrl.group.customer"
                                               placeholder="'to create a group'"
                                               required
                                               cato-ng-disabled="$ctrl.group.id"
                                               no-monitor-global></condensed-customer-filter>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"
                       for="targets">
                    Targets
                </label>
                <div ng-show="!$ctrl.group.customer && ctrl.isOperator"
                     class="col-sm-11 col-sm-offset-1">
                    Select a customer to manage included targets.
                </div>

                <dual-pane-multi-select class="col-sm-11 col-sm-offset-1"
                                        ng-model="$ctrl.group.targets"
                                        available-objs="$ctrl.targets"
                                        objs-name="targets"
                                        group-by="obj.active?'Active':'Inactive'"
                                        order-by="['-active','value']"
                                        label-attribute="value"></dual-pane-multi-select>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"
                       for="users">
                    Users
                </label>
                <div>
                    <table>
                        <tr ng-repeat="permission in $ctrl.group.permissions"
                            class="row">
                            <td>
                                <label> <i ng-click="$ctrl.removePermission(permission)"
                                       class="fa fa-times-circle"
                                       uib-tooltip="Remove user"></i>
                                    <span style="cursor: pointer;"
                                          ng-click="$ctrl.addEditPermission(permission)">{{ $ctrl.gdata.userMap[permission.user].username }}</span></label>
                            </td>
                        </tr>
                    </table>
                    <a type="button"
                       class="btn btn-primary col-sm-offset-1"
                       ng-click="$ctrl.addEditPermission()">Add Permission</a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left col-lg-6 col-xs-12 text-left">
                <div uib-alert class="alert-small alert-success"
                           ng-if="$ctrl.message"
                           close="$ctrl.message=''"
                           dismiss-on-timeout="5000">{{$ctrl.message}}</div>
            </div>
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="$ctrl.dismiss('cancel')">Cancel</button>
                <button id="manage_groups_form_submit"
                        type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="catoManageGroupForm.$invalid">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>