<!-- services modal fpo -->
<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title"
            ng-show="mode === 'new'">ADD USER PERMISSION</h3>
        <h3 class="modal-title"
            ng-show="mode !== 'new'">EDIT USER PERMISSION</h3>
    </div>
    <!-- /modal-header -->

    <form name="permissionform"
          ng-submit="addPermission()"
          id="permissionform"
          class="form-horizontal"
          method="post">
        <div class="modal-body">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        User*
                    </label>
                    <div class="col-sm-8">
                        <select class="form-control"
                                id="user"
                                name="user"
                                ng-disabled="permission.mode !== 'new'"
                                ng-required="true"
                                ng-model="permission.user"
                                ng-options="user.username for user in userObjs">
                        </select>
                    </div>
                </div>

                <div class="form-group"
                     ng-if="false">
                    <label class="col-sm-4 control-label">
                        Read
                    </label>
                    <div class="col-sm-8">
                        <input type="checkbox"
                               name="read"
                               ng-model="permission.read">
                    </div>
                </div>

                <div class="form-group"
                     ng-if="false">
                    <label class="col-sm-4 control-label">
                        Write
                    </label>
                    <div class="col-sm-8">
                        <input type="checkbox"
                               name="write"
                               ng-model="permission.write">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="modal-footer">
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="cancel()">Cancel</button>
                <button type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="permissionform.$invalid">Submit</button>
            </div>
        </div>
    </form>
</div>