<div>
    <div class="col-md-12">
        <div cg-busy="submission">

            <div id="PoCDescription"
                 style="padding-bottom: 2em">
                <h3>{{::$ctrl.catotheme.appCompany}} requires at least one point of contact (PoC) within the customer
                    organization in the event that we need to reach you. {{::$ctrl.catotheme.appCompany}} also designates
                    an internal PoC whom you may contact as needed.
                </h3>
                <h3>Please select who will serve as your primary point of contact, and supply
                    his/her contact details below.
                </h3>
            </div>

            <div class="col-md-12"
                 id="PoCInfo">
                <form name="catopocform"
                      ng-submit="$ctrl.updateProfile()"
                      id="catopocform"
                      class="form-horizontal"
                      method="post">
                    <fieldset>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">
                                    Point of Contact
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control"
                                            id="poc"
                                            name="poc"
                                            ng-model="$ctrl.poc"
                                            ng-options="poc as (poc.type+': ' + $ctrl.gdata.userMap[poc.user].userInfo) for poc in $ctrl.pocs | orderBy:['type', 'user']"
                                            ng-change="$ctrl.loadPoC()"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label required">
                                    Phone
                                </label>
                                <div class="col-sm-8">
                                    <input class="form-control"
                                           id="phonenumber"
                                           name="phonenumber"
                                           required
                                           ng-model="$ctrl.poc.phonenumber.value"
                                           ng-disabled="!$ctrl.poc"
                                           ng-blur="$ctrl.submitPhone()" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label required">
                                    Email Address
                                </label>
                                <div class="col-sm-8">
                                    <input class="form-control"
                                           id="email"
                                           name="email"
                                           required
                                           ng-disabled="!$ctrl.poc"
                                           ng-model="$ctrl.poc.email.value"
                                           ng-blur="$ctrl.submitEmail()" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<back-and-next submit="$ctrl.submitPrimary()"
               next-enabled="$ctrl.formValid()"
               reset-page="$ctrl.resetPage()"></back-and-next>
