<div id="interactiveRoE"
     cg-busy="$ctrl.cgBusy.roeBusy">
    <div class="row">
        <div class="col-sm-12 section-hdr drk-gray-bg">
            <div class="text-center section-title">Welcome To {{::$ctrl.catotheme.appName}}!</div>
        </div>
    </div>
    <!-- /row -->


    <div id="wizardContainer">
        <wizard on-finish="finishedWizard()"
                on-cancel="cancelledWizard()"
                style="height: 100%;">

            <wz-step wz-title="Start"
                     canenter="$ctrl.enterValidation">
                <start class="roeComp"
                       change-page="$ctrl.changePage"></start>
            </wz-step>
            <wz-step wz-title="EULA"
                     canenter="$ctrl.enterValidation">
                <eula class="roeComp"
                      roe="$ctrl.roe"
                      change-page="$ctrl.changePage"></eula>
            </wz-step>
            <wz-step wz-title="Period Of Performance"
                     canenter="$ctrl.enterValidation">
                <period-Of-Performance class="roeComp"
                                       roe="$ctrl.roe"
                                       change-page="$ctrl.changePage"></period-Of-Performance>
            </wz-step>
            <wz-step wz-title="Point of Contact"
                     canenter="$ctrl.enterValidation">
                <pocs class="roeComp"
                      roe="$ctrl.roe"
                      change-page="$ctrl.changePage"></pocs>
            </wz-step>
            <wz-step wz-title="Company Profile"
                     canenter="$ctrl.enterValidation">
                <company-profile class="roeComp"
                                 roe="$ctrl.roe"
                                 change-page="$ctrl.changePage"></company-profile>
            </wz-step>
            <wz-step wz-title="Targets"
                     canenter="$ctrl.enterValidation"
                     wz-disabled="{{$ctrl.isCmmc}}">
                <targets class="roeComp"
                         roe="$ctrl.roe"
                         change-page="$ctrl.changePage"></targets>
            </wz-step>
            <wz-step wz-title="Services"
                     canenter="$ctrl.enterValidation"
                     wz-disabled="{{$ctrl.isCmmc}}">
                <services class="roeComp"
                          roe="$ctrl.roe"
                          change-page="$ctrl.changePage"></services>
            </wz-step>
            <wz-step wz-title="Restrictions"
                     canenter="$ctrl.enterValidation"
                     wz-disabled="{{$ctrl.isCmmc}}">
                <restrictions class="roeComp"
                              roe="$ctrl.roe"
                              change-page="$ctrl.changePage"></restrictions>
            </wz-step>
            <wz-step wz-title="Approval"
                     canenter="$ctrl.enterValidation">
                <approval class="roeComp"
                          roe="$ctrl.roe"
                          change-page="$ctrl.changePage"
                          prev-page="$ctrl.prevPage()"
                          cg-busy="$ctrl.cgBusy"></approval>
            </wz-step>
            <wz-step wz-title="Finish">
                <finishpage class="roeComp"
                            roe="$ctrl.roe"
                            change-page="$ctrl.changePage"></finishpage>
            </wz-step>
        </wizard>
    </div>
</div>