<div id="portsChartWidget"
     class="minw155 graph-widget-container">

    <div class="minw155 graph-widget-header">
        <div class="gridster-item-drag"></div>
    </div>

    <div class="graph-widget-body graph-widget-container">
        <div class="title center-align">
            <h2>Domains by Zone</h2>
        </div>

        <div id="portsChart" class="graph-widget-body">
            <nvd3 options="$ctrl.chartOptions"
                  data="$ctrl.domainChartData"
                  on-ready="$ctrl.chartReadyCallback.bind($ctrl)">
            </nvd3>
        </div>
    </div>
</div>
