<loading-content #spinner>
    <mat-form-field>
        <mat-label>Choose a date to view historic stats</mat-label>
        <input matInput
               [formControl]="historyDate"
               [matDatepickerFilter]="availableHistoryDateFilter"
               [max]="maxHistoryDate"
               [min]="minHistoryDate"
               [matDatepicker]="historyDatePicker"
               (dateChange)="dateSelected()">
        <mat-datepicker-toggle matSuffix [for]="historyDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #historyDatePicker></mat-datepicker>
        <mat-error *ngIf="historyDate.touched && historyDate.invalid">
            <span *ngIf="historyDate.errors.matDatepickerParse">Entered date is not valid. {{validDateFormatMessage}}</span>
            <span *ngIf="!historyDate.errors.matDatepickerParse">There is no history entry for {{historyDate.value?.format('l') || 'the entered date'}}.</span>
        </mat-error>
    </mat-form-field>
    <button mat-icon-button class="no-shrink" (click)="historyDatePicker.select(null)">
        <span class="fa fa-times-circle text-muted" matTooltip="Clear date to view current stats"></span>
    </button>
</loading-content>