<loading-content #spinner>
    <div class="flex flex-row">
        <form [formGroup]="multiselects" class="flex flex-row flex-grow flex-wrap">
            <div *ngFor="let datum of data" class="filter flex flex-row flex-grow">
                <div class="flex flex-grow">
                    <mat-form-field class="full-width">
                        <mat-select [formControlName]="datum.name+pickerSuffix" [placeholder]="datum.placeholder" [matTooltip]="datum.placeholder" [multiple]="true" #multiSelect>
                            <ngx-mat-select-search [formControlName]="datum.name+filterSuffix" placeholderLabel="Search" noEntriesFoundLabel="No Matches Found">
                                <span class="fa fa-close" ngxMatSelectSearchClear matTooltip="Clear Search"></span>
                            </ngx-mat-select-search>
                            <mat-option *ngFor="let kvh of datum.subject | async" [value]="kvh.key">
                                <span [innerHTML]="kvh.html || kvh.key"></span>
                            </mat-option>
                        </mat-select>    
                    </mat-form-field>
                </div>

                <button mat-icon-button class="no-shrink" (click)="clearFilters(datum.dimService)">
                    <span class="fa fa-times-circle text-muted" matTooltip="Clear Filter"></span>
                </button>
            </div>
        </form>
        
        <div class="flex flex-column no-shrink">
            <button mat-icon-button (click)="saveFilters()" [disabled]="!activeFilters.size" matTooltip="Save Filters">
                <span class="fa fa-save"></span>
            </button>
            <button mat-icon-button (click)="loadFilters()" matTooltip="Load Filters">
                <span class="fa fa-folder-open-o"></span>
            </button>
        </div>
    </div>
</loading-content>
