<div class="inmodal" id="tools-modal">
    <div class="modal-header">
        <h3 class="modal-title">TOOLS</h3>
    </div>
    
    <mat-tab-group active="active" class="modal-body">
        <mat-tab index="0" label="Encode/Decode">
            <base-64-component></base-64-component>
        </mat-tab>
        <mat-tab index="1" label="CIDR Blocks">
            <cidr-component></cidr-component>
        </mat-tab>
        <mat-tab index="2" label="Hex Viewer">
            <hex-component></hex-component>
        </mat-tab>
    </mat-tab-group>

    <div class="modal-footer">
        <div class="form-actions pull-right">
            <button type="reset"
                    class="btn btn-default"
                    (click)="close()">
                Close
            </button>
        </div>
    </div>
</div>
