
<h2 mat-dialog-title>Save Filters</h2>

<loading-content #spinner>
    <div class="flex flex-column">
        <form class="form-horizontal flex-grow" #nameForm="ngForm">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="searchName">
                    Name
                </label>
                <div class="col-sm-9">
                    <input type="text"
                        placeholder="Name"
                        class="form-control"
                        id="searchName"
                        name="searchName"
                        required
                        [(ngModel)]="searchName"
                        #nameControl="ngModel">
                </div>
            </div>

            <div class="col-sm-9 col-sm-push-3 help-block error" *ngIf="nameControl.touched && nameControl.invalid">
                <div *ngIf="nameControl.errors.required">
                    Name is required
                </div>
            </div>
        </form>

        <div class="flex flex-row">
            <button class="btn btn-white mr5" mat-dialog-close>Cancel</button>

            <!-- spacer -->
            <span class="flex-grow"></span>

            <button class="btn btn-white flex-grow ml5 mr5" (click)="save(searchName)" [disabled]="currentIndex==null || !nameForm.form.valid">
                Update
            </button>
            <button class="btn btn-primary flex-grow ml5" (click)="saveAs(searchName)" [disabled]="!nameForm.form.valid">
                Save As New
            </button>
        </div>
    </div>
</loading-content>
    
