<div class="inmodal"
     cg-busy="$ctrl.submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$ctrl.dismiss('cancel')"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title uppercase"
            ng-bind="$ctrl.modalTitle"></h3>
    </div>

    <form ng-submit="$ctrl.saveZone()"
          id="catoManageZoneForm"
          name="catoManageZoneForm"
          class="form-horizontal"
          autocomplete="off">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-2 control-label"
                       for="name">
                    Name*
                </label>
                <div class="col-sm-10">
                    <input name="name"
                           id="name"
                           class="form-control"
                           type="text"
                           required
                           placeholder="Zone Name"
                           ng-model="$ctrl.zone.name"
                           ng-minlength="$ctrl.config.name.min_length"
                           ng-maxlength="$ctrl.config.name.max_length" />
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoManageZoneForm.name.$error.minlength">
                    Name too short, minimum length <span ng-bind="$ctrl.config.name.min_length"></span>.
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoManageZoneForm.name.$error.maxlength">
                    Name too long, maximum length <span ng-bind="$ctrl.config.name.max_length"></span>.
                </div>
            </div>

            <div class="form-group"
                 ng-if="$ctrl.isOperator">
                <label class="col-sm-2 control-label capitalize"
                       ng-attr-for="customer">
                    {{::$ctrl.catotheme.customer}}*
                </label>
                <div class="col-sm-10">
                    <condensed-customer-filter set-customer="$ctrl.setCustomer(customer)"
                                               initial-customer="$ctrl.zone.customer"
                                               placeholder="'to create a zone'"
                                               required
                                               cato-ng-disabled="$ctrl.zone.id"
                                               no-monitor-global></condensed-customer-filter>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left col-lg-6 col-xs-12 text-left">
                <div uib-alert class="alert-small alert-success"
                           ng-if="$ctrl.message"
                           close="$ctrl.message=''"
                           dismiss-on-timeout="5000">{{$ctrl.message}}</div>
            </div>
            <div class="form-actions pull-right">
                <div class="add-another"
                     ng-if="!$ctrl.zone.id">
                    <input id="addAnother"
                           type="checkbox"
                           ng-model="$ctrl.addAnother">
                    <label for="addAnother"
                           class="control-label">Add another</label>
                </div>
                <button type="reset"
                        class="btn"
                        ng-click="$ctrl.dismiss('cancel')">Cancel</button>
                <button id="manage_zones_form_submit"
                        type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="catoManageZoneForm.$invalid">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>