<div class="quick-view-table-popover"
     cg-busy="$ctrl.extraData(zone).resource.$promise">
    <table ng-table="$ctrl.extraData(zone).targetsTable"
           class="table table-striped table-sm"
           id="zones-targets-table">
        <tbody>
            <tr ng-repeat="target in $data track by target.id"
                ng-class="{'inactive': !target.active}">
                <td data-title="'NAME'"
                    filter="{name: 'text'}"
                    sortable="'name'"
                    class="force-wrap">
                    <target-icon type="target.type"
                                 class="mr5"></target-icon>
                    <span ng-if="target.name"
                          ng-bind="target.name"></span>
                </td>
                <td data-title="'TYPE'"
                    filter="{type: 'select'}"
                    filter-data="$ctrl.targetTypes"
                    sortable="'type'"
                    header-title="'This is the type of the target. It is used to determine what types of operations are available and for filtering purposes. There are multiple target types that are abstract (person, company, etc.) which used only in intelligence gathering operations.'">
                    <span ng-bind="target.type"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>