<ui-view></ui-view>

<table class="table noborder">
    <tr>
        <td class="col-sm-6"
            ng-if="$ctrl.gdata.isOperator">
            <div class="label-white">
                <condensed-customer-filter set-customer="$ctrl.setCustomer(customer)"
                                           placeholder="'to view associated zones'"></condensed-customer-filter>
            </div>
        </td>
        <td class="col-sm-5 left-align">
            <div class="search-form mt0 collapse in filterForm">
                <input type="text"
                       class="form-control"
                       placeholder="Search Zones"
                       ng-model="$ctrl.searchZones">
            </div>
        </td>
        <!-- This td is needed to space the columns when in customer mode. -->
        <td class="col-sm-6"
            ng-if="!$ctrl.gdata.isOperator"></td>
        <td class="col-sm-1"
            style="min-width: 9em"
            ng-if="$ctrl.gdata.isMissionDirector">
            <a ng-click="$ctrl.targetZoneActions.editZone.action()"
               class="green-txt pull-right mt5 mr15">
                <i aria-hidden="true"
                   class="fa fa-plus"></i> Add a Zone
            </a>
        </td>
    </tr>
</table>

<div>
    <!-- Commented out this div for now, not sure if it will be restored later -->
    <!-- <div class="table-responsive"> -->
    <table class="table table-striped"
           id="target-zone-table">

        <thead>
            <tr>
                <th class="text-uppercase left-align"
                    ng-if="$ctrl.gdata.isOperator">
                    <a href="#"
                       ng-click="$ctrl.sortType = 'customer'; $ctrl.sortReverse = !$ctrl.sortReverse">
                        <span ng-show="$ctrl.sortType == 'customer' && !$ctrl.sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="$ctrl.sortType == 'customer' && $ctrl.sortReverse"
                              class="fa fa-caret-up"></span>
                        {{::$ctrl.catotheme.customer}}
                    </a>
                </th>
                <th class="left-align col-sm-3">
                    <a href="#"
                       ng-click="$ctrl.sortType = 'name'; $ctrl.sortReverse = !$ctrl.sortReverse">
                        <span ng-show="$ctrl.sortType == 'name' && !$ctrl.sortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="$ctrl.sortType == 'name' && $ctrl.sortReverse"
                              class="fa fa-caret-up"></span>
                        NAME
                    </a>
                </th>
                <th class="center-align col-sm-3">
                    ACTIONS
                </th>
            </tr>
        </thead>

        <tbody>
            <tr
                ng-repeat="zone in $ctrl.gdata.targetZones | filter:{customer: $ctrl.customer}:true | filter:{name: $ctrl.searchZones} | orderBy:$ctrl.getSortValue($ctrl.sortType):$ctrl.sortReverse">
                <td class="left-align"
                    ng-if="$ctrl.gdata.isOperator">
                    <span ng-bind="$ctrl.gdata.customerMap[zone.customer].name"></span>
                </td>
                <td class="force-wrap col-md-3 left-align"
                    ng-bind="zone.name"></td>
                <td class="nobreak center-align  col-sm-3">
                    <div class="btn-group">
                        <span class="btn btn-white"
                              uib-tooltip="Targets Quick-view"
                              uib-popover-template="'/app/targetZones/targetsMetaTargetsQuickView.html'"
                              popover-title="Targets in Zone"
                              popover-trigger="'none'"
                              popover-is-open="$ctrl.extraData(zone).targetPopoverIsOpen"
                              popover-placement="left"
                              ng-click="$ctrl.toggleTargetQuickView(zone)">
                            <i class="fa fa-bullseye"></i>
                        </span>
                        <span class="btn btn-white"
                              uib-tooltip="MetaTargets Quick-view"
                              uib-popover-template="'/app/targetZones/targetsMetaTargetsQuickView.html'"
                              popover-title="MetaTargets in Zone"
                              popover-trigger="'none'"
                              popover-is-open="$ctrl.extraData(zone).metaTargetPopoverIsOpen"
                              popover-placement="left"
                              ng-click="$ctrl.toggleMetaTargetQuickView(zone)"
                              ng-if="$ctrl.gdata.isOperator">
                            <i class="fa fa-cubes"></i>
                        </span>
                        <actions actions="$ctrl.targetZoneActions"
                                 class="pull-right"
                                 target="zone">
                        </actions>
                    </div>
                </td>
            </tr>
        </tbody>
    </table><!-- end of target-zone-table -->
    <!-- </div> -->
</div>