<div class="modal-header">
    <h3 class="modal-title"
        ng-bind="title"></h3>
</div>
<div class="modal-body">
    <div ng-bind-html="message"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="ok()">OK</button>
</div>