<div class="modal-header">
    <h3 class="modal-title"
        ng-bind="title"></h3>
</div>
<div class="modal-body">
    <h3 class="text-success"
        name="deleteModalMsg"
        style="text-align:center;">Are you sure you want to delete <span ng-bind-html="message"></span>?</h3>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="yes()">YES</button>
    <button class="btn btn-primary"
            ng-click="cancel()">CANCEL</button>
</div>