<div class="modal-header">
    <button type="button"
            class="close"
            ng-click="$close()"
            aria-hidden="true">&times;</button>
    <h3 class="modal-title"
        ng-bind="title"></h3>
</div>
<div class="modal-body">
    <h3 class="text-danger pre-wrap"
        name="errorModalMsg"
        style="text-align:center;"
        ng-bind-html="message"></h3>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="ok()">OK</button>
</div>