<div class="error-box text-center animated fadeInDown black-semi-bg">
    <h1 class="text-center white-txt">404</h1>
    <h3 class="font-bold white-txt">Page Not Found</h3>

    <div class="error-desc white-txt">
        Sorry, but the page you are looking for has note been found. Please try checking the URL for an error, then hit
        the refresh button on your browser or try to find something else in our app.
        <form class="form-inline m-t"
              role="form">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Search in {{::catotheme.appName}}">
            </div>
            <button type="submit"
                    class="btn btn-primary">Search</button>
        </form>
    </div>
</div>