<div class="error-box text-center animated fadeInDown black-semi-bg">
    <h1 class="white-txt">500</h1>
    <h3 class="font-bold white-txt">Internal Server Error</h3>

    <div class="error-desc white-txt">
        We apologize, but the server encountered something unexpected that didn't allow it to complete the
        request.<br />
        <br /><a href="index.html"
           class="btn btn-primary m-t">Back to Dashboard</a> <a href="logout.html"
           class="btn btn-default m-t">Logout</a>
    </div>
</div>