<div class="centered-overlay">
    <div class="centered-overlay-container">
        <div class="passwordBox animated fadeInDown black-semi-bg">
            <div class="row">

                <div class="col-md-12">

                    <h2 class="font-bold white-txt"
                        ng-bind="logoutMessage"></h2>
                    <p class="h4 white-txt"
                       ng-if="logoutSubMessage"
                       ng-bind="logoutSubMessage"></p>

                    <p class="white-txt">We hope you enjoyed using {{::catotheme.appName}}. See you soon.</p>
                    <p class="white-txt">If logging out wasn't intentional, you can <a ui-sref="cato.login">log in here</a>.</p>

                </div>
            </div>
            <hr />
            <div ng-include="'/app/common/boilerplate/catoInfo.html'"></div>
        </div>
    </div>
</div>