<div class="modal-header">
    <h3 class="modal-title"
        ng-bind="title"></h3>
</div>
<div class="modal-body">
    <h3 class="text-success"
        name="successModalMsg"
        style="text-align:center;"
        ng-bind-html="message"></h3>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="ok()">OK</button>
</div>