<div class="modal-header">
        <h3 class="modal-title"
            ng-bind="title"></h3>
</div>
<div class="modal-body">
        <h3 class="text-success"
            style="text-align:center;"><span ng-bind-html="::message"></span></h3>
</div>
<div class="modal-footer">
        <button class="btn btn-danger"
                ng-click="yes()">YES</button>
        <button class="btn btn-primary"
                ng-click="no()">NO</button>
        <button class="btn btn-basic"
                ng-click="cancel()">CANCEL</button>
</div>