<ui-view></ui-view>

<table class="table noborder">
    <tr>
        <td class="col-sm-6">
            <div class="search-form mt0 collapse in filterForm">
                <div class="input-group mb10">
                    <input type="text"
                           class="form-control"
                           placeholder="Search Rules"
                           ng-model="searchRules">
                </div>
            </div>
        </td>
        <td class="col-sm-6">
            <a ng-click="$ctrl.editRule()"
               class="green-txt pull-right mt5 mr15">
                <i aria-hidden="true"
                   class="fa fa-plus"></i> Add a Rule
            </a>
        </td>
    </tr>
</table>

<div cg-busy="{promise: $ctrl.rules.$promise, message: 'Loading Auto-Schedule Rules'}">
    <div>
        <table class="table"
               id="auto-schedule-rule-table">
            <thead>
                <tr id="sortabletitlerow">
                    <th>NAME</th>
                    <th class="center-align">TYPE</th>
                    <th>CPE</th>
                    <th>TARGET/METATARGET</th>
                    <th class="center-align">INTERVAL</th>
                    <th class="center-align">ACTIONS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="rule in $ctrl.rules | filter:searchRules track by rule.id">
                <tr ng-class="{'inactive': rule.expired}">
                    <td class="force-wrap"
                        ng-bind="rule.name || 'NONE'"></td>
                    <td class="center-align">
                        <target-icon ng-if="rule.target_type"
                                     type="rule.target_type"></target-icon>
                    </td>
                    <td class="force-wrap">
                        <div ng-if="rule.cpe">
                            <div ng-bind="rule.cpe_match_method"></div>
                            <div ng-bind="rule.cpe"></div>
                        </div>
                    </td>
                    <td class="force-wrap">
                        <span ng-if="rule.target">
                            <target-icon type="rule.target.type"
                                         class="mr10"></target-icon>
                            <span ng-noclick="openTargetDetails({id: rule.target.id})"
                                  ng-bind="rule.target.value">
                            </span>
                        </span>
                        <span ng-if="rule.metatarget">
                            <target-icon type="'metatarget'"></target-icon>
                            <target-icon type="rule.metatarget.type"
                                         class="mr10"></target-icon>
                            <span ng-noclick="openTargetDetails({id: rule.target.id})"
                                  ng-bind="rule.metatarget.name">
                            </span>
                        </span>
                    </td>
                    <td ng-bind="rule.interval"
                        class="center-align"></td>
                    <td class="nobreak right-align">
                        <actions actions="$ctrl.actions"
                                 target="rule">
                        </actions>
    </div>
    </td>
    <td class="center-align">
        <user-icon user="rule.author"></user-icon>
    </td>
    </tr>
    </tbody>
    </table><!-- end of auto-schedule-rule-table -->
</div>
</div>