<div class="inmodal"
     cg-busy="$ctrl.submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$ctrl.cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title"
            ng-bind="$ctrl.modalTitle"></h3>
    </div>
    <!-- /modal-header -->

    <form ng-submit="$ctrl.addOrUpdateRule()"
          name="ruleform"
          id="ruleform"
          class="form-horizontal"
          method="post">
        <div class="modal-body"
             cg-busy="{promise: $ctrl.campaigns.$promise, message: 'Loading'}">
            <div class="form-group">
                <div class="mb10"
                     ng-if="$ctrl.new">Provide the following information to create a new rule.</div>
                <label class="col-sm-3 control-label capitalize"
                       for="customer">
                    {{::$ctrl.catotheme.customer}}
                </label>
                <div class="col-sm-9">
                    <input name="customer"
                           id="customer"
                           type="text"
                           class="form-control"
                           placeholder="Please type {{::$ctrl.aAn($ctrl.catotheme.customer)}} {{::$ctrl.catotheme.customer}} name to proceed."
                           ng-model="$ctrl.customer_name"
                           autocomplete="off"
                           uib-typeahead="customer.name for customer in $ctrl.gdata.customers | filter:$viewValue | limitTo:12"
                           typeahead-on-select="$ctrl.customerChanged($item)"
                           typeahead-select-on-blur="true"
                           typeahead-min-length="0">
                </div>
            </div>

            <fieldset ng-cloak
                      ng-show="$ctrl.customer">
                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="ruleName">
                        Name
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               type="text"
                               id="ruleName"
                               name="ruleName"
                               ng-maxlength="$ctrl.config.name.max_length"
                               ng-model="$ctrl.rule.name">
                    </div>
                    <div class="col-sm-offset-3 col-sm-9 help-block"
                         ng-show="ruleform.ruleName.$error.maxlength">
                        Value too long, maximum length {{::$ctrl.config.name.max_length}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="campaign">
                        Campaign*
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control"
                                id="campaign"
                                name="campaign"
                                required
                                ng-model="$ctrl.rule.campaign"
                                ng-change="$ctrl.campaignChanged()"
                                ng-options="c.title for c in $ctrl.campaigns | filter:{customer:$ctrl.customer.id}:true | orderBy:'title' track by c.id">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="type">
                        Target Type
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control"
                                id="type"
                                name="type"
                                ng-model="$ctrl.rule.target_type"
                                ng-change="$ctrl.generateRuleName()"
                                ng-options="t.value as t.display_name for t in $ctrl.config.target_type.choices | orderBy:'display_name'">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="template">
                        Operation Template*
                        <i class="fa fa-info-circle"
                           uib-tooltip-html="$ctrl.templateKeyTooltip"></i>
                    </label>
                    <div class="col-sm-9"
                         cg-busy="{promise: $ctrl.operationTemplates.$promise, message: 'Loading Operation Templates'}">
                        <select class="form-control"
                                id="template"
                                name="template"
                                required
                                ng-model="$ctrl.rule.template"
                                ng-change="$ctrl.generateRuleName()"
                                ng-options="t.displayName group by t.service.name
                                            disable when t.state !== 'active'
                                            for t in
                                            $ctrl.operationTemplateTypeMap[$ctrl.rule.target_type || $ctrl.selected_target_type] |
                                            orderBy:['service.name','displayName']
                                            track by t.id">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="cpe">
                        CPE
                    </label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input class="form-control"
                                   name="cpe"
                                   id="cpe"
                                   type="text"
                                   ng-disabled="$ctrl.rule.target || $ctrl.rule.metatarget"
                                   ng-model="$ctrl.rule.cpe"
                                   ng-change="$ctrl.generateRuleName()"
                                   uib-typeahead="cpe.name for cpe in ($ctrl.rule.cpe_match_method != 'regex' ? $ctrl.cpeOptions : []) | filter:$viewValue | limitTo:12"
                                   typeahead-on-select="$ctrl.generateRuleName()"
                                   typeahead-wait-ms="100"
                                   autocomplete="off">
                            <span class="input-group-addon"
                                  ng-click="$ctrl.rule.cpe=''"><i class="fa fa-times-circle-o lt-gray-txt"
                                   aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-offset-3 col-sm-9 mt5"
                         cg-busy="[$ctrl.targetsForPreview]">
                        <i class="fa fa-windows fa-2x fa-fw"
                           uib-tooltip="Quick set the CPE to Windows"
                           style="cursor: pointer;"
                           ng-click="$ctrl.rule.cpe='cpe:/o:microsoft:windows:-';"
                           tooltip-placement="left"
                           aria-hidden="true"></i>
                        <i class="fa fa-linux fa-2x fa-fw"
                           uib-tooltip="Quick set the CPE to Linux"
                           style="cursor: pointer;"
                           ng-click="$ctrl.rule.cpe='cpe:/o:linux:kernel:2.6.0';"
                           tooltip-placement="left"
                           aria-hidden="true"></i>
                        <span class="fa-stack fa-fw"
                              style="top: -4px; cursor: pointer; margin-left: 3px; margin-right: 7px;"
                              uib-tooltip="Quick set the CPE to OS X"
                              ng-click="$ctrl.rule.cpe='cpe:/o:apple:mac_os_x:10.6.0';"
                              tooltip-placement="left">
                            <i class="fa fa-desktop fa-stack-2x"
                               aria-hidden="true"></i>
                            <i class="fa fa-apple fa-stack-1x"
                               style="top: -4px; left: 1px;"
                               aria-hidden="true"></i>
                        </span>
                        |
                        <i class="fa fa-android fa-2x fa-fw"
                           uib-tooltip="Quick set the CPE to Android"
                           style="cursor: pointer;"
                           ng-click="$ctrl.rule.cpe='cpe:/o:google:android:-';"
                           tooltip-placement="left"
                           aria-hidden="true"></i>
                        <i class="fa fa-apple fa-2x fa-fw"
                           uib-tooltip="Quick set the CPE to Apple iOS"
                           style="cursor: pointer;"
                           ng-click="$ctrl.rule.cpe='cpe:/o:apple:iphone_os:1.0';"
                           tooltip-placement="left"
                           aria-hidden="true"></i>
                        <button class="btn btn-white pull-right"
                                type="button"
                                ng-click="$ctrl.previewTargets()"
                                ng-disabled="!($ctrl.rule.campaign.customer && $ctrl.rule.cpe)">
                            Preview matched targets
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="cpe_match_method">
                        CPE Match Method
                        <i class="fa fa-info-circle"
                           uib-tooltip="{{::$ctrl.config.cpe_match_method.help_text}}"></i>
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control"
                                id="cpe_match_method"
                                name="cpe_match_method"
                                ng-model="$ctrl.rule.cpe_match_method"
                                ng-options="t.value as t.display_name for t in $ctrl.config.cpe_match_method.choices">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="target">
                        Target
                    </label>
                    <div class="col-sm-9"
                         cg-busy="{promise: $ctrl.mtargetsByCustomer[$ctrl.rule.campaign.customer].targets.$promise, message: 'Loading Targets'}">
                        <select class="form-control"
                                id="target"
                                name="target"
                                ng-disabled="$ctrl.rule.metatarget || $ctrl.rule.cpe"
                                ng-model="$ctrl.rule.target"
                                ng-change="$ctrl.mtargetChanged('target')"
                                ng-options="t.value group by t.type for t in $ctrl.mtargetsByCustomer[$ctrl.rule.campaign.customer].targets | filter:$ctrl.targetFilter | orderBy:'value' track by t.id">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="metatarget">
                        MetaTarget
                    </label>
                    <div class="col-sm-9"
                         cg-busy="{promise: $ctrl.mtargetsByCustomer[$ctrl.rule.campaign.customer].metatargets.$promise, message: 'Loading MetaTargets'}">
                        <select class="form-control"
                                id="metatarget"
                                name="metatarget"
                                ng-disabled="$ctrl.rule.target || $ctrl.rule.cpe"
                                ng-model="$ctrl.rule.metatarget"
                                ng-change="$ctrl.mtargetChanged('metatarget')"
                                ng-options="t.name group by t.type for t in $ctrl.mtargetsByCustomer[$ctrl.rule.campaign.customer].metatargets | filter:$ctrl.targetFilter | orderBy:'name' track by t.id">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="interval">
                        Interval*
                        <i class="fa fa-info-circle"
                           uib-tooltip="{{::$ctrl.config.interval.help_text}}"></i>
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               type="number"
                               id="interval"
                               name="interval"
                               min="0"
                               required
                               ng-model="$ctrl.rule.interval">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="maximum_count">
                        Repeat Count
                        <i class="fa fa-info-circle"
                           uib-tooltip="{{::$ctrl.config.maximum_count.help_text}}"></i>
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               type="number"
                               id="maximum_count"
                               name="maximum_count"
                               min="0"
                               ng-model="$ctrl.rule.maximum_count">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="expired">
                        Expired
                    </label>
                    <div class="col-sm-9 form-control-static">
                        <div class="slider">
                            Active
                            <input type="checkbox"
                                   class="switch"
                                   id="expired"
                                   name="expired"
                                   ng-model="$ctrl.rule.expired">
                            <label for="expired"
                                   class="switch red">Toggle</label>
                            Expired
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <!-- /modal-body -->

        <div class="modal-footer">
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="$ctrl.cancel()">Cancel</button>
                <button type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="ruleform.$invalid">Submit</button>
            </div>
        </div>
        <!-- /modal-footer -->

    </form>
</div>