<div class="inmodal">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$close()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title">Targets for Auto-Schedule Rule {{::$ctrl.rule.name}}</h3>
    </div>
    <!-- /modal-header -->

    <div class="modal-body">
        <div ng-show="$ctrl.targets.length == 0">
            There are currently no targets that match this rule.
        </div>
        <div ng-show="$ctrl.targets.length">
            All matching targets are shown for completeness, but the rule will only run for active targets.
            <div class="list-group">
                <div data-ng-repeat="target in $ctrl.targets track by target.id"
                     ng-class="{disabled:!target.active}"
                     class="list-group-item force-wrap">
                    <target-icon type="target.type"
                                 class="mr10"></target-icon>
                    {{::target.value}}
                </div>
            </div>
        </div>
    </div>
    <!-- /modal-body -->

    <div class="modal-footer">
        <div class="form-actions pull-right">
            <button type="button"
                    class="btn btn-primary"
                    ng-click="$close()">Close</button>
        </div>
    </div>
    <!-- /modal-footer -->

</div>