<ui-view></ui-view>
<div ui-view="addOperation"
     operation-saved="operationSaved"></div>
<!-- for modal sub-states -->

<div cg-busy="{promise: operationsLoading, message: 'Loading Operations'}">
    <div class="row dis-flex mb10 mt10"
         ng-show="gdata.isOperator">
        <div class="col-md-12">
            <!-- <p>Created by Me: approved operations that I created<br />Assigned to Me: my assigned approved operations</p> -->
            <div class="btn-group">
                <label class="btn btn-sm btn-white"
                       ng-model="radioModel"
                       uib-btn-radio="'Recently Started'"
                       ng-click="applyTypesFilter(); orderByField='startedOn'; reverseSort = !reverseSort">Recently
                    Started</label>
                <label class="btn btn-sm btn-white"
                       ng-model="radioModel"
                       uib-btn-radio="'Unassigned'"
                       ng-click="applyTypesFilter()">Unassigned</label>
                <label class="btn btn-sm btn-white"
                       ng-model="radioModel"
                       uib-btn-radio="'Created by Me'"
                       ng-click="applyTypesFilter()">Created by Me</label>
                <label class="btn btn-sm btn-white"
                       ng-model="radioModel"
                       uib-btn-radio="'Assigned to Me'"
                       ng-click="applyTypesFilter()">Assigned to Me</label>
                <label class="btn btn-sm btn-white"
                       ng-model="radioModel"
                       uib-btn-radio="'Submitted by Me'"
                       ng-click="applyTypesFilter()">Submitted by Me</label>
                <label class="btn btn-sm btn-white"
                       ng-model="radioModel"
                       uib-btn-radio="'Completed'"
                       ng-click="applyTypesFilter()">Completed</label>
                <label class="btn btn-sm btn-white"
                       ng-model="radioModel"
                       uib-btn-radio="'Rejected'"
                       ng-click="applyTypesFilter()">Rejected</label>
                <label class="btn btn-sm btn-white"
                       ng-model="radioModel"
                       uib-btn-radio="'All'"
                       ng-click="applyTypesFilter()">All</label>
            </div>
        </div>
    </div>


    <form class="col-xs-12 well"
          ng-submit="applyTypesFilterRetain()"
          ng-show="gdata.isOperator">
        <div class="row">
            <div class="col-md-4 form-group">
                <!--suppress XmlInvalidId -->
                <label class="capitalize"
                       for="customers">{{::catotheme.customer}}</label>
                <condensed-customer-filter set-customer="setCustomer(customer)"
                                           initial-customer="customer"
                                           placeholder="'to see associated operations'"></condensed-customer-filter>
            </div>
            <div class="col-md-4 form-group">
                <label for="operationState">Operation State<span ng-if="opStates.length > 1">s
                        (<span uib-tooltip="{{opStates.join(', ')}}"
                              ng-bind="opStates.length"></span>)
                    </span></label>
                <select class="form-control"
                        placeholder="Operation State"
                        id="operationState"
                        ng-model="operationStateFilters"
                        ng-disabled="opStates.length === 1"
                        ng-options="state as state for state in opStates track by state">
                    <option value="">Choose a State</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label for="service">Service</label>
                <select class="form-control"
                        placeholder="Choose a service"
                        id="service"
                        ng-model="operationFilters.services"
                        ng-change="deleteOpFilterIfEmpty('services')"
                        ng-options="service.short_name as service.name for service in gdata.services | orderBy:'name'">
                    <option value="">Choose a service</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label for="backendsearch">Title and Description Search</label>
                <input type="text"
                       class="form-control input-md"
                       id="backendsearch"
                       name="backendsearch"
                       ng-model="backendsearch"
                       ng-trim="true"
                       placeholder="Search titles and descriptions">
            </div>
            <div class="col-md-4 form-group">
                <label for="appliance">Appliance</label>
                <select class="form-control"
                        placeholder="Choose an Appliance"
                        id="appliance"
                        ng-model="operationFilters.appliance"
                        ng-options="appliance.id as (appliance.name + (appliance.retired ? ' (retired)' : '')) group by gdata.customerMap[appliance.customer].name for appliance in appliances | orderBy:'name' track by appliance.id">
                    <option value="">Choose an Appliance</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label ng-attr-for="target">Target</label>
                <target-value-filter data-id="target"
                                     value-changed="targetValue = value"
                                     type-changed="targetFilterType = type"></target-value-filter>
            </div>
            <div class="col-md-4 form-group">
                <rzslider rz-slider-model="slider.minValue"
                          rz-slider-high="slider.maxValue"
                          rz-slider-options="slider.options"></rzslider>
            </div>
            <!-- TODO: Figure out how to get this button to always be at the bottom edge of the well, but also never overlap form fields -->
            <button id="applyOpsFilters"
                    class="btn btn-sm btn-primary pull-right mr15">Apply Filters to All Ops</button>
        </div>
    </form>

    <div class="pull-left mb10 force-wrap">
        <p ng-if="campaign"
           class="form-control-static">
            Campaign: <span class="bold"
                  ng-bind="campaign.title"></span>
            <span class="btn btn-xs btn-white ml5 mt-4"
                  ng-click="clearCampaignFilter()"><i class="fa fa-close"></i></span>
        </p>
    </div>
    <advanced-pagination ng-show="data.operations.length"
                         total-items="count"
                         current-page="currentPage"
                         items-per-page="itemsPerPage"
                         on-page-change="loadPage(currentPage)"
                         on-page-size-change="setPageSize(size)"
                         class="pull-left mt0 mb10 clear-item"></advanced-pagination>
    <actions ng-if="data.operations.length && !gdata.isCustomer"
             actions="bulkActions"
             class="pull-right mt5"
             disabled="data.selectedOperations.length === 0"
             show-count="true"
             selected="data.selectedOperations.length"
             tooltip-override="'Use control/command and shift to select multiple operations to perform bulk actions'"
             total="data.operations.length"></actions>
    <a ui-sref=".addOperation"
       ng-hide="user.level == 0"
       class="green-txt pull-right mt5 mr15 mb10"><i aria-hidden="true"
           class="fa fa-plus"></i> Add an Operation</a>
    <div ng-show="results.message"
         class="alert fadein fadeout show alert-dismissible"
         ng-class="results.success?'alert-success':'alert-danger'"
         role="alert">
        <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 ng-bind="results.message"></h3>
    </div>
    <div class="table-responsive overflow-visible">
        <table class="table table-striped"
               id="operations">
            <tbody ng-if="operationsLoaded && data.operations.length === 0">
                <tr>
                    <td>
                        Zero
                        <strong class="lowercase"
                                ng-if="gdata.isOperator && radioModel !== 'All'"
                                ng-bind="radioModel"></strong>
                        operations returned.
                        <span ng-if="gdata.isOperator">Alter your search terms/filters to return results.</span>
                    </td>
                </tr>
            </tbody>
            <tbody ng-if="data.operations.length"
                   ng-include="'/app/operation/operationsTab/operationsTableBody.html'"></tbody>
        </table>
    </div>
</div>