<tr id="sortabletitlerow">
    <th ng-if="showActions && gdata.isOperator"">
        <input type="checkbox"
               ng-click="selectAllOperations()"
               ng-model="data.allOperationsSelected">
    </th>
    <th ng-show="gdata.isOperator && !hideOperationCustomer">
        <a ng-click="orderByField='customer.name'; reverseSort = !reverseSort"
           class="uppercase">
            {{::catotheme.customer}}
            <span ng-show="orderByField == 'customer.name'">
                <span ng-show="!reverseSort">
                    <i class="fa fa-caret-up"
                       aria-hidden="true"></i>
                </span>
                <span ng-show="reverseSort">
                    <i class="fa fa-caret-down"
                       aria-hidden="true"></i>
                </span>
            </span>
        </a>
    </th>
    <th>
        <a ng-click="orderByField='description'; reverseSort = !reverseSort">
            OPERATION
            <span ng-show="orderByField == 'description'">
                <span ng-show="!reverseSort">
                    <i class="fa fa-caret-up"
                       aria-hidden="true"></i>
                </span>
                <span ng-show="reverseSort">
                    <i class="fa fa-caret-down"
                       aria-hidden="true"></i>
                </span>
            </span>
        </a>
    </th>
    <th ng-show="gdata.isOperator"
        ng-if="showTargetColumn">
        <a ng-click="orderByField='target.type'; reverseSort = !reverseSort">
            TARGET
            <span ng-show="orderByField == 'target.type'">
                <span ng-show="!reverseSort">
                    <i class="fa fa-caret-up"
                       aria-hidden="true"></i>
                </span>
                <span ng-show="reverseSort">
                    <i class="fa fa-caret-down"
                       aria-hidden="true"></i>
                </span>
            </span>
        </a>
    </th>
    <th>
        <a ng-click="orderByField='serviceName'; reverseSort = !reverseSort">
            SERVICE
            <span ng-show="orderByField == 'serviceName'">
                <span ng-show="!reverseSort">
                    <i class="fa fa-caret-up"
                       aria-hidden="true"></i>
                </span>
                <span ng-show="reverseSort">
                    <i class="fa fa-caret-down"
                       aria-hidden="true"></i>
                </span>
            </span>
        </a>
    </th>
    <th ng-show="gdata.isOperator">
        <a ng-click="orderByField='tasks.length'; reverseSort = !reverseSort">
            TASKS
            <span ng-show="orderByField == 'tasks.length'">
                <span ng-show="!reverseSort">
                    <i class="fa fa-caret-up"
                       aria-hidden="true"></i>
                </span>
                <span ng-show="reverseSort">
                    <i class="fa fa-caret-down"
                       aria-hidden="true"></i>
                </span>
            </span>
        </a>
    </th>
    <th>
        <a ng-click="orderByField='added'; reverseSort = !reverseSort">
            ADDED
            <span ng-show="orderByField == 'added'">
                <span ng-show="!reverseSort">
                    <i class="fa fa-caret-up"
                       aria-hidden="true"></i>
                </span>
                <span ng-show="reverseSort">
                    <i class="fa fa-caret-down"
                       aria-hidden="true"></i>
                </span>
            </span>
        </a>
    </th>
    <th>
        <a ng-click="orderByField='updated'; reverseSort = !reverseSort">
            UPDATED
            <span ng-show="orderByField == 'updated'">
                <span ng-show="!reverseSort">
                    <i class="fa fa-caret-up"
                       aria-hidden="true"></i>
                </span>
                <span ng-show="reverseSort">
                    <i class="fa fa-caret-down"
                       aria-hidden="true"></i>
                </span>
            </span>
        </a>
    </th>
    <th ng-show="radioModel !== 'Unassigned'">
        <a ng-click="orderByField='startedOn'; reverseSort = !reverseSort">
            STARTED
            <span ng-show="orderByField == 'startedOn'">
                <span ng-show="!reverseSort">
                    <i class="fa fa-caret-up"
                       aria-hidden="true"></i>
                </span>
                <span ng-show="reverseSort">
                    <i class="fa fa-caret-down"
                       aria-hidden="true"></i>
                </span>
            </span>
        </a>
    </th>
    <th ng-show="gdata.isOperator">
        <a ng-click="orderByField='requiredLevel'; reverseSort = !reverseSort">
            REQUIRED LEVEL
            <span ng-show="orderByField == 'requiredLevel'">
                <span ng-show="!reverseSort">
                    <i class="fa fa-caret-up"
                       aria-hidden="true"></i>
                </span>
                <span ng-show="reverseSort">
                    <i class="fa fa-caret-down"
                       aria-hidden="true"></i>
                </span>
            </span>
        </a>
    </th>
    <th class="text-center"
        ng-if="showActions && gdata.isOperator">
        <span class="text-white">ACTIONS</span>
    </th>
</tr>
<tr selection-model
    selection-model-mode="'multiple-additive'"
    selection-model-type="'checkbox'"
    selection-model-selected-items="data.selectedOperations"
    selection-model-cleanup-strategy="'deselect'"
    class="show-selection"
    ng-repeat="operation in data.operations | filter:{state: operationState} | filter:searchOperations | orderBy:orderByField:reverseSort">
    <td class="center-align" ng-if="showActions && gdata.isOperator">
        <input type="checkbox">
    </td>
    <td ng-show="gdata.isOperator && !hideOperationCustomer"
        ng-bind="operation.customer.name"></td>
    <td>
        <div>
            <i aria-hidden="true"
               class="fa fa-magic"
               ng-if="(operation.tasks |filter:{process:'automated'}).length > 0"
               tooltip-placement="right"
               uib-tooltip="Contains automated tasks"></i>
            <i aria-hidden="true"
               class="fa fa-wrench"
               ng-if="(operation.tasks |filter:{process:'manual'}).length > 0"
               tooltip-placement="right"
               uib-tooltip="Contains manual tasks"></i>
            <a ui-state="getState()"
               ui-state-params="getParams(operation)"
               uib-popover="{{operation.description}}"
               popover-title="Operation Description:"
               popover-trigger="'mouseenter'"
               popover-placement="top-left">
                <span ng-bind="operation.name"></span>
            </a>
            <uib-progress style="width: 80px"
                          ng-if="gdata.isOperator">
                <uib-bar value="stacked[1].value"
                         max=100
                         class="uppercase progress-bar {{stateClass(operation.state)}}"
                         ng-bind="operation.state">
                </uib-bar>
            </uib-progress>
        </div>
        <div ng-if="viewRejected(operation)"><b>REASONING: {{operation.reasoning}}</b></div>
        <div ng-if="operation.state === 'rejected' && gdata.isMissionDirector"><b>Operator:</b>
            {{getOpUser(operation.startedBy)}}
        </div>
    </td>
    <td ng-show="gdata.isOperator"
        ng-if="showTargetColumn"
        class="force-wrap">
        <span ng-if="operation.target">
            <span tooltip-placement="right">
                <target-display uib-tooltip="{{operation.target.type}}" [target]="operation.target"></target-display>
                <a ng-if="operation.target.locked"
                   ui-sref="cato.loggedIn.operator({operation_id: operation.target.owner})">
                    <i class="fa fa-lock"
                       aria-hidden="true"></i>
                </a>
            </span>
        </span>
        <span ng-if="operation.metatarget">
            <span tooltip-placement="right"
                  class="nowrap">
                <target-icon type="'metatarget'"></target-icon>
                <target-icon type="operation.metatarget.type"
                             class="mr5"></target-icon>
                <span uib-tooltip="{{operation.metatarget.type}}">{{operation.metatarget.name}}
                    ({{operation.metatarget.targets.length}})</span>
                <a ng-if="operation.metatarget.locked"
                   ui-sref="cato.loggedIn.operator({operation_id: operation.metatarget.owner})">
                    <i class="fa fa-lock"
                       aria-hidden="true"></i>
                </a>
            </span>
        </span>
    </td>
    <td ng-bind="gdata.serviceMap[operation.service].name"></td>
    <td ng-show="gdata.isOperator"
        ng-bind="operation.tasks.length"></td>
    <td>
        <span am-time-ago="operation.added"
              ng-bind="operation.added"></span>
    </td>
    <td>
        <span am-time-ago="operation.updated"
              ng-bind="operation.updated"></span>
    </td>
    <td ng-if="radioModel !== 'Unassigned'">
        <span am-time-ago="operation.startedOn"
              ng-bind="operation.startedOn"></span>
    </td>
    <td ng-show="gdata.isOperator"
        class="text-center">
        <span ng-bind="operation.requiredLevel"></span>
    </td>
    <td class="text-center"
        ng-if="showActions && gdata.isOperator">
        <actions actions="actions"
                 target="operation"></actions>
    </td>
</tr>