<mat-card ng-class="'box'" style="min-height: 400px">
    <uib-tabset active="operationActiveTab">
        <uib-tab index="'optable'"
                 heading="OPERATIONS"
                 select="go({stateName:'operations.optable'})">
            <div ui-view="optable"></div>
        </uib-tab>
        <!--<uib-tab index="'calendar'" heading="CALENDAR" select="go({stateName:'operations.calendar'})" ng-if="gdata.isOperator">
            <div ui-view="calendar"></div>
        </uib-tab>-->
        <uib-tab index="'rules'"
                 heading="SCHEDULE RULES"
                 select="go({stateName:'operations.rules'})"
                 ng-if="gdata.isOperator">
            <div ui-view="rules"></div>
        </uib-tab>
    </uib-tabset>
</mat-card>
