@import "../../../less/cato/colors.less";


:host
{
    display: block;
    padding: 5px;
}

:host ::ng-deep
{
    .mat-checkbox-layout
    {
        width: 100%;
        align-items: center;

        .mat-checkbox-inner-container
        {
            margin: 5px;
        }

        .mat-checkbox-label
        {
            display: flex;
            flex: 1 1 auto;
            max-width: calc(100% - 26px);   //checkbox itself is 16px w/ 10px margin
        }
    }
}

::ng-deep
{
    .cdk-overlay-pane.gray-bg > mat-dialog-container
    {
        background-color: @color-sel-gray;
    }
}


.d-inline-block
{
    display: inline-block;
}

.elip
{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex.h-center
{
    align-items: center;

    // &.flex-column
    // {
    //     justify-content: center;
    // }
}

.no-overflow
{
    overflow: hidden;
}
.vscroll
{
    overflow-y: auto;
    margin-right: -10px;
    padding-right: 10px;
}

.width-25
{
    width: 25%;
}
.width-50
{
    width: 50%;
}
.width-75
{
    width: 75%;
}
.width-100
{
    width: 100%;
}



mat-card
{
    margin-bottom: 10px;
}

span.fa
{
    margin-right: 5px;

    &fa-download:hover
    {
        color: @color-base;
    }
}

.row
{
    margin-right: -5px;
    margin-left: -5px;

    > div
    {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.evidence-modal-button
{
    padding: 0;
    line-height: 1em;
}

.scroll-y {
    max-height: 250px;
    overflow-y: auto;
}