<loading-content #spinner style="height: 100%">
    <div class="flex flex-column">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Uploaded Files</mat-card-title>
            </mat-card-header>

            <mat-card-content class="flex flex-grow no-overflow scroll-y">
                <form [formGroup]="forms" class="flex flex-column full-height width-100">
                    <div class="row" formArrayName="evidenceForm">
                        <div *ngFor="let e of evidence; let i=index" class="col-xs-12 col-sm-12 col-lg-6">
                            <mat-checkbox class="flex h-center space-between full-width" color="primary" [formControlName]="i">
                                <div class="flex flex-row h-center full-width">
                                    <span [ngSwitch]="e.type">
                                        <span *ngSwitchCase="DocType.excel" class="fa fa-file-excel-o"></span>
                                        <span *ngSwitchCase="DocType.image" class="fa fa-file-image-o"></span>
                                        <span *ngSwitchCase="DocType.pdf" class="fa fa-file-pdf-o"></span>
                                        <span *ngSwitchCase="DocType.text" class="fa fa-file-text-o"></span>
                                        <span *ngSwitchCase="DocType.word" class="fa fa-file-word-o"></span>
                                        <span *ngSwitchDefault class="fa fa-file-o"></span>
                                    </span>
                                    <span class="flex flex-grow no-overflow" [matTooltip]="e.name">
                                        <div class="elip full-width">{{e.name || "file name"}}</div>
                                    </span>
                                    <button mat-button style="padding: 3px; line-height: 1; min-width: 2em;">
                                        <span (click)="download(e); $event.preventDefault()" class="fa fa-download center"></span>
                                    </button>
                                </div>
                            </mat-checkbox>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Add a New File</mat-card-title>
            </mat-card-header>

            <mat-card-content class="flex flex-column flex-grow no-overflow scroll-y">
                <file-upload class="width-100" [multiple-files]="true" (upload)="uploadFile($event)"></file-upload>

                <form [formGroup]="forms" class="flex flex-column flex-grow">
                    <div class="row" formArrayName="uploadForm">
                        <div *ngFor="let e of uploads; let i=index" class="col-xs-12 col-sm-8 col-lg-6">
                            <mat-checkbox color="primary" [formControlName]="i">
                                <span [ngSwitch]="e.type">
                                    <span *ngSwitchCase="DocType.excel" class="fa fa-file-excel-o"></span>
                                    <span *ngSwitchCase="DocType.image" class="fa fa-file-image-o"></span>
                                    <span *ngSwitchCase="DocType.pdf" class="fa fa-file-pdf-o"></span>
                                    <span *ngSwitchCase="DocType.text" class="fa fa-file-text-o"></span>
                                    <span *ngSwitchCase="DocType.word" class="fa fa-file-word-o"></span>
                                    <span *ngSwitchDefault class="fa fa-file-o"></span>
                                </span>
                                <button mat-button (click)="download(e)" class="evidence-modal-button">
                                    <div class="elip full-width" [matTooltip]="e.name">{{e.name || "file name"}}</div>
                                </button>
                            </mat-checkbox>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

        <div class="button-pan">
            <button class="btn btn-primary pull-right" [mat-dialog-close]="done()" (click)="log(evidenceForm.value)">Done</button>
            <button class="btn pull-right mr10" mat-dialog-close (click)="log(evidenceForm.value)">Cancel</button>
        </div>
    </div>
</loading-content>