<div class="flex flex-column">
    <h3>Justification</h3>

    <textarea
        class="form-control"
        rows="4"
        cdkFocusInitial
        required
        [(ngModel)]="data.justification"
        #name="ngModel"
        placeholder="Explain how you satisfy this practice..."
    >
    </textarea>

    <div class="button-pan">
        <div class="pull-right">
            <button [mat-dialog-close]="undefined" class="mr10 btn btn-white">Cancel</button>
            <button class="btn btn-primary" [mat-dialog-close]="data.justification">Done</button>
        </div>
    </div>
</div>
