<!-- services modal fpo -->
<div class="inmodal"
     id="addOperationTemplateWizard"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title">ADD TEMPLATE and TASKS</h3>
    </div>
    <!-- /modal-header -->
    <multi-step-container steps="steps"
                          on-cancel="$dismiss()"
                          on-finish="$close()">
        <header class="text-center">
            <strong>Step {{$getActiveIndex()}} / {{$getSteps().length}}</strong>
        </header>
        <main step-container></main>
    </multi-step-container>
</div>