<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <h3 class="modal-title"
            ng-bind="title"></h3>
    </div>
    <div class="modal-body">
        <div ng-if="errors.length">
            Errors:
            <ul>
                <li ng-repeat="errmsg in errors track by $index"
                    ng-bind="errmsg"></li>
            </ul>
        </div>
        <div ng-if="logmsgs.length">
            Log messages:
            <ul>
                <li ng-repeat="msg in logmsgs track by $index"
                    ng-bind="msg"></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"
                ng-click="ok()">OK</button>
    </div>

</div>