<div class="inmodal"
     cg-busy="$ctrl.submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$ctrl.cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title"
            ng-bind="$ctrl.modalTitle"></h3>
    </div>
    <!-- /modal-header -->

    <form ng-submit="$ctrl.saveRecommendationTemplate()"
          name="rectemplateform"
          id="rectemplateform"
          class="form-horizontal"
          method="post">
        <div class="modal-body"
             cg-busy="{promise: $ctrl.campaigns.$promise, message: 'Loading'}">
            <div class="form-group">
                <label class="col-sm-3 control-label"
                       for="bodyText">
                    Body Text
                </label>
                <div class="col-sm-9">
                    <input class="form-control"
                           type="text"
                           id="bodyText"
                           name="bodyText"
                           ng-maxlength="$ctrl.config.body_text.max_length"
                           ng-model="$ctrl.recommendationTemplate.body_text">
                </div>
                <div class="col-sm-offset-3 col-sm-9 help-block"
                     ng-show="rectemplateform.bodyText.$error.maxlength">
                    The name is too long, maximum length {{::$ctrl.config.name.max_length}}
                </div>
            </div>

        </div>
        <!-- /modal-body -->

        <div class="modal-footer">
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="$ctrl.cancel()">Cancel</button>
                <button type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="rectemplateform.$invalid">Submit</button>
            </div>
        </div>
        <!-- /modal-footer -->

    </form>
</div>