<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <h4 class="modal-title"
            ng-bind="modalTitle"></h4>
    </div>
    <form name="tasktemplateform"
          class="form"
          ng-submit="saveTaskTemplate()">
        <div class="modal-body">
            <div class="panel-body">
                <div class="form-group">
                    <input type="hidden"
                           ng-model="thisTaskTemplate.order"
                           name="order"
                           id="order"
                           class="form-control"
                           min="0" />
                </div>
                <div class="form-group">
                    <label class="control-label"
                           for="process">Process*</label>
                    <select ng-model="thisTaskTemplate.process"
                            name="process"
                            id="process"
                            class="form-control"
                            required
                            autofocus
                            ng-options="p.value as p.display_name for p in taskConfig.process.choices">
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label"
                           for="application">Application<span
                              ng-show="thisTaskTemplate.process == 'automated'">*</span></label>
                    <i ng-if="thisTaskTemplate.process == 'manual'"
                       class="fa fa-info-circle"
                       uib-tooltip="For manual tasks, set the application to 'N/A' if no tool output is expected. If tool output is expected, but there is no task app to analyze it, set the application to 'other'.  If there is a task app for the tool used for this task, choose that application and select an appropriate workflow."></i>
                    <select ng-model="thisTaskTemplate.application"
                            name="application"
                            id="application"
                            class="form-control"
                            ng-required="thisTaskTemplate.process == 'automated'"
                            ng-options="p.value as p.display_name for p in taskConfig.application.choices">
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label"
                           for="workflow">Workflow<span
                              ng-show="thisTaskTemplate.process == 'automated'">*</span></span></label>
                    <i ng-if="thisTaskTemplate.process == 'automated'"
                       class="fa fa-info-circle"
                       uib-tooltip="An automated workflow is a sequence of one or more Celery tasks that perform some action (such as a port scan or DNS lookup) and analyze the result to produce findings."></i>
                    <i ng-if="thisTaskTemplate.process == 'manual'"
                       class="fa fa-info-circle"
                       uib-tooltip="A manual workflow is a sequence of one or more Celery tasks that analyze operator-supplied output from a manual task to produce findings."></i>
                    <select ng-model="thisTaskTemplate.workflow"
                            name="workflow"
                            id="workflow"
                            class="form-control"
                            ng-required="thisTaskTemplate.process == 'automated'"
                            ng-options="name as wf.label for (name,wf) in taskConfig.workflow.options[thisTaskTemplate.application][thisTaskTemplate.process]">
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label"
                           for="name">Name*</label>
                    <input ng-model="thisTaskTemplate.name"
                           name="name"
                           id="name"
                           class="form-control"
                           required
                           type="text"
                           ng-trim="true"
                           ng-minlength="taskConfig.name.min_length"
                           ng-maxlength="taskConfig.name.max_length" />

                    <div class="help-block"
                         ng-show="tasktemplateform.name.$error.minlength">
                        Name too short, minimum length <span ng-bind="taskConfig.name.min_length"></span>.
                    </div>
                    <div class="help-block"
                         ng-show="tasktemplateform.name.$error.maxlength">
                        Name too long, maximum length <span ng-bind="taskConfig.name.max_length"></span>.
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label"
                           for="description">Description</label>
                    <input ng-model="thisTaskTemplate.description"
                           name="description"
                           id="description"
                           class="form-control"
                           placeholder="{{thisTaskTemplate.name}}"
                           type="text"
                           ng-trim="true"
                           ng-minlength="taskConfig.description.min_length"
                           ng-maxlength="taskConfig.description.max_length" />

                    <div class="help-block"
                         ng-show="tasktemplateform.description.$error.minlength">
                        Description too short, minimum length <span ng-bind="taskConfig.description.min_length"></span>.
                    </div>
                    <div class="help-block"
                         ng-show="tasktemplateform.description.$error.maxlength">
                        Description too long, maximum length <span ng-bind="taskConfig.description.max_length"></span>.
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label"
                           for="url">Wiki Page*</label>
                    <i class="fa fa-info-circle"
                       uib-tooltip="Supply the page of the {{::catotheme.appName}} wiki entry for this task"></i>
                    <input ng-model="thisTaskTemplate.url"
                           name="url"
                           id="url"
                           class="form-control"
                           required
                           type="text"
                           placeholder="My_Wiki_Page"
                           ng-trim="true"
                           ng-minlength="taskConfig.url.min_length"
                           ng-maxlength="taskConfig.url.max_length" />

                    <div class="help-block"
                         ng-show="tasktemplateform.url.$error.minlength">
                        URL too short, minimum length <span ng-bind="taskConfig.url.min_length"></span>.
                    </div>
                    <div class="help-block"
                         ng-show="tasktemplateform.url.$error.maxlength">
                        URL too long, maximum length <span ng-bind="taskConfig.url.max_length"></span>.
                    </div>
                </div>
                <div class="form-group"
                     ng-if="shouldShowParameterSelection()">
                    <label class="control-label">Parameters:</label>
                    <div class="well">
                        <task-parameters task="thisTaskTemplate"
                                         parameters="taskConfig.workflow.options[thisTaskTemplate.application][thisTaskTemplate.process][thisTaskTemplate.workflow].template_parameters"
                                         form="tasktemplateform">
                        </task-parameters>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset"
                    class="btn btn-white"
                    ng-click="cancel()">Cancel</button>
            <button type="submit"
                    class="btn btn-primary formSubmit"
                    ng-disabled="tasktemplateform.$invalid">Save</button>
        </div>
    </form>
</div>