<div class="row">
    <div class="form-group col-sm-6">
        <label class="control-label"
               for="poc_type">Type*</label>
        <select class="form-control"
                id="poc_type"
                name="poc_type"
                required="required"
                ng-model="poc.type"
                ng-options="poc_type.display_name for poc_type in config.poc.type.choices |filter:filterPocsByUser | filter:filterPocsByType track by poc_type.value">
            <option></option>
        </select>
    </div>

    <div class="form-group col-sm-6">
        <label class="control-label"
               for="poc_user">User*</label>
        <select class="form-control"
                id="poc_user"
                name="poc_user"
                required="required"
                ng-model="poc.user"
                ng-options="user as user.label for user in data.usersSel |filter:filterUsersByType track by user.id">
            <option></option>
        </select>
    </div>
</div>