<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <h4 class="modal-title"
            ng-bind="modalTitle"></h4>
    </div>
    <form ng-submit="addOrUpdatePoC()"
          class="form-inline">
        <div class="modal-body">
            <div class="panel-body">
                <div ng-include="'/app/settings/poc/addPoC.html'"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset"
                    class="btn"
                    ng-click="cancel()">Cancel</button>
            <button type="submit"
                    class="btn btn-primary formSubmit">Save</button>
        </div>
    </form>
</div>