<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <h4 class="modal-title"
            ng-bind="modalTitle"></h4>
    </div>
    <form ng-submit="addOrUpdateAddress()"
          name="addrform"
          class="form-inline">
        <div class="modal-body">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label class="control-label"
                               for="addr_type">Type*</label>
                        <select class="form-control"
                                id="addr_type"
                                name="addr_type"
                                required="required"
                                ng-model="pocaddr.type"
                                ng-options="option for option in config.pocaddr.type.choices">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="row"
                     ng-if="pocaddr.type">
                    <div class="form-group col-sm-12">
                        <div ng-if="pocaddr.type !== 'physical'">
                            <label class="control-label"
                                   for="addr_value">{{inputTypes[pocaddr.type].label}}*</label>
                            <input class="form-control"
                                   id="addr_value"
                                   name="addr_value"
                                   placeholder="{{inputTypes[pocaddr.type].placeholder}}"
                                   required="required"
                                   ng-attr-type="inputTypes[pocaddr.type].inputType"
                                   ng-pattern="inputTypes[pocaddr.type].pattern"
                                   ng-model="pocaddr.name"
                                   ng-minlength="config.pocaddr.value.min_length"
                                   ng-maxlength="config.pocaddr.value.max_length" />
                            <div class="col-sm-12 help-block"
                                 ng-show="addrform.addr_value.$error.minlength">
                                The POC's address is too short, minimum length <span
                                      ng-bind="config.pocaddr.value.min_length"></span>.
                            </div>
                            <div class="col-sm-12 help-block"
                                 ng-show="addrform.addr_value.$error.maxlength">
                                The POC's address is too long, maximum length <span
                                      ng-bind="config.pocaddr.value.max_length"></span>.
                            </div>
                            <div class="col-sm-12 help-block"
                                 ng-show="addrform.addr_value.$error.pattern">
                                <span ng-bind-html="inputTypes[pocaddr.type].patternError"></span>
                            </div>
                        </div>
                        <physical-address ng-if="pocaddr.type ==='physical'"
                                          locations="locations"
                                          set-poc-address="addOrUpdateAddress(location, replace)"
                                          on-close="$ctrl.close()"
                                          already-used-locations="locationsAlreadyUsed"
                                          del-location="deleteAddress(location)">
                        </physical-address>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div type="button"
                 class="btn btn-danger"
                 ng-show="!createNew"
                 ng-click="deleteAddress()">Delete</div>
            <div type="reset"
                 class="btn btn-white"
                 ng-click="cancel()">Cancel</div>
            <div class="btn btn-primary formSubmit"
                 ng-if="pocaddr.type !== 'physical' && createNew"
                 ng-click="addOrUpdateAddress(undefined, true)"
                 ng-disabled="addrform.$invalid">Replace</div>
            <button type="submit"
                    class="btn btn-primary formSubmit"
                    ng-if="pocaddr.type !== 'physical'"
                    ng-disabled="addrform.$invalid"
                    ng-bind="::createNew ? 'Add' : 'Update'"></button>
        </div>
    </form>
</div>