<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <h4 class="modal-title"
            ng-bind="modalTitle"></h4>
    </div>
    <form ng-submit="updatePoC()"
          class="form-inline">
        <div class="modal-body">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label"
                               for="poc_type">Type*</label>
                        <select class="form-control"
                                id="poc_type"
                                name="poc_type"
                                required="required"
                                ng-model="poc.type"
                                ng-options="option for option in config.poc.type.choices | filter:filterPocsByUser">
                            <option></option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label"
                               for="poc_user">User*</label>
                        <select class="form-control"
                                id="poc_user"
                                name="poc_user"
                                required="required"
                                ng-model="poc.user"
                                ng-options="user as user.label for user in data.usersSel | filter:filterUsersByType track by user.id">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-danger"
                    ng-click="deletePoc()">Delete</button>
            <button type="reset"
                    class="btn"
                    ng-click="cancel()">Cancel</button>
            <button type="submit"
                    class="btn btn-primary formSubmit">Save</button>
        </div>
    </form>
</div>