<ui-view></ui-view>

<table class="table noborder dropparent">
    <tr ngf-drop="importTemplates($file)">
        <td class="col-sm-6">
            <div class="search-form mt0 collapse in filterForm">
                <div class="input-group mb10">
                    <input type="text"
                           name="search"
                           class="form-control input-md"
                           placeholder="Search templates"
                           data-ng-model="pTemplateSearch">
                </div>
            </div>
        </td>
        <td class="col-sm-6">
            <div class="btn-group btn-group-sm pull-right">
                <span class="btn btn-primary"
                      ngf-select="importTemplates($file)">
                    <i aria-hidden="true"
                       class="fa fa-sign-in"></i> Import
                </span>
                <span class="btn btn-primary"
                      ng-click="exportTemplates()"
                      ng-disabled="data.selectedPTemplates.length==0"
                      uib-tooltip="Use control/command and shift to select multiple templates for export"
                      tooltip-placement="bottom">
                    <i aria-hidden="true"
                       class="fa fa-sign-out"></i> Export
                </span>
            </div>
        </td>
    </tr>
</table>

<div active="0"
     interval="0"
     no-wrap="true"
     cg-busy="{promise: data.ptemplates.$promise, message: 'Loading Templates'}">
    <!-- TODO: Determine if there is any needed benefits from using table-responsive, for now it's just 
    causing problems when you try to open an action pulldown at the bottom of the page. -->
    <!-- <div class="table-responsive"> -->
    <table class="table"
           id="parameter-template-table">
        <thead>
            <tr id="sortabletitlerow">
                <th class="center-align"><input type="checkbox"
                           ng-click="selectAll(allSelected, data.ptemplates)"
                           ng-model="allSelected"></th>
                <th>NAME</th>
                <th>APPLICATION</th>
                <th>PROCESS</th>
                <th>WORKFLOW</th>
                <th>LAST UPDATED</th>
                <th class="center-align">ACTIONS</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="template in data.ptemplates | filter:pTemplateSearch track by template.id"
               selection-model
               selection-model-mode="'multiple-additive'"
               selection-model-type="'checkbox'"
               selection-model-selected-items="data.selectedPTemplates"
               selection-model-cleanup-strategy="'deselect'">
            <tr class="show-selection">
                <td align="center">
                    <input type="checkbox">
                </td>
                <td class="force-wrap"
                    align="left"
                    ng-bind="template.name"></td>
                <td align="left"
                    ng-bind="template.application"></td>
                <td align="left"
                    ng-bind="template.process"></td>
                <td align="left"
                    ng-bind="template.workflow"></td>
                <td align="left"
                    ng-bind="template.last_updated | date:'MM/dd/yyyy H:mm'"></td>
                <td align="right"
                    style="white-space: nowrap">
                    <actions actions="actions"
                             target="template">
                    </actions>
                </td>
                <td align="center">
                    <user-icon user="template.createdBy"></user-icon>
                </td>
            </tr>
        </tbody>
    </table><!-- end of operationtemplate table -->
    <!-- </div> -->
</div>