<ui-view></ui-view>

<table class="table noborder dropparent">
    <tr ngf-drop="importTemplates($file)">
        <td class="col-sm-6">
            <div class="search-form mt0 collapse in filterForm">
                <div class="input-group mb10">
                    <input type="text"
                           name="search"
                           class="form-control input-md"
                           placeholder="Search templates"
                           data-ng-model="recTemplateSearch">
                </div>
            </div>
        </td>
        <td class="col-sm-6">
            <div class="btn-group btn-group-sm pull-right">
                <span class="btn btn-primary"
                      ngf-select="importTemplates($file)">
                    <i aria-hidden="true"
                       class="fa fa-sign-in"></i> Import
                </span>
                <span class="btn btn-primary"
                      ng-click="exportTemplates(data.selectedRecTemplates)"
                      ng-disabled="data.selectedRecTemplates.length==0"
                      uib-tooltip="Use control/command and shift to select multiple templates for export"
                      tooltip-placement="bottom">
                    <i aria-hidden="true"
                       class="fa fa-sign-out"></i> Export
                </span>
            </div>
            <a ng-click="editRecTemplate()"
               class="green-txt pull-right mt5 mr15">
                <i aria-hidden="true"
                   class="fa fa-plus"></i> Add a Template
            </a>
        </td>
    </tr>
</table>

<div active="0"
     interval="0"
     no-wrap="true"
     cg-busy="{promise: data.rectemplates.$promise, message: 'Loading Recommendation Templates'}">
    <!-- TODO: Determine if there is any needed benefits from using table-responsive, for now it's just 
    causing problems when you try to open an action pulldown at the bottom of the page. -->
    <!-- <div class="table-responsive"> -->
    <table class="table"
           id="recommendation-template-table">
        <thead>
            <tr id="sortabletitlerow">
                <th class="center-align"><input type="checkbox"
                           ng-click="selectAll(allSelected, data.rectemplates)"
                           ng-model="allSelected"
                           title="select all"></th>
                <th>RECOMMENDATION TEXT</th>
                <th>LAST UPDATED</th>
                <th class="center-align">ACTIONS</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="template in data.rectemplates | filter:recTemplateSearch track by template.id"
               selection-model
               selection-model-mode="'multiple-additive'"
               selection-model-type="'checkbox'"
               selection-model-selected-items="data.selectedRecTemplates"
               selection-model-cleanup-strategy="'deselect'">
            <tr class="show-selection">
                <td align="center">
                    <input type="checkbox">
                </td>
                <td class="force-wrap"
                    align="left"
                    ng-bind="template.body_text"></td>
                <td align="left"
                    ng-bind="template.last_updated | date:'MM/dd/yyyy H:mm'"></td>
                <td class="nobreak right-align">
                    <actions actions="actions"
                             target="template">
                    </actions>
                </td>
                <td align="center">
                    <user-icon user="template.created_by"></user-icon>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- </div> -->
</div>