<mat-card ng-class="'box'">
    <uib-tabset active="templateActiveTab">
        <uib-tab index="'operation'"
                 heading="OPERATION"
                 select="go({stateName:'templates.operation'})">
            <div ui-view="opTemplates"></div>
        </uib-tab>
        <uib-tab index="'campaign'"
                 heading="CAMPAIGN"
                 select="go({stateName:'templates.campaign'})">
            <div ui-view="campaignTemplates"></div>
        </uib-tab>
        <uib-tab index="'parameter'"
                 heading="PARAMETER"
                 select="go({stateName:'templates.parameter'})">
            <div ui-view="paramTemplates"></div>
        </uib-tab>
        <uib-tab index="'recommendation'"
                 heading="RECOMMENDATION"
                 select="go({stateName:'templates.recommendation'})">
            <div ui-view="recommendationTemplates"></div>
        </uib-tab>
    </uib-tabset>
</mat-card>
