<div class="clear-item">
    <div class="col-xs-3"
         ng-if="pocCount > 1">
        <a ng-click="removePOC($index)"
           class="btn btn-block btn-danger">
            Remove POC <span class="glyphicon glyphicon-minus"></span>
        </a>
    </div>
    <div class="col-xs-3"
         ng-class="pocCount === 1 ? 'col-xs-offset-9' : 'col-xs-offset-6'">
        <button ng-click="addPOC($index)"
                class="btn btn-block btn-primary"
                ng-disabled="wizard.$invalid || step.nextDisabled()">
            Save & Add additional POC <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>