<div class="form-group col-sm-12">
    <label class="control-label required"
           for="ir-company-duns">Data Universal Numbering System (DUNS) Number</label>
    <input type="text"
           class="form-control"
           id="ir-company-duns"
           name="ir-company-duns"
           ng-model="ir.customer.duns"
           placeholder="DUNS"
           required
           ng-blur="updateDUNS()">
</div>

<div class="form-group col-sm-12">
    <label class="control-label required"
           for="ir-facility-cage">Facility CAGE Code</label>
    <input class="form-control"
           id="ir-facility-cage"
           name="ir-facility-cage"
           required
           placeholder="CAGE code"
           ng-pattern="gdata.formatFactory.cagecode.pattern"
           ng-model="ir.customer.cagecode"
           ng-blur="updateCAGE()" />
    <div class="col-sm-12 help-block"
         ng-show="wizard['ir-facility-cage'].$error.pattern">
        <span ng-bind-html="gdata.formatFactory.cagecode.patternError"></span>
    </div>
</div>
<!-- /form-group -->

<div class="form-group col-sm-12">
    <label class="control-label required"
           for="ir-facility-clearance-level">Facility Clearance Level</label>
    <select class="form-control m-b"
            id="ir-facility-clearance-level"
            ng-model="ir.customer.facility_clearance_level"
            required>
        <option>Unclassified</option>
        <option>Confidential</option>
        <option>Secret</option>
        <option>Top Secret</option>
        <option>Not applicable</option>
    </select>
</div>


<div class="form-group col-sm-12">
    <label class="control-label required"
           for="ir-cleared-contractor">Are you a cleared contractor?</label>
    <div class="slider">
        No <input type="checkbox"
               class="switch"
               id="ir-cleared-contractor"
               ng-checked="ir.customer.cleared_contractor"
               ng-model="ir.customer.cleared_contractor">
        <label for="ir-cleared-contractor"
               class="switch">Toggle</label>
        Yes
    </div>
</div>

<div class="form-group col-sm-12">
    <label class="control-label required"
           for="ir_impact_defense_info">Does this incident impact covered defense information?</label>
    <select class="form-control m-b"
            id="ir_impact_defense_info"
            ng-model="ir.impact_defense_info"
            required>
        <option>Yes</option>
        <option>No</option>
        <option>Unknown</option>
    </select>
</div>

<div class="form-group col-sm-12">
    <label class="control-label required"
           for="ir-impact-op-support">Does the incident/compromise impact your company's ability to provide
        operationally critical support?</label>
    <select class="form-control m-b"
            id="ir-impact-op-support"
            ng-model="ir.impact_op_support"
            required>
        <option>Yes</option>
        <option>No</option>
        <option>Unknown</option>
    </select>
</div>