<h3 class="lt-orange mt20">Company Point of Contact (POC) Information</h3>
<div class="row">
  <div class="col-md-12">
    <ui-select ng-model="POC"
               style="min-width: 600px;"
               title="Choose a POC"
               on-select="setPoc($item)">
      <ui-select-match placeholder="Select a POC in the list or search by name">{{$select.selected.first_name}}
        {{$select.selected.last_name}}</ui-select-match>
      <ui-select-choices group-by="'type'"
                         repeat="poc in data.pocs | filter: {type: '!USG Program Manager'} | propsFilter: {first_name: $select.search, last_name: $select.search}">
        <span ng-bind-html="poc.first_name | highlight: $select.search"></span>
        <span ng-bind-html="poc.last_name | highlight: $select.search"></span>
        <small ng-if="poc.email">
          email: {{poc.email}}
        </small>
      </ui-select-choices>
    </ui-select>
  </div>
</div>

<div ng-if="addOrEditPOC && (!selectedPOC.id || selectedPOC.id === 'new')">
  <div ng-include="'/app/settings/poc/addPoC.html'"></div>
  <button type="submit"
          class="btn btn-primary formSubmit"
          ng-click="addNewPOC()"
          ng-disabled="!poc.user.id || !poc.type.value">Add</button>
</div>

<showRequiredPOCAddresses ng-if="selectedPOC.id && selectedPOC.id !== 'new'">
  <div class="form-group col-sm-6">
    <label class="control-label">First Name</label>
    <h3 class="ml10"
        ng-bind="selectedPOC.first_name"></h3>
  </div>
  <div class="form-group col-sm-6">
    <label class="control-label">Last Name</label>
    <h3 class="ml10"
        ng-bind="selectedPOC.last_name"></h3>
  </div>

  <div class="form-group col-sm-12">
    <label class="control-label"
           for="ir-poc-title">Position <em>(Title)</em></label>
    <input type="text"
           class="form-control"
           id="ir-poc-title"
           ng-model="selectedPOC.title"
           ng-blur="updateTitle()">
  </div>

  <ul class="list-group list-group-flush col-sm-6">
    <li class="list-group-item"
        ng-repeat="addr in selectedPOC.pointofcontactaddresses"
        uib-tooltip="{{data.locationMap[addr.location].address ? (data.locationMap[addr.location].address + ', ' + data.locationMap[addr.location].country) : ''}}">
      <i class="fa {{icons[addr.type]}}"
         aria-hidden="true"></i>
      <span ng-bind="data.locationMap[addr.location].name || addr.value"></span>&nbsp;
      <a ui-sref=".editPoCAddr({poc_id: selectedPOC.id, addr_id: addr.id, loc_id: addr.location})"
         class="pull-right ml10">
        <i aria-hidden="true"
           class="fa fa-pencil-square-o"></i>
      </a>
    </li>
    <li class="list-group-item">
      <a ui-sref=".addPoCAddr({poc_id: selectedPOC.id})"
         class="green-txt mt5 mr15"><i aria-hidden="true"
           class="fa fa-plus"></i> Contact Info</a>
    </li>
  </ul>
  <div class="col-sm-6">
    <required-addresses addresses="selectedPOC.pointofcontactaddresses"></required-addresses>
  </div>
</showRequiredPOCAddresses>