<ui-view name="contactModal"></ui-view>

<div class="row">
  <div class="col-lg-8">
    <wizard on-finish="finishedWizard()"
            indicators-position="top"
            on-cancel="cancelledWizard()">
      <wz-step wz-title="{{step.title}}"
               wz-order="{{step.order}}"
               ng-repeat="step in wizardSteps">
        <div class="row">
          <div class="col-sm-12">
            <h1 ng-bind="step.title"></h1>
            <form name="wizard">
              <div ng-include="step.include"
                   style="min-height: {{step.minHeight}}"></div>
              <div class="form-group row">
                <div ng-if="step.additionalButtons"
                     ng-include="step.additionalButtons"></div>
              </div>
              <div class="row">
                <div ng-include="step.previous"></div>
                <div ng-include="step.next"></div>
              </div>
            </form>
          </div>
        </div>
      </wz-step>
    </wizard>
  </div>

  <div class="col-lg-4">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins ibox-border">
        <div class="ibox-title">
          <h5><i class="fa fa-upload"
               aria-hidden="true"></i> UPLOAD FILE FOR MALWARE ANALYSIS</h5>
        </div>
        <div class="ibox-content">
          <p>Send any suspected file for analysis by DarkPoint. Find out <a
               href="http://www.cyberpoint.com/products/darkpoint/index.html"
               target="_blank">more about DarkPoint</a>.</p>
          <p>
            <a href="https://app.darkpoint.us/login"
               target="_blank">
              <img src="../../img/darkpoint-logo.png"
                   class="img-responsive"
                   alt="DarkPoint Logo" />
            </a>
          </p>
          
          <div class="form-group">
            <label class="control-label">Select File</label>
            <input id="input-1"
                   type="file"
                   class="file">
          </div>
        </div>
        <!-- /ibox-content -->
      </div>
      <!-- /ibox float-e-margins -->

      <div class="ibox float-e-margins ibox-border">
        <div class="ibox-title">
          <h5><i class="fa fa-phone"
               aria-hidden="true"></i> CALL</h5>
        </div>
        <div class="ibox-content">
          <p>Speak with a live person any time of the day or night. Your call will be routed to an Incident Response
            Expert.</p>
          <p class="incidentContact">Call {{CONFIG.helpNowNumber}}</p>
        </div>
        <!-- /ibox-content -->
      </div>
      <!-- /ibox float-e-margins -->

      <div class="ibox float-e-margins ibox-border">
        <div class="ibox-title">
          <h5><i class="fa fa-envelope-o"
               aria-hidden="true"></i> EMAIL</h5>
        </div>
        <div class="ibox-content">
          <p>Email our Incident Response Team with the details of the incident and your contact information.</p>
          <p class="incidentContact"><a href="mailto:incident@catosec.io">incident@catosec.io</a></p>
        </div>
        <!-- /ibox-content -->
      </div>
      <!-- /ibox float-e-margins -->

    </div>
    <!-- /wrapper wrapper-content -->
  </div>

</div>