<div class="col-xs-2 col-xs-offset-4">
    <a wz-reset
       class="btn btn-block btn-white">
        <span class="glyphicon glyphicon-remove-sign"></span>
        Cancel
    </a>
</div>
<div class="col-xs-3">
    <a wz-next
       class="btn btn-block btn-primary"
       ng-disabled="wizard.$invalid">
        Submit Incident <span class="glyphicon glyphicon-ok-sign"></span>
    </a>
</div>