<div class="form-group col-sm-12">
  <h2 ng-bind="gdata.customer[0].name"></h2>
</div>

<div class="form-group col-sm-12">
  <label class="control-label required">Report Name</label>
  <input type="text"
         class="form-control"
         id="ir-report-name"
         ng-model="ir.report_name"
         required
         placeholder="Name your report (for easy look-up)">
</div>
<div class="form-group col-sm-12">
  <label class="control-label">Add tags to your report (for easy look-up and filtering for later)</label>
  <div>
    <ui-select multiple
               ng-model="ir.tags"
               tagging
               tagging-label="(Enter to add new tag)"
               theme="bootstrap"
               sortable="true"
               close-on-select="false">
      <ui-select-match placeholder="Add a tag">{{$item}}</ui-select-match>
      <ui-select-choices repeat="tag in ir.tags | filter:$select.search">
        {{tag}}
      </ui-select-choices>
    </ui-select>
  </div>
</div>


<div class="form-group col-sm-12">
  <label class="control-label required">Is this a follow-on report?</label>
  <div class="slider">
    NO
    <input type="checkbox"
           class="switch"
           id="follow_on"
           ng-checked="ir.follow_up_report"
           ng-model="ir.follow_up_report" />
    <label for="follow_on"
           class="switch">Toggle</label>
    YES
  </div>
</div>

<div class="form-group col-sm-12">
  <label class="control-label required">Has this information been shared with any other Federal Government
    agency?</label>
  <div class="slider">
    NO
    <input type="checkbox"
           class="switch"
           id="shared"
           ng-checked="ir.shared_with_other_fed_agency"
           ng-model="ir.shared_with_other_fed_agency" />
    <label for="shared"
           class="switch">Toggle</label>
    YES
  </div>
</div>

<div class="form-group col-sm-12">
  <label class="control-label">Enter Other Tracking Numbers (if applicable)</label>
  <div>
    <ui-select multiple
               ng-model="ir.trackingNumbers"
               tagging
               tagging-label="(Add new tracking number)"
               theme="bootstrap"
               sortable="true"
               close-on-select="false">
      <ui-select-match placeholder="Add a tracking number">{{$item}}</ui-select-match>
      <ui-select-choices repeat="trackingNumber in ir.trackingNumbers | filter:$select.search | orderBy: contract">
        {{trackingNumber}}
      </ui-select-choices>
    </ui-select>
  </div>
</div>