<div class="row">
  <div class="col-lg-12">
    <div ng-if="reportsExist">
      <uib-accordion close-others="oneAtATime"
                     ng-repeat="user in users"
                     ng-if="user.ui_data.reports.length > 0">
        <div ng-repeat="report in user.ui_data.reports | orderBy: '-date_submitted'"
             uib-accordion-group
             class="panel-default"
             is-open="status.open">
          <uib-accordion-heading>
            {{user.first_name}} {{user.last_name}} filed the report: <i ng-bind="report.report_name"></i> -
            <span am-time-ago="report.date_submitted"
                  uib-tooltip="{{report.date_submitted | amUtc | amLocal | amDateFormat:'lll'}}"></span>
          </uib-accordion-heading>
          <pre ng-bind="formattedJSON(report)"></pre>
        </div>
      </uib-accordion>
    </div>
    <div ng-if="!reportsExist">
      <h3 class="ml20">No reports have been filed yet.</h3>
    </div>
  </div>
</div>