<div class="row">
  <div class="col-sm-12 section-hdr drk-gray-bg">
    <div class="section-title">INCIDENT REPORTING</div>
  </div>
</div>
<!-- /row -->

<div class="row">
  <div class="col-sm-12">
    <div class="tabs-container mtb30">
      <uib-tabset active="activeTab">
        <uib-tab ng-repeat="tab in tabs track by $index"
                 select="go(tab)"
                 index="tab.stateName"
                 ng-if="tab.show(tab)">
          <uib-tab-heading>
            <i ng-class="['fa', tab.icon]"
               uib-tooltip="{{tab.heading}}"
               aria-hidden="true"></i>
            <span class="{{tab.className}}"
                  ng-bind="tab.heading"></span>
          </uib-tab-heading>
          <div class="panel-body">
            <div ui-view="{{tab.viewName}}"></div>
          </div>
        </uib-tab>
      </uib-tabset>

      <!--<uib-tab>
          <uib-tab-heading> <i class="fa fa-question" aria-hidden="true"></i> ASK THE EXPERT</uib-tab-heading>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-8">
                <div class="ibox-content">
                  <h3>SEARCH FOR TOPICS</h3>
                  <div class="search-form">
                    <form action="index.html" method="get">
                      <div class="input-group mb30">
                        <input type="text" placeholder="{{::catotheme.appName}} Services" name="search" class="form-control input-lg">
                        <div class="input-group-btn">
                          <button class="btn btn-lg btn-primary" type="submit">Search</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="forum-post-info">
                    <h4><i class="fa fa-globe"></i> GENERAL DISCUSSION</h4>
                  </div>
                  
                  <div class="media"> <a class="forum-avatar" href="#"> <img src="/img/a1.jpg" class="img-circle" alt="image">
                    <div class="author-info"> <strong>Posts:</strong> 542<br/>
                      <strong>Posted:</strong> August 30, 2016<br/>
                    </div>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Does the JSONData field allow {{::catotheme.appName}} to provide some degree of Non-SQL freedom?</h4>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut ante libero. Fusce dictum gravida ipsum eu sodales. Donec ornare ante id diam sollicitudin viverra. Nullam finibus vulputate malesuada.<br/>
                      <br/>
                      Aliquam imperdiet nulla quis sapien blandit, quis ornare justo varius. Sed consectetur libero quis tristique fermentum. Cras gravida ante nec erat iaculis posuere. Suspendisse mattis ligula a lorem venenatis laoreet. Aenean ac euismod augue.<br/>
                      <br/>
                      - Mike Smith, Administrator </div>
                  </div>
                  
                  <div class="media"> <a class="forum-avatar" href="#"> <img src="/img/a2.jpg" class="img-circle" alt="image">
                    <div class="author-info"> <strong>Posts:</strong> 32<br/>
                      <strong>Posted:</strong> August 28, 2016<br/>
                    </div>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">{{::catotheme.appName}} as a role-based access control (RBAC) system </h4>
                      Aenean eget sem luctus, rutrum risus non, sodales turpis. Maecenas eu nibh sodales, feugiat lectus id, ultrices nulla. Mauris non ligula ac augue convallis bibendum ut id nulla. Nulla nisl nibh, gravida eget magna sed, hendrerit cursus leo. Quisque nunc ex, aliquet non ultrices non, convallis ac sapien.<br/>
                      <br/>
                      - Alex Kunter, Operator </div>
                  </div>
                  
                  <div class="media"> <a class="forum-avatar" href="#"> <img src="/img/a3.jpg" class="img-circle" alt="image">
                    <div class="author-info"> <strong>Posts:</strong> 543<br/>
                      <strong>Posted:</strong> August 28, 2016<br/>
                    </div>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">What about those new requirements from the United States Federal government regarding cyber security requirements for federal contractors?</h4>
                      Integer ut blandit nunc. Curabitur laoreet felis et massa imperdiet tempor. Aenean finibus ante ut bibendum ornare. Nunc bibendum orci sit amet ligula finibus, sit amet maximus quam finibus. Donec suscipit ipsum id tellus vulputate rutrum. Curabitur commodo efficitur dolor, vel laoreet magna mollis id.<br/>
                      <br/>
                      - Monica Jackson, Developer </div>
                  </div>
                  
                  <div class="media"> <a class="forum-avatar" href="#"> <img src="/img/a4.jpg" class="img-circle" alt="image">
                    <div class="author-info"> <strong>Posts:</strong> 72<br/>
                      <strong>Posted:</strong> August 27, 2016<br/>
                    </div>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Does {{::catotheme.appName}} limit information system access to authorized users, processes acting on behalf of authorized users, or devices (including other information systems)? </h4>
                      Quisque eu ante at metus accumsan maximus vel sed lorem. Aenean sit amet massa vitae mauris vestibulum tincidunt. Cras egestas faucibus lacus, id tincidunt lacus euismod ac. Integer lacus nulla, porta at dapibus id, euismod sed libero. Vivamus porta venenatis volutpat.<br/>
                      <br/>
                      - John Doe, Developer </div>
                  </div>
                  
                  <form>
                    <div class="chat-message-form">
                      <h4>Post your comment:</h4>
                      <div class="form-group">
                        <textarea class="form-control" name="post-comment" id="post-comment" rows="10" placeholder="Comment"></textarea>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary formSubmit">Post Comment</button>
                        <button type="reset" class="btn" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
                
              </div>
              
              <div class="col-lg-4">
                <div class="ibox chat-view ibox-border">
                  <div class="ibox-title"><h3>CHAT ROOM</h3> </div>
                  <div class="ibox-content">
                    <div class="row">
                    
                    
                      <div class="col-md-4">
                        <div class="chat-users">
                          <div class="users-list">
                            <div class="chat-user">
                              <div class="chat-user-name"> <a href="#">Karl Jordan</a> </div>
                            </div>
                            <div class="chat-user">
                              <div class="chat-user-name"> <a href="#">Monica Smith</a> </div>
                            </div>
                            <div class="chat-user"> <span class="pull-right label label-primary">Online</span>
                              <div class="chat-user-name"> <a href="#">Michael Smith</a> </div>
                            </div>
                            <div class="chat-user"> <span class="pull-right label label-primary">Online</span>
                              <div class="chat-user-name"> <a href="#">Janet Smith</a> </div>
                            </div>
                            <div class="chat-user">
                              <div class="chat-user-name"> <a href="#">Alice Smith</a> </div>
                            </div>
                            <div class="chat-user">
                              <div class="chat-user-name"> <a href="#">Monica Cale</a> </div>
                            </div>
                            <div class="chat-user">
                              <div class="chat-user-name"> <a href="#">Mark Jordan</a> </div>
                            </div>
                            <div class="chat-user"> <span class="pull-right label label-primary">Online</span>
                              <div class="chat-user-name"> <a href="#">Janet Smith</a> </div>
                            </div>
                          </div>
                        </div>
                      </div>              
                    
                      <div class="col-md-8">
                        <div class="chat-discussion">
                          <div class="chat-message left">
                            <div class="message"> <a class="message-author" href="#"> Michael Smith </a> <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span> <span class="message-content"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span> </div>
                          </div>
                          <div class="chat-message right">
                            <div class="message"> <a class="message-author" href="#"> Karl Jordan </a> <span class="message-date"> Fri Jan 25 2015 - 11:12:36 </span> <span class="message-content"> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover. </span> </div>
                          </div>
                          <div class="chat-message left">
                            <div class="message"> <a class="message-author" href="#"> Michael Smith </a> <span class="message-date"> Fri Jan 25 2015 - 11:12:36 </span> <span class="message-content"> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. </span> </div>
                          </div>
                          <div class="chat-message right">
                            <div class="message"> <a class="message-author" href="#"> Alice Jordan </a> <span class="message-date"> Fri Jan 25 2015 - 11:12:36 </span> <span class="message-content"> All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words. </span> </div>
                          </div>
                          <div class="chat-message left">
                            <div class="message"> <a class="message-author" href="#"> Mark Smith </a> <span class="message-date"> Fri Jan 25 2015 - 11:12:36 </span> <span class="message-content"> All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words. </span> </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="chat-message-form">
                          <div class="form-group mlr10">
                            <textarea class="form-control message-input" name="message" placeholder="Enter message text"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
        </uib-tab>-->



      </uib-tabset>
    </div>
    <!-- /tabs-container -->

  </div>
  <!-- /col-sm-12 -->
</div>
<!-- /row -->