<div class="form-group col-sm-6">
  <label class="font-normal">Date/Time Incident Discovered</label>
  <div class="dropdown date-discovered">
    <a class="dropdown-toggle"
       id="date_incident_discovered"
       role="button"
       data-toggle="dropdown"
       data-target=".date-discovered">
      <div class="input-group">
        <input type="text"
               class="form-control"
               ng-model="ir.dateTimeIncidentDiscovered">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-calendar"></i>
        </span>
      </div>
    </a>
    <ul class="dropdown-menu"
        role="menu"
        aria-labelledby="dLabel">
      <datetimepicker ng-model="ir.dateTimeIncidentDiscovered"
                      data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle'}"></datetimepicker>
    </ul>
  </div>
</div>

<div class="form-group col-sm-12">
  <label class="control-label">Location(s) of Compromise</label>
</div>


<div class="form-group col-sm-12 contact-box contact-box-footer"
     ng-if="(locations|filter:incidentLocAlreadyUsed).length > 0">
  <h3>Selected locations</h3>
  <div ng-repeat="loc in locations |filter:incidentLocAlreadyUsed"
       class="col-sm-12 pt10 pb10">
    <span ng-include="'/app/settings/locationInfo.html'"></span>
    <a href="#"
       ng-click="removeIncidentLocation(loc)">
      <i uib-tooltip="Remove address"
         class="fa fa-trash pull-right mt5"
         aria-hidden="true"></i>
    </a>
  </div>
</div>

<div class="form-group col-sm-12">
  <a href="#"
     ng-hide="showAddLocations"
     ng-click="showAddLocations = !showAddLocations"
     uib-tooltip="Show locations to add">
    Show locations to add <i class="fa fa-plus"
       aria-hidden="true"></i>
  </a>
</div>

<div class="form-group col-sm-12 contact-box contact-box-footer c3-legend-background"
     ng-show="showAddLocations">
  <h3>Available locations</h3>
  <div ng-repeat="loc in locations |filter:incidentLocNotAlreadyUsed"
       class="col-sm-12 hoverHighlight pt10 pb10">
    <span ng-include="'/app/settings/locationInfo.html'"></span>
    <a href="#"
       ng-click="addIncidentLocation(loc)">
      <i class="fa fa-plus pull-right mt5"
         aria-hidden="true"
         uib-tooltip="Select/Add address">
      </i>
    </a>
  </div>
</div>

<div class="form-group col-sm-12">
  <label class="control-label required">Incident Location CAGE Code</label>
  <input type="text"
         class="form-control"
         id="ir-incident-cage"
         ng-model="ir.incident_cage_code"
         required>
</div>
<!-- /form-group -->

<!--<div class="hr-line-dashed"></div>-->

<div class="form-group col-sm-12">
  <label class="control-label">DoD Programs, Platforms or Systems Involved</label>
  <textarea class="form-control"
            name="dodInvolve"
            id="dodInvolve"
            rows="5"
            placeholder="Describe in detail."></textarea>
</div>
<!-- /form-group -->

<div class="form-group col-sm-12">
  <label class="control-label required">Type of Compromise</label>
  <select class="form-control m-b"
          name="compType"
          ng-model="ir.type_of_compromise"
          required>
    <option>Unauthorized Access</option>
    <option>Unauthorized Release (includes inadvertent release)</option>
    <option>Unknown</option>
    <option>Not applicable</option>
  </select>
</div>
<!-- /form-group -->

<div class="form-group col-sm-12">
  <label class="control-label required">Description of Technique or Method Used in Cyber Incident</label>
  <textarea class="form-control"
            name="techMethod"
            id="techMethod"
            rows="10"
            placeholder="Describe in detail."
            ng-model="ir.technique_or_method_used"
            required></textarea>
</div>
<!-- /form-group -->

<div class="form-group col-sm-12">
  <label class="control-label required">Incident Outcome</label>
  <select class="form-control m-b"
          name="outcome"
          ng-model="ir.incident_outcome"
          required>
    <option>Successful Compromise</option>
    <option>Failed Attempt</option>
    <option>Unknown</option>
  </select>
</div>
<!-- /form-group -->

<div class="form-group col-sm-12">
  <label class="control-label required">Incident/Compromise Narrative</label>
  <textarea class="form-control"
            name="narrative"
            id="narrative"
            rows="10"
            placeholder="Describe in detail."
            ng-model="ir.incident_narrative"
            required></textarea>
</div>
<!-- /form-group -->

<div class="form-group col-sm-12">
  <label class="control-label">Any Additional Information</label>
  <textarea class="form-control"
            name="addInfo"
            id="addInfo"
            rows="10"
            placeholder="Describe in detail."
            ng-model="ir.additional_information"></textarea>
</div>