<div class="col-xs-3 col-xs-offset-6">
    <button wz-next
            class="btn btn-block btn-primary"
            ng-disabled="wizard.$invalid || step.nextDisabled()">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </button>
</div>