<div class="col-xs-3">
    <button wz-previous
            class="btn btn-block btn-primary"
            ng-disabled="{{step.previousDisabled()}}">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
        Previous Section
    </button>
</div>