<div class="row">
  <div class="col-sm-12 section-hdr drk-gray-bg">
    <div class="section-title">{{::catotheme.appName}} LIBRARY</div>
  </div>
</div>
<!-- /row -->

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">

        <div class="ibox-content">
          <div class="tabs-container">
            <uib-tabset>

              <uib-tab>
                <uib-tab-heading> <i class="fa fa-graduation-cap"></i>CMMC</uib-tab-heading>
                <div class="panel-body">

                  <h2>Cybersecurity Maturity Model Certification (CMMC)</h2>
                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>CMMC Compliance Standards Documents, version 1.02.</strong> These documents describe the Cybersecurity Maturity Model Certification framework and its goals in strengthening the security of the DIB sector in regards to the handling and protection of Federal Contract Information (FCI) and Controlled Unclassified Information (CUI).</p>
                    <p class="lib-doc-link"><a href="https://www.acq.osd.mil/cmmc/docs/CMMC_ModelMain_V1.02_20200318.pdf"
                         target="_blank">https://www.acq.osd.mil/cmmc/docs/CMMC_ModelMain_V1.02_20200318.pdf</a>
                    </p>
                    <p class="lib-doc-link"><a href="https://www.acq.osd.mil/cmmc/docs/CMMC_Appendices_V1.02_20200318.pdf"
                         target="_blank">https://www.acq.osd.mil/cmmc/docs/CMMC_Appendices_V1.02_20200318.pdf</a>
                    </p>
                    <p class="lib-doc-link"><a href="https://www.acq.osd.mil/cmmc/docs/CMMCModelExcel_V1.02_20200318.xlsx"
                         target="_blank">https://www.acq.osd.mil/cmmc/docs/CMMCModelExcel_V1.02_20200318.xlsx</a>
                    </p>
                    <p class="lib-doc-link"><a href="https://www.acq.osd.mil/cmmc/docs/CMMC_Errata_20200318.pdf"
                         target="_blank">https://www.acq.osd.mil/cmmc/docs/CMMC_Errata_20200318.pdf</a>
                    </p>
                    <p class="lib-doc-link"><a href="https://www.acq.osd.mil/cmmc/docs/CMMC_v1.0_Public_Briefing_20200131_v2.pdf"
                         target="_blank">https://www.acq.osd.mil/cmmc/docs/CMMC_v1.0_Public_Briefing_20200131_v2.pdf</a>
                    </p>
                  </div>

                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>Frequently asked questions about CMMC.</strong> Key questions and answers on CMMC and certification. Provided by the Office of the Under Secretary of Defense for Acquisition and Sustainment.</p>
                    <p class="lib-doc-link"><a href="https://www.acq.osd.mil/cmmc/faq.html"
                         target="_blank">CMMC FAQs</a>
                    </p>
                  </div>


                  <h2 class="mt50">Cybersecurity Maturity Model Certification Accreditation Body (CMMC-AB)</h2>
                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>CMMC Accreditation Body Main Page.</strong> This non-profit organization was formed in January 2020 and is tasked with assessing the CMMC compliance levels of companies serving the DoD.</p>
                    <p class="lib-doc-link"><a href="https://www.cmmcab.org/"
                         target="_blank">https://www.cmmcab.org/</a>
                    </p>
                  </div>


                  <h2 class="mt50">Blogs and Other Resources</h2>
                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>A DoD Contractor's Guide to CMMC.</strong> White paper from Unanet discussing the CMMC from the perspective of a DoD contractor.</p>
                    <p class="lib-doc-link">
                        <a href="/app/library/docs/Unanet_White_Paper_A_DoD_Contractors_Guide_to_CMMC.pdf"
                           target="_blank">Unanet - A DoD Contractor's Guide to CMMC</a> <span
                              class="lib-doc-info">(PDF, 1.9MB)</span>
                    </p>
                  </div>

                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>Microsoft's Cloud-Based Offerings and Compliance.</strong> This blog page compares the cloud services offered from Microsoft in terms of compliance standards met by each.</p>
                    <p class="lib-doc-link"><a href="https://techcommunity.microsoft.com/t5/public-sector-blog/understanding-compliance-between-microsoft-365-commercial-gcc/ba-p/718445"
                         target="_blank">Understanding Compliance Between Microsoft 365 Commercial, GCC, GCC-High, and DoD Offerings</a>
                    </p>
                  </div>

                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>Industrial Cybersecurity and Bridging the IT-OT Security Gap.</strong> This paper discusses survey results from polled IT security professionals regarding operational technology concerns and protections.</p>
                    <p class="lib-doc-link">
                        <a href="/app/library/docs/The Global State of Industrial Cybersecurity.pdf"
                           target="_blank">The Global State of Industrial Cybersecurity</a> <span
                              class="lib-doc-info">(PDF, 1MB)</span>
                    </p>
                  </div>

                </div>
              </uib-tab>


              <uib-tab>
                <uib-tab-heading> <i class="fa fa-files-o"></i>DFARS</uib-tab-heading>
                <div class="panel-body">

                  <h2>Defense Federal Acquisition Regulation Supplement (DFARS)</h2>

                  <div class="hr-line-dashed"></div>

                  <h2>Requirements</h2>

                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>RD1 DFARS 252.204-7008 -7009 -7012 10 May 2016.</strong> The formal requirements &#8212;
                      when in doubt, this is the source. Includes three separate clauses that apply:</p>
                      <ul>
                        <li>252.204-7008 Compliance with Safeguarding Covered Defense Information Controls <em>(Dec
                            2015)</em>.</li>
                        <li>252.204-7009 Limitations on the Use or Disclosure of Third-Party Contractor Reported Cyber
                          Incident Information &#8212; what "they" can and can't do with your information.</li>
                        <li>252.204-7012 Safeguarding Covered Defense Information and Cyber Incident Reporting &#8212;
                          the details.</li>
                      </ul>

                      <p class="lib-doc-link"><a
                           href="/app/library/docs/RD1 DFARS 252.204-7008 -7009 -7012 10 May 2016.docx"
                           target="_blank">RD1 DFARS 252.204-7008 -7009 -7012 10 May 2016</a> <span
                              class="lib-doc-info">(Word, 105KB)</span>
                      </p>
                  </div>
                  <!-- /lib-doc -->


                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>RD2 DFARS Guide (OSD Systems Engineering - V2 Aug 2015).</strong> Guidance to
                      Stakeholders for Implementation of Defense Federal Acquisition Regulation Supplement Clause
                      252.204-7012 Safeguarding Unclassified Controlled Technical Information, Version 2.0, August 2015.
                      Written for those who receive and handle your contractor Cyber Incident Report <em>(the cognizant
                        Damage Assessment Management Office, DAMO)</em>, provides insight into expectations and
                      specifics not available elsewhere. Slightly outdated, <em>(so do not take as gospel)</em>, so when
                      in doubt, read the current DFARS.</p>
                    <p class="lib-doc-link"><a
                         href="/app/library/docs/RD2 DFARS-guide (OSD Systems Engineering - V2 Aug 2015).pdf"
                         target="_blank">RD2 DFARS Guide (OSD Systems Engineering - V2 Aug 2015)</a> <span
                            class="lib-doc-info">(PDF, 357KB)</span></p>
                  </div>
                  <!-- /lib-doc -->


                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>RD3 DFARS Multifactor (Class Deviation 2016).</strong> Class Deviation &#8212;
                      Safeguarding Covered Defense Information and Cyber Incident Reporting. Government gives relief (9
                      months time after contract award) for implementation of NIST SP 800-171 requirement 3.5.3, "Use of
                      multifactor authentication for local and network access to privileged accounts and for network
                      access to non-privileged accounts."</p>
                    <p class="lib-doc-link"><a
                         href="/app/library/docs/RD3 DFARS Multifactor class_deviation_2016-o0001.pdf"
                         target="_blank">RD3 DFARS Multifactor (Class Deviation 2016)</a> <span
                            class="lib-doc-info">(PDF, 357KB)</span></p>
                  </div>
                  <!-- /lib-doc -->


                  <h2 class="mt50">Requirements &#8212; Extension to ALL Federal Contractors</h2>


                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>FA1 OMB - Management and Oversight of Federal IT.</strong> Overview of proposed policy,
                      available at <a href="https://policy.cio.gov"
                         target="_blank">https://policy.cio.gov</a>, for Improving Cybersecurity Protections in Federal
                      Acquisitions. This was the public comment space <em>(feedback period closed 10 September
                        2015)</em> that defined the proposed policy and timeframe for implementation of new rules for
                      incident reporting and notification, information security assessments, and information security
                      continuous monitoring of CUI held by federal contractors. </p>
                    <p class="lib-doc-link"><a
                         href="/app/library/docs/FA1 OMB - Management and Oversight of Federal IT.docx"
                         target="_blank">FA1 OMB - Management and Oversight of Federal IT</a> <span
                            class="lib-doc-info">(Word, 131KB)</span></p>
                  </div>
                  <!-- /lib-doc -->


                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>FA2 Basic Safeguarding of Contractor Information Systems.</strong> Federal Register publication <em>(DoD, GSA, and
                        NASA)</em> of Federal Acquisition Regulation: Basic Safeguarding of Contactor Information Systems.
                        To browse the latest content, see 
                        <a href="https://www.acquisition.gov/content/subpart-419-basic-safeguarding-covered-contractor-information-systems"
                           target="_blank">
                           https://www.acquisition.gov/content/subpart-419-basic-safeguarding-covered-contractor-information-systems
                        </a>.
                    </p>
                    <p class="lib-doc-link"><a href="/app/library/docs/FA2 Basic Safeguarding 2016.pdf"
                         target="_blank">FA2 Basic Safeguarding of Contractor Information Systems</a> <span
                            class="lib-doc-info">(PDF, 287KB)</span></p>
                  </div>
                  <!-- /lib-doc -->


                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>FA3 Current FAR Safeguarding Requirements.</strong> FAR 52.204-21 Basic Safeguarding of
                      Covered Contractor Information Systems <em>(June 2016)</em>, definitions and requirements, with
                      related subcontractor flow down FAR 52.213 and 52.244-6 requirements.</p>
                    <p class="lib-doc-link"><a href="/app/library/docs/FA3 Current FAR Safeguarding Requirements.docx"
                         target="_blank">FA3 Current FAR Safeguarding Requirements</a> <span class="lib-doc-info">(Word,
                        120KB)</span></p>
                  </div>
                  <!-- /lib-doc -->


                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>FA4 The FAR Minimum 15 Requirements.</strong> Minimum Requirements and procedures
                     for basic safeguarding of covered contractor information.</p>
                    <p class="lib-doc-link"><a href="/app/library/docs/FA5 The FAR Minimum 15 Requirements.docx"
                         target="_blank">FA4 The FAR Minimum 15 Requirements</a> <span class="lib-doc-info">(Word,
                        219KB)</span>
                    </p>
                  </div>


                  <h2 class="mt50">Federal Acquisition Regulation</h2>
                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>Complete FAR Document.</strong> Details on the federal acquisition process.</p>
                    <p class="lib-doc-link"><a
                         href="https://www.acquisition.gov/sites/default/files/current/far/pdf/FAR.pdf"
                         target="_blank">FAR.pdf</a>
                    </p>
                  </div>


                  <h2 class="mt50">Requirements for Protecting CUI (NIST Standard)</h2>

                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>NIST.SP.800-171r2.</strong> The current, official release of the
                      NIST Special Publication Protecting Controlled Unclassified Information in Nonfederal Information
                      Systems and Organizations. These are the cybersecurity requirements that provide a "moderate"
                      level of protection, sufficient to protect sensitive covered information. For Department of
                      Defense contractors, this is the minimum set of requirements for protecting CUI, FOUO, ITAR or EAR
                      restricted information, and other information identified in specific contracts.</p>
                    <p class="lib-doc-link"><a href="/app/library/docs/NIST.SP.800-171r2.pdf"
                         target="_blank">NIST.SP.800-171r2</a> <span class="lib-doc-info">(PDF,
                        1.4MB)</span></p>
                  </div>

                </div>
              </uib-tab>


              <uib-tab>
                <uib-tab-heading> <i class="fa fa-chain-broken"></i>INCIDENT REPORTING</uib-tab-heading>
                <div class="panel-body">

                  <h2>Incident Reporting Sites</h2>

                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>DIBNet Portal for Defense Contractor Incident Reporting.</strong> Note: Access requires a DoD approved medium assurance certificate.</p>
                    <p class="lib-doc-link"><a href="https://dibnet.dod.mil/portal/intranet/"
                         target="_blank">https://dibnet.dod.mil/portal/intranet/</a>
                  </div>

                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>CISA (US-CERT) Incident Reporting System.</strong> This site does not require authentication certificates.</p>
                    <p class="lib-doc-link"><a href="https://www.us-cert.gov/forms/report"
                         target="_blank">https://www.us-cert.gov/forms/report</a>
                    </p>
                  </div>


                  <h2 class="mt50">Incident Reporting Guidelines</h2>

                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>IR1 DIB Cyber Incident Reporting - Incident Collection Format.</strong> Excel file with
                      the fields and selectable options encountered when entering the required Cyber Incident Report at
                      the Defense Industrial Base Cybersecurity Information Sharing Environment <em>(DCISE)</em> Portal
                      on the web, <a href="https://dibnet.dod.mil/portal/intranet/"
                         target="_blank">https://dibnet.dod.mil/portal/intranet/</a>.
                    </p>
                    <p class="lib-doc-link"><a
                         href="/app/library/docs/IR1 DIB Cyber Incident Reporting - Incident Collection Format.xlsx"
                         target="_blank">IR1 DIB Cyber Incident Reporting - Incident Collection Format</a> <span
                            class="lib-doc-info">(Excel, 56KB)</span></p>
                  </div>
                  <!-- /lib-doc -->


                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>IR2 PPD-41 Cyber Incident 20160726.</strong> Presidential Policy Directive &#8212; United
                      States Cyber Incident Coordination <em>(PPD-41)</em>, published 20160726. This document provides
                      overarching policy guidance and direction to all federal government responders. At a minimum, this
                      is what the DoD elements you as a contractor report an incident to must abide. Definitions and
                      explanations are useful fodder for establishing congruent internal corporate policies.</p>
                    <p class="lib-doc-link"><a href="/app/library/docs/IR2 PPD-41 Cyber Incident 20160726.pdf"
                         target="_blank">IR2 PPD-41 Cyber Incident 20160726</a> <span class="lib-doc-info">(PDF,
                        332KB)</span></p>
                  </div>
                  <!-- /lib-doc -->


                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>IR3 Federal Incident Notification Guidelines.</strong> US-CERT Federal Incident
                      Notification Guidelines. Provides excellent guidance for incident notification, including:
                      standard data elements <em>(of an incident report)</em>, Impact Classification definitions, Threat
                      Vector definitions and taxonomy, Cause Analysis flowchart, and Incident Examples.</p>
                    <p class="lib-doc-link"><a href="/app/library/docs/IR3 Federal_Incident_Notification_Guidelines.pdf"
                         target="_blank">IR3 Federal Incident Notification Guidelines</a> <span
                            class="lib-doc-info">(PDF, 332KB)</span></p>
                  </div>
                  <!-- /lib-doc -->


                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>IR4 NIST.SP.800-61r2 Computer Security Incident Handling.</strong> This NIST publication,
                      updated in August of 2012, assists organizations in establishing computer security incident
                      response capabilities and handling incidents efficiently and effectively. It provides guidelines
                      for incident handling, particularly for analyzing incident-related data and determining the
                      appropriate response to each incident.</p>
                    <p class="lib-doc-link"><a
                         href="/app/library/docs/NIST.SP.800-61r2.pdf"
                         target="_blank">IR4 NIST.SP.800-61r2 Computer Security Incident Handling</a> <span
                            class="lib-doc-info">(PDF, 1.5MB)</span></p>
                  </div>
                  <!-- /lib-doc -->


                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>IR5 CIP-008-6 Incident Reporting and Response Planning Implementation Guide.</strong> This guide offers suggestions on possible routes of implementation for compliance with incident reporting and response procedures.</p>
                    <p class="lib-doc-link"><a
                         href="/app/library/docs/CIP-800-6_DRAFT_Implementation_Guidance_11152018.pdf"
                         target="_blank">IR5 CIP-800-6 Implementation Guidance</a> <span
                            class="lib-doc-info">(PDF, 1.5MB)</span></p>
                  </div>

                </div>
                <!-- /panel-body -->
              </uib-tab>


              <uib-tab>
                <uib-tab-heading> <i class="fa fa-industry"></i>PLANNING</uib-tab-heading>
                <div class="panel-body">

                  <h2>Best Practices</h2>


                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>Systems Security Plans.</strong> The specific content for a contractor SSP is not
                      specific in 800-171r1. Example templates are enclosed here.</p>
                    <p class="lib-doc-link"><a href="/app/library/docs/BP511 sp 800-18r1 Guide to Developing SSP.pdf"
                         target="_blank">BP511 NIST SP 800-18r1 Guide to Developing SSP</a> <span
                            class="lib-doc-info">(PDF, 375KB)</span></p>

                    <p class="lib-doc-link"><a
                         href="/app/library/docs/BP512 FedRAMP-System-Security-Plan-Template-v2.1.docx"
                         target="_blank">BP512 FedRamp System Security Plan Template v2.1</a> <span
                            class="lib-doc-info">(Word, 5.2MB)</span></p>

                    <p class="lib-doc-link"><a href="/app/library/docs/BP513 SSP-Template-for-Low-Impact-Sys.docx"
                         target="_blank">BP513 SSP Template for Low Impact Systems</a> <span class="lib-doc-info">(Word,
                        76KB)</span></p>

                    <p class="lib-doc-link"><a
                         href="/app/library/docs/BP514 System_Security_Plan_Template_072312_508.docx"
                         target="_blank">BP514 System Security Plan Template</a> <span class="lib-doc-info">(Word,
                        5.8MB)</span></p>
                  </div>
                  <!-- /lib-doc -->



                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>Plan of Action and Milestones.</strong> The management plan and commitments that
                      identifies an organizations deviations from NIST SP 800-171 requirements and the detailed plan
                      (activities, schedule) to achieve compliance. These examples, plus expert analysis of the
                       {{::catotheme.appName}} team, were used to derive {{::catotheme.appName}} template CT8.</p>
                    <p class="lib-doc-link"><a href="/app/library/docs/BP521 FedRAMP_POAM_Template_050212_508.doc"
                         target="_blank">BP521 FedRAMP POAM Template 050212_508</a> <span class="lib-doc-info">(Word,
                        245KB)</span></p>

                    <p class="lib-doc-link"><a
                         href="/app/library/docs/BP522 FedRAMP POAM-Template-User-Guide_02182015.docx"
                         target="_blank">BP522 FedRAMP POAM Template Completion Guide</a> <span
                            class="lib-doc-info">(Word, 165KB)</span></p>

                    <p class="lib-doc-link"><a
                         href="/app/library/docs/BP523 DHS 4300A-Handbook-Attachment-H-POAM-Guide.pdf"
                         target="_blank">BP523 DHS 4300A Handbook Attachment H POAM Guide</a> <span
                            class="lib-doc-info">(PDF, 869KB)</span></p>

                    <p class="lib-doc-link"><a href="/app/library/docs/BP524 POAM DoE.pdf"
                         target="_blank">BP524 POAM DoE</a> <span class="lib-doc-info">(PDF, 171KB)</span></p>

                    <p class="lib-doc-link"><a
                         href="/app/library/docs/BP525 RMH_VIII_6-2_Plan_of_Action_and_Milestones_Process_Guide.pdf"
                         target="_blank">BP525 RMH_VIII_6-2 Plan of Action and Milestones Process Guide</a> <span
                            class="lib-doc-info">(PDF, 879KB)</span></p>

                    <p class="lib-doc-link"><a href="/app/library/docs/BP526 OMB m-14-04.pdf"
                         target="_blank">BP526 OMB m-14-04</a> <span class="lib-doc-info">(PDF, 2MB)</span></p>

                    <p class="lib-doc-link"><a href="/app/library/docs/BP527 SystemLevel-POAM-Sample.xlsx"
                         target="_blank">BP527 System Level POAM Sample</a> <span class="lib-doc-info">(Excel,
                        379KB)</span></p>
                  </div>
                  <!-- /lib-doc -->
                </div>
                <!-- /panel-body -->
              </uib-tab>


              <uib-tab>
                <uib-tab-heading> <i class="fa fa-video-camera"></i>VIDEOS</uib-tab-heading>
                <div class="panel-body">
                  
                  <h2>Project Spectrum</h2>
                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>Intro to Project Spectrum.</strong> Targeting small- and medium-size DoD contractors,
                     helping them achieve their security compliance goals.</p>
                    <p class="lib-doc-link"><a href="/app/library/docs/Testing and Evaluation.mp4"
                         target="_blank">Project Spectrum Test and Evaluation.mp4</a>
                    </p>
                  </div>
                  <div class="hr-line-dashed"></div>

                  <h2 class="mt50">Cybersecurity Maturity Model Compliance Conference</h2>
                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>Phase One and Keynote Address.</strong></p>
                    <p class="lib-doc-link"><a href="https://vimeo.com/koopmedia/review/396953896/9b3d6077e3"
                         target="_blank">https://vimeo.com/koopmedia/review/396953896/9b3d6077e3</a>
                    </p>
                  </div>
                  
                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>Panel Discussion.</strong></p>
                    <p class="lib-doc-link"><a href="https://vimeo.com/koopmedia/review/396955697/d579a0b99d"
                         target="_blank">https://vimeo.com/koopmedia/review/396955697/d579a0b99d</a>
                    </p>
                  </div>
                </div>
              </uib-tab>


              <uib-tab>
                <uib-tab-heading> <i class="fa fa-sticky-note"></i>TEMPLATES</uib-tab-heading>
                <div class="panel-body">

                  <h2>{{::catotheme.appName}} Templates</h2>

                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>CT1 Incident Report.</strong> Commercial best practice reporting template for
                      cybersecurity incident data collection and reporting.</p>
                    <p class="lib-doc-link"><a href="/app/library/docs/CT1 incident_report.docx"
                         target="_blank">CT1 incident_report</a> <span class="lib-doc-info">(Word, 63KB)</span>
                    </p>
                  </div>
                  <!-- /lib-doc -->

                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>CT2 DFAR Protect Macro Checklist.</strong> A high-level management checklist of
                      activities upon incident, identifying roles, artifact, and overall compliance status.</p>
                    <p class="lib-doc-link"><a href="/app/library/docs/CT2 DFAR Protect Macro Checklist.xlsx"
                         target="_blank">CT2 DFAR Protect Macro Checklist</a> <span class="lib-doc-info">(Excel,
                        28KB)</span></p>
                  </div>
                  <!-- /lib-doc -->

                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>CT3 SSP Template.</strong> Recommended System Security Plan (SSP) Template for Controlled Unclassified Information (CUI).</strong></p>
                    <p class="lib-doc-link"><a href="/app/library/docs/CUI-SSP-Template-final.docx"
                         target="_blank">CT3 CUI System Security Plan Template</a> <span class="lib-doc-info">(Word,
                        72KB)</span></p>
                  </div>
                  <!-- /lib-doc -->

                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>CT4 POAM Template.</strong> Recommended Plan of Actions and Milestones <em>(POAM)</em> Template for Controlled Unclassified Information (CUI).</p>
                    <p class="lib-doc-link"><a href="/app/library/docs/CUI-Plan-of-Action-Template-final.docx"
                         target="_blank">CT4 CUI Plan of Action Template</a> <span class="lib-doc-info">(Word,
                        31KB)</span></p>
                  </div>
                  <!-- /lib-doc -->

                  <div class="hr-line-dashed"></div>
                  <div class="lib-doc">
                    <p><strong>CT5</strong> <span class="red-txt">[FUTURE]</span>. Conversion of IR1 into a usable
                      template. The DCISE enjoins contractors not to enter reports that include Personally Identifiable
                      Information <em>(that should remain private, regarding individuals)</em> onto the DCISE through
                      the web portal. Rather, an email address and PGP/GPG key pointers are provided. This template is
                      suitable for use as an attachment for email reporting.</p>
                  </div>
                  <!-- /lib-doc -->
                </div>
              </uib-tab>

            </uib-tabset>
          </div>
          <!-- /tabs-container -->
        </div>
        <!-- /ibox-content -->
      </div>
      <!-- /ibox float-e-margins -->

    </div>
    <!-- /col-md-8 -->
  </div>
  <!-- /row -->

</div>
<!-- /wrapper wrapper-content -->
