<form class="form-horizontal" style="min-width: 50vw;" #selfAssessmentForm="ngForm">
    <h2 mat-dialog-title>Start a New Self Assessment</h2>
    <mat-dialog-content>
        <div class="form-group" *ngIf="assessments.length > 0">
            <label class="col-sm-3 control-label" for="sourceAssessment">
                Copy from
            </label>
            <div class="col-sm-9">
                <select
                    class="form-control"
                    id="sourceAssessment"
                    name="sourceAssessment"
                    [(ngModel)]="sourceAssessment"
                    (change)="sourceAssessmentSelected()"
                >
                    <option selected value="">Select a Self Assessment</option>
                    <option *ngFor="let assessment of assessments" [ngValue]="assessment">
                        {{ assessment.name }} (Level {{ assessment.goalLevel }})
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required" for="name">
                Name
            </label>
            <div class="col-sm-9">
                <input
                    class="form-control"
                    id="name"
                    name="name"
                    type="text"
                    required
                    [(ngModel)]="name"
                    #nameControl="ngModel"
                    maxlength="128"
                /><!--TODO: (CATO-2228) Get maxlength from the API-->
            </div>
            <div class="col-sm-9 col-sm-push-3 help-block error" *ngIf="nameControl.touched && nameControl.invalid">
                <div *ngIf="nameControl.errors.required">
                    Name is required
                </div>
                <div *ngIf="nameControl.errors.maxlength">
                    Name too long; maximum length {{ nameControl.errors.maxlength.requiredLength }}
                    <!--TODO: (CATO-2228) Use maxlength from the API instead of the validator (maxlength.requiredLength), which is not documented, has
                              no explicit type/interface, and may be considered an internal implementation detail subject to change without notice-->
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required" for="level">
                Goal Level
            </label>
            <div class="col-sm-9">
                <select class="form-control" id="level" name="level" required [(ngModel)]="level">
                    <option *ngFor="let l of levelChoices" [value]="l">Level {{ l }}</option>
                </select>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions class="pull-right">
        <button mat-dialog-close class="btn btn-white">Cancel</button>
        <button
            class="btn btn-primary ml5"
            [mat-dialog-close]="{ name: name, level: level, questionnaire: questionnaire, sourceAssessment: sourceAssessment?.id }"
            [disabled]="!selfAssessmentForm.form.valid"
        >
            Start
        </button>
    </mat-dialog-actions>
</form>
