<div id="portsReviewSummary"
     class="attack-surface-table">
    <table ng-table="$ctrl.table"
           class="table table-striped table-scroll"
           show-filter="true">
        <tbody>

            <tr ng-repeat="row in $data"
                class="show-selection">

                <td data-title="'Domains'"
                    id="index_{{$index}}"
                    class="force-wrap em15"
                    header-class="'em15'"
                    sortable="'domains'"
                    filter="{'domains': 'text'}"
                    uib-popover-template="'/app/attackSurface/widgets/tables/tables/portsReviewSummary/domainsPopoverTemplate.html'"
                    popover-enable="!$ctrl.isString(row.domains) && row.domains.length > $ctrl.numberOfLinesPerRow"
                    popover-trigger="'outsideClick'"
                    popover-placement="auto left">
                    <div ng-if="!$ctrl.isString(row.domains)"
                         ng-bind="domain"
                         ng-repeat="domain in row.domains| orderBy | limitTo:$ctrl.numberOfLinesPerRow track by $index "
                         ng-class="{'zoom-in':row.domains.length > $ctrl.numberOfLinesPerRow}"></div>
                    <div ng-if="$ctrl.isString(row.domains)"
                         ng-bind="row.domains"></div>
                </td>
                <td data-title="'IP Addresses'"
                    class="force-wrap ips"
                    header-class="'ips'"
                    sortable="'ips'"
                    filter="{'ips': 'text'}"
                    uib-popover-template="'/app/attackSurface/widgets/tables/tables/portsReviewSummary/ipsPopoverTemplate.html'"
                    popover-enable="!$ctrl.isString(row.ips) && row.ips.length > $ctrl.numberOfLinesPerRow"
                    popover-trigger="'outsideClick'"
                    popover-placement="auto right">
                    <div ng-if="!$ctrl.isString(row.ips)"
                         ng-bind="ip"
                         ng-repeat="ip in row.ips | limitTo:$ctrl.numberOfLinesPerRow track by $index"
                         ng-class="{'zoom-in':row.ips.length > $ctrl.numberOfLinesPerRow}"></div>
                    <div ng-if="$ctrl.isString(row.ips)"
                         ng-bind="row.ips"></div>
                </td>
                <td data-title="'SANS Top 10'"
                    uib-tooltip="{{$ctrl.selectTooltip('SANS Top 10')}}"
                    class="force-wrap  em10"
                    header-class="'em10'"
                    ng-bind="row.sansTop10Ports"
                    sortable="'sansTop10Ports'"
                    filter="{'sansTop10Ports': 'number-positive'}">
                </td>
                <td data-title="'All Ports'"
                    uib-tooltip="{{$ctrl.selectTooltip('All Ports')}}"
                    class="force-wrap  value"
                    header-class="'value'"
                    ng-bind="row.totalPorts"
                    sortable="'totalPorts'"
                    filter="{totalPorts: 'number-positive'}">
                </td>
                <td data-title="'Unreviewed'"
                    uib-tooltip="{{$ctrl.selectTooltip('Unreviewed')}}"
                    class="force-wrap  value"
                    header-class="'value'"
                    ng-bind="row.unreviewed"
                    sortable="'unreviewed'"
                    filter="{'unreviewed': 'number-positive'}">
                </td>
                <td data-title="'Accepted'"
                    uib-tooltip="{{$ctrl.selectTooltip('Accepted')}}"
                    class="force-wrap  value"
                    header-class="'value'"
                    ng-bind="row.accepted"
                    sortable="'accepted'"
                    filter="{'accepted': 'number-positive'}">
                </td>
                <td data-title="'Excluded'"
                    uib-tooltip="{{$ctrl.selectTooltip('Excluded')}}"
                    class="force-wrap  value"
                    header-class="'value'"
                    ng-bind="row.excluded"
                    sortable="'excluded'"
                    filter="{'excluded': 'number-positive'}">
                </td>
                <td data-title="'Evaluating'"
                    uib-tooltip="{{$ctrl.selectTooltip('Evaluating')}}"
                    class="force-wrap  value"
                    header-class="'value'"
                    ng-bind="row.evaluating"
                    sortable="'evaluating'"
                    filter="{'evaluating': 'number-positive'}">
                </td>
                <td data-title="'Remediated'"
                    uib-tooltip="{{$ctrl.selectTooltip('Remediated')}}"
                    class="force-wrap  value"
                    header-class="'value'"
                    ng-bind="row.remediated"
                    sortable="'remediated'"
                    filter="{'remediated': 'number-positive'}">
                </td>
                <td data-title="'Remediation Confirmed'"
                    uib-tooltip="{{$ctrl.selectTooltip('Remediation Confirmed')}}"
                    class="force-wrap em16"
                    header-class="'em16'"
                    ng-bind="row['remediation confirmed']"
                    sortable="'\'remediation confirmed\''"
                    filter="{'remediation confirmed': 'number-positive'}">
                </td>
                <!-- Leaving this here as a reminder that it is NOT needed -->
                <!-- The 'value' columns use enough space with their 7.5% now -->
                <!-- filler is needed. -->
                <!-- <td class="filler" header-class="'filler'"></td> -->
            </tr>
        </tbody>
    </table>
</div>