<script type="text/ng-template"
        id="headerCheckboxASOpenPorts">
    <!-- TODO: Double check this still works with newer ngTable versions -->
    <input ng-if="!$ctrl.$scope.$parent.$ctrl.gdata.isOperator"
           uib-tooltip="Select all across all pages"
           type="checkbox"
           ng-model="$ctrl.$scope.$parent.$ctrl.allRowsSelected"
           ng-click="$ctrl.$scope.$parent.$ctrl.selectAllRows()">
</script>


<div id="attackSurfaceOpenPorts"
     class="attack-surface-table">
    <table ng-table="$ctrl.table"
           class="table table-striped table-scroll"
           show-filter="true">
        <tbody>

            <tr ng-repeat="row in $data"
                class="show-selection"
                selection-model
                selection-model-mode="'multiple-additive'"
                selection-model-type="'basic'"
                selection-model-selected-items="$ctrl.selectedRows"
                selection-model-cleanup-strategy="'none'"
                selection-model-on-change="$ctrl.checkCanBeSelected(row)"
                selection-model-ignore="row.status==='remediation confirmed' || $ctrl.gdata.isOperator">

                <td header="'headerCheckboxASOpenPorts'"
                    class="center-align checkboxAS"
                    header-class="'checkboxAS'"
                    ng-if="true">
                    <div ng-if="!(row.status==='remediation confirmed'|| $ctrl.gdata.isOperator)">
                        <input type="checkbox"
                               ng-model="row.selected"
                               selection-model-ignore>
                    </div>
                </td>


                <td data-title="'Domain'"
                    id="index_{{$index}}"
                    class="force-wrap em20"
                    header-class="'em20'"
                    sortable="'domains'"
                    filter="{'domains': 'text'}"
                    uib-popover-template="'/app/attackSurface/widgets/tables/tables/portsReviewSummary/domainsPopoverTemplate.html'"
                    popover-enable="!$ctrl.isString(row.domains) && row.domains.length > $ctrl.numberOfLinesPerRow"
                    popover-trigger="'outsideClick'"
                    popover-placement="auto left">
                    <div ng-if="!$ctrl.isString(row.domains)"
                         ng-bind="domain"
                         ng-repeat="domain in row.domains | orderBy | limitTo:$ctrl.numberOfLinesPerRow track by $index"
                         ng-class="{'zoom-in':row.domains.length > $ctrl.numberOfLinesPerRow}"></div>
                    <div ng-if="$ctrl.isString(row.domains)"
                         ng-bind="row.domains"></div>
                </td>
                <td data-title="'IP Address'"
                    class="force-wrap ips"
                    header-class="'ips'"
                    sortable="'ip'"
                    filter="{'ip': 'text'}"
                    uib-popover-template="'/app/attackSurface/widgets/tables/tables/portsReviewSummary/ipsPopoverTemplate.html'"
                    popover-enable="!$ctrl.isString(row.ips) && row.ips.length > $ctrl.numberOfLinesPerRow"
                    popover-trigger="'outsideClick'"
                    popover-placement="auto right"
                    uib-tooltip-html="$ctrl.accessGroupTooltip(row.ipAccessGroups)">
                    <div ng-if="!$ctrl.isString(row.ip)"
                         ng-bind="ip"
                         ng-repeat="ip in row.ips | limitTo:$ctrl.numberOfLinesPerRow track by $index"
                         ng-class="{'zoom-in':row.ips.length > $ctrl.numberOfLinesPerRow}"></div>
                    <div ng-if="$ctrl.isString(row.ip)"
                         ng-bind="row.ip"></div>
                </td>
                <td data-title="'Port'"
                    class="force-wrap em8"
                    header-class="'em8'"
                    ng-bind="row.port"
                    id="port_{{row.port}}"
                    sortable="'port'"
                    filter="{port: 'text'}">
                </td>
                <td data-title="'Protocol'"
                    class="force-wrap em8"
                    header-class="'em8'"
                    ng-bind="row.protocol"
                    sortable="'protocol'"
                    filter="{protocol: 'text'}">
                </td>
                <td data-title="'Open'"
                    class="force-wrap em8"
                    header-class="'em8'"
                    sortable="'active'"
                    filter="{active: 'select'}"
                    filter-data="$ctrl.options.is_active">
                    <i ng-hide="row.active"
                       uib-tooltip="Port is closed"
                       tooltip-placement="bottom"
                       class="fa fa-times-circle red-txt"
                       aria-hidden="true"
                       name="portIsClosed"></i>
                    <i ng-show="row.active"
                       uib-tooltip="Port is open"
                       tooltip-placement="bottom"
                       class="fa fa-check green-txt"
                       aria-hidden="true"
                       name="portIsOpen"></i>
                </td>
                <td data-title="'Status'"
                    class="force-wrap em18"
                    header-class="'em18'"
                    sortable="'status'"
                    filter="{'status': 'text'}">

                    <div class="btn-group btn-group-sm"
                         uib-dropdown
                         uib-tooltip="{{(row.status==='remediation confirmed'  || $ctrl.gdata.isOperator|| $ctrl.selectedRun.id !== -1) ? '':$ctrl.selectTooltip(row.status)}}"
                         selection-model-ignore>
                        <select ng-if="!(row.status ==='remediation confirmed' || $ctrl.gdata.isOperator) && $ctrl.selectedRun.id === -1"
                                ng-model="$ctrl.currentStatuses[row.id]"
                                class="form-control"
                                ng-options="status as $ctrl.titleCase(status) for status in $ctrl.portsStatuses"
                                ng-change="$ctrl.setResponse($ctrl.currentStatuses[row.id],row.id)">
                        </select>
                        <div ng-if="row.status==='remediation confirmed' || $ctrl.gdata.isOperator || $ctrl.selectedRun.id !== -1"
                             ng-bind="$ctrl.titleCase(row.status)"
                             uib-tooltip="{{$ctrl.selectTooltip(row.status)}}">
                        </div>
                    </div>
                </td>
                <td data-title="'Last Update'"
                    class="force-wrap em10"
                    header-class="'em10'"
                    sortable="'last_update'"
                    ng-bind="row.last_update ? $ctrl.moment(row.last_update).format('MM/DD/YYYY'):''">
                </td>
                <td data-title="'SANS Top 10 Ranking'"
                    class="force-wrap em16"
                    header-class="'em16'"
                    ng-bind="row.sansTop10Ranking"
                    sortable="'sansTop10Ranking'"
                    filter="{'sansTop10Ranking': 'text'}">
                </td>
                <td class="filler"
                    header-class="'filler'">
                </td>
            </tr>
        </tbody>
    </table>
</div>