<div class="inmodal">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$close()"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title"
            ng-bind="modalTitle"></h4>
    </div>
    <div class="modal-body">
        <div class="table">
            <div class="row"
                 ng-repeat="result in results">
                <div class="col-xs-12"
                     ng-bind="result"></div>
            </div>
            <div ng-if="results.length ===0">
                <h3>No analysis results.</h3>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset"
                class="btn"
                ng-click="close()">Close</button>
    </div>
</div>