<div class="inmodal" cg-busy="logs.$promise">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$close()"
                aria-hidden="true">&times;</button>
        <button type="button"
                class="pull-right btn btn-primary mt5 mr10"
                uib-btn-checkbox
                ng-model="allOpen"
                ng-change="toggleAll()"
                ng-bind="(allOpen?'Close':'Open') + ' all'"></button>
        <h4 class="modal-title"
            ng-bind="'Logs for ' + task.name"></h4>
    </div>
    <div class="modal-body">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default" ng-repeat="log in logs track by log.id" is-open="log.open">
                <uib-accordion-heading>
                    <span ng-if="!log.logs.length">No logs from</span>
                    <span>{{log.celery_task}} at {{log.created_at | amUtc | amLocal | amDateFormat:'lll'}}</span>
                </uib-accordion-heading>
                <pre class="mb0 mt15" style="max-height: 80vh"
                     ng-bind="log.logs"
                     ng-if="log.logs.length > 0"></pre>
            </div>

        </uib-accordion>
    </div>
    <div class="modal-footer">
        <button class="btn"
                ng-click="$close()">Close</button>
    </div>
</div>