<div class="inmodal">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$close()"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title"
            ng-bind="modalTitle"></h4>
    </div>
    <div class="modal-body">
        <div class="table">
            <div class="row"
                 ng-repeat="t in lockingTargets">
                <div class="col-xs-12">
                    <a target="_blank"
                       ng-bind="t.value"
                       ui-sref="cato.loggedIn.operator({operation_id: t.owner})"></a>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="reset"
                class="btn"
                ng-click="close()">Close</button>
    </div>
</div>