<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$close()"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title"
            ng-bind="modalTitle"></h4>
    </div>
    <form name="taskparametersform"
          class="form"
          ng-submit="submitTask()">
        <div class="modal-body">
            <div class="panel-body">
                <div class="form-group">
                    <div class="paramTemplateList"
                         ng-hide="readonly || editingTemplate">
                        <div ng-if="paramTemplates.length > 1">
                            <label class="text-capitalize"
                                   for="taskparametertemplatename">
                                <span>Parameter Templates:</span>
                            </label>
                            <select name="taskparametertemplatename"
                                    id="taskparametertemplatename"
                                    ng-model="selectedParamTemplate"
                                    ng-change="update(selectedParamTemplate)"
                                    class="form-control">
                                <option ng-repeat="template in paramTemplates"
                                        ng-selected="template.id == selectedTemplate"
                                        value="{{template.id}}">{{template.name}}</option>
                            </select>
                            <hr />
                        </div>
                    </div>
                    <div class="form-group" ng-if="editingTemplate">
                        <label class="control-label">Template Name:</label>
                        <input class="form-control" type="text" ng-model="task.name"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Parameters:</label>
                        <div class="well">
                            <task-parameters task="task"
                                             parameters="task.accepted_parameters"
                                             form="taskparametersform"
                                             readonly="readonly">
                            </task-parameters>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn"
                    ng-if="editingTemplate"
                    ng-click="save(false)">Save Edit</button>
            <button type="button"
                    class="btn"
                    ng-click="save(true)">Save as New</button>
            <button type="reset"
                    class="btn"
                    ng-click="cancel()">{{::readonly||editingTemplate?'Close':'Cancel'}}</button>
            <button type="submit"
                    class="btn btn-primary formSubmit"
                    ng-disabled="taskparametersform.$invalid"
                    ng-if="!readonly && !editingTemplate">Start</button>
        </div>
    </form>
</div>