<div class="inmodal">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$close()"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title"
            ng-bind="Phishing Preview"></h4>
    </div>
    <div class="modal-body">
        <iframe></iframe>
    </div>
    <div class="modal-footer">
        <button type="reset"
                class="btn"
                ng-click="cancel()">Close</button>
    </div>
</div>