<div class="inmodal"
     cg-busy="submission">
    <form name="taskparameterssaveform"
          class="form"
          ng-submit="saveTemplate()">
        <div class="modal-body">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Parameter Template Name:</label>
                    <div class="well">
                        <input type="text"
                               name="taskparametersave-name"
                               ng-model="currentName"
                               class="form-control"
                               ng-required="param.required" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset"
                    class="btn"
                    ng-click="cancel()">Cancel</button>
            <button type="submit"
                    class="btn btn-primary formSubmit">Save</button>
        </div>
    </form>
</div>