<div id="operation">
    <div ng-if="data.operation.tasks.length == 0">
        Operation has no tasks associated with it.
    </div>
    <div class="table-responsive p5"
         ng-if="data.operation.tasks.length > 0">
        <table class="table table-striped dropparent">
            <thead>
                <tr>
                    <th>ORDER</th>
                    <th>TASK</th>
                    <th>TYPE</th>
                    <th>STATUS</th>
                    <th>LOG TIME</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in data.operation.tasks | orderBy:'order'"
                    ngf-drop="upload($file, task)"
                    ngf-drop-disabled="!allowUpload(task, data.operation)"
                    ng-class="{dropzone: task.showUpload, dropdisabled: !allowUpload(task, data.operation),
                'task-active': taskActive(task), 'task-dirty': taskDirty(task), 'task-success': taskSuccess(task)}">

                    <td ng-bind="task.order"></td>
                    <td class="capitalize"
                        ng-bind="task.name"></td>
                    <td class="capitalize"
                        ng-bind="task.process"></td>
                    <td class="capitalize"
                        ng-bind="task.status"></td>
                    <td>
                        {{ taskTimeLogged(taskActive(task) ? -(task.started | amDifference:null:'seconds') : (task.logged || 0)) }}
                        <!--<i class="fa fa-pause" aria-hidden="true" ng-click="pauseTask(task.id)"></i>-->
                        <span class='btn transparent'
                              uib-tooltip="{{startTaskButtonDisabled(data.operation, task)}}"
                              ng-disabled="startTaskButtonDisabled(data.operation, task)"
                              ng-click="startTask(data.operation, task, data.operation.target)">
                            <i class="fa fa-play"
                               aria-hidden="true"></i>
                        </span>
                        <span class='btn transparent'
                              uib-tooltip="{{stopTaskButtonDisabled(data.operation, task)}}"
                              ng-disabled="stopTaskButtonDisabled(data.operation, task)"
                              ng-click="stopTask(data.operation, task)">
                            <i class="fa fa-stop"
                               aria-hidden="true"></i>
                        </span>
                        <span class='btn transparent'
                              ng-if="showForceStopTaskButton(task)"
                              ng-click="forceStopTask(data.operation.id, task)">
                            <i class="fa fa-close"
                               aria-hidden="true"></i>
                        </span>
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <a ng-if="showWikiLink"
                               class="btn btn-white lt-orange"
                               target="_tab"
                               ng-href="/wiki/task/{{task.url}}"
                               uib-tooltip="Click here for the documented procedure">
                                <i class="fa fa-info-circle"
                                   aria-hidden="true"></i>
                            </a>
                            <a ng-if="task.showUpload"
                               class="btn btn-white lt-orange"
                               ngf-select="upload($file, task)"
                               ngf-select-disabled="!allowUpload(task, data.operation)"
                               ng-disabled="!allowUpload(task, data.operation)"
                               uib-tooltip="Click here to upload tool output">
                                <i class="fa fa-upload"
                                   aria-hidden="true"></i>
                            </a>
                            <a ng-if="task.showUpload && task.binary_input && allowUpload(task, data.operation)"
                               class="btn btn-white lt-orange binary-toggle-btn"
                               ng-click="task.uploadText = !task.uploadText"
                               uib-tooltip="Toggle uploading as binary (currently {{task.uploadText?'text':'binary'}})">
                                <i class="fa fa-toggle-{{task.uploadText?'off':'on'}}"
                                   aria-hidden="true"></i>
                                <span>010</span>
                            </a>
                            <a ng-if="task.accepted_parameters.length > 0"
                               ng-disabled="task.status == 'unstarted'"
                               class="btn btn-white lt-orange"
                               ng-click="viewParameters(task)"
                               uib-tooltip="View task parameters">
                                <i class="fa fa-eye"
                                   aria-hidden="true"></i>
                            </a>
                            <a ng-if="task.logs"
                               class="btn btn-white lt-orange"
                               ng-click="viewLogs(task)"
                               uib-tooltip="View task logs"
                               tooltip-append-to-body="true">
                                <i class="fa fa-file-text-o"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>