<script type="text/ng-template"
        id="headerCheckbox">
    <input ng-show="gdata.isOperator" type="checkbox" ng-model="data.allFindingsSelected" ng-click="selectAllFindings()">
</script>
<table id="findings-table" ng-table="findingsTable"
       class="table">
        <tr ng-repeat-start="finding in data.findings track by finding.id"
            selection-model
            selection-model-mode="'multiple-additive'"
            selection-model-type="'checkbox'"
            selection-model-selected-items="data.selectedFindings"
            selection-model-cleanup-strategy="'deselect'"
            selection-model-ignore="!gdata.isMissionDirector && finding.state == 'approved'"
            selection-model-on-change="checkCanBeSelected(finding)"
            ng-attr-id="finding-{{finding.id}}">

            <td class="center-align" header="'headerCheckbox'">
                <input type="checkbox" ng-show="gdata.isOperator"
                       ng-disabled="!gdata.isMissionDirector && finding.state == 'approved'">
            </td>
            <td data-title="'\uf024'"
                header-title="'State'"
                header-class="'fa-with-defaults'"
                sortable="'state'"
                class="force-wrap center-align">
                <span uib-tooltip="{{finding.state.toUpperCase()}}"
                      ng-class="'label-'+finding.state">
                </span>

                <span uib-tooltip="FOLLOW-UP REQUESTED">
                    <i ng-if="finding.followup_requested"
                       class="fa fa-calendar-check-o"
                       style="color:blue"></i>
                </span>
            </td>
            <td data-title="'SUBJECT'"
                sortable="'title'"
                class="force-wrap">
                <a ui-state="findingDetailState"
                   ui-state-params="{finding_id:finding.id}"
                   ng-click="findingDetailLinkClicked($event, finding)"
                   ng-bind="finding.title"
                   selection-model-ignore>
                </a>
                <a ng-if="!operationDetailPage && gdata.isOperator"
                   ui-state="findingLinkState"
                   ui-state-params="{operation_id: finding.operation.id || finding.operation, finding_id:finding.id, service_name: finding.service.short_name, campaign_id: finding.operation.campaign}"
                   selection-model-ignore>
                    <i class="fa fa-external-link"
                       aria-hidden="true"></i>
                </a>
            </td>
            <td data-title="'SEVERITY'"
                sortable="'severity'"
                class="center-align">
                <span class="label label-sm"
                      ng-class="'label-'+getSeverityLevel(finding.severity).toLowerCase()"
                      ng-bind="getSeverityLevel(finding.severity)">
                </span>
            </td>
            <td data-title="'CVSS'"
                sortable="'cvss_base'"
                class="center-align"
                ng-bind="finding.cvss_base"></td>
            <td data-title="'TARGET'"
                sortable="'discovered_target__value,target__value,metatarget__name'"
                style="{{!operationDetailPage ? 'min-width: 150px' : ''}}"
                class="center-align force-wrap">
                <target-icon type="getDisplayTargetType(finding)" ng-show="{{ getDisplayTargetType(finding) !== undefined }}" class="mr5"></target-icon>
                <span ng-bind="getDisplayTarget(finding)"></span>
            </td>
            <td data-title="'ADDED'"
                header-title="'Date Added'"
                sortable="'added'"
                class="center-align">
                <span am-time-ago="finding.added"
                      uib-tooltip="{{finding.added | amUtc | amLocal | amDateFormat:'lll'}}">
                </span>
            </td>
            <!--<td class="center-align">
                <span ng-bind="finding.messages.length"></span>
            </td>-->
            <!--<td>
            <button class="btn btn-sm"
                    ng-click="openShareFinding(finding)"
                    selection-model-ignore>
                <i class="fa fa-share-alt"></i>
            </button>
        </td>-->
        </tr>
        <tr ng-repeat-end="">
            <td class="p15 white-bg borderNone"
                ng-if="(''+finding.id) === (''+$state.params.finding_id)"
                selection-model-ignore
                colspan="7">
                <div ng-include="'/app/operator/operationDetailFindingDetail.html'"></div>
            </td>
        </tr>
</table>
