<div ui-view="addOperation"
     operation-saved="operationSaved"
     operation="operationLoading || finding.operation"
     finding="finding"></div>
<div ui-view="editFinding"></div>

<div cg-busy="finding.$promise"
     id="op-finding-{{finding.id}}">
    <div class="bs4 row">
        <div class="col-3">
            <strong>CATEGORY:</strong>
        </div>
        <div class="col">
            <span ng-bind="finding.category"></span>
        </div>
    </div>
    <div class="bs4 row"
         ng-if="gdata.isOperator">
        <div class="col-3">
            <strong>OPERATOR:</strong>
        </div>
        <div class="col force-wrap">
            <span ng-bind="finding.operator.first_name"></span>
            <span ng-bind="finding.operator.last_name"></span>
        </div>
    </div>
    <div class="bs4 row">
        <div class="col-3">
            <strong>ADDED:</strong>
        </div>
        <div class="col">
            <span am-time-ago="finding.added"
                  uib-tooltip="{{finding.added | amUtc | amLocal | amDateFormat:'lll'}}"></span>
        </div>
    </div>
    <div class="bs4 row">
        <div class="col-3">
            <strong>UPDATED:</strong>
        </div>
        <div class="col">
            <span am-time-ago="finding.updated"
                  uib-tooltip="{{finding.updated | amUtc | amLocal | amDateFormat:'lll'}}"></span>
        </div>
    </div>
    <div class="bs4 row"
         ng-if="finding.operation.appliance">
        <div class="col-3">
            <strong>APPLIANCE:</strong>
        </div>
        <div class="col"
             ng-bind="gdata.applianceMap[finding.operation.appliance].name"></div>
    </div>
    <div class="bs4 row"
         ng-if="!operationDetailPage">
        <div class="col-3">
            <strong>OPERATION:</strong>
        </div>
        <div class="col">
            <span ng-bind="finding.operation.name"
                  uib-popover="{{finding.operation.description}}"
                  popover-title="Operation Description:"
                  popover-trigger="'mouseenter'"
                  popover-placement="top-left"></span>
            <a ng-if="!gdata.isOperator"
               ui-state="findingLinkState"
               ui-state-params="{operation_id: finding.operation.id || finding.operation, finding_id:finding.id, service_name: finding.service.short_name, campaign_id: finding.operation.campaign}">
                <i class="fa fa-external-link"
                   aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="bs4 row"
         ng-if="gdata.isOperator">
        <div class="col-3">
            <strong>STATE:</strong>
        </div>
        <div class="col"
             ng-bind="finding.state.toUpperCase()"></div>
    </div>
    <div class="bs4 row"
         ng-if="finding.cvss_base !== 0">
        <div class="col-3">
            <strong>CVSS BASE:</strong>
        </div>
        <div class="col"
             ng-bind="finding.cvss_base"></div>
    </div>
    <div class="bs4 row"
         ng-if="finding.cvss_temporal !== 0">
        <div class="col-3">
            <strong>CVSS TEMPORAL:</strong>
        </div>
        <div class="col"
             ng-bind="finding.cvss_temporal"></div>
    </div>
    <div class="bs4 row"
         ng-if="finding.cvss_env !== 0">
        <div class="col-3">
            <strong>CVSS ENV:</strong>
        </div>
        <div class="col"
             ng-bind="finding.cvss_env"></div>
    </div>
    <div class="bs4 row"
         ng-if="finding.duplicate_count !== 0">
        <div class="col-3">
            <strong>DUPLICATE COUNT:</strong>
        </div>
        <div class="col"
             ng-bind="finding.duplicate_count"></div>
    </div>
    <div class="bs4 row"
         ng-if="finding.target">
        <div class="col-3">
            <strong>TARGET:</strong>
        </div>
        <div class="col force-wrap"
             name="target-field">
            <target-display [target]="targetMap[finding.target] || finding.target"></target-display>
        </div>
    </div>
    <div class="bs4 row"
         ng-if="finding.target && (targetMap[finding.target].cpe_human || finding.target.cpe_human)">
        <div class="col-3">
            <strong>CPE:</strong>
        </div>
        <span class="col">{{targetMap[finding.target].cpe_human || finding.target.cpe_human}}</span>
    </div>
    <div class="bs4 row"
         ng-if="finding.target && (targetMap[finding.target].hardware_address || finding.target.hardware_address)">
        <div class="col-3">
            <strong>HARDWARE ADDRESS:</strong>
        </div>
        <span class="col">{{targetMap[finding.target].hardware_address || finding.target.hardware_address}}</span>
    </div>
    <div class="bs4 row"
         ng-if="finding.discovered_target">
        <div class="col-3">
            <strong>DISCOVERED TARGET:</strong>
        </div>
        <div class="col force-wrap"
             name="discovered-target-field">
            <target-display [target]="targetMap[finding.discovered_target] || finding.discovered_target"></target-display>
        </div>
    </div>
    <div class="bs4 row"
         ng-if="finding.discovered_target && (targetMap[finding.discovered_target].cpe_human || finding.discovered_target.cpe_human)">
        <div class="col-3">
            <strong>DISCOVERED TARGET CPE:</strong>
        </div>
        <span class="col">{{targetMap[finding.discovered_target].cpe_human || finding.discovered_target.cpe_human}}</span>
    </div>
        <div class="bs4 row"
         ng-if="finding.discovered_target && (targetMap[finding.discovered_target].hardware_address || finding.discovered_target.hardware_address)">
        <div class="col-3">
            <strong>DISCOVERED TARGET HARDWARE ADDRESS:</strong>
        </div>
        <span class="col">{{targetMap[finding.discovered_target].hardware_address || finding.discovered_target.hardware_address}}</span>
    </div>
    <div class="bs4 row"
         ng-if="finding.references.length">
        <div class="col-3">
            <strong>REFERENCES:</strong>
        </div>
        <div class="col">
            <references-viewer references="finding.references"></references-viewer>
        </div>
    </div>
    <div class="bs4 row"
         ng-if="finding.description">
        <div class="col-3">
            <strong>DESCRIPTION:</strong>
        </div>
        <div class="col pre-wrap"
             ng-bind="finding.description"></div>
    </div>
    <div class="bs4 row"
         ng-if="finding.recommendation.recommendation_template.body_text.length > 0">
        <div class="col-3">
            <strong>RECOMMENDATION:</strong>
        </div>
        <div class="col">
            <b ng-bind="finding.recommendation.recommendation_template.body_text"></b>
            <br />
            <div ng-bind="finding.recommendation.body_values"
                 ng-if="finding.recommendation.body_values.length">
            </div>
        </div>
    </div>
    <div class="bs4 row"
         ng-if="finding.attachments.length > 0">
        <div class="col-3">
            <strong>ATTACHMENTS:</strong>
        </div>
        <div class="col">
            <attachment-list attachments="finding.attachments"></attachment-list>
        </div>
    </div>

    <div ng-if="gdata.isOperator">
        <button class="btn btn-primary mt15"
                ui-state="editFindingState"
                ui-state-params="{finding_id:finding.id}">
            <i class="fa fa-pencil-square-o"></i> Edit
        </button>
        <button class="btn btn-success mt15"
                ui-state="followUpOperationState"
                ui-state-params="{finding_id:finding.id}">
            <i class="fa fa-plus"></i> Add Follow-Up Operation
        </button>
        <button class="btn btn-black mt15 pull-right"
                ng-if="gdata.isMissionDirector"
                ng-click="deleteFinding(finding)">
            <i class="fa fa-trash"></i> Delete
        </button>
    </div>
    <div class="btn-group"
         ng-if="gdata.isCustomer">
        <button class="btn btn-white pull-right ml5"
                uib-tooltip="Retest"
                ng-click="retestFinding(finding)">
            <i class="fa fa-retweet"></i>
        </button>

        <button class="btn btn-white pull-right ml5"
                ng-if="!finding.archived"
                uib-tooltip="Archive"
                ng-click="archiveFinding(finding)">
            <i class="fa fa-archive"></i>
        </button>
        <button class="btn btn-white pull-right ml5"
                ng-if="finding.archived"
                uib-tooltip="Unarchive"
                ng-click="unarchiveFinding(finding)">
            <i class="fa fa-folder-open-o"></i>
        </button>
    </div>

    <div ng-repeat="message in data.findingMessages[finding.id] | orderBy:'created'"
         ng-include="'/app/message/messageThread.html'"
         class="col-sm-12">
    </div>
    <div class="col-md-12 message-row compose"
         ng-include="'/app/message/msgCompose.html'">
    </div>
</div>
