<table class="table">
    <tr>
        <td>
            <a ui-sref=".addUser"
               id="addUserOTab"
               class="green-txt pull-right mt5 mr15"> <i aria-hidden="true"
                   class="fa fa-plus"></i> Add a User</a>
        </td>
    </tr>
</table>
<div ng-if="gdata.isMissionDirectorOrAdmin">
    <table class="table table-striped"
           id="manage-operators">
        <tbody>
            <tr>
                <td colspan="8"
                    class="separator-hdr">
                    <h3 class="pull-left"><i class="fa fa-user-plus"
                           aria-hidden="true"></i> Operators</h3>
                    <div class="pull-right label-white">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Search Operators"
                                   ng-model="searchOperators">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <a href="#"
                       ng-click="opSortType = 'name'; opSortReverse = !opSortReverse">
                        <span ng-show="opSortType == 'name' && !opSortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="opSortType == 'name' && opSortReverse"
                              class="fa fa-caret-up"></span>
                        NAME
                    </a>
                </th>
                <th>
                    <a href="#"
                       ng-click="opSortType = 'username'; opSortReverse = !opSortReverse">
                        <span ng-show="opSortType == 'username' && !opSortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="opSortType == 'username' && opSortReverse"
                              class="fa fa-caret-up"></span>
                        USERNAME
                    </a>
                </th>
                <th>
                    <a href="#"
                       ng-click="opSortType = 'email'; opSortReverse = !opSortReverse">
                        <span ng-show="opSortType == 'email' && !opSortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="opSortType == 'email' && opSortReverse"
                              class="fa fa-caret-up"></span>
                        EMAIL
                    </a>
                </th>
                <th class="center">
                    <a href="#"
                       ng-click="opSortType = 'level'; opSortReverse = !opSortReverse">
                        <span ng-show="opSortType == 'level' && !opSortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="opSortType == 'level' && opSortReverse"
                              class="fa fa-caret-up"></span>
                        LEVEL
                    </a>
                </th>
                <th>
                    <a href="#"
                       ng-click="opSortType = 'last_login'; opSortReverse = !opSortReverse">
                        <span ng-show="opSortType == 'last_login' && !opSortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="opSortType == 'last_login' && opSortReverse"
                              class="fa fa-caret-up"></span>
                        LAST LOGIN
                    </a>
                </th>
                <th>
                    <a href="#"
                       ng-click="opSortType = 'date_joined'; opSortReverse = !opSortReverse">
                        <span ng-show="opSortType == 'date_joined' && !opSortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="opSortType == 'date_joined' && opSortReverse"
                              class="fa fa-caret-up"></span>
                        DATE JOINED
                    </a>
                </th>
                <th class="center">
                    <a href="#"
                       ng-click="opSortType = 'is_active'; opSortReverse = !opSortReverse">
                        <span ng-show="opSortType == 'is_active' && !opSortReverse"
                              class="fa fa-caret-down"></span>
                        <span ng-show="opSortType == 'is_active' && opSortReverse"
                              class="fa fa-caret-up"></span>
                        ACTIVE?
                    </a>
                </th>
                <th>
                </th>
            </tr>
            <tr
                ng-repeat="operator in gdata.users| orderBy:opSortType:opSortReverse | filter:{type:'operator'}| filter:searchOperators"
                ng-class="{'inactive': !operator.is_active}">
                <td ng-bind="operator.first_name + ' ' + operator.last_name"></td>
                <td ng-bind="operator.username"></td>
                <td ng-bind="operator.email"></td>
                <td class="center"
                    ng-bind="operator.level"></td>
                <td ng-bind="operator.last_login | date:'MM/dd/yyyy H:mm'"></td>
                <td ng-bind="operator.date_joined | date:'MM/dd/yyyy H:mm'"></td>
                <td class="center">
                    <button class="btn btn-white"
                            ng-disabled="!gdata.isMissionDirectorOrAdmin"
                            ng-click="toggleActive(operator)">
                        <i ng-if="operator.is_active"
                           uib-tooltip="Deactivate"
                           class="fa fa-check green"></i>
                        <i ng-if="!operator.is_active"
                           uib-tooltip="Activate"
                           class="fa fa-times-circle red"></i>
                    </button>
                </td>
                <td class="txt-right nobreak">
                    <actions actions="operatorActions"
                             target="operator">
                    </actions>
                </td>
            </tr>
        </tbody>
    </table>
</div>
