<div class="row">
    <div class="col-sm-12 section-hdr drk-gray-bg">
        <ol class="breadcrumb">
            <li>
                <a ui-sref="cato.loggedIn.dashboard">Dashboard</a>
            </li>
            <li>
                <a
                   ui-sref="cato.loggedIn.dashboard.operations.optable({customer:data.operation.customer})">Operations</a>
            </li>
            <li class="active">
                <strong>Operation Detail</strong>
            </li>
        </ol>
        <div class="section-title">OPERATION DETAIL
            <!--: {{operation.subject}}-->
        </div>
    </div>
</div>
<!-- /row -->

<div class="wrapper wrapper-content"
     cg-busy="{promise: operationLoading, message: busyMessage}">
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox">
                <div class="ibox-title">
                    <div ng-show="results.message"
                         class="alert alert-success fadein fadeout show alert-dismissible"
                         role="alert">
                        <button type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 ng-bind="results.message"></h3>
                    </div>
                    <actions actions="actions"
                             class="pull-right "
                             target="data.operation"></actions>

                    <div class="row mt10 mb10"
                         ng-if="operation.state === 'fix up'">
                        <div class="col-md-12">
                            <p ng-bind="operation.reasoning"></p>
                        </div>
                    </div>
                    <h2><i class="fa fa-building"></i> {{gdata.customerMap[data.operation.campaign.customer].name}}</h2>
                    <h3 ng-class="dangerClass()">{{data.operation.name}}<span class="text-danger"
                              ng-if="isCanceled()">: CANCELED</span></h3>
                    <h5 ng-class="dangerClass()">{{data.operation.description}}</h5>
                </div>
                <!-- /ibox-title -->

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><strong>OP ID:</strong></td>
                                        <td ng-bind="data.operation.id"></td>
                                    </tr>
                                    <tr>
                                        <td><strong>CATEGORY:</strong></td>
                                        <td ng-bind="data.operation.template.service.name"></td>
                                    </tr>
                                    <tr>
                                        <td><strong>CAMPAIGN:</strong></td>
                                        <td ng-bind="data.operation.campaign.title"></td>
                                    </tr>
                                    <tr>
                                        <td><strong>FINDINGS:</strong></td>
                                        <td ng-bind="data.count"></td>
                                    </tr>
                                    <tr ng-if="data.operation.target.type === 'ipaddress'">
                                        <td><strong>NETWORK:</strong></td>
                                        <td>
                                            <table>
                                                <tr ng-repeat="netname in getNetworks()"
                                                    class="row">
                                                    <td ng-bind="netname"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr
                                        ng-if="(availableAppliances.length > 1 && !data.operation.started) || data.operation.appliance.name">
                                        <td><strong>APPLIANCE:</strong></td>
                                        <td ng-if="data.operation.started"
                                            ng-bind="data.operation.appliance.name"></td>
                                        <td ng-if="!data.operation.started">
                                            <a href="#"
                                               editable-select="appliance"
                                               onaftersave="changeAppliance(appliance)"
                                               e-ng-options="appliance as appliance.name for appliance in availableAppliances track by appliance.id"
                                               e-ng-model="appliance"
                                               e-name="appliance"
                                               class="editable editable-click">
                                                {{data.operation.appliance.name || 'Select an appliance'}}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-show="!data.operation.metatarget">
                                        <td><strong>TARGET:</strong></td>
                                        <td ng-show="data.operation.started">
                                            <a ui-sref=".operatorTargetDetails({id: target.id})"
                                               ng-if="target.id">
                                                <target-display uib-tooltip="{{data.operation.target.type}}" [target]="data.operation.target"></target-display>
                                            </a>
                                            <i class="fa fa-lock"
                                               ng-if="data.operation.target.locked"></i>
                                            <span class="ml10"
                                                  ng-if="target.hardware_address"
                                                  tooltip-placement="right"
                                                  uib-tooltip="Hardware Address">({{target.hardware_address}})</span>
                                        </td>
                                        <td ng-show="!data.operation.started"
                                            class="targetSelectorForm">
                                            <a ui-sref=".operatorTargetDetails({id: target.id})"
                                               ng-if="target.id">
                                                <target-icon type="target.type"></target-icon>
                                            </a>
                                            <span tooltip-placement="right"
                                                  uib-tooltip="{{target.type}}"
                                                  editable-select="target"
                                                  onaftersave="changeTarget()"
                                                  e-ng-options="(s.value + (s.locked?' (locked)':'')) group by s.type disable when !s.active  for s in availableTargets | applianceZoneOrExternal:data.operation.appliance:data.operation.customer.id | orderBy:['type','-active','locked','value'] track by s.id"
                                                  e-ng-model="target"
                                                  e-name="target"
                                                  class="editable editable-click">
                                                {{data.operation.target.value || 'Add a target'}}
                                            </span>
                                            <i class="fa fa-lock"
                                               ng-if="data.operation.target.locked"></i>
                                        </td>
                                    </tr>
                                    <tr ng-show="!data.operation.target">
                                        <td><strong>METATARGET:</strong></td>
                                        <td ng-show="data.operation.started">
                                            <span tooltip-placement="right"
                                                  uib-tooltip="{{data.operation.metatarget.type}}"
                                                  ng-bind="data.operation.metatarget.name"></span>
                                            <i class="fa fa-lock"
                                               ng-if="data.operation.metatarget.locked"></i>
                                        </td>
                                        <td ng-show="!data.operation.started"
                                            class="targetSelectorForm">
                                            <a href="#"
                                               tooltip-placement="right"
                                               uib-tooltip="{{metatarget.type}}"
                                               editable-select="metatarget"
                                               onaftersave="changeMetaTarget()"
                                               e-ng-options="(s.name + ' (' + s.targets.length + ')' + (s.locked?' (locked)':'')) group by s.type disable when !s.active for s in availableMetaTargets | applianceZoneOrExternal:data.operation.appliance:data.operation.customer.id | orderBy:['type','-active','locked','name'] track by s.id"
                                               e-ng-model="metatarget"
                                               e-name="metatarget"
                                               class="editable editable-click">
                                                {{data.operation.metatarget.name || 'Add a metatarget'}}
                                            </a>
                                            <i class="fa fa-lock"
                                               ng-if="data.operation.metatarget.locked"></i>
                                        </td>
                                    </tr>
                                    <tr ng-if="data.operation.target.locked">
                                        <td>
                                            <strong tooltip-placement="right"
                                                    uib-tooltip="Operation which is currently utilizing target {{data.operation.target.value}}">
                                                TARGET OWNER:
                                            </strong>
                                        </td>
                                        <td>
                                            <a ng-if="data.operation.target.owner"
                                               ui-sref="cato.loggedIn.operator({operation_id: data.operation.target.owner})">Operation
                                                {{data.operation.target.owner}}</a>
                                            <span ng-if="!data.operation.target.owner">None</span>
                                        </td>
                                    </tr>
                                    <tr ng-if="data.operation.startedBy">
                                        <td>
                                            <strong class="nowrap">
                                                ASSIGNED TO:
                                            </strong>
                                        </td>
                                        <td>
                                            <span ng-bind="gdata.operators[data.operation.startedBy].username"
                                                  tooltip-placement="right"
                                                  uib-tooltip="Operation is currently assigned to {{gdata.operators[data.operation.startedBy].first_name}} {{gdata.operators[data.operation.startedBy].last_name}}"></span>
                                        </td>
                                    </tr>
                                    <tr ng-if="data.operation.startedOn">
                                        <td>
                                            <strong class="nowrap">
                                                STARTED:
                                            </strong>
                                        </td>
                                        <td>
                                            <span am-time-ago="data.operation.startedOn"
                                                  uib-tooltip="{{data.operation.startedOn | amUtc | amLocal | amDateFormat:'lll'}}"></span>
                                        </td>
                                    </tr>
                                    <tr ng-if="lockingTargets.length > 0">
                                        <td>
                                            <strong tooltip-placement="right"
                                                    uib-tooltip="Targets currently locking the meta-target">
                                                LOCKING TARGET(S):
                                            </strong>
                                        </td>
                                        <td ng-if="lockingTargets.length > 3">
                                            <a ng-click="showLockingTargets(lockingTargets)"
                                               ng-bind="lockingTargets.length"></a>
                                        </td>
                                        <td ng-if="lockingTargets.length <= 3">
                                            <span ng-repeat="t in lockingTargets">
                                                <a target="_blank"
                                                   ui-sref="cato.loggedIn.operator({operation_id: t.owner})"
                                                   ng-bind="t.value"></a>{{$last ? '' : ', '}}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /col-sm-6 -->

                        <div class="col-sm-6 text-center">
                            <p class="operator-bot-border">
                                <strong tooltip-placement="right"
                                        uib-tooltip="Total time worked on tasks">TOTAL TIME WORKED</strong><br />
                                <span class="overall-time"
                                      ng-bind="taskTimeLogged(data.operation.logged || 0)"></span>
                            </p>
                            <p>

                                <button class="btn btn-primary"
                                        ng-show="data.operation.state !== 'completed'"
                                        ng-disabled="isStateButtonDisabled(data.operation)"
                                        ng-click="assignAndStartOrPauseOp(data.operation)">{{ getStateButtonLabel() }}</button>
                            </p>
                            <p>
                                <!-- XXX: right now,  & new means it's been approved and started. -->
                                <!-- because we don't use the scheduled state yet. -->
                                <button class="btn btn-primary"
                                        ng-show="data.operation.state !== 'completed'"
                                        ng-disabled="isSubmitButtonDisabled(data.operation)"
                                        ng-click="stopOp(data.operation.id)">
                                    <span ng-if="data.operation.state === 'review' && !data.findingsContainNew">
                                        Operation under review
                                    </span>
                                    <span ng-if="(data.operation.state !== 'review' &&  data.operation.state !== 'completed') ||
                                                         (data.operation.state === 'review' && data.findingsContainNew)">
                                        Submit for review
                                    </span>
                                </button>

                            </p>
                        </div>
                        <!-- /col-sm-6 -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <uib-progress>
                                <uib-bar ng-repeat="state in enabledStates track by $index"
                                         value="interval"
                                         max=100
                                         class="uppercase progress-bar {{stateClass(state.label, data.operation.state)}}">
                                    {{state.label}}</uib-bar>
                            </uib-progress>
                        </div>
                    </div>
                    <div class="row"
                         ng-if="viewRejected()">
                        <div class="col-md-12">
                            <h3 class="text-danger">REJECTION REASON: {{data.operation.reasoning}}</h3>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /ibox-content -->
            </div>
            <!-- /ibox float-e-margins -->

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>OPERATION TASK DETAILS
                        <span ng-if="data.operation.tasks[0].process != automated">
                            <button class="btn btn-primary"
                                    ng-disabled="!(data.operation.active && data.operation.state === 'in progress' && data.operation.target.value !== undefined)"
                                    uib-popover-template="'accessOperationVM.html'">
                                <i class="fa fa-desktop"
                                   aria-hidden="true"></i>
                            </button>
                        </span>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <!-- /ibox-title -->

                <div class="ibox-content">
                    <div ng-show="showStartTasks"
                         class="alert alert-warning fadein fadeout show alert-dismissible"
                         role="alert">
                        <button type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3>Don't forget to start your task(s) below!</h3>
                    </div>
                    <div ng-show="showStopTasks"
                         class="alert alert-warning fadein fadeout show alert-dismissible"
                         role="alert">
                        <button type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3>Completed your manual task? Don't forget to stop it to mark it as <i>finished</i>.</h3>
                    </div>
                    <div ng-include="'/app/operator/operationTaskDetails.html'"></div>
                </div>
                <!-- /ibox-content -->
            </div>
            <!-- /ibox float-e-margins -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>RAW OUTPUT</h5>
                        </div>
                        <div class="ibox-content" cg-busy="toolOutputs.$promise">
                            <div class="clearfix sticky-actions-top">
                                <advanced-pagination total-items="toolOutputs.length"
                                                     current-page="toutCurrentPage"
                                                     items-per-page="toutItemsPerPage"
                                                     on-page-size-change="toutItemsPerPage = size"></advanced-pagination>
                            </div>
                            <uib-accordion close-others="oneAtATime">
                                <div uib-accordion-group heading="{{tout.application}} at {{tout.created_at | amUtc | amLocal | amDateFormat:'lll'}}"
                                                     ng-repeat="tout in toolOutputs | orderBy:'created_at':true | limitTo:toutItemsPerPage:(toutCurrentPage - 1) * toutItemsPerPage"
                                                     ng-click="loadOutput(tout)"
                                                     class="tooloutput panel-default">
                                    <dataviewer value="tout.result"
                                                name="tout.filename"
                                                cg-busy="tout.$promise"
                                                style="display: block"></dataviewer>
                                </div>
                            </uib-accordion>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>OPERATION NOTES
                    </h5>
                    <div ibox-tools></div>
                </div>
                <!-- /ibox-title -->

                <div class="ibox-content">
                    <button class="btn btn-primary"
                            ng-click="addNote(null, 'operation')">
                        Add Note
                    </button>

                    <div ng-repeat="note in data.operation.notes | orderBy:'added': true">
                        <pre style="white-space: pre-wrap; word-break: keep-all;"><code>{{note.content}}</code></pre>
                        <i>By {{gdata.userMap[note.author].username}} on {{note.added}} <a
                               ng-if="gdata.isMissionDirector || user.id == note.author"
                               ng-click="addNote(note, 'operation')">Edit</a> | <a ng-if="user.id == note.author"
                               ng-click="deleteOperationNote(note)">Delete</a></i>
                        <br /><br />
                    </div>
                </div>
                <!-- /ibox-content -->
            </div>

            <div class="ibox float-e-margins"
                 ng-show="data.operation.metatarget || data.operation.target">
                <div class="ibox-title">
                    <h5 ng-show="data.operation.target">TARGET NOTES</h5>
                    <h5 ng-show="data.operation.metatarget">METATARGET NOTES</h5>
                    <div ibox-tools></div>
                </div>
                <!-- /ibox-title -->

                <div class="ibox-content">
                    <button class="btn btn-primary"
                            ng-click="addNote(null, 'target')">
                        Add Note
                    </button>

                    <div ng-repeat="note in targetnotes | orderBy:'added': true">
                        <pre style="white-space: pre-wrap; word-break: keep-all;"><code>{{note.content}}</code></pre>
                        <i>By {{gdata.userMap[note.author].username}} on {{note.added}} <a
                               ng-if="user.id == note.author"
                               ng-click="addNote(note, 'target')">Edit</a> | <a ng-if="user.id == note.author"
                               ng-click="deleteTargetNote(note)">Delete</a></i>
                        <br /><br />
                    </div>
                </div>
                <!-- /ibox-content -->
            </div>

        </div>
        <!-- /col-sm-7 -->

        <div class="col-lg-5">
            <!--<div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Vulnerability Distribution by CVSS Scores</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <p>Graph to come</p>
                    </div>
                </div>
                </div>
                </div>
            -->
            <!-- /row -->
            <div class="row"
                 id="operation-findings">
                <ui-view></ui-view> <!-- for modal sub-states -->

                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>FINDINGS</h5>
                            <!-- <div ibox-tools></div> -->
                            <a class="pull-right green-txt"
                               ui-sref=".addFinding"
                               ng-hide="!data.operation.active || data.operation.state === 'requested'">
                                <i aria-hidden="true"
                                   class="fa fa-plus"></i> Add a Finding
                            </a>
                        </div>
                        <div class="ibox-content"
                             style="padding-right: 5px; padding-left: 5px;"
                             ng-include="'/app/finding/findingsTabContent.html'"
                             ng-controller="FindingsTabCtrl">
                        </div>
                        <!-- /ibox-content -->
                    </div>
                    <!-- /ibox float-e-margins -->
                </div>
                <!-- /col-sm-12 -->
            </div>
            <!-- /row -->
        </div><!-- /col-sm-5 -->
    </div>
    <!-- /row -->
</div>
<!-- /wrapper wrapper-content -->

<script type="text/ng-template"
        id="accessOperationVM.html">
    <div>Use the following value as your username and password to login to Guacamole.</div>
    <div class="form-group">
        <label>Credentials:</label>
        <input type="text" ng-model="data.operation.vmcreds" readonly="readonly" class="form-control">
    </div>
    <div><a href="/guacamole/" target="_blank">Login</a></div>
</script>