<div class="ibox float-e-margins"
     ng-controller="TtpCtrl">
    <div class="ibox-content"
         id="ttp">
        <div class="ibox-title">
            <div class="row">
                <div class="col-sm-12">
                    <h3>TTP</h3>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th data-toggle="true">ORDER</th>
                            <th>DESCRIPTION</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ttp in ttps">
                            <td ng-bind="ttp.order"></td>
                            <td ng-bind="ttp.description"></td>
                            <td><a ng-href="ttp.url">{{ttp.url}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>