/**
 * FIRST Theme stylesheet
 *
 * @author      Tecnodesign - Developer Team <ti@tcdesign.com.br>
 * @link        http://www.tcdesign.com.br/
 * @copyright   Tecnodesign
 * @version     SVN: $Id: firstwww.css 906 2013-08-03 17:24:57Z capile $
 */
html,body{background:#ffffff;margin:0}
h1,h2,h3,h4,h5,#headernav li, #sidenav li, #sitemap li,p,th,td,div,li{
  text-align:left;vertical-align:top;
  font-family: Lucida Sans,Lucida Grande,Lucida,Calibri,Helvetica,Arial,sans-serif;
  font-size:9.5pt;line-height:15pt;
}
p,th,td,div,li{font-family: Helvetica,'Helvetica Neue',Arial,sans-serif;}
h1{font-size:19pt;line-height:20pt;color:#339900;font-weight:normal;font-style:normal;margin:0 0 15pt 0;}
h2{color:#339900;font-size:14.75pt;font-weight:normal;margin:10pt 0}
h3{color:#339900;font-size:12pt;font-weight:normal;margin:10pt 0}
h4,p, .small h3{margin:5pt 0 10pt 0;font-size:9.5pt;line-height:15pt;}
ul,li{margin:0;padding:0;}
ul{padding:0 0 0 10pt;list-style-image:url('/_images/li.png');}
.label,.h2labels h2,.h3labels h3, .h4labels h4, #sitemap li{font-size:11pt;padding:2.5pt 5pt;line-height:15pt;margin:0;font-weight:normal}

/* smaller text */
.small, .small p, p.desc, li.date,#headernav ul ul li,#headernav ul ul a{font-size:8pt !important;line-height:12.5pt !important;margin:2.5pt 0 5 0}


img{border:none;}
a:visited{color:#694069;font-weight:bold; text-decoration:none;}
a:link{color:#336699;text-decoration:none;font-weight:bold}
a:hover,a:active{color:#ffa000;text-decoration:underline}

.clear{clear:both}
.alert, .alert p{ color: #990000; font-weight: bold; }
.alert strong{color: #660000 }
.stars {
  padding-left: 10px;
  letter-spacing: 4px;
  font-size: 150%;
  vertical-align:sub;
}
.width100 { width: 100% !important; }
.success{background:#f6fff0;padding:10px;border:1px solid #aabb99;}
.important{background:#fffff0;padding:10px;border:1px solid #bbbb99;}
.important p{margin:0 5px}

address { color: #444444; text-align: center; }
#header,#body,#footer{position:relative;z-index:1;}
.container{position:relative;margin:0 auto;max-width:1280px;min-width:750px;z-index:10;}
#body{margin-top:2px;border-top:1px solid #b2b2b2;padding:15px;}
#header,#footer{padding:0 15px;}

#header .overlay{width:100%;height:100%;top:0;left:0;z-index:1;position:absolute;background:url('/_images/pat.png?20130612') 0 -75px repeat;}
#header{height:175px;z-index:2}
#header{background:url('/_images/bkg1.jpg') center center repeat-x;}

#socialnetworks {position:absolute;right:0;white-space:nowrap;margin-top:7px;z-index:12;}
#socialnetworks a{display:inline-block;width:32px;height:32px;background:url('/_images/social-icons.png?v2') no-repeat;border:2px solid transparent;border-radius:8px;}
#socialnetworks a:hover,#socialnetworks a:active{border-color:#fff;text-decoration:none;background-color:#111;}
#socialnetworks a.twitter{background-position:0 0;}
#socialnetworks a.linkedin{background-position:-32px 0;}
#socialnetworks a.fb{background-position:-64px 0;}
#socialnetworks a.github{background-position:-96px 0;}
@media screen and (max-width: 928px) {
  #socialnetworks { top: 75px;}
  #socialnetworks a:hover,#socialnetworks a:active{border-color:#000;text-decoration:none;background-color:#fff;}
  #socialnetworks a.twitter{background-position:0 -32px;}
  #socialnetworks a.linkedin{background-position:-32px -32px;}
  #socialnetworks a.fb{background-position:-64px -32px;}
  #socialnetworks a.github{background-position:-96px -32px;}
}
#headernav{height:30px;position:relative;z-index:11;padding:0;margin-top:0px;min-width:750px;}
#headernav ul, #headernav li{list-style:none;margin:0;padding:0;display:block;position:relative;}
#headernav li{float:left;height:30px;font-size:11pt;line-height:30px;}
#headernav a,#headernav a:visited,#headernav a:link
{font-weight:normal;float:left;background:url('/_images/pat.png?20130612') 0 -1000px repeat-x;text-decoration:none;color:#fb8b00;padding:10px;line-height:30px;}
#headernav a:active,#headernav a:hover,#headernav a.display
{font-weight:normal;color:#ffffff;background:url('/_images/pat.png?20130612') 0 -450px repeat-x;line-height:30px;}
#headernav a.ancestor, #headernav a.ancestor:link, #headernav a.ancestor:visited
{font-weight:normal;background:url('/_images/pat.png?20130612') 0 -400px repeat-x;color:#ffffff;}
#headernav a.ancestor:hover, #headernav a.ancestor:active{font-weight:normal;color:#fb8b00;}
#headernav ul ul{display:none;position:absolute;top:49px;left:-2px;z-index:13;background:#e6cc99;border-left:2px solid #cc9933;width:175px;}
#headernav ul ul ul{top:0;left:175px;}
#headernav ul ul li,#headernav ul ul a{height:auto !important;float:none !important;display:block;margin:0}
#headernav ul ul a:link,#headernav ul ul a:visited{color:#666666;}
#headernav ul ul a:hover,#headernav ul ul a:active,#headernav ul ul a.display
{color:#ffffff !important;background:#cc9933}
#headernav ul ul a.arrows:link,#headernav ul ul a.arrows:visited{background:url('/_images/arrows.png') -250px 10px no-repeat;}
#headernav ul ul a.arrows:hover,#headernav ul ul a.arrows:active,#headernav ul ul a.arrows.display
{background:url('/_images/arrows.png') -40px 10px no-repeat #cc9933}
#headernav ul ul a.ancestor:link, #headernav ul ul a.ancestor:visited
{font-weight:normal;background:#ddaa44 !important;}
#headernav ul ul a.arrows.ancestor:link, #headernav ul ul a.arrows.ancestor:visited
{font-weight:normal;background:url('/_images/arrows.png') -250px 10px no-repeat #ddaa44 !important;}

#sidenav .borderb{border-bottom:1px solid #cccccc;}
#headernav .borderb{border-bottom:1px solid #663300;}

.logo{position:relative;z-index:2;left:-15px;}
.fader{position:absolute;width:800px;height:123px;left:-300px;top:0px;z-index:1;background:url('/_images/logo-fade.png') no-repeat;}
.home .logo img{margin:10px 10px 0 10px;border:none;width:180px;height:110px;}
.el-hide{display: none; line-height:0;}
.hidden{display:none;}

.lcol{position:relative;float:left;width:23%;margin-right:2%;}
.ccol{position:relative;float:left;width:50%;}
.rcol{position:relative;float:right;width:23%;}
.fcol{position:relative;float:left;width:73%}
.col1{float:left;width:48%;margin-right:2%;clear:both}
.col2{float:left;width:48%;}

.label a, .label a:link{color:#ffffff!important;text-decoration:none;}
.label a,.label a:link{color:#ffcc66;text-decoration:none;}

.h1black h1{color:#000000;}
.h1darkgray h1{color:#444444;}
.h1gray h1{color:#888888;}
.flright{float:right;}
.flleft{float:left;}
.toggle{position:absolute;right:0px;background:#e0e6e3;z-index:1;padding:2.5pt 5pt;}
.toggle a{color:#6699dd;}
.toggle a.active, .toggle a.active:hover { color:#444444; text-decoration: none; }
.toctoggle{color:#6699dd;font-weight:normal;float:right;}
.toctopic,.h2labels.h2toc h2,.h3labels.h3toc h3{margin-top:10pt;cursor:pointer;clear:both;}
.tocdesc{margin-bottom:10px;padding:1pt 5pt;background:#eceeed;}
.label,.h2labels h2,.h3labels h3, .h4labels h4, #sitemap li{background:#53aa33;color:#ffffff;margin:0;font-weight:normal}
.label.darkgreen, .h2labels.darkgreen h2, .h3labels.darkgreen h3, .h4labels.darkgreen h4, .h2labels h2.darkgreen, .h3labels h3.darkgreen{background:#308000;}
.label.greengray, .h2labels.greengray h2, .h3labels.greengray h3, .h4labels.greengray h4, .h2labels h2.greengray, .h3labels h3.greengray{background:#507660;}
.label.orange, .h2labels.orange h2, .h3labels.orange h3, .h4labels.orange h4, .h2labels h2.orange, .h3labels h3.orange{background:#fca233}
.label.purple, .h2labels.purple h2, .h3labels.purple h3, .h4labels.purple h4, .h2labels h2.purple, .h3labels h3.purple{background:#694069}
.label.darkblue { color: #fff; background: #023057; }

.field .label{background:none;color:#000000;font-weight:bold;font-family: Arial,sans-serif;font-size: 9.5pt;line-height: 15pt;text-align: left;display:inline-block;width:120px;}
p.field{margin:0;}
h3.orange{background:#fca233;margin-bottom:0 !important;}
h4.green {color:#339900;}
span.orange{color:#fca233}
.orange a:link, .orange a:visited{color:#fca233;font-weight:bold;text-decoration:none}
.purple a:link, .purple a:visited{color:#694069;font-weight:bold;text-decoration:none}
.blue, .blue .label{background:#33457d}
.blue a:link, .blue a:visited{color:#33457d;font-weight:bold;text-decoration:none}
.gray, .gray .label{background:#999999}
.gray a:link, .gray a:visited{color:#999999;font-weight:bold;text-decoration:none}
a.black:link, a.black:visited{color:#000000;font-weight:bold;text-decoration:none}
ul.links, ul.links li { list-style: none;}
ul.links {padding: 0;}

.lead{background:#e0e6e0;margin:0px;padding:5pt;}

.cdgray { color: #444444; }
.cgray { color: #666666; }
.bggray { background: #cccccc; }
.bclear { clear:both; line-height: 1px; font-size: 1px; height:1px; margin: 0 0; padding: 0 0;}
.dvclear { clear: both} /* for clear a div */
.top-return {padding-left: 15px;}
.toctopic > .top-return { display: none; }
.orange > .top-return { display: inline; }
.nobold {font-weight: normal;}


.imgresize{position:relative;overflow:hidden;}
.imgresize img{position:absolute;}
.map{background:url('/_images/map.png') center center no-repeat #f2f2f2;height:315px;width:100%}


.list{background:#f2f2f2;padding:.01em .75em 0 .75em;}
.list li,.list ul{margin:0 !important;padding:0 !important;}
.list .date{color:#666666;margin-top:7px !important;margin-left:1.1em !important;}
.thumb{float:left;margin:0 7px 5px 0}
.item{clear:both;font-size:.75em;padding:5px 0 7px 0;border-bottom:1px dotted #cdcdcd;min-height:56px;list-style:none !important;}
.item h3,.item p{margin:0;}
.end{position:relative;background:url('/_images/pat.png?20130612') 0 -500px repeat-x #ffffff; height:8px;border-top: 3px solid #ffffff;margin-top:-1px;}

.dlfloat {margin-bottom: 15px; width: 100%;}
.dlfloat dt { float:left; color: #666666; width: 15%; clear:both; font-family: Lucida Sans,Lucida Grande,Lucida,Calibri,Helvetica,Arial,sans-serif;}
.dlfloat dd {float: left; margin-bottom:10px; width:75%;}

#footer{font-size:.8em;margin-top:30px;position:relative;background:url('/_images/pat.png?20130612') 0 -825px repeat-x #f0f0f0;clear:both;}
#footer .container{padding:15px 0 30px 0}


.bnav{position:absolute;top:0;right:0;z-index:12;background:url('/_images/pat.png?20130612') 0 -750px repeat-x;padding:0;}
.bnav ul, .bnav li,.bnav form{margin:0;padding:0;display:inline-block;list-style:none;}m
.bnav li{position:relative;}
.bnav ul ul{top:-300px;opacity:0;width:150px;display:block;position:absolute;left:0;background:#000;background:rgba(0,0,0,0.7);border-left:2px solid #20a0d0;}
.bnav li:hover ul{top:30px;z-index:1;opacity:1;}
.bnav .icon.arrow-nav{display:inline-block;height:25px;width:25px;background:url('/_images/pat.png?20130612') -25px -790px no-repeat;vertical-align:middle;}
.bnav a:hover .icon.arrow-nav{background-position:0 -790px}
.bnav a{z-index:2;position:relative;font-size:.65em;font-weight:normal;background:url('/_images/pat.png?20130612') #000 5px -600px no-repeat;text-transform:uppercase;line-height:30px;padding:8px 15px 10px 35px;border-top:1px solid #000;text-decoration:none;}
.bnav li:hover >a {background-color:#223344;}
.bnav ul ul a{display:block;width:130px;line-height:10px;padding:10px;background:none;text-transform:none;font-size:11px;color:#34d2e1;}
.bnav a:link,.bnav a:visited{color:#ffffff;background-position:5px -600px;border:none;}
.bnav a:active,.bnav a:hover{color:#34d2e1;background-position:5px -625px;}

.bnav ul ul a:link,.bnav ul ul a:visited{color:#34d2e1;background:none;}
.bnav ul ul a:active,.bnav ul ul a:hover{color:#fff;background:#000;}

a.sitemap:visited,a.sitemap:link{background-position:5px -650px;}
a.sitemap:active,a.sitemap:hover{background-position:5px -675px;}

/*
button.search{position:absolute;width:21px;height:21px;border:none;top:5px;right:5px;padding:0;margin:0;background:none;}
button.search div{position:absolute;border:1px solid red;display:block;top:-12px;left:-3px;width:21px;height:21px;border:none;padding:0;margin:0;background:none;overflow:hidden;}
button.search img{border:none;position:absolute;top:-710px;left:0px;}
button.search:hover img,button.search:active img{left:-29px;}
*/
.bnav input{background:#909090;border:1px solid #666666;color:#666666;font-style:italic;height:20px;}
.bnav input:active,.bnav input:focus{background:#d0d0d0;color:#333333;font-style:normal;}
.search,.search:visited,.search:link{background:url('/_images/pat.png?20130612') 0px -710px no-repeat;position:absolute;display:block;top:4px;right:5px;width:21px;height:21px;padding:0px;}
.search:active,.search:hover{background-position:-29px -710px;}
.search:active{top:7px;right:3px;}

a.login{padding-right:0;}
a.login:visited,a.login:link{color:#34d2e1;background-position:5px -550px;}
a.login:active,a.login:hover{color:#ffffff;background-position:5px -575px;}

/**
 * About page stylesheet
 */
.menu a:link,.menu a:visited{color:#666668;text-decoration:none;}
.menu a:visited{color:#694069;}
.menu a:link{color:#336699;}
.menu a:hover,.menu a:active{color:#ffa000;text-decoration:underline}

.menu li li a{font-weight:normal;}
.menu li li li a:link,.menu li li li a:visited{color:#999999;}
.menu ul ul ul.ancestor a:link,.menu ul ul ul.ancestor a:visited{color:#556677 !important;}
#sidenav{background-color: #f2f2f2;margin: 0;padding: 10px 0px;}
#sitemap{margin: 0;padding: 10px 0px;}
.menu ul, .menu{list-style: none;padding: 0 0;margin: 0 0;}
.menu ul li{padding: 0 0 0 10px;margin: 0;clear: both;}
.menu ul li a{background: url('/_images/li.png') 0 5px no-repeat;display: block;margin: 0 0;padding: 0 0 0 12px;text-indent: 0;}
.dynamic a{background:none !important;}
.menu div{display:inline;}
.menu a {text-decoration: none;}
.menu li span{height: 11px;width: 16px;display: block;overflow: hidden;float: left;position: relative;margin-top: 4px;background: url('/_images/arrows.png') 0 -22px no-repeat !important;}
#sitemap .menu li span{margin-top: 9px;}
.menu li span img{height: 11px;width: 11px;}
.menu span.hasb{background: url('/_images/arrows.png') 0 0 no-repeat !important;}
.menu span.sopen{background: url('/_images/arrows.png') 0 -11px no-repeat !important;}
.menu ul li span a{background: none !important;}
#sidenav .current{color:#000033!important;}

#sitemap li a{color:#ffffff;padding:5px 10px}
#sitemap li li a{color:#000033;padding:5px}
#sitemap li li li{padding-left: 15px}
#sitemap li{color:#ffffff;padding:0;margin-bottom:10px;}
#sitemap li span{display:none}
#sitemap li li span{display:inline}
#sitemap li li{background:#f2f2f2;border-top:1px solid #c0c0cc;margin:0}
#sitemap .country{display:none}

.banner-next-evt { margin: 20px 0; text-align: center;}
.banner-next-evt img {border: none; vertical-align: middle;}


.siglogo{ text-align:left; background:#ffffff; padding:0 0 10pt 0; }
.siglogo img{ max-width:150px; }


.address{white-space:pre}

strong.tlp-red,span.tlp-red,strong.tlp-amber,span.tlp-amber,strong.tlp-green,span.tlp-green,strong.tlp-white,span.tlp-white{
  font-size:1.25em;display:inline-block;
}

strong.tlp-red,span.tlp-red{color:#ff0033;background:#000;}
strong.tlp-amber,span.tlp-amber{color:#ffc000;background:#000;}
strong.tlp-green,span.tlp-green{color:#33ff00;background:#000;}
strong.tlp-white,span.tlp-white{color:#fff;background:#000;}

.ol-letters ol {
  list-style-type:lower-latin;
}
/**
 * List of events (TC, Symposium and Conference)
 */
.list-events{
  clear:both;
  list-style: none;
  margin-top: 20px !important;
  padding: 0 0;
  width: 90%;
}
/*.list-events a:visited {text-decoration: none; }*/
.list-events li{
  border-top: 1px dotted #B0B0AF;
}
.list-events > li:first-child{
  border-top: none;
}
.list-events li div{
  margin-bottom: 15px;
}
.list-events h4{
  margin-bottom: 2px;
  margin-top: 15px;
  color:#339900;
  font-weight: normal;
}
.list-events p{
  margin: 0 0;
  padding: 0 0;
  font-size: 12px;
  line-height: 18px;
}

/**
 * Calendar of events
 */
.cmonth { 
  float:left;
  margin: 0 0;
  border: 1px solid #fff;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  background-color: #f6f6f6;
  min-height: 200px;
}
.caltable caption{
  background-color: #949595;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
  text-align:left;
}
.caltable tbody th{
  color: #7b7979;
  font-size: 11px;
  font-weight: normal;
}
.caltable tr{
  padding-left: 5px;
  padding-right: 5px;
}
.caltable td{
  color: #231f20;
  font-size:10px;
  width: 16px;
  text-align: center;
}
.thismonth{
  background-color: #f0f9f2;
}
.thismonth caption{
  background-color: #a9ddbb;
  font-weight: bold;
}
.today {
  color: #f17316 !important;
  font-weight: bold;
}
.hasevent{
  background-color: #f6f1f5;
}
.hasevent caption{
  background-color: #d5c3d4;
  font-weight: bold;
}

/**
 * Papers of events
 * @todo Finish the css
 */
.list-papers{
  clear:both;
  list-style: none;
  padding: 0 0;
}
.list-papers li{
  border-top: 1px dotted #B0B0AF;
  margin-bottom: 20px;
}
.list-papers > li:first-child{
  border-top: none;
}
.list-papers p{
  margin: 0 0;
  padding: 0 0;
  line-height: 18px;
}
.list-papers h4{
  margin-bottom: 2px;
  margin-top: 20px;
}
.list-papers div ul{
  margin-top: 10px;
}
.list-papers div ul li{
  margin: 0 0;
  border: none;
}
.paper-event h3{
  margin-bottom: 2px;
}
.paper-event p{
  margin: 0 0;
  padding: 0 0;
}
.paper-event ul{
  margin: 20px 0;
}
.paper-files {
  list-style: none;
  padding: 0 0;
}
.paper-files li{
  border-top: 1px dotted #B0B0AF;
  margin-bottom: 15px;
}
.paper-files li:first-child{
  border-top: none;
}
.paper-files h4{
  color:#339900;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 1.1em;
}
.p-abstract { 
    margin-top: 10px;
    margin-bottom: 10px; 
}
.p-abstract ul li, .p-abstract ol li {
    margin: 0 0;
    border: none !important;
}
.files p{
  margin: 0 0;
  line-height: 18px;
}
.files p img{
  vertical-align: baseline;
  margin-right: 5px;
}
.files p.cgray{
  font-size: 0.9em;
  margin-left: 26px;
}
p.file-title { line-height: 20px;}


/**
 * Event and Events subpages (Program, Hotels, etc)
 */
.photo-event{ text-align: center; }
.photo-event img { border: none;}
.evt-sidecol { margin: 20px 10px; }
.evt-location, .evt-infobox {
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  margin-bottom: 0;
  padding: 5px 10px;
}
.evt-infobox{ margin-bottom: 20px;}
.evt-location p {margin: 0 0;}
.evt-location p:first-child {margin-top: 0;}
.evt-location .col1{float:left;width:52%;clear:both;}
.evt-location .col2{float:right;width:48%;}
.evt-location h4{
  color:#339900;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: normal;
}
.evt-location div {margin: 0 0; padding: 0 0;}
.evt-location address{ text-align: left; margin: 0 auto; width: 50%;}
.evt-location address.large{ text-align: left; margin: 0 auto; width: 80%;}
.dvaddress { position: relative; padding: 30px 0 !important;}
.map-legend { padding-top: 5px; font-size: 10px;}
.map-location{ 
    border: 1px solid #B0B0AF;
    height: 240px;
    margin: 0 0;
    padding: 0 0;
    overflow: hidden;
}
.map-location img {
    width: 100%;
}
.map-location img.new {
    width: 300px;
    height: 250px;
}
.box-hotel {
  border-bottom: 1px dotted #B0B0AF;
  clear:both;
  padding-bottom: 20px;
  margin-bottom:20px;
}
.box-hotel address { margin-bottom: 20px;}
.box-hotel table th {color: #666666; text-align:left; font-weight: normal; min-width: 15%; }
.table-hotel {
  padding-right: 10px;
  width: 100%;
  font-weight: normal;
  border-collapse: collapse;
  padding: 0 0;
}
.table-hotel th {color: #666666; text-align:left; font-weight: normal; vertical-align:top; min-width: 15%; }
.table-hotel td{ vertical-align:top;}
.table-hotel td.photo-hotel { width: 210px; text-align:right; padding-top: 5px;}
.evt-summary {
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  margin-top: 0;
  padding: 0 0;
}
.evt-summary p {margin-left: 10px;}
.evt-summary h4{
  color:#339900;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: normal;
}
.block-program {
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
}
.block-program h4{
  color:#339900;
  font-weight: normal;
  margin-left: 10px;
  margin-bottom: 5px;
}
.block-program h4:first{
  margin-top: 0;
}
.tbl-card {
    background-color: #f6f6f6;
    width: 100%;
}
.tbl-card th { padding: 2px 5px;}

.code{font-family:LetterGothic Std, Letter Gothic MT, Courier New, mono; font-stretch: 200; font-size: 12px;white-space:pre;}
.code.sf_admin_form_row{white-space:normal;}
.w300{position:relative;max-width:300px;overflow:auto;}
.w400{position:relative;max-width:400px;overflow:auto;}
.w500{position:relative;max-width:500px;overflow:auto;}
.overview {  margin-bottom: 15px; margin-left: 10px;}
.overview li p {margin: 0 0;}
.overview li p.sessions { margin-left: 10px;}
.data-preview, .tbl-program, .preview{border: none;border-collapse: collapse;margin-top: 4px;padding-bottom: 20px;width: 100%;}
.preview th, .preview td{text-align:left; vertical-align:top;}
.data-preview th, .tbl-program th, .preview th.legend, .preview tr:hover th.legend{background-color: #60A0A3;color: #ffffff;font-size: 14px;font-weight: bold;padding: 2px 4px;text-align: left;}
.preview th.legend{border-top:10px solid #ffffff;}
.preview th { min-width:25%;max-width:50%;background-color: #F1F3F2;font-weight:normal; color:#206063 }
.preview .odd th { background-color: #e7ece9;}
.preview tr:hover th { background-color: #edefee;}
ul.data-preview{padding:0;margin:0}
ul.data-preview li{padding:5pt;list-style:none;margin:0}
.data-preview tr.even,.tbl-program tr.even, .preview td, ul.data-preview li { background-color: #F6F8F7;}
.data-preview tr.odd,.tbl-program tr.odd, .preview .odd td, ul.data-preview li.odd { background-color: #E4EDEC;}
.data-preview tr:hover,.tbl-program tr:hover,.preview tr:hover td { background-color: #Ecf4f3;}
.data-preview td,.tbl-program td, .preview td, .preview th {padding: 6px 5px;}
.data-preview p, .tbl-program p{ margin: 0 0;}
.data-preview .presenter, .tbl-program .presenter { color: #444444; font-style: italic;}
.tbl-program p.line-separator { margin-top:4px; font-size: 4px; line-height:4px; border-top:1px dotted #8bc0c3; }
.agenda-time { color: #444; width: 120px;}
.cat5 { color: #444; font-weight: bold; }
.flags, .flag {
  float:right;
  width: 32px;
}
.flags img, .flag img{ border: 1px solid #a7a9ac;}
.files-program{ margin-bottom: 10px; }
.files-program p{
  margin: 0 0;
  line-height: 18px;
}
.files-program img{
  vertical-align: baseline;
  margin-right: 5px;
}
.files-program p.cgray{
  font-size: 0.8em;
  margin-left: 26px;
}
.presenters, .moderators {
  text-indent: 0;
}
.presenters li, .moderators li{
  border-top: 1px dotted #B0B0AF;
  margin-bottom: 10px;
}
.presenters > li:first-child, .moderators > li:first-child{
  border-top: none;
}
.p-bio img{ padding-left: 30px; }
.presentation-files{
  background-color: #F6F6F6;
  padding: 10px 10px;
  margin-top: 40px;
}
.presentation-files h4 {margin-top: 0; font-weight: normal;}

.sponsors { float:left; margin: 10px 0; padding: 0 0;}
.sponsors:after {display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}
.sponsors div { float: left; width: 180px; height: 120px; margin: 0 0 15px 0; }
.sponsors div h3 { margin-top: 0; margin-right: 10px; font-size: 11pt; }
.sponsors div h3.medium-name { font-size: 10pt;}
.sponsors div h3.long-name { font-size: 9pt; line-height: 10pt; margin-bottom:5pt; }
.sponsors div p {  display:table-cell; text-align:center; vertical-align:middle; width: 160px; height: 80px;}
.sponsors div p * { vertical-align: middle; }
.sponsors div p img { border: none; max-width: 160px; max-height: 80px; }



blockquote.citation{
  font-size:1.25em;color:#454;position:relative;margin:0.5em 0 0.5em 1.5em;
}
blockquote.citation p{
  font-size:1em;line-height:1.5em;
}
blockquote.citation span.quote {
  font-size:3em;line-height:0.1em;display:inline-block;vertical-align:bottom;color:#363;
}
blockquote.citation span.quote.before {
  margin-left:-0.5em;width:0.5em;
}
blockquote.citation cite{
  font-size:0.85em;color:#333;
}

/**
 * First Finance css
 */
.finance-reports, .tblgreen {
  border: none;
  border-collapse: collapse;
  margin-top: 10px;
}
.finance-reports th, .tblgreen th{
  background:#53aa33;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 2px 4px;
  text-align: left;
}
.finance-reports tr.even, .tblgreen tr.even { background-color: #FAFBFC;}
.finance-reports tr.odd, .tblgreen tr.odd { background-color: #E4EDEC;}
.finance-reports td, .tblgreen td {font-size: 12px; padding: 5px 10px;}
.finance-reports .date, .tblgreen .date { vertical-align: middle;text-align:center; }

#faq {margin-top:10px}
#faq ul { list-style: none !important; padding: 0 0; margin: 0 0;}
#faq ul li h4 {margin-bottom: 0;}
#faq ul li p {margin-top: 4px;}

#formfaq {margin-top: 20px;}
#formfaq input, #formfaq textarea {display: block; margin-bottom: 10px;}
#formfaq input[type='text'] {width: 75%;}
#formfaq textarea {width: 95%;}
.error{color:#990000;}
/**
 * General forms
 */

.formsite { background:#e0e6e0; padding: 0 0 10px 0;}
.formsite label { margin-left: 1%; }
.formsite input, .formsite textarea { display: block; margin-bottom: 10px; margin-left: 1%; width: 97%; }
.formsite select { display: block; margin-bottom: 10px; margin-left: 1%; max-width: 97%; }
.formsite .error_list { margin-left: 1%; width: 97%; }
.formsite .sf_admin_form_row { clear: both; }
.formsite ul.radio_list li { display: inline; }
.formsite ul.radio_list li input, .formsite ul.radio_list li label { float: left; }
.formsite ul { list-style: none; }
.formsite ul li input { float: left;}

#formfaq ul.radio_list li,#formfaq ul.radio_list { list-style:none;margin-left:0;padding-left:0; }
.formsite ul.checkbox_list li { display: block; clear: both; }
.formsite ul.checkbox_list li input { float: left !important; }
.formsite ul.checkbox_list li label { clear: both !important; }
.formsite h3 { margin: 20px 0px 5px 0px; }

ul.radio_list input { display:inline-block !important; }

/*.formsite .sf_admin_actions li input { clear: both; }*/
.formsite ul.sf_admin_actions {
  margin: 10px 0;
  list-style-type: none;
}
.formsite ul.sf_admin_actions li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}
.formsite ul.sf_admin_actions li input { width: auto; }


.error_list {list-style:none; color: #cc0000; padding: 0 0; margin: 0 0;}
.req {color: #CC0000}
component{display:block;background:#999999;color:#aaaaaa;}
.double_list_select-selected { width: 100%; }

td.country{width:50px;}

.pages .pagedesc, .pages .pagelist{float:left;color:#999999;vertical-align:middle;margin:0}
.pages .pagelist{padding:0 10pt 0 0;}
.pages .pagelist a, .pages .pagelist a:link, .pages .pagelist a:visited{text-decoration:none;padding:2.5pt}

.filter{background:#fdd19d}
.filter h3{font-size:15px;line-height:25px;}
.filter input,.filter select{width:90%}
.filter select{max-height:100px;}
.filter li,.filter ul{list-style:none;padding:0}
.filter li input{width:auto}
.filter .submit{text-align:right;padding:2.5pt 10pt}
.filter .submit input{width:auto;padding:0 5pt;}
.filter th{width:40%;padding:0 0 5pt 5pt;font-style:normal;font-weight:normal;color:#440000}

.light, .light a, .light a:link,.light a:visited {font-weight:normal}

/**
 * Tupinamba
 */
h2.fh2 {
  margin-bottom: 30px; 
}
#xdbform {
     font-size: 9.5pt;
}
#xdbform fieldset {
    background-color: #e0e6e0;
    border: 1px solid #333;
    border-top: 4px solid #333;
    margin-bottom: 30px;
    position: relative;
}
#xdbform fieldset legend {
    background: transparent url('/_images/tab_first.png') right bottom no-repeat;
    border-bottom: 4px solid #333;
    color:#fff;
    font-size: 8.5pt;
    font-weight: 700px;
    height: 20px;
    line-height: 20px;
    margin-top: -29px !important;
    padding: 0 25px 0 10px;
    position: absolute;
}
#xdbform fieldset > div {
    padding-top: 10px;
}
#xdbform p {
     clear: both;
}
#xdbform sq-item {
    margin-top: 0;
}
#xdbform .xdbl { 
    float: left;
    font-size: 9.5pt;
    padding-right: 5px;
    width: 30%;
}
#xdbform input[type='text'], #xdbform textarea {
    border: 1px solid #ccc;
    margin-left: 2%;
    width: 66%;
}
#xdbform select {
    margin-left: 2%;
}
#xdbform input:disabled, textarea:disabled {
    border: 1px solid #eee;
}
#xdbform .nobreak {
    margin-left: 1.5%;
}
#xdbform div.textinput { 
    float: left !important;
    margin-left: 1.5%;
    margin-top: -8px;
    width: 66%;
}
#xdbform input[type='button'], #xdbform input[type='submit'] {
    margin-top: -20px;
    width: auto;
    padding: 4px 10px;
}
#xdbform .xdbcount {
    color: #666;
    margin-left: 33%;
}
#xdbform .xdbdesc {
    color: #666;
    font-style: italic;
}
#xdb_search {
    margin-top: 40px;
}
/* Questionnaire */
.q-pages {
    margin-top: 10px;
    margin-bottom: 0;
    position: relative;
    padding: 10px 0 0 0;
    width: 100%;
}
.q-pages p {
    color: #666666;
    margin: 0 5px 0 0;
    text-align: right;
}
.q-pages p .msg {
    color: #339900;
}
.result {
    margin-bottom: 40px;
}
.result .even {
    background-color: #e0e6e0;
    padding: 5px 0;
}
.result .odd {
    padding: 5px 0;
}
.result .question {
    font-weight: 700;
    margin: 0 0;
    padding: 0 0;
}
.result .answer {
    margin: 0 0 ;
    padding: 0 0;
    font-style: italic;
}
.q-answers {
    background-color: #e0e6e0;
    margin-bottom: 20px;
}
.q-answers th {
    background-color: #333;
    font-weight: normal;
}
.q-answers td a {
    font-weight: normal;
}
.q-terms {
    margin-top: 40px;
}

/* Banner at Home
-----------------------------*/
.banners {
    clear: both;
    margin: 2px 0;
    width: 100%;
    position: relative;
    height:170px;
    overflow-y:hidden;
    overflow-x:hidden;
}
.banners:after {display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}
.banners .bnl, .banners .bnr {
    position: relative;
    min-width: 180px;
    height: 170px;
    overflow: hidden;
}
.banners .bnfull {
    position: relative;
    min-width: 300px;
    height: 170px;
    overflow: hidden;
}
.banners .bnl {
    float: left;
    margin: 0 0!important;
    padding: 0 0 !important;
    width: 50%;
}
.banners .bnr {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}
.banners .bnr .bncontainer {
    padding-left: 2px;    
}
.banners .bnfull {
    width: 100%;
}
.banners .banner-reg {
    margin: 0 0!important;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#banner-control {
  position: relative;
  text-align: right;
  height: 22.5px;
  z-index: 1;
  margin-top: -22.5px;
  padding-right:10px;
}

#banner-control a {
  display:inline-block;
  width:10px;
  height:10px;
  margin-left:15px;
  background:#fff;
  opacity:0.5;
  cursor:pointer;
}
#banner-control a:hover,#banner-control a:active,#banner-control a.active {
  opacity:1;
}
#banner-control a.active {
  background:#f80;
}
.banners.loop .banner {
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  z-index:1;
}
.banners.loop .banner:nth-child(1) {
  z-index:3;
}
.banners.loop .banner.last {
  z-index:4;
}
.banners.loop .banner.active {
  z-index:5;
  -webkit-animation: fadein 0.5s 1;
  -moz-animation:    fadein 0.5s 1;
  -o-animation:      fadein 0.5s 1;
  animation:         fadein 0.5s 1;
}
@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
/* Sidebar of sponsors
-----------------------------------*/
div#sidebar-sponsors {
    list-style: none;
    margin: 20px 0;
    padding: 0 0;
    width: 98%;
}
#sidebar-sponsors h3 {
    margin-top: 30px;
    margin-bottom: 5px;
}
#sidebar-sponsors:first-child h3 {
    margin-top: 0;
}
#sidebar-sponsors p {
    padding: 0 0;
    text-align: left;
}
#sidebar-sponsors p img {
    border: none;
}
#sidebar-sponsors p.more-sp img {
    margin-left: 20px;
}
#sidebar-sponsors p.more-sp img:first-child {
    margin-left: 0;
}
/* Yet not used */
ul#sidebar-sponsors-float {
    list-style: none;
    margin: 20px 0;
    padding: 0 0;
    width: 98%;
    border: 1px solid yellow;
}
ul#sidebar-sponsors-float:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#sidebar-sponsors-float li {
    border: 1px solid blue;
    float: left;
    height: 80px;
    margin-bottom: 20px;
    margin-right: 20px;
}
#sidebar-sponsors-float:first-child li {
    margin-left: 0;
}
    #sidebar-sponsors-float li img {
        border: none;        
    }


/* -- Fix sympal css */
#fancybox-wrap { height: 340px !important; min-height: 340px !important; top: 60px !important; } 
#fancybox-inner { height: 320px !important; min-height: 320px !important }
.sympal_slot_form { height: 78%; } 
.form_body { height: 96%; }
.slot_rawhtml { height: 94%; }

.animate{
 -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
         transition: all 0.3s ease-in-out;
}
.animated{
 -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
         transition: all 0.2s ease-in-out;
}

.color-button { vertical-align:middle;border:none; white-space:nowrap;display:inline-block; text-transform:uppercase;padding:0.5em 1em;margin:-0.5em 0.5em 0.5em 0; font: 300 15px/20px 'Lucida Sans','Lucida Grande','Lucida','Calibri','Helvetica','Arial','sans-serif' !important; }
.color-button:visited, .color-button:link { background:#363; color:#eee;text-decoration:none; 
}
.color-button:hover, .color-button:active, .color-button:focus { background:#f60; color:#fff; 
text-shadow: 0px 0px 3px #630, 3px 3px 9px #a63;}

.color-button.right{float:right;}
.color-button.left{float:left;}
.color-button.big{font-size:20px !important;font-weight:bold !important;display:block;text-align:center;margin:0.5em 0;}
.color-button.blue{background:#369;}
.paper-event .schedule{margin-top:1em;color:#555;font-style:oblique;}
.paper-event .schedule:before{content:'When: ';}
.paper-event .adr:before{content:'Where: ';}
.paper-event .schedule a{color:#555;font-weight:normal;}
.paper-event .notes{font-style:oblique;color:#555;margin:0 0 1em 0;}

.video{background:#000;color:#ccc;text-align:center;padding:0.5em 0;line-height:0.5em;}
.tocdesc .video{margin:-1pt -5pt 1pt -5pt;}
.video .video-js{margin:0 auto;max-width:100%;}
