<div ng-show="$ctrl.nextEnabled">
    <div class="row">
        <div class="col-md-10">
            <div class="ibox-content vpadding0">
                <h2 class="vpadding0 vmargin0">Start</h2>
            </div>
            <!-- /ibox-content -->
        </div>
        <!-- /col-md-10 -->
    </div>
</div>

<div class="row"
     id="startContent">
    <div class="col-md-10">
        <div class="ibox float-e-margins">

            <div class="ibox-content">

                <div ng-show="$ctrl.nextEnabled">
                    <h3>Before we get started, you need to define your user/company profile and our Rules of
                        Engagement (RoE). This is a required document that provides legal and technical
                        protection for both you (your company) and us!</h3>

                    <h3>If you are ready, please click Next to continue.</h3>
                </div>
                <div ng-hide="$ctrl.nextEnabled">
                    <h3>
                        This form must be filled out by either your Executive, Legal, or Technical Point of Contact.
                        Please reach out to us if you have any questions.
                    </h3>
                </div>

            </div>
            <!-- /ibox-content -->
        </div>
        <!-- /ibox float-e-margins -->
    </div>
    <!-- /col-md-6 -->
</div>
<!-- /row -->
<div ng-show="$ctrl.nextEnabled">
    <next next-enabled="$ctrl.nextEnabled"></next>
</div>