<div class="dropdown"
     selection-model-ignore>
    <button class="btn btn-default dropdown-toggle"
            type="button"
            name="actionsDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
            style="margin-right: auto !important;margin-left: auto !important;display: block;{{$ctrl.buttonStyle}}"
            uib-tooltip="{{$ctrl.actionTooltip}}"
            ng-disabled="($ctrl.disabled || $ctrl.showActions === 0)">
        <div ng-if="$ctrl.showCount"
             style="display: inline-block; min-width: 95px; color: black">{{$ctrl.selected}} /
            {{$ctrl.total}}</div>
        <br ng-if="$ctrl.showCount">
        <i class="fa {{$ctrl.icon}} fa-fw"></i>
    </button>
    <ul class="dropdown-menu dropdown-mini"
        ng-class="{'dropdown-menu-right': !$ctrl.noright}"
        aria-labelledby="actionDropdown">
        <li ng-repeat="actionObject in $ctrl.actions"
            ng-if="$ctrl.showAction(actionObject,$index)"
            class="{{actionObject.class}}">
            <a href="#"
               ng-click="$ctrl.performAction(actionObject,$event)"
               uib-tooltip="{{actionObject.tooltip}}"
               tooltip-placement="auto top">
                <i class="fa"
                   ng-class="actionObject.icon"></i> <span ng-bind="actionObject.label"></span>
            </a>
        </li>
    </ul>
</div>