<div ng-repeat="attachment in attachments"
     class="mt5 clean-attachments">
     <div class="btn-group btn-group-xs mr5 mt-2">
          <div class="btn btn-white"
               ng-click="downloadAttachment(attachment)"
               uib-tooltip="Download"><i class="fa fa-download"></i></div>
          <div class="btn btn-white"
               ng-click="viewAttachment(attachment)"
               uib-tooltip="View"><i class="fa fa-eye"></i></div>
          <div class="btn btn-white"
               ng-click="removeAttachment(attachment)"
               uib-tooltip="Remove"
               ng-if="showRemoveAttachment()"><i class="fa fa-trash-o"></i></div>
     </div>
     {{::attachment.name}}
</div>