<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <!--<div ng-include="'views/common/navigation.html'"></div>-->

    <!--<div id="help_now" ng-if="user.type=='customer'">
        <div id="help_now_inner">
            <p id="phoneUs">Call <a href="tel:{{CONFIG.helpNowNumber}}">{{CONFIG.helpNowNumber}}</a></p>
            <p id="clickHelp">or <a ui-sref="cato.loggedIn.incident_reporting">click here</a> for more help.</p>
            <span><p><i class="fa fa-question-circle" aria-hidden="true"></i> Need Help Now?</p></span>
        </div>
    </div>-->

    <!-- Page wrapper -->
    <!-- ng-class with current state name gives you the ability to customize your view -->
    <div id="page-wrapper"
         class="dark-bg"
         ng-class="$state.current.name">
    <!-- class="gray-bg" -->

        <!-- Page wrapper -->
        <div ng-include="'/app/common/navbar/navbar.html'"></div>

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <div ng-include="'/app/common/boilerplate/footer.html'"></div>

    </div>
    <!-- End page wrapper-->
</div>
<!-- End wrapper-->