<div class="btn-group">
  <span role="button"
        ng-if="$ctrl.isJSON"
        class="btn btn-default navbar-btn"
        ng-model="$ctrl.plain"
        uib-tooltip="View Plain Text"
        uib-btn-checkbox>
    <i class="fa fa-file-text-o fa-fw"
       aria-hidden="true"></i>
  </span>
  <span role="button"
        ng-if="$ctrl.plain"
        class="btn btn-default navbar-btn"
        ng-model="$ctrl.highlight"
        uib-tooltip="Highlight"
        uib-btn-checkbox>
    <i class="fa fa-paint-brush fa-fw"
       aria-hidden="true"></i>
  </span>
  <span role="button"
        ng-if="$ctrl.plain && ($ctrl.maybeXML || $ctrl.isJSON)"
        class="btn btn-default navbar-btn"
        uib-tooltip="Format"
        ng-click="$ctrl.format()">
    <i class="fa fa-indent fa-fw"
       aria-hidden="true"></i>
  </span>
  <span role="button"
        ng-if="$ctrl.plain && !$ctrl.highlight"
        class="btn btn-default navbar-btn"
        ng-model="$ctrl.wrap"
        uib-tooltip="Wrap"
        uib-btn-checkbox>
    <i class="fa fa-level-down fa-rotate-90 fa-fw"
       aria-hidden="true"></i>
  </span>
</div>
<div class="btn-group pull-right">
  <span role="button"
        class="btn btn-default navbar-btn"
        uib-tooltip="Download"
        ng-click="$ctrl.download()">
    <i class="fa fa-download fa-fw"
       aria-hidden="true"></i>
  </span>
  <span role="button"
        class="btn btn-default navbar-btn"
        uib-tooltip="Reset"
        ng-click="$ctrl.reset()">
    <i class="fa fa-refresh fa-fw"
       aria-hidden="true"></i>
  </span>
</div>

<div ng-if="$ctrl.plain && $ctrl.highlight"
     hljs
     hljs-source="$ctrl.text"
     hljs-language="{{$ctrl.language}}"></div>

<pre ng-if="$ctrl.plain && !$ctrl.highlight"
     class="well"
     ng-class="{'wrap-word': $ctrl.wrap}"
     ng-bind="$ctrl.text"></pre>

<div ng-if="!$ctrl.plain && $ctrl.isJSON">
  <angular-jsoneditor ng-model="$ctrl.parsed"
                      options="$ctrl.options"></angular-jsoneditor>
</div>