<div class="row">
    <div class="col-sm-12"
         ng-if="$ctrl.availableObjs.length === 0 && $ctrl.includedObjs.length === 0">
        No available {{::$ctrl.objsName}}{{::$ctrl.noAvailableExtraTextPadded}}.
    </div>
    <div ng-if="$ctrl.availableObjs.length > 0 || $ctrl.includedObjs.length > 0">
        <div class="col-sm-6">
            <label for="available"
                   class="text-capitalize">Available {{::$ctrl.objsName}}</label>
            <i class="fa fa-info-circle"
               ng-if="$ctrl.availableLabelTooltipHtml"
               uib-tooltip-html="$ctrl.availableLabelTooltipHtml"></i>
            <br />
            <div class="btn-group btn-group-justified btn-group-xs"
                 role="group">
                <a class="btn btn-white"
                   uib-tooltip="Move all right"
                   tooltip-append-to-body="true"
                   tooltip-placement="top"
                   ng-click="$ctrl.addAll()">
                    <i class="fa fa-2x fa-angle-double-right"></i>
                </a>
                <a class="btn btn-white"
                   uib-tooltip="Move selected right"
                   tooltip-append-to-body="true"
                   tooltip-placement="top"
                   ng-click="$ctrl.addSelected()">
                    <i class="fa fa-2x fa-angle-right"></i>
                </a>
            </div>
            <select class="form-control"
                    size="10"
                    multiple
                    id="available"
                    ng-model="$ctrl.selectedAvailable"
                    ng-options="o[$ctrl.labelAttribute] group by $ctrl.groupBy({obj: o}) disable when $ctrl.disableOptionWhen({obj: o, available: true}) for o in $ctrl.availableObjs | filter:$ctrl.filterAlreadySelected | filter:$ctrl.availableFilter:true | orderBy:$ctrl.orderBy track by o[$ctrl.trackBy]">
            </select>
        </div>
        <div class="col-sm-6">
            <label for="included"
                   class="text-capitalize">Included {{::$ctrl.objsName}}</label>
            <br />
            <div class="btn-group btn-group-justified btn-group-xs"
                 role="group">
                <a class="btn btn-white"
                   uib-tooltip="Move selected left"
                   tooltip-append-to-body="true"
                   tooltip-placement="top"
                   ng-click="$ctrl.removeSelected()">
                    <i class="fa fa-2x fa-angle-left"></i>
                </a>
                <a class="btn btn-white"
                   uib-tooltip="Move all left"
                   tooltip-append-to-body="true"
                   tooltip-placement="top"
                   ng-click="$ctrl.removeAll()">
                    <i class="fa fa-2x fa-angle-double-left"></i>
                </a>
            </div>
            <select class="form-control"
                    size="10"
                    name="included"
                    id="included"
                    multiple
                    ng-model="$ctrl.selectedIncluded"
                    ng-options="o[$ctrl.labelAttribute] group by $ctrl.groupBy({obj: o}) disable when $ctrl.disableOptionWhen({obj: o, included: true}) for o in $ctrl.includedObjs | filter:$ctrl.includedFilter:true | orderBy:$ctrl.orderBy track by o[$ctrl.trackBy]">
            </select>
        </div>
    </div>
</div>