<div class="inmodal">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$close()"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{::filename}} Preview</h4>
    </div>
    <div class="modal-body">
        <div ng-if="unsupported"
             class="ng-cloak">
            Previewing audio or video files is not currently supported.
        </div>
        <div ng-if="!unsupported"
             class="ng-cloak">
            <div ng-if="isImage">
                <img ng-src="{{url}}"
                     class="img-responsive"
                     onerror="this.alt='Sorry, your browser does not support displaying this image.';" />
            </div>
            <div ng-if="!isImage">
                <dataviewer value="data"
                            name="filename"></dataviewer>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset"
                class="btn"
                ng-click="$dismiss()">Close</button>
    </div>
</div>