/* BACKGROUNDS */
.gray-bg {background-color: @color-sel-gray;}
.white-bg {background-color: @color-white;}
.navy-bg {background-color: @color-base; color: @color-white;}
.blue-bg {background-color: @color-neutral; color: @color-white;}
.lazur-bg {background-color: @color-neutral; color: @color-white;}
.yellow-bg {background-color: @color-warn; color: @color-white;}
.red-bg {background-color: @color-negative; color: @color-white;}
.black-bg {background-color: @color-drkr-gray;}

.dark-bg
{
    background-color: @color-black !important;
}
.transparent-bg
{
    background: transparent !important;
}

td.red-bg
{
    background-color: #cc0000 !important;
    color: #FFF;
}
td.green-bg
{
    background-color: #009933 !important;
    color: #FFF;
}
td.orange-bg
{
    background-color: #ff6600 !important;
    color: #FFF;
}
