@import 'libs';
@import 'bs4';
@import 'custom';
@import 'backgrounds';
@import 'flex-layout';
@import 'fonts';
@import 'graph_mission_control';
@import 'messages';
@import 'style';
@import 'slider';
@import 'sidebar';
@import 'submenu';
@import 'widgets';
@import 'pagination';
@import 'tables';
@import 'leaflet';

// Component Styles
@import '../../app/login/login.less';
@import '../../app/attackSurface/widgets/domains-chart/domains.component.less';
@import '../../app/attackSurface/widgets/tables/tables/ownership/ownership.less';
@import '../../app/finding/search/finding-search.component.less';

/*
@brand-primary: #ff6418;
@brand-danger: #e10019;

@link-hover-decoration: underline;

@btn-default-color: #333333;
@btn-default-bg: #ffffff;
@btn-default-border: #cccccc;

@btn-info-color: #4f4f4f;
@btn-info-bg: #cccccc;
@btn-info-border: #cccccc;


@dropdown-bg: #b3b3b3;
@dropdown-link-color: #222222;
@dropdown-link-active-color: #ffffff;
@dropdown-link-hover-color: #ffffff;
@dropdown-link-hover-bg: darken(#b3b3b3, 10%);

*/
