// CATO
@p-color-primary-highlight: #f68220; // Primary highlight
@p-color-bg-highlight: #f5f4f4; // Well BG
@p-color-bg-base: @p-color-bg-highlight; // Gray page BG
@p-color-primary-btn: @p-color-primary-highlight; // Primary btn
@p-color-info: #0555a7; // Info color?
@p-color-primary-text: #373a3c; // Primary text

@color-notification-num: @p-color-primary-highlight;
@color-nav-text: @color-med-gray;
@color-dark-table-header: @color-lt-med-gray;
@color-login-icons: inherit;

@color-sidebar-active-icon: @p-color-primary-highlight;


.login-background() {
  background: #414042 url(../../img/default/signin-bg-1.svg) left -85px no-repeat scroll;
}
