//@catotheme: default;  // TODO: figure out why setting modifyVars when building doesn't override this variable
// TODO: This appears to be a known bug: https://github.com/less/less.js/issues/1400#issuecomment-136879899
//       from that issue, https://codepen.io/seven-phases-max/pen/ojNrBg works; maybe it has to do with the variable in
//       the import statement being in imported files and not at the top-level or that the variable being overridden is
//       set in an import and not at the top-level

// Trick PyCharm into evaluating an import and propagating the colors instead of reporting unresolved variables
@intellij-workaround: if(false = true,
{
    //*
    @import "colors-default.less";
    /*/
    @import "colors-jensie.less";
    // */
});


// Actually do the import based on the theme
//noinspection LessUnresolvedVariable
@import "colors-@{catotheme}.less";



@color-base: @p-color-primary-highlight;
@color-white: #fff;
@color-black: #1c1c1c;
@color-sel-gray: @p-color-bg-base;
@color-ltr-gray: #e7eaec;
@color-lt-gray: #bbb;
@color-brdr-gray: #ddd;
@color-lt-bg-gray: #e5e5e5;
@color-lt-med-gray: #999;
@color-med-gray: #4f4f4f;
@color-med-drk-gray: #666;
@color-drk-gray: #818285;
@color-drkr-gray: #292929;
@color-neutral: @p-color-info;
@color-negative: #ed182f;
@color-positive: #008000;
@color-warn: #f8ac59;



@btn-default-color:              #333;
@btn-default-bg:                 #fff;
@btn-default-border:             #ccc;
//@btn-default-color:              #fff;
//@btn-default-bg:                 @color-med-gray;
//@btn-default-border:             darken(@btn-default-bg, 0%);

@btn-primary-color:              #fff;
@btn-primary-bg:                 @p-color-primary-btn;
@btn-primary-border:             darken(@btn-primary-bg, 0%);

@btn-success-color:              #fff;
@btn-success-bg:                 @color-positive;
@btn-success-border:             darken(@btn-success-bg, 0%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @color-neutral;
@btn-info-border:                darken(@btn-info-bg, 0%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @color-warn;
@btn-warning-border:             darken(@btn-warning-bg, 0%);

@btn-danger-color:               #fff;
@btn-danger-bg:                  @color-negative;
@btn-danger-border:              darken(@btn-danger-bg, 0%);



.cato-button-variant(@color; @background; @border) {
    color: @color;
    background-color: @background;
    border-color: @border;

    &:focus,
    &.focus {
        color: @color;
        background-color: darken(@background, 10%);
        border-color: darken(@border, 10%);
    }
    &:hover,
    &.hover // TODO: remove
    {
        color: @color;
        background-color: darken(@background, 10%);
        border-color: darken(@border, 10%);
    }
    &:active,
    &.active,
    .open > .dropdown-toggle& {
        color: @color;
        background-color: darken(@background, 10%);
        background-image: none;
        border-color: darken(@border, 10%);

        &:hover,
        &.hover, // TODO: remove
        &:focus,
        &.focus {
            color: @color;
            background-color: darken(@background, 17%);
            border-color: darken(@border, 17%);
        }
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &.hover, // TODO: remove
        &:focus,
        &.focus,
        & {
            //color: lighten(@color, 25%);
            background-color: darken(desaturate(@background, 65%), 10%);
            border-color: darken(desaturate(@border, 65%), 10%);
        }
    }

    .badge {
        color: @background;
        background-color: @color;
    }
}
