// Jensie
@p-color-primary-highlight: #EE3E3A;  // Primary highlight
@p-color-bg-highlight:      #E6F0F5;  // Well BG
@p-color-bg-base:           #EFEFEF;  // Gray page BG
@p-color-primary-btn:       #177091;  // Primary btn
@p-color-info:              #35BFED;  // Info color?
@p-color-primary-text:      #1A3863;  // Primary text

@color-notification-num: @p-color-info;
@color-nav-text: @p-color-primary-text;
@color-dark-table-header: @p-color-primary-text;
@color-login-icons: @p-color-primary-highlight;

@color-sidebar-active-icon: #26abdd;


.login-background()
{
    background-image: url(../../img/jensie/signin-bg-1.svg);
    background-color: #000 !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
    background-origin: border-box;
    background-position: center;
    background-size: cover;
}
