/* STYLES MOVED TO STYLE.LESS
DEVELOPERS, FEEL FREE TO ADD MORE MISCELLANEOUS STYLES */
/*

*/


.form-control-feedback {
    right: 12px;
    line-height: 72px;
}

.show-message-actions-on-hover .message-actions {
    display: none;
}

.show-message-actions-on-hover:hover .message-actions {
    display: inline;
    z-index: 10;
    font-size: 19px;
}



.tabs-container .nav-tabs {
    height: 41px;
}

.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}

.progress-bar.disabled {
    background-color: inherit;
}

.default-primary {
    background-color: #337ab7 !important;
}

.default-info {
    background-color: #5bc0de !important;
}

.default-warning {
    background-color: #f0ad4e !important;
}

.default-success {
    background-color: #5cb85c !important;
}

.default-danger {
    background-color: #d9534f !important;
}

.default-violet {
    background-color: #8d309e !important;
}

#pswd_info {
    position: absolute;
    bottom: 70px;
    right: -265px;
    width: 270px;
    padding: 15px;
    background: #fefefe;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    z-index: 10;
}

#pswd_info h4 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
}

#pswd_info::before {
/*
    content: "\25C0";
    position: absolute;
    top: 5px;
    left: -10px;
*/
    font-size: 14px;
    line-height: 14px;
    color: #FFF;
    text-shadow: none;
    display: block;
}

.pswd_info {
    list-style: none;
    margin-left: -40px;
}

.invalid {
    color:#ec3f41;
    padding-right: 5px;
}

.valid {
    color:#3a7d34;
    padding-right: 5px;
}

.on-the-side {
    position: absolute !important;
    left: 5px;
}

.username {
    padding-right: 10px;
}

.lpadding0 {
    padding-left: 0 !important;
}

.width96 {
    width: 96% !important;
}

.center {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.card-list {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 50px;
}

.card {
    padding: 10px;
    cursor: move;

}

.width98 {
    width: 98% !important;
}

.selected {
    background-color: #EEE;
}

.background-border {
    background-color: #d2d2d2;
    padding: 1px !important;
}

#check-button {
    margin-right: 10px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
}

#check-button label {
    width: 85px;
    height: 27px
}

.checkbox-btn.disabled {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

#check-button label span {
    text-align:center;
    padding: 6px 0px;
    display:block;
}

#check-button label input {
    display: none;
}

#check-button input:checked + span {
    background-color:#911;
    color:#fff;
}

.editable-text {
    width: 100%;
}

.dropdown-menu-right {
    left: auto !important; /* This is in bootstrap.css, but isn't important/doesn't override the default of 0 */
    right: 0;
}

.dropdown-menu {
    background-color: #fff !important; /* The gray is ugly */
}

.overflow-visible {
    overflow: visible;
}

.menu-num {
    position: absolute;
    top: 2px;
    left: 18px;
}

.tab-num {
    position: relative;
    top: -5px;
    padding: 3px 2px;
    display: inline-block;
}

.notification-num {
    font-size: 0.8em;
    border-radius: 4px;
    background: @color-notification-num;
    color: white;
    line-height: 0.8em;
    text-align: center;
    padding: 2px;

    &.zero {
        background: inherit;
        color: @color-base;
    }
    &.transparent {
        background: transparent !important;
    }

    span {
        float: left;
    }
}

.scroll-x {
    overflow-x: scroll;
    width: 100%;
}

.scroll-y {
    overflow-y: scroll;
}

.scroll {
    overflow: scroll;
    width: 100%;
}

.ace_editor {
    height: 200px;
    width: 100%;
}

.valid_row {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.invalid_row {
    background-image: repeating-linear-gradient( 45deg, rgba(251, 150, 151, 0.5), rgba(245,146,146,.5) 10px, rgba(191,91,91,.5) 10px, rgba(193,106,106,.5) 20px );
    background-repeat: no-repeat;
}

.conclusion {
    line-height: 3;
    vertical-align: middle;
}

.no-bg {
    background-color: transparent !important;
}

.vis-item {
    border-width: 1px !important;
    background-color: transparent;
    a:hover { color: #000; }
}

.vis-item .vis-item-content {
    padding: 0px !important;
}

.jB {
    color: #d23f31;
    font-weight: bold;
    padding-top: 8px;
    height: 56px;
    bottom: 64px;
    padding: 23px 12px 23px 15px;
    pointer-events: none;
    position: fixed;
    right: -10px;
    white-space: nowrap;
    z-index: 21;
}

.hC {
    background-color: #d23f31;
    height: 56px;
    position: relative;
    width: 56px;
}

.message-fab-y {
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    box-sizing: content-box;
    cursor: pointer;
    outline: none;
    padding: 0;
    pointer-events: auto;
    position: relative;
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
    -webkit-transition: -webkit-transform 150ms cubic-bezier(.4,0,1,1);
    transition: transform 150ms cubic-bezier(.4,0,1,1);

    border: none;
    border-radius: 50%;
    object-fit: cover;
    -webkit-user-drag: none;
}

.bY {
    left: 16px;
    margin-left: 16px;
    margin-top: 16px;
    position: absolute;
    top: 20px;
    color: #FFF;
    font-size: 20px;
    -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
    transition: all .2s cubic-bezier(.4,0,.2,1);
}

.o8 {
    display: block;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
    width: 24px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.nf {
    line-height: 56px;
}

.bT {
    display: inline-block;
    margin-right: 8px;
    opacity: 0;
    text-align: right;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: opacity 150ms cubic-bezier(.4,0,1,1);
    transition: opacity 150ms cubic-bezier(.4,0,1,1);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.bT>.tv {
    background: rgba(70,70,70,.9);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    color: #ececec;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    max-width: 200px;
    overflow: hidden;
    padding: 6px 8px;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.bold {
    font-weight: 800 !important;
}

.mr-4px {
    margin-right: -4px;
}

.nowrap {
    white-space: nowrap;
}

.percent30Transparent {
    opacity: .3;
    filter: alpha(opacity=30);
}

.fa-with-defaults {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, 'FontAwesome', sans-serif !important;
}

.table_layout {
    table-layout: fixed;
    display: table;
}

.checkbox-btn {
    position: relative !important;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 0 !important;
    margin-right: 0px !important;
}

.roe {
    border: 2px solid #9e9e9e;
    overflow-y: auto;
    height: 200px;
}

.ellipsis [class^=col-] {
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
}

.text-ellipsis {
    .text-overflow()
}

.ml30 {
    margin-left: 30px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.font-size19 { font-size: 19px; }

.wide-tooltip .tooltip-inner {
    white-space: nowrap;
}

.popover{
    max-width:600px;
}

.large-editable {
    font-size: 16px !important;
}

.borderNone {
    border: none !important;
}

.nav-icon {
    transition: all 0.3s;
    color: @color-nav-text;font-weight: 600;
}

.inactive {
    background: repeating-linear-gradient(45deg, #fff, #fff 10px, @p-color-bg-base 10px, @p-color-bg-base 20px);
    color: #818285;
}

.inactive.selected {
    background: repeating-linear-gradient(45deg, darken(#fff, 5%), darken(#fff, 5%) 10px, darken(@p-color-bg-base, 5%) 10px, darken(@p-color-bg-base, 5%) 20px);
}

.top-label {
    vertical-align: top;
    padding-top: 20px;
}

.mt2 {
    margin-top: 2px !important;
}

.mb-10 {
    margin-bottom: -10px;
}

.mr40 {
    margin-right: 40px;
}

.primaryLocationStar {
    position: absolute;
    top: 5px;
    left: 0px;
}

.priority-low {
    background: #99FF99;
}

.priority-medium {
    background: #FFFF77;
}

.priority-high {
    background: #FF9999;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    position: relative;
    top: 1px;
}

.ui-select-multiple input.ui-select-search:not(.ng-touched) {
    width: 100% !important;
}

.dropdown-menu > li:hover {
    background-color: none !important;
    .ui-select-choices-group {
        background-color: none !important;
    }
}

.minHeight530 {
    min-height: 530px;
}

.minHeight505 {
    min-height: 505px;
}

.steps-indicator {
    padding-top: 3.5em;
    padding-bottom: 60px;
}

.hoverHighlight:hover {
    background-color: #2f9a4c70;
}

h3.required::after, label.required::after {
    content: "*"
}

.selectedCustomer {
    position: absolute;
    top: 0;
    right: 0;
    width: 50em;
    margin-right: 1.5em;
    margin-top: 8px;
    text-align: right;

    > a {
        margin-top: 8px;
        font-weight: 800;
        margin-right: 8px;
    }

    > p {
        * {
            background: none !important;
            border: none;
        }

        input, .form-control-static {
            text-align: right;
            font-weight: 800;
            padding: 6px 0px;
        }
    }
}

.primary-user-menu {
    width: 200px;
}

a.disabled {
  color: @nav-disabled-link-color;

  &:hover,
  &:focus {
    color: @nav-disabled-link-hover-color;
    text-decoration: none;
    background-color: transparent;
    cursor: @cursor-disabled;
  }
}

.table-striped .row:nth-child(even) {
    background: #ffffff;
}

.dropdown-mini {
    min-width: 50px !important;
    > li > a {
        margin: 0px 0px 0px 2px;
    }
}
.input-group .input-group-btn {
    .btn-white {
        border-color: @color-lt-bg-gray;

        &.disabled,
        &[disabled],
        fieldset[disabled] & {
            background-color: @input-bg-disabled;
        }
    }
}

.center-vertical {
    margin: auto 0;
}

.ui-select-bootstrap {
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active,
    .open .dropdown-toggle.btn-default,
    .btn-default:active:focus,
    .btn-default:active:hover,
    .btn-default.active:hover,
    .btn-default.active:focus {
        background-color: @color-lt-bg-gray;
        color: inherit;
    }
}

.targets-tab {
    position: relative;
}

.target-list-element {
    position: absolute !important;
    bottom: 0;
    right: 0;
    margin-bottom: 10px !important;
    margin-right: 15px !important;
}

.target-list-element p {
    margin: 0;
}

input.ng-touched.ng-invalid.no-warnings {
    border-color: @color-base !important;
    border: 1px solid @color-lt-bg-gray;
	color: inherit;
}

.cg-busy {
    z-index: 1031;
}

.alert-small {
    padding: 5px;
    margin-bottom: 0;

    &.alert-dismissible {
        padding-right: 25px;
        .close {
            font-size: 25px;
            top: -3px;
        }
    }
}

.full-width > div {
    width: 100% !important;
}

.overflow-y-scroll {
    overflow-y: scroll !important;
}

.relative {
    position: relative !important;
}

dataviewer pre {
    max-height: 500px;
    overflow-y: scroll;
}

.quick-view-table-popover {
    margin: -5px;
    .progress {
        margin-bottom: 0;
    }
    .ng-table-pagination {
        margin-bottom: 0;
    }
}

.table-number-info-btn {
    position: absolute;
    right: 0;
    margin-top: -7px;
}

.table-col-with-info-btn {
    min-width: 120px;
    > div {
        position: relative;
    }
}

.steps-indicator > li {
    min-width: 9%;
    min-height: 75px;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% / 11) !important;
}

/*
Generate `.steps-indicator.steps-<num> li` classes for wizards with 1-10 steps to override
the `.steps-indicator > li {... width: calc(100% / 11) !important;}` rule above so that
the step labels are not scrunched together when some RoE steps are hidden.  We can't just
change or remove that rule because other changes we have made to the library's elements'
styling is incompatible with the built-in styles.
*/
.step-loop (@i) when (@i > 0) {
    @val: @i + 1;
    .steps-indicator.steps-@{i} li {
        width: calc(100% / @val) !important;
    }
    .step-loop(@i - 1);
}
.step-loop(10);


.steps-indicator > li:before {
    background-color: #E6E6E6;
    content: '';
    position: absolute;
    top: 0px;
    height: 1px;
    left: 0px;
    width: 150px;
}

.graph-link .nvd3 {
    .nv-slice, .nv-bar {
        cursor: pointer;
    }
}


.tag {
    .label();
    .label-primary();
    margin-top: 1px;
    margin-right: 2px;
    white-space: normal;
    display: inline-block;
}

.tag-new {
    .label-gold();
}

.add-another {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

fieldset.interface-details {
    border: 1px solid @color-brdr-gray;
    padding: 0 1em 1em 1em;
    margin: 0.5em 0 0.5em 0;
    border-radius: 4px;

    > legend {
        font-size: 1.1em;
        font-weight: bold;
        text-align: left;
        width:auto;
        padding:0 10px;
        border-bottom:none;
        margin-bottom: 0.5em;
    }
}

.text-center.section-title{
    text-align: center;
    float: none;
    display: block;
}

.vpadding0,
h2.vpadding0,
.vpadding0.ibox-content,
.wrapper.vpadding0{
    padding-bottom: 0;
    padding-top: 0;
}

.vmargin0,
.vmargin0.ibox,
.ibox-content>h2.vmargin0,
.wrapper.vmargin0{
    margin-bottom: 0;
    margin-top: 0;
}

// #interactiveRoE > div > div.ng-isolate-scope > ul::before{
//     left:calc(25%)
// }

#interactiveRoE {
    th {
        text-align: left;
    }
}

#roeServicesDetailsContainer{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    text-align: center;
    border-width: 0px 0px 0px 0px;

    .selected-service {
        padding: 0 8px 8px 8px;
        text-align: left;
    }
}
#roeServicesDetailsContainerDescriptions{
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: black
}
// #interactiveRoE > div > .ng-isolate-scope > .steps-indicator > li{
//     width: initial;
// }

.roe-buttons{
    margin-bottom: 2em;
    margin-top: .5em;
    display: block;
}


#wizardContainer > div > div{
    height: 100%;
}
#wizardContainer > div > div > section.step.ng-scope.ng-isolate-scope.current {
    height: 100%;
}

#targetsTable{
    display: inline-block;
    margin-bottom: 0
}

.noHPadding{
    padding-left: 0;
    padding-right: 0;
}

.cxtmenu-content {
    color: black;
}

.loginPage #page-load-spinner {
    display: none;
}

#catoapplianceform > div.modal-footer > div.pull-left > div > b{
    font-size: 10px !important
}
#catoapplianceform > div.modal-footer > div.pull-left > div,
#catoapplianceform > div.modal-footer > div.pull-left > div > span,
#catoapplianceform > div.modal-footer > div.pull-left > div > b{
    height: 60px !important
}

#catorestrictionform uib-accordion > div > div > div> div.panel-body{
    padding: 0;
}

.graph-widget-title{
    height: 3.5em;
    margin: 0 .25em 0 0;
}

.table-scroll thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    // position: -webkit-sticky;
    // position: sticky;
    // top: 0;
}

.table-scroll tbody {
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    display: block;
    width: 100%;
    table-layout: fixed;
}

.table-scroll tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.table-scroll td {
    min-height: 1em; // needed in order to keep rows from collapsing
}

.day-of-week{
    width: 13%;
    display: inline-block;
}

.day-of-week > label,
.day-of-week > input{
    display: block;
    text-align: center;
}

div.signature {
    border: 4px ridge #818285;
    margin-left: auto;
    margin-right: auto;
    width: 576px !important;
    height: 228px !important;
}
div.signature > canvas {
    width: 547px !important;
    height: 212px !important;
}

.row.text-center.roe-buttons > div > .btn.btn-default {
    margin-left: .125em;
    margin-right: .125em;
    float: left;
}

.dropdown-menu > li > a {
	border-radius: 3px;
	color: inherit;
	line-height: 1.5em !important;
	margin: 0 !important;
	text-align: left;
	font-weight: normal;
}

.btn-sm.small-nav > .nav-link {
    color: @color-lt-med-gray;
    font-weight: 600;
    padding: 5px;
}
.nav > li.active.small-nav {
    background: none;
    border: none;
}
.active.btn-sm.small-nav > a > uib-tab-heading > span,
btn-sm.small-nav.active > a > uib-tab-heading > span {
    color: white
}


.gridster-loaded .gridster-item.show-slow {
    display: block;
    position: absolute;
    -webkit-transition: opacity .6s, left .6s, top .6s, width .6s, height .6s;
    -moz-transition: opacity .6s, left .6s, top .6s, width .6s, height .6s;
    -o-transition: opacity .6s, left .6s, top .6s, width .6s, height .6s;
    transition: opacity .6s, left .6s, top .6s, width .6s, height .6s;
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
  }

  .attack-surface-table > table > thead > tr.ng-table-filters > th > div {
      > input, > select {
          min-height: unset !important;
          height: 1.5em !important;
      }
  }

  .attack-surface-table > table > thead > tr.ng-table-filters > th{
      padding-top: 4px  !important;
      padding-bottom: 4px  !important;
  }

  .attack-surface-table {
    height: 100% !important;
  }

  .zoom-in{
      cursor: zoom-in;
  }

  .pointer{
    cursor: pointer;
  }

  .nav-pills > li + li {
    margin-left: 0;
  }


  .attack-surface-tables * td > div.limit-size{
    //   max-height: 32px !important;
      padding: 0px !important;
    //   overflow: hidden;
  }

  .attack-surface-tables * td,
  .attack-surface-tables * th{
    //   width: 10em;
      text-align: center;

  }

  .attack-surface-tables * th{
    //  height: 35px;
     white-space: nowrap;
  }

  .attack-surface-tables * thead{
      padding-right: 16px;
  }

  .attack-surface-tables * .em35{
    width: 35em;
  }

  .attack-surface-tables * .em20{
    width: 20em;
  }

  .attack-surface.em19,
  .attack-surface-tables * .em19{
    width: 19em;
  }
  .attack-surface.em18,
  .attack-surface-tables * .em18{
    width: 18em;
  }

  .attack-surface.em17,
  .attack-surface-tables * .em17{
    width: 17em;
  }

  .attack-surface.em16,
  .attack-surface-tables * .em16{
    width: 16em;
  }

  .attack-surface.em15,
  .attack-surface-tables * .em15{
    width: 15em;
  }

  .attack-surface.em14,
  .attack-surface-tables * .em14{
    width: 14em;
  }


  .attack-surface.em13,
  .attack-surface-tables * .em13{
    width: 13em;
  }

  .attack-surface.em12,
  .attack-surface-tables * .em12{
    width: 12em;
  }
  .attack-surface.em11,
  .attack-surface-tables * .em11{
    width: 11em;
  }

  .attack-surface.em10,
  .attack-surface-tables * .em10{
    width: 10em;
  }

  .attack-surface.em9,
  .attack-surface-tables * .em9{
    width: 9em;
    text-align: center;
}

  .attack-surface.em8,
  .attack-surface-tables * .em8{
      width: 8em;
      text-align: center;
  }

  .attack-surface.em7,
  .attack-surface-tables * .em7{
      width: 7em;
      text-align: center;
  }

  .attack-surface.em6,
  .attack-surface-tables * .em6{
      width: 6em;
      text-align: center;
  }

  .attack-surface.em5,
  .attack-surface-tables * .em5{
      width: 5em;
      text-align: center;
  }

  .attack-surface.em4,
  .attack-surface-tables * .em4{
      width: 4em;
      text-align: center;
  }
  .attack-surface.em3,
  .attack-surface-tables * .em3{
      width: 3em;
      text-align: center;
  }
  .attack-surface.em2,
  .attack-surface-tables * .em2{
      width: 2em;
      text-align: center;
  }
  .attack-surface.em1,
  .attack-surface-tables * .em1{
      width: 1em;
      text-align: center;
  }

  .em1{
    width: 1em;
  }


  .ips{
      width: 10em;
  }

  .attack-surface-tables * .value{
    width:  7.5%;
  }

  .attack-surface-tables * .checkboxAS{
    margin: 0px;
    width: 3em;
  }

//   .attack-surface-tables * td.checkboxAS,
//   .attack-surface-tables * th.checkboxAS{
//     width: 4em;
//   }
  .attack-surface-tables * .checkboxAS > div > input,
  .attack-surface-tables * .checkboxAS > input{
    margin: 0;
    position: initial;
  }

  .attack-surface-tables * th.filter.checkboxAS{
      height: 31px;
  }


  .attack-surface-tables * .checkboxAS > div{
    margin-left: 1em;
    margin-right: 1em;
    width: 1em;
  }

  .attack-surface-tables * .filler{
    width: 100%;
  }

  .ng-table-pager{
    .clearfix();
  }

.line-through{
     text-decoration: line-through;
  }

  .vcenter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .vcenter-grow {
    flex: 1 1 auto;
  }

.btn-default.form-control.ui-select-toggle {
    //noinspection LessUnresolvedMixin
    .single-line();
}

.sticky-actions-top {
    position: sticky;
    top: 84px;
    background-color: @panel-bg;
    z-index: 1;
}

#jumpToOperationForm {
    width: 205px;
    position: relative;
    top: 12px;
}


.maps-tooltip {
    position: relative;
    padding: 3px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0.7;
    white-space: nowrap;
    font: 10pt sans-serif;
}

.showing-customer-label{
    top: .5em;
    right: 0.5em;
    position: absolute;
    z-index: 1000;
    display: block;
    margin: 1px;
    padding: 0.5em;
    color: #fff;
    font-size: 1.14em;
    font-weight: 700;
    background-color: rgba(0, 60, 136, 0.5);
    border: none;
    border-radius: 2px;
}

.toggle-markers{
    top: 4em;
    left: 0.5em;
}

.toggle-markers > *{
    color: black !important;
}

.fa.inactive{
    color: black !important;
    background-color: transparent;
    text-decoration: line-through;
}

.dashboard-tab-maps{
      min-height: 0 !important;
}

.findings-button{
    margin: 0 !important;
    width:8em;
    height:2.25em;
}

@media screen and (max-width: 1199px) {
    .shrink-form{
        width: 30em;
    }
}

@media screen and (min-width: 1481px) {
    .operation-detail-findings-word-wrap{
        white-space: normal;
        word-wrap: break-word;
        width: 5.25em;
        text-align: center;
    }

    .standard-findings-word-wrap{
        white-space: normal;
        word-wrap: break-word;
        width: 5.25em;
        text-align: center;
    }

    .pull-right-conditional{
        float: right;
    }

    .pull-left-conditional{
        float: left;
    }

    .right-align-condtional{
        text-align: center;
    }

    .left-align-condtional{
        text-align: center;
    }
}

.side-by-side{
    width: 49%;
    display: inline-block;
}

.side-margins-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}

.findings-word-wrap{
    white-space: normal;
    word-wrap: break-word;
    width: 5.5em;
    text-align: center;
}

div.references-editor-ui-select div:first-of-type > input{
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e5e5e5 !important;
    height: 2em !important;
}

.operation-details div.references-editor-ui-select div:first-of-type > span{
    height: 8.75em;
}

div.references-editor-ui-select div:first-of-type > span{
    display: inline-block;
    height: 10.75em;
    position: relative;
    top: 2em;
    padding-top: .25em;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%
}

references-editor .referencesFilterContainer > .ui-select-match span .ui-select-match-text {
    height: 3em;
}

.operation-details references-editor .referencesFilterContainer > .ui-select-container.ui-select-multiple
{
    height: 11em;
}

references-editor .referencesFilterContainer > .ui-select-container.ui-select-multiple
{
    height: 13em;
    min-width: 14em;
}


references-editor .referencesFilterContainer > div > div:nth-child(1) > span > span > span > span:nth-child(2) span{
    width: 90%;
    display: inline-block;
    overflow: hidden;
}

references-editor > div > div{
    padding: 0 !important;
}

references-editor > div > div > div:nth-child(1) > span > span{
    margin-left: 5px;
    width: 100%;
    display: block;
    padding-right: 1em;
}

references-editor > div > div > div:nth-child(1) > span > span > span{
    width: 100%;
}

references-editor > div > div > ul.dropdown-menu{
    top: 2em;
}

references-viewer {
    .reference-label {
        max-width: 15em;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.tooltip-inner {
    .force-wrap();
}



#map {
    position: relative;
}
#info {
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 100;
}
.tooltip.in {
    opacity: 1;
}
.tooltip.top .tooltip-arrow {
    border-top-color: white;
}
.tooltip-inner {
    border: 2px solid white;
}

.ol-ctx-menu-container {
    max-height: 400px;
    overflow-y: auto;
}

.pointer,
.pointer > span{
    cursor: default;
}

.ol-ctx-menu-container .no-highlight
{
    background-color: inherit !important;
    color: inherit !important;
    cursor: default !important;
}

.ol-ctx-menu-container .highlight-device
{
    color: white !important;
}

.ol-ctx-menu-icon{
    background-position-y: 7px;
    background-size: 1em;
    //overriding text-indend from ol-contextmenu.less
    text-indent: 0px !important;
}

.ol-ctx-menu-center {
    background-image: url('/img/search-location.svg');
}



.maps-text-indent-15,
.ol-ctx-menu-zoom-in,
.ol-ctx-menu-zoom-out{
    //overriding text-indent from ol-contextmenu.less
    text-indent: 15px !important;
}

.maps-left-5{
    position: relative;
    left: 5px !important;
}

.maps-backgorund-icon-sizer{
    background-size: 1em;
}

.maps-text-indent-0{
    text-indent: 0px !important;
}

.smaller-menu-font{
    font-size: 12px !important;
}

.maps-icons-ugs {
    background-image: url('/app/img/maps/ugs.svg');
}

.maps-monospace {
    font-family: 'Courier New', Courier, monospace, 'FontAwesome' !important
}

.panel-body.ng-scope.dashboard-tab-developer {
    overflow: hidden;
}
// .panel-body.ng-scope.dashboard-tab-developer #editor {
//     margin: 0;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
// }

//Right now the width is set to 75% because I do not know how else to override
//the ACE-Editor built in styling.  I would like to be able to tell browsers
//to user the Bootstrap classes, but they currently do not take precidence.
.ace_editor {
    height: 700px;
    width: 75%;
 }

 .dashboard-tab-developer>div,
  developer-cmp{
     height: 100%;
 }

 .dashboard-tab-maps > div,
 maps,
 #mapsTabContent,
 #mapsTabContent > div
 {
    height: 100%;
 }

 .highlighted {
    background-color: @color-base;
    border-color: @color-base;
    color: #fff;
 }

 .selected>.highlighted{
    background-color: #e46600;
    border-color: #e46600;
    color: #fff;
 }

 .no-padding-hor{
     padding-left: 0;
     padding-right: 0;
 }

//  #moduleSelector > ul > li:nth-child(1) > div

 ul > li > div.approved:before {
    font-family: 'FontAwesome';
    content: '\f058';
    color: green;
    position: relative;
    left: -1.4em;
 }

 ul > li > div.not-approved:before {
    font-family: 'FontAwesome';
    content: '\f05e';
    color: red;
    position: relative;
    left: -1.4em;
 }

 ul > li > div.renaming {
    background-color: green;
    color: white
 }

.binary-toggle-btn {
    .fa {
        font-size: smaller;
        vertical-align: top;
    }
    span {
        font-size: 7px;
        font-family: @font-family-monospace;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.cg-busy-left {
    .cg-busy {
        width: 600px;
        left: unset;
    }
}

.dc-chart text {
    fill: #000 !important;
}

.mat-button-base.mat-btn-xs {
    line-height: 18px;
    font-size: 12px;
    padding: 0 8px;
}
