.flex
{
    display: flex !important;
}

.flex-row
{
    flex-direction: row;
}

.flex-column
{
    flex-direction: column;
}

.flex-grow, .grow-1
{
    flex-grow: 1;
}
.grow-2
{
    flex-grow: 2;
}

.shrink
{
    flex-shrink: 1;
}
.no-shrink
{
    flex-shrink: 0;
}

.flex-wrap
{
    flex-wrap: wrap;
}

.flex.center, .flex > .center
{
    justify-content: center;
    align-items: center;
}

.align-end
{
    justify-content: flex-end;
}

//align-items works on the "cross-axis": for flex-row items
//this equates to vertical centering
.flex-row.vcenter
{
    align-items: center;
}

.space-between
{
    justify-content: space-between;
}

.stretch
{
    justify-content: stretch;
}
