@blur: 30px;
@duration: .3s;
@icon-duration: .2s;
@radius: 4px;


#mission-control {
    // counteracts the blurred edges
    background: #214765;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: visibility 0s linear @duration,
    opacity @duration linear;
    top: 0;
    visibility: hidden;
    z-index: 1;

    &.show {
        opacity: 1;
        transition-delay: 0s;
        visibility: visible;

        &:before {
            bottom: 0;
            content: "";
            filter: blur(@blur);
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }

        nav {
            top: 0;
            transition-delay: 0s;
        }
    }

    &.hide {
        opacity: 0;
        visibility: hidden;

        nav {
            top: -180px;
        }
    }

    nav {
        background: rgba(0, 0, 0, 0.08);
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        left: 0;
        position: absolute;
        right: 0;
        transition: top @duration linear;
        top: 0;

        a {
            cursor: pointer;
            display: inline-block;
            margin: 30px;
            text-align: center;

            &:active { opacity: 0.8; }
            &.active > div { border: 3px solid white; }

            > div {
                background: #333;
                border-radius: 2px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                height: 80px;
                position: relative;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
                width: 150px;

                > img {
                    bottom: -10px;
                    height: 32px;
                    left: 50%;
                    margin: 0 0 0 -16px;
                    position: absolute;
                    width: 32px;
                }
            }
            > span {
                color: white;
                display: block;
                font-size: 13px;
                margin-top: 20px;
            }
        }
    }
}

.window {
    border-radius: @radius;
    //box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.6);
    //perspective-origin: center bottom;
    position: relative;
    text-align: center;
    width: 98%;
    z-index: 2;

    header {
        background-color: #f2f2f2;
        background-image: linear-gradient(to top, #f2f2f2 1%,#e8e8e8 100%);
        border-radius: @radius @radius 0 0;
        border-top: 1px solid white;
        border-bottom: 1px solid #ccc;
        color: #555;
        cursor: move;
        font-size: 13px;
        padding: 5px;
    }

    article {
        background: white;
        border-radius: 0 0 @radius @radius;
        color: #000;
        margin: 0;
        padding: 30px;

        p {
            line-height: 20px;
            padding: 0;
        }
    }

    > img {
        bottom: -32px;
        height: 64px;
        left: 50%;
        margin: 0 0 -24px -32px;
        opacity: 0;
        position: absolute;
        transition: visibility 0s linear @duration,
        opacity @duration linear,
        margin @duration ease-in;
        visibility: hidden;
        width: 64px;
    }

    &.zoomout {
        header { cursor: pointer; }
        img {
            margin: 0 0 0 -32px;
            opacity: 1;
            visibility: visible;
            transition-delay: 0s;
            z-index: 1;
        }

        &:before,
        &:after {
            bottom: 0;
            content: "";
            cursor: pointer;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        &:hover:after {
            border-radius: @radius;
            box-shadow: 0 0 15px 0 rgba(0, 123, 255, 1);
            z-index: 0;
        }
    }

    &.zoomin {
        img {
            margin: 0 0 -24px -32px;
            opacity: 0;
            visibility: hidden;
        }
    }
}

.missionControlLink {
    padding-left: 20px;
}

.unset {
    all: initial;
}

#graph {
    min-height: 800px;
}

#graph1 {
    /*left: 50%;
    margin: -100px 0 0 -400px;
    top: 50%;
    */
    position: absolute;

}

#graph1.zoomout {
    left: 0;
}

#graph2 {
    /*left: 40%;
    top: 38%;
    margin: -100px 0 0 -400px;
    */
    position: absolute;
}

#graph2.zoomout {
    left: 0;
    margin: -100px 0 0 -300px;
}

.zoomout {
    animation: zoomout @duration ease-in-out;
    transform: 	perspective(600px)
    translate3d(0, 0, -600px);
}

.zoomin {
    animation: zoomin @duration ease-in-out;
    transform: 	perspective(0)
    translate3d(0, 0, 0);
}

@keyframes zoomout {
    0% {
        transform: 	perspective(0)
        translate3d(0, 0, 0);
    }
    100% {
        transform: 	perspective(300px)
        translate3d(0, 0, -60px);
    }
}

@keyframes zoomin {
    0% {
        transform: 	perspective(300px)
        translate3d(0, 0, -60px);
    }
    100% {
        transform: 	perspective(0)
        translate3d(0, 0, 0);
    }
}
