.leaflet-info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.leaflet-info h4 {
  margin: 0 0 5px;
  color: #777;
}

.leaflet-legend {
  text-align: left;
  line-height: 18px;
  color: #555;
  white-space: nowrap;
  width: max-content;
}

.leaflet-legend i {
  width: 17px;
  height: 17px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#map-frame {
  width: 100%;
  height: 100%;
}

.state-label {
	background-color: transparent;
	border: none;
	box-shadow: none;
	padding: 0;
	font-weight: bold;
}
