.last_msg {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 8px !important;
  padding-top: 3px;
  font-style: italic;
  font-size: 16px;
}

.clean-attachments {
    white-space: initial;
    color: initial !important;
}

.msg {
    position: relative;
    margin-left: 36px;
    word-wrap: break-word;
    direction: ltr;
    text-align: left;
    outline: none;
    margin: 1px 0;
    padding: 6px 12px;
    border-radius: 11px;
    max-width: 85%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    /* This is dangerous in WebKit, as it breaks things whenever it wants */
    word-break: break-all;
    white-space: pre-wrap; /* support for newlines */
}

.other {
    white-space: pre-wrap;
    clear: left;
    float: left;
    background-color: @color-base;
    color: @color-white;
    margin-left: 33px;
    border-bottom-left-radius: 0;
}

.name {
    font-size: 9px;
    margin-left: 40px;
    color: darkgrey;
}

.me-wrapper {
    /**
    * For IE 6/7 only
    * Include this rule to trigger hasLayout and contain floats.
    */
    *zoom: 1;
}

.me-wrapper:before, .me-wrapper:after {
    content: " ";
}

.me-wrapper:after {
    clear: both;
    display: table;
}

.me {
    clear: right;
    float: right;
    background-color: #f1f0f0;
    color: #000;
    border-bottom-right-radius: 0;
}

.msg_icon {
    max-height: 28px;
    max-width: 28px;
    position: absolute;
    /*left: 32px;*/
    object-fit: cover;
    margin-top: 17px;
}
