.form-inline.pagination .input-group {
    width: initial;

    .input-group-prepend {
        display: inline-block;

        .btn {
            font-size: 10px;
        }

        .form-control {
            text-align: center;
        }
    }

    .form-control {
        width: 70px;
        height: 28px;
        font-size: 0.9em;
    }
}
