@color-inactive-text: #8e8e8e;
@color-tab-divider: rgba(224, 224, 224, 0.1);

@size-sidebar: 70px;

.resize-sidebar(@sidebarSize: @size-sidebar)
{
    .tabs-right,
    .tabs-left
    {
        > .nav-tabs
        {
            width: @sidebarSize;
            min-width: @sidebarSize;
        }
    }
}

.hide-tab-labels()
{
    @size-sidebar: 70px;
    .resize-sidebar(@size-sidebar);

    .lefttabtxt
    {
        display: none;
    }

    .tabs-left > .nav-tabs li > a
    {
        padding: 10px 0;
        text-align: center;

        i.fa, span.fa
        {
            margin: 0;
            font-size: 1.3em; //!important;
        }
    }
}


.sidebar-tabs()
{
    margin: 0;// 10px 0 0;
    cursor: pointer;
    color: @color-inactive-text;
    background-color: transparent;
    border-color: @color-tab-divider transparent;
    border-radius: 0;
}

.sidebar-tabs-active()
{
    .sidebar-tabs();
    color: @color-white;
}


///////////////////////////////////////////////////////////


//the default sidebar config (for small screens)
.tabs-container.sidebar
{
    .hide-tab-labels();
}

//the config for when the sidebar is collapsed
.tabs-container.sidebar.sidebar-active
{
    .hide-tab-labels();
}


.tabs-container.sidebar .tabs-left,
.tabs-container.sidebar .tabs-right
{
    > .nav-tabs
    {
        border-bottom: 0;
        // margin-right: 19px;
        // margin-right: -1px;

        li
        {
            float: none;

            > a, > a:focus
            {
                .sidebar-tabs();
            }
            > a:hover
            {
                .sidebar-tabs-active();
            }

            &.active
            {
                > a, > a:hover, > a:focus
                {
                    .sidebar-tabs-active();
                
                    .fa
                    {
                        color: @color-sidebar-active-icon;
                    }
                }
            }
        }
    }


    .tab-content
    {
        width: 100%;
    }


    .tab-pane .panel-body
    {
        min-height: calc(100vh - 210px) !important;
        width: 100%;
        border-top: 1px solid @color-lt-gray;
        background-color: @color-sel-gray;
        position: static;
    
        &> div[ui-view]
        {
            height: 100%;
        }
    }
}



//for transparent bg
@size-sidebar-padding: 15px;
.tabs-left > ul.nav-tabs
{
    display: block;
    background-color: @color-black;
    height: calc(100% + 100px);
    min-height: 450px;
    width: calc(100% + @size-sidebar-padding);
    margin-left: -@size-sidebar-padding;
    padding: 0 @size-sidebar-padding;

    position: sticky;
    top: 80px;
}



#views
{
    transition: all 0.3s;
}

#views > div > div > div.tab-pane.ng-scope.active > div
{
    height: 100%;
}



@media(min-width: 910px)
{
    @size-sidebar: 13%;
    .tabs-container.sidebar
    {
        .resize-sidebar(@size-sidebar);
    }

    .tabs-container.sidebar
    {
        .lefttabtxt
        {
            display: inline;
        }
    }


    .tabs-container.sidebar .tabs-left > .nav-tabs li > a,
    .tabs-container.sidebar .tabs-right > .nav-tabs li > a
    {
        padding: 10px;
        text-align: left;

        i.fa, span.fa
        {
            margin-right: 6px;
            font-size: inherit;
        }
    }
}

@media(min-width: 991px)
{
    @size-sidebar: 14%;
    .tabs-container.sidebar
    {
        .resize-sidebar(@size-sidebar);
    }
}

@media(min-width: 1200px)
{
    @size-sidebar: 16%;
    .tabs-container.sidebar
    {
        .resize-sidebar(@size-sidebar);
    }
}
