
/* Version 2 */
input[type=checkbox].switch {
	height: 0;
	width: 0;
	visibility: hidden;
	margin-left: 5px;
}

label.switch {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 24px;
	background: grey;
	display: block;
	border-radius: 25px;
	position: relative;
	margin-right: 5px;
}

label.switch:after {
    content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 18px;
	transition: 0.3s;
}

input:checked + .slider {
  background-color: #00a651;
  &.red {
    background-color: #a94442; //@state-danger-bg;
  }
}

input.switch:checked + label.switch {
	background: #00a651; // Green
	&.red {
	    background-color: #a94442; //@state-danger-bg;
	}
}

input.switch:checked + label.switch:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label.switch:active:after {
	width: 18px;
}


// centering
div.slider {
	display: flex;
	align-items: center;
}

.slider.round:before {
  border-radius: 50%;
}
