.dropdown-submenu{
    position:relative;
}
 .dropdown-submenu>.dropdown-menu{
    top:0;
    left: -115% !important;
    width: 115%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
 .dropdown-submenu:hover>.dropdown-menu{
    display:block;
}
 .dropdown-submenu>a:after{
    display: block;
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-right-color: #cccccc;
    margin-top: -16px;
    left: 5px;
}
 .dropdown-submenu:hover>a:after{
    border-left-color:#ffffff;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 50px 3px 20px !important;
}