@color-blue: #007bff;
@color-indigo: #6610f2;
@color-purple: #6f42c1;
@color-pink: #e83e8c;
@color-red: #dc3545;
@color-orange: #fd7e14;
@color-yellow: #ffc107;
@color-green: #28a745;
@color-teal: #20c997;
@color-cyan: #17a2b8;
@color-white: #fff;
@color-gray: #6c757d;
@color-gray-dark: #343a40;

.bg-orange {
    background-color: @color-orange !important;
}

.bg-teal {
    background-color: @color-teal !important;
}

.bg-red {
    background-color: @color-red !important;
}

.bg-gray-striped{
    background: repeating-linear-gradient(
            45deg,
            #999999,
            #999999 10px,
            #888888 10px,
            #888888 20px
    );
}

.widget.section-holder {
    /*padding: 0 8px;*/
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    width: 100%;
}

.widget.section-holder-absolute {
    .widget.section-holder;
    position: absolute;
    height: 98%;
    top: 0;
}

.widget i.bg {
    font-size: 80px;
    line-height: 65px;
    color: #fff;
    position: absolute;
    right: -17px;
    top: 20px;
    opacity: .3;
}

.widget-title {
    position: absolute;
    left: 8px;
    top: 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.1em;
    width: 95%;
    padding-right: 12px;
}

.widget-title > .btn-group-title {
    position: relative !important;
    > button {
        font-weight: 600;
        padding: 4px;
        margin-top: 5px;

        @media (min-width: 1600px) {
            font-size: .8vw !important;
        }
        @media (min-width: 1022px) {
                font-size: .6vw;
        }
    }
}

.dropdown-menu > li > a.compact {
    line-height: 20px;
    padding: 3px 5px;
    font-size: 0.6vw;
}

@media (min-width: 1600px) {
    .viewport-fontsize {
        font-size: .9vw !important;
    }
}
@media (min-width: 1022px) {
    .viewport-fontsize {
        font-size: .7vw;
    }
}

.widget-stats h3 {
    padding: 8px;

    @media (min-width: 1600px) {
        font-size: .8vw !important;
    }
    @media (min-width: 1022px) {
            font-size: .6vw;
    }
}

.widget-stats p {
    float: left;
    font-weight: 600;
    margin-bottom: 0;
    color: @color-white;
    position: absolute;
    left: 10px;
}


.widget-stats .stats-link {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    a, .dropdown {
        display: block;
        padding: 5px 4px;
        background: rgba(0, 0, 0, 0.4);
        text-align: right;
        color: #fff;
        text-decoration: none;

        button {
            background: none;
            font-size: 0.7vw;
            border: none;
        }
    }

    .dropdown:hover {
        background: rgba(0, 0, 0, 0.2);
    }

    .btn-default:active:hover,
    .btn-default.active:hover,
    .open > .dropdown-toggle.btn-default:hover,
    .btn-default:active:focus,
    .btn-default.active:focus,
    .open > .dropdown-toggle.btn-default:focus,
    .btn-default:active.focus,
    .btn-default.active.focus,
    .open > .dropdown-toggle.btn-default.focus {
        color: inherit !important;
        background-color: rgba(255, 255, 255, 0.3) !important;
        border: none !important;
    }

    .svc-label {
        margin-bottom: 3px;
    }
}

.service.dropdown-menu {
    font-size: 0.8vw;
    padding: 0;
    min-width: initial;
    > li > a {
        line-height: 0.8vw;
        padding: 7px 6px 7px 18px;
        margin: 0;
        background-color: rgba(0,0,0,.3);
        color: inherit;
    }

    li:hover,
    li > a:hover {
        background: none !important;
    }
}

.makeWidgetLinkGroup(@fontSize, @widgetStatsBottom, @widgetStatsFontSize) {
    .widget-stats .stats-link a {
        font-size: @fontSize !important;
    }
    .widget-stats p {
        bottom: @widgetStatsBottom;
        font-size: @widgetStatsFontSize;
    }
}

@media (min-width: 1022px) {
    .makeWidgetLinkGroup(.6vw, 24px, 2vw);
}

@media (min-width: 1600px) {
    .makeWidgetLinkGroup(.7vw, 32px, 2.5vw);
}


.cyvar-table {
    height: 80%;
    overflow-y: auto;
}

.alert-level {
    height: 10px;
    width: 155px !important;
    margin-top: 2px;
}

.alert-level-text {
    position: relative;
    top: -10px;
}

.graph-title {
    font-size: 14px;
    font-weight: 600;
}

.cyvarExplaination {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.close-small {
    color: #000;
    float: right;
    position: absolute;
    right: 6px;
    font-size: 16px;
    top: 3px;
    opacity: 0.1;
    z-index: 1001;
}

.close-small:hover {
    opacity: 0.4;
}

.cyvarPoweredBy {
    font-size: 0.8em;
    position: absolute;
    top: 30px;
    right: 25px;
}

.cyvarWidgetIcon {
    position: absolute;
    top: 44px;
    height: 24px;
    right: 5px;
}

.toggleCyvarGraph {
    position: absolute;
    top: 33px;
    left: 5px;
    z-index: 1000;
}

.togglePhishingChart {
    z-index: 1000;
}

.widget-title-form > span > div {
    margin: 0;

    select {
        font-size: 0.6vw;
        height: 20px;
        padding: 0;
        margin-top: 0;
    }
}

.validationSeverityValue {
    font-size: 0.8em;
    position: relative;
    top: -10px;
}

/* Gridster Classes */

.gridster-item {
    border-radius: 3px;
    /* https://css-tricks.com/almanac/properties/b/box-shadow/ */
    -webkit-box-shadow: 1px 1px 7px 1px #333;
       -moz-box-shadow: 1px 1px 7px 1px #333;
            box-shadow: 1px 1px 7px 1px #333;

}

.gridster-item-base {
    padding: 10px;
    border-bottom: none;
    position: relative;
    z-index: 1000;
}

.gridster-item-drag {
    &:extend(.gridster-item-base);
    cursor: move;
}

.graph-widget-header > .gridster-item-base,
.graph-widget-header > .gridster-item-drag {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,000000+71&0.4+0,0.15+80,0+100 */
    background: linear-gradient(to bottom, rgba(221,221,221,0.4) 0%,rgba(0,0,0,0.18) 71%,rgba(0,0,0,0.15) 80%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding-bottom: 20px;

    /*.widget-title {
        top: -10px;
    }*/
}

.no-resize .gridster-item-resizable-handler {
   display:none;
}

// Make it easier to close a widget
.handle-e {
    top: 26px;
}

.graph-widget-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.graph-widget-header {
    flex: none;
    width: 100%;
}

.graph-widget-body {
    flex-grow: 1;
    height: 0;
    overflow-y: hidden;
}

.gridster-mobile .graph-widget-body {
    height: auto;
}

.gridster .vis-timeline {
    border: 0;
}

/* -- SERVICE COLORS
------------------------------ */
a.section-holder {
    display: block;
    height: calc(100% - 30px);
}
a.section-holder:hover {text-decoration:none;}


.makeServiceStyles(@svcName, @svcColor, @txtColor, @btnFocus, @bgSelected) {
    .@{svcName} .svc-color, .@{svcName} a, .@{svcName} a:focus, .@{svcName} a:hover {
        color: @svcColor;
    }

    .gridster-item.@{svcName}, .@{svcName} .svc-bg, li.card.@{svcName}, .@{svcName} .btn-primary {
        background-color: @svcColor;
    }

    /*a.section-holder.@{svcName} .svc-bg:hover { background-color: rgba(red(@svcColor), green(@svcColor), blue(@svcColor), .8); }*/

    .@{svcName} .btn-primary {
        border-color: @svcColor;
        color: @txtColor;
    }

    .@{svcName} .btn-primary:hover, .@{svcName} .btn-primary:focus, .@{svcName} .btn-primary:active, .@{svcName} .btn-primary.active, .@{svcName} .open .dropdown-toggle.btn-primary, .@{svcName} .btn-primary:active:focus, .@{svcName} .btn-primary:active:hover, .@{svcName} .btn-primary.active:hover, .@{svcName} .btn-primary.active:focus {
        background-color: @btnFocus;
        border-color: @btnFocus;
        color: @txtColor;
    }
    .@{svcName} .ngRow.selected {background: @bgSelected;}
    .progress.progress-striped.@{svcName}
    .progress-bar, ul.@{svcName} {background-color: @svcColor !important; color: @txtColor}
}

/*.makeServiceStyles(@svcName, @svcColor, @txtColor, @btnFocus, @bgSelected) { */
.makeServiceStyles(netscan, #78b22a, @color-white, #6e9b31, #ecf8dd);
.makeServiceStyles(physical, #598527, @color-white, #44661e, #d6dfcc);
.makeServiceStyles(configscan, #de6a08, @color-white, #af5406, #f0d9c6);
.makeServiceStyles(dnsscan, #00aeef, @color-white, #00aeef, #c4e7f4);
.makeServiceStyles(vulnscan, #0054a6, @color-white, #004384, #c4d5e5);
.makeServiceStyles(webstackscan, #92278f, @color-white, #7c2179, #e1cce1);
.makeServiceStyles(insiderthreat, #753fe7, @color-white, #6637c9, #dbd1f2);
.makeServiceStyles(socialeng, #9e0b0f, @color-white, #9e0b0f, #e4c6c7);
.makeServiceStyles(socialmed, #3c757d, @color-white, #326269, #d0dbdd);
.makeServiceStyles(wireless, #e3ab1d, @color-white, #ab8116, #f1e6ca);
.makeServiceStyles(webapp, #ec008c, @color-white, #af0068, #e7c4d9);
.makeServiceStyles(dco, #62878c, @color-white, #427076, #C3D1D3);
.makeServiceStyles(oco, #74A159, @color-white, #56833B, #9BC185);
.makeServiceStyles(complianceaudit, #2D4471, @color-white, #152B55, #7788AA);
.makeServiceStyles(threathunt, #A33643, @color-white, #CC6672, #7A1420);


.severityLabelRow {
    position: absolute;
    height: 27px;
    bottom: 6px;
    left: 8px;
    right: 8px;
}

@media (min-width: 1600px) {
    .svcs-title { font-size: .9vw !important;}
}
@media (min-width: 1022px) {
    .svcs-title, .svc-label { font-size: .7vw;}
    .graph-widget-body { font-size: 0.8vw; }
}
@media (max-width: 1021px) {
    .severityLabelRow {
        position: initial;
    }
    .toggleCyvarGraph {
        left: initial;
    }
}

.svcs-info {color:@color-white;font-size:12px;font-weight:400;}
