<div id="portsChartWidget"
     class="minw155 graph-widget-container">
    <div class="minw155 graph-widget-header">
        <div class="gridster-item-drag"></div>
    </div>
    <div class="graph-widget-body graph-widget-container">
        <div style="margin: 0 .25em 0 0">
            <div style="display: inline-block;width:19%;position:relative;top:-1em;">
            </div>
            <div style="display: inline-block;width: 60%;">
                <h2 style="margin:0">{{$ctrl.total_ports}} Ports Under Review</h2>
            </div>
            <div style="display: inline-block;width:19%;position:relative;top:-1em;">
            </div>
        </div>
        <div class="graph-widget-body"
             id="portsChart">
            <nvd3 options="$ctrl.portsChartOptions"
                  data="$ctrl.portsChartData"
                  on-ready="$ctrl.callback">
            </nvd3>
        </div>
    </div>
</div>
