<div class="row">
    <div class="col-md-8 white-txt ftr-txt"
         ng-include="'/app/common/boilerplate/catoCopyright.html'">
    </div>

    <div class="col-md-4 text-right white-txt ftr-txt">{{::catotheme.appName}} v{{CONFIG.version}}</div>
</div>
