<div class="footer">
    <div class="pull-right ml5">{{::catotheme.appName}} v{{CONFIG.version}}</div>
    <div class="pull-right ml5"><a ui-sref="cato.cato.privacy-policy">Privacy Policy</a> | <a
           ui-sref="cato.cato.terms-and-conditions">Terms and Conditions</a> | </div>
    <div ng-include="'/app/common/boilerplate/catoCopyright.html'"></div>
</div>