<div class="row">
  <div class="col-sm-12 section-hdr drk-gray-bg">
    <div class="section-title">{{::catotheme.appName}} PRIVACY POLICY</div>
  </div>
</div>
<!-- /row -->

<div class="row">
  <div class="col-md-10">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">

        <div class="ibox-content">

          <p>{{::catotheme.appCompany}} and the {{::catotheme.appName}} Team take your privacy seriously. Please read our Privacy Policy to
            learn more about our commitment to protecting the privacy of users of {{::catotheme.appName}} ("App").
            Any Personally Identifiable Information that we receive from you as a result of your use of this Site is
            subject to the terms and provisions of the Privacy Policy.</p>
          <h4>We Keep Personal Information Private And We Limit Our Use Of Personal Information</h4>

          <p>Information you may provide in visiting our Site falls into two broad categories: Personally Identifiable
            Information, and Aggregate Information. "Personally Identifiable Information" is information that can be
            used to identify or contact you, such as your name, email address, or mailing address. "Aggregate
            Information" is information that does not identify you, and may include, for example, statistical
            information concerning the Web pages on our Site that users most frequent. Our Privacy Policy governs both
            categories of information. The information we receive depends upon what you do when you visit our Site, as
            detailed below. We do not share with unrelated third parties any Personally Identifiable Information you
            provide to us. By "unrelated third parties" we mean anyone who is not directly involved in the maintenance
            or running of our Site, or not involved in fulfilling requests you make at our Site, or not within
            {{::catotheme.appCompany.toUpperCase()}}'s corporate family.</p>

          <p>We use Personally Identifiable Information you provide to us when you visit our Site strictly for the
            purposes for which you have provided it. For example, if you request to receive more detailed,
            project-specific information, and you provide us with contact information (which may include Personally
            Identifiable Information, such as an e-mail address, mailing address, or phone number), we will use that
            information to contact you regarding your request or to send you the information. If, at any time, you
            decide you no longer wish to receive such information, simply notify us to that effect.</p>
          <!--(for contact information, see section below entitled "How To Contact Us").</p>-->

          <p>In the event that {{::catotheme.appCompany.toUpperCase()}} desires to assign or transfer your Personally Identifiable
            Information and its rights hereunder to a third party, you agree that {{::catotheme.appCompany.toUpperCase()}} may do so, on
            the condition that such third party agree to abide by this Privacy Policy. {{::catotheme.appCompany.toUpperCase()}},
            however, cannot and does not guarantee or warrant that such third party will in fact abide by
            {{::catotheme.appCompany.toUpperCase}}'s Privacy Policy, and {{::catotheme.appCompany.toUpperCase()}}
            expressly disclaims any such obligations.</p>

          <h4>Security Of The Personal Information You Provide To Us</h4>

          <p>Each of our employees abides by our Privacy Policy, and only authorized employees have access to your
            Personally Identifiable Information. We have in place security control systems designed to prevent
            unauthorized disclosure of your Personally Identifiable Information. DUE TO THE NATURE OF THE INTERNET AND
            DEVELOPING TECHNOLOGIES, WE CANNOT, HOWEVER, PROVIDE ASSURANCES AS TO THE SECURITY OF YOUR INFORMATION, AND
            {{::catotheme.appCompany.toUpperCase()}} EXPRESSLY DISCLAIMS ANY SUCH OBLIGATIONS.</p>

          <h4>Exception To Our Privacy Policy</h4>

          <p>There is an exception to our Privacy Policy in that it may be necessary for {{::catotheme.appCompany.toUpperCase()}} to
            release or use Personally Identifiable Information we in good faith believe is appropriate in connection
            with legal proceedings, or in response to a subpoena, warrant, court order, levy, attachment, order of a
            court-appointed receiver, or other comparable legal process, including subpoenas from private parties in a
            civil action.</p>

          <h4>Use Of "Cookies"</h4>

          <p>We may collect Aggregate Information about your use of our Site through cookies and similar Internet
            technologies. "Cookies" are small pieces of information that a Web site transfers to your hard drive, where
            it is stored by your browser on your computer's hard drive for record-keeping purposes (such as storing user
            preferences). If we use cookies, they do not collect or retain your name or other Personally Identifiable
            Information. If we use cookies, we will treat all information that may be collected through cookies and
            similar Internet technologies as Aggregate Information. In addition, no third parties are permitted to use
            cookies we may create at our Site for their own purposes. Please be advised, however, that Third Party Sites
            you link to from our Site may use cookies. You should read and understand the privacy policy of the web
            site(s) you link to in order to determine whether and how a particular site uses cookies. Most browsers are
            initially set up to accept cookies. You can reset your browser to refuse all cookies or indicate when a
            cookie is being sent. Please consult the help section of your Web browser software to learn how to do this.
          </p>

          <h4>If You Visit Our Site To Browse Or To Read Or Download Information</h4>

          <p>We may collect and store: the name of the domain name and host from which you access the Internet (for
            example, aol.com); the Internet Protocol (IP) address of the computer you are using; the browser software
            you use and your operating system; the date and time you access our Site, and other activity on our Site;
            and the Internet address of the Web site from which you linked to our Site. If we collect this information,
            we use it for system administration, to measure the number of visitors to our Site, to improve Site
            performance, to help us make our Site more useful and/or to gather broad Aggregate Information.</p>

          <p>We do not link an IP address to Personally Identifiable Information, meaning that a user's session will be
            logged but the user remains anonymous to us. If we do decide to link any Aggregate Information, or your IP
            address to your Personally Identifiable Information, we will treat the resulting information as "Personally
            Identifiable Information" for all purposes under our Privacy Policy contained herein.</p>

          <h4>Questions</h4>

          <p>If you have questions about our Privacy Policy, you can contact us via email at:
            <a href="mailto:{{::catotheme.appName.toLowerCase()}}@{{::catotheme.appCompanyDomain}}">
              {{::catotheme.appName.toLowerCase()}}@{{::catotheme.appCompanyDomain}}
            </a>.
          </p>

        </div>
        <!-- /ibox-content -->
      </div>
      <!-- /ibox float-e-margins -->

    </div>
    <!-- /wrapper wrapper-content -->
  </div>
  <!-- /col-md-6 -->



</div>
<!-- /row -->