<div class="row">
  <div class="col-sm-12 section-hdr drk-gray-bg">
    <div class="section-title">{{::catotheme.appName}} TERMS AND CONDITIONS</div>
  </div>
</div>
<!-- /row -->

<div class="row">
  <div class="col-md-10">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">

        <div class="ibox-content">

          <p>Welcome to {{::catotheme.appName}} (the “app”). Please read these terms and conditions of use carefully (“Terms of Use”). </p>
          <!--<h2>Rules of Conduct</h2>-->

          <p>{{::catotheme.appCompany}} ("<strong>{{::catotheme.appCompany}}</strong>") products are proprietary software
            applications. Your use of {{::catotheme.appCompany}} Products is subject to the terms and conditions as outlined in this End
            User Agreement.</p>

          <ul>
            <li>This End User Agreement ("<strong>Agreement</strong>") is <strong>a binding legal document</strong>
              between {{::catotheme.appCompany}} and you, which explains your rights and obligations as an End User Customer of
              {{::catotheme.appCompany}} products. "End User" means either (a) you as an individual or (b) your company, if you are
              using {{::catotheme.appCompany}} products in your capacity as an employee or agent of a company. You identify the specific
              "End User" during the registration process.</li>

            <li>By installing or using any {{::catotheme.appCompany}} products, <strong>End User agrees to be bound by this
                Agreement.</strong></li>

            <li>From time to time, {{::catotheme.appCompany}} may modify this Agreement, including any referenced policies and other
              documents. {{::catotheme.appCompany}} will provide End User with an Addendum of any proposed modifications to the fully
              executed Agreement for review/acceptance. Until fully executed by the parties, the proposed changes will
              not apply.</li>
          </ul>


          <h4>1. Introduction to {{::catotheme.appCompany}}'s Products and License Terms</h4>

          <h4 class="drkGrayTxt">1.1 What's Included in "Software"</h4>

          <p>{{::catotheme.appCompany}} offers many different software products and services. "Software" means any {{::catotheme.appCompany}} product
            that End User orders or downloads from {{::catotheme.appCompany}}, uses through a web-based portal, or is sold by an
            approved Reseller. The term also includes (a) related documentation, (b) any Updates (defined below) to the
            Software, (c) any add-ons, plug-ins, APIs or Internet-based components of the Software provided by
            {{::catotheme.appCompany}} (but not third parties) ("Supplementary Software"), and (d) any third party software embedded in
            or provided with {{::catotheme.appCompany}}'s software ("Embedded Software"). End User's detailed rights to use Software are
            in Section 2 below. To be clear, any add-ons, plug-ins, APIs or other code offered by third parties or
            created by End User itself are not "Software", and {{::catotheme.appCompany}} is not responsible for and does not offer any
            warranty, indemnity or support for those items.</p>

          <h4 class="drkGrayTxt">1.2 The "Products"</h4>

          <p>This Agreement uses "Products" to refer to the Software.</p>

          <h4 class="drkGrayTxt">1.3 Limits on Authorized Users.</h4>

          <ul>
            <li>Enterprise License. When buying a license to the Software, End User Customer pays fees for a specific
              number of licenses, which are counted based on the number of instances of the Product installed and
              operating by the End User Customer. Only one instance of each license can be installed and operating;
              additional instances require additional licenses. End User designates Authorized Users. Authorized Users
              may include End User's employees, representatives, consultants, contractors, agents, and Customers. End
              User is responsible for all use of the Products by its Authorized Users and their compliance with this
              Agreement.</li>

            <li>Subscription Service: When buying a subscription to the Software, End User pays fees to access the
              Software for a specific period of time.</li>
            <!--The software includes a "time out" function, which automatically disables the software at the end of the designated subscription period. </li>-->

            <li>End User designates Authorized Users. Authorized Users may include End User's employees,
              representatives, consultants, contractors, agents, and Customers. End User is responsible for all use of
              the Products by its Authorized Users and their compliance with this Agreement.</li>
          </ul>

          <h4 class="drkGrayTxt">1.4 Purchases through Resellers</h4>

          <p>Fees are payable directly to {{::catotheme.appCompany}} unless End User ordered the Products from a {{::catotheme.appCompany}} authorized
            reseller. If End User ordered Products from a reseller, then the sections of this Agreement referring to
            orders with {{::catotheme.appCompany}} or payments to {{::catotheme.appCompany}} do not apply for those Products. Instead, End User agrees
            to pay the reseller the fees separately agreed with the reseller. No reseller may change the terms of this
            Agreement (but they may impose additional restrictions on use of the Products). No promises, warranties or
            agreements by resellers are binding on {{::catotheme.appCompany}}.</p>
          <h4>2. License to Use {{::catotheme.appCompany}} Software</h4>
          <h4 class="drkGrayTxt">2.1 Software, Generally</h4>

          <p>{{::catotheme.appCompany}} grants End User a non-exclusive, non-transferable (except as expressly permitted in this
            Agreement), non-sub-licensable right to use the Software, subject to the terms and conditions of this
            Agreement. Software licenses are annual unless otherwise described in this Agreement. Only Authorized Users
            may use the Software, and only up to the permitted number of concurrent Authorized Users. All use of
            Software must be in accordance with the relevant {{::catotheme.appCompany}} documentation. Unless {{::catotheme.appCompany}} agrees
            otherwise in writing, End User may only install, use or make available the Software on End User's hardware
            systems, whether owned, leased or controlled. End User will be responsible for any use of the Software on
            any hardware systems not owned, leased or controlled by End User ("Uncontrolled Systems").</p>
          <h4 class="drkGrayTxt">2.2 Third Party Software</h4>

          <p>Notwithstanding the terms and conditions of this EULA, all or any portion of the Software Product which
            constitutes Third Party Software, is licensed to you subject to the terms and conditions of the software
            license agreement accompanying such Third Party Software whether in the form of a discrete agreement, shrink
            wrap license or electronic license terms. Use of the Third Party Software by you shall be governed entirely
            by the terms and conditions of such license.</p>
          <h4 class="drkGrayTxt">2.3 Updates and Supplementary Software</h4>

          <p>The terms for Software in this Agreement apply to any Updates and Supplementary Software, unless {{::catotheme.appCompany}}
            provides different terms. {{::catotheme.appCompany}} may cease making available Supplementary Software and Internet-based
            services used with the Software at any time. Maintenance and routine updates will be provided for the
            duration of the license.</p>
          <h4 class="drkGrayTxt">2.4 Evaluation Software</h4>

          <p>This paragraph applies to any Software that {{::catotheme.appCompany}} makes available expressly on an evaluation basis
            ("Evaluation Software"). End User may only use the Evaluation Software for internal evaluation purposes for
            the period specified by {{::catotheme.appCompany}} (or, if not specified, for 30 days), and may only permit a limited number
            of users (specified by {{::catotheme.appCompany}}) to access the Evaluation Software. After the evaluation period, End User
            must delete all copies of the Evaluation Software. End User acknowledges that Evaluation Software may not be
            fully functional and will include an automatic "time out" function, which automatically disables the
            software at the end of the designated evaluation period. Notwithstanding anything else in this Agreement,
            {{::catotheme.appCompany}} does not offer any warranty, indemnity or support for any Evaluation Software.</p>

          <h4 class="drkGrayTxt">2.5 IP Protection Mechanisms</h4>

          <p>The Software has license protection mechanisms designed to manage and protect {{::catotheme.appCompany}}'s and its
            suppliers' and licensors' intellectual property rights. End User must not modify or alter these mechanisms
            or try to circumvent them or the usage rules they are designed to enforce.</p>

          <h4 class="drkGrayTxt">2.6 Export Control</h4>

          <p>End User acknowledges that the Product is subject to U.S. export jurisdiction and agrees to comply with all
            applicable international and national laws that apply to the Product, including the U.S. Export
            Administration Regulations, as well as end-user, end-use, and destination restrictions issued by U.S. and
            other governments. In any case, the import and export of any Product may be subject to control or
            restriction by applicable local law. End User is solely responsible for determining the existence and
            application of any such law to any proposed import and export and for obtaining any needed authorization.
            End User agrees not to export, directly or indirectly, any Product (or any direct product thereof) from any
            country in violation of applicable laws.</p>
          <h4 class="drkGrayTxt">2.7 RESERVED</h4>
          <h4 class="drkGrayTxt">2.8 Limitations On Reverse Engineering, Decompilation, And Disassembly</h4>

          <p>End User may not reverse engineer, decompile, or disassemble the Software except to the extent permitted by
            law.</p>
          <h4 class="drkGrayTxt">2.9 Limitations on Service Levels</h4>

          <p>Processing threads may be throttled to ensure performance standards.</p>
          <h4 class="drkGrayTxt">2.10 RESERVED</h4>
          <h4 class="drkGrayTxt">2.11 Reservation Of Rights And Ownership</h4>

          <p>{{::catotheme.appCompany}} reserves all rights not expressly granted to End User in this EULA. Copyright and other
            intellectual property laws and treaties protect the Software. {{::catotheme.appCompany}} owns the title, copyright, and
            other intellectual property rights in the Software. The Software is licensed, not sold. This EULA does not
            grant End User any rights to trademarks or service marks of {{::catotheme.appCompany}}.</p>
          <h4>3. Confidentiality</h4>

          <p>Except as otherwise set forth in Section 2.11 above, each party agrees that all code, inventions, know-how,
            business, technical and financial information it obtains ("Receiving Party") from the disclosing party
            ("Disclosing Party") constitute the confidential property of the Disclosing Party ("Confidential
            Information"), provided that it is identified as confidential at the time of disclosure or should be
            reasonably known by the Receiving Party to be Confidential Information due to the nature of the information
            disclosed and the circumstances surrounding the disclosure. Any {{::catotheme.appCompany}} Software, performance information
            relating to the Products, and the terms and conditions of this Agreement shall be deemed Confidential
            Information of {{::catotheme.appCompany}} without any marking or further designation. Except as expressly authorized herein,
            for a period of three (3) years from the effective date of this Agreement, the Receiving Party will hold in
            confidence and not use or disclose any Confidential Information except as necessary to accomplish the
            purposes of this Agreement. The Receiving Party's nondisclosure obligation shall not apply to information
            which the Receiving Party can document: (i) was rightfully in its possession or known to it prior to receipt
            of the Confidential Information; (ii) is or has become public knowledge through no fault of the Receiving
            Party; (iii) is rightfully obtained by the Receiving Party from a third party without breach of any
            confidentiality obligation; or (iv) is independently developed by employees of the Receiving Party who had
            no access to such information. The Receiving Party may disclose Confidential Information if required to be
            disclosed pursuant to a regulation, law or court order (but only to the minimum extent required to comply
            with such regulation or order and with advance notice to the Disclosing Party).</p>

          <p>The Receiving Party acknowledges that disclosure of Confidential Information may cause substantial harm for
            which damages alone would not be a sufficient remedy, and therefore that upon any such disclosure by the
            Receiving Party the Disclosing Party shall be entitled to seek appropriate equitable relief in addition to
            whatever other remedies it might have at law.</p>
          <h4>4. Warranties; Disclaimers of Warranties</h4>
          <h4 class="drkGrayTxt">4.1 General</h4>

          <p>Each party represents and warrants that it has the legal power and authority to enter into this Agreement,
            and that, if End User is an entity, this Agreement and each order is entered into by an employee or agent of
            such party with all necessary authority to bind such party to the terms and conditions of this Agreement.
          </p>

          <h4 class="drkGrayTxt">4.2 Limited Warranty</h4>

          <p>For a period of one year after delivery of a Product (the "Product Warranty Period"), {{::catotheme.appCompany}} warrants
            that such Product, when used as permitted under this Agreement and in accordance with the instructions in
            all associated documentation will conform and operate in all material respects to the features and
            functionality as set forth in such documentation.</p>

          <h4 class="drkGrayTxt">4.3 DISCLAIMER OF WARRANTIES</h4>

          <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, AND EXCEPT AS EXPRESSLY SET FORTH HEREIN, {{::catotheme.appCompany.toUpperCase()}},
            ITS RESELLERS, AND ITS THIRD PARTY SUPPLIERS/LICENSORS PROVIDE THE PRODUCTS (INCLUDING SOFTWARE AND ANY
            MAINTENANCE SERVICE) AS IS AND WITH ALL FAULTS, AND HEREBY DISCLAIM ALL OTHER REPRESENTATIONS, WARRANTIES
            AND GUARANTEES, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING IMPLIED WARRANTIES OF MERCHANTABILITY,
            TITLE, NON-INFRINGEMENT AND FITNESS FOR ANY PURPOSE. WITHOUT LIMITING THE FOREGOING, {{::catotheme.appCompany.toUpperCase()}} AND ITS
            THIRD PARTY SUPPLIERS/LICENSORS MAKE NO REPRESENTATION, WARRANTY OR GUARANTY (1) AS TO THE RELIABILITY,
            TIMELINESS, QUALITY, SUITABILITY, TRUTH, AVAILABILITY, ACCURACY OR COMPLETENESS OF ANY PRODUCTS OR ANY
            CONTENT THEREIN OR GENERATED THEREWITH, (2) THAT (A) THE USE OF ANY PRODUCTS WILL BE SECURE, TIMELY,
            UNINTERRUPTED OR ERROR-FREE OR OPERATE IN COMBINATION WITH ANY OTHER HARDWARE, SOFTWARE, SYSTEM OR DATA, (B)
            THE PRODUCTS WILL MEET END USER'S REQUIREMENTS OR EXPECTATIONS, (C) ANY STORED DATA WILL BE ACCURATE OR
            RELIABLE OR THAT ANY STORED DATA WILL NOT BE LOST OR CORRUPTED, (D) THE QUALITY OF ANY PRODUCTS, SERVICES,
            INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY END USER THROUGH THE PRODUCTS WILL MEET END USER'S
            REQUIREMENTS OR EXPECTATIONS, (E) ERRORS OR DEFECTS WILL BE CORRECTED, OR (F) THE PRODUCTS (OR ANY SERVER(S)
            THAT MAKE A HOSTED SERVICE AVAILABLE) ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. WITHOUT LIMITING THE
            FOREGIONG, TO THE MAXIMUM EXTENT PERMITTED BY APPLICBLE LAW, {{::catotheme.appCompany.toUpperCase()}} AND ITS THIRD PARTY
            SUPPLIERS/LICENSORS MAKE NO REPRESENTATIONS OR WARRANTIES WHATSOEVER WITH RESPECT TO, AND ASSUME NO
            LIABILITY FOR, ANY PRODUCTS PROVIDED ON AN EVALUATION BASIS. IN ADDITION, {{::catotheme.appCompany.toUpperCase()}} AND ITS THIRD PARTY
            LICENSOR/SUPPLIERS SHALL NOT BE LIABLE FOR DELAYS, INTERRUPTIONS, SERVICE FAILURES AND OTHER PROBLEMS
            INHERENT IN USE OF THE INTERNET AND ELECTRONIC COMMUNICATIONS OR OTHER SYSTEMS OUTSIDE THE REASONABLE
            CONTROL OF {{::catotheme.appCompany.toUpperCase()}}.</p>
          <!--{{::catotheme.appCompany.toUpperCase()}} SHALL NOT BE LIABLE FOR THE ACCURACY OF ANY VALUE AT RISK DATA OR REPORTS, WHICH REPRESENTS ESTIMATES BASED ON NUMEROUS FACTORS, INPUTS, ALGORYTHMS, ASSUMPTIONS AND PROPRIETARY CALCULATIONS.  {{::catotheme.appCompany.toUpperCase()}} SHALL NOT BE LIABLE FOR ANY LOSSES OR THE VARIANCES BETWEEN ESTIMATED AND ACTUAL LOSSES DIRECTLY OR INDIRECTLY ASSOCIATED WITH RISK MITIGATION ACTIONS RECOMMENDED BY ANY {{::catotheme.appCompany.toUpperCase()}} MODELING TOOL OR MODELING DATA.</p>-->

          <p>END USER MAY HAVE OTHER STATUTORY RIGHTS. HOWEVER, TO THE FULL EXTENT PERMITTED BY LAW, THE DURATION OF
            STATUTORILY REQUIRED WARRANTIES, IF ANY, SHALL BE LIMITED TO THE LIMITED WARRANTY PERIOD.</p>
          <h4>5. Limitation of Liability</h4>
          <h4 class="drkGrayTxt">5.1 MAXIMUM LIABILITY</h4>

          <p>THE ENTIRE LIABILITY OF {{::catotheme.appCompany.toUpperCase()}} UNDER THIS AGREEMENT SHALL BE LIMITED TO ACTUAL DAMAGES INCURRED, AND
            SHALL NOT EXCEED THE AMOUNTS PAID TO {{::catotheme.appCompany.toUpperCase()}} BY END USER UNDER THIS AGREEMENT.</p>
          <h4 class="drkGrayTxt">5.2 OTHER DISCLAIMERS</h4>

          <p>IN NO EVENT SHALL {{::catotheme.appCompany.toUpperCase()}} BE LIABLE FOR ANY SPECIAL, INCIDENTAL, PUNITIVE, INDIRECT, OR CONSEQUENTIAL
            DAMAGES (INCLUDING LOST PROFITS OR REVENUE) WHATSOEVER ARISING OUT OF OR IN ANY WAY RELATED TO THIS
            AGREEMENT. END USER SPECIFICALLY UNDERSTANDS AND AGREES THAT {{::catotheme.appCompany.toUpperCase()}} (ON BEHALF OF ITSELF AND ITS THIRD
            PARTY SUPPLIERS/LICENSORS) DISCLAIMS ALL WARRANTIES AND LIABILITY WITH RESPECT TO LOSS, LOSS OF USE OR
            CORRUPTION OF ANY END USER DATA (OR OTHER DATA END USER MAY PROVIDE) AND THE COSTS OF PROCUREMENT OF ANY
            SUBSTITUTE GOODS.</p>
          <h4 class="drkGrayTxt">5.3 Failure of Essential Purpose</h4>

          <p>The parties agree that the limitations specified in this Section 5 will survive and apply even if any
            limited remedy specified in this Agreement is found to have failed of its essential purpose.</p>
          <h4 class="drkGrayTxt">5.4 Force Majeure</h4>

          <p>Neither party shall be liable hereunder by reason of failure or delay in the performance of its obligations
            hereunder (except for the non-payment of money) on account of strikes, shortages, riots, insurrection, war,
            acts of terrorism, fires, flood, storm, explosions, earthquakes, acts of God, governmental action, labor
            conditions, or any other cause which is beyond the reasonable control of the party.</p>
          <h4>6. Consent To Use Of Data</h4>

          <p>You agree that {{::catotheme.appCompany}} may collect and use technical data and related information, including but not
            limited to network configurations, potential financial losses and technical information about your systems
            and endpoints that is gathered periodically to calculate your Value at Risk related to the Licensed
            Application. {{::catotheme.appCompany}} may use this information, as long as it is in a form that does not personally
            identify You, to improve its products or to provide services or technologies to You.</p>
          <h4>7. Assignment</h4>

          <p>Neither party may assign this Agreement without the prior written consent of the other party (which consent
            will not be unreasonably withheld), provided that the assignee agrees to be bound by the terms and
            conditions contained in this Agreement. Any permitted assignee shall be bound by the terms and conditions of
            this Agreement.</p>
          <h4>8. Governing Law and Arbitration</h4>
          <h4 class="drkGrayTxt">8.1 Applicable Law; Venue</h4>

          <p>This Agreement is governed by the laws of Maryland (with regard to conflict of law principles), and,
            subject to Section 8.2, the parties irrevocably and unconditionally submits to the exclusive jurisdiction of
            the courts of state and federal courts located in Maryland.</p>
          <h4 class="drkGrayTxt">8.2 Exclusion of UN Convention and UCITA</h4>

          <p>The terms of the United Nations Convention on Contracts for the Sale of Goods do not apply to this
            Agreement. The Uniform Computer Information Transactions Act (UCITA) shall not apply to this Agreement
            regardless of when or where adopted.</p>
          <h4>9. General</h4>

          <p>This Agreement constitutes the entire agreement between End User and {{::catotheme.appCompany}} relating to the Products
            and supersedes all prior or contemporaneous oral or written communications, proposals and representations
            with respect to the Products or any other subject matter covered by this Agreement. If any provision of this
            Agreement is held to be void, invalid, unenforceable or illegal, the other provisions shall continue in full
            force and effect. This Agreement may not be modified or amended except as described on the first page of
            this Agreement or otherwise with the written agreement of the parties (which may be withheld in its complete
            discretion without any requirement to provide reasons). As used herein, "including" (and its variants) means
            "including without limitation" (and its variants). If either party to this Agreement breaches any provision
            of this Agreement relating to Confidential Information or intellectual property rights, there may not be an
            adequate remedy available solely at law; therefore, an injunction, specific performance or other form of
            equitable relief or monetary damages or any combination thereof may be sought by the injured party to this
            Agreement. No failure or delay by the injured party to this Agreement in exercising any right, power or
            privilege hereunder shall operate as a waiver thereof, nor shall any single or partial exercise thereof
            preclude any other or further exercise thereof or the exercise of any right, power or privilege hereunder at
            law or equity. The parties are independent contractors. This Agreement shall not be construed as
            constituting either party as a Reseller of the other or to create any other form of legal association that
            would give on party the express or implied right, power or authority to create any duty or obligation of the
            other party.</p>

          <p>This End User License Agreement is subject to updates by {{::catotheme.appCompany}} on a periodic basis.</p>

          <h4>Questions</h4>

          <p>If you have questions about our User Agreement Terms contained in this document, you can contact us via
            email at:
            <a href="mailto:{{::catotheme.appName.toLowerCase()}}@{{::catotheme.appCompanyDomain}}">
              {{::catotheme.appName.toLowerCase()}}@{{::catotheme.appCompanyDomain}}
            </a>.
          </p>

        </div>
        <!-- /ibox-content -->
      </div>
      <!-- /ibox float-e-margins -->

    </div>
    <!-- /wrapper wrapper-content -->
  </div>
  <!-- /col-md-6 -->



</div>
<!-- /row -->