<div id="phishingOpsWidget"
     class="minw155 graph-widget-container"
     ng-controller="PhishingCtrl"
     cg-busy="allOperationsLoaded.promise">
    <div class="minw155 graph-widget-header">
        <div class="gridster-item-drag">
            <div class="widget-title">
                <div ng-show="availableOpsWithFindings.length > 0"
                     class="btn-group btn-group-xs ml5"
                     uib-dropdown
                     dropdown-append-to-body>
                    Phishing Operation
                    <button type="button"
                            uib-dropdown-toggle
                            class="btn btn-default dropdown-toggle pull-right ml5"
                            style="margin-top: -3px"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        started <span am-time-ago="phishingOp.startedOn"
                                      uib-tooltip="{{phishingOp.startedOn | amUtc | amLocal | amDateFormat:'lll'}}"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        uib-dropdown-menu
                        role="menu">
                        <li ng-repeat="operation in availableOpsWithFindings | orderBy: 'startedOn'"
                            role="menuitem">
                            <a href="javascript:;"
                               ng-click="updatePhishingGraph(operation.id)">
                                <span am-time-ago="operation.startedOn"
                                      uib-tooltip="{{operation.startedOn | amUtc | amLocal | amDateFormat:'lll'}}"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <span ng-show="availableOpsWithFindings.length === 0">Phishing Operations: No Completed Phishing Ops
                    Available</span>
            </div>
            <i title="Hide Widget"
               class="fa fa-close close-small button"
               ng-click="$ctrl.hideWidget()"
               role="button"></i>
        </div>
    </div>
    <div class="graph-widget-body graph-widget-container"
         ng-show="availableOpsWithFindings.length > 0"
         cg-busy="opResultsPromise">
        <div class="row graph-widget-header">
        </div>
        <div ng-show="!showPhishing" class="text-center">
            No phishing data resulted from the given operation started
            <span am-time-ago="phishingOp.startedOn"
                  uib-tooltip="{{phishingOp.startedOn | amUtc | amLocal | amDateFormat:'lll'}}"></span>.
        </div>
        <div ng-show="showPhishing"
             class="ml10">
            <i ng-show="phishingDonut"
               ng-click="togglePhishingChart()"
               class="fa fa-bars togglePhishingChart"
               aria-hidden="true"
               uib-tooltip="Toggle for list view"></i>
            <i ng-hide="phishingDonut"
               ng-click="togglePhishingChart()"
               class="fa fa-pie-chart togglePhishingChart"
               aria-hidden="true"
               uib-tooltip="Toggle for pie chart view"></i>

            Phishing Results from
            <span am-time-ago="phishingOp.startedOn"
                  uib-tooltip="{{phishingOp.startedOn | amUtc | amLocal | amDateFormat:'lll'}}">
            </span>, ending
            <span am-time-ago="phishingOp.stoppedOn"
                  uib-tooltip="{{phishingOp.stoppedOn | amUtc | amLocal | amDateFormat:'lll'}}">
            </span>
        </div>
        <div ng-show="phishingDonut"
             class="graph-widget-body">
            <nvd3 ng-show="showPhishing"
                  options="phishingDonutOptions"
                  data="phishingDonutData"
                  on-ready="$ctrl.chartReadyCallback.bind($ctrl)"></nvd3>
        </div>
        <div ng-hide="phishingDonut"
             class="graph-widget-body overflow-y-scroll">
            <div id="phishing-results-table"
                 class="table table-striped center mt10"
                 style="width: 85%;">
                <div ng-repeat="finding in phishingData | orderBy:'-group'"
                     class="row pt5 pb5">
                    <div class="col-xs-offset-2 col-xs-8">
                        <div uib-tooltip="{{finding.event.label}}, {{finding.title}}"
                             tooltip-placement="top">
                            <a class="label-xs"
                               ng-class="finding.event.className"
                               href="{{finding.url}}"
                               ng-bind="finding.email">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>