<div class="row"
     id="companyProfileHeader1">
    <div class="col-md-10">
        <div class="ibox-content vpadding0">
            <h2 class="vpadding0 vmargin0">Company Profile</h2>
        </div>
        <!-- /ibox-content -->
    </div>
    <!-- /col-md-10 -->
</div>


<div class="row">
    <div class="col-md-12">
        <!-- <div class="wrapper wrapper-content vmargin0 vpadding0"> -->
        <div class="ibox float-e-margins">

            <div class="ibox-content vpadding0">

                <h3 id="companyProfileHeader2">Please provide some basic details about your company. Items marked
                    with an asterisk (*) are required.</h3>


                <div class="col-md-12"
                     id="companyProfile"
                     style="overflow-y: auto">
                    <form name="catocustomerform"
                          ng-submit="$ctrl.updateProfile()"
                          id="catocustomerform"
                          class="form-horizontal"
                          method="post">
                        <fieldset>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">
                                        Name
                                        <i class="fa fa-info-circle"
                                           uib-tooltip="{{::catotheme.customerCapitalize}} full name"></i>
                                    </label>
                                    <div class="col-sm-8">
                                        <input class="form-control"
                                               readonly
                                               id="name"
                                               name="name"
                                               ng-model="$ctrl.customer.name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">
                                        DUNS
                                        <i class="fa fa-info-circle"
                                           uib-tooltip="9 digit Data Universal Numbering System (DUNS) identifier for this company."></i>
                                    </label>
                                    <div class="col-sm-8">
                                        <input class="form-control"
                                               pattern="\d{2}-?\d{3}-?\d{4}"
                                               id="duns"
                                               name="duns"
                                               ng-blur="$ctrl.checkDuns()"
                                               ng-model="$ctrl.customer.duns"
                                               placeholder="XX-XXX-XXXX" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">
                                        CAGE Code
                                        <i class="fa fa-info-circle"
                                           uib-tooltip="Commercial And Government Entity (CAGE) code for this company; heavily used by the federal government to identify an entity at a specific location. Format is 5 alpha-numeric characters."></i>
                                    </label>
                                    <div class="col-sm-8">
                                        <input class="form-control"
                                               id="cagecode"
                                               name="cagecode"
                                               placeholder="XXXXX"
                                               ng-blur="$ctrl.checkCage()"
                                               ng-pattern="$ctrl.gdata.formatFactory.cagecode.pattern"
                                               ng-model="$ctrl.customer.cagecode" />
                                        <div class="col-sm-12 help-block"
                                             ng-show="catocustomerform.cagecode.$error.pattern">
                                            <span ng-bind-html="$ctrl.gdata.formatFactory.cagecode.patternError"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label required"
                                           for="company-size">Number of Employees</label>
                                    <div class="col-sm-8">
                                        <select class="filter filter-select form-control ng-pristine ng-valid ng-scope ng-empty ng-touched"
                                                name="company-size"
                                                required
                                                ng-model="$ctrl.customer.size"
                                                ng-change="$ctrl.setNextEnabled()">
                                            <option ng-repeat="size in $ctrl.sizes"
                                                    value="{{size}}">{{size}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label"
                                           for="nistMEP">
                                           Have you participated in the NIST MEP program?

                                        <i class="fa fa-info-circle"
                                           uib-tooltip="The Manufacturing Extension Partnership is run by NIST (National Institute of Standards and Technology). It is a public-private partnership with centers in all 50 states and Puerto Rico dedicated to serving small- and medium-sized manufacturers."></i>
                                    </label>
                                    <div class="col-sm-8 form-control-static">
                                        <div class="slider">
                                            <input type="checkbox"
                                                   class="switch"
                                                   id="nistMEP"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                                   ng-model="$ctrl.customer.has_participated_nist_mep">
                                            <label for="nistMEP"
                                                   class="switch">Toggle</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-4 control-label"
                                           for="mentorParticipated">
                                           Have you participated in the Mentor-Protégé program?
                                           <i class="fa fa-info-circle"
                                           uib-tooltip="The Mentor-Protégé program helps eligible small businesses expand their footprints in the defense industrial base. https://business.defense.gov/Programs/Mentor-Protege-Program/"></i>
                                    </label>
                                    <div class="col-sm-8 form-control-static">
                                        <div class="slider">
                                            <input type="checkbox"
                                                   class="switch"
                                                   id="mentorParticipated"
                                                   ng-change="$ctrl.setHasParticipated()"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                                   ng-model="$ctrl.customer.has_participated_mentor_program">
                                            <label for="mentorParticipated"
                                                   class="switch">Toggle</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-if="$ctrl.customer.has_participated_mentor_program">
                                    <label class="col-sm-4 control-label"
                                           for="current-mentor">
                                           Are you a current participant of the Mentor-Protégé program?
                                    </label>
                                    <div class="col-sm-8 form-control-static">
                                        <div class="slider">
                                            <input type="checkbox"
                                                   class="switch"
                                                   id="current-mentor"
                                                   ng-change="$ctrl.isParticipating()"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                                   ng-model="$ctrl.customer.has_current_participation_mentor_program">
                                            <label for="current-mentor"
                                                   class="switch">Toggle</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-if="$ctrl.customer.has_current_participation_mentor_program">
                                    <label class="col-sm-4 control-label"
                                           for="mentor-start">
                                           When did your company start the program?
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   uib-datepicker-popup="yyyy-MM-dd"
                                                   ng-model="$ctrl.customer.mpp_start"
                                                   is-open="$ctrl.mppDate.opened"
                                                   datepicker-options="$ctrl.dateOptions"
                                                   id="mentor-start"
                                                   close-text="Close"/>
                                            <span class="input-group-btn">
                                                <button type="button"
                                                        style="margin-bottom: 0px;"
                                                        class="btn btn-default"
                                                        ng-click="$ctrl.openMppDate()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-if="$ctrl.customer.has_current_participation_mentor_program">
                                    <label class="col-sm-4 control-label required"
                                           for="mentor">Who is your mentor?</label>
                                    <div class="col-sm-8">
                                        <input class="form-control"
                                               name="mentor"
                                               id="mentor"
                                               type="text"
                                               ng-model="$ctrl.mentorPlaceholder"
                                               placeholder="Enter mentor name"
                                               ng-change="$ctrl.setNextEnabled()"
                                               ng-required="$ctrl.customer.has_current_participation_mentor_program"
                                               uib-typeahead="mentor as mentor.name for mentor in $ctrl.availableMentors | filter:$viewValue | limitTo:12"
                                               typeahead-on-select="$ctrl.setMentor($item)"
                                               autocomplete="off">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label"
                                           for="enforce2FASlider">
                                        Enforce Two-Factor Authentication
                                        <i class="fa fa-info-circle"
                                           uib-tooltip="Require two-factor authentication for all users in the company."></i>
                                    </label>
                                    <div class="col-sm-8 form-control-static">
                                        <div class="slider" ng-if="!$ctrl.enforce2FA">
                                            <input type="checkbox"
                                                   class="switch"
                                                   id="enforce2FASlider"
                                                   ng-change="$ctrl.update2FA()"
                                                   ng-model="$ctrl.customer.enforce_2fa">
                                            <label for="enforce2FASlider"
                                                   class="switch">Toggle</label>
                                        </div>
                                        <div ng-if="$ctrl.enforce2FA">Two factor authentication is required. You will be prompted to set up a device when you log in after your RoE is approved.</div>
                                    </div>
                                </div>
                            </div> <!--end of first column-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label required"
                                           for="industry">
                                        Industry
                                        <i class="fa fa-info-circle"
                                           uib-tooltip="Provide your company's primary NAICS code."></i>
                                    </label>
                                    <div class="col-sm-8 form-control-static">
                                        <a href ng-click="$ctrl.selectIndustry()">
                                             {{$ctrl.naicsName}}
                                        </a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label"
                                           for="business">Applicable Socio-economic Categories
                                           <i class="fa fa-info-circle"
                                           uib-tooltip="To select multiple socio-economic categories that apply to your company, hold the CTRL key and click selections desired."></i>
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="filter filter-select form-control ng-pristine ng-valid ng-scope ng-empty ng-touched"
                                                id="business"
                                                name="business"
                                                ng-model="$ctrl.customer.business_category"
                                                ng-init="$ctrl.customer.business_category = $ctrl.customer.business_category || []"
                                                ng-options="business for business in $ctrl.gdata.business_category"
                                                multiple="multiple">
                                        </select>
                                     </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label"
                                           for="dodPrime">
                                           Do you have a DOD prime contract?
                                    </label>
                                    <div class="col-sm-8 form-control-static">
                                        <div class="slider">
                                            <input type="checkbox"
                                                   class="switch"
                                                   id="dodPrime"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                                   ng-model="$ctrl.customer.has_dod_prime_contract">
                                            <label for="dodPrime"
                                                   class="switch">Toggle</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label"
                                           for="dodSub">
                                           Do you have a DOD subcontract?
                                        </label>
                                    <div class="col-sm-8 form-control-static">
                                        <div class="slider">
                                            <input type="checkbox"
                                                   class="switch"
                                                   id="dodSub"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                                   ng-model="$ctrl.customer.has_dod_sub_contract">
                                            <label for="dodSub"
                                                   class="switch">Toggle</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label"
                                           for="civPrime">
                                           Do you have a civilian prime contract?
                                        </label>
                                    <div class="col-sm-8 form-control-static">
                                        <div class="slider">
                                            <input type="checkbox"
                                                   class="switch"
                                                   id="civPrime"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                                   ng-model="$ctrl.customer.has_civilian_prime_contract">
                                            <label for="civPrime"
                                                   class="switch">Toggle</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-4 control-label"
                                           for="civSub">
                                           Do you have a civilian subcontract?
                                        </label>
                                    <div class="col-sm-8 form-control-static">
                                        <div class="slider">
                                            <input type="checkbox"
                                                   class="switch"
                                                   id="civSub"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                                   ng-model="$ctrl.customer.has_civilian_sub_contract">
                                            <label for="civSub"
                                                   class="switch">Toggle</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </form>
                    <div class="row bot-brdr-sep pb10">
                        <physical-address locations="$ctrl.locations"
                                          required
                                          on-close="$ctrl.setNextEnabled()"
                                          del-location="$ctrl.deleteLocation(location)"></physical-address>
                    </div>
                    <div class="row bot-brdr-sep pb10">
                        <email-domains customer="$ctrl.customer"></email-domains>
                    </div>
                </div>

            </div>
            <!-- /ibox-content -->
        </div>
        <!-- /ibox float-e-margins -->
        <!-- </div> -->
        <!-- /wrapper wrapper-content -->
    </div>
    <!-- /col-md-6 -->
</div>
<!-- /row -->
<back-and-next submit="$ctrl.submit()" next-enabled="$ctrl.nextEnabled"></back-and-next>
