<div id="targetTypesWidget"
     class="minw155 graph-widget-container"
     ng-controller="targetTypesCtrl">
    <div class="minw155 graph-widget-header">
        <div class="gridster-item-drag">
            <div class="widget-title">
                TARGET TYPES
            </div>
            <i title="Hide Widget"
               class="fa fa-close close-small button"
               ng-click="$ctrl.hideWidget()"
               role="button"></i>
        </div>
    </div>
    <div class="graph-widget-body graph-widget-container">
        <div class="row graph-widget-header">
        </div>
        <div class="graph-widget-body">
            <nvd3 options="targetTypesDonutOptions"
                  data="targetTypesDonutData"
                  on-ready="$ctrl.chartReadyCallback.bind($ctrl)"></nvd3>
        </div>
    </div>
</div>