<table class="table noborder">
    <tr>
        <td>
            <h3>SERVICES</h3>
        </td>
    </tr>
</table>

<table class="table table-striped"
       id="global-svcs-table">
    <thead>
        <tr>
            <th>SERVICE</th>
            <th>TIER</th>
            <th>NO. OF OPERATION TEMPLATES</th>
            <th>NO. OF CAMPAIGNS CREATED</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="service in gdata.services | orderBy:'tier'">
            <td ng-bind="service.name"></td>
            <td ng-bind="service.tier"></td>
            <td ng-bind="service.operationtemplates.length"></td>
            <td ng-bind="service.campaigns.length"></td>
        </tr>
    </tbody>
</table>