<div class="row">
    <div class="col-xs-3">
        <a ng-if="firstStep()"
           wz-cancel
           class="btn btn-block btn-primary"
           ng-click="cancel()">
            Cancel
            <span class="glyphicon glyphicon-remove-sign"></span>
        </a>
        <a ng-if="!firstStep()"
           wz-previous
           class="btn btn-block btn-primary"
           ng-disabled="step.previousDisabled()">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            Back
        </a>
    </div>
    <div class="col-xs-3 col-xs-offset-6">
        <button wz-next
                class="btn btn-block btn-primary"
                ng-disabled="wizard.$invalid || (campaigntasksform && !campaigntasksform.$valid)">
            <div ng-if="!lastStep()">
                Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </div>
            <div ng-if="lastStep()">
                Run <span class="glyphicon glyphicon-open"></span>
            </div>
        </button>
    </div>
</div>