<div class="inmodal"
     id="addCampaignWizard">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title">Run automated ops for {{campaign.title}}</h3>
        <strong>To use defaults, leave blank.</strong>
    </div>
    <!-- /modal-header -->
    <div class="modal-body"
         cg-busy="{promise: operationsLoading, message: 'Loading Operations'}">
        <wizard on-finish="runCampaign()"
                indicators-position="top"
                on-cancel="cancelledWizard()"
                ng-if="tasksWithParams.length > 0">
            <wz-step wz-title="{{taskgroup[0].operation.name}}"
                     ng-repeat="taskgroup in tasksWithParams"
                     class="clear-item">
                <form name="campaigntasksform">
                    <div ng-repeat="task in taskgroup | filter: filterTasks"
                         ng-if="task.show">
                        <div ng-if="!taskApplyAll[task.tasktemplate]">
                            <h3 ng-if="task.operation.target">
                                <target-display [target]="task.operation.target"></target-display>
                            </h3>
                            <h3 ng-if="task.operation.metatarget">
                                <target-icon type="'metatarget'"
                                             class="mr5"></target-icon>
                                <span ng-bind="task.operation.metatarget.name"></span>
                            </h3>
                        </div>
                        <input type="checkbox"
                               ng-model="task.checked"
                               ng-change="checked(task)"> Apply to all targets.</br>
                        <label class="control-label">{{task.name}} Parameters:</label>
                        <div class="well">
                            <task-parameters task="task"
                                             parameters="task.accepted_parameters"
                                             form="campaigntasksform">
                            </task-parameters>
                        </div>
                    </div>
                    <div ng-include="'/app/md/campaigns/automatedOpsTemplate.html'"></div>
                </form>
            </wz-step>
            <wz-step wz-title="Automated Ops which require no parameters"
                     ng-if="automatedOperationsWithNoParams.length > 0"
                     class="clear-item">
                The following Operations require no parameters and will be automatically run:
                <ul>
                    <li ng-repeat="op in automatedOperationsWithNoParams"
                        ng-bind="op.description"></li>
                </ul>
                <div ng-include="'/app/md/campaigns/automatedOpsTemplate.html'"></div>
            </wz-step>
        </wizard>
        <wizard on-finish="runCampaign()"
                indicators-position="top"
                on-cancel="cancelledWizard()"
                ng-if="tasksWithParams.length === 0 && automatedOperationsWithNoParams.length > 0">
            <wz-step wz-title="Automated Ops which require no parameters"
                     ng-if="automatedOperationsWithNoParams.length > 0"
                     class="clear-item">
                The following Operations require no parameters and will be automatically run:
                <ul>
                    <li ng-repeat="op in automatedOperationsWithNoParams"
                        ng-bind="op.description"></li>
                </ul>
                <div ng-include="'/app/md/campaigns/automatedOpsTemplate.html'"></div>
            </wz-step>
        </wizard>
        <div ng-if="tasksWithParams.length === 0 && automatedOperationsWithNoParams.length === 0">
            <p>There are no automated operations that can be run on this campaign. Please run them manually.</p>
            <p>Support for manual ops from this interface will be added in the future.</p>
        </div>
    </div>
    <div class="modal-footer"
         ng-if="!firstStep()">
        <button type="reset"
                class="btn"
                ng-click="cancel()">Cancel</button>
    </div>
</div>