<div class="quick-view-table-popover"
     ng-init="$data=undefined"
     cg-busy="campaign.operationTable._catoPromise">
    <table ng-table="campaign.operationTable"
           class="table table-striped table-sm"
           id="campaigns-operations-table">
        <tbody>
            <tr ng-repeat="operation in $data track by operation.id">
                <td data-title="'NAME'"
                    filter="{name: 'text'}"
                    sortable="'name'"
                    class="force-wrap">
                    <a ui-sref="cato.loggedIn.operator({operation_id:operation.id})"
                       ng-bind="operation.name"></a>
                </td>
                <td data-title="'STATE'"
                    filter="{state: 'select'}"
                    filter-data="operationStates"
                    sortable="'state'"
                    class="center-align"
                    style="min-width: 100px;">
                    <uib-progress ng-if="operation.state">
                        <uib-bar value="100"
                                 max=100
                                 class="uppercase progress-bar {{stateClass(operation.state)}}"
                                 ng-bind="operation.state">
                        </uib-bar>
                    </uib-progress>
                </td>
                <!--<td data-title="'FINDINGS'" sortable="'findings_count'" class="center-align">
                <span ng-bind="operation.findings_count || 0"></span>
            </td>-->
                <td data-title="'PROCESS'"
                    filter="{process: 'select'}"
                    filter-data="operationProcesses"
                    sortable="'process'">
                    <span ng-bind="operation.process"></span>
                </td>
                <td data-title="'AUTOMATION MESSAGE'"
                    filter="{'automated_metadata__state_string__icontains': 'text'}"
                    sortable="'automated_metadata__state_string'">
                    <span ng-bind="operation.automated_metadata.state_string"></span>
                </td>
                <td data-title="'APPLIANCE'"
                    sortable="'appliance'">
                    <span ng-bind="gdata.applianceMap[operation.appliance].name"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>