<div class="tab-content"
     id="mapsTabContent">
    <div class="tab-pane fade in active">
        <div ng-if="!$ctrl.customer"
             class="col-sm-11 col-sm-offset-1">

            <h3 ng-cloak>
                Select {{::$ctrl.aAn($ctrl.catotheme.customer)}} {{::$ctrl.catotheme.customer}} to view the map.
            </h3>
        </div>
        <div ng-show="$ctrl.customer"
             id="map"
             cg-busy="$ctrl.mapsBusy">
            <div id="tooltip"
                 class="maps-tooltip"></div>
        </div>
    </div>
</div>