<div class="modal-body">
    <div class="well">
        <h3>Congratulations</h3>
        <p>
            You now have Two-Factor Authentication enabled on your account.
        </p>
    </div>
</div>
<footer class="modal-footer">
    <button class="btn btn-default"
            ng-click="$finish()">
        Done
        <span class="fa fa-chevron-right"></span>
    </button>
</footer>