<form novalidate
      name="new2fadeviceform">
    <div class="modal-body">
        <div class="well">
            <p>
                If you would like to provide a name or label for this device, enter one below, otherwise, just click
                next.
            </p>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       name="name"
                       ng-model="name"
                       placeholder="{{login_user.username}} device">
            </div>
        </div>
    </div>
    <footer class="modal-footer">
        <span class="btn btn-danger"
              ng-click="$cancel()">Cancel</span>
        <button ng-disabled="new2fadeviceform.$invalid"
                class="btn btn-default"
                ng-if="!$isLast()"
                ng-click="createDevice()">
            Next
            <span class="fa fa-chevron-right"></span>
        </button>
    </footer>
</form>