<ui-view></ui-view>

<div class="row mb10">
    <div class="col-sm-3">
        <h3>APPLIANCES</h3>
    </div>
    <div class="col-sm-3">
        <div class="pull-left form-control-static mr5"
             for="showRetired">Show retired appliances?</div>
        <div class="slider mt5">
            <input type="checkbox"
                   class="switch"
                   id="showRetired"
                   ng-model="showRetired">
            <label for="showRetired"
                   class="switch">Toggle</label>
        </div>
    </div>
    <div class="col-sm-6"
         ng-if="gdata.isOperator && gdata.appliances.length > 0">
        <condensed-customer-filter set-customer="setSelectedCustomer(customer)"
                                   placeholder="'to view associated appliances'"></condensed-customer-filter>
    </div>
</div>

<mat-card ng-class="'box'">
    <div ng-if="gdata.appliances.length === 0">
        No appliances found.
    </div>
    <div ng-if="gdata.appliances.length > 0">
        <table class="table table-striped"
               id="manage-appliances">
            <thead>
                <tr>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'name'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'name' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'name' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            APPLIANCE
                        </a>
                    </th>
                    <th ng-hide="gdata.isCustomer">
                        <a href="#"
                           ng-click="sortType = 'customer'; sortReverse = !sortReverse"
                           class="uppercase">
                            <span ng-show="sortType == 'customer' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'customer' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            {{::catotheme.customer}}
                        </a>
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'zone'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'zone' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'zone' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            ZONE
                        </a>
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'version'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'version' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'version' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            VERSION
                        </a>
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'internalIP'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'internalIP' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'internalIP' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            INTERNAL IP
                        </a>
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'externalIP'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'externalIP' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'externalIP' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            EXTERNAL IP
                        </a>
                    </th>
                    <th>
                        NOTES
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'temp_interval'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'temp_interval' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'temp_interval' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            HEARTBEAT<br />
                            INTERVAL (secs)
                        </a>
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = {item:'heartbeats[item.id].timestamp'}; sortReverse = !sortReverse">
                            <span ng-show="sortType.item == 'heartbeats[item.id].timestamp' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType.item == 'heartbeats[item.id].timestamp' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            LAST HEARTBEAT
                        </a>
                    </th>
                    <th class="center-align">
                        <a href="#"
                           ng-click="sortType = 'verified'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'verified' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'verified' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            VERIFIED
                        </a>
                    </th>
                    <th class="center-align"
                        ng-if="gdata.isMissionDirector">
                        ACTION
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="appliance in gdata.appliances | filter:applianceCustomerFilter | filter:{retired:showRetired?undefined:false} | orderBy:getSortValue(sortType):sortReverse"
                    ng-class="{inactive:appliance.retired, warning:!appliance.retired && (heartbeats[appliance.id].timestamp | amParse | amDifference:null:'minutes') < -6, danger:!appliance.retired && (heartbeats[appliance.id].timestamp | amParse | amDifference:null:'minutes') < -10}">
                    <td>
                        <a ui-sref=".editAppliance({appliance_id:appliance.id})"
                           uib-tooltip="Edit"
                           ng-bind="appliance.name">
                        </a>
                    </td>
                    <td ng-if="!gdata.isCustomer"
                        ng-bind="gdata.customerMap[appliance.customer].name"></td>
                    <td class="force-wrap"
                        ng-bind="gdata.targetZoneMap[appliance.zone].name"></td>
                    <td ng-bind="appliance.version"></td>
                    <td ng-bind="appliance.internalIP"></td>
                    <td ng-bind="appliance.externalIP"></td>
                    <td>
                        <a href="#"
                           ng-click="notesModal(appliance.id)"
                           ng-if="appliance.notes.length > 0"
                           class="fa fa-sticky-note"></a>
                        <a href="#"
                           ng-click="notesModal(appliance.id)"
                           ng-if="appliance.notes.length === 0"
                           class="fa fa-sticky-note-o"></a>
                    </td>
                    <td>
                        <span ng-if="!heartbeats[appliance.id]">-</span>
                        <span ng-if="heartbeats[appliance.id]"
                              ng-bind="appliance.temp_interval">
                        </span>
                        <span ng-if="appliance.new_interval_pending">(pending)</span>
                    </td>
                    <td>
                        <span ng-if="heartbeats[appliance.id]"
                              am-time-ago="heartbeats[appliance.id].timestamp | amParse"
                              uib-tooltip="{{heartbeats[appliance.id].timestamp | date:'MM/dd/yyyy H:mm:ss'}}">
                        </span>
                        <span ng-if="!heartbeats[appliance.id]">-</span>
                    </td>
                    <td class="center-align">
                        <i ng-if="appliance.verified"
                           class="fa fa-check green-txt"></i>
                        <i ng-if="!appliance.verified"
                           class="fa fa-times-circle red-txt"></i>
                    </td>
                    <td ng-if="gdata.isMissionDirector" cg-busy="checkPromises[appliance.id]" class="cg-busy-left">
                        <actions actions="actions"
                                 target="appliance">
                        </actions>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-card>
