<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title"
            ng-show="mode !== 'new'">EDIT APPLIANCE</h3>
    </div>
    <!-- /modal-header -->

    <form name="catoapplianceform"
          ng-submit="editAppliance(appliance)"
          id="catoapplianceform"
          class="form-horizontal"
          method="post">
        <div class="modal-body">
            <p class="pb15">Edit desired fields for this appliance, then click Submit.</p>
            <fieldset ng-disabled="appliance.retired || (isOperator && !gdata.isMissionDirector)">
                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="name">
                        Name*
                        <i class="fa fa-info-circle"
                           uib-tooltip="A name to describe the appliance."></i>
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               id="name"
                               name="name"
                               ng-required="true"
                               ng-model="appliance.name" />
                    </div>
                </div>

                <div class="form-group"
                     ng-if="!gdata.isCustomer">
                    <label class="col-sm-3 control-label"
                           for="public_key">
                        Public Key*
                        <i class="fa fa-info-circle"
                           uib-tooltip="The public key for the appliance. Editing this without updating the key on the appliance will prevent it from communicating with {{::catotheme.appName}}."></i>
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               ng-required="true"
                               id="public_key"
                               name="public_key"
                               ng-model="appliance.public_key" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="internalIP">
                        Internal IP*
                        <i class="fa fa-info-circle"
                           uib-tooltip="The internal IP address of the appliance."></i>
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               readonly
                               id="internalIP"
                               name="internalIP"
                               ng-model="appliance.internalIP" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="externalIP">
                        External IP
                        <i class="fa fa-info-circle"
                           uib-tooltip="The external IP address of the appliance."></i>
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               readonly
                               id="externalIP"
                               name="externalIP"
                               ng-model="appliance.externalIP" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="version">
                        Version
                        <i class="fa fa-info-circle"
                           uib-tooltip="The {{::catotheme.appName}} version number of the appliance."></i>
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               readonly
                               id="version"
                               name="version"
                               ng-model="appliance.version" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="temp_interval">
                        Heartbeat Interval (secs)
                        <i class="fa fa-info-circle"
                           uib-tooltip="The current heartbeat interval (until next reboot occurs)."></i>
                    </label>
                    <div class="col-sm-9"
                         ng-if="!heartbeats[appliance.id]">
                        <input class="form-control"
                               readonly
                               name="temp_interval"
                               placeholder="-" />
                    </div>
                    <div class="col-sm-9"
                         ng-if="heartbeats[appliance.id]">
                        <input class="form-control"
                               readonly
                               id="temp_interval"
                               name="temp_interval"
                               ng-model="appliance.temp_interval" />
                    </div>
                </div>

                <div class="form-group"
                     ng-if="heartbeats[appliance.id]">
                    <label class="col-sm-3 control-label">
                        Next Heartbeat
                        <i class="fa fa-info-circle"
                           uib-tooltip="The countdown until the next expected heartbeat occurence."></i>
                    </label>
                    <div class="col-sm-9">
                        <div ng-class="'alert alert-' + tilHeartbeatAlert + ' left'"
                             role="alert">
                            <span ng-bind="tilHeartbeatTime"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     ng-if="heartbeats[appliance.id]">
                    <label class="col-sm-3 control-label"
                           for="temp_interval">
                        Last Heartbeat
                        <i class="fa fa-info-circle"
                           uib-tooltip="The amount of time passed since the last heartbeat."></i>
                    </label>
                    <div class="col-sm-9">
                        <div ng-class="'alert alert-' + tilHeartbeatAlert + ' left'"
                             role="alert">
                            <span ng-if="heartbeats[appliance.id]"
                                  am-time-ago="heartbeats[appliance.id].timestamp | amParse">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     ng-if="!gdata.isCustomer">
                    <!--suppress XmlInvalidId -->
                    <label class="col-sm-3 control-label capitalize"
                           for="customer">
                        {{::catotheme.customer}}*
                        <i class="fa fa-info-circle"
                           uib-tooltip="The {{::catotheme.customer}} associated with this appliance."></i>
                    </label>
                    <div class="col-sm-9">
                        <condensed-customer-filter set-customer="setCustomer(customer)"
                                                   initial-customer="appliance.customer"
                                                   no-monitor-global
                                                   cato-ng-disabled="gdata.applianceMap[appliance.id].customer"
                                                   ng-required="true"
                                                   placeholder="'to complete appliance registration'">
                        </condensed-customer-filter>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           for="zone">
                        Zone*
                        <i class="fa fa-info-circle"
                           tooltip-placement="left"
                           uib-tooltip="Select the zone where this appliance is located."></i>
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control"
                                id="zone"
                                name="zone"
                                ng-model="appliance.zone"
                                ng-disabled="gdata.isCustomer"
                                required
                                ng-options="z.id as z.name for z in availableZones">
                        </select>
                    </div>
                </div>

                <div class="form-group"
                     ng-if="!gdata.isCustomer">
                    <label class="col-sm-3 control-label"
                           for="verified">
                        Verified
                        <i class="fa fa-info-circle"
                           uib-tooltip="Verified as a known and recognized appliance."></i>
                    </label>
                    <div class="col-sm-9">
                        <input type="checkbox"
                               id="verified"
                               name="verified"
                               ng-disabled="!appliance.customer"
                               ng-model="appliance.verified" />
                    </div>
                </div>

                <div class="form-group"
                     ng-if="!gdata.isCustomer">
                    <label class="col-sm-3 control-label"
                           for="verified">
                        Is Passive?
                        <i class="fa fa-info-circle"
                           uib-tooltip="Set when this is a registered passive collector."></i>
                    </label>
                    <div class="col-sm-9">
                        <input type="checkbox"
                               id="ispassive"
                               name="ispassive"
                               ng-disabled="true"
                               ng-model="appliance.is_passive" />
                    </div>
                </div>

                <div class="form-group"
                     ng-if="heartbeats[appliance.id].stats.net">
                    <label class="col-sm-3 control-label"
                           for="network_info">
                        Network Info
                        <i class="fa fa-info-circle"
                           uib-tooltip="The network details for the appliance."></i>
                    </label>
                    <div class="col-sm-9"
                         id="network_info">
                        <uib-accordion>
                            <div uib-accordion-group class="panel-default">
                                <uib-accordion-heading>
                                    Expand<i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </uib-accordion-heading>
                                <fieldset class="interface-details"
                                          ng-repeat="(iface, info) in heartbeats[appliance.id].stats.net"
                                          ng-if="iface!='default_gateway_iface'">
                                    <legend>{{iface}}</legend>
                                    <div>
                                        <div ng-if="info.mac"><b>MAC</b>: {{info.mac.join(", ")}}</div>
                                        <div ng-if="info.ipv4"><b>IP (v4)</b>: {{info.ipv4.join(", ")}}</div>
                                        <div ng-if="info.ipv6"><b>IP (v6)</b>: {{info.ipv6.join(", ")}}</div>
                                    </div>
                                </fieldset>
                            </div>
                        </uib-accordion>
                    </div>
                </div>

            </fieldset>
        </div>
        <!-- /modal-body -->

        <!-- Added this style tag here because it is a one-off needed to align the buttons and gauges. -->
        <div class="modal-footer"
             style="height: 90px;line-height: 50px;">
            <div ng-if="heartbeats[appliance.id]"
                 class="pull-left"
                 style="font-size: 2.5em">
                <ng-gauge style="display: inline-block;margin-left: 1em;margin-right: .5em"
                          size="60"
                          type="arch"
                          thick="3"
                          min="0"
                          max="diskMax"
                          value="convertToGig(heartbeats[appliance.id].stats.disk.used)"
                          append="GiB"
                          label="Disk"
                          cap="round"
                          background-color="#EEE"
                          thresholds="thresholdOptionsDisk">
                </ng-gauge>
                <ng-gauge style="display: inline-block;margin-left: .5em;margin-right: .5em"
                          size="60"
                          type="arch"
                          thick="3"
                          min="0"
                          max="100"
                          value="heartbeats[appliance.id].stats.cpu.percent"
                          append="%"
                          label="CPU"
                          cap="round"
                          foreground-color="#ffcc66"
                          background-color="#EEE"
                          thresholds="thresholdOptionsCPU">
                </ng-gauge>
                <ng-gauge style="display: inline-block;margin-left: .5em;margin-right: .5em"
                          size="60"
                          type="arch"
                          thick="3"
                          min="0"
                          max="ramMax"
                          value="convertToGig(heartbeats[appliance.id].stats.memory.ram.used)"
                          append="GiB"
                          label="RAM"
                          cap="round"
                          foreground-color="#ffcc66"
                          background-color="#EEE"
                          thresholds="thresholdOptionsRAM">
                </ng-gauge>
            </div>
            <!-- Added this style tag here because it is a one-off needed to align the buttons and gauges. -->
            <div class="form-actions pull-right"
                 style="display: inline-block;vertical-align: middle;line-height: normal;float: none !important;">
                <button type="reset"
                        class="btn"
                        ng-click="cancel()">Cancel</button>
                <button type="button"
                        class="btn btn-danger"
                        title="{{notRetireReadyReason}}"
                        ng-disabled="!readyToRetire || appliance.retired"
                        ng-click="retireAppliance(appliance)"
                        ng-show="gdata.isMissionDirectorOrAdmin">Retire</button>
                <button type="submit"
                        class="btn btn-primary formSubmit"
                        ng-hide="gdata.isOperator && !gdata.isMissionDirector"
                        ng-disabled="catocustomerform.$invalid || appliance.retired">Submit</button>
            </div>
        </div>
        <!-- /modal-footer -->

    </form>
</div>