<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title">APPLIANCE HEARTBEAT</h3>
    </div>
    <!-- /modal-header -->

    <form ng-submit="submitNewHeartbeat()"
          name="heartbeatform"
          id="heartbeatform"
          class="form-horizontal"
          method="post">
        <div class="modal-body">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-4 control-label ">
                        Interval in seconds:
                    </label>
                    <div class="col-sm-8">
                        <input class="form-control"
                               type="number"
                               id="interval"
                               name="interval"
                               required
                               ng-model="interval">
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="cancel()">Cancel</button>
                <button type="submit"
                        class="btn btn-primary formSubmit">Submit</button>
            </div>
        </div>
        </fieldset>
</div>
</form>
</div>