<div class="login centered-overlay">
    <div class="flex flex-column full-screen">
        <div class="flex-grow"></div>

        <div class="wrapper wrapper-content cato-bg">
            <div class="loginColumns animated fadeInDown black-semi-bg">
                <div class="row">

                    <div class="col-md-6">
                        <h2 class="font-bold white-txt">Welcome to {{::catotheme.appName}}</h2>

                        <p class="white-txt"
                           ng-bind="::catotheme.login.text"></p>
                    </div>

                    <div class="col-md-6">
                        <div class="ibox-content">
                            <form class="m-t"
                                  role="form"
                                  ng-submit="login()">
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"
                                           aria-hidden="true"></i></span>
                                    <input type="text"
                                           ng-model="username"
                                           class="form-control"
                                           placeholder="Username"
                                           required>
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"
                                           aria-hidden="true"></i></span>
                                    <input type="password"
                                           ng-model="password"
                                           class="form-control"
                                           placeholder="Password"
                                           required>
                                </div>
                                <!-- This button is always enabled, just so it looks nice. -->
                                <button type="submit"
                                        class="btn btn-primary block full-width m-b">
                                    Log In
                                </button>

                                <a ui-sref="cato.forgotPassword">
                                    <small>Forgot password?</small>
                                </a>
                            </form>

                        </div>
                    </div>
                </div>

                <hr />
                
                <div ng-include="'/app/common/boilerplate/catoInfo.html'"></div>
            </div>
        </div>



        <div class="flex flex-column flex-grow align-end">
            <div class="login-footer container-fluid"
                 ng-if="catotheme.name===ValidTheme.jensie"
                 ng-include="'/app/login/login-footer.html'">
            </div>
        </div>
    </div>
</div>
