<div class="row flex center">
    <div ng-if="!mepInstance" class="col-xs-3 col-sm-2 col-lg-1">
        <img src="../../img/jensie/osbp-logo.png" alt="OSBP">
    </div>
    <div class="flex flex-grow"></div>
    <div ng-if="!mepInstance" class="col-xs-6 col-md-4">
        <img src="../../img/jensie/project-spectrum-white.png" alt="Project Spectrum">
    </div>
    <div class="flex flex-grow"></div>
    <div class="col-xs-3 col-md-3 col-lg-2">
        <img src="../../img/jensie/misi-logo-desc-ko.png" alt="MISI">
    </div>
</div>
