<div id="opsActivityChartWidget"
     class="graph-widget-container">
    <div class="minw155 graph-widget-header">
        <div class="gridster-item-drag">
            <div class="widget-title"> Date Range
                <div class="btn-group btn-group-xs ml5">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span ng-bind="$ctrl.dateChoice"></span> <span class="caret"></span>
                    </button>

                    <button ng-click="$ctrl.getData()"
                            class="ml5 btn btn-default uppercase">
                        <i class="fa fa-refresh"
                           aria-hidden="true">
                        </i>
                    </button>
                    <ul class="dropdown-menu"
                        role="menu">
                        <li ng-repeat="dateFrom in ['1 Day', '1 Week', '1 Month']">
                            <a href
                               ng-click="$ctrl.getData(dateFrom)"
                               ng-bind="dateFrom"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <i title="Hide Widget"
               class="fa fa-close close-small button"
               ng-click="$ctrl.hideWidget(widget)"
               role="button">
            </i>
        </div>
    </div>
    <div class="graph-widget-body">
        <div style="margin: 0 .25em 0 0">
            <div class="center-align"
                 style="display: inline-block;width: 100%">
                <h2 style="margin:0">Operations Activity</h2>
            </div>
        </div>
        <nvd3 options="$ctrl.opsActivityChartOptions"
              data="$ctrl.opsActivityChartData"
              on-ready="$ctrl.callback">
        </nvd3>
    </div>
</div>