<div class="overlay" *ngIf="firstVisit">
    <div class="content">
        <h2>It's your first time here!</h2>
        <h3>To continue, you'll need to click the red button below to start a new assessment.</h3>

        <div style="display: block; position: absolute; bottom: 46px; right: 41px">
            <button mat-fab color="warn" (click)="newAssessment()">
                <span class="fa fa-plus"></span>
            </button>
        </div>
    </div>
</div>

<loading-content #spinner style="height: 100%">
    <div class="flex flex-column wrapper" [ngClass]="{ blur: !!firstVisit }">
        <div class="flex flex-row space-between">
            <h2 class="mt0">Compliance Portal</h2>
            <a (click)="openExplorer()">View CMMC Practices</a>
        </div>

        <div class="flex flex-grow flex-row max-height" style="max-height: 30vh">
            <mat-card class="flex flex-column grow-1 box center-align max-width">
                <mat-card-header>
                    <mat-card-title>Your Compliance Strength</mat-card-title>
                    <mat-card-subtitle *ngIf="highlightedAssessment.name">
                        for <i><b>{{highlightedAssessment.name}}</b></i>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="signal-bars mt1 sizing-box good bars-{{level}}">
                        <div *ngFor="let x of range(1, absoluteMaxLevel)" class="bar-{{x}} bar"></div>
                    </div>
                </mat-card-content>
                <div class="level-wrapper flex flex-row center-align w-100" *ngIf="highlightedAssessment.goalLevel">
                    <ng-container *ngIf="highlightedAssessment.goalLevel != 0">
                        <div class="flex huge">{{level}}</div>
                        of
                        <div class="flex huge">{{highlightedAssessment.goalLevel}}</div>
                    </ng-container>
                    <ng-container *ngIf="highlightedAssessment.goalLevel == 0">
                        <div class="flex huge">N/A</div>
                    </ng-container>
                </div>
                <div class="flex">Since {{date}}</div>
            </mat-card>

            <mat-card class="grow-2 box max-width theme-dark">
                <mat-card-header>
                    <mat-card-title class="gauge-title m0">
                        Compliance Progress
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt15" style="height: 125%">
                    <ngx-charts-gauge
                        class="theme-dark"
                        style="background-color: #0000"
                        [scheme]="colorScheme"
                        [results]="data"
                        [textValue]="' '"
                        [legend]="true"
                        legendPosition="right"
                        maxValue="100"
                        [tooltipDisabled]="false"
                        (select)="onSelect($event)"
                    >
                    </ngx-charts-gauge>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-card class="flex flex-column flex-grow box max-height no-overflow mt10" style="min-height: 30vh">
            <mat-card-header>
                <mat-card-title>Assessments</mat-card-title>
            </mat-card-header>

            <mat-card-content class="flex flex-grow no-overflow">
                <div class="buffer vscroll">
                    <mat-nav-list>
                        <mat-divider></mat-divider>
                        <div *ngFor="let assess of history">
                            <mat-list-item [ngClass]="{'pinned-assessment': assess.isPinned}">
                                <div>
                                    <span *ngIf="assess.isPinned" (click)="unpin(assess.id)" class="fa fa-star mr10 " matTooltip="Click to unpin this assessment"></span>
                                    <span *ngIf="!assess.isPinned" (click)="pin(assess.id)" class="fa fa-star-o mr10" matTooltip="Click to pin this assessment"></span>
                                </div>
                                <a uiSref="^.questionnaire"
                                   [uiParams]="{ assessmentId: assess.id }"
                                   (click)="transitionSpinner()"
                                   class="vcenter-container vcenter-grow pr15 full-height">
                                    <div class="flex width-75">
                                        <span class="width-50 vcenter-container">
                                            <span>{{assess.name}}</span>
                                            <span class="badge" matTooltip="Goal Level: {{assess.goalLevel}}">{{assess.goalLevel}}</span>
                                        </span>
                                        <span class="width-50 small vcenter-container">
                                            {{formatDate(assess.started)}} &ndash; {{formatDate(assess.updated)}}
                                        </span>
                                    </div>

                                    <div class="width-25 vcenter-container">
                                        <question-progress [progress]="progress[assess.id]" [needsProof]="assess.needsProof"></question-progress>
                                    </div>
                                </a>

                                <button class="action-button mat-icon-button" mat-button [matMenuTriggerFor]="menu" matTooltipPosition="above" matTooltip="Actions">
                                    <i class="fa fa-lg fa-gear"></i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item uiSref="^.review" [uiParams]="{ assessmentId: assess.id }" (click)="transitionSpinner()">
                                        <i class="fa fa-refresh"></i> Review
                                    </button>
                                    <button mat-menu-item (click)="deleteAssessment(assess.id, assess.name)">
                                        <i class="fa fa-trash"></i> Delete
                                    </button>
                                    <button mat-menu-item (click)="downloadEvidenceZip(assess.id, assess.name)">
                                        <i class="fa fa-download"></i> Download Evidence
                                    </button>
                                </mat-menu>

                            </mat-list-item>
                            <mat-divider inset="true"></mat-divider>
                        </div>
                    </mat-nav-list>
                </div>
            </mat-card-content>

            <div style="display: block; position: absolute; bottom: 15px; right: 15px">
                <button mat-fab color="warn" (click)="newAssessment()">
                    <span class="fa fa-plus"></span>
                </button>
            </div>
        </mat-card>

        <p class="mt15 mb0" style="font-size: 10px">
            *Achieved compliance levels presented are not official. Formal evaluation by a government compliance auditor is required.
        </p>
    </div>
</loading-content>
