@import (reference) '../../../less/cato/colors.less';

:host {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}

.no-overflow {
    overflow: hidden;
}
.vscroll {
    overflow-y: auto;
    margin-right: -10px;
    padding-right: 10px;
}

.width-25 {
    width: 25%;
}
.width-50 {
    width: 50%;
}
.width-75 {
    width: 75%;
}
.width-100 {
    width: 100%;
}

button {
    margin-left: auto;
}

ngx-charts-gauge {
    display: block;
    height: 100%;
    width: 100%;
}

mat-card {
    &.box {
        // padding: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .mat-divider {
        position: static;
    }
}

a[mat-list-item] {
    span {
        display: inline-block;
    }
}

.wrapper {
    height: 100%;
}

.level-wrapper {
    width: 50%;
    max-width: 175px;
    min-width: 50px;
}

.buffer {
    width: 100%;
    height: 100%;
}

.max-height {
    max-height: 52.5%; //50vh;
}
.max-width {
    max-width: 75%; //vw;
}

.huge {
    font-size: 250%;
}

.center-align {
    align-items: center;
    justify-content: space-evenly;
}

.left-align {
    width: 100%;
    margin-left: auto;
}

.w-100 {
    width: 100%;
}

.badge {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;

    height: 25px;
    width: 25px;

    border: 2px solid @p-color-primary-btn;
    border-radius: 13px;

    font-family: 'Courier New', Courier, monospace;

    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1000;
    background-color: #0009;

    display: flex;
    align-items: center;
    justify-content: center;

    div.content {
        background-color: fade(@p-color-bg-base, 93);
        border-radius: 5px;
        padding: 30px 20px;
        text-align: center;

        h2 {
            margin-top: 10px;
        }
    }
}

.blur {
    filter: blur(2px);
}

.gauge-title {
    position: absolute;
    // bottom: 5px;
    right: 8%;
    text-align: center;
    //padding-right: 120px;
    width: 100%;
    //height: 15px;
}

.pinned-assessment {
    background-color: #fff9c4;
}

.sizing-box {
    height: 50px;
    width: 100px;
}

// Signal bar status
// Bars from https://codepen.io/pmec/pen/eyVBvG
.signal-bars {
    box-sizing: border-box;
    display: inline-block;
}
.signal-bars .bar {
    width: 15%;
    margin-left: 2%;
    min-height: 20%;
    display: inline-block;
}
.signal-bars .bar.bar-1 {
    height: 20%;
}
.signal-bars .bar.bar-2 {
    height: 40%;
}
.signal-bars .bar.bar-3 {
    height: 60%;
}
.signal-bars .bar.bar-4 {
    height: 80%;
}
.signal-bars .bar.bar-5 {
    height: 99%;
}
.good .bar {
    background-color: #03b1d3;
    border: thin solid darken(#03b1d3, 7%);
}
.bad .bar {
    background-color: #45a9f9;
    border: thin solid darken(#45a9f9, 20%);
}
.ok .bar {
    background-color: #1679a0;
    border: thin solid darken(#1679a0, 7%);
}
.bars-4 .bar.bar-5,
.bars-3 .bar.bar-5,
.bars-3 .bar.bar-4,
.bars-0 .bar,
.bars-1 .bar:not(.bar-1),
.bars-2 .bar:not(.bar-1):not(.bar-2) {
    background-color: #e8e8e8;
    border: thin solid #a3a3a3;
}

.action-button {
    position: relative;
    right: 20px;
}
