//////////////////////////
////// Chart Widget //////
//////////////////////////

// Dark theme
:host ::ng-deep
{
    .theme-dark
    {
        background: #1b1e27;
        color: #a0aabe;

        .ngx-charts
        {
            text
            {
                fill: #a0aabe;
            }
            
            .tooltip-anchor
            {
                fill: #fff;
            }
            
            .gridline-path
            {
                stroke: #2f3646;
            }
            
            .refline-path
            {
                stroke: #455066;
            }
            
            .reference-area
            {
                fill: #fff;
            }
            
            .grid-panel.odd rect
            {
                fill: rgba(255, 255, 255, .05);
            }
            
            .number-card p
            {
                color: #f0f1f6;
            }
            
            .gauge
            {
                .background-arc path
                {
                    fill: #2f3646;
                }
                
                .gauge-tick path
                {
                    stroke: #a0aabe;
                }
                
                .gauge-tick text
                {
                    fill: #a0aabe;
                }
            }
            
            .linear-gauge
            {
                .background-bar path
                {
                    fill: #2f3646;
                }
                
                .units
                {
                    fill: #72809b;
                }
            }
            
            .timeline .brush-background
            {
                fill: rgba(255, 255, 255, .05);
            }
            
            .timeline .brush .selection
            {
                fill: rgba(255, 255, 255, .1);
                stroke: #aaa;
            }
            
            .polar-chart .polar-chart-background
            {
                fill: #1e222e;
            }
        }

        
        .chart-legend .legend-labels
        {
            background: rgba(255, 255, 255, .05) !important;
        }
        
        .chart-legend .legend-item:hover
        {
            color: #fff;
        }
        
        .chart-legend .legend-label .active .legend-label-text,
        .chart-legend .legend-label:hover
        {
            color: #fff !important;
        }
        
        .advanced-pie-legend,
        .chart-legend .scale-legend-label
        {
            color: #a0aabe;
        }
        
        .advanced-pie-legend .legend-item:hover
        {
            color: #fff !important;
        }
        
        .number-card .number-card-label
        {
            font-size: .8em;
            color: #a0aabe;
        }
    }
}
