<ul uib-pagination class="pull-left clear-item"
                total-items="$ctrl.totalItems"
                ng-model="$ctrl.currentPage"
                items-per-page="$ctrl.itemsPerPage"
                boundary-link-numbers="true"
                max-size="5"
                ng-change="$ctrl.load()"></ul>
<form class="pull-left ml10 form-inline pagination advanced-pagination">
    <div class="input-group mx-auto">
        <div class="input-group-prepend">
            <button ng-click="$ctrl.jump(newPage)"
                    class="btn btn-outline-secondary"
                    type="button">
                <i class="glyphicon glyphicon-arrow-right"></i>
            </button>
        </div>
        <input type="number"
               class="form-control"
               placeholder="{{ $ctrl.currentPage }}"
               ng-model="newPage"
               ng-keyup="$event.keyCode == 13 && $ctrl.jump(newPage)"
               aria-label=""
               aria-describedby="basic-addon1">
    </div>
</form>

<div class="dropdown pull-left form-group mt20 ml10">
    <button class="btn btn-primary btn-sm dropdown-toggle"
            type="button"
            id="pageSizeDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        Page size: <span ng-bind="$ctrl.itemsPerPage"></span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right"
        aria-labelledby="pageSizeDropdown">
        <li data-ng-repeat="size in $ctrl.pageSizes">
            <a href="#"
               ng-click="$ctrl.onPageSizeChange({size: size})"
               ng-bind="size">
            </a>
        </li>
    </ul>
</div>