

$cdk-z-index-overlay-container: 1030 !default;
$cdk-z-index-overlay: 1030 !default;
$cdk-z-index-overlay-backdrop: 1030 !default;


/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev

(global/general CSS from `@include mat-core()`
*/

@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

//$fontConfig: (
//        display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
//        display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
//        display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
//        display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
//        headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
//        title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
//        subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
//        subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
//        body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
//        body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
//        button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
//        caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
//        input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
//);


// Compute font config
@include mat-core();//$fontConfig);

