<div id="moduleSelector">
    <ul style="padding-left: 1.5em;overflow-y: auto; height: 100%;list-style-type:none">
        <li ng-repeat="module in $ctrl.modules | orderBy:['-approved','name'] "
            context-menu="!module.renaming ? $ctrl.menuOptions : undefined"
            context-menu-empty-text="'No Available Options'"
            model="$ctrl.currentModule"
            selection-model
            selection-model-mode="$ctrl.gdata.isMissionDirector ? 'multiple-additive': 'none'"
            selection-model-selected-items="$ctrl.selectedModules"
            selection-model-cleanup-strategy="'deselect'">
            <div ng-bind="module.name"
                 ng-click="$ctrl.selectModuleToDisplay(module,$index)"
                 ng-change="$ctrl.updateCurrentModuleName({newModuleName:module.name})"
                 ng-model="module.name"
                 contenteditable="{{module.renaming}}"
                 ng-class="{'highlighted':!module.renaming && module.id === $ctrl.currentModule.id,'approved':module.approved,'not-approved':!module.approved,'renaming': module.renaming}"
                 uib-tooltip="{{$ctrl.creatingNewModule && module.id === $ctrl.currentModule.id ?'Enter a new name':''}}"
                 tooltip-placement="right-top">
            </div>
        </li>
    </ul>
</div>