<ui-view></ui-view>

<table class="table noborder dropparent">
    <tr ngf-drop="importTemplates($file)">
        <td class="col-sm-6">
            <div class="search-form mt0 collapse in filterForm">
                <div class="input-group mb10">
                    <input type="text"
                           class="form-control"
                           placeholder="Search Templates"
                           ng-model="searchTemplates">
                </div>
            </div>
        </td>
        <td class="col-sm-6">
            <div class="btn-group btn-group-sm pull-right">
                <span class="btn btn-primary"
                      ngf-select="importTemplates($file)">
                    <i aria-hidden="true"
                       class="fa fa-sign-in"></i> Import
                </span>
                <span class="btn btn-primary"
                      ng-click="exportTemplates()"
                      ng-disabled="data.selectedCTemplates.length==0"
                      uib-tooltip="Use control/command and shift to select multiple templates for export"
                      tooltip-placement="bottom">
                    <i aria-hidden="true"
                       class="fa fa-sign-out"></i> Export
                </span>
            </div>
            <a ng-click="editCampaignTemplate()"
               class="green-txt pull-right mt5 mr15">
                <i aria-hidden="true"
                   class="fa fa-plus"></i> Add a Template
            </a>
        </td>
    </tr>
</table>

<div active="0"
     interval="0"
     no-wrap="true"
     cg-busy="{promise: data.campaignTemplates.$promise, message: 'Loading Campaign Templates'}">
    <div>
        <table class="table"
               id="campaign-template-table">
            <thead>
                <tr id="sortabletitlerow">
                    <th><input type="checkbox"
                               ng-click="selectAll(allSelected, data.campaignTemplates)"
                               ng-model="allSelected"></th>
                    <th>NAME</th>
                    <th class="center-align">TYPE</th>
                    <th class="center-align">CONTAINED TEMPLATES</th>
                    <th class="center-align">ACTIONS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="template in data.campaignTemplates |filter:searchTemplates track by template.id"
                   selection-model
                   selection-model-mode="'multiple-additive'"
                   selection-model-type="'checkbox'"
                   selection-model-selected-items="data.selectedCTemplates"
                   selection-model-cleanup-strategy="'deselect'">
                <tr class="show-selection">
                    <td>
                        <input type="checkbox">
                    </td>
                    <td class="force-wrap"
                        ng-bind="template.title"></td>
                    <td class="center-align">
                        <div ng-repeat="templateType in template.types">
                            <i class="fa"
                               ng-class="getTargetTypeIcon(templateType)"
                               aria-hidden="true"></i>
                            <span ng-bind="templateType"></span>
                        </div>
                    </td>
                    <td class="center-align"
                        ng-bind="template.operationTemplates.length"></td>
                    <td class="nobreak right-align">
                        <actions actions="actions"
                                 target="template">
                        </actions>
                    </td>
                    <td class="center-align">
                        <user-icon user="template.createdBy"></user-icon>
                    </td>
                </tr>
            </tbody>
        </table><!-- end of campaigntemplate table -->
    </div>
</div>