<table class="table footable toggle-arrow-tiny no-bg cato-data">
    <thead>
        <tr>
            <th data-toggle="true">CAMPAIGN</th>
            <th>STARTED</th>
            <th>OPERATIONS</th>
            <th>FINDINGS</th>
            <th>SEVERITY</th>
            <!--<th>MESSAGES</th>-->
            <!--<th>RETESTABLE</th>-->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="campaign in serviceCampaigns | filterChildlessObject:showEmpty:['findings_count'] | orderBy:['-max_severity','-findings_count'] track by campaign.id"
            ng-class="{'ngRow selected':campaign.id == campaign_id}"
            ng-click="setClickedCampaignRow(campaign.id)"
            role="button">
            <td><a ui-sref="cato.loggedIn.service.campaign({campaign_id:campaign.id})"
                   ng-bind="campaign.title"></a></td>
            <td ng-bind="campaign.startedOn"></td>
            <td ng-bind="(campaignOperations[campaign.id] | filterChildlessObject:showEmpty:['findings_count']).length">
            </td>
            <td ng-bind="campaign.findings_count"></td>
            <td><span class="label"
                      ng-class="'label-'+SEVERITY_LEVEL[campaign.max_severity].toLowerCase()"
                      ng-bind="SEVERITY_LEVEL[campaign.max_severity]"></span></td>
            <!--<td ng-bind="campaign.messages.length"></td>-->
            <!--<td>
            <i class="fa fa-check-circle font1-5x green-chk" aria-hidden="true" ng-if="campaign.retestable"></i>
            <i class="fa fa-times-circle font1-5x red-ex" aria-hidden="true" ng-if="!campaign.retestable"></i>
        </td>-->
        </tr>
        <tr class="data-holder footable-odd"
            style="display: table-row;"
            ng-repeat-end>
            <td colspan="7"
                class="data-holder"><span class="footable-toggle"></span>
                <div ng-if="campaignExpanded(campaign.id)">
                    <div ng-include="'/app/service/customerServices/operationsTable.html'"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>