<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="vm.cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title"
            ng-bind="vm.modalTitle"></h3>
    </div>
    <!-- /modal-header -->

    <form ng-submit="vm.addOrUpdateCamapignTemplate()"
          name="campaigntemplateform"
          id="campaigntemplateform"
          class="form-horizontal"
          method="post">
        <div class="modal-body">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="campaignTemplateTitle">
                        Title*
                    </label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               type="text"
                               id="campaignTemplateTitle"
                               name="campaignTemplateTitle"
                               required
                               ng-model="vm.template.title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="type">
                        Type*
                    </label>
                    <div class="col-sm-10">
                        <select class="form-control"
                                id="type"
                                name="type"
                                required
                                multiple
                                ng-model="vm.template.types"
                                ng-options="t.value as t.display_name for t in vm.campaignTemplateConfig.types.choices |orderBy:'display_name'">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div ng-show="!vm.template.types"
                         class="col-sm-10 col-sm-offset-2">
                        Select types to manage included templates.
                    </div>
                    <dual-pane-multi-select class="col-xs-12"
                                            ng-if="vm.template.types"
                                            ng-model="vm.template.operationTemplates"
                                            available-objs="vm.pickedTemplates"
                                            objs-name="templates"
                                            group-by="obj.service.name"
                                            order-by="['service.name','displayName']"
                                            no-available-extra-text="supporting targets of this type"
                                            available-label-tooltip-html="vm.templateKeyTooltip"
                                            label-attribute="displayName"></dual-pane-multi-select>
                </div>
            </fieldset>
        </div>
        <!-- /modal-body -->

        <div class="modal-footer">
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="vm.cancel()">Cancel</button>
                <button type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="campaigntemplateform.$invalid || vm.template.operationTemplates.length === 0">Submit</button>
            </div>
        </div>
        <!-- /modal-footer -->

    </form>
</div>