<ui-view></ui-view>

<table class="table noborder dropparent">
    <tr ngf-drop="importBlocks($file)">
        <td class="col-sm-6">
            <div class="btn-group btn-group-sm pull-right">
                <span class="btn btn-primary"
                      ngf-select="$ctrl.importBlocks($file)">
                    <i aria-hidden="true"
                       class="fa fa-sign-in"></i> Import
                </span>
                <button class="btn btn-primary"
                      ng-click="$ctrl.exportBlocks()"
                      ng-disabled="$ctrl.selectedBlocks.length==0"
                      uib-tooltip="Use control/command and shift to select multiple blocks for export"
                      tooltip-placement="bottom">
                    <i aria-hidden="true"
                       class="fa fa-sign-out"></i> Export
                </button>
            </div>

            <a ng-click="$ctrl.cidrBlockActions.editBlock.action()"
               class="green-txt pull-right mt5 mr15">
                <i aria-hidden="true"
                   class="fa fa-plus"></i> Add a Block
            </a>
        </td>
    </tr>
</table>

<script type="text/ng-template"
        id="blocksHeaderCheckbox">
    <input type="checkbox" ng-model="$ctrl.$scope.$parent.$ctrl.allBlocksSelected" ng-click="$ctrl.$scope.$parent.$ctrl.selectAllBlocks(value)">
</script>

<script type="text/ng-template"
        id="blocksBulkActions">
    <actions actions="$ctrl.$scope.$parent.$ctrl.bulkActions"
             disabled="$ctrl.$scope.$parent.$ctrl.selectedBlocks.length === 0"
             tooltip-override="'Bulk Actions'"></actions>
</script>

<div cg-busy="{promise: $ctrl.table._catoPromise, message: 'Loading Blocks'}">
    <table ng-table="$ctrl.table"
           class="table table-striped"
           id="cidr-block-table"
           show-filter="true">
        <tbody>
            <tr ng-repeat="block in $data"
                class="show-selection"
                selection-model
                selection-model-mode="'multiple-additive'"
                selection-model-type="'checkbox'"
                selection-model-selected-items="$ctrl.selectedBlocks"
                selection-model-on-change="$ctrl.selectionChange(row)"
                selection-model-cleanup-strategy="'deselect'">
                <td header="'blocksHeaderCheckbox'">
                    <input type="checkbox"/>
                </td>
                <td data-title="'ADDRESS'"
                    header-class="'center-align'"
                    sortable="'address'"
                    filter="{'address__icontains': 'text'}">
                    <span ng-bind="block.address"></span>
                </td>
                <td data-title="'NETWORK'"
                    class="center-align"
                    header-class="'center-align'"
                    sortable="'network_name'"
                    filter="{'network_name__icontains': 'text'}">
                    <span ng-bind="block.network_name"></span>
                </td>
                <td data-title="'OWNER'"
                    class="center-align"
                    header-class="'center-align'"
                    sortable="'owner__name'"
                    filter="{'owner_name': 'text'}">
                    <a href=""
                       ng-click="$ctrl.manageOwner(block.owner)"
                       ng-bind="block.owner_name">
                    </a>
                </td>
                <td data-title="'TARGETS'"
                    class="center-align"
                    header-class="'center-align'"
                    sortable="'target_count'">
                    <span ng-bind="block.target_count"></span>
                </td>
                <td header="'blocksBulkActions'"
                    class="txt-right nobreak">
                    <button class="btn btn-white"
                          uib-tooltip="Targets Quick-view"
                          uib-popover-template="'/app/cidr/targetsQuickView.html'"
                          popover-title="Targets in CIDR Block"
                          popover-is-open="$ctrl.extraData(block).userPopoverIsOpen"
                          popover-placement="left"
                          ng-click="$ctrl.toggleTargetQuickView(block)">
                        <i class="fa fa-bullseye"></i>
                    </button>
                    <span class="btn-group pull-right">
                        <actions actions="$ctrl.cidrBlockActions"
                                 target="block"></actions>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>