<div class="inmodal"
     id="catoManageBlockOwner"
     name="catoManageBlockOwner"
     cg-busy="$ctrl.submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$ctrl.close()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title uppercase">Edit Owner</h3>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label"
                   for="name">
                Name*
            </label>
            <div class="col-sm-10">
                <span name="name"
                      id="name">
                    <h4 ng-bind="$ctrl.owner.name"></h4>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Blocks
            </label>
            <div>
                <span>{{ $ctrl.block_count }} blocks total.</span>
                <table>
                    <tr ng-repeat="block in $ctrl.blocks"
                        class="row">
                        <td>
                            <label>
                                <i ng-click="$ctrl.removeBlock(block)"
                                   ng-if="$ctrl.owner.name !== 'Unknown'"
                                   class="fa fa-times-circle"
                                   uib-tooltip="Remove block"></i>
                                <span ng-bind="block.address"></span></label>
                        </td>
                    </tr>
                </table>
                <div ng-if="$ctrl.page_count > 1">
                    <span>Page {{ $ctrl.current_page }}</span>
                    <button ng-if="$ctrl.current_page > 1" ng-click="$ctrl.previousBlockPage()">Previous Page</button>
                    <button ng-if="$ctrl.current_page < $ctrl.page_count" ng-click="$ctrl.nextBlockPage()">Next Page</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="pull-left col-lg-6 col-xs-12 text-left">
            <div uib-alert class="alert-small alert-success"
                       ng-if="$ctrl.message"
                       close="$ctrl.message=''"
                       dismiss-on-timeout="5000">{{$ctrl.message}}</div>
        </div>
        <div class="form-actions pull-right">
            <button type="reset"
                    class="btn"
                    ng-click="$ctrl.close()">Close</button>
        </div>
    </div>
</div>
