<div class="inmodal"
     cg-busy="$ctrl.submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$ctrl.dismiss('cancel')"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title uppercase"
            ng-bind="$ctrl.modalTitle"></h3>
    </div>

    <form ng-submit="$ctrl.saveBlock()"
          id="catoManageBlockForm"
          name="catoManageBlockForm"
          class="form-horizontal"
          autocomplete="off">
        <div class="modal-body">
            <div ng-if="$ctrl.isNew" class="form-group">
                <button type="button"
                        class="btn btn-white pull-right"
                        ng-model="$ctrl.bulkCreate"
                        uib-btn-checkbox
                        uib-tooltip="Click to toggle bulk-creating blocks.">
                    Toggle Bulk Create
                </button>
            </div>

            <div ng-if="!$ctrl.bulkCreate">
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="address">
                        Address*
                    </label>
                    <div class="col-sm-10">
                        <input name="address"
                               id="address"
                               class="form-control"
                               type="text"
                               required
                               placeholder="Block address"
                               ng-model="$ctrl.block.address"
                               ng-minlength="$ctrl.config.address.min_length"
                               ng-maxlength="$ctrl.config.address.max_length" />
                    </div>
                    <div class="col-xs-12 help-block"
                         ng-if="catoManageBlockForm.address.$error.minlength">
                        Address too short, minimum length <span ng-bind="$ctrl.config.address.min_length"></span>.
                    </div>
                    <div class="col-xs-12 help-block"
                         ng-if="catoManageBlockForm.address.$error.maxlength">
                        Address too long, maximum length <span ng-bind="$ctrl.config.address.max_length"></span>.
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="owner">
                        Owner*
                    </label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               name="owner"
                               id="owner"
                               type="text"
                               required
                               placeholder="Name the owner"
                               ng-model="$ctrl.block.owner"
                               uib-typeahead="owner.name for owner in $ctrl.owners | limitTo:12"
                               autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="networkName">
                        Network Name
                    </label>
                    <div class="col-sm-10">
                        <input name="networkName"
                               id="networkName"
                               class="form-control"
                               type="text"
                               placeholder="Network name"
                               ng-model="$ctrl.block.network_name" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="third_party">
                        Third Party
                    </label>
                    <div class="col-sm-10">
                        <input name="third_party"
                               id="third_party"
                               type="checkbox"
                               ng-model="$ctrl.block.third_party">
                    </div>
                </div>
            </div>

            <div ng-if="$ctrl.bulkCreate">
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="addressList">
                        Address List
                    </label>
                    <div class="col-sm-10">
                        <textarea class="form-control"
                                  rows="10"
                                  id="addressList"
                                  name="addressList"
                                  required="required"
                                  ng-model="$ctrl.addressList"
                                  placeholder="Add list of CIDR blocks and net ranges."></textarea>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="pull-left col-lg-6 col-xs-12 text-left">
                <div uib-alert class="alert-small alert-success"
                           ng-if="$ctrl.message"
                           close="$ctrl.message=''"
                           dismiss-on-timeout="5000">{{$ctrl.message}}</div>
            </div>
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="$ctrl.dismiss('cancel')">Cancel</button>
                <button id="manage_block_form_submit"
                        type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="catoManageBlockForm.$invalid">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
