<div cg-busy="{promise: $ctrl.extraData(block).targetsTable._catoPromise, message: 'Loading Targets'}">
    <div ng-hide="$ctrl.extraData(block).targetsTable.settings().$loading">
        <table ng-table="$ctrl.extraData(block).targetsTable"
               class="table table-striped table-scroll"
               show-filter="true"
               id="targetsTable">
             <thead>
                <tr>
                    <th>Value</th>
                    <th>Customer</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="target in $data"
                    ng-class="{'inactive': !target.active}"
                    class="show-selection">
                    <td data-title="'TARGET'"
                        filter="{value__icontains: 'text'}"
                        sortable="'value'"
                        class="force-wrap col-sm-3"
                        header-title="'This is the actual target value. It is used directly in operations.'">
                        <target-display ng-if="!gdata.isOperator" [target]="target"></target-display>
                        <a ng-if="gdata.isOperator"
                           selection-model-ignore
                           ui-sref=".targetDetails({id: target.id})">
                                <target-display [target]="target"></target-display>
                        </a>
                    </td>
                    <td data-title="'CUSTOMER'"
                        filter="{customer__name__icontains: 'text'}"
                        sortable="'customer'"
                        class="col-sm-3 force-wrap">
                        <span ng-bind="$ctrl.globalDataService.customerMap[target.customer].name"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>