<div class="inmodal"
     cg-busy="$ctrl.submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$ctrl.dismiss('cancel')"
                aria-hidden="true">&times;</button>
        <span>
            <span class="pull-left">
                <h3 class="modal-title uppercase"
                    ng-bind="$ctrl.modalTitle"></h3>
            </span>
            <span class="pull-right">
                <view-roe customer-id="$ctrl.operation.customer"
                          roe-id="$ctrl.gdata.customerMap[$ctrl.operation.customer].current_rules_of_engagement"
                          header="true"></view-roe>
            </span>
        </span>
    </div>

    <form ng-submit="$ctrl.saveOperation()"
          id="catoOpForm"
          name="catoOpForm"
          class="form-horizontal"
          method="post"
          autocomplete="off">
        <div class="modal-body">
            <div>
                <div class="mb0 form-group">
                    <label class="control-label mb10">Provide the following information to create a new
                        operation.</label>
                    <div class="form-group">
                        <label class="col-sm-3 control-label capitalize">
                            {{::$ctrl.catotheme.customer}}
                        </label>
                        <div class="col-sm-9">
                            <h3 class="form-control-static mt0"
                                ng-show="$ctrl.operation.id"
                                ng-bind="$ctrl.customer.name"></h3>
                            <condensed-customer-filter ng-hide="$ctrl.operation.id"
                                                       set-customer="$ctrl.setCustomer(customer)"
                                                       initial-customer="$ctrl.operation.customer"
                                                       no-monitor-global
                                                       placeholder="'to create an operation'">
                            </condensed-customer-filter>
                        </div>
                    </div>
                    <fieldset ng-cloak
                              ng-show="$ctrl.operation.customer">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Service*
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control"
                                        id="service"
                                        name="service"
                                        required
                                        ng-model="$ctrl.operation.service"
                                        ng-options="serviceId as $ctrl.gdata.serviceMap[serviceId].name for serviceId in $ctrl.customer.services">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Template*
                            </label>
                            <div class="col-sm-9"
                                 cg-busy="$ctrl.operationTemplates.$promise">
                                <select class="form-control"
                                        id="template"
                                        name="template"
                                        required
                                        ng-model="$ctrl.operation.template"
                                        ng-change="$ctrl.templateSet()"
                                        ng-options="operationTemplate.id as operationTemplate.name group by operationTemplate.process for operationTemplate in $ctrl.operationTemplates | filter:{service:$ctrl.operation.service}:true | orderBy:['process','name']">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-sm-3 control-label">
                                Name
                            </label>
                            <div class="col-sm-9">
                                <input name="opname"
                                       class="form-control"
                                       type="text"
                                       placeholder="{{$ctrl.templateMap[$ctrl.operation.template].name||'Enter name here'}}"
                                       ng-model="$ctrl.operation.name"
                                       ng-minlength="$ctrl.config.name.min_length"
                                       ng-maxlength="$ctrl.config.name.max_length" />
                            </div>
                            <div class="col-sm-12 help-block"
                                 ng-show="catoOpForm.name.$error.minlength">
                                Name too short, minimum length <span ng-bind="$ctrl.config.name.min_length"></span>.
                            </div>
                            <div class="col-sm-12 help-block"
                                 ng-show="catoOpForm.name.$error.maxlength">
                                Name too long, maximum length <span ng-bind="$ctrl.config.name.max_length"></span>.
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-sm-3 control-label">
                                Description
                            </label>
                            <div class="col-sm-9">
                                <input name="description"
                                       class="form-control"
                                       type="text"
                                       placeholder="{{$ctrl.templateMap[$ctrl.operation.template].description||'Enter description here'}}"
                                       ng-model="$ctrl.operation.description"
                                       ng-minlength="$ctrl.config.description.min_length"
                                       ng-maxlength="$ctrl.config.description.max_length" />
                            </div>
                            <div class="col-sm-12 help-block"
                                 ng-show="catoOpForm.description.$error.minlength">
                                Description too short, minimum length <span
                                      ng-bind="$ctrl.config.description.min_length"></span>.
                            </div>
                            <div class="col-sm-12 help-block"
                                 ng-show="catoOpForm.description.$error.maxlength">
                                Description too long, maximum length <span
                                      ng-bind="$ctrl.config.description.max_length"></span>.
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-sm-3 control-label">
                                Reasoning
                            </label>
                            <div class="col-sm-9">
                                <textarea name="reasoning"
                                          class="form-control"
                                          rows="2"
                                          ng-model="$ctrl.operation.reasoning"
                                          ng-maxlength="$ctrl.config.reasoning.max_length"
                                          placeholder="{{$ctrl.reasoningPlaceholder}}"></textarea>
                            </div>
                            <div class="col-sm-12 help-block"
                                 ng-show="catoOpForm.reasoning.$error.maxlength">
                                Reasoning too long, maximum length <span
                                      ng-bind="$ctrl.config.reasoning.max_length"></span>.
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Campaign*
                            </label>
                            <div class="col-sm-9"
                                 cg-busy="$ctrl.campaigns.$promise">
                                <select class="form-control"
                                        id="campaign"
                                        name="campaign"
                                        required
                                        ng-model="$ctrl.operation.campaign"
                                        ng-options="campaign.id as campaign.display_title for campaign in $ctrl.campaigns | orderBy: 'title'">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Appliance
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control"
                                        id="appliance"
                                        name="appliance"
                                        ng-model="$ctrl.operation.appliance"
                                        ng-options="appliance.id as appliance.name for appliance in $ctrl.gdata.appliancesByCustomer[$ctrl.customer.id] | filter:{verified:true, retired:false}">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Target
                            </label>
                            <div class="col-sm-9"
                                 cg-busy="$ctrl.targets.$promise">
                                <select class="form-control"
                                        id="target"
                                        name="target"
                                        ng-model="$ctrl.operation.target"
                                        ng-options="target.id as (target.value + (target.locked?' (locked)':'')) group by target.type disable when !target.active for target in $ctrl.targets | filter:$ctrl.targetFilter | applianceZoneOrExternal:$ctrl.operation.appliance:$ctrl.customer.id | orderBy:['type','-active','locked','value']"
                                        ng-disabled="!$ctrl.operation.template || $ctrl.operation.metatarget">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                MetaTarget
                            </label>
                            <div class="col-sm-9"
                                 cg-busy="$ctrl.metatargets.$promise">
                                <select class="form-control"
                                        id="metatarget"
                                        name="metatarget"
                                        ng-model="$ctrl.operation.metatarget"
                                        ng-options="metatarget.id as (metatarget.name + ' (' + metatarget.targets.length + ')' + (metatarget.locked?' (locked)':'')) group by metatarget.type disable when !metatarget.active for metatarget in $ctrl.metatargets | filter:$ctrl.targetFilter | applianceZoneOrExternal:$ctrl.operation.appliance:$ctrl.customer.id | orderBy:['type','-active','locked','name']"
                                        ng-disabled="!$ctrl.operation.template || $ctrl.operation.target">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left col-lg-6 col-xs-12 text-left">
                <div uib-alert class="alert-small alert-success"
                           ng-if="$ctrl.message"
                           close="$ctrl.message=''"
                           dismiss-on-timeout="5000">{{$ctrl.message}}</div>
            </div>
            <div class="form-actions pull-right">
                <div class="add-another"
                     ng-if="!$ctrl.operation.id">
                    <input id="addAnotherOp"
                           type="checkbox"
                           ng-model="$ctrl.addAnother">
                    <label for="addAnotherOp"
                           class="control-label">Add another</label>
                </div>
                <button type="reset"
                        class="btn"
                        ng-click="$ctrl.dismiss('cancel')">Cancel</button>
                <button id="add_operation_form_submit"
                        type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="catoOpForm.$invalid">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>