<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title">DISAPPROVE OPERATION</h3>
    </div>
    <!-- /modal-header -->

    <form ng-submit="disapproveOrReject()"
          name="disapproveoperationform"
          id="disapproveoperationform"
          class="form-horizontal"
          method="post">
        <div class="modal-body">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-4 control-label ">
                        Reason for disapproving operation:
                    </label>
                    <div class="col-sm-8">
                        <input class="form-control"
                               type="text"
                               id="reason"
                               name="reason"
                               required
                               ng-model="reason"
                               ng-minlength="config.rejection.min_length"
                               ng-maxlength="config.rejection.max_length">
                        <div class="col-sm-12 help-block"
                             ng-show="disapproveoperationform.reason.$error.minlength">
                            Reason too short, minimum length <span ng-bind="config.rejection.min_length"></span>.
                        </div>
                        <div class="col-sm-12 help-block"
                             ng-show="disapproveoperationform.reason.$error.maxlength">
                            Reason too long, maximum length <span ng-bind="config.rejection.max_length"></span>.
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <!-- /modal-body -->

        <div class="modal-footer">
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="cancel()">Cancel</button>
                <button type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="disapproveoperationform.$invalid">Submit</button>
            </div>
        </div>
        <!-- /modal-footer -->

    </form>
</div>