<!-- services modal fpo -->
<div class="inmodal">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$close()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title">Operation Retest Details</h3>
    </div>
    <!-- /modal-header -->

    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                Operation:
                <a ng-bind="operation.originalOperation.name"
                   ui-sref="cato.loggedIn.operator({operation_id:operation.originalOperation.id})"
                   target="_blank"></a>
            </div>
            <div class="col-md-6">
                <span class="capitalize">{{::catotheme.customer}}:</span>
                <span ng-bind="operation.customer.name"></span>
            </div>
            <div class="col-md-6">
                Operation Type:
                <span ng-bind="operation.template.operationType"></span>
            </div>
            <div class="col-md-6">
                Number of retest requests:
                <span ng-bind="operation.retestData.length"></span>
            </div>


        </div>
        <div class="row mt10"
             ng-repeat="retest in operation.retestData">
            <label>Retest request at {{retest.timestamp | date:'MM/dd/yyyy H:mm'}} by
                {{gdata.userMap[retest.user].username}}</label>
            <div class="well">
                <div>
                    Reason:
                    <span ng-bind="retest.reason"></span>
                </div>
                <div>
                    Finding:
                    <a ui-sref="cato.loggedIn.operator.findingDetail({operation_id:operation.originalOperation.id, finding_id:retest.finding})"
                       ng-bind="findings[retest.finding].title"
                       target="_blank"></a>
                </div>
                <div>
                    Finding Severity:
                    <span class="label label-sm"
                          ng-class="'label-'+getSeverityLevel(retest.finding_severity).toLowerCase()"
                          ng-bind="getSeverityLevel(retest.finding_severity)"></span>

                </div>
                <div>
                    Finding CVSS Score:
                    <span ng-bind="retest.finding_cvss"></span>
                </div>
            </div>

        </div>
    </div>
    <!-- /modal-body -->

    <div class="modal-footer">
        <div class="form-actions pull-right">
            <button type="button"
                    class="btn btn-primary"
                    ng-click="$close()">Close</button>
        </div>
    </div>
    <!-- /modal-footer -->
</div>