<div class="col-md-12">
    <div class="row show-selection">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-12">
                    <input type="checkbox"
                           ng-if="gdata.isMissionDirector">
                    <b>OPERATOR:</b>
                    <span ng-if="operation.state === 'draft'"
                          ng-bind="getNameOrRoleFromId(operation.author)"></span>
                    <span ng-if="operation.state === 'requested'"
                          ng-bind="getNameOrRoleFromId(operation.startedBy)"></span>
                    <span ng-if="operation.state === 'fix up'">Me</span>
                    <span ng-if="operation.state === 'in progress' || operation.state === 'paused'">Me</span>
                </div>
                <div class="col-xs-12">
                    <b>OPERATION NAME:</b>
                    <a ng-bind="operation.name"
                       ui-sref="cato.loggedIn.operator({operation_id:operation.id})"
                       target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-12">
                    <b class="uppercase">{{::catotheme.customer}}:</b> <span ng-bind="operation.customer.name"></span>
                    <br />
                    <b>STATE:</b> <span ng-bind="operation.state"></span>
                </div>
                <div class="col-xs-12"
                     ng-if="operation.target !== null">
                    <b>TARGET:</b>
                    <target-display [target]="operation.target"></target-display>
                </div>
                <div class="col-xs-12"
                     ng-if="operation.metatarget !== null">
                    <b>METATARGET:</b> <span tooltip-placement="right"
                          uib-tooltip="{{operation.metatarget.type}}">{{operation.metatarget.name}}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-default"
                    ng-if="operation.retestData.length"
                    uib-tooltip="Retest Finding Details"
                    ng-click="showRetestDetails(operation)">
                <i class="fa fa-retweet"></i>
                <span ng-bind="operation.retestData.length"></span>
            </button>
            <div class="btn-group pull-right"
                 ng-if="operation.state === 'draft'">
                <button class="btn btn-success"
                        ng-click="approveOperation(operation.id)">
                    <i class="fa fa-thumbs-o-up"></i> Approve
                </button>
                <button class="btn btn-danger"
                        ng-click="bulkDisapproveDraftOperations(operation.id)">
                    <i class="fa fa-thumbs-o-down"></i> Disapprove
                </button>
            </div>
            <div class="btn-group pull-right mt10 mb10"
                 ng-if="operation.state === 'requested'">
                <button class="btn btn-success"
                        ng-click="authorizeOperation(operation.id)"><i class="fa fa-thumbs-o-up"></i> Authorize</button>
                <button class="btn btn-danger"
                        ng-click="bulkRejectRequestedOperations(operation.id)">
                    <i class="fa fa-thumbs-o-down"></i> Reject</button>
            </div>
            <div class="row mt10 mb10"
                 ng-if="operation.state === 'fix up'">
                <div class="col-md-12">
                    <p ng-bind="operation.reasoning"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <b>DESCRIPTION:</b> <span ng-bind="operation.description"></span>
            </div>
            <div ng-if='operation.reasoning'>
                <b>REASONING: </b><span ng-bind="operation.reasoning"></span>
            </div>
            <b>COMMENTS:</b><br />
            <span class="lt-gray-txt"
                  am-time-ago="operation.added"
                  uib-tooltip="{{operation.added | amUtc | amLocal | amDateFormat:'lll' }}"
                  tooltip-placement="top-left">
            </span>
        </div>
    </div>
</div>