<ui-view></ui-view>

<table class="table noborder dropparent">
    <tr ngf-drop="importTemplates($file)">
        <td class="col-sm-6">
            <div class="search-form mt0 collapse in filterForm">
                <div class="input-group mb10">
                    <form name="operationTemplateSearch"
                          ng-submit="templatesTable.filter({search:searchTemplates})">
                        <input type="text"
                               class="form-control mb-10"
                               placeholder="Search Templates (press enter to filter)"
                               name="search"
                               id="search"
                               ng-model="searchTemplates">
                    </form>
                </div>
            </div>
        </td>
        <td class="col-sm-6">
            <div class="btn-group btn-group-sm pull-right">
                <span class="btn btn-primary"
                      ngf-select="importTemplates($file)">
                    <i aria-hidden="true"
                       class="fa fa-sign-in"></i> Import
                </span>
                <span class="btn btn-primary"
                      ng-click="exportTemplates()"
                      ng-disabled="data.selectedTemplates.length==0"
                      uib-tooltip="Use control/command and shift to select multiple templates for export"
                      tooltip-placement="bottom">
                    <i aria-hidden="true"
                       class="fa fa-sign-out"></i> Export
                </span>
            </div>
            <a href="#"
               ui-sref=".addOperationTemplate"
               class="green-txt pull-right mt5 mr15">
                <i aria-hidden="true"
                   class="fa fa-plus"></i> Add a Template
            </a>
        </td>
    </tr>
</table>

<div active="0"
     interval="0"
     no-wrap="true"
     cg-busy="{promise: templatesTable._catoPromise, message: 'Loading Templates'}">
    <!-- TODO: Determine if there is any needed benefits from using table-responsive, for now it's just 
    causing problems when you try to open an action pulldown at the bottom of the page. -->
    <!-- <div class="table-responsive"> -->
    <table id="operation-template-table"
           ng-table="templatesTable"
           class="table table-striped"
           show-filter="true">
        <thead>
            <tr id="sortabletitlerow">
                <th><input type="checkbox"
                           ng-click="selectAll(allSelectWrapper.allSelected, templatesTable.data)"
                           ng-model="allSelectWrapper.allSelected"></th>
                <th colspan="3">TEMPLATE</th>
                <th>SERVICE</th>
                <th>DESCRIPTION</th>
                <th>REQUIRED LEVEL</th>
                <th>TYPE</th>
                <th>TARGET TYPES</th>
                <th>TASKS</th>
                <th class="center-align">ACTIONS</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="template in templatesTable.data"
               selection-model
               selection-model-mode="'multiple-additive'"
               selection-model-type="'checkbox'"
               selection-model-selected-items="data.selectedTemplates"
               selection-model-cleanup-strategy="'deselect'">
            <tr class="show-selection">
                <td align="center">
                    <input type="checkbox">
                </td>
                <td align="left">
                    <i aria-hidden="true"
                       class="fa fa-magic"
                       ng-if="template.has_automated"
                       tooltip-placement="right"
                       uib-tooltip="Contains automated tasks"></i>
                    <i aria-hidden="true"
                       class="fa fa-wrench"
                       ng-if="template.has_manual"
                       tooltip-placement="right"
                       uib-tooltip="Contains manual tasks"></i>
                </td>
                <td class="force-wrap">
                    <span editable-text="template.name"
                          e-name="name"
                          e-form="rowform"
                          e-ng-trim="true"
                          onbeforesave="validateMinMax($data, operationTemplateConfig.name.min_length, operationTemplateConfig.name.max_length)">
                        {{ template.name }}
                        <i class="fa"
                           ng-class="stateIcon(template.state)"
                           tooltip-placement="top"
                           uib-tooltip="{{template.state}}"></i>
                    </span>
                </td>
                <td>
                    <span editable-select="template.state"
                          e-name="state"
                          e-form="rowform"
                          e-ng-options="ot.value as ot.display_name for ot in operationTemplateConfig.state.choices">
                    </span>
                </td>
                <td align="left">
                    <span editable-select="template.service.id"
                          e-name="service"
                          e-form="rowform"
                          e-ng-options="service.id as service.name for service in gdata.services">
                        {{ template.service.name }}
                    </span>
                </td>
                <td class="force-wrap"
                    align="left">
                    <span editable-text="template.description"
                          e-name="description"
                          e-form="rowform"
                          e-ng-trim="true"
                          onbeforesave="validateMinMax($data, operationTemplateConfig.description.min_length, operationTemplateConfig.description.max_length)">
                        {{ template.description }}
                    </span>
                </td>
                <td class="force-wrap"
                    align="left">
                    <span editable-text="template.requiredLevel"
                          e-name="requiredLevel"
                          e-form="rowform"
                          e-ng-trim="true"
                          onbeforesave="validateMinMax($data, operationTemplateConfig.requiredLevel.min_value, operationTemplateConfig.requiredLevel.max_value)">
                        {{ template.requiredLevel }}
                    </span>
                </td>
                <td align="left">
                    <span editable-select="template.operationType"
                          e-name="operationType"
                          e-form="rowform"
                          e-required
                          e-ng-options="ot.value as ot.display_name for ot in operationTemplateConfig.operationType.choices">
                        {{ template.operationType }}
                    </span>
                </td>
                <td align="left">
                    <span editable-select="template.targettypes"
                          e-multiple
                          e-name="targettypes"
                          e-form="rowform"
                          e-required
                          e-ng-options="ot.value as ot.display_name for ot in operationTemplateConfig.targettypes.choices | orderBy:'display_name'">
                        <ul>
                            <li ng-repeat="t in template.targettypes">{{ t }}</li>
                        </ul>
                    </span>
                </td>
                <td align="left">
                    <button type="button"
                            class="btn btn-sm btn-primary"
                            ng-disabled="!template.id"
                            ng-click="toggleTasks()"
                            ng-bind="'&plusmn; ' + template.tasktemplates.length"
                            selection-model-ignore>
                    </button>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form
                          onbeforesave="addOrUpdateOperationTemplate($data, template.id)"
                          name="rowform"
                          ng-show="rowform.$visible"
                          class="form-buttons form-inline"
                          shown="inserted == task"
                          selection-model-ignore>

                        <button type="submit"
                                ng-disabled="rowform.$waiting"
                                class="btn btn-sm btn-primary">
                            <i aria-hidden="true"
                               class="fa fa-floppy-o"></i>
                        </button>

                        <button class="btn btn-white ml5"
                                uib-tooltip="Cancel"
                                type="button"
                                ng-disabled="rowform.$waiting"
                                ng-click="rowform.$cancel()">
                            <i aria-hidden="true"
                               class="fa fa-ban"></i>
                        </button>
                    </form>
                    <div class="buttons"
                         ng-show="!rowform.$visible"
                         selection-model-ignore>
                        <button class="btn btn-white"
                                uib-tooltip="Edit Operation"
                                ng-click="rowform.$show()">
                            <i class="fa fa-pencil"></i>
                        </button>

                        <button class="btn btn-white ml5"
                                uib-tooltip="Delete"
                                ng-click="deleteSpecificTemplate(template.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </td>
                <td align="left">
                    <user-icon user="template.createdBy"></user-icon>
                </td>
            </tr>
            <tr selection-model-ignore
                ng-show="showtasks">
                <td colspan="13">
                    <!-- This should load the tasktemplate create/edit modal. -->
                    <a href="#"
                       ng-click="editTaskTemplate(template, null)"
                       ng-show="showtasks"
                       class="green-txt mt5 mr15 pull-right">
                        <i aria-hidden="true"
                           class="fa fa-plus"></i> Add new Task Template
                    </a>
                </td>
            </tr>
            <tr selection-model-ignore
                ng-show="showtasks && template.tasktemplates.length > 0">
                <td colspan="13"
                    cg-busy="{promise: template.tasktemplatesData.$promise}">
                    <ul data-as-sortable="dragControlListeners"
                        data-ng-model="template.tasktemplatesData"
                        class="cards card-list">
                        <li data-ng-repeat="task in template.tasktemplatesData"
                            data-as-sortable-item
                            class="card as-sortable-item">
                            <div data-as-sortable-item-handle
                                 class="as-sortable-item-handle">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <i ng-if="task.process === 'manual'"
                                           class="fa fa-wrench pr10"
                                           aria-hidden="true"
                                           uib-tooltip="Manual"></i>
                                        <i ng-if="task.process === 'automated'"
                                           class="fa fa-magic pr10"
                                           aria-hidden="true"
                                           uib-tooltip="Automated"></i>
                                        <h4 class="inline force-wrap"><a target='_blank'
                                               ng-href="/wiki/task/{{ task.url }}">{{task.name}}</a></h4>&nbsp;-&nbsp;
                                        <p ng-bind="task.description"
                                           class="inline force-wrap"></p>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="buttons pull-right">
                                            <button class="btn btn-white"
                                                    uib-tooltip="Edit Task"
                                                    ng-click="editTaskTemplate(template, task)">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <button class="btn btn-white ml5"
                                                    uib-tooltip="Delete"
                                                    ng-click="deleteTaskTemplate(template, task)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr ng-show="showtasks">
                <td colspan="9"
                    class="background-border"></td>
            </tr>
        </tbody>
    </table><!-- end of operationtemplate table -->
    <!-- </div> -->
</div>