<div class="row bot-brdr"
     ng-repeat="operation in data.requestedOperations track by operation.id"
     selection-model
     selection-model-mode="'multiple-additive'"
     selection-model-type="'checkbox'"
     selection-model-selected-items="data.selectedRequestedOperations"
     selection-model-cleanup-strategy="'deselect'">
    <div ng-include="'/app/operation/operations.html'"></div>
</div>