<div class="row border-bottom"
     ng-controller="NavbarCtrl">
    <nav class="navbar navbar-fixed-top dark-bg"
         role="navigation"
         style="margin-bottom: 0; height: 80px;">
        <a ui-sref="cato.loggedIn.dashboard"
           class="navbar-brand">
            <img alt="{{::catotheme.appName}} logo"
                 ng-src="/app/img/{{::catotheme.name}}/logo-hdr.png"
                 class="full-height"
                 tooltip-placement="right"
                 uib-tooltip="{{::catotheme.appName}} Dashboard">
        </a>

        <ul ng-if="user.type"
            class="nav navbar-top-links navbar-right">
            <li ng-if="gdata.isOperator">
                <form ng-submit="jumpToOperation();jumpToOperationForm.$setPristine()"
                      name="jumpToOperationForm"
                      id="jumpToOperationForm"
                      class="form-horizontal pull-right"
                      method="post">
                    <div class="form-group input-group mb0 pb0">
                        <input type="number"
                               ng-model="jumpForm.jumpTo"
                               class="form-control no-warnings"
                               style="padding-left: 5px; padding-right: 0px;"
                               placeholder="Jump to Operation"
                               min="1"
                               step="1"
                               required>
                        <span type="submit"
                              class="input-group-addon"
                              ng-click="jumpToOperation()"
                              ng-disabled="jumpToOperationForm.$invalid">
                            <i class="fa fa-rocket"
                               aria-hidden="true"></i>
                        </span>
                    </div>
                </form>
            </li>

            <li ng-if="user.roles.indexOf('account_manager') > -1">
                <form editable-form
                      class="form-inline"
                      name="accountManagerForm"
                      blur="submit"
                      oncancel="resetCustomerIfBlank()">
                    Currently viewing
                    <a href="#"
                       ng-click="accountManagerForm.$show()"
                       editable-text="gdata.customerMap[user.customer].name"
                       onshow="clearCustomer()"
                       onbeforesave="updateManagedCustomer($data)"
                       e-formclass="inline"
                       buttons="no"
                       e-typeahead-on-select="updateManagedCustomer($data);accountManagerForm.$hide()"
                       e-uib-typeahead-min-length="0"
                       e-typeahead-editable="false"
                       autocomplete="off"
                       e-uib-typeahead="customer as customer.name for customer in gdata.customers |
                        filter:onlyAssigned |
                        filter:$viewValue |
                        limitTo:12">
                        {{ gdata.customerMap[user.customer].name || 'Loading...' }}
                    </a>
                </form>
            </li>

            <!--<li>
                <a ng-click="openFeedback()">
                    <i class="fa fa-comment-o"
                       tooltip-placement="top"
                       uib-tooltip="Feedback"></i>
                </a>
            </li>-->

            <li>
                <a ui-sref="cato.loggedIn.library">
                    <i class="fa fa-book"
                       aria-hidden="true"
                       tooltip-placement="top"
                       uib-tooltip="Library"></i>
                </a>
            </li>
            <li class="dropdown"
                ng-if="user.username === 'kgumtow'">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-exclamation-triangle"
                       aria-hidden="true"
                       tooltip-placement="top"
                       uib-tooltip="Report an Incident"></i> <span class="caret"></span></a>
                <ul class="dropdown-menu"
                    role="menu">
                    <li>
                        <a ui-sref="cato.loggedIn.incident_reporting">DCISE ICF</a>
                    </li>
                    <!--
                    <li class="disabled">
                        <a ui-sref="#">
                            US-CERT
                        </a>
                    </li>
                    <li class="disabled">
                        <a ui-sref="#">
                            NIST SP 800-61r2
                         </a>
                    </li>
                    <li class="disabled">
                        <a ui-sref="#">
                            STIX
                         </a>
                    </li>
                    <li class="disabled">
                        <a ui-sref="#">
                            CUSTOM
                         </a>
                    </li>
                    -->
                    <li>
                        <a ui-sref="cato.loggedIn.incident_reporting.reports">
                            <i class="fa fa-file-text"
                               aria-hidden="true"></i> Submitted Reports</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/wiki"
                   target="_blank"
                   ng-if="gdata.isOperator">
                    <i class="fa fa-wikipedia-w"
                       aria-hidden="true"
                       tooltip-placement="top"
                       uib-tooltip="Wiki"></i>
                </a>
            </li>
            <li>
                <a href="/docs/swagger"
                   target="_blank"
                   ng-if="gdata.isOperator && CONFIG.prod !== 'true'">
                    <i class="fa fa-code"
                       aria-hidden="true"
                       tooltip-placement="top"
                       uib-tooltip="{{::catotheme.appName}} API"></i>
                </a>
            </li>
            <li ng-if="reportingEnabled.status">
                <a ng-click="openGenerateReport()">
                    <i class="fa fa-bar-chart-o"
                       aria-hidden="true"
                       uib-tooltip="Run Downloadable Report"
                       tooltip-placement="top"></i>
                </a>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-user"></i> {{user.username}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu primary-user-menu"
                    role="menu"
                    aria-labelledby="dropdownMenu">
                    <li ng-if="gdata.isCustomer"
                        class="dropdown-submenu">
                        <a ui-sref="cato.loggedIn.profile.company">
                            <i class="fa fa-fw fa-building-o"
                               aria-hidden="true"></i> Company Profile
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ui-sref="cato.loggedIn.profile.services">
                                    <i class="fa fa-fw fa-gears"
                                       aria-hidden="true"></i> Subscribed Services
                                </a>
                            </li>
                            <li>
                                <a ui-sref="cato.loggedIn.dashboard.users">
                                    <i class="fa fa-fw fa-users"
                                       aria-hidden="true"></i> Users
                                </a>
                            </li>
                            <li>
                                <a ui-sref="cato.loggedIn.profile.appliances">
                                    <i class="fa fa-fw fa-microchip"
                                       aria-hidden="true"></i> Appliances
                                </a>
                            </li>
                            <li>
                                <a ui-sref="cato.loggedIn.profile.roe">
                                    <i class="fa fa-fw fa fa-file-text-o"
                                       aria-hidden="true"></i> Documents
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#"
                           name="settings-menu">
                            <i class="fa fa-fw fa-gear"
                               aria-hidden="true"></i> Settings
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-if="!gdata.isInsight">
                                <a ui-sref="cato.loggedIn.profile.notifications">
                                    <i class="fa fa-fw fa-bullhorn"
                                       aria-hidden="true"></i> Notifications
                                </a>
                            </li>
                            <li>
                                <a ui-sref="cato.loggedIn.profile.twofactor">
                                    <i class="fa fa-fw fa-key"
                                       aria-hidden="true"></i> Manage Two-Factor Devices
                                </a>
                            </li>
                            <li>
                                <a ui-sref="cato.loggedIn.profile.changePassword">
                                    <i class="fa fa-fw fa-lock"
                                       aria-hidden="true"></i> Change Password
                                </a>
                            </li>
                            <li>
                                <a ng-click="openPreferenceComponent()">
                                    <i class="fa fa-fw fa-sliders"
                                       aria-hidden="true"></i> Preferences
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"
                        ng-if="gdata.isOperator">
                        <a href="#"
                           name="manage-menu">
                            <i class="fa fa-fw fa-tasks"
                               aria-hidden="true"></i> Manage
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href
                                   ng-click="openReferenceProvidersModal()">
                                    <i class="fa fa-fw fa-key"
                                       aria-hidden="true"></i> Reference Providers
                                </a>
                            </li>
                            <li>
                                <a href
                                   ng-click="openReferencesModal()">
                                    <i class="fa fa-fw fa-id-card-o"
                                       aria-hidden="true"></i> References
                                </a>
                            </li>
                            <li class="dropdown-submenu"
                                ng-if="gdata.isMissionDirector">
                                <a href name="backups">
                                    <i class="fa fa-fw fa-history"
                                       aria-hidden="true"></i> Available Backups
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href ng-click="backUpNow()">
                                            <i class="fa fa-fw fa-plus-circle"
                                               aria-hidden="true"></i> Make a Fresh Backup</a>
                                    </li>
                                    <li ng-repeat="backup in backups.slice(-5, backups.length).reverse()">
                                        <a href
                                           ng-click="downloadBackup(backup)">
                                            <i class="fa fa-fw fa-download"
                                               aria-hidden="true"></i> {{ backup.date.toLocaleString() }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="gdata.isOperator || !gdata.isOperator">
                        <a href ng-click="openTools()">
                            <span class="fa fa-fw fa-wrench" aria-hidden="true"></span>
                            Tools
                        </a>
                    </li>
                    <li ng-if="gdata.isMissionDirector || isAdmin">
                        <a ui-sref="cato.loggedIn.dashboard.users">
                            <i class="fa fa-fw fa-users"
                               aria-hidden="true"></i> Manage Users
                        </a>
                    </li>
                    <li>
                        <a ui-sref="cato.logout">
                            <i class="fa fa-fw fa-sign-out"
                               uib-tooltip="Log Out"></i> Log Out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
