<div class="input-group">
      <input name="customers"
             type="text"
             class="form-control"
             placeholder="No {{::$ctrl.catotheme.customer}} currently selected, please select one to continue."
             ng-model="$ctrl.form.customer"
             ng-disabled="$ctrl.catoNgDisabled"
             ng-required="$ctrl.required"
             ng-blur="$ctrl.checkBlur()"
             uib-typeahead="customer as customer.name for customer in $ctrl.customers | filter:$viewValue | limitTo:12"
             typeahead-on-select="$ctrl.set($item)"
             typeahead-editable="false"
             typeahead-select-on-blur="false"
             typeahead-min-length="0"
             autocomplete="off" />
      <span class="input-group-btn"
            ng-if="$ctrl.form.customer && !$ctrl.catoNgDisabled">
            <span class="btn btn-white"
                  ng-click="$ctrl.clear(true)"
                  uib-tooltip="Clear {{::$ctrl.catotheme.customer}} selection">
                  <span class="fa fa-times-circle text-danger"
                        aria-hidden="true"></span>
            </span>
      </span>
      <span class="input-group-btn"
            ng-if="!$ctrl.form.customer && !$ctrl.catoNgDisabled">
            <a class="btn btn-white"
               ng-click="$ctrl.set($ctrl.globalUser)"
               uib-tooltip="Reset selector to managed {{::$ctrl.catotheme.customer}}">
                  <span class="fa fa-refresh"
                        aria-hidden="true"></span>
            </a>
      </span>
</div>