<div ng-if="!$ctrl.noMonitor && $ctrl.form.customer.id !== $ctrl.globalUser.id && $ctrl.globalUser.id"
     class="alert alert-warning dis-flex"
     role="alert">
    <span style="flex-grow: 1;">
        Global {{::$ctrl.catotheme.customer}} selection of <b ng-bind="$ctrl.globalUser.name"></b> is currently
        overridden by <b ng-bind="$ctrl.form.customer.name || 'Nothing'"></b>
    </span>
    <span class="center-vertical ml5">
        <a class=""
           ng-click="$ctrl.set($ctrl.globalUser)">Reset</a>
    </span>
</div>
<div class="input-group">
    <input name="customers"
           type="text"
           class="form-control"
           placeholder="Type {{::$ctrl.aAn($ctrl.catotheme.customer)}} {{::$ctrl.catotheme.customer}} name {{$ctrl.placeholder}}"
           ng-model="$ctrl.form.customer"
           ng-disabled="$ctrl.catoNgDisabled"
           ng-required="$ctrl.required"
           ng-blur="$ctrl.checkBlur()"
           uib-typeahead="customer as customer.name for customer in $ctrl.customers | filter:$viewValue | limitTo:12"
           typeahead-on-select="$ctrl.set($item)"
           typeahead-editable="false"
           typeahead-select-on-blur="false"
           typeahead-min-length="0"
           autocomplete="off" />
    <span class="input-group-btn"
          ng-if="$ctrl.form.customer && !$ctrl.catoNgDisabled">
        <span class="btn btn-white"
              ng-click="$ctrl.clear()"
              uib-tooltip="Clear customer selection">
            <span class="fa fa-times-circle text-danger"
                  aria-hidden="true"></span>
        </span>
    </span>
</div>