<a href="#"
   class="block"
   ng-if="!$ctrl.showSelectCustomer && !$ctrl.form.customer"
   ng-click="$ctrl.showSelectCustomer = !$ctrl.showSelectCustomer; $ctrl.shouldBeFocused = true;"
   style="width: 400px;float: right;">
  Select {{::$ctrl.aAn($ctrl.catotheme.customer)}} {{::$ctrl.catotheme.customer}} to manage
</a>
<span ng-show="$ctrl.showSelectCustomer"
      class="input-group"
      style="width: 400px;float: right;">
  <input name="selectedCustomer"
         id="selectedCustomer"
         type="text"
         class="form-control"
         placeholder="Select {{::$ctrl.aAn($ctrl.catotheme.customer)}} {{::$ctrl.catotheme.customer}} to manage"
         ng-model="$ctrl.form.customer"
         uib-typeahead="customer as customer.name for customer in $ctrl.customers | filter:$viewValue | limitTo:12"
         typeahead-on-select="$ctrl.set($item)"
         autocomplete="off"
         typeahead-select-on-blur="false"
         focus-me="{{$ctrl.shouldBeFocused}}"
         typeahead-min-length="0" />
  <span ng-click="$ctrl.showSelectCustomer = !$ctrl.showSelectCustomer"
        class="input-group-addon"
        uib-tooltip="Cancel">
    <span class="fa fa-times-circle text-danger"
          aria-hidden="true"></span>
  </span>
</span>
<p ng-if="$ctrl.form.customer.name && !selectedCustomer.$visible"
   class="input-group">
  <span style="display: inline-block;">
    <span class="form-control form-control-static"
          style="float: none !important;"
          ng-bind-html="'Managing: ' + $ctrl.form.customer.name"></span>
    <span ng-click="$ctrl.clear()"
          uib-tooltip-html="'Stop managing ' + $ctrl.form.customer.name"
          tooltip-placement="left"
          class="input-group-addon"
          style="float: none !important;">
      <span class="text-danger fa fa-times-circle"
            aria-hidden="true"></span>
    </span></span>

  <view-roe customer-id="$ctrl.form.customer.id"
            roe-id="$ctrl.customerMap[$ctrl.form.customer.id].current_rules_of_engagement"
            color="'inherit'"
            header="false">
  </view-roe>
</p>