<!-- services modal fpo -->
<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title"
            ng-show="mode === 'new'">ADD SUBSCRIPTION</h3>
        <h3 class="modal-title"
            ng-show="mode !== 'new'">EDIT SUBSCRIPTION</h3>
    </div>
    <!-- /modal-header -->

    <form name="catosubscriptionform"
          ng-submit="addSubscription()"
          id="catosubscriptionform"
          class="form-horizontal"
          method="post">
        <div class="modal-body" style="padding-bottom: 260px">
            <p class="pb15"
               ng-show="mode === 'new'">Provide the following information to create a new subscription.</p>
            <p class="pb15"
               ng-show="mode !== 'new'">Edit desired fields for this subscription, then click Submit.</p>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        Service*
                        <i class="fa fa-info-circle"
                           uib-tooltip="The service to which they are subscribed."></i>
                    </label>
                    <div class="col-sm-8">
                        <select class="form-control"
                                id="service"
                                name="service"
                                ng-disabled="mode !== 'new'"
                                ng-required="true"
                                ng-model="selectedService"
                                ng-options="service.name for service in available_services">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        Expiration Date*
                        <i class="fa fa-info-circle"
                           uib-tooltip="Date at which their subscription will cease."></i>
                    </label>
                    <div class="col-sm-8">
                        <input type="text"
                               class="form-control col-sm-5"
                               style="width: 28%;"
                               uib-datepicker-popup
                               ng-model="subscription.expiration_date"
                               is-open="subscription.opened"
                               datepicker-options="dateOptions"
                               ng-required="true"
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="pickDate(sub)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>

            </fieldset>
        </div>

        <!-- /modal-body -->

        <div class="modal-footer">
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="cancel()">Cancel</button>
                <button type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="catosubscriptionform.$invalid">Submit</button>
            </div>
        </div>
        <!-- /modal-footer -->

    </form>
</div>