<div class="inmodal" cg-busy="$ctrl.submission">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.done()" aria-hidden="true">&times;</button>
        <h3 class="modal-title uppercase">Manage Non-disclosure Agreement(s)</h3>
    </div>

    <div class="modal-body">
        <h3>Upload New</h3>

        <form id="catoUploadNdaForm" name="catoUploadNdaForm" class="form-vertical" autocomplete="off">
            <div class="form-group">
                <label class="control-label required" for="document">
                    NDA Document
                </label>
                <input
                    class="form-control"
                    type="file"
                    id="document"
                    name="document"
                    ngf-select
                    ng-model="$ctrl.data.attachment"
                    ng-change="$ctrl.uploadNda()"
                />
            </div>
        </form>

        <hr />

        <div ng-if="$ctrl.hasExisting()" class="scroll-y">
            <h3>Existing</h3>

            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Uploaded On</th>
                    <th colspan="2">Action</th>
                </tr>
                <tr ng-repeat="ndaFile in $ctrl.files">
                    <td>{{ ndaFile.name }}</td>
                    <td>{{ ndaFile.timestamp | date:'short' }}</td>
                    <td>
                        <button class="btn btn-sm btn-white m-r-sm" ng-click="$ctrl.downloadNda(ndaFile)">
                            <i class="fa fa-download"></i>
                        </button>
                        <button ng-if="$ctrl.isMissionDirectorOrAdmin" class="btn btn-sm btn-danger" ng-click="$ctrl.removeNda(ndaFile)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-actions pull-right">
            <button type="reset" class="btn btn-white" ng-click="$ctrl.done()">Close</button>
        </div>
    </div>
</div>
