<div class="inmodal"
     cg-busy="$ctrl.submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$ctrl.dismiss('cancel')"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title uppercase">Upload External RoE for {{$ctrl.customerObj.name}}</h3>
    </div>

    <form ng-submit="$ctrl.uploadRoe()"
          id="catoUploadExternalRoEForm"
          name="catoUploadExternalRoEForm"
          class="form-vertical"
          autocomplete="off">
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label required"
                       for="document">
                    Signed RoE Document
                </label>
                <input class="form-control"
                       type="file"
                       id="document"
                       name="document"
                       required
                       ngf-select
                       ng-model="$ctrl.data.signed_document" />
            </div>

            <div class="form-group">
                <label class="control-label required"
                       for="password">
                    Your Password
                </label>

                <div class="input-group">
                    <input class="form-control"
                           type="password"
                           id="password"
                           name="password"
                           aria-describedby="passwordHelpBlock"
                           required
                           ng-attr-type="{{ showPassword ? 'text' : 'password' }}"
                           ng-model="$ctrl.data.password"
                           ng-trim="false" />
                    <span class="input-group-btn">
                        <span class="btn btn-white"
                              ng-model="showPassword"
                              uib-btn-checkbox>
                            <span ng-class="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></span>
                        </span>
                    </span>
                </div>
                <div class="help-block"
                     id="passwordHelpBlock">
                    Enter your password to confirm you want to use the uploaded file as this
                    {{::$ctrl.catotheme.customer}}'s RoE.
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="$ctrl.dismiss('cancel')">Cancel</button>
                <button id="upload_external_roe_form_submit"
                        type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="catoUploadExternalRoEForm.$invalid">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>