<!-- services modal fpo -->
<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title uppercase"
            ng-show="mode === 'new'">ADD {{::catotheme.customer}}</h3>
        <h3 class="modal-title uppercase"
            ng-show="mode !== 'new'">EDIT {{::catotheme.customer}}</h3>
    </div>
    <!-- /modal-header -->

    <form name="catocustomerform"
          ng-submit="addCustomer()"
          id="catocustomerform"
          class="form-horizontal"
          method="post">
        <div class="modal-body">
            <p class="pb15"
               ng-show="mode === 'new'">Provide the following information to create a new {{::catotheme.customer}}.</p>
            <p class="pb15"
               ng-show="mode !== 'new'">Edit desired fields for this {{::catotheme.customer}}, then click Submit.</p>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Name*
                        <i class="fa fa-info-circle"
                           uib-tooltip="{{::catotheme.customerCapitalize}} full name"></i>
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               id="name"
                               name="name"
                               ng-required="true"
                               ng-model="customer.name" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Nickname*
                        <i class="fa fa-info-circle"
                           uib-tooltip="{{::catotheme.customerCapitalize}} cover term, so that the {{::catotheme.customer}} is not revealed."></i>
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               id="nickname"
                               name="nickname"
                               ng-required="true"
                               ng-model="customer.nickname" />
                    </div>
                </div>

                <div class="form-group"
                     ng-if="CONFIG.catotheme !== 'cyberweapon'">
                    <label class="col-sm-3 control-label">
                        DUNS
                        <i class="fa fa-info-circle"
                           uib-tooltip="9 digit Data Universal Numbering System (DUNS) identifier for this company"></i>
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               pattern="\d{2}-?\d{3}-?\d{4}"
                               placeholder="XX-XXX-XXXX"
                               id="duns"
                               name="duns"
                               ng-model="customer.duns" />
                    </div>
                </div>

                <div class="form-group"
                     ng-if="CONFIG.catotheme !== 'cyberweapon'">
                    <label class="col-sm-3 control-label">
                        CAGE code
                        <i class="fa fa-info-circle"
                           uib-tooltip="Commercial And Government Entity (CAGE) code for this company; heavily used by the federal government to identify an entity at a specific location"></i>
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               id="cagecode"
                               name="cagecode"
                               placeholder="XXXXX"
                               ng-pattern="gdata.formatFactory.cagecode.pattern"
                               ng-model="customer.cagecode" />
                        <div class="col-sm-12 help-block"
                             ng-show="catocustomerform.cagecode.$error.pattern">
                            <span ng-bind-html="gdata.formatFactory.cagecode.patternError"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     ng-show="mode !== 'new'"
                     ng-if="CONFIG.catotheme == 'default'">
                    <label class="col-sm-3 control-label"
                           for="enforce2FASlider">
                        Enforce 2FA
                        <i class="fa fa-info-circle"
                           uib-tooltip="Require 2FA for all users in the company"></i>
                    </label>
                    <div class="col-sm-9 form-control-static">
                        <div class="slider">
                            <input type="checkbox"
                                   class="switch"
                                   id="enforce2FASlider"
                                   ng-change="update2FA()"
                                   ng-model="customer.enforce_2fa">
                            <label for="enforce2FASlider"
                                   class="switch">Toggle</label>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     ng-show="mode !== 'new'"
                     ng-if="CONFIG.catotheme == 'default'">
                    <label class="col-sm-3 control-label"
                           for="requireAccessGroupsSlider">
                        Require Access Groups
                        <i class="fa fa-info-circle"
                           uib-tooltip="Require users to be in access groups to see targets."></i>
                    </label>
                    <div class="col-sm-9 form-control-static">
                        <div class="slider">
                            <input type="checkbox"
                                   class="switch"
                                   id="requireAccessGroupsSlider"
                                   ng-change="updateAccessGroups()"
                                   ng-model="customer.require_access_groups">
                            <label for="requireAccessGroupsSlider"
                                   class="switch">Toggle</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label required">
                        Period of Performance
                    </label>
                    <div class="col-md-9 form-group">
                        <span class="col-md-6">
                            <label for="startDate"
                                   class="required">Start Date</label>
                            <span class="input-group">
                                <input type="text"
                                       class="form-control"
                                       id="startDate"
                                       uib-datepicker-popup
                                       ng-model="customer.period_of_performance_start_date"
                                       is-open="startDateOpened"
                                       required
                                       close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            ng-click="startDateOpened = !startDateOpened"><i
                                           class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </span>

                        </span>
                        <span class="col-md-6">
                            <label for="endDate"
                                   class="required">End Date</label>
                            <span class="input-group">
                                <input type="text"
                                       class="form-control"
                                       id="endDate"
                                       uib-datepicker-popup
                                       ng-model="customer.period_of_performance_end_date"
                                       is-open="endDateOpened"
                                       required
                                       close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            ng-click="endDateOpened = !endDateOpened"><i
                                           class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Subscriptions
                        <i class="fa fa-info-circle"
                           uib-tooltip="Subscriptions held by the {{::catotheme.customer}}"></i>
                    </label>
                    <div class="col-sm-9">
                        <table>
                            <tr ng-repeat="subscription in subscriptions"
                                class="row">
                                <td>
                                    <label class="{{expirationColor(subscription.expiration_date)}}"> <i
                                           ng-click="removeSubscription(subscription)"
                                           class="fa fa-times-circle"
                                           uib-tooltip="Delete subscription"></i>
                                        <span style="cursor: pointer;"
                                              ng-click="addEditSubscription(subscription)">{{gdata.serviceMap[subscription.service].name}}
                                            - <span
                                                  ng-style="subscription.expiration_text">{{getDisplayDate(subscription.expiration_date)}}</span></span></label>
                                </td>
                            </tr>
                        </table>
                        <a type="button"
                           class="btn btn-primary"
                           ng-disabled="gdata.services.length == customer.subscriptions.length"
                           ng-click="addEditSubscription()">Add Subscription</a>
                    </div>
                </div>

            </fieldset>
        </div>

        <!-- /modal-body -->

        <div class="modal-footer">
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="cancel()">Cancel</button>
                <button type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="catocustomerform.$invalid">Submit</button>
            </div>
        </div>
        <!-- /modal-footer -->

    </form>
</div>
