<div id="mostVulnerable"
     class="minw155 graph-widget-container"
     ng-controller="MvtCtrl">
  <div class="minw155 graph-widget-header">
    <div class="gridster-item-drag">
      <div class="widget-title">{{$ctrl.widget.title}}
        <div class="btn-group btn-group-xs ml5"
             uib-dropdown
             is-open="status.is_group_open">
          <button id="group-select"
                  type="button"
                  class="btn btn-default uppercase"
                  uib-dropdown-toggle
                  ng-disabled="disabled">
            <span ng-bind="group || targetGroups[0]"></span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu mt0 pt0"
              uib-dropdown-menu
              role="menu"
              aria-labelledby="group-select">
            <li ng-repeat="group in targetGroups"
                role="menuitem">
              <a href
                 ng-click="setTargetGroup(group)"
                 ng-bind="group"
                 class="uppercase font-bold compact"></a>
            </li>
          </ul>
        </div>
        <i uib-tooltip-html="groupInfo"
           class="ml10 fa fa-question-circle"></i>

        Show
        <div class="btn-group btn-group-xs ml5"
             uib-dropdown
             is-open="status.is_count_open">
          <button id="count-select"
                  type="button"
                  class="btn btn-default uppercase"
                  uib-dropdown-toggle
                  ng-disabled="disabled">
            <span ng-bind="count || counts[0]"></span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu mt0 pt0"
              uib-dropdown-menu
              role="menu"
              aria-labelledby="count-select">
            <li ng-repeat="count in counts"
                role="menuitem">
              <a href
                 ng-click="setTargetCount(count)"
                 ng-bind="count"
                 class="uppercase font-bold compact"></a>
            </li>
          </ul>
        </div>
        Targets
      </div>
      <i title="Hide Widget"
         class="fa fa-close close-small button"
         ng-click="$ctrl.hideWidget()"
         role="button"></i>
    </div>
  </div>
  <div class="graph-widget-body graph-widget-container">
    <div class="row graph-widget-header">
    </div>
    <h3 ng-show="mvtData.length === 0">
      <center>There are no <i ng-bind="group"></i> targets with low or higher findings.</center>
    </h3>
    <div class="graph-widget-body"
         ng-show="mvtData.length > 0">
      <nvd3 options="mvtOptions"
            id="mvtWidget"
            data="mvtData"
            on-ready="$ctrl.chartReadyCallback.bind($ctrl)"></nvd3>
    </div>
  </div>
</div>
