@import (reference) "../../../less/cato/colors.less";

:host
{
    height: 100%;
    width: 100%;
    display: block;
}


.no-overflow
{
    overflow: hidden;
}
.scroll
{
    overflow-y: auto;
    margin-right: -10px;
    padding-right: 10px;
}


.badge
{
    display: inline-flex !important;
    align-items: center;
    justify-content: center;

    height: 25px;
    width: 25px;

    border: 2px solid @p-color-primary-btn;
    border-radius: 13px;

    font-family: "Courier New", Courier, monospace;

    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

