<div *ngIf="!survey" class="flex flex-column full-height">
    <h2>
        {{assessment.name}}
        <span class="badge" matTooltip="Goal Level: {{assessment.goalLevel}}">{{assessment.goalLevel}}</span>
    </h2>

    <div *ngIf="!dismissed" class="alert alert-info alert-dismissible" role="alert">
        <button type="button" (click)="dismiss()" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Click a section from the list below to view and answer questions.
        You may exit a section at any time and return to this screen by clicking the "Exit" button found on each page.
        Click "Done" to return to the summary portal.
    </div>

    <div class="flex flex-column flex-grow no-overflow">
        <mat-nav-list class="scroll">
            <mat-divider></mat-divider>
            <div *ngFor="let section of sections">
                <a mat-list-item uiSref="." [uiParams]="{sectionIdentifier: section.identifier}" (click)="openSection(section.id)">
                    <span style="width: 75%;">{{section.name}} ({{section.identifier}})</span>
                    <div style="width: 25%;">
                        <question-progress [progress]="progress[section.id]" [needsProof]="section.needsProof"></question-progress>
                    </div>
                </a>
                <mat-divider></mat-divider>
            </div>
        </mat-nav-list>
    </div>

    <span><a class="btn btn-primary pull-right mt15" uiSref="cato.loggedIn.dashboard.compliance.overview">Done</a></span>
</div>


<span *ngIf="survey" [ngSwitch]="currentSection" class="full-height">
    <span *ngFor="let section of sections" class="full-height">
        <section *ngSwitchCase="section.id" [sectionId]="section.id" [assessmentId]="assessment.id" (exit)="exitSection($event)"></section>
    </span>
</span>

