<div class="quick-view-table-popover">
    <table ng-table="$ctrl.extraData(tag).customersTable"
           class="table table-striped table-sm"
           id="tag-customers-table">
        <tbody>
            <tr ng-repeat="customer in $data track by customer.id">
                <td data-title="'NAME'"
                    filter="{name: 'text'}"
                    sortable="'name'"
                    class="force-wrap">
                    <span ng-bind="customer.name"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>