<div class="inmodal"
     cg-busy="$ctrl.submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$ctrl.dismiss('cancel')"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title uppercase"
            ng-bind="$ctrl.modalTitle"></h3>
    </div>

    <form ng-submit="$ctrl.saveTag()"
          id="catoManageTagForm"
          name="catoManageTagForm"
          class="form-horizontal"
          autocomplete="off">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-2 control-label"
                       for="value">
                    Value*
                </label>
                <div class="col-sm-10">
                    <input name="value"
                           id="value"
                           class="form-control"
                           type="text"
                           required
                           placeholder="Tag value"
                           ng-model="$ctrl.tag.value"
                           ng-minlength="$ctrl.config.value.min_length"
                           ng-maxlength="$ctrl.config.value.max_length" />
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoManageTagForm.value.$error.minlength">
                    Value too short, minimum length <span ng-bind="$ctrl.config.value.min_length"></span>.
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoManageTagForm.value.$error.maxlength">
                    Value too long, maximum length <span ng-bind="$ctrl.config.value.max_length"></span>.
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"
                       for="public">
                    Visibility
                    <i class="fa fa-info-circle"
                       uib-tooltip="Public tags are always available to be autocompleted for customers.  Private tags are only available to customers if they have used the tag before or have otherwise been given access to it."></i>
                </label>
                <div class="col-sm-10 form-control-static">
                    <div class="slider">
                        Private
                        <input type="checkbox"
                               class="switch"
                               id="public"
                               name="public"
                               ng-model="$ctrl.tag.public">
                        <label for="public"
                               class="switch">Toggle</label>
                        Public
                    </div>
                </div>
            </div>
            <div class="form-group">
                <dual-pane-multi-select class="col-xs-12"
                                        ng-model="$ctrl.tag.customers"
                                        available-objs="$ctrl.gdata.customers"
                                        available-map="$ctrl.gdata.customerMap"
                                        objs-name="{{::$ctrl.catotheme.customerPlural}}"
                                        label-attribute="name"
                                        disable-option-when="included && $ctrl.customersUsingTagMap[obj.id]">
                </dual-pane-multi-select>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left col-lg-6 col-xs-12 text-left">
                <div uib-alert class="alert-small alert-success"
                           ng-if="$ctrl.message"
                           close="$ctrl.message=''"
                           dismiss-on-timeout="5000">{{$ctrl.message}}</div>
            </div>
            <div class="form-actions pull-right">
                <div class="add-another"
                     ng-if="!$ctrl.tag.id">
                    <input id="addAnother"
                           type="checkbox"
                           ng-model="$ctrl.addAnother">
                    <label for="addAnother"
                           class="control-label">Add another</label>
                </div>
                <button type="reset"
                        class="btn"
                        ng-click="$ctrl.dismiss('cancel')">Cancel</button>
                <button id="manage_tag_form_submit"
                        type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="catoManageTagForm.$invalid">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>