<div class="inmodal"
     cg-busy="$ctrl.submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$ctrl.dismiss('cancel')"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title uppercase">Tag Targets</h3>
    </div>

    <form ng-submit="$ctrl.updateTags()"
          id="catoTagTargetsForm"
          name="catoTagTargetsForm"
          class="form-horizontal"
          autocomplete="off">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-3 control-label"
                       ng-attr-for="tags">
                    Tags
                </label>
                <div class="col-sm-9">
                    <tags-editor ng-model="$ctrl.tags"
                                 customer="$ctrl.customer"></tags-editor>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"
                       for="append">
                    Append Tags?
                    <i class="fa fa-info-circle"
                       tooltip-placement="left"
                       uib-tooltip="Select overwrite to set the tags on selected targets to only the entered tags, or choose append to add the entered tags to the tags each target already has."></i>
                </label>
                <div class="col-sm-9 form-control-static">
                    <div class="slider">
                        Overwrite
                        <input type="checkbox"
                               class="switch"
                               id="append"
                               name="append"
                               ng-model="$ctrl.append">
                        <label for="append"
                               class="switch">Toggle</label>
                        Append
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="$ctrl.dismiss('cancel')">Cancel</button>
                <button id="tag_targets_form_submit"
                        type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="catoTagTargetsForm.$invalid">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>