<tags-input ng-model="$ctrl.tagObjs"
            display-property="value"
            placeholder="{{$ctrl.filterMode ? 'Enter' : 'Add'}} a tag"
            min-length="0"
            on-tag-added="$ctrl.onTagAdded($tag)"
            on-tag-removed="$ctrl.onTagRemoved($tag)"
            on-tag-adding="$ctrl.onTagAdding($tag)"
            on-tag-removing="$ctrl.onTagRemoving($tag)"
            ng-disabled="$ctrl.disabled"
            add-on-comma="false"
            add-on-blur="false"
            replace-spaces-with-dashes="false">
    <auto-complete source="$ctrl.tagArr | filter:{value:$query}"
                   min-length="0"
                   load-on-focus="true"
                   load-on-empty="true"
                   max-results-to-show="32"
                   select-first-match="false"
                   template="tags-editor-autocomplete-template"></auto-complete>
</tags-input>

<script type="text/ng-template"
        id="tags-editor-autocomplete-template">
    <div class="autocomplete-template">
        <span ng-bind-html="$highlight($getDisplayText())"></span>
        <!-- Use $parent to get out of the ngTagsInput library's isolated scope and access the tags-editor controller -->
        <i class="fa fa-warning"
           ng-if="!$parent.$parent.$parent.$parent.$parent.$parent.$parent.$ctrl.customerHasTag(data)"
           uib-tooltip="This {{::$root.catotheme.customer}} does not currently have access to this tag.  Adding this tag will give them access."></i>
    </div>
</script>