<ui-view></ui-view>

<table class="table noborder">
    <tr>
        <td class="col-sm-12">
            <a ng-click="$ctrl.targetTagActions.editTag.action()"
               class="green-txt pull-right mt5 mr15">
                <i aria-hidden="true"
                   class="fa fa-plus"></i> Add a Tag
            </a>
        </td>
    </tr>
</table>

<div>

    <!-- Add the line below to the table element if there is a need to dynamically hide and show a column
         You will also have to add the appropriate watched to the $onInit function, an example of which 
         can be found in DomainReview -->
    <!--ng-table-columns-binding="$ctrl.cols" -->


    <!-- COME BACK and add table-scroll across alle tables -->
    <table ng-table="$ctrl.table"
           class="table table-striped"
           id="target-tag-table"
           show-filter="true">
        <tbody>
            <tr ng-repeat="tag in $data">
                <td data-title="'VALUE'"
                    class="force-wrap col-md-5 col-sm-4"
                    header-class="'col-md-5 col-sm-4'"
                    ng-bind="tag.value"
                    sortable="'value'"
                    filter="{'value': 'text'}"
                    ng-if="true">
                </td>
                <td data-title="$ctrl.$scope.$parent.$ctrl.catotheme.customerPlural"
                    class="center-align"
                    header-class="'text-uppercase center-align'"
                    sortable="'customers.length'"
                    filter="{'customers': 'text'}"
                    ng-if="true"
                    uib-popover-template="'/app/tag/customersPopoverTemplate.html'"
                    popover-enable="tag.customersCount > $ctrl.numberOfLinesPerTag  || $ctrl.filters.customers.length > 0 "
                    popover-trigger="'outsideClick'"
                    popover-placement="auto left">
                    <div class="vcenter-container"
                         ng-class="{'zoom-in':tag.customersCount > $ctrl.numberOfLinesPerTag || $ctrl.filters.customers.length > 0 }">
                        <div class="mr5"
                             uib-tooltip="{{tag.customersCount}} {{tag.customersCount !== 1 ? $ctrl.catotheme.customerPlural : $ctrl.catotheme.customer}}">
                            <h4 class="m0">{{tag.customersCount}}:</h4>
                        </div>
                        <div class="vcenter-grow">
                            <div ng-bind="customer"
                                 ng-repeat="customer in tag.customers | orderBy | filter:$ctrl.displayedCustomer | limitTo:$ctrl.numberOfLinesPerTag track by $index">
                            </div>
                        </div>
                    </div>
                </td>
                <td data-title="'TARGETS'"
                    class="center-align table-col-with-info-btn"
                    header-class="'center-align'"
                    sortable="'targets.length'"
                    ng-if="true">
                    <div>
                        <span ng-bind="tag.targets.length"
                              uib-tooltip="{{tag.targets.length}} target{{tag.targets.length !== 1 ? 's':''}}">
                        </span>
                        <span class="btn btn-white table-number-info-btn"
                              ng-if="tag.targets.length"
                              uib-tooltip="Targets Quick-view"
                              uib-popover-template="'/app/tag/targetsQuickView.html'"
                              popover-title="Targets Using Tag"
                              popover-trigger="'none'"
                              popover-is-open="$ctrl.extraData(tag).targetPopoverIsOpen"
                              popover-placement="left"
                              ng-click="$ctrl.toggleTargetQuickView(tag)">
                            <i class="fa fa-info-circle"></i>
                        </span>
                    </div>
                </td>
                <td data-title="'VISIBILITY'"
                    class="center-align"
                    header-class="'center-align'"
                    sortable="'public'"
                    ng-if="true"
                    ng-bind="tag.public ? 'Public' : 'Private'">
                </td>
                <td data-title="'ACTIONS'"
                    class="center-align"
                    header-class="'center-align'"
                    ng-if="true">
                    <actions actions="$ctrl.targetTagActions"
                             target="tag"></actions>
                </td>
            </tr>
        </tbody>
    </table><!-- end of target-tag-table -->
    <!-- </div> -->
</div>