<div class="quick-view-table-popover"
     cg-busy="$ctrl.extraData(tag).targetDetails.$promise">
    <table ng-table="$ctrl.extraData(tag).targetsTable"
           class="table table-striped table-sm"
           id="tag-targets-table">
        <tbody>
            <tr ng-repeat="target in $data track by target.id"
                ng-class="{'inactive': !target.active}">
                <td data-title="$root.catotheme.customerUppercase"
                    filter="{customerName: 'text'}"
                    sortable="'customerName'"
                    class="force-wrap">
                    <span ng-bind="target.customerName"></span>
                </td>
                <td data-title="'VALUE'"
                    filter="{value: 'text'}"
                    sortable="'value'"
                    class="force-wrap"
                    header-title="'This is the actual target value. It is used directly in operations.'">
                    <target-display [target]="target"></target-display>
                </td>
                <td data-title="'TYPE'"
                    filter="{type: 'select'}"
                    filter-data="$ctrl.targetTypes"
                    sortable="'type'"
                    header-title="'This is the type of the target. It is used to determine what types of operations are available and for filtering purposes. There are multiple target types that are abstract (person, company, etc.) which used only in intelligence gathering operations.'">
                    <span ng-bind="target.type"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>