<table class="table footable toggle-arrow-tiny no-bg cato-data"
       data-page-size="6">
    <thead>
        <tr>
            <th data-toggle="true">OPERATION</th>
            <th>STARTED</th>
            <th>FINDINGS</th>
            <th>SEVERITY</th>
            <!--<th>RETESTABLE</th>-->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="operation in campaignOperations[campaign.id] | filterChildlessObject:showEmpty:['findings_count'] | orderBy:['-max_severity', '-findings_count'] track by operation.id"
            ng-class="{'ngRow selected':operation.id == operation_id}"
            ng-click="setClickedOperationRow(operation.id, operation.campaign)">
            <td><a ui-sref="cato.loggedIn.service.campaign.operation({campaign_id: operation.campaign, operation_id: operation.id})"
                   uib-popover="{{operation.description}}"
                   popover-title="Operation Description:"
                   popover-trigger="'mouseenter'"
                   popover-placement="top-left"
                   ng-bind="operation.name"></a></td>
            <td am-time-ago="operation.startedOn"
                uib-tooltip="{{operation.startedOn | amUtc | amLocal | amDateFormat:'lll' }}"
                tooltip-placement="top">
            </td>
            <td ng-bind="operation.findings_count"></td>
            <td><span class="label"
                      ng-class="'label-'+SEVERITY_LEVEL[operation.max_severity].toLowerCase()"
                      ng-bind="SEVERITY_LEVEL[operation.max_severity]"></span></td>
            <!--<td>
            <i class="fa fa-check-circle font1-5x green-chk" aria-hidden="true" ng-if="operation.retestable"></i>
            <i class="fa fa-times-circle font1-5x red-ex" aria-hidden="true" ng-if="!operation.retestable"></i>
        </td>-->
        </tr>
    </tbody>
    <tfoot>
        <!--<tr>
        <td colspan="5">
            <ul class="pagination pull-right">
            </ul>
        </td>
    </tr>-->
    </tfoot>
</table>