<div class="row"
     ng-class="serviceCat.short_name.toLowerCase()">

    <div class="col-sm-12 section-hdr svc-bg">
        <div class="section-title"
             ng-bind="serviceCat.name"></div>
        <div ng-show="!showReport"
             class="btn white-txt pull-right mr10"
             role="button"
             ng-click="reportView()"
             uib-tooltip="View Report Format">
            <i class="fa fa-file-text-o fa-2x"
               aria-hidden="true"></i>
        </div>
        <div ng-show="showReport"
             class="btn white-txt pull-right mr10"
             role="button"
             ng-click="defaultView()"
             uib-tooltip="Return to Campaign View">
            <i class="fa fa-list fa-2x"
               aria-hidden="true"></i>
        </div>
        <div ng-show="!showReport"
             ng-click="showEmpty = !showEmpty"
             class="btn white-txt mr20 pull-right"
             uib-tooltip="{{showEmpty ? 'Hide Empty Campaigns and Operations' : 'Show Empty Campaigns and Operations'}}">
            <i ng-class="{'fa-eye-slash': showEmpty, 'fa-eye': !showEmpty}"
               class="fa fa-2x"
               aria-hidden="true"></i>
        </div>
    </div>
</div>
<!-- /row -->
<div ng-show="showReport">
    <div class="wrapper wrapper-content mlr15">
        <div ui-view="reportContainer"></div>
    </div>
</div>
<div class="wrapper wrapper-content mlr15"
     ng-show="!showReport">
    <div class="row"
         ng-class="serviceCat.short_name.toLowerCase()"
         cg-busy="{promise: campaignsLoading, message: 'Loading...'}">
        <div class="col-sm-6">
            <div class="row">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 class="svc-color">Campaigns Summary</h5>
                        <div ibox-tools></div>
                    </div>
                    <!-- /ibox-title -->
                    <div class="ibox-content">
                        <div ng-include="'/app/campaign/campaignTable.html'"></div>
                    </div>
                    <!-- /ibox-content -->
                </div>
                <!-- /ibox float-e-margins -->
            </div>
            <!-- /row -->
        </div>
        <!-- /col-sm-7 -->

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 class="svc-color">Findings</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <ui-view name="findingsContainer"
                                     ng-if="operation_id"></ui-view>
                            <div ng-if="!operation_id">
                                No findings to display.
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <div id="graph-holder">
                            <div ng-if="showFindings" ng-include="'views/templates/services/graph.html'"></div>
                        </div>
                    </div>
                    -->
                </div>
                <!-- /col-sm-12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /col-sm-6 -->
    </div>
    <!-- /row -->
</div>
<!-- /wrapper wrapper-content -->