<div ng-hide="$ctrl.roe.is_generated">
    <div class="row">
        <div class="col-md-10">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <div>
                        <h3>If you are finished filling out your RoE, click the button below to generate
                            the official document you will need to sign.</h3>
                        <h3>Once the document is generated, you will no longer be able to edit the RoE
                            services or restrictions unless you void the document.</h3>
                    </div>
                </div>
                <!-- /ibox-content -->
            </div>
            <!-- /ibox float-e-margins -->
        </div>
        <!-- /col-md-6 -->
    </div>
    <!-- /row -->
    <div>
        <div class='row text-center roe-buttons'>
            <input class='btn btn-default'
                   type='button'
                   wz-previous
                   ng-click='$ctrl.prevPage()'
                   value='Back'
                   ng-disabled="$ctrl.roe.is_locked" />
            <input class='btn btn-default'
                   ng-click='$ctrl.roe.$generateDocument();$ctrl.onGenerate();'
                   value='Generate Document' />
        </div>
    </div>
</div>
<div ng-show="$ctrl.roe.is_generated">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <div>
                        <h3>Please take a moment to download and review a PDF version of these Rules of Engagement.</h3>
                        <h3>Once you have confirmed that everything is correct, please sign within the signature pad,
                            then click 'Sign' to submit.
                            Otherwise, please click 'Unlock/VOID' to go back and make changes.</h3>

                        <signature-pad accept="$ctrl.accept"
                                       clear="$ctrl.clear"
                                       height="220"
                                       width="568"
                                       disabled="false"
                                       ng-mouseleave="$ctrl.updateSignature()"></signature-pad>

                        <!-- <button ng-click="signature = accept()">Sign</button> -->


                        <h4 class="center"
                            style="margin-top: .5em">When you are ready, please click 'Sign' to continue.</h4>
                    </div>
                    <div>
                        <div class='row text-center roe-buttons'>
                            <div style="display: inline-block">
                                <input class='btn btn-default'
                                       type='button'
                                       ng-click='$ctrl.unlockRoe()'
                                       value='Unlock/VOID' />
                                <input class='btn btn-default'
                                       ng-click='$ctrl.downloadRoE()'
                                       type='button'
                                       value='Download Preview' />
                                <input class='btn btn-default'
                                       ng-click='$ctrl.clearPad();'
                                       type='button'
                                       value='Clear signature' />

                                <!-- ng-click='$ctrl.nextPage(); accept(); $ctrl.roe.$sign()' -->
                                <input class='btn btn-default'
                                       ng-click='$ctrl.sign()'
                                       wz-next
                                       value='Sign'
                                       ng-disabled="$ctrl.signature === null || $ctrl.signature.isEmpty" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ibox float-e-margins -->
        </div>
        <!-- /col-md-12 -->
    </div>
    <!-- /ibox-content -->
</div>