<!DOCTYPE html>

<html ng-controller="IndexCtrl" ng-class="['catotheme-' + catotheme.appName.toLowerCase()]">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title ng-bind="$title">Loading...</title>

    <base href="/">

    <script src="/app/config.js"></script>

    <style>
        #page-load-spinner
        {
            animation: page-load-spinner-animation 0.5s 3s forwards;
            opacity: 0;
        }

        @keyframes page-load-spinner-animation
        {
            to
            {
                opacity: 1;
            }
        }
    </style>
</head>
<body ng-class="{'loginPage': !loggedIn}"
      cg-busy="loadingPromise">
    
    <div ui-view>
        <div id="page-load-spinner">
            <div class="cg-busy cg-busy-backdrop cg-busy-backdrop-animation"></div>
            <div class="cg-busy">
                <div class="cg-busy-default-wrapper">
                    <div class="cg-busy-default-sign">
                        <div class="cg-busy-default-spinner">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                            <div class="bar4"></div>
                            <div class="bar5"></div>
                            <div class="bar6"></div>
                            <div class="bar7"></div>
                            <div class="bar8"></div>
                            <div class="bar9"></div>
                            <div class="bar10"></div>
                            <div class="bar11"></div>
                            <div class="bar12"></div>
                        </div>

                        <div class="cg-busy-default-text">Please Wait...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



<script type="text/ng-template"
        id="popover/popover.tpl.html">
    <div class="popover">
        <div class="arrow"></div>
        <h2 class="popover-title" ng-show="title">
            <span ng-bind="'Step #'+stepNumDisplay()+': '+title"></span>
            <a href ng-click="close()" class="fa fa-close pull-right"></a>
        </h2>
        <div class="popover-content" ng-bind="content"></div>
    </div>
</script>

<script type="text/ng-template"
        id="tooltip/tooltip.tpl.html">
    <div class="tooltip in" ng-show="title">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner" ng-bind="title"></div>
    </div>
</script>

<script type="text/ng-template"
        id="ng-table/filters/tag.html">
    <tags-editor ng-model="params.filter()[name]"
                 customer="$selectData.customer"
                 filter-mode="true"
                 ng-disabled="$filterRow.disabled"></tags-editor>
</script>

<script type="text/ng-template"
        id="ng-table/filters/select-name.html">
    <select ng-options="data.id as (data.name||'') for data in $selectData track by data.id"
            ng-table-select-filter-ds="$column"
            ng-disabled="$filterRow.disabled"
            ng-model="params.filter()[name]"
            class="filter filter-select form-control" name="{{name}}">
        <option style="display:none" value=""></option>
    </select>
</script>

<script type="text/ng-template"
        id="ng-table/filters/number-positive.html">
    <input type="number" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control"
           placeholder="{{getFilterPlaceholderValue(filter, name)}}" min="0"/>
</script>

<!-- TODO: implement date and ui-select ng-table filters -->
<script type="text/ng-template"
        id="ng-table/filters/ui-select.html">
</script>

<script type="text/ng-template"
        id="ng-table/filters/date.html">
</script>

</html>
