<script type="text/ng-template"
        id="headerCheckboxASDomainsReview">
    <!-- TODO: Double check this still works with newer ngTable versions -->
    <input ng-if="!$ctrl.$scope.$parent.$ctrl.gdata.isOperator"
           uib-tooltip="Select all across all pages"
           type="checkbox"
           ng-model="$ctrl.$scope.$parent.$ctrl.allRowsSelected"
           ng-click="$ctrl.$scope.$parent.$ctrl.selectAllRows()">
</script>


<div id="attackSurfaceData"
     class="attack-surface-table">
    <table ng-table="$ctrl.table"
           class="table table-striped  table-scroll"
           show-filter="true"
           ng-table-columns-binding="$ctrl.cols">
        <tbody>

            <tr ng-repeat="row in $data"
                class="show-selection"
                selection-model
                selection-model-mode="'multiple-additive'"
                selection-model-type="'basic'"
                selection-model-selected-items="$ctrl.selectedRows"
                selection-model-cleanup-strategy="'none'"
                selection-model-on-change="$ctrl.checkCanBeSelected(row)"
                selection-model-ignore="!row.ipObj || $ctrl.gdata.isOperator">

                <td header="'headerCheckboxASDomainsReview'"
                    class="center-align checkboxAS"
                    header-class="'checkboxAS'"
                    ng-if="true">
                    <div ng-if="!$ctrl.gdata.isOperator">
                        <input type="checkbox"
                               ng-model="row.selected"
                               selection-model-ignore>
                    </div>
                </td>
                <td data-title="'Domains'"
                    class="force-wrap em20"
                    header-class="'em20'"
                    id="domain_{{row.value}}"
                    ng-bind="row.value"
                    sortable="'value'"
                    filter="{'value': 'text'}"
                    ng-if="true">
                </td>
                <td data-title="'Zones'"
                    class="force-wrap em8"
                    header-class="'em8'"
                    sortable="'accessGroups'"
                    filter="{'accessGroups': 'text'}"
                    ng-if="true">
                    <div ng-repeat="ag in row.accessGroups | orderBy"
                         ng-bind="ag"></div>
                </td>
                <td data-title="'Registrar'"
                    class="force-wrap em12"
                    header-class="'em12'"
                    ng-bind="row.registrar"
                    sortable="'registrar'"
                    filter="{'registrar': 'text'}"
                    ng-if="true">
                </td>
                <td data-title="'Serves HTTP'"
                    class="force-wrap em9"
                    header-class="'em9'"
                    sortable="'serves_http'"
                    filter="{serves_http: 'select'}"
                    filter-data="$ctrl.options.serves_http"
                    ng-if="true">
                    <i ng-hide="row.serves_http"
                       uib-tooltip="Does Not Serve HTTP"
                       tooltip-placement="bottom"
                       class="fa fa-times-circle red-txt"
                       aria-hidden="true"
                       name="notServesHTTP"></i>
                    <i ng-show="row.serves_http"
                       uib-tooltip="Serves HTTP"
                       tooltip-placement="bottom"
                       class="fa fa-check green-txt"
                       aria-hidden="true"
                       name="servesHTTP"></i>
                </td>
                <td data-title="'HTTP Redirected'"
                    class="force-wrap em10"
                    header-class="'em10'"
                    sortable="'is_http_redir'"
                    filter="{is_http_redir: 'select'}"
                    filter-data="$ctrl.options.is_http_redir"
                    ng-if="true">
                    <i ng-hide="row.is_http_redir"
                       uib-tooltip="HTTP Not Redirected"
                       tooltip-placement="bottom"
                       class="fa fa-times-circle red-txt"
                       aria-hidden="true"
                       name="notRedirected"></i>
                    <i ng-show="row.is_http_redir"
                       uib-tooltip="HTTP Redirected"
                       tooltip-placement="bottom"
                       class="fa fa-check green-txt"
                       aria-hidden="true"
                       name="redirected"></i>
                </td>
                <td data-title="'IP Address'"
                    class="em10"
                    header-class="'em10'"
                    sortable="'ipObj.address'"
                    filter="{'ipObj.address': 'text'}"
                    ng-if="true"
                    ng-bind="row.ipObj.address"
                    uib-tooltip-html="$ctrl.accessGroupTooltip(row.ipObj.accessGroups)">
                </td>
                <td data-title="'Hosting Provider'"
                    class="force-wrap em10"
                    header-class="'em10'"
                    ng-bind="row.ipObj.hosting_provider"
                    sortable="'ipObj.hosting_provider'"
                    filter="{'ipObj.hosting_provider': 'text'}"
                    ng-if="true">
                </td>
                <!--
                <td data-title="'Last Measured'"
                    class="force-wrap col-sm-3 center-align"
                    ng-bind="moment(row.attacksurfaces[0].measure_date) || 'None'">
                </td> -->
                <td data-title="'Open Ports'"
                    class="filler zoom-in"
                    header-class="'filler'"
                    filter="{'ipObj.serviceObjs.port': 'text'}"
                    ng-if="true">
                    <div uib-popover-template="'/app/attackSurface/widgets/tables/tables/domainsReview/portsPopoverTemplate.html'"
                         popover-trigger="'outsideClick'"
                         selection-model-ignore
                         ng-init="ipObj=row.ipObj">
                        <span ng-repeat="svc in $ctrl.firstTenPorts(row.ipObj) track by svc.port">
                            <span ng-bind="svc.port" uib-tooltip-html="$ctrl.generatePortTooltip(svc)"></span>{{!$last ? ', ' : ''}}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>