<div style="width: 15em;height: 20em;overflow-y: auto;">
    <div style="display: inline-block;"
         ng-repeat="service in ipObj.serviceObjs | orderBy:'port' track by $index"
         ng-click="$ctrl.gotoTable('ALL OPEN PORTS',service.port,row.value, ipObj.address)">
        <span class="pointer"
              ng-class="{'line-through':!service.active}"
              uib-tooltip-html="$ctrl.generatePortTooltip(service)">{{service.port}}</span><span ng-if="!$last">,&nbsp;</span>
    </div>
</div>