<div class="container-fluid" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
    <div class="col-xs-12 col-lg-6" name="cidr-to-ip-range">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    CIDR to IP Range
                </h3>
            </div>

            <table class="table" *ngIf="rangeResults">
                <caption>Result</caption>
                <tr>
                    <th>CIDR Range</th>
                    <td>{{rangeResults?.range}}</td>
                </tr>
                <!-- Keeping this for when Operators request it -->
                <!-- <tr>
                    <th>Netmask</th>
                    <td>{{results.netmask}}</td>
                </tr>
                <tr>
                    <th>Wildcard Bits</th>
                    <td>{{results.wildcard}}</td>
                </tr> -->
                <tr>
                    <th>First IP</th>
                    <td>{{rangeResults?.firstIp}}</td>
                </tr>
                <tr>
                    <th>Last IP</th>
                    <td>{{rangeResults?.lastIp}}</td>
                </tr>
                <tr>
                    <th>Total Hosts</th>
                    <td>{{rangeResults?.totalHosts}}</td>
                </tr>
            </table>

            <div class="panel-body">
                <form #cidrform="ngForm">
                    <span class="bold">CIDR</span>
                    <input class="form-control"
                           #cidr="ngModel"
                           name="cidr"
                           [(ngModel)]="cidrBlock"
                           [pattern]="Patterns.cidrBlock"
                           required>
                    <!-- TODO: convert to ReactiveForm -->
                    <div class="error" *ngIf="cidr.touched && cidr.invalid">
                        <div *ngIf="cidr.errors.required">
                            {{requiredErrorMsg}}
                        </div>
                        <div *ngIf="cidr.errors.pattern">
                            This field must be formatted as a CIDR block
                        </div>
                    </div>
                    <div class="error" *ngIf="rangeError">{{rangeError}}</div>
                    <div><button class="btn btn-info" name="onCalculateRangeClick" (click)="onCalculateRangeClick()">Calculate</button></div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-6" name="ip-range-to-cidr">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h3 class="panel-title">
                    IP Range to CIDR
                </h3>
            </div>
            
            <div class="panel-body">
                <div *ngIf="cidrResults">
                    <span class="caption">Result</span>
                    <code name="ipToCidrResults">
                        <div *ngFor="let block of cidrResults">
                            <span class="text">{{block}}</span>
                            <button class="btn pull-right" (click)="quickView(block)"><span class="fa fa-eye"></span></button>
                        </div>
                    </code>
                </div>


                <form #iprange="ngForm">
                    <span class="bold">IP Range</span>

                    <input class="form-control" #start="ngModel" name="start" [(ngModel)]="rangeStart" [pattern]="Patterns.ipAddress" required>
                    <div class="error" *ngIf="start.touched && start.invalid">
                        <div *ngIf="start.errors.required">
                            {{requiredErrorMsg}}
                        </div>
                        <div *ngIf="start.errors.pattern">
                            This field must be formatted as an IP address
                        </div>
                    </div>

                    <input class="form-control" #end="ngModel" name="end" [(ngModel)]="rangeEnd" [pattern]="Patterns.ipAddress" required>
                    <div class="error" *ngIf="end.touched && end.invalid">
                        <div *ngIf="end.errors.required">
                            {{requiredErrorMsg}}
                        </div>
                        <div *ngIf="end.errors.pattern">
                            This field must be formatted as an IP address
                        </div>
                    </div>

                    <div class="error" *ngIf="cidrError">{{cidrError}}</div>

                    <div><button class="btn btn-info" name="onCalculateCidrClick" (click)="onCalculateCidrClick()">Calculate</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
