@import (reference) "~bootstrap/less/variables";
@import (reference) "../../../less/cato/style";

:host
{
	display: block;
	padding-top: 15px;
}

div.panel-body
{
	form
	{
		display: flex;
		flex-direction: column;
	}

	input
	{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

caption, .caption
{
	display: block;
	padding: 8px 15px;
	color: @gray-light;
	text-align: left;
}

th
{
	padding-left: 15px;
}

code
{
	display: block;
	color: black;
	margin-bottom: 5px; 

	.text
	{
		font-size: inherit;
		display: inline-block;
		padding: 10px 0;
	}
}

.btn-info:active, .btn-info:focus
{
	background-color: @color-neutral;
}
