<div class="flex flex-column">
    <div class="flex flex-grow">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <i class="fa fa-cog"></i>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item
                    *ngFor="let action of params?.actions"
                    (click)="action.callback(params)"
                    [disabled]="action.disabled ? action.disabled(params) : false"
                    [ngStyle]="action.style"
                    [innerHTML]="action.label">
            </button>
        </mat-menu>
    </div>
</div>