<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$close()"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title"
            ng-bind="modalTitle"></h4>
    </div>

    <div class="modal-body">
        <uib-tabset active="active">
            <uib-tab>
                <uib-tab-heading> <i class="fa fa-th"></i>Upload A Finding</uib-tab-heading>
                <div class="panel-body">
                    <form ng-submit="addOrUpdateFinding()"
                          name="catoaddfindingform"
                          id="catoaddfindingform"
                          class="form-inline">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label">Attachments</label>
                                <div class="dropzone"
                                     ngf-select
                                     ngf-drop
                                     ng-model="finding.attachments"
                                     ngf-multiple="true"
                                     ngf-keep="'distinct'">
                                    <div class="dz-message m-t-lg m-b-lg">
                                        <h1>Drop files here.</h1>
                                    </div>
                                </div>
                            </div>
                            <!-- /form-group -->
                        </div>
                        <div class="row"
                             ng-if="finding.attachments.length">
                            <div class="col-sm-12">
                                <div ng-repeat="file in finding.attachments track by $index">
                                    <span style="font-weight: bold;"
                                          ng-bind="file.name"></span>
                                    <span ng-bind="file.type"></span>
                                    (<span ng-bind="file.size"></span>)
                                    <button type="button"
                                            class="fa fa-close"
                                            ng-click="removeFile(file)"></button>
                                </div>
                            </div>
                            <!-- /form-group -->
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label"
                                       for="finding_title">Title*</label>
                                <input class="form-control"
                                       id="finding_title"
                                       name="finding_title"
                                       required="required"
                                       ng-model="finding.title"
                                       ng-minlength="config.title.min_length"
                                       ng-maxlength="config.title.max_length"
                                       placeholder="Title" />
                                <div class="col-sm-12 help-block"
                                     ng-show="catoaddfindingform.finding_title.$error.minlength">
                                    Title too short, minimum length <span ng-bind="config.title.min_length"></span>.
                                </div>
                                <div class="col-sm-12 help-block"
                                     ng-show="catoaddfindingform.finding_title.$error.maxlength">
                                    Title too long, maximum length <span ng-bind="config.title.max_length"></span>.
                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="control-label"
                                       for="finding_severity">Severity*</label>
                                <select class="form-control"
                                        id="finding_severity"
                                        name="finding_severity"
                                        required="required"
                                        ng-model="finding.severityLabel"
                                        ng-options="option as option.label for option in priorities track by option.value">
                                    <option></option>
                                </select>
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="control-label"
                                       for="finding_category">Category*</label>
                                <select class="form-control"
                                        id="finding_category"
                                        name="finding_category"
                                        required="required"
                                        ng-model="finding.categoryLabel"
                                        ng-options="option.value as option.display_name for option in categories | orderBy:'display_name'">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-sm-12">
                                <a ng-click="pullValuesFromCalculator()">Pull values from CVSS calculator</a>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label"
                                       for="cvss_base">CVSS Base</label>
                                <input class="form-control"
                                       id="cvss_base"
                                       name="cvss_base"
                                       type="number"
                                       min="0"
                                       step="0.1"
                                       max="10"
                                       ng-value="finding.cvss_base"
                                       ng-model="finding.cvss_base">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label"
                                       for="cvss_base">CVSS Temporal</label>
                                <input class="form-control"
                                       id="cvss_temporal"
                                       name="cvss_temporal"
                                       type="number"
                                       min="0"
                                       step="0.1"
                                       max="10"
                                       ng-value="finding.cvss_temporal"
                                       ng-model="finding.cvss_temporal">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label"
                                       for="cvss_base">CVSS Env.</label>
                                <input class="form-control"
                                       id="cvss_env"
                                       name="cvss_env"
                                       type="number"
                                       min="0"
                                       step="0.1"
                                       max="10"
                                       ng-value="finding.cvss_env"
                                       ng-model="finding.cvss_env">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label"
                                       for="finding_description">Description*</label>
                                <textarea class="form-control"
                                          rows="10"
                                          id="finding_description"
                                          name="finding_description"
                                          required="required"
                                          ng-model="finding.description"
                                          ng-minlength="config.description.min_length"
                                          ng-maxlength="config.description.max_length"
                                          placeholder="Describe in detail."></textarea>
                                <div class="col-sm-12 help-block"
                                     ng-show="catoaddfindingform.finding_description.$error.minlength">
                                    Description too short, minimum length <span
                                          ng-bind="config.description.min_length"></span>.
                                </div>
                                <div class="col-sm-12 help-block"
                                     ng-show="catoaddfindingform.finding_description.$error.maxlength">
                                    Description too long, maximum length <span
                                          ng-bind="config.description.max_length"></span>.
                                </div>
                            </div>
                        </div>
                        <div class="row"
                             ng-if="metatargetTargets">
                            <div class="form-group col-sm-12">
                                <label class="control-label"
                                       for="target">Target</label>
                                <select class="form-control"
                                        id="target"
                                        name="target"
                                        ng-model="finding.target"
                                        ng-options="target.id as target.value for target in metatargetTargets">
                                    <option></option>
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label"
                                       for="finding_description">Recommended remediation</label>
                                <select class="form-control"
                                        ng-options="recommendation as recommendation.body_text for recommendation in recommendations | orderBy:'body_text' track by recommendation.id"
                                        ng-model="finding.recommendation.recommendation_template"
                                        name="finding_recommendation_choice"
                                        id="finding_recommendation_choice"
                                        ng-required="finding.recommendation.body_values">
                                    <!-- TODO: uncomment when we're ready to remove a recommendation
                                         <option value="">&#45;&#45; Choose a recommendation &#45;&#45;</option>-->
                                </select>

                                <textarea class="form-control"
                                          rows="10"
                                          id="finding_recommendation"
                                          name="finding_recommendation"
                                          ng-model="finding.recommendation.body_values"
                                          ng-minlength="config.recommendation.min_length"
                                          ng-maxlength="config.recommendation.max_length"
                                          placeholder="Additional recommended remediation steps."
                                          ng-change="catoaddfindingform.finding_recommendation_choice.$untouched
                                            && catoaddfindingform.finding_recommendation_choice.$setTouched()">
                                </textarea>
                                <div class="col-sm-12 help-block"
                                     ng-show="catoaddfindingform.finding_recommendation.$error.minlength">
                                    Recommendation too short, minimum length <span
                                          ng-bind="config.recommendation.min_length"></span>.
                                </div>
                                <div class="col-sm-12 help-block"
                                     ng-show="catoaddfindingform.finding_recommendation.$error.maxlength">
                                    Recommendation too long, maximum length <span
                                          ng-bind="config.recommendation.max_length"></span>.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <references-editor ng-model="finding.references"></references-editor>
                        </div>
                        <div class="row"
                             ng-if="gdata.isMissionDirectorOrAdmin">
                            <div class="form-group col-sm-12">
                                <label class="control-label">Approve Finding</label>
                                <input type="checkbox"
                                       class="pull-left mr5"
                                       ng-model="finding.approve" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- <i ng-if="action == 'edit'" class="fa fa-trash fa-2x btn red-txt" ng-click="deleteFinding(finding.id)"></i> -->

                            <button type="button"
                                    class="btn btn-black"
                                    ng-if="action == 'edit'"
                                    ng-click="deleteFinding(finding)">Delete Finding</button>
                            <button type="reset"
                                    class="btn"
                                    ng-click="cancel()">Cancel</button>
                            <button type="submit"
                                    class="btn btn-primary formSubmit"
                                    ng-disabled="catoaddfindingform.$invalid">Save</button>
                        </div>
                    </form>
                </div>
            </uib-tab>
            <uib-tab>
                <uib-tab-heading> <i class="fa fa-th"></i>CVSS Calculator</uib-tab-heading>
                <div class="panel-body">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Common Vulnerability Scoring System Version 3.0 Calculator</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <iframe width="100%"
                                    height="800"
                                    frameborder="0"
                                    src="/app/cvss/cvss.html"></iframe>
                        </div>
                    </div>
                </div>
            </uib-tab>

        </uib-tabset>
    </div>
</div>
