<div>
    <div class="table">
        <div class="row">
            <div class="col-xs-5">
                <h3>Total Campaigns: {{campaignsInTimeFrame[timeFrame].size}}</h3>
                <h3>Total Operations: {{operationsInTimeFrame[timeFrame].size}}</h3>
                <h3>Total Findings: {{(findings|findingDateRange:startDate:endDate).length}}</h3>
            </div>
            <div class="col-xs-7">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="pull-right">Generated <span ng-bind="loadTimestamp | amDateFormat:'lll'"></span></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <label class="control-label"
                                   for="report_timeframe">Report time frame</label>
                            <select class="form-control"
                                    id="report_timeframe"
                                    name="report_timeframe"
                                    required="required"
                                    ng-model="report.timeframe"
                                    ng-change="setTimeFrame()"
                                    ng-options="tf as tf.timeFrame for tf in timeFrames track by tf.timeFrame">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div cg-busy="{promise: reportLoadingPromises, message: 'Loading Findings'}">
    <h3 ng-if="(findings|findingDateRange:startDate:endDate).length == 0">No Findings for this period.</h3>
    <table id='findings-report'
           class="table table-striped toggle-arrow-tiny">
        <tbody>
            <tr ng-repeat-start="finding in findings | findingDateRange:startDate:endDate | orderBy:'severity':true track by finding.id"
                class="ngRow selected">
                <td class="lh225">
                    <div class="pull-right">
                        <span class="label label-sm"
                              ng-class="'label-'+getSeverityLevel(finding.severity).toLowerCase()"
                              ng-bind="getSeverityLevel(finding.severity)"></span>
                    </div>
                    <h3 ng-bind="finding.title"></h3>
                    <h4>OP: <span ng-bind="operations[finding.operation].description"></span></h4>
                    <h4>Campaign: <span ng-bind="campaignMap[operations[finding.operation].campaign].title"></span></h4>
                </td>
            </tr>
            <tr ng-repeat-end>
                <td class="p15"
                    id="op-finding-report-{{finding.id}}"
                    style="display: table-cell;">
                    <div class="row"
                         ng-if="finding.category !== 'Unspecified'">
                        <div class="col-sm-2 col-xs-4">
                            <strong>CATEGORY:</strong>
                        </div>
                        <div class="col-sm-10 col-xs-8">
                            <span ng-bind="finding.category"></span>
                        </div>
                    </div>
                    <div class="row"
                         ng-if="!gdata.isCustomer">
                        <div class="col-sm-2 col-xs-4">
                            <strong>OPERATOR:</strong>
                        </div>
                        <div class="col-sm-10 col-xs-8"
                             ng-bind="finding.operator.username"></div>
                    </div>
                    <!-- TODO: include target details when fetching findings or retrieve targets separately so that we can show these two fields properly
                <div class="row" ng-if="finding.target">
                    <div class="col-sm-2 col-xs-4">
                        <strong>TARGET:</strong>
                    </div>
                    <div class="col-sm-10 col-xs-8">
                        <target-display [target]="finding.target"></target-display>
                    </div>
                </div>
                <div class="row" ng-if="finding.discovered_target">
                    <div class="col-sm-2 col-xs-4">
                        <strong>DISCOVERED TARGET:</strong>
                    </div>
                    <div class="col-sm-10 col-xs-8">
                        <target-display [target]="finding.discovered_target"></target-display>
                    </div>
                </div>
-->
                    <div class="row"
                         ng-if="operations[finding.operation].target">
                        <div class="col-sm-2 col-xs-4">
                            <strong>TARGET:</strong>
                        </div>
                        <div class="col-sm-10 col-xs-8">
                            <target-display [target]="operations[finding.operation].target"></target-display>
                        </div>
                    </div>
                    <div class="row"
                         ng-if="operations[finding.operation].metatarget && !gdata.isCustomer">
                        <div class="col-sm-2 col-xs-4">
                            <strong>META-TARGET:</strong>
                        </div>
                        <div class="col-sm-10 col-xs-8">
                            <div ng-bind="operations[finding.operation].metatarget.name"></div>
                        </div>
                    </div>
                    <div class="row"
                         ng-if="operations[finding.operation].appliance">
                        <div class="col-sm-2 col-xs-4">
                            <strong>APPLIANCE:</strong>
                        </div>
                        <div class="col-sm-10 col-xs-8">
                            <span ng-bind="gdata.applianceMap[operations[finding.operation].appliance].name"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-xs-4">
                            <strong>ADDED:</strong>
                        </div>
                        <div class="col-sm-10 col-xs-8">
                            {{finding.added | amUtc | amLocal | amDateFormat:'lll'}} (<span
                                  am-time-ago="finding.added"></span>)
                        </div>
                    </div>
                    <div class="row"
                         ng-show="finding.added !== finding.updated">
                        <div class="col-sm-2 col-xs-4">
                            <strong>UPDATED:</strong>
                        </div>
                        <div class="col-sm-10 col-xs-8">
                            {{finding.updated | amUtc | amLocal | amDateFormat:'lll'}} (<span
                                  am-time-ago="finding.updated"></span>)
                        </div>
                    </div>
                    <div class="row"
                         ng-if="!gdata.isCustomer">
                        <div class="col-sm-2 col-xs-4">
                            <strong>STATE:</strong>
                        </div>
                        <div class="col-sm-10 col-xs-8 uppercase"
                             ng-bind="finding.state"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>DESCRIPTION:</strong>
                        </div>
                        <div class="col-sm-10 pre-wrap"
                             ng-bind="finding.description"></div>
                    </div>
                    <div class="row"
                         ng-if="finding.recommendation.recommendation_template.body_text">
                        <div class="col-sm-2">
                            <strong>RECOMMENDATION:</strong>
                        </div>
                        <div class="col-sm-10">
                            <b ng-bind="finding.recommendation.recommendation_template.body_text"></b>
                            <div ng-show="finding.recommendation.body_values.length"
                                 ng-bind="finding.recommendation.body_values"></div>
                        </div>
                    </div>
                    <div class="row"
                         ng-if="finding.attachments.length > 0">
                        <div class="col-sm-2">
                            <strong>ATTACHMENTS:</strong>
                        </div>
                        <div class="col-sm-10 pre-wrap">
                            <attachment-list attachments="finding.attachments"></attachment-list>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>