<div class="well mb0" style="min-width: 460px">
    <div class="row">
        <div class="form-group col-lg-6 mb0"
             ng-style="{'margin-top': gdata.isCustomer || operationDetailPage ? '2em' : '0'}">
            <!--suppress XmlInvalidId -->
            <div class="form-group"
                 ng-class="operationDetailPage ? 'mb0' : ''"
                 ng-if="gdata.isOperator && !operationDetailPage">
                <label class="capitalize"
                       for="customers">{{::catotheme.customer}}</label>
                <condensed-customer-filter set-customer="loadFindingsByCustomer(customer)"
                                           clear-customer="clearCustomer(fromButton)"
                                           initial-customer="customer"
                                           placeholder="'to see associated findings'"></condensed-customer-filter>
            </div>
            <div class="row">
                <div class="form-group col-lg-12"
                     ng-if="customer || findingsToDoTab">
                    <form name="findingSearch"
                          ng-submit="loadFindings()">
                        <input type="text"
                               class="form-control mb0"
                               name="search"
                               id="search"
                               placeholder="Filter Findings By Keyword"
                               ng-model="form.findingsQuery"
                               ng-trim="true"
                               ng-if="customer || findingsToDoTab"
                               uib-tooltip="Press enter to filter" />
                    </form>
                </div>
            </div>
            <div class="row">
                <div ng-if="customer && gdata.isOperator && !operationDetailPage"
                     class="center-align col-lg-6 mb15">
                    <select class="form-control"
                            id="follow-ups"
                            name="follow-ups"
                            ng-change="loadFindings()"
                            ng-model="form.followup_requested"
                            uib-tooltip="Chose whether to include findings with follow-ups requested.">
                        <option value="either">Show All</option>
                        <option value="requested">Requested</option>
                        <option value="unrequested">Unrequested</option>
                    </select>
                </div>
                <div class="form-group"
                     ng-class="gdata.isCustomer ? 'col-lg-12' : 'col-lg-6'"
                     ng-if="customer && !operationDetailPage">
                    <select class="form-control"
                            id="appliance"
                            name="appliance"
                            ng-change="loadFindings()"
                            ng-model="form.appliance"
                            ng-options="appliance.id as (appliance.name + (appliance.retired ? ' (retired)' : '')) for appliance in appliances">
                        <option value="">Select an Appliance</option>
                    </select>
                </div>
            </div>

            <div class="row"
                 ng-if="customer && !operationDetailPage">
                <div class="form-group mb0 pb15 pl15 pr15"
                     ng-class="gdata.isCustomer ? 'col-lg-12' : 'col-lg-6'"
                     cg-busy="targets.$promise">
                    <div class="input-group"
                         style="table-layout: fixed;"
                         ng-style="form.target ? {width: 'calc(100% - 32px)'} : {}">
                        <ui-select allow-clear
                                   ng-model="form.target"
                                   theme="bootstrap"
                                   input-id="target"
                                   on-select="loadFindings()">
                            <ui-select-match placeholder="Search for a target" style="overflow:hidden">
                                {{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices group-by="'type'"
                                               repeat="target.id as target in targets | filter:filterAliasOrValue($select.search) | orderBy:['type','value'] | limitTo:100">
                                <span ng-bind-html="(target.value + ' - ' + target.alias) | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn"
                              ng-if="form.target">
                            <span class="btn btn-white"
                                  ng-click="clearTarget()"
                                  uib-tooltip="Clear selection">
                                <span class="fa fa-times-circle text-danger"
                                      aria-hidden="true"></span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="col-lg-6 form-group mb0 pb15"
                     cg-busy="operationTemplates.$promise"
                     ng-if="!gdata.isCustomer">
                    <select class="form-control"
                            id="operationtemplate"
                            name="operationtemplate"
                            ng-model="form.opTemplate"
                            ng-change="loadFindings()"
                            ng-options="operationTemplate.id as operationTemplate.name group by operationTemplate.process for operationTemplate in operationTemplates | orderBy:['process','name']">
                        <option value="">Select an Operation Template</option>
                    </select>
                </div>
            </div>

            <div class="row"
                 ng-if="customer && !operationDetailPage">
                <div class="form-group mb0 pb15 pl15 pr15 col-lg-12">
                    <table>
                        <tr>
                            <td>
                                <label class="col-sm-2 control-label nowrap">Starting:</label>
                            </td>
                            <td>
                                <input type="text"
                                       class="form-control"
                                       uib-datepicker-popup
                                       ng-model="form.added_after"
                                       ng-change="dateChanged()"
                                       is-open="starting_popup.opened"
                                       datepicker-options="dateOptions"
                                       close-text="Close" />
                            </td>
                            <td>
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            ng-click="pickStartingDate(sub)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </td>
                            <td>
                                <label class="col-sm-2 control-label nowrap">Ending:</label>
                            </td>
                            <td>
                                <input type="text"
                                       class="form-control"
                                       uib-datepicker-popup
                                       ng-model="form.added_before"
                                       ng-change="dateChanged()"
                                       is-open="ending_popup.opened"
                                       datepicker-options="dateOptions"
                                       close-text="Close" />
                            </td>
                            <td>
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default"
                                            ng-click="pickEndingDate(sub)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row operation-details"
                 ng-if="(customer && operationDetailPage)">
                <references-editor ng-model="form.references"
                                   ng-change="loadFindings()"
                                   class="col-xs-12"></references-editor>
            </div>
        </div>
        <div ng-class="gdata.isCustomer ? 'col-lg-4' : 'col-lg-3'"
             ng-if="(customer && !operationDetailPage) || findingsToDoTab">
            <references-editor ng-model="form.references"
                               ng-change="loadFindings()"></references-editor>
        </div>
        <div class="shrink-form side-margins-auto"
             ng-class="{'col-lg-6':operationDetailPage,'col-lg-2': gdata.isCustomer,'col-lg-3': !(isCustomer || operationDetailPage)}"
             ng-style="{'min-width': gdata.isCustomer ? '0' : '14em'}">
            <div class="form-group mb0 row">
                <div class="side-by-side no-margins"
                     ng-if="gdata.isOperator && customer && !findingsToDoTab"
                     style="vertical-align: top;">
                    <div class="center-align col-lg-12 no-padding pull-right-conditional">
                        <div class="side-margins-auto">
                            <h4 class="findings-word-wrap  side-margins-auto">
                                State Filter(s):
                                <i class="fa fa-info-circle"
                                   uib-tooltip="Displays selected states, or all when none are selected. Hold shift to toggle the selection of all but the clicked state."></i>
                            </h4>
                        </div>
                        <div ng-repeat="state in FINDING_STATE_FILTERS">
                            <div style="width: 8em;"
                                 class="side-margins-auto">
                                <button class="findings-button btn btn-sm btn-white capitalize"
                                        ng-class="{'percent30Transparent': !findingStateFiltersContain(findingStateFilters, state)}"
                                        ng-click="addRemoveFindingStateFilter($event, state)">
                                    <span ng-class="'label-'+state"
                                          ng-bind="'&nbsp;'+state"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="customer || findingsToDoTab"
                     ng-class="gdata.isCustomer ? 'side-margins-auto' : 'side-by-side no-margins'"
                     style="vertical-align: top;">
                    <div class=""
                         ng-class="!(isCustomer || operationDetailPage)? 'col-lg-12 no-padding pull-left-conditional' : ''">
                        <div class="left-align-condtional">
                            <h4 class="findings-word-wrap side-margins-auto">
                                Severity Filter(s):
                                <i class="fa fa-info-circle"
                                   tooltip-placement="top-right"
                                   uib-tooltip="Displays selected severities, or all when none are selected. Hold shift to toggle the selection of all but the clicked severity."></i>
                            </h4>
                        </div>
                        <div ng-repeat="severity in SEVERITY_LEVELS_REVERSE track by $index">
                            <div style="width: 5.5em;"
                                 class="side-margins-auto">
                                <button class="findings-button label label-sm {{'label-'+severity.toLowerCase()}}"
                                        ng-class="{'percent30Transparent': !findingSeverityFiltersContain(findingSeverityFilters, severity)}"
                                        ng-click="addRemoveFindingSeverityFilter($event, severity)"
                                        ng-bind="severity">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div style="width:8em"
                     class="side-margins-auto mt5">
                    <a ng-if="customer  && !operationDetailPage && !findingsToDoTab"
                       ng-click="downloadCsv()"
                       uib-tooltip="Downloads CSV of findings with any filters applied"><i aria-hidden="true"
                           class="fa fa-download"></i> Download CSV</a>
                </div>
            </div>
            <div class="center-align"
                 style="margin-top: 1em;"
                 ng-if="customer && operationDetailPage">
                <select class="form-control"
                        id="follow-ups"
                        name="follow-ups"
                        ng-change="loadFindings()"
                        ng-model="form.followup_requested"
                        uib-tooltip="Chose whether to include findings with follow-ups requested.">
                    <option value="either">Show All</option>
                    <option value="requested">Requested</option>
                    <option value="unrequested">Unrequested</option>
                </select>
            </div>
        </div>
    </div>
</div>
