<div id="positive-findings-table"
     cg-busy="{promise: findingsTable._catoPromise, message: data.message}">
    <div cg-busy="{promise: data.findingsLoading, message: data.message}">

        <div ng-include="'/app/finding/findingsFilterContent.html'"></div>

        <h3 ng-if="!gdata.isCustomer && !customer.name && !findingsToDoTab">Please enter {{::aAn(catotheme.customer)}} {{::catotheme.customer}}
            name
            to see associated findings.</h3>
        <h3 ng-if="findingsToDoTab && findingsLoaded && numPages === 0">No findings found.</h3>
        <h3 ng-if="!operationDetailPage && !findingsToDoTab && customer.name && findingsLoaded && numPages === 0">No matching findings
            associated with {{::catotheme.customer}}.</h3>
        <h3 ng-if="operationDetailPage && customer.name && findingsLoaded && numPages === 0">No matching findings from this
            operation.</h3>

        <div class="clearfix sticky-actions-top"
             ng-show="findingsLoaded && numPages > 0">
            <div>
                <actions ng-if="!gdata.isCustomer"
                         actions="bulkActions"
                         class="pull-right mt5"
                         disabled="data.selectedFindings.length === 0"
                         tooltip-override="'Bulk Actions'"
                         show-count="true"
                         selected="data.selectedFindings.length"
                         tooltip-override="'Use control/command and shift to select multiple findings to perform bulk actions'"
                         total="data.count"></actions>

                <finding-search ng-if="!gdata.isCustomer"
                                selected="data.selectedFindings[0]"
                                load-graph-findings="loadGraphFindings(filter)"
                                is-graph-search="graphFilter!=null"
                                class="pull-right mt5 mr5">
                </finding-search>

                <span ng-if="gdata.isCustomer"
                      class="pull-right"
                      style="padding-top: 2em">
                    <h3>{{data.count}} Findings Found</h3>
                </span>
            </div>
        </div>

        <div ng-include="'/app/operator/operatorFindings.html'"
             ng-if="customer && findingsLoaded && numPages > 0 && !reviewFindings">
        </div>

        <div ng-include="'/app/finding/reviewFindingsTable.html'"
             ng-if="findingsLoaded && numPages > 0 && reviewFindings">
        </div>
    </div>
</div>