<div class="row"
     cg-busy="{promise: data.findingsLoading, message: 'Loading Findings'}">
    <div class="col-md-12">
        <!-- XXX: keep in mind, the operation
             view findings loads a different template -->
        <h3 ng-if="findingsForOperation[operation_id] === undefined">Loading Findings for selected Operation.</h3>
        <h3 ng-if="findingsForOperation[operation_id].length == 0">No Findings for selected Operation.</h3>

        <table id='positive-findings-table'
               class="table table-striped toggle-arrow-tiny">
            <tbody>

                <tr ng-repeat-start="finding in findingsForOperation[operation_id] | orderBy: 'updated':true | filter:archivedFilter track by finding.id"
                    ng-class="{'ngRow selected':finding.id == finding_id}"
                    ng-click="setClickedFindingRow(finding.id, operation_id, campaign_id)"
                    role="button">
                    <td class="lh225">
                        <a ui-sref="cato.loggedIn.service.campaign.operation.findings({finding_id:finding.id})"
                           ng-bind="finding.title"></a>
                        <div class="pull-right">
                            <span class="label label-sm"
                                  ng-class="'label-'+getSeverityLevel(finding.severity).toLowerCase()"
                                  ng-bind="getSeverityLevel(finding.severity)"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="toggle p15 ellipsis"
                        id="finding-{{finding.id}}"
                        style="{{findingExpanded(finding.id) ? 'display: table-cell;' : 'display: none'}}">
                        <div class="row"
                             ng-if="operations[finding.operation].appliance">
                            <div class="col-md-3"
                                 uib-tooltip="APPLIANCE">
                                <strong>APPLIANCE:</strong>
                            </div>
                            <div class="col-md-9">
                                <span ng-bind="gdata.applianceMap[operations[finding.operation].appliance].name"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"
                                 uib-tooltip="CATEGORY">
                                <strong>CATEGORY:</strong>
                            </div>
                            <div class="col-md-9">
                                <span ng-bind="finding.category"></span>
                            </div>
                        </div>
                        <div class="row"
                             ng-if="!gdata.isCustomer">
                            <div class="col-md-3"
                                 uib-tooltip="OPERATOR">
                                <strong>OPERATOR:</strong>
                            </div>
                            <div class="col-md-9"
                                 ng-bind="finding.operator"></div>
                        </div>
                        <div class="row"
                             ng-if="finding.target">
                            <div class="col-md-3"
                                 uib-tooltip="TARGET">
                                <strong>TARGET: </strong>
                            </div>
                            <div class="col-md-9">
                                <target-display [target]="finding.target"></target-display>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"
                                 uib-tooltip="CPE"
                                 ng-if="finding.target.cpe_human">
                                <strong>CPE: </strong>
                            </div>
                            <div class="col-md-9">
                                <span>{{finding.target.cpe_human}}</span>
                            </div>
                        </div>
                        <div class="row"
                             ng-if="finding.target.hardware_address">
                            <div class="col-md-3"
                                 uib-tooltip="HARDWARE ADDRESS">
                                <strong>HARDWARE ADDRESS: </strong>
                            </div>
                            <div class="col-md-9">
                                <span>{{finding.target.hardware_address}}</span>
                            </div>
                        </div>
                        <div class="row"
                             ng-if="finding.discovered_target">
                            <div class="col-md-3"
                                 uib-tooltip="DISCOVERED TARGET">
                                <strong>DISCOVERED TARGET: </strong>
                            </div>
                            <div class="col-md-9">
                                <target-display [target]="finding.discovered_target"></target-display>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"
                                 uib-tooltip="DISCOVERED TARGET CPE"
                                 ng-if="finding.discovered_target.cpe_human">
                                <strong>DISCOVERED TARGET CPE: </strong>
                            </div>
                            <div class="col-md-9">
                                <span>{{finding.discovered_target.cpe_human}}</span>
                            </div>
                        </div>
                        <div class="row"
                             ng-if="finding.discovered_target.hardware_address">
                            <div class="col-md-3"
                                 uib-tooltip="DISCOVERED TARGET HARDWARE ADDRESS">
                                <strong>DISCOVERED TARGET HARDWARE ADDRESS: </strong>
                            </div>
                            <div class="col-md-9">
                                <span>{{finding.discovered_target.hardware_address}}</span>
                            </div>
                        </div>
                        <div class="row"
                             ng-if="finding.references.length">
                            <div class="col-md-3"
                                 uib-tooltip="REFERENCES">
                                <strong>REFERENCES:</strong>
                            </div>
                            <div class="col-md-9">
                                <references-viewer references="finding.references"></references-viewer>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3"
                                 uib-tooltip="ADDED">
                                <strong>ADDED:</strong>
                            </div>
                            <div class="col-md-9">
                                <span am-time-ago="finding.added"
                                      uib-tooltip="{{finding.added | amUtc | amLocal | amDateFormat:'lll'}}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"
                                 uib-tooltip="UPDATED">
                                <strong>UPDATED:</strong>
                            </div>
                            <div class="col-md-9">
                                <span am-time-ago="finding.updated"
                                      uib-tooltip="{{finding.updated | amUtc | amLocal | amDateFormat:'lll'}}"></span>
                            </div>
                        </div>
                        <div class="row"
                             ng-if="!gdata.isCustomer">
                            <div class="col-md-3"
                                 uib-tooltip="STATE">
                                <strong>STATE:</strong>
                            </div>
                            <div class="col-md-9 uppercase"
                                 ng-bind="finding.state"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"
                                 uib-tooltip="OPERATION">
                                <strong>OPERATION:</strong>
                            </div>
                            <div class="col-md-9"
                                 ng-bind="operations[finding.operation].description"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"
                                 uib-tooltip="DESCRIPTION"
                                 tooltip-append-to-body="true">
                                <strong>DESCRIPTION:</strong>
                            </div>
                            <div class="col-md-9 pre-wrap"
                                 ng-bind="finding.description"></div>
                        </div>
                        <div class="row"
                             ng-if="finding.recommendation.recommendation_template.body_text.length">
                            <div class="col-md-3"
                                 uib-tooltip="RECOMMENDATION"
                                 tooltip-append-to-body="true">
                                <strong>RECOMMENDATION:</strong>
                            </div>
                            <div class="col-md-7">
                                <b ng-bind="finding.recommendation.recommendation_template.body_text"></b>
                                <br /><span ng-bind="finding.recommendation.body_values"
                                      ng-if="finding.recommendation.body_values.length"></span>
                            </div>
                        </div>
                        <div class="row"
                             ng-if="finding.attachments.length > 0">
                            <div class="col-md-3"
                                 uib-tooltip="ATTACHMENTS">
                                <strong>ATTACHMENTS:</strong>
                            </div>
                            <div class="col-md-9">
                                <attachment-list attachments="finding.attachments"></attachment-list>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 btn-group">
                                <button class="btn btn-primary ml5 mt15"
                                        uib-tooltip="Toggle messages"
                                        tooltip-append-to-body="true"
                                        ng-click="showMessages(finding)">
                                    <i class="fa fa-envelope"></i>
                                </button>
                                <button class="btn btn-primary ml5 mt15"
                                        uib-tooltip="Share finding"
                                        tooltip-append-to-body="true"
                                        ng-click="openShareFinding(finding)">
                                    <i class="fa fa-share"
                                       aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-primary ml5 mt15"
                                        uib-tooltip="Retest"
                                        ng-click="retestFinding(finding)">
                                    <i class="fa fa-retweet"></i>
                                </button>
                                <button class="btn btn-primary ml5 mt15"
                                        ng-if="gdata.isCustomer && !finding.archived"
                                        uib-tooltip="Archive"
                                        tooltip-append-to-body="true"
                                        ng-click="archiveFinding(finding)">
                                    <i class="fa fa-archive"></i>
                                </button>
                                <button class="btn btn-primary ml5 mt15"
                                        ng-if="gdata.isCustomer && finding.archived"
                                        uib-tooltip="Unarchive"
                                        tooltip-append-to-body="true"
                                        ng-click="unarchiveFinding(finding)">
                                    <i class="fa fa-folder-open-o"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat-end
                    ng-if="finding.showMessages && findingExpanded(finding.id)">
                    <td>
                        <div ng-repeat="message in data.findingMessages[finding.id] | orderBy:'created'"
                             ng-include="'/app/message/messageThread.html'"
                             class="col-sm-12">
                        </div>
                        <div class="col-md-12">
                            <message-compose for="finding.id"
                                             type="finding"></message-compose>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
