<mat-card ng-class="'box'">
    <uib-tabset active="0"
                ng-if="gdata.isCustomer">
        <uib-tab index="0"
                 heading="FINDINGS"
                 active="true"
                 ng-click="data.showArchived = false; loadFindings()"></uib-tab>
        <uib-tab index="1"
                 heading="ARCHIVED FINDINGS"
                 ng-click="data.showArchived = true; loadFindings()"></uib-tab>
    </uib-tabset>
    
    <div ng-include="'/app/finding/findingsTabContent.html'"></div>
</mat-card>
