<table>
    <tbody>
        <tr>
            <td class="p105s va-top">
                <div class="label label-sm"
                     ng-class="'label-'+getSeverityLevel(finding.severity).toLowerCase()"
                     ng-bind="getSeverityLevel(finding.severity)">
                </div>
            </td>
            <td>
                <h3>
                    <a ng-bind="finding.title"
                       ng-if="!gdata.isCustomer"
                       uib-tooltip="{{finding.description}}"
                       ui-sref="cato.loggedIn.operator.findingDetail({operation_id: finding.operation.id, finding_id: finding.id})"></a>
                    <a ng-if="gdata.isCustomer"
                       uib-tooltip="{{finding.description}}"
                       ui-sref="cato.loggedIn.service.campaign.operation.findings({service_name: finding.service.short_name, campaign_id:finding.operation.campaign, operation_id:finding.operation.id, finding_id:finding.id})"
                       ng-bind="finding.title"></a>
                    <!--<a class="bt-sm"
                               ng-click="openShareFinding(finding)"
                               uib-tooltip="Share">
                               <i class="fa fa-share"></i>
                             </a>-->
                </h3>

                <p ng-if="!gdata.isCustomer">
                    <strong class="uppercase">{{::catotheme.customer}}: </strong>
                    <span ng-bind="gdata.customerMap[finding.customer].name"></span>
                </p>
                <p ng-if="finding.operation.appliance">
                    <strong>APPLIANCE: </strong>
                    <span ng-bind="gdata.applianceMap[finding.operation.appliance].name"></span>
                </p>

                <p ng-if="finding.category">
                    <strong>CATEGORY: </strong>
                    <span ng-bind="finding.category"></span>
                </p>
                <p>
                    <strong>OPERATION: </strong>
                    <span ng-if="!gdata.isCustomer">
                        <a ui-sref="cato.loggedIn.operator({operation_id:finding.operation.id})"
                           uib-popover="{{finding.operation.description}}"
                           popover-title="Operation Description:"
                           popover-trigger="'mouseenter'"
                           popover-placement="top-left"
                           ng-bind="finding.operation.name || operation.name">
                        </a>
                        <br />
                        <a ng-if="gdata.isMissionDirector && showFollowOnOperationLink"
                           ng-click="addOperation(finding.operation, finding)"
                           class="green-txt mt5">
                            <i aria-hidden="true"
                               class="fa fa-plus"></i> Add Follow-on Operation
                        </a>
                    </span>
                    <a ng-if="gdata.isCustomer"
                       ui-sref="cato.loggedIn.service.campaign.operation({service_name: finding.service.short_name, campaign_id:finding.operation.campaign, operation_id:finding.operation.id})"
                       uib-popover="{{finding.operation.description}}"
                       popover-title="Operation Description:"
                       popover-trigger="'mouseenter'"
                       popover-placement="top-left"
                       ng-bind="finding.operation.name">
                    </a>
                </p>

                <p ng-if="finding.target">
                    <strong>TARGET: </strong>
                    <target-display tooltip-placement="right"
                        uib-tooltip="{{finding.target.type}}"
                        [target]="finding.target"></target-display>
                    <i class="fa fa-lock"
                       ng-if="finding.target.locked && !gdata.isCustomer"></i>
                </p>

                <p ng-if="finding.discovered_target">
                    <strong>DISCOVERED TARGET: </strong>
                    <target-display tooltip-placement="right"
                          uib-tooltip="{{finding.discovered_target.type}}"
                          [target]="finding.discovered_target"></target-display>
                    <i class="fa fa-lock"
                       ng-if="finding.discovered_target.locked && !gdata.isCustomer"></i>
                </p>

                <p ng-if="finding.operation.metatarget && !gdata.isCustomer">
                    <strong>METATARGET: </strong>
                    <target-icon type="'metatarget'"
                                 class="ml5 mr5"></target-icon>
                    <target-icon type="finding.operation.metatarget.type"
                                 class="mr5"></target-icon>
                    <span tooltip-placement="right"
                          uib-tooltip="{{finding.operation.metatarget.type}}"
                          ng-bind="finding.operation.metatarget.name">
                    </span>
                    <i class="fa fa-lock"
                       ng-if="finding.operation.metatarget.locked && !gdata.isCustomer"></i>
                </p>

                <p ng-if="finding.references.length">
                    <strong>REFERENCES: </strong>
                    <references-viewer references="finding.references"></references-viewer>
                </p>

                <p>
                    <strong>DESCRIPTION: </strong>
                    <span class="pre-wrap"
                          ng-bind="finding.description"></span>
                </p>

                <p ng-if="finding.recommendation.recommendation_template">
                    <strong>RECOMMENDATION:</strong>
                    <span ng-bind="finding.recommendation.recommendation_template.body_text"></span>
                    <br /><span ng-bind="finding.recommendation.body_values"
                          ng-if="finding.recommendation.body_values.length"></span>
                </p>

                <div ng-if="finding.attachments.length > 0">
                    <strong>ATTACHMENTS:</strong>
                    <attachment-list attachments="finding.attachments"></attachment-list>
                </div>
                <div ng-if="finding.messages.length > 0"><strong>MESSAGES:</strong>
                    <a ng-click="loadAndShowFindingMessages(finding.id)">
                        <span ng-bind="finding.messages.length"></span>
                    </a>
                </div>
                <div ng-if="finding.messages.length === 0">
                    <a ng-click="loadAndShowFindingMessages(finding.id)">
                        <strong>ADD A MESSAGE</strong>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>