<div class="col-md-10">
    <div class="row">
        <div class="col-md-12"
             ng-include="'/app/finding/findingDetails.html'">
        </div>
    </div>
</div>
<!-- /col-md-10 -->

<div class="col-md-2">
    <div class="row">
        <div class="col-md-12"
             style="text-align:right;">
            <div class="updated-user-info">
                <div ng-hide="finding.updated">
                    <button type="button"
                            class="btn btn-user-info-invisible"
                            am-time-ago="finding.added"
                            uib-tooltip="{{finding.added | amUtc | amLocal | amDateFormat:'lll'}}"
                            tooltip-placement="top-left">
                    </button>
                    <button type="button"
                            class="btn btn-user-info-invisible"
                            ng-hide="gdata.isCustomer"
                            ng-bind="'| ' + finding.operator.username"
                            uib-tooltip="{{finding.operator.initials}}"
                            tooltip-placement="top-right">
                    </button>
                </div>
                <div ng-show="finding.updated">
                    <button type="button"
                            class="btn btn-user-info-invisible"
                            am-time-ago="finding.updated"
                            uib-tooltip="{{finding.updated | amUtc | amLocal | amDateFormat:'lll'}}"
                            tooltip-placement="top-left">
                    </button>
                    <button type="button"
                            class="btn btn-user-info-invisible"
                            ng-hide="gdata.isCustomer"
                            ng-bind="'| ' + finding.operator.username"
                            uib-tooltip="{{finding.operator.initials}}"
                            tooltip-placement="top-right">
                    </button>
                </div>
            </div>
            <!-- /updated-user-info -->

            <div style="text-align:right;"
                 class="btn-group">
                <button class="btn btn-white pull-right ml5"
                        uib-tooltip="Retest"
                        ng-click="retestFinding(finding)">
                    <i class="fa fa-retweet"></i>
                </button>

                <button class="btn btn-white pull-right ml5"
                        ng-if="gdata.isCustomer && !finding.archived"
                        uib-tooltip="Archive"
                        ng-click="archiveFinding(finding)">
                    <i class="fa fa-archive"></i>
                </button>
                <button class="btn btn-white pull-right ml5"
                        ng-if="gdata.isCustomer && finding.archived"
                        uib-tooltip="Unarchive"
                        ng-click="unarchiveFinding(finding)">
                    <i class="fa fa-folder-open-o"></i>
                </button>
                <button class="btn btn-white pull-right ml5"
                        ng-if="gdata.isMissionDirector"
                        uib-tooltip="Delete finding"
                        ng-click="deleteFinding(finding)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>

        </div>
    </div>
    <!-- /row -->

</div>
<!-- /col-md-2 -->