<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$close()"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title">RETEST FINDING</h4>
    </div>
    <form ng-submit="requestRetest()"
          id="cato-share-finding-form"
          name="catoRetestFindingForm">
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label"
                       for="retest_reason">Reason*</label>
                <input class="form-control"
                       id="retest_reason"
                       name="reason"
                       required="required"
                       type="text"
                       ng-model="reason" />
            </div>
        </div>
        <!-- /modal-body -->
        <div class="modal-footer">
            <button type="reset"
                    class="btn"
                    ng-click="$dismiss()">Cancel</button>
            <button type="submit"
                    class="btn btn-primary formSubmit"
                    ng-disabled="catoRetestFindingForm.$invalid">Send</button>
        </div>
        <!--  /modal-footer -->
    </form>
</div>
<!-- /inmodal -->