<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$close()"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title">BULK EDIT FINDINGS</h4>
    </div>

    <div class="modal-body">
        <form ng-submit="bulkEditFindings()"
              name="bulkeditfindingform"
              id="bulkeditfindingform"
              class="form-inline">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label class="control-label"
                           for="finding_severity">Severity</label>
                    <input type="checkbox"
                           style="float: left; margin: 0 5px 0 0"
                           ng-model="enableSeverity" />
                    <select class="form-control"
                            id="finding_severity"
                            name="finding_severity"
                            ng-model="finding.severityLabel"
                            ng-disabled="!enableSeverity"
                            ng-options="option.value as option.label for option in priorities track by option.value">
                        <option></option>
                    </select>
                </div>

                <div class="form-group col-sm-4">
                    <label class="control-label"
                           for="finding_category">Category</label>
                    <input type="checkbox"
                           style="float: left; margin: 0 5px 0 0"
                           ng-model="enableCategory" />
                    <select class="form-control"
                            id="finding_category"
                            name="finding_category"
                            ng-model="finding.categoryLabel"
                            ng-disabled="!enableCategory"
                            ng-options="option.value as option.display_name for option in categories | orderBy:'display_name'">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label class="control-label"
                           for="cvss_base">CVSS Base</label>
                    <input type="checkbox"
                           style="float: left; margin: 0 5px 0 0"
                           ng-model="enableCvssbase" />
                    <input class="form-control"
                           id="cvss_base"
                           name="cvss_base"
                           ng-value="finding.cvss_base"
                           ng-disabled="!enableCvssbase"
                           ng-model="finding.cvss_base">
                    </input>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label"
                           for="cvss_base">CVSS Temporal</label>
                    <input type="checkbox"
                           style="float: left; margin: 0 5px 0 0"
                           ng-model="enableCvsstemporal" />
                    <input class="form-control"
                           id="cvss_temporal"
                           name="cvss_temporal"
                           ng-value="finding.cvss_temporal"
                           ng-disabled="!enableCvsstemporal"
                           ng-model="finding.cvss_temporal">
                    </input>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label"
                           for="cvss_base">CVSS Env.</label>
                    <input type="checkbox"
                           style="float: left; margin: 0 5px 0 0"
                           ng-model="enableCvssenv" />
                    <input class="form-control"
                           id="cvss_env"
                           name="cvss_env"
                           ng-value="finding.cvss_env"
                           ng-disabled="!enableCvssenv"
                           ng-model="finding.cvss_env">
                    </input>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="control-label"
                           for="finding_description">Recommended remediation</label>
                    <input type="checkbox"
                           style="float: left; margin: 0 5px 0 0"
                           ng-model="enableRecommendedRemediation" />
                    <select class="form-control"
                            ng-options="recommendation as recommendation.body_text for recommendation in recommendations | orderBy:'body_text' track by recommendation.id"
                            ng-disabled="!enableRecommendedRemediation"
                            ng-model="finding.recommendation.recommendation_template"
                            id="finding_recommendation_choice"
                            ng-required="finding.recommendation.body_values"></select>

                    <textarea class="form-control"
                              rows="10"
                              id="finding_recommendation"
                              name="finding_recommendation"
                              ng-model="finding.recommendation.body_values"
                              ng-disabled="!enableRecommendedRemediation"
                              ng-minlength="config.recommendation.min_length"
                              ng-maxlength="config.recommendation.max_length"
                              placeholder="Additional recommended remediation steps."></textarea>
                    <div class="col-sm-12 help-block"
                         ng-show="catoaddfindingform.finding_recommendation.$error.minlength">
                        Recommendation too short, minimum length <span
                              ng-bind="config.recommendation.min_length"></span>.
                    </div>
                    <div class="col-sm-12 help-block"
                         ng-show="catoaddfindingform.finding_recommendation.$error.maxlength">
                        Recommendation too long, maximum length <span
                              ng-bind="config.recommendation.max_length"></span>.
                    </div>
                </div>
            </div>
            <div class="row"
                 ng-if="gdata.isMissionDirectorOrAdmin">
                <div class="form-group col-sm-12">
                    <label class="control-label">Approve Findings</label>
                    <input type="checkbox"
                           class="pull-left mr5"
                           ng-model="finding.approve"
                           id="approve"
                           name="approve" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset"
                        class="btn"
                        ng-click="cancel()">Cancel</button>
                <button type="button"
                        class="btn btn-primary"
                        ng-click="save(false)">Save</button>
            </div>
        </form>
    </div>
</div>
