<div class="ml5">
    <input type="checkbox"
           ng-click="selectAllFindings()"
           ng-model="data.allFindingsSelected"/>
    <label>
        Select all
    </label>
</div>

<table class="table table-hover table-mail"
       id="findings-table" ng-table="findingsTable">
    <tbody ng-class="'finding_'+findingList[0].finding">
        <tr ng-if="data.findings.length !== 0"
            ng-repeat="finding in data.findings track by finding.id"
            ng-class="'finding_'+finding.id"
            selection-model
            selection-model-mode="'multiple-additive'"
            selection-model-type="'checkbox'"
            selection-model-selected-items="data.selectedFindings"
            selection-model-cleanup-strategy="'deselect'">
            <td class="col-md-8 bot-brdr-1b">
                <div class="todo-list">
                    <input type="checkbox"
                           class="on-the-side">
                    <div class="mail-subject">
                        <span uib-tooltip="{{finding.state.toUpperCase()}}"
                              ng-class="'label-'+finding.state">
                        </span>
                        <span uib-tooltip="FOLLOW-UP REQUESTED">
                            <i ng-if="finding.followup_requested"
                               class="fa fa-calendar-check-o"
                               style="color:blue"></i>
                        </span>
                        <a ui-sref=".editFinding({finding_id: finding.id})"
                           uib-tooltip="Edit Finding"
                           class="ml10">
                            <b ng-bind="finding.title"></b>
                        </a>
                        <span class="pre-wrap"
                              ng-bind="finding.description"></span>
                    </div>
                    <div class="mail-subject">
                        <div ng-if="finding.rejection">
                            <strong>REJECTED REASON:</strong> <span ng-bind="finding.rejection"></span>
                        </div>

                        <div>
                            <b class="uppercase">{{::catotheme.customer}}:</b>
                            <span ng-bind="gdata.customerMap[finding.customer].name"></span>
                            <!--ng-bind="customerLookup[finding.customer]"-->
                        </div>

                        <b>OPERATION:</b>
                        <a ui-sref="cato.loggedIn.operator({operation_id:finding.operation.id})"
                           target="_blank"
                           uib-popover="{{finding.operation.description}}"
                           popover-title="Operation Description:"
                           popover-trigger="'mouseenter'"
                           popover-placement="top-left"
                           ng-bind="finding.operation.name"></a>
                        <div ng-if="finding.target">
                            <strong>TARGET:</strong>
                            <target-display tooltip-placement="right"
                                  uib-tooltip="{{finding.target.type}}"
                                  [target]="finding.target"></target-display>
                        </div>
                        <div ng-if="finding.discovered_target">
                            <strong>DISCOVERED TARGET:</strong>
                            <target-display tooltip-placement="right"
                                  uib-tooltip="{{finding.target.type}}"
                                  [target]="finding.discovered_target"></target-display>
                        </div>
                        <div ng-if="finding.operation.metatarget">
                            <strong>METATARGET:</strong>
                            <target-icon type="'metatarget'"
                                         class="ml5 mr5"></target-icon>
                            <target-icon type="finding.operation.metatarget.type"
                                         class="mr5"></target-icon>
                            <span tooltip-placement="right"
                                  uib-tooltip="{{finding.operation.metatarget.type}}"
                                  ng-bind="finding.operation.metatarget.name">
                            </span>
                        </div>
                        <div ng-if="finding.references.length">
                            <strong>REFERENCES:</strong>
                            <references-viewer references="finding.references"></references-viewer>
                        </div>

                        <attachment-list attachments="finding.attachment_details || finding.attachments">
                        </attachment-list>
                    </div>
                </div>
            </td>
            <td class="col-md-2 bot-brdr-1b">
                <div class="row">
                    <div class="col-md-12">
                        <div class="updated-user-info">
                            <span uib-tooltip="{{finding.added | amUtc | amLocal | amDateFormat:'lll'}}"
                                  am-time-ago="finding.updated || finding.added"></span>
                            |
                            <span class="user-bkg-fix"
                                  ng-bind="finding.operator.username"
                                  uib-tooltip="{{finding.operator.first_name}} {{finding.operator.last_name}}"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 pull-right">
                        <div class="pull-left">
                            <div class="label label-sm pull-right mb15"
                                 ng-class="'label-'+getSeverityLevel(finding.severity).toLowerCase()"
                                 ng-bind="getSeverityLevel(finding.severity)"></div>
                        </div>
                        <actions actions="findingsForReviewActions"
                                 class="pull-right "
                                 target="finding"></actions>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
