<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$close()"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title">SHARE FINDING</h4>
    </div>
    <form ng-submit="sendShareFinding()"
          id="cato-share-finding-form"
          name="catoShareFindingForm"
          method="post"
          class="form-inline">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3">
                    <strong>CATEGORY:</strong>
                </div>
                <div class="col-md-9">
                    <span ng-bind="findingShare.finding.category"></span>
                </div>
            </div>
            <div class="row"
                 ng-hide="gdata.isCustomer">
                <div class="col-md-3">
                    <strong>OPERATOR:</strong>
                </div>
                <div class="col-md-9">
                    {{findingShare.finding.operator.username}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <strong>ADDED:</strong>
                </div>
                <div class="col-md-7">
                    <span am-time-ago="finding.added"
                          uib-tooltip="{{findingShare.finding.added | amUtc | amLocal | amDateFormat:'lll'}}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <strong>UPDATED:</strong>
                </div>
                <div class="col-md-7">
                    <span am-time-ago="finding.added"
                          uib-tooltip="{{findingShare.finding.updated | amUtc | amLocal | amDateFormat:'lll'}}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <strong>OPERATION:</strong>
                </div>
                <div class="col-md-7">
                    {{operations[finding.operation].name}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <strong>DESCRIPTION:</strong>
                </div>
                <div class="col-md-7">
                    {{findingShare.finding.description}}
                </div>
            </div>
            <div class="row"
                 ng-if="finding.attachments.length > 0">
                <div class="col-md-3">
                    <strong>ATTACHMENTS:</strong>
                </div>
                <div class="col-md-7">
                    <attachment-list attachments="finding.attachments"></attachment-list>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="control-label"
                           for="findingShare_email">TO: </label>
                    <input class="form-control"
                           id="findingShare_email"
                           name="findingShare_email"
                           required="required"
                           type="text"
                           ng-model="findingShare.email"
                           emailparser
                           placeholder="Enter recipient's email (or multiple emails, comma-delimited)" />
                    <span class="glyphicon glyphicon-remove form-control-feedback"
                          aria-hidden="true"
                          ng-show="catoShareFindingForm.findingShare_email.$error.validEmail">
                    </span>
                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          aria-hidden="true"
                          ng-hide="catoShareFindingForm.findingShare_email.$error.validEmail">
                    </span>
                    <span ng-show="catoShareFindingForm.findingShare_email.$error.validEmail">
                        Please enter a valid email, or list of emails.
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="control-label"
                           for="findingShare_subject">SUBJECT: </label>
                    <span ng-bind="findingShare.subject"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12"><strong>MESSAGE PREVIEW:</strong></div>
                <div class="message-preview form-group col-sm-12">
                    <p><b ng-bind="user.username"></b> would like to share a {{::catotheme.appName}} finding with severity level of
                        <b ng-bind="getSeverityLevel(finding.severity)"></b> with you. The finding, <b
                           ng-bind="finding.title"></b>,
                        associated with the operation <b ng-bind="findingShare.finding.operation.description"></b>
                        can be viewed by clicking the link below.</p>
                    <p><a href
                           ng-bind="baseUrl+findingShare.url"></a></p>
                    <p><i ng-bind="findingShare.message"></i></p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="control-label"
                           for="findingShare_message">MESSAGE:</label>
                    <textarea class="form-control"
                              required
                              rows="10"
                              id="findingShare_message"
                              name="findingShare_message"
                              ng-model="findingShare.message"
                              placeholder="Add a custom message*"></textarea>
                </div>
            </div>
            <div class="row"
                 ng-if="finding.severity==5">
                <div class="form-group col-sm-12">
                    <label class="control-label"
                           for="findingShare_confirmation">
                        <input type="checkbox"
                               rows="10"
                               id="findingShare_confirmation"
                               name="findingShare_confirmation"
                               ng-model="findingShare.confirmation"
                               required> Authorize sharing a finding with CRITICAL severity</label>
                </div>
            </div>


        </div>
        <!-- /modal-body -->
        <div class="modal-footer">
            <button type="reset"
                    class="btn"
                    ng-click="cancel()">Cancel</button>
            <button type="submit"
                    class="btn btn-primary formSubmit"
                    ng-disabled="catoShareFindingForm.$invalid">Send</button>
        </div>
        <!--  /modal-footer -->
    </form>
</div>
<!-- /inmodal -->
