<loading-content class="full-height full-width">
    <h3>Geographical View</h3>
    
    <div id="map-container">
        <div id="map-frame">
            <div id="cmmcmap"></div>
        </div>
    </div>
</loading-content>