<div class="input-group">
    <input type="text"
           class="form-control"
           style="height: 2em;padding-left: 5px;padding-right: 3px;"
           uib-datepicker-popup="{{$ctrl.format}}"
           ng-model="$ctrl.value"
           is-open="$ctrl.popup.opened"
           datepicker-options="$ctrl.dateOptions"
           close-text="Close"
           alt-input-formats="altInputFormats"
           ng-change="$ctrl.update($ctrl.dateName,$ctrl.value)" />
    <span class="input-group-btn">
        <button type="button"
                class="btn btn-default"
                style="height: 2em;"
                ng-click="$ctrl.open()">
            <i class="glyphicon glyphicon-calendar"
               style="position: relative;top:-1px">
            </i>
        </button>
    </span>
</div>