ownership-table
{
	.blur
	{
		filter: blur(5px);
	}

	.overlay
	{
		z-index: 100;
		position: absolute;
		top:66px; bottom:0; left:0; right:0;
		background-color: #DDDA;
		font-size: 3rem;

		.text-large
		{
			font-size: 1em;	// = 3rem
		}

		.text-small
		{
			font-size: .65em;
		}
	}

	.center-content
	{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.columns
	{
		display: flex;
		flex-direction: column;
	}
}
