<script type="text/ng-template"
        id="headerCheckboxASOwnership">
    <!-- TODO: Double check this still works with newer ngTable versions -->
    <input ng-if="!$ctrl.$scope.$parent.$ctrl.gdata.isOperator"
           uib-tooltip="Select all across all pages"
           type="checkbox"
           ng-model="$ctrl.$scope.$parent.$ctrl.allRowsSelected"
           ng-click="$ctrl.$scope.$parent.$ctrl.selectAllRows()">
</script>

<div id="attackSurfaceOwnership"
     class="attack-surface-table">

    <table ng-table="$ctrl.table"
           class="table table-striped table-scroll"
           show-filter="true"
           ng-table-columns-binding="$ctrl.cols"
           ng-class="{blur: $ctrl.attackSurfaceData.id!=undefined}">
        <tbody>

            <tr ng-repeat="row in $data"
                class="show-selection"
                selection-model
                selection-model-mode="'multiple-additive'"
                selection-model-type="'basic'"
                selection-model-selected-items="$ctrl.selectedRows"
                selection-model-cleanup-strategy="'none'"
                selection-model-ignore="$ctrl.gdata.isOperator">

                <td header="'headerCheckboxASOwnership'"
                    class="center-align checkboxAS"
                    header-class="'checkboxAS'"
                    ng-if="true">
                    <div ng-if="!$ctrl.gdata.isOperator">
                        <input type="checkbox"
                               ng-model="row.selected"
                               selection-model-ignore>
                    </div>
                </td>

                <td data-title="'Domain'"
                    id="domain_{{row.id}}"
                    class="force-wrap em20"
                    header-class="'em20'"
                    ng-bind="row.value"
                    sortable="'value'"
                    filter="{'value': 'text'}"
                    ng-if="true">
                </td>
                <td data-title="'Zones'"
                    class="force-wrap em12"
                    header-class="'em12'"
                    sortable="'accessGroups'"
                    filter="{'accessGroups': 'text'}"
                    ng-if="true">
                    <div ng-repeat="ag in row.accessGroups | orderBy"
                         ng-bind="ag"></div>
                </td>
                <td data-title="'Registrar'"
                    class="force-wrap em12"
                    header-class="'em12'"
                    ng-bind="row.registrar || 'None'"
                    sortable="'registrar'"
                    filter="{'registrar': 'text'}"
                    ng-if="true">
                </td>
                <td data-title="'Confirmed By'"
                    class="force-wrap em12"
                    header-class="'em12'"
                    ng-bind="$ctrl.gdata.userMap[row.confirming_user].username"
                    sortable="'username'"
                    filter="{'username': 'text'}"
                    ng-if="true">
                </td>
                <td data-title="'Confirmed On'"
                    class="force-wrap em12"
                    header-class="'em12'"
                    sortable="'confirmed_on'"
                    ng-bind="row.confirmed_on ? $ctrl.moment(row.confirmed_on).format('MM/DD/YYYY'): ''"
                    ng-if="true">
                </td>
                <td data-title="'Status'"
                    class="filler"
                    header-class="'filler'"
                    sortable="'status'"
                    filter="{'status': 'text'}"
                    ng-if="true">
                    <div class="btn-group btn-group-sm"
                         uib-dropdown
                         uib-tooltip="{{$ctrl.gdata.isOperator ? '': 'Set Ownership Status'}}"
                         selection-model-ignore>
                        <select ng-if="!$ctrl.gdata.isOperator"
                                ng-model="$ctrl.currentStatuses[row.id]"
                                class="form-control"
                                ng-options="status as $ctrl.titleCase(status) for status in $ctrl.ownershipStatuses"
                                ng-change="$ctrl.setResponse($ctrl.currentStatuses[row.id],row.id)">
                        </select>
                        <div ng-if="$ctrl.gdata.isOperator"
                             ng-bind="$ctrl.titleCase(row.status)">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="overlay center-content"
         ng-if="$ctrl.attackSurfaceData.id!=undefined">
        <div class="columns center-content">
            <div class="text-large">
                Ownership Data Not Available
            </div>
            <div class="text-small">
                Please view "Current Data"
            </div>
        </div>
    </div>
</div>