<div ng-repeat="param in parameters"
     class="form-group">
    <label ng-if="param.type!='note'"
           class="text-capitalize">
        <span ng-bind="param.label"></span>
        <span ng-if="param.info">
            <i class="fa fa-info-circle"
               uib-tooltip="{{param.info}}"></i>
        </span>
        <span ng-if="param.required">*</span>
    </label>
    <div ng-switch="param.type">
        <div ng-switch-when="STRING">
            <input type="text"
                   name="{{param.name}}"
                   ng-disabled="readonly"
                   ng-model="param.value"
                   class="form-control"
                   ng-init="param.value = param.value || taskT.parameters[param.name] || param.default"
                   ng-pattern="param.regex"
                   ng-required="param.required" />
        </div>
        <div ng-switch-when="HTML">
            <div ui-ace="{useWrapMode: true, mode: 'html', advanced: {readOnly: readonly, useWorker: false}, onLoad: aceLoaded}"
                 ng-model="param.value"
                 ng-init="param.value = param.value || taskT.parameters[param.name] || param.default"
                 ng-required="param.required">
            </div>
        </div>
        <div ng-switch-when="PASSWORD">
            <input type="password"
                   name="{{param.name}}"
                   ng-disabled="readonly"
                   ng-model="param.value"
                   class="form-control"
                   ng-init="param.value = param.value || taskT.parameters[param.name] || param.default"
                   ng-pattern="param.regex"
                   ng-required="param.required" />
        </div>
        <div ng-switch-when="NUMBER">
            <input type="number"
                   name="{{param.name}}"
                   ng-disabled="readonly"
                   ng-model="param.value"
                   class="form-control"
                   max="{{param.max}}"
                   min="{{param.min}}"
                   step="{{param.step||'any'}}"
                   ng-init="param.value = param.value || taskT.parameters[param.name] || param.default"
                   ng-required="param.required" />
        </div>
        <div ng-switch-when="INT">
            <input type="number"
                   name="{{param.name}}"
                   ng-disabled="readonly"
                   ng-model="param.value"
                   class="form-control"
                   max="{{param.max}}"
                   min="{{param.min}}"
                   step="{{param.step||1}}"
                   ng-init="param.value = param.value || taskT.parameters[param.name] || param.default"
                   ng-required="param.required" />
        </div>
        <div ng-switch-when="BOOLEAN"
             class="btn-group"
             ng-init="param.value = (param.value!==undefined) ? param.value : ((taskT.parameters[param.name]!==undefined) ? taskT.parameters[param.name] : (param.default=='true' || param.default))">
            <label ng-model="param.value"
                   class="btn btn-default"
                   ng-disabled="readonly"
                   uib-btn-radio="true">True</label>
            <label ng-model="param.value"
                   class="btn btn-default"
                   ng-disabled="readonly"
                   uib-btn-radio="false">False</label>
        </div>
        <div ng-switch-when="TYPEAHEAD">
            <input ng-model="param.value"
                   ng-disabled="readonly"
                   ng-init="param.value = param.value || taskT.parameters[param.name] || param.default"
                   ng-required="param.required"
                   uib-typeahead="opt.value as opt.label for opt in param.options"
                   class="form-control" />
        </div>
        <div ng-switch-when="SELECT">
            <select ng-model="param.value"
                    ng-disabled="readonly"
                    ng-init="param.value = param.value || taskT.parameters[param.name] || param.default"
                    ng-required="param.required"
                    ng-options="opt.value as opt.label for opt in param.options"
                    class="form-control"></select>
        </div>
        <div ng-switch-when="MULTISELECT">
            <select ng-model="param.value"
                    ng-disabled="readonly"
                    ng-init="param.value = param.value || taskT.parameters[param.name] || param.default"
                    ng-required="param.required"
                    ng-options="opt.value as opt.label for opt in param.options"
                    multiple="multiple"
                    class="form-control"></select>
        </div>
        <div ng-switch-when="FILE"
             ng-init="param.value = param.value || taskT.parameters[param.name] || []">
            <!-- TODO: allow selecting only one file when param.multiple is false -->
            <attachment-list attachments="param.value"
                             show-remove-attachment="!readonly"
                             delete-on-remove="deleteOnRemove"
                             download-resource="ParameterFiles"></attachment-list>
            <input ng-model="param.toUpload"
                   ng-disabled="readonly"
                   ng-required="param.required && param.value.length == 0"
                   files-input
                   type="file"
                   name="input-{{param.name}}"
                   ng-attr-multiple="param.multiple" />
            <br />
            <button type="button"
                    class="btn btn-white"
                    ng-disabled="readonly || !param.toUpload.length"
                    ng-click="uploadFiles(taskT, param)">
                Upload Selected
            </button>
            <button type="button"
                    class="btn btn-white"
                    ng-disabled="readonly || !param.toUpload.length"
                    ng-click="clearSelected(param)">
                Clear Selected
            </button>
        </div>
        <div ng-switch-when="NOTE">
            <p class="alert alert-info"
               ng-bind-html="param.description"></p>
        </div>
    </div>
    <p ng-if="param.type!='NOTE'"
       class="help-block"
       ng-bind-html="param.description"></p>
</div>