<div class="inmodal"
     cg-busy="{promise: $ctrl.reportRunningDeferred.promise, message: $ctrl.progressMessage}">
    <div class="modal-header">
        <h4 class="modal-title">Generate Report</h4>
    </div>
    <form ng-submit="$ctrl.runReport()"
          id="cato-generate-report-form"
          name="catoGenerateReportForm">
        <div class="modal-body"
             cg-busy="$ctrl.report_info.$promise">
            <div class="row mb15">
                <h3 class="text-center" ng-if="$ctrl.report_info.reports.length === 0">No reports to run!</h3>
                <div class="col-sm-12" ng-if="$ctrl.report_info.reports.length > 0">
                    <div class="btn-group"
                         uib-dropdown>
                        <button id="btn-select-report"
                                type="button"
                                class="btn btn-primary"
                                uib-dropdown-toggle>
                            Select Report <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu"
                            uib-dropdown-menu
                            role="menu"
                            aria-labelledby="btn-select-report">
                            <li role="menuitem"
                                data-ng-repeat="report in $ctrl.report_info.reports">
                                <a ng-click="$ctrl.selectReport(report)"
                                   ng-bind="report.name"
                                   uib-tooltip="{{report.description}}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mb15"
                 ng-if="$ctrl.report">
                <div class="col-sm-12">
                    <div class="btn-group"
                         uib-dropdown>
                        <button id="btn-select-format"
                                type="button"
                                class="btn btn-primary"
                                uib-dropdown-toggle>
                            Select Format <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu"
                            uib-dropdown-menu
                            role="menu"
                            aria-labelledby="btn-select-format">
                            <li role="menuitem"
                                data-ng-repeat="format in $ctrl.report_info.formats">
                                <a ng-click="$ctrl.selectFormat(format)"
                                   ng-bind="format"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <h3>
                <ul class="list-inline">
                    <li class="list-inline-item"
                        style="font-weight:bold"
                        ng-bind="$ctrl.report.name"></li>
                    <li class="list-inline-item"
                        ng-if="$ctrl.format">in</li>
                    <li class="list-inline-item"
                        style="font-weight:bold"
                        ng-bind="$ctrl.format"></li>
                </ul>
            </h3>

            <uib-tabset class="row"
                        ng-if="$ctrl.report && $ctrl.format"
                        active="$ctrl.currentTab">
                <uib-tab index="$ctrl.RUN_INDEX"
                         heading="Run Report"
                         select="$ctrl.loadReportParameters()">
                    <div class="mt15"
                         cg-busy="$ctrl.report.parameters.$promise">

                        <div class="form-group col-sm-12"
                             data-ng-if="$ctrl.report.parameters.length === 0 && $ctrl.report.parameters.$resolved">
                            This report does not accept any parameters. Click the Generate Report button below to run
                            it.
                        </div>
                        <div class="form-group col-sm-12"
                             data-ng-repeat="param in $ctrl.report.parameters"
                             data-ng-if="!param.hidden">
                            <label class="control-label"
                                   ng-attr-for="{{param.id}}">
                                <span ng-bind="param.label"></span>
                                <span ng-if="param.description">
                                    <i class="fa fa-info-circle"
                                       uib-tooltip="{{param.description}}"></i>
                                </span>
                                <span ng-if="param.required">*</span>
                            </label>
                            <div ng-if="$ctrl.gdata.isOperator && param.id === 'customer_id'">
                                <condensed-customer-filter set-customer="$ctrl.setCustomerParamId(customer, param)"
                                                           placeholder="'to view associated users'"
                                                           ng-required="param.required"
                                                           ng-disabled="param.read_only"></condensed-customer-filter>
                            </div>
                            <div ng-if="param.id === 'ApplianceID'">
                                <appliance-filter set-appliance="$ctrl.setApplianceParamId(appliance, param)"
                                                  appliances="$ctrl.appliances"
                                                  ng-required="param.required"
                                                  ng-disabled="param.read_only"></appliance-filter>
                            </div>
                            <div ng-switch="param.type.toUpperCase()">
                                <div ng-switch-when="TEXT">
                                    <input type="text"
                                           name="{{param.label}}"
                                           ng-disabled="param.read_only"
                                           ng-model="param.value"
                                           class="form-control"
                                           ng-init="param.value = param.value || param.default"
                                           ng-pattern="param.validation.pattern"
                                           ng-required="param.required" />
                                </div>
                                <div ng-switch-when="NUMBER">
                                    <input type="number"
                                           name="{{param.label}}"
                                           ng-disabled="param.read_only"
                                           ng-model="param.value"
                                           class="form-control"
                                           max="{{param.validation.max}}"
                                           min="{{param.validation.min}}"
                                           ng-init="param.value = param.value || param.default"
                                           ng-if="!param.hide_form"
                                           ng-required="param.required" />
                                </div>
                                <div ng-switch-when="DATE"
                                     class="input-group">
                                    <input type="text"
                                           name="{{param.label}}"
                                           uib-datepicker-popup="yyyy-MM-dd"
                                           is-open="param._dateOpen"
                                           ng-disabled="param.read_only"
                                           ng-model="param.value"
                                           class="form-control"
                                           max="{{param.validation.max}}"
                                           min="{{param.validation.min}}"
                                           ng-init="param.value = param.value || param.default"
                                           ng-required="param.required" />
                                    <span class="input-group-btn">
                                        <button type="button"
                                                class="btn btn-default"
                                                ng-click="param._dateOpen = true"><i
                                               class="glyphicon glyphicon-calendar"></i></button>
                                    </span>

                                </div>
                                <div ng-switch-when="DATETIME"
                                     ng-init="param.date = param.time = param.value = param.value || param.default">

                                    <div class="input-group">
                                        <input type="text"
                                               name="{{param.label}}"
                                               uib-datepicker-popup="yyyy-MM-dd"
                                               is-open="param._dateOpen"
                                               ng-disabled="param.read_only"
                                               ng-model="param.date"
                                               class="form-control"
                                               max="{{param.validation.max}}"
                                               min="{{param.validation.min}}"
                                               ng-required="param.required" />
                                        <span class="input-group-btn">
                                            <button type="button"
                                                    class="btn btn-default"
                                                    ng-click="param._dateOpen = true"><i
                                                   class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                    <div uib-timepicker show-seconds="true"
                                                    ng-disabled="param.read_only"
                                                    ng-model="param.time"
                                                    max="param.validation.max || undefined"
                                                    min="param.validation.min || undefined"
                                                    ng-required="param.required"></div>
                                </div>
                                <div ng-switch-when="TIME">
                                    <div uib-timepicker show-seconds="true"
                                                    ng-disabled="param.read_only"
                                                    ng-model="param.value"
                                                    max="param.validation.max || undefined"
                                                    min="param.validation.min || undefined"
                                                    ng-init="param.value = param.value || param.default"
                                                    ng-required="param.required"></div>

                                </div>
                                <div ng-switch-when="BOOLEAN"
                                     class="btn-group"
                                     ng-init="param.value = (param.value!==undefined) ? param.value : (param.default=='true' || param.default)">
                                    <label ng-model="param.value"
                                           class="btn btn-default"
                                           ng-disabled="param.read_only"
                                           uib-btn-radio="true">True</label>
                                    <label ng-model="param.value"
                                           class="btn btn-default"
                                           ng-disabled="param.read_only"
                                           uib-btn-radio="false">False</label>
                                </div>
                                <div ng-switch-when="SELECT">
                                    <select ng-model="param.value"
                                            ng-disabled="param.read_only"
                                            ng-init="param.value = param.value || param.default"
                                            ng-required="param.required"
                                            ng-options="opt.value as opt.label for opt in param.options"
                                            class="form-control"></select>
                                </div>
                                <div ng-switch-when="MULTISELECT">
                                    <select ng-model="param.value"
                                            ng-disabled="param.read_only"
                                            ng-init="param.value = param.value || param.default"
                                            ng-required="param.required"
                                            ng-options="opt.value as opt.label for opt in param.options"
                                            multiple="multiple"
                                            class="form-control"></select>
                                </div>
                                <div ng-switch-when="RADIO">
                                    <select ng-model="param.value"
                                            ng-disabled="param.read_only"
                                            ng-init="param.value = param.value || param.default"
                                            ng-required="param.required"
                                            ng-options="opt.value as opt.label for opt in param.options | filter:{label:'!---'}"
                                            class="form-control"></select>
                                </div>
                                <div ng-switch-when="CHECKBOXES">
                                    <select ng-model="param.value"
                                            ng-disabled="param.read_only"
                                            ng-init="param.value = param.value || param.default"
                                            ng-required="param.required"
                                            ng-options="opt.value as opt.label for opt in param.options"
                                            multiple="multiple"
                                            class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <!--
                                <div class="form-group col-sm-12">
                                    <label class="control-label" for="report_timeframe">Report time frame</label>
                                    <select class="form-control"
                                           id="report_timeframe"
                                           name="report_timeframe"
                                           required="required"
                                           ng-model="report.timeframe" >
                                        <option value=""></option>
                                        <option value="Last Week">Last Week</option>
                                        <option value="Last Month">Last Month</option>
                                        <option value="Last Quarter">Last Quarter</option>
                                        <option value="Last Year">Last Year</option>
                                        <option value="Year-to-date">Year-to-date (YTD)</option>
                                        <option value="Quarter-to-date">Quarter-to-date</option>
                                        <option value="Month-to-date">Month-to-date (MTD)</option>
                                        <option value="Past 90 days">Past 90 days</option>
                                        <option value="Past 30 days">Past 30 days</option>
                                    </select>
                                </div>
                    -->
                    </div>

                </uib-tab>
                <uib-tab index="$ctrl.EXISTING_INDEX"
                         heading="View Existing Reports"
                         select="$ctrl.loadExistingReports()">
                    <div class="mt15"
                         cg-busy="$ctrl.report.existing.$promise">
                        Existing reports:
                        <ul>
                            <li data-ng-repeat="report in $ctrl.report.existing | orderBy: 'timestamp':true">
                                <a ng-click="$ctrl.downloadExisting(report, false, true)">
                                    {{report.name}} on {{report.timestamp | amUtc | amLocal | amDateFormat:'lll'}}
                                </a>
                                (<span am-time-ago="report.timestamp"></span>)
                            </li>

                        </ul>
                    </div>
                </uib-tab>
            </uib-tabset>

        </div>
        <!-- /modal-body -->
        <div class="modal-footer">
            <button type="reset"
                    class="btn"
                    ng-click="$ctrl.dismiss('cancel')">Cancel</button>
            <button type="submit"
                    class="btn btn-primary formSubmit"
                    ng-disabled="!$ctrl.report || !$ctrl.format || catoGenerateReportForm.$invalid || $ctrl.currentTab === $ctrl.EXISTING_INDEX">Generate</button>
        </div>
        <!-- /modal-footer -->
    </form>
</div>
<!-- /inmodal -->