<form novalidate
      name="operationTemplateForm">
    <div class="modal-body">
        <div class="well">
            <h3>Create a template</h3>
            <p>
                Please fill out the following fields to create a new Operation Template
            </p>
            <div class="form-group">
                <label for="name">Template Name*</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       name="name"
                       ng-model="template.name"
                       required
                       autofocus>
            </div>
            <div class="form-group">
                <label for="state">State*</label>
                <select class="form-control"
                        name="state"
                        id="state"
                        ng-model="template.state"
                        required
                        ng-options="s.value as s.display_name for s in operationTemplateConfig.state.choices | orderBy:'display_name'">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label for="service">Service*</label>
                <select class="form-control"
                        name="service"
                        id="service"
                        ng-model="template.service"
                        required
                        ng-options="service.id as service.name for service in gdata.services |orderBy:'name'">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text"
                       class="form-control"
                       id="description"
                       name="description"
                       ng-model="template.description"
                       placeholder="{{template.name}}">
            </div>
            <div class="form-group">
                <label for="operationType">Type*</label>
                <select class="form-control"
                        name="operationType"
                        id="operationType"
                        ng-model="template.operationType"
                        required
                        ng-options="t.value as t.display_name for t in operationTemplateConfig.operationType.choices | orderBy:'display_name'">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label for="targettypes">Target Type*</label>
                <select class="form-control"
                        name="targettypes"
                        id="targettypes"
                        ng-model="template.targettypes"
                        required
                        multiple
                        ng-options="t.value as t.display_name for t in operationTemplateConfig.targettypes.choices | orderBy:'display_name'">
                </select>
            </div>
            <div class="form-group ">
                <label for="requiredLevel">Required Level*</label>
                <input name="requiredLevel"
                       id="requiredLevel"
                       class="form-control"
                       type="number"
                       min="1"
                       step="1"
                       max="{{user.level}}"
                       required
                       ng-model="template.requiredLevel" />
            </div>
        </div>
    </div>
    <footer class="modal-footer">
        <button class="btn btn-danger"
                ng-click="$cancel()">Cancel</button>
        <button ng-disabled="operationTemplateForm.$invalid"
                class="btn btn-default"
                ng-if="!$isLast()"
                ng-click="addOrUpdateOperationTemplate()">
            Next
            <span class="fa fa-chevron-right"></span>
        </button>
        <button class="btn btn-default"
                ng-disabled="operationTemplateForm.$invalid"
                ng-click="addOrUpdateOperationTemplate(true)">
            Done (No Tasks)
            <span class="fa fa-chevron-right"></span>
        </button>
    </footer>
</form>
