<div class="modal-body">
    <div class="well">
        <h3>Add tasks to your template</h3>
        <p>
            Please order Tasks for your new Operation Template
        </p>

        <ul data-as-sortable="dragControlListeners"
            data-ng-model="template.tasktemplates"
            class="cards card-list">
            <li data-ng-repeat="task in template.tasktemplates"
                data-as-sortable-item
                class="card as-sortable-item">
                <div data-as-sortable-item-handle
                     class="as-sortable-item-handle">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 ng-bind="task.name"></h4>
                            <p ng-bind="task.description"></p>
                        </div>
                        <div class="col-sm-2">
                            <a data-no-drag
                               class="removeCard pull-right btn btn-xs"
                               ng-click="deleteTask(template, task)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<footer class="modal-footer">
    <button class="btn btn-default"
            ng-click="$previousStep()">
        <span class="fa fa-chevron-left"></span> Back
    </button>
    <button class="btn btn-danger"
            ng-click="$cancel()">Cancel</button>
    <button class="btn btn-default"
            ng-click="finish()">
        Done
        <span class="fa fa-chevron-right"></span>
    </button>
</footer>