<form novalidate
      name="operationTemplateTasksForm">
    <div class="modal-body">
        <div class="well">
            <h3>Add tasks to your template</h3>
            <p>
                Please add Tasks to your new Operation Template
            </p>
            <div class="form-group">
                <label for="process">Process</label>
                <select class="form-control"
                        ng-model="thisTaskTemplate.process"
                        name="process"
                        id="process"
                        class="form-control"
                        required
                        ng-options="p.value as p.display_name for p in taskConfig.process.choices">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label"
                       for="application">Application<span
                          ng-show="thisTaskTemplate.process == 'automated'">*</span></label>
                <i ng-if="thisTaskTemplate.process == 'manual'"
                   class="fa fa-info-circle"
                   uib-tooltip="For manual tasks, set the application to 'N/A' if no tool output is expected. If tool output is expected, but there is no task app to analyze it, set the application to 'other'.  If there is a task app for the tool used for this task, choose that application and select an appropriate workflow."></i>
                <select class="form-control"
                        ng-model="thisTaskTemplate.application"
                        name="application"
                        id="application"
                        class="form-control"
                        ng-required="thisTaskTemplate.process == 'automated'"
                        ng-options="p.value as p.display_name for p in taskConfig.application.choices | orderBy:'display_name'">
                </select>
            </div>
            <div class="form-group">
                <label for="workflow">Workflow<span ng-show="thisTaskTemplate.process == 'automated'">*</span></label>
                <i ng-if="thisTaskTemplate.process == 'automated'"
                   class="fa fa-info-circle"
                   uib-tooltip="An automated workflow is a sequence of one or more Celery tasks that perform some action (such as a port scan or DNS lookup) and analyze the result to produce findings."></i>
                <i ng-if="thisTaskTemplate.process == 'manual'"
                   class="fa fa-info-circle"
                   uib-tooltip="A manual workflow is a sequence of one or more Celery tasks that analyze operator-supplied output from a manual task to produce findings."></i>
                <select class="form-control"
                        name="workflow"
                        id="workflow"
                        ng-model="thisTaskTemplate.workflow"
                        ng-required="thisTaskTemplate.process == 'automated'"
                        ng-options="name as wf.label for (name,wf) in taskConfig.workflow.options[thisTaskTemplate.application][thisTaskTemplate.process]">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label"
                       for="name">Name*</label>
                <input ng-model="thisTaskTemplate.name"
                       name="name"
                       id="name"
                       class="form-control"
                       required
                       type="text"
                       ng-trim="true"
                       ng-minlength="taskConfig.name.min_length"
                       ng-maxlength="taskConfig.name.max_length" />
                <div class="help-block"
                     ng-show="thisTaskTemplate.name.$error.minlength">
                    Name too short, minimum length <span ng-bind="taskConfig.name.min_length"></span>.
                </div>
                <div class="help-block"
                     ng-show="thisTaskTemplate.name.$error.maxlength">
                    Name too long, maximum length <span ng-bind="taskConfig.name.max_length"></span>.
                </div>
            </div>
            <div class="form-group">
                <label class="control-label"
                       for="description">Description</label>
                <input ng-model="thisTaskTemplate.description"
                       name="description"
                       id="description"
                       class="form-control"
                       placeholder="{{thisTaskTemplate.name}}"
                       type="text"
                       ng-trim="true"
                       ng-minlength="taskConfig.description.min_length"
                       ng-maxlength="taskConfig.description.max_length" />

                <div class="help-block"
                     ng-show="thisTaskTemplate.description.$error.minlength">
                    Description too short, minimum length <span ng-bind="taskConfig.description.min_length"></span>.
                </div>
                <div class="help-block"
                     ng-show="thisTaskTemplate.description.$error.maxlength">
                    Description too long, maximum length <span ng-bind="taskConfig.description.max_length"></span>.
                </div>
            </div>
            <div class="form-group">
                <label class="control-label"
                       for="url">Wiki Page*</label>
                <i class="fa fa-info-circle"
                   uib-tooltip="Supply the page of the {{::catotheme.appName}} wiki entry for this task"></i>
                <input ng-model="thisTaskTemplate.url"
                       name="url"
                       id="url"
                       class="form-control"
                       required
                       type="text"
                       placeholder="My_Wiki_Page"
                       ng-trim="true"
                       ng-minlength="taskConfig.url.min_length"
                       ng-maxlength="taskConfig.url.max_length" />

                <div class="help-block"
                     ng-show="thisTaskTemplate.url.$error.minlength">
                    URL too short, minimum length <span ng-bind="taskConfig.url.min_length"></span>.
                </div>
                <div class="help-block"
                     ng-show="thisTaskTemplate.url.$error.maxlength">
                    URL too long, maximum length <span ng-bind="taskConfig.url.max_length"></span>.
                </div>
            </div>
            <div class="form-group"
                 ng-if="shouldShowParameterSelection()">
                <label class="control-label">Parameters:</label>
                <div class="well">
                    <task-parameters task="thisTaskTemplate"
                                     parameters="taskConfig.workflow.options[thisTaskTemplate.application][thisTaskTemplate.process][thisTaskTemplate.workflow].template_parameters"
                                     form="tasktemplateform">
                    </task-parameters>
                </div>
            </div>
        </div>
    </div>
    <footer class="modal-footer">
        <button class="btn btn-danger"
                ng-click="$cancel()">Cancel</button>
        <button class="btn btn-default"
                ng-disabled="operationTemplateTasksForm.$invalid"
                ng-click="saveTaskTemplate()">Save and add another task
        </button>
        <button ng-disabled="operationTemplateTasksForm.$invalid"
                class="btn btn-default"
                ng-click="saveTaskTemplate(); $nextStep()">
            Next
            <span class="fa fa-chevron-right"></span>
        </button>
        <button ng-if="template.tasktemplates.length > 0"
                class="btn btn-default"
                ng-click="$nextStep()">
            Skip
            <span class="fa fa-angle-double-right"></span>
        </button>
    </footer>
</form>