<ui-view></ui-view> <!-- for modal sub-states -->
<div class="tabs-container">
    <div class="row"
         cg-busy="[$ctrl.currentRunResponse.$promise,$ctrl.previousRunResponse.$promise, $ctrl.accessGroupsResponse.$promise,$ctrl.runListResponse.$promise, $ctrl.attackSurfaceData._updateResponse.$promise]">
        <div class="col-lg-12 mb5">
            <table class="table noborder"
                   style="margin-bottom: 0px !important;">
                <tr>
                    <td class="col-xs-6 m0 pt5 pb5">
                        <h3 class="m0">ATTACK SURFACE</h3>
                    </td>
                    <td ng-if="$ctrl.customer && $ctrl.activePill === 0 && $ctrl.movedOrResized()"
                        class="col-xs-6">
                        <div class="btn-group pull-right">
                            <button type="button"
                                    class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                Reset widgets <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu"
                                role="menu">
                                <li>
                                    <a href
                                       ng-click="$ctrl.resetWidgets($event)"
                                       title="Hold alt and shift to forcibly regenerate all widgets">
                                        Reset to default widget view
                                    </a>
                                </li>
                                <li ng-repeat="widget in user.ui_data.widgets | filter: {show: false}">
                                    <a href
                                       ng-click="$ctrl.showWidget(widget)"
                                       ng-bind="widget.title"></a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>

            <div ng-if="$ctrl.attackSurfaceSummaryData && $ctrl.attackSurfaceData"
                 class="row mb5"
                 ng-show="$ctrl.customer">
                <uib-tabset active="$ctrl.activePill"
                            class="col-md-8"
                            type="pills"
                            style="padding-right: 0;
                        margin-right: -10px;">
                    <uib-tab ng-repeat="tab in $ctrl.tabs track by $index"
                             select="tab.selectAction($event)"
                             deselect="tab.deselectAction($event)"
                             ng-if="tab.show(tab)"
                             classes="btn-sm small-nav"
                             style="padding:0px">
                        <uib-tab-heading>
                            <span ng-class="tab.className"
                                  ng-bind="tab.heading"></span>
                        </uib-tab-heading>
                    </uib-tab>
                </uib-tabset>
                
                <div style="margin-right: 1.5em">
                    <div class="attack-surface em17 no-padding pull-right">
                        <select ng-if="$ctrl.$rootScope.user.pocs.length > 0 || $ctrl.gdata.isOperator"
                                name="selectedAttackZone"
                                id="selectedAttackZone"
                                ng-model="$ctrl.selectedAttackZone"
                                class="form-control"
                                ng-options="zone as zone.name for zone in $ctrl.attackZones track by zone.id"
                                ng-change="$ctrl.getData()">
                        </select>
                    </div>
                    <div class="attack-surface em9 no-padding pull-right">
                        <select name="selectedRun"
                                id="selectedRun"
                                ng-model="$ctrl.selectedRun"
                                class="form-control"
                                ng-options="report.display disable when !report.accessGroups[$ctrl.selectedAttackZone.id] for report in $ctrl.runs track by report.id"
                                ng-change="$ctrl.selectReport(true)">
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <h3 class="col-lg-12"
            ng-cloak
            ng-if="!$ctrl.gdata.isCustomer && !$ctrl.customer">
            Please select {{::$ctrl.aAn($ctrl.catotheme.customer)}} {{::$ctrl.catotheme.customer}} to manage to see
            Attack Surface results.
        </h3>
        <h3 ng-if="!$ctrl.gdata.isCustomer && $ctrl.customer && $ctrl.currentRunResponse.$resolved && !($ctrl.attackSurfaceSummaryData || $ctrl.attackSurfaceData)"
            class="col-lg-12"
            ng-cloak>
            The selected {{::$ctrl.catotheme.customer}} does not yet have any Attack Surface results.
        </h3>
        <h3 ng-if="$ctrl.gdata.isCustomer && $ctrl.currentRunResponse.$resolved && !($ctrl.attackSurfaceSummaryData || $ctrl.attackSurfaceData)"
            class="col-lg-12"
            ng-cloak>
            No Attack Surface results have been generated yet.
        </h3>

        <div class="col-lg-12"
             ng-if="$ctrl.customer && $ctrl.attackSurfaceSummaryData && $ctrl.attackSurfaceData">
            <ul gridster="$ctrl.gridsterOpts">
                <li gridster-item="widget"
                    class="gridster-item"
                    ng-repeat="widget in $ctrl.widgets | filter:{show: true} track by widget.title"
                    ng-class="widget.gridsterClasses">
                    <div ng-include="widget.templateUrl"
                         style="height: 100%;"
                         ng-attr-id="widget-{{widget.id}}"></div>
                </li>
            </ul>
        </div>
    </div>
</div>