<div class="input-group">
    <input type="text"
           class="form-control"
           uib-datepicker-popup="{{$ctrl.format}}"
           ng-model="$ctrl.value"
           is-open="$ctrl.popup.opened"
           datepicker-options="$ctrl.dateOptions"
           ng-required="true"
           close-text="Close"
           alt-input-formats="altInputFormats"
           ng-change="$ctrl.update($ctrl.dateName,$ctrl.value)" />
    <span class="input-group-btn">
        <button type="button"
                class="btn btn-default"
                ng-click="$ctrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</div>