<mat-card ng-class="'box'">
    <div class="row"
         ng-if="gdata.isOperator">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <condensed-customer-filter set-customer="loadMessagesByCustomer(customer)"
                                           initial-customer="customer"
                                           placeholder="'to see associated messages'"></condensed-customer-filter>
            </div>
        </div>
    </div>
    <table class="table noborder"
           ng-click="toggleChildMessages()">
        <tr>
            <td class="col-sm-12">
                <h3><a ng-click="hideArchived()"
                       ng-class="{'drk-gray-txt': showArchived}">MESSAGES</a> | <a ng-click="archived()"
                       ng-class="{'drk-gray-txt': !showArchived}">VIEW ARCHIVED</a></h3>
            </td>
        </tr>
    </table>
    <div class="jB">
        <button class="message-fab-y hC"
                role="menuitem"
                tabindex="0"
                ng-click="addNewMessage()">
            <i class="o8 bY fa fa-pencil"
               aria-hidden="true"></i>
        </button>
    </div>
    <table class="table table-mail">
        <tr ng-include="'/app/message/msgCompose.html'"
            class="message-row compose"
            ng-show="compose"></tr>
    </table>
    <table class="table table-mail table-fixed"
           cg-busy="{promise: messagesLoading, message: 'Loading messages'}">
        <tbody class="messages"
               ng-repeat="messageObj in data.messageObjs | orderObjectBy:'lastMessageInThread':true"
               ng-init="msgKey = getMsgKeyFromMessageObjs(messageObj)">
            <tr class="message-row"
                ng-if="(!messageObj.archived && !showArchived) || (messageObj.archived && showArchived)">
                <td rowspan=2
                    class="nobreak va-top lh2"
                    style="width: 29px"
                    ng-class="[messageObj.color]"
                    ng-click="toggleChildMessages(messageObj.messages)">
                    <i ng-class="['fa', messageObj.icon]"
                       tooltip-placement="top"
                       uib-tooltip="{{messageObj.tooltip}}"></i>
                </td>
                <td style="border-bottom: #cccccc">
                    <div ng-repeat="message in data.messageObjs[msgKey].messages | orderBy:'created'">
                        <div ng-if="$first">
                            <div class="show-message-actions-on-hover">
                                <div class="row">
                                    <div class="col-md-10 table_layout"
                                         ng-click="toggleChildMessages(msgKey)">
                                        <i class="pull-left drk-gray-txt">Between {{getRecipients(message)}} & Me</i><br />
                                        <div class="pull-left">
                                            <span ng-if="isFindingThread(message)"
                                                  class="font1-5x">
                                                <b ng-bind="message.finding.title"></b>
                                                <div class="label label-sm ml10 mr10"
                                                     ng-class="'label-'+getSeverityLevel(message.finding.severity).toLowerCase()"
                                                     ng-bind="getSeverityLevel(message.finding.severity)"></div>
                                                <a class="message-actions"
                                                   ng-if="!gdata.isCustomer"
                                                   target="_blank"
                                                   ui-sref="cato.loggedIn.operator.findingDetail({operation_id: (message.finding.operation.id || message.finding.operation),
                                                                                         finding_id: message.finding.id})">
                                                    <i class="fa fa-external-link "
                                                       aria-hidden="true"></i>
                                                </a>
                                                <a class="message-actions"
                                                   ng-if="gdata.isCustomer"
                                                   target="_blank"
                                                   ui-sref="cato.loggedIn.service.campaign.operation.findings({
                                                                service_name: gdata.serviceMap[message.finding.service].short_name,
                                                                campaign_id: message.finding.campaign,
                                                                operation_id: message.finding.operation,
                                                                finding_id: message.finding.id})">
                                                    <i class="fa fa-external-link"
                                                       aria-hidden="true"></i>
                                                </a>
                                            </span>
    
                                            <span ng-if="!isFindingThread(message)"
                                                  class="font1-5x">
                                                <b ng-bind="message.customthread.title"></b>
                                                <i class="fa fa-commenting-o"
                                                   ng-if="!isFindingThread(message)"
                                                   aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <div ng-hide="messageObj.visible">
                                            <div class="nowrap hidden_overflow last_msg drk-gray-txt"
                                                 ng-bind="data.messageObjs[msgKey].messages[data.messageObjs[msgKey].messages.length-1].value">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"
                                         ng-class="'finding_title_'+messageObjs[msgKey].finding.id">
                                        <div class="btn-group pull-right message-actions">
                                            <span
                                                  ng-hide="data.messageObjs[msgKey].messages.length === 1 && messageObj.messages[0].author.id === user.id">
                                                <i ng-if="!messageObj.read"
                                                   ng-click="markAllAsReadWithMsgObj(messageObj)"
                                                   class="fa fa-eye fa-border"
                                                   uib-tooltip="Mark all as read"></i>
                                                <i ng-if="messageObj.read"
                                                   ng-click="markAllAsUnReadWithMsgObj(messageObj)"
                                                   class="fa fa-eye-slash fa-border"
                                                   uib-tooltip="Mark all as un-read"></i>
                                            </span>
    
                                            <i ng-if="messageObj.archived"
                                               class="fa fa-folder-open-o fa-border"
                                               ng-click="markAllArchived(messageObj, false)"
                                               uib-tooltip="Un-archive"></i>
                                            <i ng-if="!messageObj.archived"
                                               class="fa fa-archive fa-border"
                                               ng-click="markAllArchived(messageObj, true)"
                                               uib-tooltip="Archive"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row"
                                     ng-click="toggleChildMessages(msgKey)">
                                    <div class="col-md-12">
                                        <span class="drk-gray-txt pr10"> <span ng-bind="messageObj.messages.length"></span>
                                            Message<span ng-if="data.messageObjs[msgKey].messages.length > 1">s</span> from:
                                            <span
                                                  ng-repeat="message in data.messageObjs[msgKey].messages | unique: 'author.id'">
                                                <button type="button"
                                                        class="btn btn-user-info-invisible"
                                                        ng-class="{'bold drk-gray-txt' : message.state.read !== true && message.author.id !== user.id, 'mr-4px' : !$last}"
                                                        ng-bind="messageAuthor(message)"
                                                        uib-tooltip="{{message.created | amUtc | amLocal | amDateFormat:'lll'}}"
                                                        tooltip-placement="top-left">
                                                </button>
                                                <span ng-if="!$last">,</span>
                                            </span>
                                            <button type="button"
                                                    class="btn btn-user-info-invisible"
                                                    am-time-ago="messageObj.lastMessageInThread"
                                                    uib-tooltip="{{messageObj.lastMessageInThread | amUtc | amLocal | amDateFormat:'lll'}}"
                                                    tooltip-placement="top-left">
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="messageObj.visible"
                             ng-click="markAllAsReadWithMsgObj(messageObjs[msgKey])"
                             ng-include="'/app/message/messageThread.html'">
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="message-row compose"
                ng-if="messageObj.visible && ((!messageObj.archived && !showArchived) || (messageObj.archived && showArchived))">
                <td style="padding:0;"
                    ng-include="'/app/message/msgCompose.html'">
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>
