<div class="clearfix relative"
     ng-if="!isMe(message)">
     <user-icon user="message.author"
                class="msg_icon"></user-icon>
     <div class="name"
          ng-bind="getNameOrRole(message)"></div>
     <div class="msg other"
          uib-tooltip="{{message.created | amUtc | amLocal | amDateFormat:'lll'}}"
          tooltip-placement="right-center"
          tooltip-append-to-body="true">{{message.value}}<attachment-list attachments="message.attachments"></attachment-list></div>
</div>
<div ng-if="isMe(message)"
     class="me-wrapper">
     <div class="msg me"
          uib-tooltip="{{message.created | amUtc | amLocal | amDateFormat:'lll'}}"
          tooltip-placement="left-center"
          tooltip-append-to-body="true">{{message.value}}<attachment-list attachments="message.attachments"></attachment-list></div>
</div>