<form name="messageForm"
      class="mt5"
      ng-click="markAllAsReadWithMsgObj(messageObj)">
    <div class="chat-message-form">
        <!-- COMPANY -->
        <div class="form-group input-group"
             ng-class="{'has-error, has-feedback': noCustomerFound}"
             ng-if="gdata.isOperator && compose">
            <span class="input-group-addon"
                  uib-tooltip="{{::catotheme.msgCompose.sendToAllTooltip}}"
                  tooltip-append-to-body="true">
                <i class="fa fa-building"
                   aria-hidden="true"></i>
            </span>
            <input name="customer"
                   id="customer"
                   type="text"
                   class="form-control mb10"
                   placeholder="Enter a {{::catotheme.extendedCustomer}}"
                   ng-model="messageFormData.customer"
                   typeahead-editable="false"
                   ng-blur="data.noCustomerFound = null"
                   uib-typeahead="customer as customer.name for customer in gdata.customers | filter:$viewValue | limitTo:12"
                   typeahead-no-results="data.noCustomerFound"
                   uib-typeahead-min-length="0"
                   ng-disabled="messageFormData.username" />
            <span ng-if="data.noCustomerFound"
                  uib-dropdown
                  uib-dropdown-toggle
                  is-open="true"
                  style="top: -11px;">
                <ul class="dropdown-menu"
                    ng-click="data.noCustomerFound = null"
                    ng-style="{top: position().top+'px', left: position().left+'px'}"
                    role="listbox"
                    aria-hidden="false">
                    <li role="option"
                        class="active">
                        <a title="{{::catotheme.customer}} not found">{{::catotheme.customer}} not found</a>
                </ul>
            </span>
        </div>
        <!-- TO: User -->
        <div class="form-group input-group"
             ng-if="compose">
            <span class="input-group-addon"
                  uib-tooltip="Send to a single user or alias only"
                  tooltip-append-to-body="true"
                  ng-click="showAddresses()">
                <i class="fa fa-user font-size19"
                   aria-hidden="true"></i>
            </span>

            <input name="user"
                   type="text"
                   ng-model="messageFormData.user"
                   placeholder="Name, Username or Email {{messageFormData.customer.name ? '' : '*'}}"
                   typeahead-show-on-focus
                   uib-typeahead="user as user.userInfo for user in gdata.messagingUsers | filter:$viewValue |filter:{customer:messageFormData.customer.id}:true"
                   class="form-control"
                   typeahead-show-hint="true"
                   typeahead-min-length="0"
                   typeahead-focus-on-select="false"
                   typeahead-editable="false"
                   ng-blur="data.noUserFound = null"
                   typeahead-no-results="data.noUserFound"
                   ng-required="!messageFormData.customer">
            <span ng-if="data.noUserFound"
                  uib-dropdown
                  uib-dropdown-toggle
                  is-open="true"
                  style="top: 34px;left: 39px; position: absolute;">
                <ul class="dropdown-menu"
                    ng-click="data.noUserFound = null"
                    ng-style="{top: position().top+'px', left: position().left+'px'}"
                    role="listbox"
                    aria-hidden="false">
                    <li role="option"
                        class="active">
                        <a title="User not found">User not found</a>
                    </li>
                </ul>
            </span>
        </div>
        <!-- SUBJECT -->
        <div class="form-group input-group"
             ng-if="compose">
            <span class="input-group-addon"><i class="fa fa-pencil-square-o"
                   aria-hidden="true"></i></span>
            <input name="title"
                   type="text"
                   required
                   class="form-control mb10"
                   placeholder="Message Subject*"
                   ng-model="messageFormData.title" />
        </div>
        <!-- MESSAGE -->
        <div class="form-group input-group">
            <span class="input-group-addon"
                  ng-if="compose"><i class="fa fa-envelope"
                   aria-hidden="true"></i></span>
            <textarea class="form-control message-input pull-left reply"
                      style="z-index: 0"
                      name="message"
                      placeholder="{{compose ? 'Your message here*' : 'Reply*'}}"
                      ng-model="messageFormData.value"
                      ng-minlength="config.value.min_length"
                      ng-maxlength="config.value.max_length"
                      required></textarea>
            <div class="col-sm-12 help-block"
                 ng-show="messageForm.message.$error.minlength">
                Message too short, minimum length <span ng-bind="config.value.min_length"></span>.
            </div>
            <div class="col-sm-12 help-block"
                 ng-show="messageForm.message.$error.maxlength">
                Message too long, maximum length <span ng-bind="config.value.max_length"></span>.
            </div>
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon"
                  ng-if="compose && messageFormData.queuedAttachments.length"><i class="fa fa-paperclip"
                   aria-hidden="true"></i></span>
            <div class="row"
                 ng-if="messageFormData.queuedAttachments.length">
                <div class="col-sm-12">
                    <div ng-repeat="file in messageFormData.queuedAttachments track by $index">
                        <span style="font-weight: bold;"
                              ng-bind="file.name"></span>
                        <span ng-bind="file.type"></span>
                        (<span ng-bind="file.size"></span>)
                        <button type="button"
                                class="fa fa-close" style="float: initial"
                                ng-click="messageFormData.queuedAttachments.splice($index, 1)"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group pull-right">
            <button type="submit"
                    class="btn btn-primary formSubmit"
                    ng-disabled="messageForm.$invalid ||
                                (compose && composeInvalid(messageFormData))"
                    ng-click="submitNewMessage(message, compose)">
                Submit Message
            </button>
            <button type="button"
                    class="btn btn-primary formSubmit"
                    ng-click="uploadAttachment(message)">
                Attach
            </button>
            <button type="reset"
                    class="btn"
                    ng-click="clearAndCollapse(messageObj)">
                Cancel
            </button>
        </div>
    </div>
</form>