<div class="container-fluid row">
    <div class="col-xs-6"> 
        <textarea placeholder="Plain Text" name="plainToB64" [(ngModel)]="plain.text" (change)="plainToB64()"></textarea>
    </div>

    <div class="col-xs-6">
        <textarea placeholder="Base 64" name="b64ToPlain" [(ngModel)]="base64.text" (change)="b64ToPlain()"></textarea>
    </div>
</div>
