@import (reference) "~bootstrap/less/variables";

div.container-fluid.row
{
	margin: 0;
	padding: 0;

	> div.col-xs-6
	{
		max-width: 50%;

		&:first-child
		{
			padding: 5px 2px 5px 5px;
		}
		&:last-child
		{
			padding: 5px 5px 5px 2px;
		}
		
		textarea
		{
			min-height: 300px;
			width: 100%;
			font-family: @font-family-monospace;
			resize: none;
		}
	}
}
