<div class="row"
     id="staticHeightContentServices1">
    <div class="ibox-content vpadding0">
        <h2 class="vpadding0 vmargin0">Requested Services</h2>
    </div>
    <!-- /ibox-content -->
</div>


<div class="row ">
    <div class="wrapper wrapper-content vmargin0 vpadding0"
         id="roeServicesContainer"
         style="margin-top:1em">
        <div class="ibox float-e-margins vmargin0 vpadding0">
            <div class="ibox-content col-md-10 vmargin0 vpadding0 d-inline-block"
                 id="staticHeightContentServices2">
                <h3>Please review the services to which you are subscribed.</h3>
            </div>
            <div class="col-md-12">
                <div class="col-xs-4 noHPadding flex flex-column"
                     id="roeServicesTableContainer">
                    <div class="text-left">
                        <h3>Available Services</h3>
                    </div>
                    <div style="overflow-y: auto;" class="flex-grow">
                        <table id="roeServicesSelectionsTable"
                               class="table">
                            <tbody>
                                <tr ng-repeat="service in $ctrl.services"
                                    role="button"
                                    ng-click="$ctrl.showDescription(service)"
                                    ng-class="{selected: service === $ctrl.displayedService}">
                                    <td>
                                        <i class="fa fa-2x green-chk fa-check-circle-o" ng-if="service.subscribed"></i>
                                        <i class="fa fa-2x lt-gray-txt fa-circle-o" ng-if="!service.subscribed"></i>
                                    </td>
                                    <td>
                                        <span ng-bind="service.name"></span>
                                    </td>
                                    <td>
                                        <i class="fa fa-info-circle" uib-tooltip="Click to view service description"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-6 noHPadding flex flex-column"
                     id="roeServicesDetailsContainer">
                    <div class="text-left">
                        <h3>Service Description</h3>
                    </div>
                    <div id="roeServicesDetailsContainerDescriptions"
                         class="flex-grow"
                         style="overflow-y: auto;">
                        <div ng-if="$ctrl.displayedService" class="selected-service">
                            <h4 class="text-center">Selected Service</h4>
                            <h5><span ng-bind="$ctrl.displayedService.name"></span>:</h5>
                            <span ng-bind="$ctrl.displayedService.service_description"></span>
                            <p ng-if="service.service_example_ops">
                                <strong>Example operations: </strong>
                                <span ng-bind="$ctrl.displayedService.service_example_ops"></span>
                            </p>
                            <hr>
                        </div>
                        <div>
                            <h4>Your Services</h4>
                            <table id="roeServicesDescriptionsTable"
                                   class="table"
                                   style="text-align: left">
                                <tbody>
                                    <tr ng-repeat="service in $ctrl.services | filter:{subscribed: true}">
                                        <td>
                                            <h5><span ng-bind="service.name"></span>:</h5>
                                            <span ng-bind="service.service_description"></span>
                                            <p ng-if="service.service_example_ops">
                                                <strong>Example operations: </strong>
                                                <span ng-bind="service.service_example_ops"></span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ibox-content -->
        </div>
        <!-- /ibox float-e-margins -->
    </div>
    <!-- /wrapper wrapper-content -->
</div>
<!-- /row -->
<back-and-next></back-and-next>