<div class="flex flex-column full-height">
    <h2>
        {{assessment.name}}
        <span class="badge" matTooltip="Goal Level: {{assessment.goalLevel}}">{{assessment.goalLevel}}</span>
    </h2>

    <form [formGroup]="questionFilterForm" style="padding: 20px">
        <mat-form-field appearance="standard" style="padding: 5px">
            <mat-label>Level</mat-label>
            <mat-select formControlName="currentLevel">
                <mat-option *ngFor="let level of levels" [value]="level">
                    Level {{level}}
                </mat-option>
            </mat-select>
            <mat-hint align="end">Select to filter by max compliance level</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="standard" style="padding: 5px">
            <mat-label>View</mat-label>
            <mat-select formControlName="currentQuestionView">
                <mat-option *ngFor="let questionView of questionViews | keyvalue" [value]="questionView.key">
                    {{questionView.key}}
                </mat-option>
            </mat-select>
            <mat-hint align="end">Select to filter by provided response</mat-hint>
        </mat-form-field>
    </form>


    <div class="flex flex-column flex-grow no-overflow">
        <mat-accordion displayMode="flat" [multi]="true" class="vscroll">
            <mat-expansion-panel
                    *ngFor="let section of sections"
                    [disabled]="!hasChildren(questionsBySectionLevel[section.id])">
                <mat-expansion-panel-header>
                    <mat-panel-title class="width-75">
                        {{section.name}} ({{section.identifier}})
                    </mat-panel-title>
                    <mat-panel-description class="width-25">
                        <question-progress [progress]="progress[section.id]" [needsProof]="section.needsProof"></question-progress>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-accordion displayMode="flat" [multi]="true">
                    <ng-container *ngFor="let questionsByLevel of questionsBySectionLevel[section.id] | keyvalue">
                    <mat-expansion-panel *ngIf="questionsByLevel.key <= assessment.goalLevel && 0!==questionsByLevel.value.length">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Level {{questionsByLevel.key}} Questions
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-grid-list cols="3" rowHeight="250px">
                          <mat-grid-tile *ngFor="let question of questionsByLevel.value">
                            <mat-card style="width: 95%; height: 95%;" [style.background]="getBackgroundColor(question.id)"
                                      class="flex flex-column">
                                <mat-card-content class="flex flex-grow">
                                    {{question.value}}
                                </mat-card-content>
                                <ng-container *ngIf="answersMap[question.id]">
                                <ng-container *ngFor="let answer of [answersMap[question.id]]">
                                <mat-card-actions class="flex review-card-footer">
                                    <a mat-flat-button
                                       class="review-card-button"
                                       *ngIf="answer.response"
                                       uiSref="^.questionnaire"
                                       [uiParams]="{
                                            assessmentId: assessment.id,
                                            sectionIdentifier: section.identifier,
                                            practiceIdentifierPart: ';' + question.practice}">
                                        <span aria-hidden="true" style="padding: 3px" class="fa fa-check" *ngIf="answer.response === 'YES'"></span>
                                        <span aria-hidden="true" style="padding: 3px" class="fa fa-times" *ngIf="answer.response === 'NO'"></span>
                                        <span aria-hidden="true" style="padding: 3px" class="fa fa-ban" *ngIf="answer.response === 'N/A'"></span>
                                        {{answer.response}}
                                    </a>
                                    <a mat-flat-button
                                       class="review-card-button center-block"
                                       uiSref="^.questionnaire"
                                       *ngIf="!answer || !answer.response"
                                       [uiParams]="{
                                            assessmentId: assessment.id,
                                            sectionIdentifier: section.identifier,
                                            practiceIdentifierPart: ';' + question.practice}">
                                            <span aria-hidden="true" style="padding: 3px" class="fa fa-exclamation"></span>
                                        Unanswered
                                    </a>
                                </mat-card-actions>
                                <mat-card-footer class="flex flex-column">
                                    <mat-list dense *ngIf="answer.evidence?.length">
                                      <mat-list-item  *ngFor="let evidence of answer.evidence">
                                        <button mat-button (click)="download(evidence)" class="review-evidence-name">
                                            <span aria-hidden="true" class="fa fa-download mr5"></span>
                                            <span>{{evidenceMap[evidence].name}}</span>
                                        </button>
                                      </mat-list-item>
                                    </mat-list>
                                </mat-card-footer>
                                </ng-container>
                                </ng-container>
                            </mat-card>
                          </mat-grid-tile>
                        </mat-grid-list>
                    </mat-expansion-panel>
                    </ng-container>
                </mat-accordion>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <span><a class="btn btn-primary pull-right mt15"
             uiSref="cato.loggedIn.dashboard.compliance.overview">Done</a></span>
</div>
