@import (reference) "../../../less/cato/colors.less";

:host
{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}

.mat-card {
  max-height: 250px;
  overflow-y: auto;
}

.review-card-footer {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px
}
.review-card-button {
    padding: 5px 30px 5px 30px;
}
.review-evidence-name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}


.no-overflow
{
    overflow: hidden;
}
.vscroll
{
    overflow-y: auto;
    margin-right: -10px;
    padding-right: 10px;
}

.width-25
{
    width: 25%;
}
.width-50
{
    width: 50%;
}
.width-75
{
    width: 75%;
}
.width-100
{
    width: 100%;
}


.badge
{
    display: inline-flex !important;
    align-items: center;
    justify-content: center;

    height: 25px;
    width: 25px;

    border: 2px solid @p-color-primary-btn;
    border-radius: 13px;

    font-family: "Courier New", Courier, monospace;

    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}
