<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title">TASK DETAILS</h3>
    </div>
    <!-- /modal-header -->

    <form class="form-horizontal"
          name="todoitemform">
        <div class="modal-body">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Title
                    </label>
                    <div class="col-sm-9">
                        <input type="text"
                               class="form-control"
                               ng-required="true"
                               ng-disabled="todo.resolved_at"
                               ng-model="todo.title"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{::catotheme.customerCapitalize}}
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control"
                                id="customer"
                                name="customer"
                                ng-change="gatherUsers()"
                                ng-model="todo.customer"
                                ng-options="customer.id as customer.name for customer in gdata.customers">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Priority
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control"
                                id="priority"
                                name="priority"
                                ng-model="todo.priority"
                                ng-options="option.index as option.label for option in priorities">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Due Date
                    </label>
                    <div class="col-sm-9">
                        <input type="text"
                               class="form-control col-sm-5"
                               style="width: 28%; "
                               uib-datepicker-popup
                               ng-disabled="todo.resolved_at"
                               ng-model="todo.due_date"
                               is-open="todo.opened"
                               datepicker-options="dateOptions"
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="pickDate(sub)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Description
                    </label>
                    <div class="col-sm-9">
                        <textarea class="form-control"
                                  rows="5"
                                  ng-disabled="todo.resolved_at"
                                  ng-model="todo.description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Share With
                    </label>
                    <div class="col-sm-9">
                        <dual-pane-multi-select ng-disabled="todo.resolved_at"
                                                ng-model="todo.relevant_parties"
                                                available-objs="availableUsers"
                                                objs-name="users"
                                                label-attribute="username"></dual-pane-multi-select>
                    </div>
                </div>
                <div class="form-group"
                     ng-if="todo.resolved_at">
                    <label class="col-sm-3 control-label">
                        Resolved on:
                    </label>
                    <label class="control-label">
                        {{todo.resolved_at | amDateFormat:'MMMM Do, YYYY'}}
                    </label>
                </div>
                <div class="form-group"
                     ng-if="todo.resolved_at">
                    <label class="col-sm-3 control-label">
                        Resolved by:
                    </label>
                    <label class="control-label">
                        {{ gdata.userMap[todo.resolved_by].username }}
                    </label>
                </div>
            </fieldset>
        </div>
        <!-- /modal-body -->

        <div class="modal-footer">
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="cancel()">Cancel</button>
                <button ng-disabled="todoitemform.$invalid || todo.resolved_at"
                        type="submit"
                        class="btn btn-primary"
                        ng-click="submitTodo()">Submit</button>
            </div>
        </div>
        <!-- /modal-footer -->

    </form>
</div>