<div id="toDoWidget"
     class="minw155 graph-widget-container"
     ng-controller="toDoCtrl">
    <div class="minw155 graph-widget-header">
        <div class="gridster-item-drag">
            <div class="widget-title">My Tasks
                <div class="btn-group btn-group-xs ml5">
                    <button ng-click="addEditTodo()"
                            class="btn btn-default uppercase">
                        Add Item
                    </button>
                    <button ng-click="showResolved()"
                            class="ml5 btn btn-default uppercase">
                        {{ showButtonText() }}
                    </button>
                </div>
            </div>
            <i title="Hide Widget"
               class="fa fa-close close-small button"
               ng-click="$ctrl.hideWidget()"
               role="button"></i>
        </div>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <label class="col-sm-2 control-label nowrap">Due Starting:</label>
                </td>
                <td>
                    <input type="text"
                           class="form-control"
                           uib-datepicker-popup
                           ng-model="due_starting"
                           ng-change="loadItems(1)"
                           is-open="selectingStartingDate"
                           datepicker-options="dateOptions"
                           close-text="Close" />
                </td>
                <td>
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="pickStartingDate(sub)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </td>
                <td>
                    <label class="col-sm-2 control-label nowrap">Due Ending:</label>
                </td>
                <td>
                    <input type="text"
                           class="form-control"
                           uib-datepicker-popup
                           ng-model="due_ending"
                           ng-change="loadItems(1)"
                           is-open="selectingEndingDate"
                           datepicker-options="dateOptions"
                           close-text="Close" />
                </td>
                <td>
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="pickEndingDate(sub)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="graph-widget-body graph-widget-container m10"
         style="overflow: auto;">
        <div>
            <div class="ml15">
                <advanced-pagination total-items="count"
                                     current-page="currentPage"
                                     items-per-page="itemsPerPage"
                                     on-page-change="loadItems(currentPage)"
                                     on-page-size-change="setPageSize(size)"></advanced-pagination>
            </div>
            <table class="table table-striped table-sm">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">
                        <a ng-click="setOrder('title')">Title
                            <span ng-show="orderByField == 'title'">
                                <span ng-show="!reverseSort">
                                    <i class="fa fa-caret-up"
                                       aria-hidden="true"></i>
                                </span>
                                <span ng-show="reverseSort">
                                    <i class="fa fa-caret-down"
                                       aria-hidden="true"></i>
                                </span>
                            </span>
                        </a>
                    </th>
                    <th scope="col">
                        <a ng-click="setOrder('customer')">{{::catotheme.customerCapitalize}}
                            <span ng-show="orderByField == 'customer'">
                                <span ng-show="!reverseSort">
                                    <i class="fa fa-caret-up"
                                       aria-hidden="true"></i>
                                </span>
                                <span ng-show="reverseSort">
                                    <i class="fa fa-caret-down"
                                       aria-hidden="true"></i>
                                </span>
                            </span>
                        </a>
                    </th>
                    <th scope="col">
                        <a ng-click="setOrder('due_date')">Due Date
                            <span ng-show="orderByField == 'due_date'">
                                <span ng-show="!reverseSort">
                                    <i class="fa fa-caret-up"
                                       aria-hidden="true"></i>
                                </span>
                                <span ng-show="reverseSort">
                                    <i class="fa fa-caret-down"
                                       aria-hidden="true"></i>
                                </span>
                            </span>
                        </a>
                    </th>
                    <th class="center-align"
                        scope="col">
                        <a ng-click="setOrder('priority')">Priority
                            <span ng-show="orderByField == 'priority'">
                                <span ng-show="!reverseSort">
                                    <i class="fa fa-caret-up"
                                       aria-hidden="true"></i>
                                </span>
                                <span ng-show="reverseSort">
                                    <i class="fa fa-caret-down"
                                       aria-hidden="true"></i>
                                </span>
                            </span>
                        </a>
                    </th>
                </tr>
                <tr ng-repeat="todo in items"
                    class="ml15">
                    <td></td>
                    <td>
                        <i ng-click="resolveTodo(todo)"
                           ng-if="todo.state === 'active'"
                           class="fa fa-check-circle-o"
                           uib-tooltip="Resolve task"></i>
                        <i ng-if="todo.state === 'resolved'"
                           class="fa fa-check-circle"
                           uib-tooltip="Resolved"></i>
                    </td>
                    <td name="title">
                        <label><span style="cursor: pointer;"
                                  ng-click="addEditTodo(todo)"><u>{{ todo.title }}</u></span></label>
                    </td>
                    <td name="customer">
                        <label><span>{{gdata.customerMap[todo.customer].name}}</span></label>
                    </td>
                    <td name="duedate">
                        <label><span
                                  class="{{dueDateColor(todo.due_date)}}">{{getDisplayDate(todo.due_date)}}</span></label>
                    </td>
                    <td class="center-align priority-low"
                        ng-if="todo.priority === 0"><label><span>{{priorityNames[todo.priority]}}</span></label></td>
                    <td class="center-align priority-medium"
                        ng-if="todo.priority === 1"><label><span>{{priorityNames[todo.priority]}}</span></label></td>
                    <td class="center-align priority-high"
                        ng-if="todo.priority === 2"><label><span>{{priorityNames[todo.priority]}}</span></label></td>

                </tr>
            </table>
        </div>
    </div>
</div>