<div>
    <div class="col-md-12"
         style="margin-top: 2.5em">
        <!-- <div class="wrapper wrapper-content vmargin0 vpadding0"> -->
        <div id="eulaAcceptance"
             class="ibox-content">

            <div ng-init="catotheme = $ctrl.catotheme"
                 ng-include="'/app/common/boilerplate/termsAndConditions.html'"
                 style="overflow-y: auto;overflow-x: hidden; height: 85%"></div>
            <br>
            <hr>
            <div>
                <h3>By clicking Next, you agree to the {{::$ctrl.catotheme.appName}} Terms and Conditions.</h3>
            </div>

        </div>
        <!-- /ibox-content -->
    </div>
</div>
<back-and-next></back-and-next>
