<div class="dropparent">
    <input id="upload" type="file" [multiple]="multiple" (change)="fileChanged($event)" />
    <label for="upload"
           class="dropzone"
           [ngClass]="{'dragging': this.isDragging}"
           (drop)="fileChanged($event)"
           (dragover)="dragover($event)"
           (dragleave)=dragleave()>
        <span class="m-t-lg m-b-lg">
            <h2>Drop file here.</h2>
        </span>
    </label>
</div>