@import (reference) "../../../../less/cato/colors.less";

label.dropzone
{
    width: 100%;
    border: 3px dashed #ddd;
    border-radius: 7.5px;
    color: #aaa;

    &.dragging
    {
        border-color: @color-base;
    }
}

#upload
{
    width: 0;
    height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

    &:focus + label
    {
        cursor: pointer;
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
}
