<div ng-show="$ctrl.selectedRows.length > 0"
     class="btn-group btn-group-sm"
     uib-dropdown
     uib-tooltip={{$ctrl.tooltip}}
     selection-model-ignore>
    <select name="setBulkStatus"
            id="setBulkStatus"
            ng-model="$ctrl.currentStatus"
            class="form-control"
            ng-options="status as $ctrl.titleCase(status) for status in $ctrl.shownStatuses"
            ng-change="$ctrl.setResponse($ctrl.currentStatus);$ctrl.currentStatus = 'choose an option'">
    </select>
</div>