<div id="attackSurfaceTableWidget"
     class="minw155 graph-widget-container">
    <div class="minw155 graph-widget-header">
        <div class="gridster-item-drag"></div>
    </div>
    <div class="graph-widget-body graph-widget-container">
        <div class="graph-widget-title">
            <div class="pull-left"
                 style="display: inline-block;width: 10%;">
                <button class="btn btn-white"
                        uib-tooltip="Show Previous Table"
                        ng-click="$ctrl.gotoTable('previous')"
                        style="float: left">
                    <i class="fa fa-backward"></i>
                </button></div>
            <div class="center-align"
                 style="display: inline-block;width: 80%;">
                <div style="margin:0;display: inline-block;width: 26%;"></div>
                <div style="margin:0;display: inline-block;width: 46%;vertical-align: top">
                    <h2 style="margin:0;display: inline-block;"
                        ng-bind="$ctrl.currentTable">
                    </h2>
                </div>
                <div style="margin:0;display: inline-block;width: 27%;vertical-align: top">
                    <set-bulk-status class="pull-right"
                                     ng-show="$ctrl.selectedRun.id === -1"
                                     selected-rows="$ctrl.selectedRows"
                                     set-response="$ctrl.setResponse"
                                     statuses="$ctrl.bulkStatuses"
                                     tooltip="$ctrl.bulkStatusTooltip">
                    </set-bulk-status>
                </div>

            </div>
            <div class="pull-right"
                 style="display: inline-block;width: 10%;">
                <button class="btn btn-white"
                        uib-tooltip="Show Next Table"
                        ng-click="$ctrl.gotoTable('next')"
                        style="float: right">
                    <i class="fa fa-forward"></i>
                </button>
            </div>
        </div>
        <div class="graph-widget-body attack-surface-tables">
            <ports-review-summary-table ng-if="$ctrl.currentTable==='PORTS REVIEW SUMMARY'"
                                        active-pill="$ctrl.activePill"
                                        attack-surface-data="$ctrl.attackSurfaceData"
                                        row-count="$ctrl.rowCount"
                                        current-widget="$ctrl.currentWidget"
                                        ip-to-dns-mapping="$ctrl.ipToDnsMapping">
            </ports-review-summary-table>
            <domains-review-table goto-table="$ctrl.gotoTable"
                                  ng-if="$ctrl.currentTable==='DOMAINS REVIEW'"
                                  active-pill="$ctrl.activePill"
                                  attack-surface-data="$ctrl.attackSurfaceData"
                                  row-count="$ctrl.rowCount"
                                  selected-rows="$ctrl.selectedRows"
                                  bulk-statuses="$ctrl.bulkStatuses"
                                  set-bulk-status-tooltip="$ctrl.setBulkStatusTooltip"
                                  set-response-wrapper="$ctrl.setResponseWrapper"
                                  bulk-set-responses="$ctrl.bulkSetResponses({$event: $event})"
                                  current-widget="$ctrl.currentWidget">
            </domains-review-table>
            <ownership-table ng-if="$ctrl.currentTable==='OWNERSHIP'"
                             active-pill="$ctrl.activePill"
                             row-count="$ctrl.rowCount"
                             attack-surface-data="$ctrl.attackSurfaceData"
                             current-widget="$ctrl.widget"
                             bulk-statuses="$ctrl.bulkStatuses"
                             selected-rows="$ctrl.selectedRows"
                             set-response-wrapper="$ctrl.setResponseWrapper"
                             set-bulk-status-tooltip="$ctrl.setBulkStatusTooltip">
            </ownership-table>
            <open-ports-table cur-row-pri-val="$ctrl.curRowPriVal"
                              ng-if="$ctrl.currentTable==='ALL OPEN PORTS'"
                              active-pill="$ctrl.activePill"
                              row-count="$ctrl.rowCount"
                              attack-surface-data="$ctrl.attackSurfaceData"
                              current-widget="$ctrl.currentWidget"
                              focused-domain="$ctrl.focusedDomain"
                              focused-ip="$ctrl.focusedIp"
                              clear-focused-domain="$ctrl.clearFocusedDomain"
                              exposed-services="$ctrl.exposedServices"
                              bulk-statuses="$ctrl.bulkStatuses"
                              selected-rows="$ctrl.selectedRows"
                              set-response-wrapper="$ctrl.setResponseWrapper"
                              bulk-set-responses="$ctrl.bulkSetResponses({$event: $event})"
                              set-bulk-status-tooltip="$ctrl.setBulkStatusTooltip"
                              selected-run="$ctrl.selectedRun">
            </open-ports-table>
        </div>
    </div>
</div>