<div class="centered-overlay">
    <div class="centered-overlay-container">
        <div class="passwordBox animated fadeInDown black-semi-bg">
            <div class="row">

                <div class="col-md-12">
                    <div class="ibox-content">

                        <h2 class="font-bold white-txt">Forgot password?</h2>

                        <div ng-if="sent === false">
                            <p class="white-txt">No worries. Enter your username and your password will be reset and a
                                validation code will be emailed to you.</p>
                            <div class="row">

                                <div class="col-lg-12">
                                    <form class="m-t"
                                          role="form"
                                          ng-submit="forgotPassword()"
                                          id="cato-forgot-password-form"
                                          name="catoForgotPasswordForm"
                                          method="post"
                                          class="form-inline">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Username"
                                                   required
                                                   ng-model="data.username">
                                        </div>

                                        <button type="submit"
                                                class="btn btn-primary block full-width m-b">Request password reset</button>

                                    </form>
                                    <p><a ui-sref="cato.login">Return to login</a></p>
                                </div>
                            </div>
                        </div>
                        <div ng-if="sent === true">
                            <p class="white-txt">Your password reset has been initiated. Please check your email for details.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div ng-include="'/app/common/boilerplate/catoInfo.html'"></div>
        </div>
    </div>
</div>