<div class="centered-overlay">
    <div class="centered-overlay-container">
        <div class="passwordBox animated fadeInDown black-semi-bg">
            <div class="row">

                <div class="col-md-12">
                    <div class="ibox-content">

                        <h2 class="font-bold white-txt">Set password</h2>

                        <div ng-if="sent === false">
                            <p class="white-txt">Simply click the button below and an email will be sent allowing you to set
                                your password.</p>
                            <div class="row">

                                <div class="col-lg-12">
                                    <button type="button"
                                            ng-click="sendSetPasswordEmail()"
                                            class="btn btn-primary block full-width m-b">Begin Set Password</button>
                                </div>
                            </div>
                        </div>
                        <div ng-if="sent === true">
                            <p class="white-txt">Your password creation email has been sent. Please check your email for
                                details.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div ng-include="'/app/common/boilerplate/catoInfo.html'"></div>
        </div>
    </div>
</div>