<!-- services modal fpo -->
<div class="inmodal"
     cg-busy="$ctrl.submission">

    <form name="catochangepasswordform"
          ng-submit="$ctrl.changePassword()"
          id="catochangepasswordform"
          class="form-horizontal"
          method="post">
        <div>
            <p class="pb15">Please fill out the following fields, then click Submit.</p>

            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Current Password
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               id="oldPassword"
                               name="oldPassword"
                               ng-attr-type="{{ $ctrl.showPassword ? 'text' : 'password' }}"
                               ng-change="$ctrl.validatePass()"
                               ng-model="$ctrl.passwords.oldPassword" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        New Password
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               id="newPassword"
                               name="newPassword"
                               ng-attr-type="{{ $ctrl.showPassword ? 'text' : 'password' }}"
                               ng-change="$ctrl.validatePass()"
                               ng-model="$ctrl.passwords.newPassword"
                               ng-trim="false" />
                        <div ng-if="$ctrl.invalid">
                            <h4>New Password must meet the following requirements:</h4>
                            <ul class="pswd_info">
                                <li><i ng-class="$ctrl.letter"></i>At least <b>one lowercase letter</b></li>
                                <li><i ng-class="$ctrl.capital"></i>At least <b>one capital letter</b></li>
                                <li><i ng-class="$ctrl.number"></i>At least <b>one number</b></li>
                                <li><i ng-class="$ctrl.special"></i>At least <b>one special character</b></li>
                                <li><i ng-class="$ctrl.length"></i>Be at least <b>8 characters</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Confirm New Password
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               id="newPasswordConfirm"
                               name="newPasswordConfirm"
                               ng-attr-type="{{ $ctrl.showPassword ? 'text' : 'password' }}"
                               ng-change="$ctrl.validatePass()"
                               ng-model="$ctrl.passwords.newPasswordConfirm"
                               ng-trim="false" />
                        <span class="msg-error"
                              ng-show="$ctrl.passwordsDontMatch">New Passwords don't match.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <div class="btn-group">
                            <label class="btn btn-primary ng-untouched ng-valid"
                                   ng-model="$ctrl.showPassword"
                                   uib-btn-checkbox>
                                Show Password
                                <span ng-class="$ctrl.showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></span>
                            </label>
                        </div>
                    </div>
                </div>

            </fieldset>
            <div class="col-sm-12 pull-right"
                 style="margin-right: 6em">
                <div class="form-actions pull-right">
                    <button type="reset"
                            class="btn btn-default"
                            ng-click="cancel()">Reset</button>
                    <button type="submit"
                            class="btn btn-primary formSubmit"
                            ng-disabled="!$ctrl.isSubmitable">Submit</button>
                </div>
            </div>
        </div>
        <!-- /modal-body -->

        <div class="modal-footer">

        </div>
        <!-- /modal-footer -->

    </form>
</div>