<div class="centered-overlay">
    <div class="centered-overlay-container">
        <div class="passwordBox animated fadeInDown black-semi-bg">
            <div class="row">

                <div class="col-md-12">
                    <div class="ibox-content">
                        <div ng-if="validToken === true">

                            <h2 class="font-bold white-txt">Set password</h2>

                            <p class="white-txt">Please enter a password</p>

                            <div class="row">

                                <div class="col-lg-12">
                                    <form class="m-t"
                                          role="form"
                                          ng-submit="resetPassword()"
                                          id="cato-reset-password-form"
                                          name="catoResetPasswordForm"
                                          method="post"
                                          class="form-inline">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="PIN"
                                                   required
                                                   ng-model="data.pin">
                                        </div>
                                        <div class="form-group">
                                            <input type="password"
                                                   class="form-control"
                                                   placeholder="Password"
                                                   required
                                                   name="password"
                                                   id="password"
                                                   ng-model="data.password"
                                                   ng-change="validatePass()">
                                            <div id="pswd_info"
                                                 ng-if="invalid">
                                                <h4>Password must meet the following requirements:</h4>
                                                <ul class="pswd_info">
                                                    <li><i ng-class="letter"></i>At least <b>one lowercase letter</b></li>
                                                    <li><i ng-class="capital"></i>At least <b>one capital letter</b></li>
                                                    <li><i ng-class="number"></i>At least <b>one number</b></li>
                                                    <li><i ng-class="special"></i>At least <b>one special character</b></li>
                                                    <li><i ng-class="length"></i>Be at least <b>8 characters</b></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password"
                                                   class="form-control"
                                                   placeholder="Confirm password"
                                                   required
                                                   name="passwordConfirm"
                                                   id="passwordConfirm"
                                                   validateequal="password"
                                                   ng-model="data.passwordConfirm"
                                                   pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^A-Za-z0-9]).{8,}$">
                                        </div>
                                        <div class="msg-block">
                                            <span class="msg-error white-txt"
                                                  ng-show="catoResetPasswordForm.passwordConfirm.$error.match">
                                                Passwords don't match.
                                            </span>
                                        </div>
                                        <div class="white-txt">
                                            Password strength is <strong ng-bind="passStrength"></strong>
                                        </div>
                                        <div ng-password-strength="data.password"
                                             strength="passStrength"
                                             inner-class="progress-bar"
                                             inner-class-prefix="progress-bar-"></div>
                                        <button type="submit"
                                                class="btn btn-primary block full-width m-b"
                                                ng-disabled="catoResetPasswordForm.$invalid || passStrength < 70">Set
                                            password</button>

                                    </form>
                                    <a ui-sref="cato.login">Go to login page</a>
                                </div>
                            </div>
                        </div>
                        <div ng-if="validToken === false">
                            <h2 class="font-bold white-txt">Set password token invalid</h2>

                            <p class="white-txt">The token provided is no longer valid. If you still need to set your password,
                                please <a ui-sref="cato.forgotPassword">request another set password email</a>.</p>
                            <p><a ui-sref="cato.login">Go to login page</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div ng-include="'/app/common/boilerplate/catoInfo.html'"></div>
        </div>
    </div>
</div>