<div class="no-resize">
    <div class="custom-shadow">
        <div class="gridster-item-drag">
            <i title="Hide Widget"
               class="fa fa-close close-small button"
               ng-click="$ctrl.hideWidget()"
               role="button"></i>
        </div>
    </div>
    <div class="widget section-holder">
        <!--<i class="bg fa fa-exclamation-triangle"></i>-->
        <div class="widget-title white-txt viewport-fontsize"
             ng-bind="$ctrl.widget.title">
        </div>
        <div class="widget-stats">
            <div class="stats-link">
                <span class="label svc-label"
                      ng-class="'label-' + $ctrl.getSeverityLevel($ctrl.widget.service.max_severity).toLowerCase()"
                      ng-bind="$ctrl.getSeverityLevel($ctrl.widget.service.max_severity)"></span>

                <div class="btn no-padding dropdown-toggle"
                     uib-dropdown
                     dropdown-append-to-body
                     is-open="$ctrl.status[$ctrl.widget.title].isopen">
                    <button type="button"
                            uib-dropdown-toggle
                            class="btn btn-default dropdown-toggle"
                            ng-class="$ctrl.widget.service.short_name.toLowerCase()"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            ng-mouseenter="$ctrl.toggleDropdown($event, $ctrl.widget.title)">
                        View Details <span class="caret"></span>
                    </button>
                    <ul class="service dropdown-menu"
                        uib-dropdown-menu
                        ng-class="$ctrl.widget.service.short_name.toLowerCase()"
                        ng-mouseleave="$ctrl.toggleDropdown($event, widget.title)"
                        role="menu">
                        <li ng-class="$ctrl.widget.service.short_name.toLowerCase()">
                            <a ng-class="$ctrl.widget.service.short_name.toLowerCase()"
                               aria-hidden="true"
                               ui-sref="cato.loggedIn.service({service_name: $ctrl.widget.service.short_name})">
                                View Campaigns <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </li>
                        <li ng-class="$ctrl.widget.service.short_name.toLowerCase()">
                            <a ng-class="$ctrl.widget.service.short_name.toLowerCase()"
                               aria-hidden="true"
                               ui-sref="cato.loggedIn.dashboard.findings({svc: $ctrl.widget.service.short_name})">
                                View Findings <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>