<!-- services modal fpo -->
<div class="inmodal"
     cg-busy="submission"
     id="modalProviders">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$ctrl.close()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title">Reference Providers</h3>
    </div><!-- /modal-header -->

    <div class="modal-body"
         cg-busy="{promise: targetDetailsLoading, message: 'Loading Reference'}">
        <div class="row dropparent">
            <div class="col-sm-12"
                 ngf-drop="$ctrl.import($file)">
                <div class="btn-group btn-group-sm pull-right">
                    <span class="btn btn-primary"
                          ngf-select="$ctrl.import($file)">
                        <i aria-hidden="true"
                           class="fa fa-sign-in"></i> Import
                    </span>
                    <span class="btn btn-primary"
                          ng-click="$ctrl.export()">
                        <i aria-hidden="true"
                           class="fa fa-sign-out"></i> Export
                    </span>
                </div>
                <a ng-click="$ctrl.providerActions.editProvider.action()"
                   class="green-txt pull-right mt5 mr15">
                    <i aria-hidden="true"
                       class="fa fa-plus"></i> Add a provider
                </a>
            </div>
        </div>
        <div class="row">

            <table ng-table="$ctrl.table"
                   class="table table-striped col-xs-12"
                   id="reference-provider-table">
                <tbody>
                    <tr ng-repeat="provider in $data">
                        <td data-title="'NAME'"
                            class="force-wrap"
                            header-class="''"
                            ng-bind="provider.name"
                            sortable="'name'"
                            filter="{'name': 'text'}">
                        </td>
                        <td data-title="'DOMAIN'"
                            class="force-wrap"
                            header-class="''"
                            ng-bind="provider.domain_url"
                            sortable="'domain_url'"
                            filter="{'domain_url': 'text'}">
                        </td>
                        <td data-title="'URL TEMPLATES'"
                            class="center-align"
                            ng-bind="provider.url_templates.length"
                            sortable="'url_templates.length'"
                            filter="{'url_templates.length': 'number-positive'}">
                        </td>
                        <td data-title="'REFERENCES'"
                            class="center-align"
                            ng-bind="provider.referenceCount"
                            sortable="'referenceCount'"
                            filter="{'referenceCount': 'number-positive'}">
                        </td>
                        <td data-title="'ACTIONS'"
                            class="center-align"
                            header-class="'center-align'">
                            <actions actions="$ctrl.providerActions"
                                     target="provider"></actions>
                        </td>
                    </tr>
                </tbody>
            </table><!-- end of reference-provider-table -->
            <!-- </div> -->
        </div>
    </div><!-- /modal-body -->

    <div class="modal-footer">
        <div class="form-actions pull-right">
            <button type="reset"
                    class="btn btn-primary"
                    ng-click="$ctrl.close()">Close</button>
        </div>
    </div><!-- /modal-footer -->
</div>