<div cg-busy="$ctrl.submission"
     class="inmodal">
    <div class="modal-header">
        <button aria-hidden="true"
                class="close"
                ng-click="$ctrl.dismiss('cancel')"
                type="button">&times;</button>
        <h3 class="modal-title uppercase"
            ng-bind="$ctrl.modalTitle"></h3>
    </div>

    <form autocomplete="off"
          class="form-horizontal"
          id="catoEditReferenceForm"
          name="catoEditReferenceForm"
          ng-submit="$ctrl.saveReference($event)">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-3 control-label"
                       for="provider">
                    Provider*
                    <i class="fa fa-info-circle"
                       uib-tooltip="The name of the provider of this reference data (ex: CWE, CVE, NVT)"></i>
                </label>
                <div class="col-sm-9">
                    <input required
                           class="form-control inline"
                           name="provider"
                           id="provider"
                           type="text"
                           placeholder="Select Provider"
                           ng-model="$ctrl.reference.provider"
                           ng-disabled="$ctrl.gdata.isCustomer"
                           uib-typeahead="provider.name for provider in $ctrl.providers"
                           autocomplete="off"
                           typeahead-editable="false"
                           typeahead-on-select="$ctrl.selectProvider($item)"
                           typeahead-min-length="0">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"
                       for="source_key">
                    Source Key*
                    <i class="fa fa-info-circle"
                       uib-tooltip="The ID (or 'key') of this specific reference used by the provider (ex: CWE-122)"></i>
                </label>
                <div class="col-sm-9">
                    <input class="form-control"
                           id="source_key"
                           name="source_key"
                           required
                           ng-change="$ctrl.refreshUrls()"
                           ng-pattern="$ctrl.source_key_regex"
                           ng-disabled="$ctrl.gdata.isCustomer"
                           ng-maxlength="$ctrl.config.source_key.max_length"
                           ng-minlength="$ctrl.config.source_key.min_length"
                           ng-model="$ctrl.reference.source_key"
                           placeholder="Source Key"
                           type="text" />
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditReferenceForm.source_key.$error.minlength">
                    The source key is too short, minimum length <span
                          ng-bind="$ctrl.config.source_key.min_length"></span>.
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditReferenceForm.source_key.$error.maxlength">
                    The source key is too long, maximum length <span
                          ng-bind="$ctrl.config.source_key.max_length"></span>.
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditReferenceForm.source_key.$error.pattern">
                    The source key must match regular expression <code
                          ng-bind="$ctrl.source_key_regex.xregexp.source"></code>.
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"
                       for="title">
                    Title
                    <i class="fa fa-info-circle"
                       uib-tooltip="The human-readable description of this reference"></i>
                </label>
                <div class="col-sm-9">
                    <input class="form-control"
                           id="title"
                           name="title"
                           ng-maxlength="$ctrl.config.title.max_length"
                           ng-minlength="$ctrl.config.title.min_length"
                           ng-model="$ctrl.reference.title"
                           ng-disabled="$ctrl.gdata.isCustomer"
                           placeholder="Title"
                           type="text" />
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditReferenceForm.title.$error.minlength">
                    The title is too short, minimum length <span ng-bind="$ctrl.config.title.min_length"></span>.
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditReferenceForm.title.$error.maxlength">
                    The title is too long, maximum length <span ng-bind="$ctrl.config.title.max_length"></span>.
                </div>
            </div>
            <div class="row"
                 ng-repeat="url in $ctrl.urls">
                <a class="col-sm-12"
                   ng-href="{{url.url}}"
                   target="_blank">{{url.template.label}}: {{url.url}}</a>
            </div>
            <div ng-if="$ctrl.reference.provider==='URL'">
                <!--TODO: Come up with a better check for the URL provider-->
                <a ng-href="{{$ctrl.makeURL($ctrl.reference.source_key)}}"
                   ng-bind="$ctrl.reference.source_key"
                   target="_blank"></a>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left col-lg-6 col-xs-12 text-left">
                <div uib-alert class="alert-small alert-success"
                           close="$ctrl.message=''"
                           dismiss-on-timeout="5000"
                           ng-if="$ctrl.message">
                    {{$ctrl.message}}
                </div>
            </div>
            <div class="form-actions pull-right">
                <div class="add-another"
                     ng-if="!$ctrl.reference.id">
                    <input id="addAnother"
                           ng-model="$ctrl.addAnother"
                           type="checkbox">
                    <label class="control-label"
                           for="addAnother">Add another</label>
                </div>
                <button class="btn"
                        ng-click="$ctrl.dismiss('cancel')"
                        type="reset">Cancel</button>
                <button class="btn btn-primary formSubmit"
                        id="edit_reference_form_submit"
                        ng-disabled="catoEditReferenceForm.$invalid"
                        type="submit">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>