<!-- services modal fpo -->
<div class="inmodal"
     cg-busy="submission"
     id="modalReferences">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$ctrl.close()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title">References</h3>
    </div><!-- /modal-header -->

    <div class="modal-body"
         cg-busy="{promise: targetDetailsLoading, message: 'Loading Reference'}">
        <div class="row">
            <div class="col-sm-12">
                <a ng-click="$ctrl.referenceActions.editReference.action()"
                   class="green-txt pull-right mt5 mr15">
                    <i aria-hidden="true"
                       class="fa fa-plus"></i> Add a Reference
                </a>
            </div>
        </div>
        <div class="row">

            <table ng-table="$ctrl.table"
                   class="table table-striped col-xs-12"
                   id="reference-table">
                <tbody>
                    <tr ng-repeat="reference in $data">
                        <td data-title="'PROVIDER'"
                            class="force-wrap"
                            header-class="''"
                            ng-bind="reference.provider"
                            sortable="'provider__name'"
                            filter="{'provider__name__icontains': 'text'}">
                        </td>
                        <td data-title="'SOURCE KEY'"
                            class="force-wrap"
                            header-class="''"
                            ng-bind="reference.source_key"
                            sortable="'source_key'"
                            filter="{'source_key__icontains': 'text'}">
                        </td>
                        <td data-title="'TITLE'"
                            class="force-wrap"
                            header-class="''"
                            ng-bind="reference.title"
                            sortable="'title'"
                            filter="{'title__icontains': 'text'}">
                        </td>
                        <td data-title="'ACTIONS'"
                            class="center-align"
                            header-class="'center-align'">
                            <actions actions="$ctrl.referenceActions"
                                     target="reference"></actions>
                        </td>
                    </tr>
                </tbody>
            </table><!-- end of reference-table -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /modal-body -->

    <div class="modal-footer">
        <div class="form-actions pull-right">
            <button type="reset"
                    class="btn btn-primary"
                    ng-click="$ctrl.close()">Close</button>
        </div>
    </div>
    <!-- /modal-footer -->
</div>