<div cg-busy="$ctrl.submission"
     class="inmodal">
    <div class="modal-header">
        <button aria-hidden="true"
                class="close"
                ng-click="$ctrl.dismiss('cancel')"
                type="button">&times;</button>
        <h3 class="modal-title uppercase"
            ng-bind="$ctrl.modalTitle"></h3>
    </div>

    <form autocomplete="off"
          class="form-horizontal"
          id="catoEditProviderForm"
          name="catoEditProviderForm"
          ng-submit="$ctrl.saveProvider($event)">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-3 control-label required"
                       for="name">
                    Name
                    <i class="fa fa-info-circle"
                       uib-tooltip="The name of the provider of this reference data (ex: CWE, CVE, NVT)"></i>
                </label>
                <div class="col-sm-9">
                    <input class="form-control"
                           id="name"
                           name="name"
                           ng-maxlength="$ctrl.config.name.max_length"
                           ng-minlength="$ctrl.config.name.min_length"
                           ng-model="$ctrl.provider.name"
                           placeholder="Name"
                           required
                           type="text" />
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditProviderForm.name.$error.minlength">
                    The name is too short, minimum length <span ng-bind="$ctrl.config.name.min_length"></span>.
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditProviderForm.name.$error.maxlength">
                    The name is too long, maximum length <span ng-bind="$ctrl.config.name.max_length"></span>.
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"
                       for="domain_url">
                    Provider URL
                    <i class="fa fa-info-circle"
                       uib-tooltip="The URL of the website for the provider (ex: https://cve.mitre.org)"></i>
                </label>
                <div class="col-sm-9">
                    <input class="form-control"
                           id="domain_url"
                           name="domain_url"
                           ng-maxlength="$ctrl.config.domain_url.max_length"
                           ng-minlength="$ctrl.config.domain_url.min_length"
                           ng-model="$ctrl.provider.domain_url"
                           placeholder="Domain URL"
                           type="url" />
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditProviderForm.domain_url.$error.minlength">
                    The URL is too short, minimum length <span ng-bind="$ctrl.config.domain_url.min_length"></span>.
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditProviderForm.domain_url.$error.maxlength">
                    The URL is too long, maximum length <span ng-bind="$ctrl.config.domain_url.max_length"></span>.
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditProviderForm.domain_url.$error.url">
                    The string must be a valid URL.
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"
                       for="source_key_regex">
                    Source Key Regex
                    <i class="fa fa-info-circle"
                       uib-tooltip="Optional regex to extract the source key from the conformed format to be used to populate the value in the URL template (ex: 'CWE-(?P<url_source_key>\d+)')"></i>
                </label>
                <div class="col-sm-9">
                    <input class="form-control"
                           id="source_key_regex"
                           name="source_key_regex"
                           ng-maxlength="$ctrl.config.source_key_regex.max_length"
                           ng-minlength="$ctrl.config.source_key_regex.min_length"
                           ng-model="$ctrl.provider.source_key_regex"
                           pattern=".*\(\?P<url_source_key>.*\).*"
                           placeholder="Source Key Regex"
                           type="text" />
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditProviderForm.source_key_regex.$error.minlength">
                    The Regex is too short, minimum length <span
                          ng-bind="$ctrl.config.source_key_regex.min_length"></span>.
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditProviderForm.source_key_regex.$error.maxlength">
                    The Regex is too long, maximum length <span
                          ng-bind="$ctrl.config.source_key_regex.max_length"></span>.
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditProviderForm.source_key_regex.$error.pattern">
                    The Regex must have a <code>url_source_key</code> named group. Ex:
                    <code>(?P&lt;url_source_key&gt;.+)</code>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"
                       for="url_regex">
                    URL Regex
                    <i class="fa fa-info-circle"
                       uib-tooltip="Templates for generating online URLs from the source key (and optionally the source key regex) to be presented in a finding"></i>
                </label>
                <div class="col-sm-9">
                    <input class="form-control"
                           id="url_regex"
                           name="url_regex"
                           ng-maxlength="$ctrl.config.url_regex.max_length"
                           ng-minlength="$ctrl.config.url_regex.min_length"
                           ng-model="$ctrl.provider.url_regex"
                           pattern=".*\(\?P<source_key>.*\).*"
                           placeholder="URL Regex"
                           type="text" />
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditProviderForm.url_regex.$error.minlength">
                    The Regex is too short, minimum length <span ng-bind="$ctrl.config.url_regex.min_length"></span>.
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditProviderForm.url_regex.$error.maxlength">
                    The Regex is too long, maximum length <span ng-bind="$ctrl.config.url_regex.max_length"></span>.
                </div>
                <div class="col-xs-12 help-block"
                     ng-if="catoEditProviderForm.url_regex.$error.pattern">
                    The Regex must have a <code>source_key</code> named group. Ex: <code>(?P&lt;source_key&gt;.+)</code>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"
                       for="name">
                    URL Templates
                    <i class="fa fa-info-circle"
                       uib-tooltip="Templates for generating online URLs from the source key (and optionally the source key regex) to be presented in a finding"></i>
                </label>
                <div class="col-sm-9">
                    <div class="mr5 mb5 mt10">
                        <a class="green-txt"
                           href
                           ng-click="$ctrl.addUrlTemplate()">
                            <i aria-hidden="true"
                               class="fa fa-plus"></i>
                            Add URL Template
                        </a>
                    </div>

                    <div ng-repeat="template in $ctrl.provider.url_templates">
                        <provider-url-template-editor template="template"
                                                      template-changed="$ctrl.updateUrlTemplate(template, updatedTemplate)"
                                                      edit-started="$ctrl.editCount = $ctrl.editCount + 1"
                                                      edit-stopped="$ctrl.editCount = $ctrl.editCount - 1">
                        </provider-url-template-editor>
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <div class="pull-left col-lg-6 col-xs-12 text-left">
                <div uib-alert class="alert-small alert-success"
                           close="$ctrl.message=''"
                           dismiss-on-timeout="5000"
                           ng-if="$ctrl.message">
                    {{$ctrl.message}}
                </div>
            </div>
            <div class="form-actions pull-right">
                <div class="add-another"
                     ng-if="!$ctrl.provider.id">
                    <input id="addAnother"
                           ng-model="$ctrl.addAnother"
                           type="checkbox">
                    <label class="control-label"
                           for="addAnother">Add another</label>
                </div>
                <button class="btn"
                        ng-click="$ctrl.dismiss('cancel')"
                        type="reset">Cancel</button>
                <button class="btn btn-primary formSubmit"
                        id="edit_provider_form_submit"
                        ng-disabled="catoEditProviderForm.$invalid || $ctrl.editCount"
                        type="submit">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>