<span ng-if="$ctrl.references[0].id">
    <!-- Don't try to show references unless there is at least one reference in the array and it has an id property -->
    <span ng-repeat="reference in $ctrl.references | orderBy:['provider','source_key'] track by reference.id"
          class="tag reference-label"
          role="button"
          ng-click="$ctrl.viewReference(reference)"
          ng-bind="reference.source_key"
          uib-tooltip="{{reference.source_key + ' ' + reference.title}}">
    </span>
</span>
