<div class="referencesFilterContainer">
    <label class="center-align">
        Reference(s):
        <i class="fa fa-info-circle"
           uib-tooltip="Unique vulnerability reference identifier.  For instance, CVE ID, CWE ID, Microsoft Patch ID."></i>
    </label>
    <ui-select multiple
               class="references-editor-ui-select"
               ng-model="$ctrl.ngModel"
               theme="bootstrap"
               input-id="references"
               on-remove="$ctrl.onRemove($item)"
               on-select="$ctrl.onSelect($item)"
               uib-tooltip="Select or search for a reference...">
        <ui-select-match><span tooltip-placement="left"
                  uib-tooltip="{{$item.source_key +' '+ $item.title}}">{{$item.source_key +" "+ $item.title}}</span>
        </ui-select-match>
        <ui-select-choices group-by="'provider'"
                           repeat="reference in $ctrl.availableReferences | orderBy:['provider','source_key'] | limitTo:100 track by reference.id"
                           refresh="$ctrl.searchReferences($select.search)"
                           refresh-delay="0"
                           minimum-input-length="0"
                           position="down">
            <span ng-bind-html="reference.source_key +' '+ reference.title | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
</div>