<div id="scoreHistoryWidget"
     class="minw155 graph-widget-container">
    <div class="minw155 graph-widget-header">
        <div class="gridster-item-drag">
            <div class="widget-title">
                <div class="btn-group btn-group-xs ml5"
                     uib-dropdown
                     dropdown-append-to-body>
                    {{$ctrl.widget.title}}
                </div>
            </div>
            <i title="Hide Widget"
               class="fa fa-close close-small button"
               ng-click="$ctrl.hide()"
               role="button"></i>
        </div>
    </div>
    <div class="graph-widget-body graph-widget-container">
        <div ng-show="$ctrl.showPlaceholder">
            <h3 class="text-center">{{$ctrl.placeholder}}</h3>
        </div>
        <div ng-show="$ctrl.showScoreHistoryNone">
            <h3 class="text-center">Loading score history.</h3>
        </div>
        <nvd3 options="$ctrl.chartOptions" style="height: 100%; width: 100%;"
              data="$ctrl.scoreHistoryChartData"
              on-ready="$ctrl.chartReadyCallback.bind($ctrl)">
        </nvd3>
    </div>
</div>