<div style="height: 100%; position: relative;">
    <div class="overlay" *ngIf="isLoading()">
        <div class="content"><spinner [msg]="msg"></spinner></div>
    </div>

    <div *ngIf="initialized" [ngClass]="{blur: isLoading()}" style="height: 100%;">
        <ng-content></ng-content>
    </div>
</div>