@import (reference) "../../../../less/cato/colors.less";

:host
{
    display: block;
}

spinner
{
    display: block;
    position: relative;
}

.overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1000;
    background-color: #0009;

    div.content
    {
        display: flex;
        height: 50px;
        width: fit-content;
        margin: auto;
        background-color: fade(@p-color-bg-base, 93);
        border-radius: 0 0 4px 4px;
        text-align: center;
    }
}

.blur
{
    filter: blur(3px);
}
