@import "../../../less/cato/colors.less";

:host ::ng-deep {
  .tooltip .cdk-overlay-container {
      z-index: 9999 !important;
  }
}

:host
{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.no-items {
	font-weight: bold;
	justify-content: center;
	display: grid;
    padding: 20px;
}

mat-drawer {
    width: 75% !important;
}

mat-form-field
{
    padding: 5px;
}

.industry-button
{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep
{
    .cdk-overlay-pane.gray-bg > mat-dialog-container
    {
        background-color: @color-sel-gray;
    }
}

.no-overflow
{
    overflow: hidden;
}
.vscroll
{
    overflow-y: auto;
    margin-right: -10px;
    padding-right: 10px;
}

.width-50
{
    width: 50%;
}
.width-100
{
    width: 100%;
}
.maxwidth-75
{
    max-width: 75%;
}

span.fa
{
    margin-right: 5px;
}

.row
{
    margin-right: -5px;
    margin-left: -5px;

    > div
    {
        padding-right: 5px;
        padding-left: 5px;
    }
}
