<div class="inmodal" id="industry-modal">
    <div class="modal-header">
        <h3 class="modal-title">Select Industry</h3>
    </div>

    <mat-form-field class="width-100">
        <mat-label>Search for your industry</mat-label>
        <input matInput
               type="text"
               placeholder="Industry"
               aria-label="Industry"
               [formControl]="naicsSelectorControl"
               (focusin)="handleAutocomplete($event)">
        <button mat-button
                class="industry-button"
                *ngIf="naicsSelectorControl.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="naicsSelectorControl.setValue('')">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </mat-form-field>

    <mat-drawer-container style="background-color: white">
        <mat-drawer #drawer mode="over" [autoFocus]="false" position="end" class="width-75">
            <div class="no-overflow">
                <div class="full-height">
                    <div *ngIf="(drawerContent | async) as dcdata">
                        <!-- TODO: make this a nav-list -->
                        <div *ngFor="let dc of dcdata | keyvalue">
                            <button mat-button (click)="submit(dc.key)">
                                <span>{{dc.value.name}} ({{dc.key}})</span>
                            </button>
                        </div>
                        <span *ngIf="isEmpty(dcdata)" class="no-items">No items matched</span>
                    </div>
                </div>
            </div>
        </mat-drawer>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let sector of naics | keyvalue">
                <mat-expansion-panel-header>
                    <mat-panel-title class="font-bold">
                        {{sector.value.name}} ({{sector.key}})
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-grow no-overflow">
                    <div class="flex flex-column full-height width-100">
                        <!-- TODO: make this a nav-list -->
                        <div *ngFor="let ss of sector.value.subsectors | keyvalue">
                            <button mat-button
                                    matTooltip="{{ss.value.name}} ({{ss.key}})"
                                    *ngIf="ss.value.industries"
                                    (click)="operateDrawer(ss.value.industries)">
                                <span>{{ss.value.name}} ({{ss.key}})</span>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer-container>


    <div class="modal-footer">
        <div class="form-actions pull-right">
            <button type="reset"
                    class="btn"
                    (click)="close()">
                Close
            </button>
        </div>
    </div>
</div>
