<ui-view name="targetmodal"></ui-view><!-- for modal sub-states -->

<div class="row">
    <div class="col-md-10">
        <div class="ibox-content vpadding0">
            <h2 class="vpadding0 vmargin0">Restrictions</h2>
        </div>
        <!-- /ibox-content -->
    </div>
    <!-- /col-md-10 -->
</div>


<div class="row ">
    <div class="col-md-12">
        <div class="ibox float-e-margins"
             id="restrictionsTableWrapper">

            <div class="ibox-content"
                 id="staticHeightContentRestrictions">

                <h3>If desired, you may define operational restrictions (services, dates, times) on your targets.</h3>
                <div class="text-center pull-left mb15">
                    <a id="addRestrictionBtn"
                       ng-click="$ctrl.openModal()"
                       class="btn btn-primary"><i aria-hidden="true"
                           class="fa fa-plus"></i>&nbsp;Add a Restriction</a>
                </div>
                <div class="text-center pull-right mb15"
                     style="margin-right: 5em">
                    <a id="removeRestrictionBtn"
                       ng-click="$ctrl.removeRestrictions()"
                       ng-disabled="$ctrl.data.selectedRestrictions.length === 0"
                       class="btn btn-primary"><i aria-hidden="true"
                           class="fa fa-ban"></i>&nbsp;Remove Selected
                        Restrictions</a>
                </div>
            </div>
            <div class="row ibox-content vpadding0 col-md-12"
                 id="restrictionsTable">
                <table ng-table="$ctrl.restrictionsTable"
                       class="table table-striped table-scroll full-height"
                       show-filter="true">
                    <thead class="center-align">
                        <tr>
                            <th style="width:1.5em">
                                <input type="checkbox"
                                       class="center"
                                       ng-click="$ctrl.selectAllRoeRestrictions()"
                                       ng-model="$ctrl.allRoeRestrictionsSelected">
                            </th>
                            <th class="col-sm-2 center">Targets</th>
                            <th class="col-sm-3 center">Selected Services</th>
                            <th class="center"
                                style="width: 4.25em">Allowed</th>
                            <th class="col-sm-1 center">Start</th>
                            <th class="col-sm-1 center">End</th>
                            <th class="col-sm-1 center">Days of Operation</th>
                            <th class="col-sm-1"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="restriction in $ctrl.restrictions"
                            class="show-selection"
                            selection-model
                            selection-model-mode="'multiple-additive'"
                            selection-model-type="'checkbox'"
                            selection-model-selected-items="$ctrl.data.selectedRestrictions"
                            selection-model-cleanup-strategy="'deselect'">

                            <td style="border-right: 3px solid #e7eaec; width: 1.5em; padding-right: 1em;">
                                <input style="margin-left: auto;margin-right: .5em"
                                       type="checkbox">
                            </td>
                            <td data-title="'Targets'"
                                class="force-wrap col-sm-2 center-align table-col-with-info-btn"
                                uib-popover-template="'/app/roe/pages/restrictions/targetsPopoverTemplate.html'"
                                popover-trigger="'mouseenter'"
                                ng-bind="restriction.targetsPreview">
                            </td>
                            <td data-title="'Services'"
                                class="force-wrap col-sm-3 center-align table-col-with-info-btn"
                                uib-popover-template="'/app/roe/pages/restrictions/servicesPopoverTemplate.html'"
                                popover-trigger="'mouseenter'"
                                ng-bind="restriction.servicesPreview">
                            </td>
                            <td class="center"
                                style="width: 4.25em">
                                <i ng-hide="restriction.permitted"
                                   uib-tooltip="operation is denied"
                                   tooltip-placement="bottom"
                                   class="fa fa-times-circle red-txt"
                                   aria-hidden="true"
                                   name="denied"></i>
                                <i ng-show="restriction.permitted"
                                   uib-tooltip="operation is allowed"
                                   tooltip-placement="bottom"
                                   class="fa fa-check green-txt"
                                   aria-hidden="true"
                                   name="allowed"></i>
                            </td>

                            <td class="col-sm-1 center">
                                <span
                                      ng-bind="restriction.startDate ? restriction.startDate : restriction.startTime"></span>
                            </td>

                            <td class="col-sm-1 center">
                                <span ng-bind="restriction.endDate ? restriction.endDate : restriction.endTime"></span>
                            </td>

                            <td class="col-sm-1 center">
                                <span ng-bind="$ctrl.showDaysOfWeek(restriction)"></span>
                            </td>

                            <td class="col-sm-1 txt-right nobreak">
                                <!-- TODO: filter locked targets? -->
                                <div class="buttons"
                                     selection-model-ignore>
                                    <!-- Disabled buttons can't have tooltips -->

                                    <button class="btn btn-white"
                                            ng-if="!target.locked"
                                            ng-click="$ctrl.openModal($event)"
                                            uib-tooltip="Edit restriction"
                                            value="{{restriction.id}}">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <!-- We might want these in the future -->
                                    <!-- <button class="btn btn-white" ng-if="!target.locked && target.active"
                                        ng-click="deactivateTarget(target)" uib-tooltip="Deactivate">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <button class="btn btn-white" ng-if="!target.locked && !target.active"
                                        ng-click="activateTarget(target)" uib-tooltip="Activate">
                                        <i class="fa fa-power-off"></i>
                                    </button>
                                    <i class="fa fa-trash" style="padding: 6px 14px;" aria-hidden="true" ng-if="gdata.isOperator && target.locked"
                                        uib-tooltip="Cannot delete a locked target">
                                    </i>
                                    <button class="btn btn-white ml5" ng-if="gdata.isOperator && !target.locked"
                                        uib-tooltip="Delete" ng-click="deleteSpecificTarget(target)">
                                        <i class="fa fa-trash"></i>
                                    </button> -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /ibox-content -->
        </div>
        <!-- /ibox float-e-margins -->
    </div>
    <!-- /col-md-6 -->
</div>
<!-- /row -->
<back-and-next></back-and-next>