<div class="input-group">
  <!-- TODO: do not put ID directly on the input here because it causes duplication in the DOM if the component is used in multiple places -->
  <input name="appliances"
         type="text"
         class="form-control"
         placeholder="Begin typing to view available appliances"
         ng-model="$ctrl.form.appliance"
         ng-disabled="$ctrl.catoNgDisabled"
         ng-required="$ctrl.required"
         ng-blur="$ctrl.checkBlur()"
         uib-typeahead="appliance as appliance.name for appliance in $ctrl.appliances | filter:$viewValue | limitTo:12"
         typeahead-on-select="$ctrl.set($item)"
         typeahead-editable="false"
         typeahead-select-on-blur="false"
         typeahead-min-length="0"
         autocomplete="off" />
  <span class="input-group-btn"
        ng-if="$ctrl.form.appliance && !$ctrl.catoNgDisabled">
    <span class="btn btn-white"
          ng-click="$ctrl.clear()"
          uib-tooltip="Clear appliance selection">
      <span class="fa fa-times-circle text-danger"
            aria-hidden="true"></span>
    </span>
  </span>
</div>