<div id="cyvarWidget"
     class="graph-widget-container"
     ng-controller="CyvarCtrl">
    <div class="minw155 findingsByData graph-widget-header">
        <div class="gridster-item-drag">
            <div class="widget-title">Your Expected Loss from
                <div class="btn-group btn-group-xs ml5">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span ng-bind="loss"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        role="menu">
                        <li ng-repeat="ba in businessApps">
                            <a href
                               ng-click="showLossBy(ba)"
                               ng-bind="ba"></a>
                        </li>
                    </ul>
                </div>
                <span class="pull-right alert-level"
                      ng-class="lossInfo[loss].levelClass">
                    <span class="alert-level-text">Alert Level: {{lossInfo[loss].level}}</span>
                </span>
            </div>
            <i title="Hide Widget"
               class="fa fa-close close-small button"
               ng-click="$ctrl.hideWidget()"
               role="button"></i>
        </div>
    </div>
    <div class="graph-widget-body">
        <span ng-hide="histogram">
            <i ng-click="toggleCyvarGraph()"
               class="fa fa-bar-chart toggleCyvarGraph"
               aria-hidden="true"
               uib-tooltip="Toggle for histogram view"></i>
            <h3 class="ml30 mt0">Total C-VaR: ${{lossInfo[loss].totalCVaR}}</h3>
            <h3 class="ml30 mt0">Total Exposure: ${{lossInfo[loss].totalExposure}}</h3>
            <div>
                <p class="cyvarPoweredBy">Powered by</p>
                <img src="../../../../img/cyvar.png"
                     class="img-responsive cyvarWidgetIcon"
                     alt="Powered by CyVar">
            </div>

            <div class="table-responsive cyvar-table">
                <table class="table table-striped">
                    <thead>
                        <tr ng-init="sortType = 'VaR'; sortReverse = true;">
                            <th class="nowrap uppercase">
                                <a href="javascript:;"
                                   ng-click="sortType = 'type'; sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'type' && !sortReverse"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'type' && sortReverse"
                                          class="fa fa-caret-up"></span>
                                    Attack Vector
                                </a>
                            </th>
                            <th class="center">
                                <a href="javascript:;"
                                   ng-click="sortType = 'VaR'; sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'VaR' && !sortReverse"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'VaR' && sortReverse"
                                          class="fa fa-caret-up"></span>
                                    C-VaR
                                </a>
                            </th>
                            <th class="center uppercase">
                                <a href="javascript:;"
                                   ng-click="sortType = 'operation.campaign.title'; sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'operation.campaign.title' && !sortReverse"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'operation.campaign.title' && sortReverse"
                                          class="fa fa-caret-up"></span>
                                    Campaign
                                </a>
                            </th>
                            <th class="center uppercase">
                                <a href="javascript:;"
                                   ng-click="sortType = 'validationSeverity'; sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'validationSeverity' && !sortReverse"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'validationSeverity' && sortReverse"
                                          class="fa fa-caret-up"></span>
                                    Validity
                                </a>
                            </th>
                            <th class="center uppercase">
                                <a href="javascript:;"
                                   ng-click="sortType = 'lastValidated'; sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'lastValidated' && !sortReverse"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'lastValidated' && sortReverse"
                                          class="fa fa-caret-up"></span>
                                    Last Validated
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="l in lossBy[loss] | orderBy:sortType:sortReverse">
                            <td class='col-sm-3 nowrap'
                                ng-bind="l.type"></td>
                            <td>
                                <span ng-bind="'$' + numberWithCommas(l.VaR)"
                                      class="pull-right"></span>
                            </td>
                            <td class="center">
                                <a ui-sref="cato.loggedIn.service.campaign({service_name: l.operation.service, campaign_id: l.operation.campaign.id})"
                                   ng-bind="l.operation.campaign.title"></a>
                            </td>
                            <td>
                                <span ng-class="'label-'+l.validationSeverity.toLowerCase()"
                                      uib-tooltip="{{l.validationSeverity + ' : ' + l.validation + '%'}}"
                                      style="height: 10px;">
                                    <span class="validationSeverityValue"
                                          ng-bind="l.validation + '%'"></span>
                                </span>
                            </td>
                            <td class="center">
                                <span uib-tooltip="{{l.lastValidated | amUtc | amLocal | amDateFormat:'lll'}}"
                                      am-time-ago="l.lastValidated"></span>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </span>
        <span ng-show="histogram">
            <i class="fa fa-table toggleCyvarGraph"
               ng-click="toggleCyvarGraph()"
               aria-hidden="true"
               uib-tooltip="Toggle for table view"></i>
            <div>
                <p class="cyvarPoweredBy">Powered by</p>
                <img src="../../../../img/cyvar.png"
                     class="img-responsive cyvarWidgetIcon"
                     alt="Powered by CyVar">
            </div>
            <nvd3 options="cyvarOptions"
                  data="cyvarData[loss]"
                  api="widget.chart.api"
                  class="cyvarHistogram"
                  ng-class="cyvarGraph"></nvd3>
            <p class="cyvarExplaination">The histogram illustrates the likely losses over a period of twelve months
                based on a given impact.</p>
        </span>
    </div>
</div>