@import (reference) "../../../less/cato/colors.less";

@default-margin: 15px;

:host
{
    display: block;
    // padding-top: 15px;
    // min-height: 800px;		//FIXME
}

img
{
    height: 7em;
}

.divider
{
    margin: @default-margin;
    border-bottom: 2px solid gray;
}

.stat-container
{
    margin-bottom: @default-margin;
    // border-bottom: 2px solid gray;
    // border: 3px solid purple;
}

.stat-value
{
    font-size: 4.5em;
    padding-left: 15px;
}
.stat-label
{
    font-size: 2em;
}

.naics-label
{
    width: 35%;
    color: @color-base;
    font-size: 2.5em;
    line-height: 1.25;
    word-wrap: break-word; 
}
.naics-value
{
    font-size: 2.5em;
    flex-grow: 1;

    //override rules placed by .center
    text-align: left !important;
    margin: 0 !important;
}
