<h3 class="ml5">Enrollment Stats</h3>

<mat-card class="box">
    <mat-form-field>
        <mat-label>Filter by date range</mat-label>
        <mat-select [formControl]="statsRangeControl">
            <mat-option *ngFor="let statsRange of statsRanges" [value]="statsRange.value">
                {{statsRange.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="constainer-fluid full-height">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4 stat-container">
                <div class="flex flex-column">
                    <div class="flex flex-row center">
                        <img src="../../../app/img/insight-icons/new_dib_enrollments.png">
                        <span class="stat-value">{{counts.newEnrollments}}</span>
                    </div>

                    <span class="center stat-label">New DIB Enrollments</span>
                </div>
            </div>
            <span class="divider clearfix visible-xs-block visible-sm-block"></span>

            <div class="col-xs-12 col-md-6 col-lg-4 stat-container">
                <div class="flex flex-column">
                    <div class="flex flex-row center">
                        <img src="../../../app/img/insight-icons/dib_companies_with_completed_surveys.png">
                        <span class="stat-value">{{counts.completed}}</span>
                    </div>

                    <span class="center stat-label">DIB Companies with Completed Surveys</span>
                </div>
            </div>
            <span class="divider clearfix visible-xs-block visible-sm-block visible-md-block"></span>

            <div class="col-xs-12 col-md-6 col-lg-4 stat-container">
                <div class="flex flex-column center">
                    <div class="flex flex-row center">
                        <img src="../../../app/img/insight-icons/dib_mpp_enrollments.png">
                        <span class="stat-value">{{counts.mppEnrollments}}</span>
                    </div>

                    <span class="center stat-label">DIB MPP Enrollments</span>
                </div>
            </div>
            <span class="divider clearfix visible-xs-block visible-sm-block visible-lg-block"></span>


            <div class="col-xs-12 col-md-6 col-lg-4 stat-container">
                <div class="flex flex-column center">
                    <div class="flex flex-row center">
                        <img src="../../../app/img/insight-icons/veteran_owned_companies.png">
                        <span class="stat-value">{{counts.vetOwned}}</span>
                    </div>

                    <span class="center stat-label">Veteran-Owned Companies</span>
                </div>
            </div>
            <span class="divider clearfix visible-xs-block visible-sm-block visible-md-block"></span>

            <div class="col-xs-12 col-md-6 col-lg-4 stat-container">
                <div class="flex flex-column center">
                    <div class="flex flex-row center">
                        <img src="../../../app/img/insight-icons/woman_owned_companies.png">
                        <span class="stat-value">{{counts.womanOwned}}</span>
                    </div>

                    <span class="center stat-label">Woman-Owned Companies</span>
                </div>
            </div>
            <span class="divider clearfix visible-xs-block visible-sm-block"></span>

            <div class="col-xs-12 col-md-6 col-lg-4 stat-container">
                <div class="flex flex-column center">
                    <div class="flex flex-row center">
                        <img src="../../../app/img/insight-icons/8a_companies.png">
                        <span class="stat-value">{{counts.eightA}}</span>
                    </div>

                    <span class="center stat-label">8(a) Companies</span>
                </div>
            </div>
            <span class="divider clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></span>


            <div class="col-xs-12 col-md-6 col-lg-4 stat-container">
                <div class="flex flex-column center">
                    <div class="flex flex-row center">
                        <img src="../../../app/img/insight-icons/hubzone_owned_companies.png">
                        <span class="stat-value">{{counts.hubZone}}</span>
                    </div>

                    <span class="center stat-label">HUBZone-Owned Companies</span>
                </div>
            </div>
            <span class="divider clearfix visible-xs-block visible-sm-block"></span>

            <div class="col-xs-12 col-md-6 col-lg-4 stat-container">
                <div class="flex flex-row center">
                    <div class="naics-label">
                        Top NAICS Codes
                    </div>

                    <div class="flex flex-column">
                        <div *ngFor="let i of topNaics" class="center naics-value">{{i.naics}} – {{i.count}}</div>
                    </div>
                </div>
            </div>
            <span class="divider clearfix visible-xs-block visible-sm-block visible-md-block"></span>

            <div class="col-xs-12 col-md-6 col-lg-4 stat-container">
                <div class="flex flex-column center">
                    <div class="flex flex-row center">
                        <img src="../../../app/img/insight-icons/manufacturers.png">
                        <span class="stat-value">{{counts.manufacturers}}</span>
                    </div>

                    <span class="center stat-label">Manufacturers</span>
                </div>
            </div>
            <span class="divider clearfix visible-xs-block visible-sm-block visible-lg-block"></span>
        </div>
    </div>
</mat-card>
