<ui-view></ui-view> <!-- for modal sub-states -->

<mat-card ng-class="'box'">
    <div class="tabs-container">
        <uib-tabset active="activeTab">
            <uib-tab ng-repeat="tab in tabs track by $index"
                     select="go(tab)"
                     index="tab.stateName"
                     ng-if="tab.show(tab)">
                <uib-tab-heading>
                    <i ng-class="['fa', tab.icon]"
                       uib-tooltip="{{tab.heading}}"
                       aria-hidden="true"></i>
                    <span ng-bind="tab.heading"></span>
                </uib-tab-heading>
                <div class="mt15"
                     ng-include="tab.include"
                     ng-if="activeTab === tab.stateName"></div>
            </uib-tab>
        </uib-tabset>
    </div>
</mat-card>
