<!-- services modal fpo -->
<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title"
            ng-show="mode === 'new'">ADD USER</h3>
        <h3 class="modal-title"
            ng-show="mode !== 'new'">EDIT USER</h3>
    </div>
    <!-- /modal-header -->

    <form name="catouserform"
          ng-submit="addUser()"
          id="catouserform"
          class="form-horizontal"
          method="post">
        <div class="modal-body">
            <button type="button"
                    class="btn btn-white pull-right"
                    ng-show="gdata.isMissionDirectorOrAdmin && mode === 'new'"
                    ng-model="user.showBulkCreate"
                    ng-change="cleanBulkCreateState()"
                    uib-btn-checkbox
                    uib-tooltip="Click to toggle bulk-creating users.">
                Toggle Bulk Create
            </button>
            <p class="pb15"
               ng-show="mode === 'new'">Provide the following information to create a new user.</p>
            <p class="pb15"
               ng-show="mode !== 'new'">Edit desired fields for this user, then click Submit.</p>
            <fieldset>
                <div class="form-group"
                     ng-show="gdata.isMissionDirectorOrAdmin && mode === 'new' && !user.showBulkCreate">
                    <label class="col-sm-3 control-label">
                        User Type*
                    </label>
                    <div class="col-sm-9">
                        <!-- if you're a customer, we dont' show this, but we set it to customer, and if it's an edit
                             we don't show it because you can't presently change a user's type.
                             -->
                        <select class="form-control"
                                id="user_type"
                                name="user_type"
                                ng-required="!user.showBulkCreate"
                                ng-model="user.type"
                                ng-options="type for type in config.type.choices">
                        </select>
                    </div>
                </div>

                <div class="form-group"
                     ng-show="user.type === 'operator'  && !user.showBulkCreate"">
                    <label class="col-sm-3 control-label"
                           for="mission_director">
                        Mission Director
                    </label>
                    <div class="col-sm-9">
                        <div class="slider">
                            <input type="checkbox"
                                   class="switch"
                                   id="mission_director"
                                   ng-checked="user.mission_director"
                                   ng-model="user.mission_director" />
                            <label for="mission_director"
                                   class="switch">Toggle</label>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     ng-show="user.type === 'operator'">
                    <label class="col-sm-3 control-label"
                           for="restricted_operator">
                        Restricted Operator
                    </label>
                    <div class="col-sm-9">
                        <div class="slider">
                            <input type="checkbox"
                                   class="switch"
                                   id="restricted_operator"
                                   ng-checked="user.restricted_operator"
                                   ng-model="user.restricted_operator" />
                            <label for="restricted_operator"
                                   class="switch">Toggle</label>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     ng-show="user.type === 'customer' && gdata.isMissionDirectorOrAdmin">
                    <label class="col-sm-3 control-label"
                           for="account_manager">
                        Account Manager
                    </label>
                    <div class="col-sm-9">
                        <div class="slider">
                            <input type="checkbox"
                                   class="switch"
                                   id="account_manager"
                                   ng-checked="user.account_manager"
                                   ng-change="changeAccountManager()"
                                   ng-model="user.account_manager" />
                            <label for="account_manager"
                                   class="switch">Toggle</label>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     ng-show="user.restricted_operator || user.account_manager">
                    <label class="col-sm-3 control-label"
                           for="assigned_customers">
                        Assigned Customers
                    </label>
                    <div class="col-sm-9">
                        <div class="col-sm-9">
                            <select id="assigned_customers"
                                    class="form-control"
                                    name="assigned_customers"
                                    ng-model="user.new_assigned_customers"
                                    ng-options="customer as customer.name for customer in gdata.customers track by customer.id"
                                    multiple></select>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     ng-show="user.type === 'operator' && !user.mission_director">
                    <label class="col-sm-3 control-label">
                        Level*
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               type="number"
                               min="0"
                               max="10"
                               id="level"
                               name="level"
                               ng-required="true"
                               ng-model="user.level" />
                    </div>
                </div>

                <div class="form-group"
                     ng-show="user.type === 'customer' && !user.account_manager && !gdata.isCustomer">
                    <!--suppress XmlInvalidId -->
                    <label class="col-sm-3 control-label capitalize"
                           for="customers">
                        {{::catotheme.customer}}*
                    </label>
                    <div class="col-sm-9">
                        <condensed-customer-filter set-customer="setCustomer(customer)"
                                                   ng-required="user.type === 'customer' && (!user.account_manager || user.new_assigned_customers.length === 0)"
                                                   cato-ng-disabled="mode !== 'new'"
                                                   initial-customer="user.customer"
                                                   no-monitor-global
                                                   placeholder="'to create a user'"></condensed-customer-filter>
                    </div>
                </div>

                <!-- only show the PoCs as something to select upon create, not edit, because they can't edit that
                     nicely here, you'd need to handle that in the company profile view.
                     -->

                <div class="form-group"
                     ng-show="user.type === 'customer' && !user.showBulkCreate">
                    <label class="col-sm-3 control-label">
                        Contact Type
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control"
                                id="pocs"
                                name="pocs"
                                multiple
                                ng-model="user.pocs"
                                ng-options="t disable when user.existing[t] for t in types">
                        </select>
                    </div>
                    <div class="col-md-12"
                         ng-if="mode !== 'new'">
                        <p class="pull-right help-block">At this time, this is an add only interface. Any existing
                            selections have been disabled. </p>
                    </div>
                </div>

                <div class="form-group"
                     ng-show="!user.showBulkCreate">
                    <label class="col-sm-3 control-label">
                        Username*
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               type="text"
                               id="username"
                               name="username"
                               ng-required="!user.showBulkCreate"
                               ng-model="user.username"
                               ng-trim="true"
                               ng-minlength="config.username.min_length || 3"
                               ng-maxlength="config.username.max_length || 48"
                               ng-pattern="config.username.pattern" />
                    </div>
                    <div class="col-sm-12 help-block"
                         ng-show="catouserform.username.$error.minlength">
                        Username too short, minimum length <span ng-bind="config.username.min_length"></span>.
                    </div>
                    <div class="col-sm-12 help-block"
                         ng-show="catouserform.username.$error.maxlength">
                        Username too long, maximum length <span ng-bind="config.username.max_length"></span>.
                    </div>
                    <div class="col-sm-12 help-block"
                         ng-show="catouserform.username.$error.pattern">
                        Invalid username character(s) supplied; only alphanumeric, dash, underscore, period, and @ are allowed.
                    </div>
                </div>

                <div class="form-group"
                     ng-show="!user.showBulkCreate">
                    <label class="col-sm-3 control-label">
                        Email*
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               type="email"
                               id="email"
                               name="email"
                               ng-required="!user.showBulkCreate"
                               ng-model="user.email"
                               ng-maxlength="config.email.max_length || 254"
                               ng-trim="true" />
                    </div>
                    <div class="col-sm-12 help-block"
                         ng-show="catouserform.email.$invalid">
                        Invalid email address.
                    </div>
                </div>

                <div class="form-group" ng-show="user.type === 'customer' && !user.showBulkCreate">
                    <label class="col-sm-3 control-label">
                        Title
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               type="text"
                               id="title"
                               name="title"
                               ng-model="user.title"
                               ng-maxlength="config.title.max_length || 128"
                               ng-trim="true" />
                    </div>
                </div>

                <div class="form-group" ng-show="!user.showBulkCreate">
                    <label class="col-sm-3 control-label">
                        First Name*
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               type="text"
                               id="first_name"
                               name="first_name"
                               ng-required="!user.showBulkCreate"
                               ng-model="user.first_name"
                               ng-maxlength="config.first_name.max_length || 48"
                               ng-trim="true" />
                    </div>
                    <!-- currently no minimum length of first_name field. -->
                    <div class="col-sm-12 help-block"
                         ng-show="catouserform.first_name.$error.minlength">
                        First name too short, minimum length <span ng-bind="config.first_name.min_length"></span>.
                    </div>
                    <div class="col-sm-12 help-block"
                         ng-show="catouserform.first_name.$error.maxlength">
                        First name too long, maximum length <span ng-bind="config.first_name.max_length"></span>.
                    </div>
                </div>

                <div class="form-group"
                     ng-show="!user.showBulkCreate">
                    <label class="col-sm-3 control-label">
                        Last Name*
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               type="text"
                               id="last_name"
                               name="last_name"
                               ng-required="!user.showBulkCreate"
                               ng-model="user.last_name"
                               ng-maxlength="config.last_name.max_length || 48"
                               ng-trim="true" />
                    </div>
                    <!-- currently no minimum length of last_name field. -->
                    <div class="col-sm-12 help-block"
                         ng-show="catouserform.last_name.$error.minlength">
                        Last name too short, minimum length <span ng-bind="config.last_name.min_length"></span>.
                    </div>
                    <div class="col-sm-12 help-block"
                         ng-show="catouserform.last_name.$error.maxlength">
                        Last name too long, maximum length <span ng-bind="config.last_name.max_length"></span>.
                    </div>
                </div>

                <div class="form-group"
                     ng-show="user.type === 'customer' && !user.showBulkCreate">
                    <label class="col-sm-3 control-label">
                        Phone Number
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               id="phonenumber"
                               name="phonenumber"
                               placeholder="{{inputTypes.phonenumber.placeholder}}"
                               ng-attr-type="inputTypes.phonenumber.inputType"
                               ng-pattern="inputTypes.phonenumber.pattern"
                               ng-model="user.phonenumber"
                               ng-minlength="config.pocaddr.value.min_length"
                               ng-maxlength="config.pocaddr.value.max_length" />
                        <div class="col-sm-12 help-block"
                             ng-show="catouserform.phonenumber.$error.minlength">
                            The POC's address is too short, minimum length <span
                                ng-bind="config.pocaddr.value.min_length"></span>.
                        </div>
                        <div class="col-sm-12 help-block"
                             ng-show="catouserform.phonenumber.$error.maxlength">
                            The POC's address is too long, maximum length <span
                                ng-bind="config.pocaddr.value.max_length"></span>.
                        </div>
                        <div class="col-sm-12 help-block"
                             ng-show="catouserform.phonenumber.$error.pattern">
                            <span ng-bind-html="inputTypes.phonenumber.patternError"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     ng-show="user.type === 'customer' && user.pocs.length && !user.showBulkCreate">
                    <label class="col-sm-3 control-label">
                        Location
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control"
                                id="physical_address"
                                name="physical_address"
                                ng-model="user.physical"
                                ng-options="location.id as location.name for location in locations">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-show="user.type === 'customer' && !user.showBulkCreate">
                    <label class="col-sm-3 control-label">
                        Department
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               type="text"
                               id="department"
                               name="department"
                               ng-model="user.department"
                               ng-maxlength="config.department.max_length || 200"
                               ng-trim="true" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="comments" class="col-sm-3 control-label">
                        Comments
                    </label>
                    <div class="col-sm-9">
                        <textarea rows="2"
                                  cols="75"
                                  class="form-control"
                                  id="comments"
                                  name="comments"
                                  ng-model="user.comments"
                                  ng-trim="true">{{ comments }}</textarea>
                    </div>
                </div>

                <div class="form-group"
                     ng-show="(mode === 'new' || gdata.isMissionDirectorOrAdmin) && !user.showBulkCreate && !gdata.isCustomer">
                    <label class="col-sm-3 control-label">
                        Password
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               type="password"
                               id="password"
                               name="password"
                               ng-attr-type="{{ showPassword ? 'text' : 'password' }}"
                               ng-model="user.password"
                               ng-keyup="validatePass()"
                               pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^A-Za-z0-9]).{8,}$"
                               ng-trim="false" />
                        <div id="pswd_info"
                             ng-if="invalid">
                            <h4>Password must meet the following requirements:</h4>
                            <ul class="pswd_info">
                                <li><i ng-class="letter"></i> At least <strong>one letter</strong></li>
                                <li><i ng-class="capital"></i> At least <strong>one capital letter</strong></li>
                                <li><i ng-class="number"></i> At least <strong>one number</strong></li>
                                <li><i ng-class="special"></i>At least <strong>one special character</strong></li>
                                <li><i ng-class="length"></i>Be at least <strong>8 characters</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 help-block"
                         ng-show="catouserform.password.$error.minlength">
                        Password too short, minimum length <span ng-bind="config.password.minlength"></span>.
                    </div>
                </div>
                <div class="form-group"
                     ng-show="(mode === 'new' || gdata.isMissionDirectorOrAdmin) && !user.showBulkCreate && !gdata.isCustomer">
                    <label class="col-sm-3 control-label">
                        Confirm Password
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control"
                               ng-attr-type="{{ showPassword ? 'text' : 'password' }}"
                               id="passwordConfirm"
                               name="passwordConfirm"
                               validateequal="password"
                               ng-model="user.passwordConfirm"
                               pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^A-Za-z0-9]).{8,}$"
                               ng-trim="false" />
                    </div>
                    <div class="msg-block"
                         ng-show="catouserform.passwordConfirm.$error">
                        <span class="msg-error"
                              ng-show="catouserform.passwordConfirm.$error.match">Passwords don't match.</span>
                    </div>
                </div>
                <div class="form-group"
                     ng-show="(mode === 'new' || gdata.isMissionDirectorOrAdmin) && !user.showBulkCreate && !gdata.isCustomer">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <div class="btn-group">
                            <label class="btn btn-primary ng-untouched ng-valid"
                                   ng-model="showPassword"
                                   uib-btn-checkbox>
                                Show Password <span ng-class="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     ng-show="(mode === 'new' || user.is_requested) && gdata.isMissionDirectorOrAdmin && !user.showBulkCreate">
                    <label class="col-sm-3 control-label"
                           for="welcomeEmail">
                        Send Welcome E-Mail?
                        <i class="fa fa-info-circle"
                           uib-tooltip="Sends an email letting the user set their own password."
                           tooltip-placement="right"></i>
                    </label>
                    <div class="col-sm-9 form-control-static">
                        <div class="slider">
                            <input type="checkbox"
                                   class="switch"
                                   id="welcomeEmail"
                                   ng-model="welcomeEmail">
                            <label for="welcomeEmail"
                                   class="switch">Toggle</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 help-block"
                     ng-show="user.showBulkCreate">
                    Enter one E-Mail address per line, or drag and drop files containing E-Mail addresses.
                </div>

                <div class="form-group"
                     ng-show="user.showBulkCreate">
                    <label class="col-sm-3 control-label">
                        E-Mail Addresses*
                    </label>
                    <div class="col-sm-9"
                         email-file-drop-zone="{{user}}">
                        <textarea rows="10"
                                  cols="75"
                                  class="form-control"
                                  type="textarea"
                                  id="bulk_addresses"
                                  name="bulk_addresses"
                                  ng-change="check_invalid()"
                                  ng-model="email_file_contents"
                                  ng-required="user.showBulkCreate"
                                  ng-trim="true">{{email_file_contents}}</textarea>
                    </div>
                </div>
            </fieldset>
        </div>
        <!-- /modal-body -->

        <div class="modal-footer">
            <div class="alert alert-danger center"
                 role="alert"
                 ng-repeat="error in errors">
                <strong ng-bind="error"></strong>
            </div>
            <div class="alert alert-info center"
                 role="alert"
                 ng-if="infos.length > 0">
                <div ng-repeat="msg in infos"
                     ng-bind="msg"></div>
            </div>
            <div class="alert alert-success center"
                 role="alert"
                 ng-if="successes.length > 0">
                <div ng-repeat="msg in successes"
                     ng-bind="msg"></div>
            </div>
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn"
                        ng-click="cancel()">Cancel</button>
                <button type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="catouserform.$invalid || invalid_emails.length">Submit</button>
            </div>
        </div>
        <!-- /modal-footer -->

    </form>
</div>
