<table class="table">
    <tr>
        <td ng-if="gdata.isOperator"
            class="col-xs-6">
            <condensed-customer-filter set-customer="setSelectedCustomer(customer)"
                                       placeholder="'to view associated users'"></condensed-customer-filter>
        </td>
        <td>
            <a class="btn pull-right"
               ng-class="{true: 'btn-primary', false: 'btn-warning'}[!data.showInactive]"
               ng-click="data.showInactive = !data.showInactive">
              {{!data.showInactive && 'Show Inactive' || 'Hide Inactive'}}
            </a>
        </td>
        <td>
            <a ng-if="gdata.isMissionDirectorOrAdmin"
               ui-sref=".addCustomer"
               id="addCustomerUTab"
               class="green-txt pull-right mt5 mr15">
                <i aria-hidden="true"
                   class="fa fa-plus"></i> Add {{::aAn(catotheme.customer)}} {{::catotheme.customerCapitalize}}</span>
            </a>
            <a ng-if="gdata.isMissionDirectorOrAdmin || gdata.isCustomer"
               ui-sref=".addUser"
               id="addUserUTab"
               class="green-txt pull-right mt5 mr15">
                <i aria-hidden="true"
                   class="fa fa-plus"></i> Add a User</a>
        </td>
    </tr>
</table>
<div cg-busy="{promise: usersLoading, message: 'Loading Users'}">
    <div>
        <table class="table table-striped"
               id="manage-customer-users">
            <thead>
                <tr>
                    <td colspan="10"
                        class="separator-hdr">
                        <h3 class="pull-left"
                            ng-if="gdata.isOperator"><i class="fa fa-user"
                               aria-hidden="true"></i> Users</h3>
                        <h3 class="pull-left"
                            ng-if="gdata.isCustomer"
                            ng-bind="gdata.customer.name"></h3>
                        <div class="pull-right label-white">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search Users"
                                       ng-model="searchUsers">
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'last_name'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'last_name' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'last_name' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            NAME
                        </a>
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'username'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'username' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'username' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            USERNAME
                        </a>
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'email'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'email' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'email' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            EMAIL
                        </a>
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'pocs'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'pocs' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'pocs' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            POCS
                        </a>
                        <a ui-sref="cato.loggedIn.profile"
                           ng-show="gdata.isCustomer">[edit]</a>
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'access_groups'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'access_groups' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'access_groups' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            <span class="uppercase">ZONES</span>
                        </a>
                    </th>
                    <th ng-show="gdata.isOperator">
                        <a href="#"
                           ng-click="sortType = 'customerInfo.name'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'customerInfo.name' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'customerInfo.name' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            <span class="uppercase">current {{::catotheme.customer}}</span>
                        </a>
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'last_login'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'last_login' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'last_login' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            LAST LOGIN
                        </a>
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'date_joined'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'date_joined' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'date_joined' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            DATE JOINED
                        </a>
                    </th>
                    <th class="center">
                        <a href="#"
                           ng-click="sortType = 'is_active'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'is_active' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'is_active' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            ACTIVE?
                        </a>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--
                <tr>
                    <td colspan="6" class="separator-hdr">
                            <span ng-if="gdata.isMissionDirectorOrAdmin" class="label-white">
                                <!--
                                Not yet supported
                                <button class="btn btn-white pull-right ml5"
                                    uib-tooltip="Delete"
                                    type="button"
                                    ng-click="deleteCustomer(customer.id)"><i aria-hidden="true" class="fa fa-trash"></i>
                                </button>
                                -->
                <!--                 <a ui-sref=".addCustomer({customer_id: customer.id})"
                                   class="btn btn-white pull-right"
                                   uib-tooltip="Edit"
                                   type="button"><i aria-hidden="true" class="fa fa-pencil"></i>
                                </a>
                            </span>
                        </h3>

                    </td>
                </tr>
                -->
                <tr ng-repeat="user in gdata.users | orderBy:sortType:sortReverse | filter: userFilters | filter:searchUsers"
                    ng-class="{'inactive': !user.is_active}">
                    <td class="nowrap">
                        <i ng-show="user.roles.indexOf('account_manager') > -1"
                           class="fa fa-address-book"
                           uib-popover-html="assignedCustomerList(user)"
                           popover-title="Customers available to manage"
                           popover-trigger="'mouseenter'"
                           popover-placement="top-left"></i>
                        <span ng-bind="user.first_name + ' ' + user.last_name"></span>
                    </td>
                    <td ng-bind="user.username"></td>
                    <td ng-bind="user.email"></td>
                    <td ng-bind="user.pocs.toString()"></td>
                    <td ng-bind="user.access_groups.join()"></td>
                    <td ng-if="gdata.isOperator">
                        <a ui-sref=".addCustomer({customer_id: user.customer})"
                           uib-tooltip-html="'Edit ' + user.customerInfo.name"
                           ng-bind-html="user.customerInfo.name">
                        </a>
                    </td>
                    <td ng-bind="user.last_login | date:'MM/dd/yyyy H:mm'"></td>
                    <td ng-bind="user.date_joined | date:'MM/dd/yyyy H:mm'"></td>
                    <td class="center">
                        <button class="btn btn-white"
                                ng-disabled="!gdata.isMissionDirectorOrAdmin"
                                ng-click="toggleActive(user)">
                            <i ng-if="user.is_requested"
                               uib-tooltip="Requested"
                               class="fa fa-exclamation-circle yellow"></i>
                            <i ng-if="user.is_active"
                               uib-tooltip="Deactivate"
                               class="fa fa-check green"></i>
                            <i ng-if="!user.is_active && !user.is_requested"
                               uib-tooltip="Activate"
                               class="fa fa-times-circle red"></i>
                        </button>
                    </td>
                    <td class="txt-right nobreak">
                        <!-- right now a user can only update their account, but an MD or Admin can update anyone's -->
                        <actions ng-if="!gdata.isCustomer"
                                 actions="usersActions"
                                 target="user">
                        </actions>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
