
<cato-widget #spinner (close)="hideWidget()">
    <ng-container widget-header>
        <div class="widget-title">
            {{widget.title}}
            <button class="ml5 mat-btn-xs" mat-flat-button [matMenuTriggerFor]="menu">Show: {{statToShow}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let stat of availableStats" (click)="setStatType(stat)">{{stat}}</button>
            </mat-menu>
        </div>
        <i class="fa fa-info-circle info-icon" [matTooltip]="widget.description"></i>
    </ng-container>

    <ng-container widget-body>
        <div class="graph-widget-body p5">
            <div [hidden]="!size">
                <div class="heatmap-container">
                    <ngx-charts-heat-map #heatMapComponent
                                         [scheme]="scheme"
                                         [legend]="false"
                                         [xAxis]="true"
                                         [yAxis]="true"
                                         [trimYAxisTicks]="false"
                                         [innerPadding]="2"
                                         [tooltipText]="getTooltipHtml"
                                         [results]="chartData"
                    >
                    </ngx-charts-heat-map>
                </div>

                <div class="row mr5 ml5 mt10 text-center">
                    <div *ngFor="let color of scheme.domain; let i = index;" class="col-xs-1">
                        <div class="percent-badge" [style.background]="color">&nbsp;</div>
                        <div class="percent-badge" *ngIf="i === 0">N/A</div>
                        <div class="percent-badge" *ngIf="i !== 0">{{(i - 1) * 10}}%</div>
                    </div>
                </div>

            </div>
            <div *ngIf="!size" class="flex center full-height full-width no-data">
                No Data to Show
            </div>
        </div>
    </ng-container>
</cato-widget>

