<loading-content class="no-overflow" style="height: 100%">
    <div class="flex flex-column" style="height: 100%;">
        <h2 class="text-center">{{title}}</h2>

        <div class="flex flex-column flex-grow no-overflow">
            <div class="vscroll full-height">
                <div class="block theme-dark" style="height: 35vh; min-height: 225px;">
                    <ngx-charts-bar-vertical-stacked
                        class="block mb10"
                        [results]="chartData"
                        [scheme]="colorScheme"
                        [xAxis]="true"
                        [yAxis]="true"
                        [showXAxisLabel]="false"
                        [showYAxisLabel]="true"
                        [xAxisLabel]="'poop'"
                        [yAxisLabel]="yAxisLabel"
                        legend="true"
                        legendPosition="right"
                        showDataLabel="true"
                        yScaleMax="200"
                        (select)="log($event)">
                    </ngx-charts-bar-vertical-stacked>
                </div>

                <mat-divider></mat-divider>

                <mat-accordion displayMode="flat" class="block mt10">
                    <mat-expansion-panel *ngFor="let item of practiceMap | keyvalue">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="width-75">
                                Level {{item.key}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-list dense>
                            <mat-divider></mat-divider>
                            <div *ngFor="let practice of item.value">
                                <mat-list-item>
                                    <span class="bold mr10">{{practice.identifier}}</span>{{practice.value}}
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </div>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>

        <div class="button-pan">
            <button mat-flat-button color="accent" class="pull-right" mat-dialog-close>Close</button>
        </div>
    </div>
</loading-content>
