<script type="text/ng-template"
        id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" ng-transclude></div>
    </div>
  </script>


<!-- services modal fpo -->
<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="$ctrl.handleClose()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title"
            ng-if="!edit">Add Restriction</h3>
        <h3 class="modal-title"
            ng-if="edit">Edit Restriction</h3>
    </div>
    <!-- /modal-header -->

    <form ng-submit="$ctrl.addOrUpdateRestriction()"
          value="catorestrictionform"
          id="catorestrictionform"
          class="form-horizontal"
          method="post">
        <div class="modal-body"
             cg-busy="loading">
            <div class="form-group">
                <div class="form-control-static">
                    Provide the following information to create a new Restriction.
                </div>
            </div>
            <fieldset style="margin-left: -20px;">
                <div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-6 form-group center"
                             style="display:inline-block">
                            <div style="margin:0;display:block">
                                <label class="center"
                                       style="display:block"
                                       for="permission">
                                    Permission is:
                                </label>
                            </div>
                            <div class="slider"
                                 name="permission"
                                 id="permission"
                                 style="display:block">
                                <div style="display:inline-block">
                                    <label for="Denied"
                                           style="display:block">Denied</label>
                                    <i uib-tooltip="operation is denied"
                                       id="Denied"
                                       name="Denied"
                                       tooltip-placement="bottom"
                                       class="fa fa-ban center"
                                       aria-hidden="true"
                                       style="display:block"></i>
                                </div>
                                <div style="display:inline-block">
                                    <input type="checkbox"
                                           class="switch"
                                           name="permitted"
                                           id="permitted"
                                           ng-model="$ctrl.permitted"
                                           style="display:inline-block">
                                    <label for="permitted"
                                           class="switch"
                                           style="display:inline-block">Toggle</label>
                                </div>
                                <div style="display:inline-block">
                                    <label for="allowed"
                                           style="display:block">Allowed</label>
                                    <i uib-tooltip="operation is allowed"
                                       id="allowed"
                                       name="allowed"
                                       tooltip-placement="bottom"
                                       class="fa fa-check center"
                                       aria-hidden="true"
                                       style="display:block"></i>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-6 form-group center"
                             style="display:inline-block">
                            <div style="margin:0;display:block">
                                <label class="center"
                                       style="display:block"
                                       for="appliesTo">
                                    Applies to:
                                </label>
                            </div>
                            <div class="slider"
                                 name="restrictBy"
                                 id="restrictBy"
                                 style="display:block">
                                <div style="display:inline-block">
                                    <label for="specificTargets"
                                           style="display:block">Specific Targets</label>
                                    <i uib-tooltip="Restriction applies to specific targets"
                                       id="specificTargets"
                                       name="specificTargets"
                                       tooltip-placement="bottom"
                                       class="fa fa-ban center"
                                       aria-hidden="true"
                                       style="display:block"></i>
                                </div>
                                <div style="display:inline-block">
                                    <input type="checkbox"
                                           class="switch"
                                           name="appliesTo"
                                           id="appliesTo"
                                           ng-model="$ctrl.is_global"
                                           style="display:inline-block">
                                    <label for="appliesTo"
                                           class="switch"
                                           style="display:inline-block">Toggle</label>
                                </div>
                                <div style="display:inline-block">
                                    <label for="allTargets"
                                           style="display:block">All Targets</label>
                                    <i uib-tooltip="Restriction applies to all targets"
                                       id="allTargets"
                                       name="allTargets"
                                       tooltip-placement="bottom"
                                       class="fa fa-check center"
                                       aria-hidden="true"
                                       style="display:block"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <fieldset ng-disabled="$ctrl.is_global"
                              class="col-md-12 form-group">
                        <dual-pane-multi-select ng-model="$ctrl.includedTargets"
                                                available-objs="$ctrl.targets"
                                                objs-name="targets"
                                                group-by="obj.type"
                                                order-by="['type','-active','value']"
                                                no-available-extra-text=""
                                                label-attribute="value"
                                                name="targets"></dual-pane-multi-select>
                    </fieldset>

                    <div class="col-md-12 form-group">
                        <uib-accordion>
                            <div uib-accordion-group class="panel-default"
                                                 template-url="group-template.html"
                                                 is-open="$ctrl.selectingServices"
                                                 style="padding:0">

                                <uib-accordion-heading>
                                    <input type="checkbox"
                                           id="allServicesSelected"
                                           ng-checked="!$ctrl.selectingServices"
                                           ng-model="$ctrl.selectingServices"
                                           disabled>
                                    All Services Selected by Default; Click to Select Individual Services
                                    <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': $ctrl.selectingServices, 'glyphicon-chevron-right': !$ctrl.selectingServices}"></i>
                                </uib-accordion-heading>

                                <select ng-model="$ctrl.selectedServices"
                                        multiple
                                        chosen
                                        class="chosen-select"
                                        style="width:100%;"
                                        ng-options="service.id as service.name for service in $ctrl.subscribedServices"
                                        ng-change="$ctrl.allServicesSelected()"></select>

                            </div>
                        </uib-accordion>
                    </div>

                    <div class="col-md-12 form-group row center">
                        <div class="col-md-5 form-group"
                             style="display:inline-block">
                            <div style="margin:0;width:10em;display:block">
                                <label class="center"
                                       style="display:block"
                                       for="restrictBy">
                                    Restrict by:
                                </label>
                            </div>
                            <div class="slider"
                                 name="restrictBy"
                                 id="restrictBy"
                                 style="display:block">
                                <div style="display:inline-block">
                                    <label for="byDate"
                                           style="display:block">Date</label>
                                    <i uib-tooltip="Set restriction by date"
                                       id="byDate"
                                       name="byDate"
                                       tooltip-placement="bottom"
                                       class="fa fa-calendar center"
                                       aria-hidden="true"
                                       style="display:block"></i>
                                </div>
                                <div style="display:inline-block">
                                    <input type="checkbox"
                                           class="switch"
                                           name="restrictByDateOrTime"
                                           id="restrictByDateOrTime"
                                           ng-model="$ctrl.restrictByDateOrTime"
                                           style="display:inline-block"
                                           ng-change="$ctrl.resetDateTimeVals()">
                                    <label for="restrictByDateOrTime"
                                           class="switch"
                                           style="display:inline-block">Toggle</label>
                                </div>
                                <div style="display:inline-block">
                                    <label for="byTimeOfDay"
                                           style="display:block">Time of Day</label>
                                    <i uib-tooltip="Set restriction by time of day"
                                       id="byTimeOfDay"
                                       name="byTimeOfDay"
                                       tooltip-placement="bottom"
                                       class="fa fa-clock-o center"
                                       aria-hidden="true"
                                       style="display:block"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 form-group"
                             ng-if="!$ctrl.restrictByDateOrTime">
                            <span class="col-md-6"
                                  style="padding: 0 .25em 0 0;">
                                <label for="startDate">Start Date:</label>
                                <date-popup on-update="$ctrl.updateProp(prop,value)"
                                            init-val="$ctrl.startDate"
                                            name="startDate"
                                            date-name="startDate"></date-popup>
                            </span>
                            <span class="col-md-6"
                                  style="padding: 0">
                                <label for="startDate">End Date:</label>
                                <date-popup on-update="$ctrl.updateProp(prop,value)"
                                            init-val="$ctrl.endDate"
                                            name="endDate"
                                            date-name="endDate"></date-popup>
                            </span>
                        </div>
                        <div class="col-md-8 form-group"
                             ng-if="$ctrl.restrictByDateOrTime">
                            <span class="col-md-6"
                                  style="padding: 0 .25em 0 0">
                                <label for="startTime">Start Time:</label>
                                <time-popup on-update="$ctrl.updateProp(prop,value)"
                                            init-val="$ctrl.startTime"
                                            name="startTime"
                                            time-name="startTime"></time-popup>
                            </span>
                            <span class="col-md-6"
                                  style="padding: 0">
                                <label for="endTime">End Time:</label>
                                <time-popup on-update="$ctrl.updateProp(prop,value)"
                                            init-val="$ctrl.endTime"
                                            name="endTime"
                                            time-name="endTime"></time-popup>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <div class="center row">
                        <label for="days-of-the-week">Days of Operation:</label>
                    </div>
                    <div class="row center"
                         name="days-of-the-week"
                         id="days-of-the-week">
                        <div class="center day-of-week">
                            <label for="sunday">Sunday</label>
                            <div>
                                <input type="checkbox"
                                       id="sunday"
                                       name="sunday"
                                       ng-model="$ctrl.days_of_week.sunday">
                            </div>
                        </div>
                        <div class="center day-of-week">
                            <label for="monday">Monday</label>
                            <div>
                                <input type="checkbox"
                                       id="monday"
                                       name="monday"
                                       ng-model="$ctrl.days_of_week.monday">
                            </div>
                        </div>
                        <div class="center day-of-week">
                            <label for="tuesday">Tuesday</label>
                            <div>
                                <input type="checkbox"
                                       id="tuesday"
                                       name="tuesday"
                                       ng-model="$ctrl.days_of_week.tuesday">
                            </div>
                        </div>
                        <div class="center day-of-week">
                            <label for="wednesday">Wednesday</label>
                            <div>
                                <input type="checkbox"
                                       id="wednesday"
                                       name="wednesday"
                                       ng-model="$ctrl.days_of_week.wednesday">
                            </div>
                        </div>
                        <div class="center day-of-week">
                            <label for="thursday">Thursday</label>
                            <div>
                                <input type="checkbox"
                                       id="thursday"
                                       name="thursday"
                                       ng-model="$ctrl.days_of_week.thursday">
                            </div>
                        </div>
                        <div class="center day-of-week">
                            <label for="friday">Friday</label>
                            <div>
                                <input type="checkbox"
                                       id="friday"
                                       name="friday"
                                       ng-model="$ctrl.days_of_week.friday">
                            </div>
                        </div>
                        <div class="center day-of-week">
                            <label for="saturday">Saturday</label>
                            <div>
                                <input type="checkbox"
                                       id="saturday"
                                       name="saturday"
                                       ng-model="$ctrl.days_of_week.saturday">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <!-- /modal-body -->

        <div class="modal-footer">
            <div class="alert alert-danger center"
                 role="alert"
                 ng-repeat="error in errors">
                <strong ng-bind="error"></strong>
            </div>
            <div class="alert alert-info center"
                 role="alert"
                 ng-if="infos.length > 0">
                <div ng-repeat="msg in infos"
                     ng-bind="msg"></div>
            </div>
            <div class="alert alert-success center"
                 role="alert"
                 ng-if="successes.length > 0">
                <div ng-repeat="msg in successes"
                     ng-bind="msg"></div>
            </div>
            <div class="alert alert-warning center"
                 role="alert"
                 ng-if="restriction.confirmTypes">
                <strong ng-bind="restriction.confirmTypes"></strong>
            </div>
            <div class="form-actions pull-right">
                <button type="reset"
                        class="btn btn-default"
                        ng-click="$ctrl.handleClose()">Cancel</button>
                <button type="submit"
                        class="btn btn-primary formSubmit"
                        ng-disabled="catorestrictionform.$invalid">Submit</button>
            </div>
        </div>
        <!-- /modal-footer -->
    </form>
</div>
