<div class="wrapper wrapper-content">
    <div class="animated fadeInRight">
        <div class="clearfix mb10"
             ng-class="{'sidebar-active': !data.sideBarActive}"
             style="margin-left: 11px;">
            <a ng-controller="SidebarCtrl"
               ng-click="toggleSidebar()"
               uib-tooltip="Toggle Sidebar"
               tooltip-placement="right">
                <i class="fa fa-bars"
                   aria-hidden="true"
                   ng-class="{'nav-icon': !data.sideBarActive}">
                </i>
            </a>
            <manage-customer class="selectedCustomer"
                             ng-if="!gdata.isCustomer && gdata.isInsight == false"
                             set-customer="setSelectedCustomer(customer)"
                             clear-customer="setSelectedCustomer()"
                             placeholder="'to manage'">
            </manage-customer>
        </div>


        <div id="views"
             ng-controller="SidebarCtrl"
             class="tabs-container sidebar"
             ng-class="{'sidebar-active': !data.sideBarActive}">
            <uib-tabset class="tabs-left flex"
                        active="activeTab">
                <uib-tab ng-repeat="tab in tabs track by $index"
                         select="go(tab)"
                         index="tab.stateName"
                         ng-if="tab.show(tab)">
                    <uib-tab-heading>
                        <i ng-class="['fa', tab.icon]"
                           uib-tooltip="{{tab.heading}}"
                           tooltip-placement="{{data.sideBarActive ? 'top': 'right'}}">
                        </i>

                        <span ng-if="newItemCounts[tab.notifications] > 0 || pendingItemCounts[tab.notifications] > 0">
                            <span class="notification-num menu-num"
                                  ng-class="{zero: (newItemCounts[tab.notifications]===0 && pendingItemCounts[tab.notifications]===0) || (tab.notifications === 'messages' && pendingItemCounts[tab.notifications]===0)}">
                                <span ng-if="tab.notifications !== 'messages'">
                                    <span ng-if="newItemCounts[tab.notifications] > 999"
                                          uib-tooltip="newItemCounts[tab.notifications]">1K+</span>
                                    <span ng-if="newItemCounts[tab.notifications] <= 999"
                                          ng-bind="newItemCounts[tab.notifications]"></span>
                                    <span ng-if="newItemCounts[tab.notifications] !== pendingItemCounts[tab.notifications]">
                                        <span ng-if="(newItemCounts[tab.notifications] | isNumber) && (pendingItemCounts[tab.notifications] | isNumber)">
                                            /
                                        </span>
                                        <span ng-if="pendingItemCounts[tab.notifications] > 999"
                                              uib-tooltip="{{pendingItemCounts[tab.notifications]}}">
                                            1K+
                                        </span>
                                        <span ng-if="pendingItemCounts[tab.notifications] <= 999"
                                              ng-bind="pendingItemCounts[tab.notifications]">
                                        </span>
                                    </span>
                                </span>
                                <span ng-if="tab.notifications === 'messages'">
                                    <span ng-if="pendingItemCounts[tab.notifications] > 999"
                                          uib-tooltip="{{pendingItemCounts[tab.notifications]}}">1K+</span>
                                    <span ng-if="pendingItemCounts[tab.notifications] <= 999"
                                          ng-bind="pendingItemCounts[tab.notifications]"></span>
                                </span>
                            </span>
                        </span>

                        <span ng-bind="tab.heading" ng-class="tab.className"></span>
                    </uib-tab-heading>


                    <div class="panel-body" ng-class="'dashboard-tab-'+tab.viewName">
                        <div ui-view="{{tab.viewName}}"></div>
                    </div>
                </uib-tab>
          </uib-tabset>
        </div>
        <!-- #views.tabs-container -->
    </div>
    <!-- /animated fadeInRight -->

</div>
<!-- /wrapper wrapper-content -->
