<ui-view></ui-view> <!-- for modal sub-states -->
<table class="table noborder">
    <tr>
        <td ng-if="data.movedOrResized()"
            class="col-xs-12">
            <div class="btn-group pull-right">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Reset widgets <span class="caret"></span>
                </button>
                <ul class="dropdown-menu"
                    role="menu">
                    <li>
                        <a href
                           ng-click="resetWidgets($event)"
                           title="Hold alt and shift to forcibly regenerate all widgets">
                            Reset to default widget view
                        </a>
                    </li>
                    <li ng-repeat="widget in user.ui_data.widgets | filter: {show: false}">
                        <a href
                           ng-click="showWidget(widget)"
                           ng-bind="widget.title"></a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>

<!--
<div class="col-lg-12 dis-flex">
    <div class="ibox" style="width: 100%">
        <div class="ibox-title bot-brdr">
            <h5>Your {{::catotheme.appName}} Score</h5>
        <div ibox-tools></div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-4">
                    <div class="zc-cover">&nbsp;</div>
                    <zingchart id="gauge" zc-values="myData" zc-json="myObj" zc-type="gauge" zc-height=300 zc-width=300></zingchart>
                    <p class="zc-cover-text pt10">Your {{::catotheme.appName}} Score is a snapshot of your organization's cyber resiliency. As new findings emerge or as your users complete training classes and quizzes, this score will change. The graph to the right tracks these changes over time so you can see how your {{::catotheme.appName}} Score progresses as you continue to make changes in your organization.

                </div>
            </div>
        </div>
    </div>
</div>
-->

<div class="col-lg-12">
    <div ng-show="customer.subscriptions.length == 0">
        <h3>You have not been subscribed to any services. Contact your {{::catotheme.appName}} representative to subscribe to some
            services.</h3>
    </div>

    <ul gridster="gridsterOpts">
        <li gridster-item="widget"
            class="gridster-item"
            ng-repeat="widget in widgets | filter:{show: true} track by widget.title"
            ng-class="widget.gridsterClasses">
            <div ng-include="widget.templateUrl"
                 style="height: 100%;"
                 ng-attr-id="widget-{{widget.id}}"></div>
        </li>
    </ul>
</div>

<!--
<div class="col-lg-12 dis-flex">
    <div class="ibox" style="width: 100%">
        <div class="ibox-title bot-brdr">
-->
<!--<h5>Your {{::catotheme.appName}} Score</h5>-->
<!--
            <h5>{{::catotheme.appName}} Finding Activity</h5>
        <div ibox-tools></div>
        </div>
        <div class="ibox-content">
-->
<!--
            <div class="row">
                <div class="col-sm-4">
                    <div class="zc-cover">&nbsp;</div>
                    <zingchart id="gauge" zc-values="myData" zc-json="myObj" zc-type="gauge" zc-height=300 zc-width=300></zingchart>
                    <p class="zc-cover-text pt10">Your {{::catotheme.appName}} Score is a snapshot of your organization's cyber resiliency. As new findings emerge or as your users complete training classes and quizzes, this score will change. The graph to the right tracks these changes over time so you can see how your {{::catotheme.appName}} Score progresses as you continue to make changes in your organization.

                </div>

                <div class="col-sm-8">
                    <div google-chart chart="myChartObject" style="height:400px; width:100%;"></div>
                </div>
            </div>
            -->
<!--
            <h3 ng-if="data.findings[user.customer].length === 0">Currently there are no findings to display</h3>
            <div ng-if="data.findings[user.customer].length > 0" google-chart chart="myChartObject" style="height:400px; width:100%;"></div>

        </div>
    </div>
</div>
-->


<!--
<div class="col-lg-12">
    <div class="ibox">
        <div class="ibox-title bot-brdr">
            <h5>Training Progress</h5>
        <div ibox-tools></div>
        </div>
        <div class="ibox-content">

            <div class="col-lg-6">
                <div class="ibox-title bot-brdr">
                    <h5>My Training Progress <i class="fa fa-user"></i></h5>
                </div>

                <div class="ibox-content panel-body">
                    <p>This is a quick glance at your personal progress broken down by category.</p>
                    <strong class="text-uppercase">{{::catotheme.appName}} TRAINING</strong>
                    <uib-progressbar value="53" type="warning" class="progress progress-striped">53</uib-progressbar>
                    <strong>CYBER SECURITY AWARENESS</strong>
                    <uib-progressbar value="22" type="danger" class="progress progress-striped">22</uib-progressbar>
                    <strong>DFAR CYBER SECURITY TRAINING</strong>
                    <uib-progressbar value="77" type="info" class="progress progress-striped">77</uib-progressbar>
                    <strong>NETWORK IP SPACE SCANNING</strong>
                    <uib-progressbar value="18" class="progress progress-striped netscan">18</uib-progressbar>
                    <strong>DNS ENUMERATION &amp; PROBING</strong>
                    <uib-progressbar value="26" class="progress progress-striped dnsscan">26</uib-progressbar>
                    <strong>SOCIAL ENGINEERING &amp; PHISHING</strong>
                    <uib-progressbar value="41" class="progress progress-striped socialeng">41</uib-progressbar>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="ibox-title bot-brdr">
                    <h5>Company Training Progress <i class="fa fa-users"></i></h5>
                </div>

                <div class="ibox-content panel-body">
                    <p>This is an overview of your comapany's progress broken down by category.</p>
                    <strong class="text-uppercase">{{::catotheme.appName}} TRAINING</strong>
                    <uib-progressbar value="31" type="warning" class="progress progress-striped">31</uib-progressbar>
                    <strong>CYBER SECURITY AWARENESS</strong>
                    <uib-progressbar value="19" type="danger" class="progress progress-striped">19</uib-progressbar>
                    <strong>DFAR CYBER SECURITY TRAINING</strong>
                    <uib-progressbar value="54" type="info" class="progress progress-striped">54</uib-progressbar>
                    <strong>NETWORK IP SPACE SCANNING</strong>
                    <uib-progressbar value="19" class="progress progress-striped netscan">18</uib-progressbar>
                    <strong>DNS ENUMERATION &amp; PROBING</strong>
                    <uib-progressbar value="32" class="progress progress-striped dnsscan">26</uib-progressbar>
                    <strong>SOCIAL ENGINEERING &amp; PHISHING</strong>
                    <uib-progressbar value="47" class="progress progress-striped socialeng">41</uib-progressbar>
                </div>

            </div>
        </div>
    </div>
</div>
-->
