<ui-view></ui-view> <!-- for modal sub-states -->
<table class="table noborder">
    <tr>
        <td class="col-sm-12">
            <h3>SERVICES</h3>
        </td>
    </tr>
</table>

<div cg-busy="{promise: servicesLoading, message: 'Loading Services'}">

    <div ng-show="custServices.length == 0">
        <h3>You currently are not subscribed to any services. <a ui-sref="cato.loggedIn.profile">Update your profile</a>
            to add more services.</h3>
    </div>
    <div class="table-responsive"
         ng-show="custServices.length > 0">
        <table class="table table-striped db-table">
            <thead>
                <tr>
                    <th colspan="2">NAME</th>
                    <th>CAMPAIGNS</th>
                    <!--<th>OPERATIONS</th>-->
                    <th>FINDINGS</th>
                    <!--<th>FINDING SEVERITY OVER TIME</th>-->
                    <!--<th>RETESTABLE</th>-->
                    <!-- WHAT ISN'T RETESTABLE?-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="service in services track by $index"
                    ng-class="service.short_name.toLowerCase()">
                    <td><a ui-sref="cato.loggedIn.service({service_name:service.short_name})"><i
                               class="fa fa-arrow-circle-right lt-grn font2x"
                               aria-hidden="true"></i></a></td>
                    <td><a ui-sref="cato.loggedIn.service({service_name:service.short_name})"
                           ng-bind="service.name"></a></td>
                    <td ng-bind="service.findings.length"></td>
                    <td ng-bind="service.totalFindings"></td>
                    <!--<td>
                            <nvd3 options="svcListOptions" data="service.data2"></nvd3>
                        </td>-->
                    <!--<td>-->
                    <!--<i class="fa fa-check-circle font1-5x green-chk" aria-hidden="true" ng-if="service.retestable"></i>-->
                    <!--<i class="fa fa-times-circle font1-5x red-minus" aria-hidden="true" ng-if="!service.retestable"></i>-->
                    <!--</td>-->
                </tr>
            </tbody>
        </table>
    </div>

</div>