<div class="col-sm-6"
     ng-controller="RecentFindingsCtrl">
    <div class="status-box drk-gray-bg flat-shadow float-e-margins">
        <p class="status-box-hdr">RECENT FINDINGS</p>
        <div class="row">
            <div class="col-sm-6"
                 ng-repeat="finding in recent_findings track by $index">
                <p><a
                       ui-sref="cato.loggedIn.service.campaign.operation.findings({service_name: finding.service, campaign_id:finding.campaign, operation_id:finding.operation, finding_id:finding.id})">
                        {{finding.title}}
                    </a></p>
            </div>
        </div>
        <!-- /row -->
    </div>
</div>
<!-- /col-sm-6 -->