<div class="row">
    <div class="col-xs-11"
         ng-form="urlTemplateForm">
        <div class="form-group">
            <label class="col-sm-3 control-label required"
                   for="label">
                Label
                <i class="fa fa-info-circle"
                   uib-tooltip="The human-readable title for the template"></i>
            </label>
            <div class="col-sm-9">
                <input class="form-control"
                       id="label"
                       name="label"
                       ng-keypress="!urlTemplateForm.$invalid && $ctrl.checkSave($event)"
                       ng-model="$ctrl.updatedTemplate.label"
                       ng-readonly="!$ctrl.editing"
                       placeholder="Enter Label"
                       required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required"
                   for="template">
                Template
                <i class="fa fa-info-circle"
                   uib-tooltip="The template for generating the reference URL; should include the variable '$source_key', which will be substituted with the reference's source key (ex: 'https://cwe.mitre.org/data/definitions/$source_key.html')"></i>
            </label>
            <div class="col-sm-9">
                <span class="input-group">
                    <input class="form-control"
                           id="template"
                           name="template"
                           ng-keypress="!urlTemplateForm.$invalid && $ctrl.checkSave($event)"
                           ng-model="$ctrl.updatedTemplate.template"
                           ng-model-options="{allowInvalid: true}"
                           ng-readonly="!$ctrl.editing"
                           pattern=".+\$source_key.*"
                           placeholder="Enter URL Template"
                           required
                           type="url" />
                    <span class="input-group-addon btn btn-white"
                          ng-click="$ctrl.appendReplacementVariable($event)"
                          ng-disabled="!urlTemplateForm.template.$error.pattern"
                          ng-show="$ctrl.editing"
                          uib-tooltip="Append Replacement Variable">
                        <i aria-hidden="true"
                           class="fa fa-plus"></i>
                    </span>
                </span>
                <div class="help-block"
                     ng-show="urlTemplateForm.template.$error.pattern">
                    URL template must contain the string <code>$source_key</code>.
                </div>
                <div class="help-block"
                     ng-show="urlTemplateForm.template.$error.url">
                    URL template must be a valid URL.
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-1 no-padding">
        <span class="btn-group btn-group-vertical">
            <button class="btn btn-default"
                    ng-click="$ctrl.edit()"
                    ng-if="!$ctrl.editing"
                    tooltip-placement="right"
                    type="button"
                    uib-tooltip="Edit">
                <i aria-hidden="true"
                   class="fa fa-edit"></i>
                <span class="sr-only">Edit</span>
            </button>
            <button class="btn btn-primary"
                    ng-click="$ctrl.save()"
                    ng-disabled="urlTemplateForm.$invalid"
                    ng-if="$ctrl.editing"
                    tooltip-placement="right"
                    type="button"
                    uib-tooltip="Save">
                <i aria-hidden="true"
                   class="fa fa-save"></i>
                <span class="sr-only">Save</span>
            </button>
            <button class="btn btn-default"
                    ng-click="$ctrl.remove()"
                    ng-if="!$ctrl.editing || $ctrl.new"
                    tooltip-placement="right"
                    type="button"
                    uib-tooltip="Remove">
                <i aria-hidden="true"
                   class="fa fa-remove"></i>
                <span class="sr-only">Remove</span>
            </button>
            <button class="btn btn-default"
                    ng-click="$ctrl.cancel()"
                    ng-if="$ctrl.editing && !$ctrl.new"
                    tooltip-placement="right"
                    type="button"
                    uib-tooltip="Cancel">
                <i aria-hidden="true"
                   class="fa fa-close"></i>
                <span class="sr-only">Cancel</span>
            </button>
        </span>
    </div>
</div>