<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item"
          ng-src="{{frameURL}}"
          id="training-frame"></iframe>
</div>

<!-- 
<iframe ng-src="{{frameURL}}" id="training-frame"></iframe>
 -->