<div class="dropdown"
	 selection-model-ignore>
	<div class="btn-group" role="group">
		<button class="btn dropdown-toggle"
				type="button"
				name="similarFindings"
				aria-haspopup="true"
				aria-expanded="true"
				ng-class="{'btn-default': !$ctrl.isGraphSearch, 'btn-primary': $ctrl.isGraphSearch}"
				ng-click="$ctrl.openPanel()"
				ng-disabled="!$ctrl.selected"
				uib-tooltip="{{$ctrl.actionTooltip}}"
				ng-disabled="($ctrl.disabled || $ctrl.showActions === 0)">
			
			<span ng-if="!$ctrl.selected && !$ctrl.isGraphSearch">Similar Findings...</span>
			<span ng-if="$ctrl.selected || $ctrl.isGraphSearch">Similar To <i>{{$ctrl.selectedTitle}}</i></span>
		</button>
		<button class="btn"
		        uib-tooltip="Clear Filter"
				ng-disabled="!$ctrl.isGraphSearch"
				ng-click="$ctrl.clearFilter()"
				ng-class="
				{
					'btn-default': !$ctrl.isGraphSearch,
					'btn-primary': $ctrl.isGraphSearch
				}">
			<span class="fa fa-times"></span>
		</button>
	</div>

	<div class="dropdown-overlay"
		 ng-if="$ctrl.isopen"
		 ng-click="$ctrl.closePanel()"></div>

	<div class="dropdown-menu dropdown-menu-right"
		ng-if="$ctrl.isopen"
		aria-labelledby="similarFindings">

		<h3>{{$ctrl.selected.title}}</h3><hr>
		<div class="tree-wrapper">
			<div ui-tree="" id="tree-root" data-nodrop-enabled="true" ng-if="!$ctrl.loadingError">
				<ol ui-tree-nodes="" ng-model="$ctrl.list">
					<li ng-repeat="node in $ctrl.list"
						ui-tree-node=""
						data-nodrag
						ng-include="'/app/finding/search/finding-properties-tree.html'">
					</li>
				</ol>
			</div>
		</div>

		<div ng-if="$ctrl.loadingError">
			There was an error loading Finding nodes. <br /><br />
			This could happen when the selected Finding does not exist in the graph database.
		</div>
		<button class="btn btn-primary mt5" ng-if="!$ctrl.loadingError" ng-disabled="$ctrl.filterProperties.size===0" ng-click="$ctrl.search()">Search</button>
	</div>
</div>