<div class="tree-node" cg-busy="{promise: node.loading, message: 'Loading...'}">
    <div class="tree-node-content" data-nodrag>
        <span ng-if="node.expandable" class="expand-label">
            <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this); $ctrl.loadFindingChildren(node.id);">
                <span class="glyphicon" ng-class="
                {
                    'glyphicon-chevron-right': collapsed,
                    'glyphicon-chevron-down': !collapsed
                }">
                </span>
            </a>

            <span class="expand-label">{{node.title.substring(0,150)}}</span>
        </span>


        <label ng-if="!node.expandable">
            <span class="key">
                <input type="checkbox" class="mr5"
                    ng-click="$ctrl.toggleProperty(node.id, $event.target.checked)"
                    ng-checked="$ctrl.isSelected(node.id)">
                </input>

                <span>{{node.title}}</span>
            </span>

            <span class="value">{{node.description.toString().substring(0,150)}}</span>
        </label>
    </div>
</div>


<ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.children" ui-tree-node collapsed="node.children.length===0" ng-include="'/app/finding/search/finding-properties-tree.html'"></li>
</ol>
