@key-color: darkgray;
@key-contrast: white;
@value-color: gray;
@value-contrast: white;

finding-search
{
    .dropdown-menu
    {
        z-index: 1000;
        position: absolute;
        display: block !important;
        float: left;

        max-height: 75vh;
        min-width: 40vw !important;
        max-width: 85vw;
        overflow: auto;

        padding: 5px;
        margin: 2px 0 0;
        top: 100%;
        left: 0;
        
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        list-style: none;
        font-size: 14px;
        text-align: left;
        text-shadow: none;
    }



    .dropdown-overlay
    {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height:100vh;
    }


    .tree-node
    {
        background: #7e8597;
        border: 1px solid #dae2ea;
        color: black;
    }

    .tree-node-content
    {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;

        label
        {
            display: flex;
            height: 100%;
            width: 100%;
            max-width: 90vw;
            margin: 0;
            background: @value-color;

            .key, .value
            {
                display: flex;
                padding: 10px;
                margin: 0;
                text-overflow: ellipsis;
            }

            .key
            {
                min-width: 25%;
                max-width: 33%;
                background: @key-color;
                color: @key-contrast;
            }

            .value
            {
                flex-grow: 1;
                max-width: 75%;
                color: @value-contrast;
            }
        }

        .expand-label
        {
            padding: 10px;

            max-width: 100%; overflow: none; text-overflow: ellipsis;
        }
    }




    
    .angular-ui-tree-nodes
    {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    
        .angular-ui-tree-nodes
        {
            padding-left: 40px;
        }
    }
    
    .angular-ui-tree-node
    {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        min-height: 20px;
        line-height: 20px;
    }
    
    .angular-ui-tree-hidden
    {
        display: none;
    }
}
