<div class="col-sm-12">
    <label class="control-label adj">Email Domains</label>&nbsp;&nbsp;
    <a href="#"
       ng-click="$ctrl.addEmailDomain()"
       class="green-txt mr5"><i aria-hidden="true"
           class="fa fa-plus"></i> Add
        Email Domain</a>

    <div ng-repeat="domain in $ctrl.data.emaildomains">
        <form editable-form
              name="domainform"
              onaftersave="$ctrl.saveOrUpdateDomain(domain)"
              class="inline-block">
            <div class="input-group">
                <span class="input-group-addon borderNone"><i class="fa fa-link"
                       aria-hidden="true"></i></span>
                <span editable-text="domain.domain"
                      e-name="domain"
                      e-required
                      e-minlength="{{$ctrl.config.emaildomain.domain.min_length}}"
                      e-maxlength="{{$ctrl.config.emaildomain.domain.max_length}}"
                      e-placeholder="domain.com"
                      ng-click="domainform.$show()">{{
                    domain.domain }}</span>
                <div class="col-sm-12 help-block"
                     ng-show="domainform.domain.$error.maxlength">
                    Domain too long, maximum length <span ng-bind="$ctrl.config.emaildomain.domain.max_length"></span>.
                </div>
            </div>
            <div>
                <!-- Call edit on the form if it's just added, so the user doesn't have to click twice -->
                <span ng-if="domain.id === undefined"
                      ng-init="domainform.$show()"></span>
                <!-- button to show form -->
                <button type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancelDomain()"
                        ng-show="!domainform.$visible && domain.id === undefined">
                    Cancel
                </button>
                <!-- buttons to submit / cancel form -->
                <span ng-show="domainform.$visible">
                    <button type="submit"
                            class="btn btn-primary"
                            ng-disabled="domainform.$waiting || domainform.$invalid">
                        Save
                    </button>
                    <button type="button"
                            class="btn btn-default"
                            ng-if="domain.id === undefined"
                            ng-disabled="domainform.$waiting"
                            ng-click="$ctrl.cancelDomain()">
                        Cancel
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>