<div id="exposureTrendsChartWidget"
     class="minw155 graph-widget-container">
    <div class="minw155 graph-widget-header">
        <div class="gridster-item-drag"></div>
    </div>
    <div class="graph-widget-body graph-widget-container">
        <div style="margin: 0 .25em 0 0">
            <div class="center-align"
                 style="display: inline-block;width: 100%">
                <h2 style="margin:0">Exposure Trends</h2>
                <div class="center-align"
                     style="display: inline-block;"">
                        <div class="
                     pull-left
                     no-padding"
                     style="display:inline-block">
                    <h3 style="margin-bottom: 0">Measured from:&nbsp;</h3>
                </div>
                <div class="pull-left no-padding"
                     style="width: 13em">
                    <div style="padding:0 .25em 0 0">
                        <date-popup-attack-surface style="display: inline-block;"
                                                   on-update="$ctrl.updateProp('measuredDateFrom',value)"
                                                   init-val="$ctrl.measuredDateFrom"
                                                   name="startDate"
                                                   date-name="startDate"
                                                   min-date="$ctrl.fromMinDate"
                                                   max-date="$ctrl.fromMaxDate">
                        </date-popup-attack-surface>
                    </div>
                </div>
                <div class="pull-left no-padding ml15"
                     style="display:inline-block">
                    <h3 style="margin-bottom: 0">to:&nbsp;</h3>
                </div>
                <div class="pull-left no-padding"
                     style="width: 13em">
                    <div style="padding:0 .25em 0 0">
                        <date-popup-attack-surface style="display: inline-block;"
                                                   on-update="$ctrl.updateProp('measuredDateTo',value)"
                                                   init-val="$ctrl.measuredDateTo"
                                                   name="endDate"
                                                   date-name="endDate"
                                                   min-date="$ctrl.toMinDate"
                                                   max-date="$ctrl.toMaxDate">
                        </date-popup-attack-surface>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="graph-widget-body"
         id="exposureTrendsChart">
        <nvd3 options="$ctrl.exposureTrendsChartOptions"
              data="$ctrl.exposureTrendsChartData"
              on-ready="$ctrl.callback">
        </nvd3>
    </div>
</div>