<loading-content #spinner class="full-height full-width">
    <div class="minw155 graph-widget-container flex flex-column full-height full-width">
        <div class="minw155 graph-widget-headerX no-shrink">
            <div [class]="this.isInsight ? 'gridster-item-base': 'gridster-item-drag'">
                <ng-content select="[widget-header]"></ng-content>

                <span title="Hide Widget"
                      *ngIf="!this.isInsight"
                      class="fa fa-close close-small button"
                      (click)="hideWidget($event)"
                      role="button">
                </span>
            </div>
        </div>

        <div class="graph-widget-body graph-widget-container flex-grow">
            <ng-content select="[widget-body]"></ng-content>
        </div>
    </div>
</loading-content>
