<ui-view></ui-view> <!-- for modal sub-states -->

<mat-card ng-class="'box'" style="min-height: 400px">
    <div class="tabs-container">
        <uib-tabset active="activeTab">
            <uib-tab ng-repeat="tab in tabs track by $index"
                     select="go(tab)"
                     index="tab.stateName"
                     ng-if="tab.show(tab)">
                <uib-tab-heading>
                    <span ng-class="tab.className"
                          ng-bind="tab.heading">
                    </span>
                    <span ng-if="tab.notifications.length > 0 || pendingItemCounts.todo[tab.pendingKey] > 0">
                        <span class="notification-num tab-num"
                              ng-class="{zero: tab.notifications.length===0 && pendingItemCounts.todo[tab.pendingKey]===0}">
                            <span ng-if="tab.notifications.length > 999"
                                  uib-tooltip="tab.notifications.length">1K+</span>
                            <span ng-if="tab.notifications.length <= 999"
                                  ng-bind="tab.notifications.length"></span>
                            <span ng-if="customer && tab.pendingKey === 'findings_to_review' && tab.notifications.length !== pendingItemCounts.todo[tab.pendingKey]">
                                <span>/</span>
                                <span ng-if="pendingItemCounts.todo[tab.pendingKey] > 999"
                                      uib-tooltip="{{pendingItemCounts.todo[tab.pendingKey]}}">1K+</span>
                                <span ng-if="pendingItemCounts.todo[tab.pendingKey] <= 999"
                                      ng-bind="pendingItemCounts.todo[tab.pendingKey]"></span>
                            </span>
                        </span>
                    </span>
                    <span ng-if="tab.stateName === 'findingsToReview' && customer"
                          uib-tooltip="Don't forget to clear the managed/searched {{::catotheme.customer}} to check if there are any findings from other customers that need to be reviewed.">
                        <span class="notification-num tab-num zero">*</span>
                    </span>
                </uib-tab-heading>
                <div class="mt15"
                     ng-include="tab.include"
                     ng-if="activeTab === tab.stateName">
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</mat-card>
