<h2 mat-dialog-title>Load Filters</h2>

<loading-content #spinner>
    <mat-dialog-content [ngClass]="{'height-1': !searches?.length}">
        <div class="flex flex-grow center full-height" *ngIf="searches?.length === 0">
            No Saved Searches
        </div>

        <mat-nav-list *ngIf="searches?.length > 0">
            <mat-divider></mat-divider>
            <div *ngFor="let search of searches; let i=index">
                <mat-list-item>
                    <div class="flex flex-row flex-grow stretch">
                        <a class="flex flex-row flex-grow vcenter" (click)="loadSearch(i)">{{search.name}}</a>
                        <button mat-icon-button (click)="deleteSearch(i)">
                            <span class="fa fa-trash"></span>
                        </button>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-nav-list>
    </mat-dialog-content>

    <mat-dialog-actions class="flex align-end">
        <button class="btn btn-white pull-right" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</loading-content>
