<div *ngIf="progress.pass || progress.fail">
    <div class="progress-numbers">
        <span *ngIf="needsProof">
            <i matTooltip="Missing evidence and/or explanation text" class="fa fa-exclamation-triangle text-warning"></i> |
        </span>
        <span matTooltip="Yes or N/A">{{progress.pass}}</span> |
        <span matTooltip="No">{{progress.fail}}</span> |
        <span matTooltip="Not Answered">{{progress.incomplete}}</span>
    </div>
    <mat-progress-bar mode="buffer" [value]="progress.percentPassed" [bufferValue]="progress.percentFailed"></mat-progress-bar>
</div>
<div *ngIf="!(progress.pass || progress.fail)">Not Started</div>
