<div id="findingsWidget"
     class="graph-widget-container"
     ng-controller="FindingsByCtrl">
    <div class="minw155 findingsByData graph-widget-header">
        <div class="gridster-item-drag">
            <div class="widget-title">Your Findings by
                <div class="btn-group btn-group-xs ml5">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span ng-bind="findingsBy"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        role="menu">
                        <li ng-repeat="by in [catotheme.customerCapitalize, 'Campaign', 'Service']">
                            <a href
                               ng-click="FindingsByCtrl.graphFindingsBy(by)"
                               ng-bind="by"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <i title="Hide Widget"
               class="fa fa-close close-small button"
               ng-click="$ctrl.hideWidget()"
               role="button"></i>
        </div>
    </div>
    <div class="graph-widget-body">
        <nvd3 options="findingsByDataOptions"
              data="graphFindingsByData"
              on-ready="$ctrl.chartReadyCallback.bind($ctrl)"
              class="findingsByData"
              ng-class="findingsBy"></nvd3>
    </div>

</div>