<div id="servicesWidget"
     ng-controller="ServicesCtrl"
     style="height: 100%; overflow-y: auto; overflow-x: hidden;">
    <div>
        <div class="gridster-item-drag">
            <div class="widget-title">Services</div>
            <i title="Hide Widget"
               class="fa fa-close close-small button"
               ng-click="$ctrl.hideWidget()"
               role="button"></i>
        </div>
    </div>
    <div class="widget section-holder mt20">
        <div id="columns"
             class="row">
            <div class="col-sm-{{12/serviceWidget.numberOfColumns}} col-xs-{{12/serviceWidget.numberOfColumns}} pr10 pl10"
                 ng-repeat="service in customerServices"
                 data-columnindex="{{$index}}"
                 id="column{{$index}}">
                <div class="column">
                    <ul data-as-sortable="dragControlListeners"
                        data-ng-model="services"
                        class="cards card-list">
                        <li data-as-sortable-item
                            class="card as-sortable-item svc-bg"
                            ng-class="service.short_name.toLowerCase()">
                            <div data-as-sortable-item-handle
                                 class="as-sortable-item-handle">
                                <span ng-bind="service.name"
                                      class="svcs-title">
                                </span>
                                <div class="severityLabelRow">
                                    <span class="label svc-label"
                                          ng-class="'label-'+getSeverityLevel(data.services[service.id].max_severity).toLowerCase()"
                                          ng-bind="getSeverityLevel(data.services[service.id].max_severity)"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>