<div class="row">
    <div class="col-md-12">
        <div class="ibox-content vpadding0">
            <h2 class="vpadding0 vmargin0">Your {{::$ctrl.catotheme.appName}} Period of Performance {{$ctrl.startWording}}:
                {{$ctrl.roeStartDate}} and {{$ctrl.endWording}}: {{$ctrl.roeEndDate}}</h2>
        </div>
        <!-- /ibox-content -->
    </div>
    <!-- /col-md-10 -->
</div>


<div class="col-md-12"
     style="margin-top: .5em">
    <!-- <div class="wrapper wrapper-content vmargin0 vpadding0"> -->
    <div id="periodOfPerformance"
         class="ibox-content">

        <div ng-hide="$ctrl.roe && $ctrl.roe.period_of_performance_acknowledged_by">
            <h3 style="margin-top: 2em">By clicking the button below, you agree that no operations will be conducted
                past the end date.</h3>

            <div class="text-center mb15 center">
                <a id="agreeBtn"
                   ng-click="$ctrl.agree()"
                   class="btn btn-primary center mt5 mr15"><i aria-hidden="true"
                       class="fa fa-handshake-o"></i>&nbsp;Agree</a>
            </div>
        </div>
        <div ng-show="$ctrl.roe && $ctrl.roe.period_of_performance_acknowledged_by">
            <h3>Your {{::$ctrl.catotheme.appName}} Period of Performance has been acknowledged. Please click Next to move onto the next screen.
            </h3>
        </div>
    </div>
    <!-- /ibox-content -->
</div>

<back-and-next next-enabled="$ctrl.period_of_performance_acknowledged"></back-and-next>