<div id="asrByZoneChartWidget"
     class="minw155 graph-widget-container">
    <div class="minw155 graph-widget-header">
        <div class="gridster-item-drag"></div>
    </div>
    <div class="graph-widget-container">
        <div style="margin: 0 .25em 0 0">
            <div class="center-align"
                 style="display: inline-block;width: 100%">
                <h2 style="margin:0">ASR BY ZONE</h2>
            </div>
        </div>
        <div class="graph-widget-body"
             id="asrByZoneChart">
            <nvd3 options="$ctrl.asrByZoneChartOptions"
                  data="$ctrl.asrByZoneChartData"
                  on-ready="$ctrl.callback">
            </nvd3>
        </div>
    </div>
</div>