<div class="mt20"
     ng-if="operationsLoaded && data.draftOperations.length === 0">
    <div class="col-md-12">
        <h4>No draft operation requests to show.</h4>
    </div>
</div>
<div ng-if="operationsLoaded && data.draftOperations.length !== 0">
    <div style="height: 40px">
        <span class="pull-left mt10"><input type="checkbox"
                   id="selectAllDraftOperations"
                   ng-click="selectAllDraftOperations()"
                   ng-model="data.allDraftOperationsSelected"> Select all</span>
        <span class="btn-group pull-right">
            <span class="btn btn-success mr10"
                  ng-click="bulkApproveDraftOperations()"
                  ng-disabled="data.selectedDraftOperations.length==0"
                  uib-tooltip="Use control/command and shift to select multiple operations to perform bulk approval"
                  tooltip-placement="bottom">
                <i aria-hidden="true"
                   class="fa fa-thumbs-up"></i> Bulk Approve ({{data.selectedDraftOperations.length}})
            </span>
            <span class="btn btn-danger"
                  ng-click="bulkDisapproveDraftOperations()"
                  ng-disabled="data.selectedDraftOperations.length==0"
                  uib-tooltip="Use control/command and shift to select multiple operations to perform bulk disapproval"
                  tooltip-placement="bottom">
                <i aria-hidden="true"
                   class="fa fa-thumbs-down"></i> Bulk Disapprove ({{data.selectedDraftOperations.length}})
            </span>
        </span>
    </div>
    <hr />
    <div ng-include="'/app/operation/draftOperations.html'"
         id="draftOperations"></div>
</div>