<div class="mt20"
     ng-if="(authorOperationsLoaded && startedByOperationsLoaded || operationsLoaded) && data.operations.length == 0">
    <div class="col-md-12">
        <h4>No operation requests to show.</h4>
    </div>
</div>
<div ng-if="(authorOperationsLoaded && startedByOperationsLoaded || operationsLoaded) && data.operations.length !== 0">
    <div class="row bot-brdr"
         ng-repeat="operation in data.operations track by operation.id">
        <div ng-include="'/app/operation/operations.html'"></div>
    </div>
</div>