<div class="mt20"
     ng-if="usersLoaded && data.requestedUsers.length == 0">
    <div class="col-md-12">
        <h4>No user requests to show.</h4>
    </div>
</div>
<div ng-if="usersLoaded && data.requestedUsers.length !== 0">
    <div style="height: 40px">
        <span class="pull-left mt10"><input type='checkbox'
                   id="selectAllRequestedUsers"
                   ng-click="selectAllRequestedUsers()"
                   ng-model="data.allRequestedUsersSelected"> Select all</span>
        <span class="btn-group pull-right">
            <span class="btn btn-success"
                  ng-click="bulkApproveUsers()"
                  ng-disabled="data.selectedRequestedUsers.length==0"
                  uib-tooltip="Use control/command and shift to select multiple users to perform bulk approval"
                  tooltip-placement="bottom">
                <i aria-hidden="true"
                   class="fa fa-thumbs-up"></i> Bulk Approve ({{data.selectedRequestedUsers.length}})
            </span>
            <span class="btn btn-danger"
                  ng-click="bulkRejectUsers()"
                  ng-disabled="data.selectedRequestedUsers.length==0"
                  uib-tooltip="Use control/command and shift to select multiple users to perform bulk rejection"
                  tooltip-placement="bottom">
                <i aria-hidden="true"
                   class="fa fa-thumbs-down"></i> Bulk Reject ({{data.selectedRequestedUsers.length}})
            </span>
        </span>
    </div>
    <hr />
    <div id="requestedUsers">
        <div class="row bot-brdr"
             ng-repeat="user in data.requestedUsers track by user.id"
             selection-model
             selection-model-mode="'multiple-additive'"
             selection-model-type="'checkbox'"
             selection-model-selected-items="data.selectedRequestedUsers"
             selection-model-cleanup-strategy="'deselect'">
            <div class="col-md-12">
                <div class="row show-selection">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="checkbox"
                                       ng-if="gdata.isMissionDirector">
                                <b>FULL NAME:</b>
                                <span ng-bind="user.first_name + ' ' + user.last_name"></span>
                            </div>
                            <div class="col-xs-12">
                                <b>EMAIL:</b>
                                <span ng-bind="user.email"></span>
                            </div>
                            <div class="col-xs-12">
                                <b>USERNAME:</b>
                                <span ng-bind="user.username"></span>
                            </div>
                            <div class="col-xs-12"
                                 ng-if="user.comments">
                                <b>COMMENTS:</b>
                                <span ng-bind="user.comments"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <b class="uppercase">{{::catotheme.customer}}:</b>
                                <span ng-bind="gdata.customerMap[user.customer].name"></span>
                            </div>
                            <div class="col-xs-12">
                                <b>ROLES:</b>
                                <span ng-bind="user.roles.join()"></span>
                            </div>
                            <div class="col-xs-12">
                                <b>REQUEST DATE:</b>
                                <span ng-bind="user.date_joined | date:'MM/dd/yyyy H:mm'"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-success"
                                ng-click="approveUser(user.id)">
                            <i class="fa fa-thumbs-o-up"></i> Approve
                        </button>
                        <button class="btn btn-danger"
                                ng-click="rejectUser(user.id)">
                            <i class="fa fa-thumbs-o-down"></i> Reject
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>