<div class="mt20"
     ng-if="(authorOperationsLoaded && startedByOperationsLoaded || operationsLoaded) && data.requestedOperations.length == 0">
    <div class="col-md-12">
        <h4>No operation requests to show.</h4>
    </div>
</div>
<div
     ng-if="(authorOperationsLoaded && startedByOperationsLoaded || operationsLoaded) && data.requestedOperations.length !== 0">
    <div style="height: 40px">
        <span class="pull-left mt10"><input type='checkbox'
                   id="selectAllRequestedOperations"
                   ng-click="selectAllRequestedOperations()"
                   ng-model="data.allRequestedOperationsSelected"> Select all</span>
        <span class="btn-group pull-right">
            <span class="btn btn-success"
                  ng-click="bulkApproveRequestedOperations()"
                  ng-disabled="data.selectedRequestedOperations.length==0"
                  uib-tooltip="Use control/command and shift to select multiple operations to perform bulk authorization"
                  tooltip-placement="bottom">
                <i aria-hidden="true"
                   class="fa fa-thumbs-up"></i> Bulk Authorization ({{data.selectedRequestedOperations.length}})
            </span>
            <span class="btn btn-danger"
                  ng-click="bulkRejectRequestedOperations()"
                  ng-disabled="data.selectedRequestedOperations.length==0"
                  uib-tooltip="Use control/command and shift to select multiple operations to perform bulk rejection"
                  tooltip-placement="bottom">
                <i aria-hidden="true"
                   class="fa fa-thumbs-down"></i> Bulk Reject ({{data.selectedRequestedOperations.length}})
            </span>
        </span>
    </div>
    <hr />
    <div ng-include="'/app/operation/requestedOperations.html'"
         id="requestedOperations"></div>
</div>