<div class="mt20"
     ng-if="runningOperationsLoaded && data.runningOperations.length === 0">
    <div class="col-md-12">
        <h4>No current running or paused operations.</h4>
    </div>
</div>
<div ng-if="runningOperationsLoaded && data.runningOperations.length !== 0">
    <div class="row bot-brdr"
         ng-repeat="operation in data.runningOperations track by operation.id">
        <div ng-include="'/app/operation/operations.html'"></div>
    </div>
</div>