<div id="developerTabContent"
     style="height: 100%">
    <div class="tab-pane fade in active"
         style="height: 100%">
        <div id="developerTabHeightContainer"
             class="row">
            <div class="col-sm-12 no-padding-hor mb5"
                 id="developerToolbar"
                 ngf-drop="$ctrl.import($file)">
                <div class="col-sm-3">
                    <span class="pull-left btn btn-primary"
                          ng-click="$ctrl.createNewModule()">
                        <i aria-hidden="true"
                           class="fa fa-file-text-o"></i> New File
                    </span>
                    <span class="btn btn-primary"
                          ngf-select="$ctrl.uploadToEditor($file)"
                          style="margin-left: 3px">
                        <i aria-hidden="true"
                           class="fa fa-upload"></i> Upload File
                    </span>
                </div>

                <div class="col-sm-9 btn-group btn-group-sm pull-right no-padding-hor">
                    <div class="pull-left col-sm-3 no-padding-hor">
                        <span class="btn btn-primary"
                              ng-click="$ctrl.saveToDb()"
                              ng-style="{'background-color':$ctrl.unsavedChanges ? 'red': 'green'}"
                              uib-tooltip="{{$ctrl.unsavedChanges ? 'Click to save changes to Database' : 'Module currently saved.'}}"
                              ng-disabled="$ctrl.moduleIslocked(false)">
                            <i aria-hidden="true"
                               class="fa fa-save"></i> Save
                        </span>
                        <span class="btn btn-primary"
                              ng-click="$ctrl.testModule()"
                              ng-disabled="$ctrl.moduleIslocked(true)">
                            <i aria-hidden="true
                               class="fa fa-question"></i> Test
                        </span>
                    </div>
                    <div class="col-sm-5 no-padding-hor center-align">
                        <div style="max-width:51%;display: inline-block">
                            <select ng-model="$ctrl.currentOperationTemplate"
                                    class="form-control"
                                    ng-options="operationTemplate.id as operationTemplate.name group by operationTemplate.process for operationTemplate in $ctrl.operationTemplates |  orderBy:['process','name']"
                                    uib-tooltip="The operation template for which this analysis module is designed"
                                    ng-change="$ctrl.saveOperationTemplate()"
                                    ng-disabled="$ctrl.moduleIslocked(true)">
                            </select>
                        </div>
                        <div style="margin-left:1em;display: inline-block">
                            <select ng-model="$ctrl.currentModuleType"
                                    class="form-control"
                                    ng-options="type as type for type in $ctrl.types"
                                    uib-tooltip="The rule engine used to run this analysis module"
                                    ng-change="$ctrl.saveType()"
                                    ng-disabled="$ctrl.moduleIslocked(true)">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 no-padding-hor">
                        <div class="pull-right">
                            <span class="btn btn-primary"
                                  ngf-select="$ctrl.importModules($file)"
                                  uib-tooltip="Import modules from JSON file"
                                  ng-show="$ctrl.gdata.isMissionDirector">
                                <i aria-hidden="true"
                                   class="fa fa-upload"></i> Import
                            </span>
                            <span class="btn btn-primary"
                                  uib-tooltip="Export modules to JSON file"
                                  ng-click="$ctrl.exportModules()"
                                  ng-show="$ctrl.gdata.isMissionDirector"
                                  ng-disabled="$ctrl.selectedModules.length === 0">
                                <i aria-hidden="true"
                                   class="fa fa-download"></i> Export
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 inline-block"
                 style="height: 100%;border: 3px solid rgb(230,230,230);padding-right: 0">
                <module-selector update-current-module="$ctrl.updateCurrentModule(module)"
                                 save-to-db="$ctrl.saveToDb(moduleToSave,callback)"
                                 current-module="$ctrl.currentModule"
                                 current-module-type="$ctrl.currentModuleType"
                                 unsaved-changes="$ctrl.unsavedChanges"
                                 new-module-content="$ctrl.newModuleContent"
                                 new-module-name="$ctrl.newModuleName"
                                 update-modules-flag="$ctrl.updateModulesFlag"
                                 creating-new-module-complete="$ctrl.creatingNewModuleComplete"
                                 parent-context="$ctrl"
                                 update-current-module-name="$ctrl.updateCurrentModuleName(newModuleName)"
                                 download-to-disk="$ctrl.downloadToDisk(module)"
                                 selected-modules="$ctrl.selectedModules"
                                 detect-changes="$ctrl.detectChanges">
                </module-selector>
            </div>
            <div class="col-md-9 inline-block"
                 style="height: 100%"
                 ui-ace="{useWrapMode: true, mode: 'python', advanced: {}, onLoad: $ctrl.aceLoaded.bind($ctrl)}"
                 ng-model="$ctrl.param.value">
            </div>
        </div>
    </div>
</div>