<div class="flex flex-column full-height">
    <h3 class="ml5">Dashboard</h3>

    <mat-card *ngIf="isInsight" class="box mb5 side-margin-5">
        <mat-card-header class="flex-row vcenter space-between">
            <mat-card-title>
                <insight-filter-title [isInsightDash]="true"></insight-filter-title>
            </mat-card-title>
            <div>
                <insight-history-selector></insight-history-selector>
            </div>
        </mat-card-header>
        <mat-card-content>
            <insight-filters></insight-filters>
        </mat-card-content>
    </mat-card>

    <div *ngIf="!isInsight" class="btn-group flex align-end mt10 mb10">
        <button mat-stroked-button [matMenuTriggerFor]="menu" id="resetWidgets">Reset Widgets</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item
                    (click)="resetWidgets($event)"
                    title="Hold alt and shift to forcibly regenerate all widgets">
                Reset to default widget view
            </button>
            <ng-container *ngFor="let widget of widgets">
                <button mat-menu-item
                        *ngIf="!widget.show"
                        (click)="showWidget(widget)">
                    {{widget.title}}
                </button>
            </ng-container>
        </mat-menu>
    </div>

    <div class="flex-grow" style="min-height: 500px;">
        <div *ngIf="customer?.subscriptions?.length === 0">
            <h3>
                You have not subscribed to any services. Contact your {{catotheme.appName}} representative to subscribe to some
                services.
            </h3>
        </div>

        <ngx-gridster #gridster [options]="gridsterOptions" [draggableOptions]="{handlerClass: 'gridster-item-drag'}"
                      (reflow)="onReflow($event)" class="dashboard">
            <ng-container *ngFor="let widget of widgets">
                <ngx-gridster-item *ngIf="widget.show"
                                   [resizable]="widget.resize !== false"
                                   [x]="widget.col" [y]="widget.row" [w]="widget.sizeX" [h]="widget.sizeY"
                                   (change)="onChange(widget, $event.item)">
                    <!-- load ng js widgets -->
                    <div *ngIf="!widget.isAngularComponent" class="gridster-item mat-card box" [ngClass]="widget.gridsterClasses">
                        <widget-wrapper [templateUrl]="widget.templateUrl" [widget]="widget"></widget-wrapper>
                    </div>

                    <!-- load ng components -->
                    <div *ngIf="widget.isAngularComponent===true" class="gridster-item mat-card box" [ngClass]="widget.gridsterClasses">
                        <div *widgetcomp="widget.component"></div>
                    </div>
                </ngx-gridster-item>
            </ng-container>
        </ngx-gridster>
    </div>
</div>
