:host
{
    display: block;
    min-height: 800px;
}

ngx-gridster-item
{
    display: block;
}

mat-card {
    &.side-margin-5 {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.dashboard
{
    flex: 1;
}

.gridster-item
{
    display: block !important;
    width: 100%;
}


:host ::ng-deep
{
    //FIXME: find a better way to accomplish this
    ngx-gridster-item
    {
        & > div.gridster-item-inner > div.gridster-item
        {
            height: 100%;

            & > *
            {
                height: 100%;
            }
        }
    }

    .position-highlight .inner
    {
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
    
        background-color: #768294;
        border: 1px solid transparent;
        transition: background 3s;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .gridster-item-inner
    {
        height: auto;

        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        transition: background 3s;
    }

    .is-dragging .gridster-item-inner
    {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.48);
        top: -3px;
        bottom: 13px;
    }
}
