<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title uppercase">{{type}} NOTES</h3>
    </div>
    <!-- /modal-header -->

    <form name="noteform"
          id="noteform"
          class="form-horizontal"
          method="post">
        <div class="modal-body">
            <textarea class="form-control"
                      rows="10"
                      ng-model="newnote.content"></textarea>
            <button class="btn btn-primary mt5"
                    ng-click="submitNote()">Add Note</button>

            <div ng-repeat="note in notes | orderBy:'added': true"
                 class="mt15">
                <pre
                     style="overflow-y: auto; max-height: 300px; white-space: pre-wrap; word-break: keep-all;"><code>{{note.content}}</code></pre>
                <i>By {{gdata.userMap[note.author].username}} on {{note.added}}</i> <a
                   ng-if="gdata.isMissionDirector || user.id == note.author"
                   ng-click="editNote(note)"
                   class="ml10"><span class="fa fa-edit"></span></a> | <a ng-if="user.id == note.author"
                   ng-click="deleteNote(note)"><span class="fa fa-trash"></span></a>
            </div>
        </div>
        <!-- /modal-body -->
    </form>
    <div class="modal-footer">
        <button type="reset"
                class="btn"
                ng-click="cancel()">Close</button>
    </div>
</div>