<div class="inmodal"
     cg-busy="submission">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="cancel()"
                aria-hidden="true">&times;</button>
        <h3 class="modal-title">NOTE</h3>
    </div>
    <!-- /modal-header -->

    <form name="noteform"
          id="noteform"
          class="form-horizontal"
          method="post">
        <div class="modal-body">
            <fieldset>
                <pre class="form-group"
                     style="white-space: pre-wrap; word-break: keep-all;">
                    <textarea class="form-control" rows="10" ng-model="note.content"></textarea>
                </div>
            </fieldset>
        </div>
        <!-- /modal-body -->

        <div class="modal-footer">
            <div class="form-actions pull-right">
                <button type="reset" class="btn" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary" ng-click="submitNote()">Submit</button>
            </div>
        </div>
        <!-- /modal-footer -->

    </form>
</div>