<div class="row ">
    <div class="col-md-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">

                <h1>You are all done!</h1>
                <h3>When a mission director has approved your Rules of Engagement, the 'FINISH' button below will be
                    enabled and you may proceed to use {{::$ctrl.catotheme.appName}}.</h3>
                <br>
                <h4>Your submitted Rules of Engagement document may be downloaded here:</h4>
                <div>
                    <div class='text-center mb15 center'>
                        <input class='btn btn-primary center mt5 mr5'
                               ng-click='$ctrl.downloadRoE()'
                               type='button'
                               value='Download Submitted RoE' />
                    </div>
                </div>


            </div>
            <!-- /ibox-content -->
        </div>
        <!-- /ibox float-e-margins -->
    </div>
    <!-- /col-md-6 -->
</div>
<!-- /row -->
<finish roe="$ctrl.roe"></finish>