<form class="form-horizontal" style="min-width: 50vw;">
    <h2 mat-dialog-title>Delete {{assessmentName}}</h2>
    <mat-dialog-content>
        Are you sure you want to delete {{assessmentName}}?
    </mat-dialog-content>

    <mat-dialog-actions class="pull-right">
        <button mat-dialog-close class="btn btn-white">Cancel</button>
        <button class="btn btn-primary ml5"
                [mat-dialog-close]="true">
            Delete
        </button>
    </mat-dialog-actions>
</form>

