<loading-content class="full-height">
    <div class="flex flex-column">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Add a New File</mat-card-title>
            </mat-card-header>

            <mat-card-content class="flex flex-column flex-grow no-overflow">
                <file-upload class="width-100" [multiple-files]="true" (upload)="queueAttachment($event)"></file-upload>

                <form class="flex flex-column flex-grow">
                    <div class="row">
                        <div *ngFor="let attachment of queuedAttachments; let i = index" class="col-xs-12 col-sm-8 col-lg-6">
                            <div color="primary">
                                <span [ngSwitch]="attachment.type">
                                    <span *ngSwitchCase="DocType.excel" class="fa fa-file-excel-o"></span>
                                    <span *ngSwitchCase="DocType.image" class="fa fa-file-image-o"></span>
                                    <span *ngSwitchCase="DocType.pdf" class="fa fa-file-pdf-o"></span>
                                    <span *ngSwitchCase="DocType.text" class="fa fa-file-text-o"></span>
                                    <span *ngSwitchCase="DocType.word" class="fa fa-file-word-o"></span>
                                    <span *ngSwitchDefault class="fa fa-file-o"></span>
                                </span>
                                {{ attachment.name }}
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

        <div class="buttpan">
            <button class="btn btn-primary pull-right" [mat-dialog-close]="done()">Done</button>
            <button class="btn pull-right mr10" mat-dialog-close>Cancel</button>
        </div>
    </div>
</loading-content>
