@import "../../../../less/cato/colors.less";


:host
{
    display: block;
    padding: 5px;
}

:host ::ng-deep .mat-checkbox-label
{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep
{
    .cdk-overlay-pane.gray-bg > mat-dialog-container
    {
        background-color: @color-sel-gray;
    }
}


.no-overflow
{
    overflow: hidden;
}
.vscroll
{
    overflow-y: auto;
    margin-right: -10px;
    padding-right: 10px;
}


.width-25
{
    width: 25%;
}
.width-50
{
    width: 50%;
}
.width-75
{
    width: 75%;
}
.width-100
{
    width: 100%;
}



mat-card
{
    margin-bottom: 10px;
}

span.fa
{
    margin-right: 5px;
}

.row
{
    margin-right: -5px;
    margin-left: -5px;

    > div
    {
        padding-right: 5px;
        padding-left: 5px;
    }
}
