<table class="table">
    <tr>
        <td>
            <a ng-if="gdata.isMissionDirectorOrAdmin"
               ui-sref=".addCustomer"
               id="addCustomerCTab"
               class="green-txt pull-right mt5 mr15"> <i aria-hidden="true"
                   class="fa fa-plus"></i> Add {{::aAn(catotheme.customer)}} {{::catotheme.customerCapitalize}}</a>
        </td>
    </tr>
</table>
<div cg-busy="{promise: usersLoading, message: 'Loading {{::catotheme.customer}}'}">
    <div>
        <table class="table table-striped"
               id="manage-customers">
            <thead>
                <tr>
                    <td colspan="9"
                        class="separator-hdr">
                        <h3 class="pull-left capitalize"
                            ng-if="gdata.isOperator">
                            <i class="fa fa-user"
                               aria-hidden="true"></i> {{::catotheme.customerPlural}}
                        </h3>
                        <div class="pull-right label-white">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search {{::catotheme.customerPlural}}"
                                       ng-model="searchCustomers">
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'name'; sortReverse = !sortReverse"
                           class="uppercase">
                            <span ng-show="sortType == 'name' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'name' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            {{::catotheme.customer}}
                        </a>
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'nickname'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'nickname' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'nickname' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            NICKNAME
                        </a>
                    </th>
                    <th ng-show="CONFIG.catotheme !== 'cyberweapon'">
                        <a href="#"
                           ng-click="sortType = 'duns'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'duns' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'duns' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            DUNS
                        </a>
                    </th>
                    <th ng-show="CONFIG.catotheme !== 'cyberweapon'">
                        <a href="#"
                           ng-click="sortType = 'naics'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'naics' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'naics' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            NAICS
                        </a>
                    </th>
                    <th class="text-center"
                        ng-show="CONFIG.catotheme !== 'cyberweapon'">
                        <a href="#"
                           ng-click="sortType = 'twoFactor'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'twoFactor' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'twoFactor' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            2FA
                        </a>
                        <a ui-sref="cato.loggedIn.profile"
                           ng-show="gdata.isCustomer">[edit]</a>
                    </th>
                    <th>
                        <a href="#"
                           ng-click="sortType = 'date_joined'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'date_joined' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'date_joined' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            DATE JOINED
                        </a>
                    </th>
                    <th class="text-center">
                        <a href="#"
                           ng-click="sortType = 'sam_verified'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'sam_verified' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'sam_verified' && sortReverse"
                                  class="fa fa-caret-up"></span>
                            SAM
                        </a>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in gdata.customers | orderBy:sortType:sortReverse | filter:searchCustomers"
                    ng-class="{'inactive': customer.services.length === 0}">
                    <!-- TODO: put this in when ready to activate/deactivate customers ng-class="{'inactive': !customer.active}"-->
                    <td ng-if="gdata.isOperator">
                        <a ui-sref=".addCustomer({customer_id: customer.id})"
                           uib-tooltip="Edit"
                           ng-bind-html="customer.name">
                        </a>
                    </td>
                    <td ng-bind="customer.nickname"></td>
                    <td ng-bind="customer.duns"
                        ng-if="CONFIG.catotheme !== 'cyberweapon'"></td>
                    <td ng-if="CONFIG.catotheme !== 'cyberweapon'">
                        <span ng-bind="customer.naics"
                              uib-tooltip="{{ gdata.naicsMap[customer.naics] || ''}}"></span>
                    </td>
                    <td class="text-center"
                        ng-if="CONFIG.catotheme !== 'cyberweapon'">
                        <i ng-if="customer.enforce_2fa"
                           class="fa fa-check green-txt"></i>
                        <i ng-if="!customer.enforce_2fa"
                           class="fa fa-times-circle red-txt"></i>
                    </td>
                    <td ng-bind="customer.date_joined | date:'MM/dd/yyyy H:mm'"></td>
                    <td class="text-center">
                        <i ng-if="customer.sam_verified"
                           class="fa fa-check green-txt"></i>
                        <i ng-if="!customer.sam_verified"
                           class="fa fa-times-circle red-txt"></i>
                    </td>
                    <td class="txt-right nobreak">
                        <!-- right now a user can only update their account, but an MD or Admin can update anyone's -->
                        <actions actions="customersActions"
                                 target="customer"
                                 button-style="data.customersWithRoEs[customer.id] === undefined ?
                                               'background-color:red' : !data.customersWithRoEs[customer.id].is_approved ?
                                                                           'background-color:orange': '' "
                                 icon-override="data.customersWithRoEs[customer.id] === undefined ?
                                               'fa-search-minus' : !data.customersWithRoEs[customer.id].is_approved ?
                                               'fa-hourglass-o' : 'fa-handshake-o'"
                                 tooltip-override="data.customersWithRoEs[customer.id] === undefined ?
                                                'No ROE present' : !data.customersWithRoEs[customer.id].is_approved ?
                                                                            'ROE not yet approved': '' "">
                        </actions>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
