<div id="completedOpsWidget"
     ng-controller="CompletedOpsCtrl">
    <div>
        <div class="gridster-item-drag">
            <i title="Hide Widget"
               class="fa fa-close close-small button"
               ng-click="$ctrl.hideWidget()"
               role="button"></i>
        </div>
    </div>
    <div class="widget section-holder">
        <i class="bg fa fa-gears"></i>
        <div class="widget-title white-txt viewport-fontsize"
             ng-bind="$ctrl.widget.title"></div>
        <div class="widget-stats">
            <p ng-bind="completedOpsCount"></p>
            <div class="stats-link">
                <a ui-sref="cato.loggedIn.dashboard.operations">View Detail <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>