<div class="container-fluid row">
    <div class="m10" cg-busy="loadingFile">
        <file-upload (upload)="loadFile($event)"></file-upload>

        <div *ngIf="int8Array">
            <div class="row mt10">
                <div class="col-sm-2 mt15">
                    <label class="control-label">Start line</label>
                </div>
                <div class="col-sm-6">
                    <mat-slider [min]="slider.options.floor"
                                [max]="slider.options.ceil"
                                [step]="slider.options.step"
                                [(ngModel)]="slider.value"
                                (change)="renderText()">
                    </mat-slider>
                </div>
                <div class="col-sm-4 mt15">
                    <input type="number" [(ngModel)]="slider.value" [max]="int8Array.length" (change)="renderText()"/>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-2">
                    <label class="control-label">Display Buffer Lines</label>
                </div>
                <div class="col-sm-4">
                    <input type="number" [(ngModel)]="displayBuffer" (change)="renderText()"/>
                </div>
            </div>
            <div id="hexViewer">
                <pre class="hexLine">{{lines}}</pre>
            </div>
        </div>
    </div>
</div>