// ;host
// {
// 	display: inline-block;
// 	width: 20px;
// 	height: 20px;
// }

// div
// {
// 	display: inline-block;
// }

// .cg-busy-default-spinner
// {
// 	top: 0;
// 	left: auto;
// 	width: 20px;
// 	height: 20px;
// }

// .cg-busy-default-text
// {
// 	margin: 0px 10px 2px 30px;
// }
