<ui-view name="profilemodal"></ui-view>

<div class="panel-body"
     style="border: 0 !important;">
    <div class="ibox-content">
        <div class="row bot-brdr-sep">


            <div class="col-md-12 form-horizontal"
            id="companyProfile"
            style="overflow-y: auto">
                   <div class="col-md-6">
                       <div class="form-group">
                           <label class="col-sm-4 control-label">
                               Name
                               <i class="fa fa-info-circle"
                                  uib-tooltip="{{::catotheme.customerCapitalize}} full name"></i>
                           </label>
                           <div class="col-sm-8">
                               <input class="form-control"
                                      readonly
                                      id="name"
                                      name="name"
                                      ng-model="customer.name" />
                           </div>
                       </div>

                       <div class="form-group"
                            ng-if="CONFIG.catotheme !== 'cyberweapon'">
                           <label class="col-sm-4 control-label">
                               DUNS
                               <i class="fa fa-info-circle"
                                  uib-tooltip="Nine-digit Data Universal Numbering System (DUNS) identifier for this company."></i>
                           </label>
                           <div class="col-sm-8">
                               <input class="form-control"
                                      pattern="\d{2}-?\d{3}-?\d{4}"
                                      id="duns"
                                      name="duns"
                                      ng-model="customer.duns"
                                      ng-blur="checkDuns()"
                                      placeholder="XX-XXX-XXXX" />
                           </div>
                       </div>

                       <div class="form-group"
                            ng-if="CONFIG.catotheme !== 'cyberweapon'">
                           <label class="col-sm-4 control-label">
                               CAGE Code
                               <i class="fa fa-info-circle"
                                  uib-tooltip="Commercial And Government Entity (CAGE) code for this company; heavily used by the federal government to identify an entity at a specific location. Format is 5 alpha-numeric characters."></i>
                           </label>
                           <div class="col-sm-8">
                               <input class="form-control"
                                      id="cagecode"
                                      name="cagecode"
                                      placeholder="XXXXX"
                                      ng-pattern="gdata.formatFactory.cagecode.pattern"
                                      ng-model="customer.cagecode"
                                      ng-blur="checkCage()"/>
                               <div class="col-sm-12 help-block"
                                    ng-show="catocustomerform.cagecode.$error.pattern">
                                   <span ng-bind-html="gdata.formatFactory.cagecode.patternError"></span>
                               </div>
                           </div>
                       </div>


                       <div class="form-group"
                            ng-if="CONFIG.catotheme !== 'cyberweapon'">
                           <label class="col-sm-4 control-label"
                                  for="company-size">Number of Employees</label>
                           <div class="col-sm-8">
                               <select class="filter filter-select form-control ng-pristine ng-valid ng-scope ng-empty ng-touched"
                                       name="company-size"
                                       ng-model="customer.size"
                                       ng-change="saveCustomer()">
                                   <option ng-repeat="size in sizes"
                                           value="{{size}}">{{size}}</option>
                               </select>
                           </div>
                       </div>

                       <div class="form-group"
                            ng-if="CONFIG.catotheme !== 'cyberweapon'">
                           <label class="col-sm-4 control-label"
                                  for="nistMEP">
                                  Have you participated in the NIST Manufacturing Extension Partnership (MEP) program?

                               <i class="fa fa-info-circle"
                                  uib-tooltip="The Manufacturing Extension Partnership is run by NIST (National Institute of Standards and Technology). It is a public-private partnership with centers in all 50 states and Puerto Rico dedicated to serving small- and medium-sized manufacturers."></i>
                           </label>
                           <div class="col-sm-8 form-control-static">
                               <div class="slider">
                                   <input type="checkbox"
                                          class="switch"
                                          id="nistMEP"
                                          ng-true-value="true"
                                          ng-false-value="false"
                                          ng-change="saveCustomer()"
                                          ng-model="customer.has_participated_nist_mep">
                                   <label for="nistMEP"
                                          class="switch">Toggle</label>
                               </div>
                           </div>
                       </div>


                       <div class="form-group"
                            ng-if="CONFIG.catotheme !== 'cyberweapon'">
                           <label class="col-sm-4 control-label"
                                  for="mentor">
                                  Have you participated in the Mentor-Protégé program?
                                  <i class="fa fa-info-circle"
                                  uib-tooltip="The Mentor-Protégé program helps eligible small businesses expand their footprints in the defense industrial base.  See https://business.defense.gov/Programs/Mentor-Protege-Program/"></i>
                           </label>
                           <div class="col-sm-8 form-control-static">
                               <div class="slider">
                                   <input type="checkbox"
                                          class="switch"
                                          id="mentorParticipated"
                                          ng-true-value="true"
                                          ng-false-value="false"
                                          ng-change="setHasParticipated()"
                                          ng-model="customer.has_participated_mentor_program">
                                   <label for="mentorParticipated"
                                          class="switch">Toggle</label>
                               </div>
                           </div>
                       </div>

                       <div class="form-group" ng-if="customer.has_participated_mentor_program">
                                    <label class="col-sm-4 control-label"
                                           for="current-mentor">
                                           Are you a current participant of the Mentor-Protégé program?
                                    </label>
                                    <div class="col-sm-8 form-control-static">
                                        <div class="slider">
                                            <input type="checkbox"
                                                   class="switch"
                                                   id="current-mentor"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                                   ng-change="isParticipating()"
                                                   ng-model="customer.has_current_participation_mentor_program">
                                            <label for="current-mentor"
                                                   class="switch">Toggle</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-if="customer.has_current_participation_mentor_program">
                                    <label class="col-sm-4 control-label"
                                           for="current-mentor">
                                           When did your company start the program?
                                    </label>
                                    <div class="col-sm-8 form-control-static">
                                        <div class="slider">
                                            <input type="text" class="form-control"
                                                   uib-datepicker-popup="yyyy-MM-dd"
                                                   ng-model="customer.new_mpp_start"
                                                   ng-blur="updateMppDate()"
                                                   is-open="mppDate.opened"
                                                   datepicker-options="dateOptions"
                                                   close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openMppDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-if="customer.has_current_participation_mentor_program">
                                    <label class="col-sm-4 control-label"
                                           for="mentor">
                                           Who is your mentor?
                                    </label>
                                    <div class="col-sm-8 form-control-static">
                                        <input class="form-control"
                                               name="mentor"
                                               id="mentor"
                                               type="text"
                                               ng-model="mentorPlaceholder"
                                               ng-blur="setMentor()"
                                               placeholder="Enter mentor name"
                                               uib-typeahead="mentor as mentor.name for mentor in availableMentors | filter:$viewValue | limitTo:12"
                                               typeahead-on-select="setMentor($item)"
                                               autocomplete="off">
                                    </div>
                                </div>

                   </div> <!--end of first column-->


                   <div class="col-md-6">
                       <div class="form-group">
                           <label class="col-sm-4 control-label"
                                  for="industry">
                               Industry
                               <i class="fa fa-info-circle"
                                  uib-tooltip="Provide your company's primary NAICS code."></i>
                           </label>
                           <div class="col-sm-8">
                               <a href ng-click="selectIndustry()">
                                    {{naicsName}}
                               </a>
                           </div>
                       </div>

                       <div class="form-group"
                            ng-if="CONFIG.catotheme !== 'cyberweapon'">
                           <label class="col-sm-4 control-label"
                                    for="business">
                                  Applicable Socio-economic Categories
                                  <i class="fa fa-info-circle"
                                  uib-tooltip="To select multiple socio-economic categories that apply to your company, hold the CTRL key and click selections desired."></i>
                           </label>
                           <div class="col-sm-8">
                               <select class="filter filter-select form-control ng-pristine ng-valid ng-scope ng-empty ng-touched"
                                       name="business"
                                       ng-model="customer.business_category"
                                       ng-init="customer.business_category = customer.business_category || []"
                                       ng-blur="saveCustomer()"
                                       ng-options="business for business in gdata.business_category"
                                       multiple="multiple">
                               </select>
                            </div>
                       </div>

                       <div class="form-group"
                            ng-if="CONFIG.catotheme !== 'cyberweapon'">
                           <label class="col-sm-4 control-label"
                                  for="dodPrime">
                                  Do you have a DOD prime contract?
                           </label>
                           <div class="col-sm-8 form-control-static">
                               <div class="slider">
                                   <input type="checkbox"
                                          class="switch"
                                          id="dodPrime"
                                          ng-true-value="true"
                                          ng-false-value="false"
                                          ng-change="saveCustomer()"
                                          ng-model="customer.has_dod_prime_contract">
                                   <label for="dodPrime"
                                          class="switch">Toggle</label>
                               </div>
                           </div>
                       </div>

                       <div class="form-group"
                            ng-if="CONFIG.catotheme !== 'cyberweapon'">
                           <label class="col-sm-4 control-label"
                                  for="dodSub">
                                  Do you have a DOD subcontract?
                               </label>
                           <div class="col-sm-8 form-control-static">
                               <div class="slider">
                                   <input type="checkbox"
                                          class="switch"
                                          id="dodSub"
                                          ng-true-value="true"
                                          ng-false-value="false"
                                          ng-change="saveCustomer()"
                                          ng-model="customer.has_dod_sub_contract">
                                   <label for="dodSub"
                                          class="switch">Toggle</label>
                               </div>
                           </div>
                       </div>

                       <div class="form-group"
                            ng-if="CONFIG.catotheme !== 'cyberweapon'">
                           <label class="col-sm-4 control-label"
                                  for="civPrime">
                                  Do you have a civilian prime contract?
                               </label>
                           <div class="col-sm-8 form-control-static">
                               <div class="slider">
                                   <input type="checkbox"
                                          class="switch"
                                          id="civPrime"
                                          ng-true-value="true"
                                          ng-false-value="false"
                                          ng-change="saveCustomer()"
                                          ng-model="customer.has_civilian_prime_contract">
                                   <label for="civPrime"
                                          class="switch">Toggle</label>
                               </div>
                           </div>
                       </div>

                       <div class="form-group"
                            ng-if="CONFIG.catotheme !== 'cyberweapon'">
                           <label class="col-sm-4 control-label"
                                  for="civSub">
                                  Do you have a civilian subcontract?
                           </label>
                           <div class="col-sm-8 form-control-static">
                               <div class="slider">
                                   <input type="checkbox"
                                          class="switch"
                                          id="civSub"
                                          ng-true-value="true"
                                          ng-false-value="false"
                                          ng-change="saveCustomer()"
                                          ng-model="customer.has_civilian_sub_contract">
                                   <label for="civSub"
                                          class="switch">Toggle</label>
                               </div>
                           </div>
                       </div>


                  </div>

            </div>
            <!-- /col-sm-12 -->
        </div>
        <!-- /row bot-brdr -->

        <!-- A catotheme.customer can have multiple Locations, URLs, Email Domains, and so on associated with them -->

        <div class="row bot-brdr-sep pb10">
            <div class="col-sm-12">
                <div class="form-group">
                    <h3 class="lt-orange mb0">Your Company's Points of Contact (POC)</h3>
                    <div ng-if="user.pocs.toString() !== ''">
                        <a ui-sref=".addPoC"
                           class="green-txt mt5 mr15"><i aria-hidden="true"
                               class="fa fa-plus"></i> Add a new POC</a>
                    </div>
                </div>
            </div>
            <!-- we can merge PoCs by user. -->
            <div class="row pb10"
                 ng-if="data.pocs.length > 0">
                <div>
                    <!-- to force wrapping later, just for an idea of how I want it to work. -->
                    <div class="panel panel-default force-wrap"
                         style="max-width: 350px; float: left; margin-left: 10px;"
                         ng-repeat="poc in data.pocs">
                        <div class="panel-heading">
                            <h3 class="panel-title"
                                uib-tooltip="{{poc.type}}">
                                <i class="fa {{icons[poc.type]}}"
                                   aria-hidden="true"></i>
                                <span
                                      ng-bind="gdata.userMap[poc.user].first_name + ' ' + gdata.userMap[poc.user].last_name"></span>
                                <a ng-if="user.pocs.toString() !== ''"
                                   ui-sref=".delPoC({poc_id: poc.id})"
                                   class="pull-right ml15"><i aria-hidden="true"
                                       class="fa fa-pencil-square-o"></i></a>
                            </h3>
                        </div>

                        <ul class="list-group list-group-flush">
                            <!-- my plan is do something special per type. -->
                            <li class="list-group-item"
                                ng-repeat="addr in poc.pointofcontactaddresses"
                                uib-tooltip="{{data.locationMap[addr.location].address ? (data.locationMap[addr.location].address + ',' + data.locationMap[addr.location].country) : ''}}">
                                <i class="fa {{icons[addr.type]}}"
                                   aria-hidden="true"></i>
                                <span ng-bind="data.locationMap[addr.location].name || addr.value"></span>&nbsp;
                                <a ng-if="user.pocs.toString() !== ''"
                                   ui-sref=".editPoCAddr({poc_id: poc.id, addr_id: addr.id, loc_id: addr.location})"
                                   class="pull-right ml10">
                                    <i aria-hidden="true"
                                       class="fa fa-pencil-square-o"></i>
                                </a>
                            </li>
                            <li ng-if="user.pocs.toString() !== ''"
                                class="list-group-item">
                                <a ui-sref=".addPoCAddr({poc_id: poc.id})"
                                   class="green-txt mt5 mr15"><i aria-hidden="true"
                                       class="fa fa-plus"></i> Contact Info</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bot-brdr-sep pb10">
            <physical-address locations="locations" del-location="deleteLocation(location)"></physical-address>
        </div>

        <div class="row bot-brdr-sep pb10">
            <div class="col-sm-12">
                <label class="control-label adj">URLs</label>&nbsp;&nbsp;
                <a href="#"
                   class="green-txt"
                   ng-click="addUrl()"><i aria-hidden="true"
                       class="fa fa-plus"></i> Add URL</a>

                <div ng-repeat="url in data.urls">
                    <form editable-form
                          name="urlform"
                          onaftersave="saveOrUpdateUrl(url)"
                          class="inline-block">
                        <div class="input-group">
                            <span class="input-group-addon borderNone"><i class="fa fa-link"
                                   aria-hidden="true"></i></span>
                            <span editable-text="url.url"
                                  e-name="url"
                                  e-required
                                  e-minlength="{{config.url.min_length}}"
                                  e-maxlength="{{config.url.max_length}}"
                                  e-placeholder="https://url"
                                  ng-click="urlform.$show()">{{ url.url }}</span>
                            <div class="col-sm-12 help-block"
                                 ng-show="urlform.url.$error.maxlength">
                                URL too long, maximum length <span ng-bind="config.url.url.max_length"></span>.
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon borderNone"><i class="fa fa-file-text-o"
                                   style="width: 12px;"
                                   aria-hidden="true"></i></span>
                            <span editable-text="url.note"
                                  e-name="note"
                                  e-placeholder="Notes about the URL"
                                  e-required
                                  e-minlength="{{config.url.note.min_length}}"
                                  e-maxlength="{{config.url.note.max_length}}"
                                  ng-click="urlform.$show()">{{url.note}}</span>
                            <div class="col-sm-12 help-block"
                                 ng-show="urlform.note.$error.maxlength">
                                URL note too long, maximum length <span ng-bind="config.url.note.max_length"></span>.
                            </div>
                        </div>
                        <div>
                            <!-- Call edit on the form if it's just added, so the user doesn't have to click twice -->
                            <span ng-if="url.id === undefined"
                                  ng-init="urlform.$show()"></span>
                            <!-- button to show form -->
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="cancelCreation()"
                                    ng-show="!urlform.$visible && url.id === undefined">
                                Cancel
                            </button>
                            <!-- buttons to submit / cancel form -->
                            <span ng-show="urlform.$visible">
                                <button type="submit"
                                        class="btn btn-primary"
                                        ng-disabled="urlform.$waiting || urlform.$invalid">
                                    Save
                                </button>
                                <button type="button"
                                        class="btn btn-default"
                                        ng-if="url.id !== undefined"
                                        ng-disabled="urlform.$waiting"
                                        ng-click="urlform.$cancel()">
                                    Cancel
                                </button>
                                <button type="button"
                                        class="btn btn-default"
                                        ng-if="url.id === undefined"
                                        ng-disabled="urlform.$waiting"
                                        ng-click="cancelUrl()">
                                    Cancel
                                </button>
                            </span>
                        </div>
                    </form>
                    <hr style="margin-top: 0; margin-bottom: 0">
                </div>
            </div>
            <!-- /col-sm-12 -->
        </div>
        <!-- /row bot-brdr -->

        <div class="row bot-brdr-sep pb10">
            <div class="col-sm-12">
                <label class="control-label adj">Email Domains</label>&nbsp;&nbsp;
                <a href="#"
                   ng-click="addEmailDomain()"
                   class="green-txt mr5"><i aria-hidden="true"
                       class="fa fa-plus"></i> Add Email Domain</a>

                <div ng-repeat="domain in data.emaildomains">
                    <form editable-form
                          name="domainform"
                          onaftersave="saveOrUpdateDomain(domain)"
                          class="inline-block">
                        <div class="input-group">
                            <span class="input-group-addon borderNone"><i class="fa fa-link"
                                   aria-hidden="true"></i></span>
                            <span editable-text="domain.domain"
                                  e-name="domain"
                                  e-required
                                  e-minlength="{{config.domain.domain.min_length}}"
                                  e-maxlength="{{config.domain.domain.max_length}}"
                                  e-placeholder="domain.com"
                                  ng-click="domainform.$show()">{{ domain.domain }}</span>
                            <div class="col-sm-12 help-block"
                                 ng-show="domainform.domain.$error.maxlength">
                                Domain too long, maximum length <span ng-bind="config.domain.domain.max_length"></span>.
                            </div>
                        </div>
                        <div>
                            <!-- Call edit on the form if it's just added, so the user doesn't have to click twice -->
                            <span ng-if="domain.id === undefined"
                                  ng-init="domainform.$show()"></span>
                            <!-- button to show form -->
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="cancelCreation()"
                                    ng-show="!domainform.$visible && domain.id === undefined">
                                Cancel
                            </button>
                            <!-- buttons to submit / cancel form -->
                            <span ng-show="domainform.$visible">
                                <button type="submit"
                                        class="btn btn-primary"
                                        ng-disabled="domainform.$waiting || domainform.$invalid">
                                    Save
                                </button>
                                <button type="button"
                                        class="btn btn-default"
                                        ng-if="domain.id !== undefined"
                                        ng-disabled="domainform.$waiting"
                                        ng-click="domainform.$cancel()">
                                    Cancel
                                </button>
                                <button type="button"
                                        class="btn btn-default"
                                        ng-if="domain.id === undefined"
                                        ng-disabled="domainform.$waiting"
                                        ng-click="cancelDomain()">
                                    Cancel
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row bot-brdr-sep pb10">
            <div class="col-sm-12">
                <label class="control-label adj"
                       for="enforce_2fa"
                       uib-tooltip="Require 2FA for all users in your company">
                    Two-Factor Authentication
                </label>

                <div class="form-control-static" ng-if="!enforce2FA">
                    <div class="slider">
                        Disabled
                        <input type="checkbox"
                               class="switch"
                               id="enforce_2fa"
                               ng-change="update2FA()"
                               ng-model="customer.enforce_2fa">
                        <label for="enforce_2fa"
                               class="switch">Toggle</label>
                        Enabled
                    </div>
                </div>
                <div ng-if="enforce2FA">Two factor authentication is required. You will be prompted to set up a device when you log in after your RoE is approved.</div>
            </div>
        </div>

        <div class="form-actions pull-right">
            <span ng-show="companyForm.$visible"
                  class="pull-right ng-hide">
                <p class="ps_formNote pull-left">Items marked with a <span class="requiredItem">*</span> are required.
                </p>
                <button type="button"
                        class="btn"
                        ng-disabled="companyForm.$waiting"
                        ng-click="companyForm.$cancel()">Cancel</button>
                <button type="submit"
                        class="btn btn-primary"
                        ng-disabled="companyForm.$waiting">Save</button>
            </span>
        </div>
    </div>
    <!-- /ibox-content -->

</div>
