<i ng-if="loc.id == $ctrl.locId"
   aria-hidden="true"
   class="fa fa-check-circle-o alert-success no-bg"
   uib-tooltip="Selected">
</i>
<i ng-if="loc.primaryLocation"
   class="fa fa-star lt-orange primaryLocationStar"
   uib-tooltip="Primary Location"></i>
<span class="borderNone mr10"
      uib-tooltip="{{loc.primaryLocation ? 'Primary Location' : 'Location'}}">
  <i class="fa fa-building"></i>
</span>
<span class="large-editable"
      ng-bind="loc.name"></span>
<span class="borderNone"><i class="fa fa-map-marker"
     style="width: 12px;"
     aria-hidden="true"></i>{{loc.address}}</span>
<span class="borderNone"><i class="fa fa-globe"
     style="width: 12px;"
     aria-hidden="true"></i>{{loc.country}}</span>
<span class="borderNone"
      ng-if="loc.zipCode"><i class="fa fa-address-card mr10"
     style="width: 12px;"
     aria-hidden="true"
     uib-tooltip="Zip Code"></i>{{loc.zipCode}}</span>
<span class="borderNone"
      ng-if="loc.operatingHours"><i class="fa fa-clock-o"
     aria-hidden="true"></i> {{loc.operatingHours}}</span>
<span class="borderNone pull-right btn-group"
      uib-dropdown
      is-open="status.isopen"
      ng-if="$ctrl.modal">
  <a href="#"
     ng-class="{'disabled': !$ctrl.locNotAlreadyUsed(loc.id)}"
     ng-disabled="!$ctrl.locNotAlreadyUsed(loc.id)"
     uib-dropdown-toggle>
    <i class="fa fa-gear"
       aria-hidden="true"></i>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-mini"
      uib-dropdown-menu
      role="menu">
    <li role="menuitem">
      <a class="fa fa-refresh"
         ng-class="{'disabled': !$ctrl.locNotAlreadyUsed(loc.id)}"
         ng-disabled="!$ctrl.locNotAlreadyUsed(loc.id)"
         aria-hidden="true"
         uib-tooltip="{{$ctrl.locNotAlreadyUsed(loc.id) ? 'Replace address' : 'Address already being used'}}"
         ng-click="$ctrl.setAddress(loc)">
      </a>
    </li>
    <li role="menuitem">
      <a class="fa fa-plus"
         ng-class="{'disabled': !$ctrl.locNotAlreadyUsed(loc.id)}"
         ng-disabled="!$ctrl.locNotAlreadyUsed(loc.id)"
         aria-hidden="true"
         uib-tooltip="{{$ctrl.locNotAlreadyUsed(loc.id) ? 'Add additional address' : 'Address already being used'}}"
         ng-click="$ctrl.addAddress(loc)"></a>
    </li>
  </ul>
</span>