<!-- services modal fpo -->

<div class="inmodal"
     cg-busy="submission">
  <div class="modal-header">
    <button type="button"
            class="close"
            ng-click="cancel()"
            aria-hidden="true">&times;</button>
    <h3 class="modal-title">{{::catotheme.appName}} Services</h3>
  </div>
  <!-- /modal-header -->

  <form action="#"
        id="cato-svcs-form"
        class="form-horizontal"
        method="post">
    <div class="modal-body">
      <div class="form-group">
        <label>Check service(s) to which you would like to subscribe. A {{::catotheme.appName}} representative will contact you
          to...</label>
        <table width="100%"
               class="svcs-listing">
          <tbody>
            <tr>
              <td>
                <div class="checkbox">
                  <label class="subscribed">
                    <input type="checkbox"
                           value="Yes"
                           id="cato_PCI"
                           name="cato_niss"
                           checked
                           disabled>
                    Network IP Space Scanning</label>
                </div>
                <div class="checkbox">
                  <label class="subscribed">
                    <input type="checkbox"
                           value="Yes"
                           id="cato_hepv"
                           name="cato_hepv"
                           checked
                           disabled>
                    Host Enumeration and Patch Verification </label>
                </div>
                <div class="checkbox">
                  <label class="subscribed">
                    <input type="checkbox"
                           value="Yes"
                           id="cato_dep"
                           name="cato_dep"
                           checked
                           disabled>
                    DNS Enumeration and Probing </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           value="Yes"
                           id="cato_was"
                           name="cato_was">
                    Web App Stacking </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           value="Yes"
                           id="cato_ici"
                           name="cato_ici">
                    Insecure Configuration Identification </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           value="Yes"
                           id="cato_rse"
                           name="cato_rse">
                    Remote Social Engineering </label>
                </div>
                <div class="checkbox">
                  <label class="subscribed">
                    <input type="checkbox"
                           value="Yes"
                           id="cato_ph"
                           name="cato_ph"
                           checked
                           disabled>
                    Phishing </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           value="Yes"
                           id="cato_smi"
                           name="cato_smi">
                    Social Media Interaction </label>
                </div>

              </td>
              <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           value="Yes"
                           id="cato_spi"
                           name="cato_spi">
                    Sensitive Public Information </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           value="Yes"
                           id="cato_wa"
                           name="cato_wa">
                    Wireless Audit </label>
                </div>
                <div class="checkbox">
                  <label class="subscribed">
                    <input type="checkbox"
                           value="Yes"
                           id="cato_waa"
                           name="cato_waa"
                           checked
                           disabled>
                    Web Application Audit (Initial and Differential) </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"
                           value="Yes"
                           id="cato_lid"
                           name="cato_lid">
                    Lorem Ipsum Dolor</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <!-- /modal-body -->

    <div class="modal-footer">
      <div class="form-actions pull-right">
        <p class="ps_formNote pull-left">Disabled items indicate subscribed service.</p>
        <button type="reset"
                class="btn"
                ng-click="cancel()">Cancel</button>
        <button type="submit"
                class="btn btn-primary formSubmit"
                ng-click="ok()">Submit</button>
      </div>
    </div>
    <!-- /modal-footer -->
  </form>
</div>