<div class="panel-body"
     style="border: 0 !important;">
    <div class="ibox-content">
        <div class="row pb10">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <a href="#"
                       ng-click="addNotification();"
                       class="pull-right">
                        <i class="fa fa-plus"
                           aria-hidden="true"></i> Add a notification</a>
                </div>

                <form ng-show="showNewForm"
                      name="newNotificationForm"
                      ng-submit="saveNewNotification()">
                    <div class="row">
                        <!-- Notification Type (email, etc.) -->
                        <div class="col-xs-12 col-sm-6 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon borderNone"><b>Notification Type:</b></span>
                                <select class="form-control"
                                        name="notification_type"
                                        id="notification_type"
                                        ng-model="newNotification.notification_type"
                                        ng-change="typeChanged()"
                                        required
                                        ng-options="type.value as type.display_name for type in config.notifications.notification_type.choices | noDupesForNotificationType:newNotification.event_type:gdata.notifications | orderBy: 'display_name'">
                                </select>
                            </div>
                        </div>
                        <!-- Event Type (X created, etc.) -->
                        <div class="col-xs-12 col-sm-6 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon borderNone"><b>Event Type:</b></span>
                                <select class="form-control"
                                        name="event_type"
                                        id="event_type"
                                        ng-model="newNotification.event_type"
                                        required
                                        ng-options="event_type.value as event_type.display_name for event_type in config.notifications.event_type.choices |noDupesForEventType:newNotification.notification_type:gdata.notifications">
                                </select>
                            </div>
                        </div>

                        <!-- trigger (JSON field) -->
                        <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-lg-offset-0 col-lg-4"
                             ng-show="newNotification.event_type === 'New Finding'">
                            <div class="input-group">
                                <span class="input-group-addon borderNone top-label"><b>Severity levels to trigger
                                        on:</b></span>
                                <select class="form-control"
                                        name="triggers"
                                        id="triggers"
                                        multiple
                                        ng-model="newNotification.triggers"
                                        ng-required="newNotification.event_type === 'New Finding'"
                                        ng-options="severity.value as severity.label for severity in finding_severities">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row"
                         style="padding-top: 10px;">
                        <div class="col-xs-12">
                            <!-- buttons to submit / cancel form -->
                            <div class="pull-right">
                                <button type="submit"
                                        class="btn btn-primary"
                                        ng-disabled="newNotification.$waiting || newNotificationForm.$invalid">
                                    Save
                                </button>
                                <button type="button"
                                        class="btn btn-default"
                                        ng-disabled="newNotification.$waiting"
                                        ng-click="cancelCreation()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div ng-if="!gdata.notifications.length && !showNewForm">
            No notifications set.
        </div>
        <div class="table-responsive"
             ng-if="!isEmpty(gdata.notifications)">
            <table class="table table-striped"
                   id="notifications-table">
                <tbody>
                    <tr>
                        <th>NOTIFICATION TYPE</th>
                        <th>EVENT TYPE</th>
                        <th>CRITERIA</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="n in gdata.notifications">
                        <td>
                            <span editable-select="n.notification_type"
                                  e-required
                                  e-form="rowform"
                                  e-ng-options="type.value as type.display_name for type in config.notifications.notification_type.choices">
                                {{n.notification_type}}
                            </span>
                        </td>
                        <td>
                            <span editable-select="n.event_type"
                                  e-required
                                  e-ng-change="getTriggersForEventType($data, n)"
                                  e-form="rowform"
                                  e-ng-options="event_type.value as event_type.display_name for event_type in config.notifications.event_type.choices">
                                {{n.event_type}}
                            </span>
                        </td>
                        <td>
                            <span e-ng-show="triggers.length > 0"
                                  editable-select="n.triggers"
                                  e-multiple
                                  e-form="rowform"
                                  edit-disabled="{{notificationsForm.event_type !== 'New Finding'}}"
                                  e-ng-options="trigger.value as trigger.label for trigger in triggers">
                            </span>
                            <span ng-show="!rowform.$visible"
                                  ng-bind="showTriggers(n)"></span>
                        </td>


                        <td class="txt-right nobreak">
                            <!-- Can be uncommented once API supports updates to notifications
                            <form editable-form
                                  onbeforesave="updateNotification($data, n.id)"
                                  name="rowform"
                                  ng-show="rowform.$visible"
                                  class="form-buttons form-inline">
                                <button type="submit"
                                        ng-disabled="rowform.$waiting"
                                        class="btn btn-sm btn-primary">
                                    <i aria-hidden="true" class="fa fa-floppy-o"></i>
                                </button>

                                <button class="btn btn-white ml5"
                                        uib-tooltip="Cancel"
                                        type="button"
                                        ng-disabled="rowform.$waiting"
                                        ng-click="rowform.$cancel();resetNotification(n)" >
                                    <i aria-hidden="true" class="fa fa-ban"></i>
                                </button>
                            </form>
                            -->
                            <div class="buttons"
                                 ng-show="!rowform.$visible"
                                 selection-model-ignore>
                                <!-- Can be commented out once API supports updates to notifications
                                <button class="btn btn-white"
                                        ng-click="rowform.$show();saveOriginalNotification(n)"
                                        uib-tooltip="Edit notification">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                -->
                                <button class="btn btn-white ml5"
                                        uib-tooltip="Delete notification"
                                        ng-click="deleteNotification(n.id)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>