<div class="col-sm-12"
     cg-busy="{promise: $ctrl.locationsLoading, message: 'Loading Locations'}">
  <label class="control-label adj" ng-class="{required:$ctrl.required}">Location(s)</label>
  <span ng-if="!$ctrl.addrId && !$ctrl.modal">
    <a ng-click="$ctrl.addLocation();"
       class="green-txt ml5"><i class="fa fa-plus"
         aria-hidden="true"></i> Add Office</a>
  </span>

  <table class="table table-striped table-hover">
    <tbody>
      <tr ng-repeat="loc in $ctrl.locations | orderBy:['-primaryLocation','name'] | filter:$ctrl.filterLocation"
          class="row"
          style="min-height: 34px; padding: 10px;">
        <td>
          <form editable-form
                name="locationform"
                onaftersave="$ctrl.saveLocation(loc)">
            <div>
              <div class="col-lg-12 force-wrap"
                   ng-if="!locationform.$visible"
                   ng-click="$ctrl.modal ? return : locationform.$show()">
                <div ng-include="'/app/settings/locationInfo.html'"></div>
              </div>
            </div>


            <div ng-if="locationform.$visible">
              <div ng-class="$ctrl.modalClass">
                <div class="form-group mt2">
                  <div class="input-group">
                    <div class="input-group addon">
                      <span class="input-group-addon no-bg borderNone">
                        <i ng-if="loc.primaryLocation"
                           class="fa fa-star lt-orange"
                           aria-hidden="true"
                           uib-tooltip="Primary Location">
                        </i>
                        <i class="fa fa-building"
                           aria-hidden="true"
                           uib-tooltip="{{loc.primaryLocation ? 'Primary Location' : 'Location'}}">
                        </i>
                      </span>
                      <span editable-text="loc.name"
                            e-name="name"
                            e-placeholder="Location Name"
                            e-required
                            e-maxlength="{{config.location.name.max_length}}"
                            e-minlength="{{config.location.name.min_length}}">
                        <div class="col-sm-12 help-block"
                             ng-show="locationform.name.$error.maxlength">
                          Location name too long, maximum length <span
                                ng-bind="config.location.name.max_length"></span>.
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-class="$ctrl.modalClass">
                <div class="form-group mt2">
                  <div class="input-group">
                    <div class="input-group addon">
                      <span class="input-group-addon no-bg borderNone">
                        <i class="fa fa-map-marker"
                           style="width: 12px;"
                           aria-hidden="true"
                           uib-tooltip="Address"></i>
                      </span>
                      <span editable-text="loc.address"
                            e-name="address"
                            e-placeholder="Address"
                            e-required
                            e-maxlength="{{config.location.address.max_length}}"
                            e-minlength="{{config.location.address.min_length}}">
                        <div class="col-sm-12 help-block"
                             ng-show="locationform.address.$error.maxlength">
                          Address too long, maximum length <span ng-bind="config.location.address.max_length"></span>.
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div ng-class="$ctrl.modalClass">
                <div class="form-group mt2">
                  <div class="input-group">
                    <div class="input-group addon">
                      <span class="input-group-addon no-bg borderNone">
                        <i class="fa fa-globe"
                           style="width: 12px;"
                           aria-hidden="true"
                           uib-tooltip="Country"></i>
                      </span>
                      <span editable-select="loc.country"
                            e-required
                            e-ng-options="location as location for location in $ctrl.countries"
                            e-ng-change="$ctrl.onCountrySelect($data, loc)">
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div ng-class="$ctrl.modalClass" ng-if="$ctrl.zipCodeFormVisible === undefined ? loc.country === 'United States' : $ctrl.zipCodeFormVisible">
                <div class="form-group mt2">
                  <div class="input-group">
                    <div class="input-group addon">
                      <span class="input-group-addon no-bg borderNone">
                        <i class="fa fa-address-card"
                           style="width: 12px;"
                           aria-hidden="true"
                           uib-tooltip="Zip Code"></i>
                      </span>
                      <span editable-text="loc.zipCode"
                            e-name="zipCode"
                            e-placeholder="Zip Code"
                            e-ng-required="$ctrl.zipCodeFormVisible"
                            e-maxlength="10"
                            e-minlength="5">
                        <div class="col-sm-12 help-block"
                             ng-show="locationform.zipCode.$error.maxlength">
                          Location zip code too long, maximum length <span
                                ng-bind="config.location.zipCode.max_length"></span>.
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div ng-class="$ctrl.modalClass">
                <div class="form-group {{$ctrl.modal ? 'mt10' : 'mt2'}}">
                  <div class="input-group">
                    <div class="input-group addon">
                      <span class="input-group-addon no-bg borderNone">
                        <i class="fa lt-orange"
                           ng-class="loc.primaryLocation ? 'fa-star' : 'fa-star-o'"
                           style="width: 12px;"
                           aria-hidden="true"
                           uib-tooltip="Primary Location"></i>
                      </span>
                      <div class="settings-item pull-left"
                           uib-tooltip="Primary location">
                        <div class="slider">
                          <input type="checkbox"
                                 class="switch"
                                 id="primary_loc"
                                 ng-checked="loc.primaryLocation"
                                 ng-disabled="otherLocationIsPrimary()"
                                 ng-click="$ctrl.setPrimaryLocation(loc.id)">
                          <label for="primary_loc"
                                 class="switch">Toggle</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div ng-class="$ctrl.modalClass">
                <div class="form-group mt2">
                  <div class="input-group">
                    <div class="input-group addon">
                      <span class="input-group-addon no-bg borderNone">
                        <i class="fa fa-clock-o"
                           style="width: 12px;"
                           aria-hidden="true"
                           uib-tooltip="Operating Hours"></i>
                      </span>
                      <span editable-text="loc.operatingHours"
                            e-name="operating hours"
                            e-placeholder="Operating Hours">
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div>
              <div class="{{$ctrl.modal ? 'pull-right' : 'pull-left'}}">
                <!-- Call edit on the form if it's just added, so the user doesn't have to click twice -->
                <span ng-if="loc.id === undefined"
                      ng-init="locationform.$show()"></span>
                <!-- button to show form -->
                <button type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancelCreation()"
                        ng-show="!locationform.$visible && loc.id === undefined && !$ctrl.modal">
                  Cancel
                </button>
                <!-- buttons to submit / cancel form -->
                <span ng-show="locationform.$visible">
                  <button type="button"
                          class="btn btn-danger"
                          ng-disabled="locationform.$waiting"
                          ng-click="$ctrl.deleteLocation(loc)"
                          ng-if="loc.id !== undefined && !$ctrl.modal">
                    Delete
                  </button>
                  <button type="submit"
                          class="btn btn-primary"
                          ng-disabled="locationform.$waiting || locationform.$invalid">
                    Save
                  </button>
                  <button type="button"
                          class="btn btn-default"
                          ng-if="loc.id === undefined && !$ctrl.modal"
                          ng-disabled="locationform.$waiting"
                          ng-click="$ctrl.cancelCreation()">
                    Cancel
                  </button>
                  <button type="button"
                          class="btn btn-default"
                          ng-if="loc.id !== undefined"
                          ng-disabled="locationform.$waiting"
                          ng-click="locationform.$cancel()">
                    Cancel
                  </button>
                </span>
              </div>
            </div>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
