<!--<div id="help_now">
  <div id="help_now_inner">
    <p id="phoneUs">Call {{CONFIG.helpNowNumber}}</p>
    <p id="clickHelp">or <a ui-sref="cato.loggedIn.incident_reporting">click here</a> for more help.</p>
    <span><p><i class="fa fa-question-circle" aria-hidden="true"></i> Need Help Now?</p></span>
  </div>
</div>-->

<div class="row">
  <div class="col-sm-12 section-hdr drk-gray-bg">
    <div class="section-title">PROFILE</div>
  </div>
</div>
<!-- /row -->

<div class="row">
  <div class="col-sm-12">
    <div class="tabs-container mtb30">
      <uib-tabset active="activeTab" class="profile-tabs">
        <uib-tab ng-repeat="tab in tabs track by $index"
                 select="go(tab)"
                 index="tab.stateName"
                 ng-if="tab.show(tab)">
          <uib-tab-heading>
            <i ng-class="['fa', tab.icon]"
               uib-tooltip="{{tab.heading}}"
               aria-hidden="true"></i>
            <span class="{{tab.className}}"
                  ng-bind="tab.heading"></span>
          </uib-tab-heading>
          <div class="panel-body">
            <div ui-view="{{tab.viewName}}"></div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>