<div class="panel-body">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-3 well text-center m-r-sm">
                <div class="center-block">
                    <div class="vpadding0 vmargin0">
                        <h3 class="vpadding0 vmargin0">Your Current Rules Of Engagement:</h3>
                    </div>
                    <div class="vpadding0 vmargin0">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <view-roe header="true"
                                  customer-id="customer.id"
                                  roe-id="gdata.customerMap[customer.id].current_rules_of_engagement"
                                  color="'inherit'"></view-roe>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 well text-center m-r-sm">
                <div class="center-block">
                    <div class="vpadding0 vmargin0">
                        <h3 class="vpadding0 vmargin0">Manage NDA Document(s):</h3>
                    </div>
                    <div class="vpadding0 vmargin0">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        <div class="inline-block" id="downloadNda">
                            <span class="form-control form-control-static">
                                <a href="" ng-click="manageNda(customer.id)">
                                    <h3>Manage</h3>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="vpadding0 col-md-8 inline-block">
                <h4>
                    <i class="fa fa-calendar"></i>
                    Subscriptions and expiration dates:
                </h4>
                <div id="subscriptions"
                     style="overflow-y: auto; text-indent:18px"">
                    <div ng-repeat="
                     date
                     in
                     subscriptionExpirations">{{date}}
                </div>
            </div>
        </div>
        <div class="vpadding0 col-md-3 inline-block">
            <h4>
                <i class="fa fa-bullseye"
                   aria-hidden="true"></i>
                Targets:
            </h4>
            <p style="text-indent:18px">
                There {{numTargets === 1 ? 'is' : 'are'}} {{numTargets}} target{{numTargets === 1 ? '' : 's'}}
                associated.
            </p>
            <h4>
                <i class="fa fa-gears"
                   aria-hidden="true"></i>
                Services:
            </h4>
            <p style="text-indent:18px">
                There {{numServices === 1 ? 'is' : 'are'}} {{numServices}} service{{numServices === 1 ? '' : 's'}}
                associated.
            </p>
            <h4>
                <i class="fa fa-ban"
                   aria-hidden="true"></i>
                Restrictions:
            </h4>
            <p style="text-indent:18px">
                There {{numRestrictions === 1 ? 'is' : 'are'}} {{numRestrictions}}
                restriction{{numRestrictions === 1 ? '' : 's'}}
                associated.
            </p>
        </div>
    </div>

    <hr>
    <div class="row">
        <p ng-if="acceptedDate"
           style="margin-top: 2em">
            <i class="fa fa-check"
               aria-hidden="true"></i>
            The Rules of Engagement were accepted by {{getAcceptedBy()}} on {{acceptedDate | amUtc |
            amLocal | amDateFormat:'lll'}}
        </p>
    </div>
</div>
</div>