<div class="panel-body"
     style="border: 0 !important;">
    <div class="ibox-content">

        <h4>{{::catotheme.appName}}'s service offerings are listed below.</h4>
        <p>Subscribed services are denoted with a green check mark.</p>
        <p>Please contact your billing representative if you'd like to add additional services or extend a subscription.
        </p>
        <br />
        <div class="form-group col-sm-11">

            <ul class="list-group"
                ng-repeat="services in tieredServices">
                <li class="list-group-item"
                    ng-repeat="service in services track by $index"
                    ng-class="service.short_name.toLowerCase()">
                    <div class="settings-item">
                        <i class="fa fa-clock-o"
                           aria-hidden="true"
                           ng-show="isChecked[service.id]"
                           uib-tooltip="Expires: {{subscriptionExpirationDatesOnly[service.id] | date:'MM/dd/yyyy'}}"></i>
                        <span ng-bind="service.name"></span>
                        <i class="fa fa-2x green-chk fa-check-circle-o pull-right"
                           aria-hidden="true"
                           ng-if="isChecked[service.id]"></i>
                    </div>
                    <div class="service-description-container">
                        <a ng-click="toggleService(service)">Click to show/hide Description</a>
                        <p class="service-description-text"
                           ng-bind="service.service_description"
                           ng-if="service.visible"></p>
                        <p ng-if="service.visible">Example operations:</p>
                        <p class="service-description-text"
                           ng-bind="service.service_example_ops"
                           ng-if="service.visible"></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>