<table class="table noborder">
    <tr>
        <td class="col-sm-9">
            <h3>TWO-FACTOR AUTHENTICATION DEVICES</h3>
        </td>
        <td class="col-sm-3">
            <a ng-click="addDevice()"
               class="green-txt pull-right mt5 mr15"><i aria-hidden="true"
                   class="fa fa-plus"></i> Add a Device</a>
        </td>
    </tr>
</table>

<div ng-if="gdata.isMissionDirector"
     class="row mb10">
    <div class="col-sm-6">
        <input type="text"
               ng-model="data.user"
               placeholder="Name, Username or Email"
               typeahead-show-on-focus
               uib-typeahead="user as user.userInfo for user in gdata.users | filter:$viewValue"
               class="form-control"
               typeahead-show-hint="true"
               typeahead-min-length="0"
               typeahead-focus-on-select="false"
               typeahead-on-select="loadUserDevices()"
               typeahead-editable="false" />
    </div>
</div>

<div cg-busy="{promise: twofactor.$promise, message: 'Loading Devices'}"
     class="row">
    <div ng-show="twofactor.devices.length === 0"
         class="col-sm-12">
        <h4>You are not using two-factor authentication at this time. Please add a device to enable it and increase
            security for your account.</h4>
    </div>
    <div class="table-responsive col-sm-12"
         ng-show="twofactor.devices.length">
        <table class="table table-striped"
               id="2fa-devices-table">
            <tr>
                <th>NAME</th>
                <th>TYPE</th>
                <th class="center">CONFIRMED</th>
                <th></th>
            </tr>
            <tr ng-repeat="device in twofactor.devices">
                <td ng-bind="device.name"></td>
                <td ng-bind="device.type"></td>
                <td class="center">
                    <i ng-if="device.confirmed"
                       class="fa fa-check green-txt"></i>
                    <i ng-if="!device.confirmed"
                       class="fa fa-times-circle red-txt"></i>
                </td>
                <td class="txt-right nobreak">
                    <div class="buttons">
                        <button class="btn btn-white"
                                uib-tooltip="Delete"
                                ng-click="deleteDevice(device)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>

        </table>
    </div>
    <p style="padding-bottom: 20ex"></p>
    <hr size="2"
        noshade>
    <div ng-include="'/app/common/twofactor/mobileAppLinks.html'"></div>
</div>